<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="org.jahia.services.rbac.RoleBasedAccessControlService" class="org.jahia.services.rbac.jcr.RoleBasedAccessControlServiceImpl">
    	<property name="roleManager" ref="org.jahia.services.rbac.jcr.RoleManager"/>
    	<property name="groupManager" ref="JahiaGroupManagerService"/>
    </bean>

    <bean id="org.jahia.services.rbac.jcr.RoleManager" class="org.jahia.services.rbac.jcr.RoleManager">
    	<property name="JCRUserManagerProvider" ref="JCRUserManagerProvider"/>
    	<property name="JCRGroupManagerProvider" ref="JCRGroupManagerProvider"/>
    	<property name="sitesService" ref="JahiaSitesService"/>
    </bean>

	<bean id="org.jahia.services.rbac.jcr.SystemRoleManager" class="org.jahia.services.rbac.jcr.SystemRoleManager" parent="org.jahia.services.rbac.jcr.RoleManager"/>
</beans>