<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="JahiaUserManagerService" class="org.jahia.services.usermanager.JahiaUserManagerRoutingService" parent="jahiaServiceTemplate" factory-method="getInstance">
    	<property name="defaultProvider" ref="JCRUserManagerProvider"/>
        <property name="userSplittingRule">
            <bean class="org.jahia.services.usermanager.DefaultJahiaUserSplittingRuleImpl">
                <property name="usersRootNode" value="/users"/>
                <property name="nonSplittedUsers">
                    <list value-type="java.lang.String">
                        <!-- System users are not splitted -->
                        <value>guest</value>
                        <value>root</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

	<bean id="JahiaUserManagerProvider" class="org.jahia.services.usermanager.JahiaUserManagerProvider" parent="jahiaServiceTemplate" abstract="true">
		<property name="userManagerService" ref="JahiaUserManagerService"/>
	</bean>
	
    <bean id="JCRUserManagerProvider" class="org.jahia.services.usermanager.jcr.JCRUserManagerProvider" parent="jahiaServiceTemplate" factory-method="getInstance">
        <property name="key" value="jcr"/>
        <property name="jcrTemplate" ref="jcrTemplate"/>
        <property name="cacheService" ref="JahiaCacheService"/>
        <property name="defaultProvider" value="true"/>
        <property name="readOnly" value="false"/>
        <property name="priority" value="1"/>
    </bean>
    
</beans>
