<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="org.jahia.services.rbac.RoleBasedAccessControlService" class="org.jahia.services.rbac.impl.RoleBasedAccessControlServiceImpl">
    	<property name="roleManager" ref="RoleManager"/>
    </bean>

    <bean id="RoleManager" class="org.jahia.services.rbac.impl.RoleManager" factory-method="getInstance"/>

</beans>