<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- file manager -->
    <bean id="filemanager" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="nt:file,nt:folder,jnt:mountPoint"/>
        <property name="folderTypes" value="nt:folder,jnt:mountPoint"/>
        <property name="toolbarSet" ref="document-manager"/>
        <property name="enableTextMenu" value="true"/>
        <property name="displayProvider" value="true"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>
        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.website"/>
                <ref bean="repository.shared"/>
                <ref bean="repository.myexternal"/>
                <ref bean="repository.my"/>
                <ref bean="repository.users"/>
            </list>
        </property>
        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.info"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
                <ref bean="tab.versioning"/>
            </list>
        </property>
        <!-- table columns-->
        <property name="tableColumns">
            <list>
                <ref bean="column.providerKey"/>
                <ref bean="column.ext"/>
                <ref bean="column.name"/>
                <ref bean="column.locked"/>
                <ref bean="column.path"/>
                <ref bean="column.size"/>
                <ref bean="column.lastModified"/>
            </list>
        </property>
    </bean>

    <!-- mashup manager -->
    <bean id="mashupmanager" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:portlet"/>
        <property name="folderTypes" value="jnt:portletList"/>
        <property name="toolbarSet" ref="mashup-manager"/>
        <property name="enableTextMenu" value="true"/>
        <property name="enableFileDoubleClick" value="false"/>
        <property name="displayExt" value="false"/>
        <property name="displaySize" value="false"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>
        <property name="defaultView" value="3"/>

        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.websitemahsup"/>
                <ref bean="repository.shared"/>
                <ref bean="repository.mymashup"/>
            </list>
        </property>
        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.info"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
            </list>
        </property>
        <!-- table columns-->
        <property name="tableColumns">
            <list>
                <ref bean="column.name"/>
                <ref bean="column.locked"/>
                <ref bean="column.path"/>
                <ref bean="column.lastModified"/>
            </list>
        </property>
    </bean>

    <!-- category manager -->
    <bean id="categorymanager" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:category"/>
        <property name="folderTypes" value="jnt:category"/>
        <property name="toolbarSet" ref="category-manager"/>
        <property name="enableTextMenu" value="true"/>
        <property name="enableFileDoubleClick" value="false"/>
        <property name="displayExt" value="false"/>
        <property name="displaySize" value="false"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>
        <property name="defaultView" value="1"/>

        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.category"/>
            </list>
        </property>
        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.info"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
            </list>
        </property>
        <!-- table columns-->
        <property name="tableColumns">
            <list>
                <ref bean="column.ext"/>
                <ref bean="column.name"/>
                <ref bean="column.locked"/>
                <ref bean="column.path"/>
            </list>
        </property>
    </bean>

    <!-- tag manager -->
    <bean id="tagmanager" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:tag"/>
        <property name="folderTypes" value="jnt:tag"/>
        <property name="toolbarSet" ref="tag-manager"/>
        <property name="hideLeftPanel" value="true"/>
        <property name="enableTextMenu" value="true"/>
        <property name="displayExt" value="false"/>
        <property name="displaySize" value="false"/>
        <property name="displayDate" value="false"/>
        <property name="displaySearch" value="false"/>
        <property name="expandRoot" value="true"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="false"/>
        <property name="defaultView" value="1"/>

        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.tag"/>
            </list>
        </property>
        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
            </list>
        </property>
        <!-- table columns-->
        <property name="tableColumns">
            <list>
                <ref bean="column.ext"/>
                <ref bean="column.name"/>
                <ref bean="column.count"/>
                <ref bean="column.locked"/>
                <ref bean="column.path"/>
            </list>
        </property>

    </bean>

        <!-- remote publication manager -->
    <bean id="remotepublicationmanager" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:remotePublication"/>
        <property name="folderTypes" value="jnt:remotePublications"/>
        <property name="toolbarSet" ref="remotepublication-manager"/>
        <property name="hideLeftPanel" value="true"/>
        <property name="enableTextMenu" value="true"/>
        <property name="displayExt" value="false"/>
        <property name="displaySize" value="false"/>
        <property name="displayDate" value="false"/>
        <property name="displaySearch" value="false"/>
        <property name="expandRoot" value="true"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="false"/>
        <property name="defaultView" value="1"/>

        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.remotePublication"/>
            </list>
        </property>
        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
            </list>
        </property>
        <!-- table columns-->
        <property name="tableColumns">
            <list>
                <ref bean="column.name"/>
            </list>
        </property>

    </bean>


    <!-- portlet definition manager -->
    <bean id="portletdefinitionmanager" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">

        <property name="nodeTypes" value="jnt:portletDefinitions"/>
        <property name="folderTypes" value="nt:folder"/>
        <property name="toolbarSet" ref="portlet-definition-manager"/>
        <property name="hideLeftPanel" value="true"/>
        <property name="enableTextMenu" value="false"/>
        <property name="enableFileDoubleClick" value="false"/>
        <property name="displayExt" value="false"/>
        <property name="displaySize" value="false"/>
        <property name="displayDate" value="false"/>
        <property name="expandRoot" value="true"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>
        <property name="defaultView" value="1"/>

        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.portletdefinition"/>
            </list>
        </property>
        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.portlets"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
            </list>
        </property>
        <!-- table columns-->
        <property name="tableColumns">
            <list>
                <ref bean="column.name"/>
            </list>
        </property>

    </bean>

    <!-- filepicker -->
    <bean id="filepicker" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="nt:file,nt:folder,jnt:mountPoint"/>
        <property name="folderTypes" value="nt:folder,jnt:mountPoint"/>
        <property name="enableTextMenu" value="false"/>
        <property name="toolbarSet" ref="file-picker"/>
        <property name="hideLeftPanel" value="true"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>

        <property name="tabs">
            <list>
                <ref bean="tab.info"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
                <ref bean="tab.versioning"/>
            </list>
        </property>
        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.website"/>
                <ref bean="repository.shared"/>
                <ref bean="repository.myexternal"/>
                <ref bean="repository.users"/>
            </list>
        </property>

    </bean>

    <!-- content picker -->
    <bean id="contentpicker" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value=""/>
        <property name="folderTypes" value=""/>
        <property name="enableTextMenu" value="false"/>
        <property name="toolbarSet" ref="content-picker"/>
        <property name="hideLeftPanel" value="true"/>

        <property name="displaySearchInPage" value="true"/>
        <property name="displaySearchInContent" value="true"/>
        <property name="displaySearchInTag" value="true"/>

        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.info"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
                <ref bean="tab.versioning"/>
            </list>
        </property>

        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.global"/>
                <ref bean="repository.website"/>
                <ref bean="repository.shared"/>
                <ref bean="repository.myexternal"/>
                <ref bean="repository.my"/>
            </list>
        </property>

    </bean>

    <!-- file manager -->
    <bean id="linkpicker" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:page"/>
        <property name="folderTypes" value="nt:folder"/>
        <property name="toolbarSet" ref="file-picker"/>
        <property name="enableTextMenu" value="false"/>
        <property name="hideLeftPanel" value="true"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>
        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.website"/>
            </list>
        </property>

        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.info"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
                <ref bean="tab.versioning"/>
            </list>
        </property>


    </bean>

    <!-- file manager -->
    <bean id="mashuppicker" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:portlet"/>
        <property name="folderTypes" value="jnt:portletList"/>
        <property name="toolbarSet" ref="mashup-picker"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>
        <property name="enableTextMenu" value="false"/>
        <property name="enableFileDoubleClick" value="false"/>
        <property name="displayExt" value="false"/>
        <property name="displaySize" value="false"/>
        <property name="hideLeftPanel" value="true"/>

        <property name="tableColumns">
            <list>
                <ref bean="column.name"/>
                <ref bean="column.picker"/>
            </list>
        </property>

        <property name="defaultView" value="3"/>

        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.websitemahsup"/>
                <ref bean="repository.sharedmashup"/>
                <ref bean="repository.mymashup"/>
            </list>
        </property>

        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.info"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
            </list>
        </property>

    </bean>

    <!-- categorypicker -->
    <bean id="categorypicker" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:category"/>
        <property name="folderTypes" value="jnt:category"/>
        <property name="enableTextMenu" value="false"/>
        <property name="enableFileDoubleClick" value="false"/>
        <property name="displayExt" value="false"/>
        <property name="displaySize" value="false"/>
        <property name="toolbarSet" ref="category-picker"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>
        <property name="hideLeftPanel" value="true"/>
        <property name="defaultView" value="3"/>

        <!-- columns -->
        <property name="tableColumns">
            <list>
                <ref bean="column.name"/>
                <ref bean="column.picker"/>
            </list>
        </property>

        <!-- accordion -->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.category"/>
            </list>
        </property>

        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.info"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
            </list>
        </property>


    </bean>

    <!-- file manager -->
    <bean id="complete" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value=""/>
        <property name="folderTypes" value=""/>
        <property name="enableTextMenu" value="true"/>
        <property name="toolbarSet" ref="content-manager"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="true"/>
        <property name="displaySearchInFile" value="true"/>
        <property name="displaySearchInTag" value="true"/>
        <!-- accordion -->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.global"/>
            </list>
        </property>

        <!-- table columns-->
        <property name="tableColumns">
            <list>
                <ref bean="column.providerKey"/>
                <ref bean="column.ext"/>
                <ref bean="column.name"/>
                <ref bean="column.locked"/>
                <ref bean="column.path"/>
                <ref bean="column.size"/>
                <ref bean="column.publicationInfo"/>
                <ref bean="column.created"/>
                <ref bean="column.createdBy"/>
                <ref bean="column.lastModified"/>
                <ref bean="column.lastModifiedBy"/>
                <ref bean="column.lastPublished"/>
                <ref bean="column.lastPublishedBy"/>
            </list>
        </property>
        
       <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.roles"/>
                <ref bean="tab.modes"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
                <ref bean="tab.versioning"/>
            </list>
        </property>


    </bean>

    <!-- sitemanager manager -->
    <bean id="sitemanager" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:page"/>
        <property name="folderTypes" value="jnt:page"/> 
        <property name="enableTextMenu" value="true"/>
        <property name="displaySize" value="false"/>
        <property name="displayDate" value="false"/>
        <property name="allowCollections" value="true"/>
        <property name="toolbarSet" ref="site-manager"/>
        <property name="displaySearchInPage" value="true"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>
        <property name="defaultView" value="1"/>


        <!-- accordion -->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.site"/>
            </list>
        </property>

         <!-- columns -->
        <property name="tableColumns">
            <list>
                <ref bean="column.ext"/>
                <ref bean="column.name"/>
                <ref bean="column.locked"/>
                <ref bean="column.lastModified"/>
                <ref bean="column.lastModifiedBy"/>
                <ref bean="column.publicationInfo"/>
            </list>
        </property>

        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.info"/>
                <ref bean="tab.authorizations"/>
                <ref bean="tab.usage"/>
                <ref bean="tab.versioning"/>
            </list>
        </property>
    </bean>

    <!-- file manager -->
    <bean id="rolesmanager" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:role"/>
        <property name="folderTypes" value="jnt:role"/>
        <property name="toolbarSet" ref="role-manager"/>

        <property name="hideLeftPanel" value="true"/>
        <property name="enableTextMenu" value="true"/>
        <property name="displayExt" value="false"/>
        <property name="displaySize" value="false"/>
        <property name="displayDate" value="false"/>
        <property name="displaySearch" value="false"/>
        <property name="expandRoot" value="true"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="false"/>
        <property name="defaultView" value="1"/>

        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.role"/>
            </list>
        </property>
        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.principalRolesMapping"/>
            </list>
        </property>
        <!-- table columns-->
        <property name="tableColumns">
            <list>
                <ref bean="column.name"/>
            </list>
        </property>
    </bean>


    <!-- file manager -->
    <bean id="siterolesmanager" class="org.jahia.services.uicomponents.bean.contentmanager.ManagerConfiguration">
        <property name="nodeTypes" value="jnt:role"/>
        <property name="folderTypes" value="jnt:role"/>
        <property name="toolbarSet" ref="role-manager"/>

        <property name="hideLeftPanel" value="true"/>
        <property name="enableTextMenu" value="true"/>
        <property name="displayExt" value="false"/>
        <property name="displaySize" value="false"/>
        <property name="displayDate" value="false"/>
        <property name="displaySearch" value="false"/>
        <property name="expandRoot" value="true"/>
        <property name="displaySearchInPage" value="false"/>
        <property name="displaySearchInContent" value="false"/>
        <property name="displaySearchInFile" value="false"/>
        <property name="displaySearchInTag" value="true"/>
        <property name="defaultView" value="1"/>

        <!-- accordion panels-->
        <property name="accordionPanels">
            <list>
                <ref bean="repository.siteRole"/>
            </list>
        </property>
        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="tab.principalRolesMapping"/>
            </list>
        </property>
        <!-- table columns-->
        <property name="tableColumns">
            <list>
                <ref bean="column.name"/>
            </list>
        </property>

    </bean>

    <!-- accordion -->
    <bean id="repository.global" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="globalRepository"/>
    </bean>

    <bean id="repository.website" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="websiteRepository"/>
    </bean>

    <bean id="repository.websitemahsup" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="websiteMashupRepository"/>
    </bean>

    <bean id="repository.shared" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="sharedRepository"/>
    </bean>

    <bean id="repository.myexternal" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="myExternalRepository"/>
    </bean>

    <bean id="repository.mymashup" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="myMashupRepository"/>
    </bean>

    <bean id="repository.my" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="myRepository"/>
    </bean>

    <bean id="repository.users" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="usersRepository"/>
    </bean>

    <bean id="repository.category" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="categoryRepository"/>
    </bean>

    <bean id="repository.tag" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="tagRepository"/>
    </bean>

    <bean id="repository.remotePublication" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
            <property name="key" value="remotePublicationsRepository"/>
   </bean>


    <bean id="repository.role" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="roleRepository"/>
    </bean>

    <bean id="repository.siteRole" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="siteRoleRepository"/>
    </bean>

    <bean id="repository.site" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="siteRepository"/>
    </bean>

    <bean id="repository.portletdefinition" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="portletDefinitionRepository"/>
    </bean>

    <bean id="repository.sharedmashup" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="sharedMashupRepository"/>
    </bean>


    <!-- tab -->
    <bean id="tab.info" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="info"/>
    </bean>

    <bean id="tab.principalRolesMapping" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="principalRolesMapping"/>
    </bean>

    <bean id="tab.authorizations" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="authorization"/>
    </bean>

    <bean id="tab.usage" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="usage"/>
    </bean>

    <bean id="tab.versioning" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="versioning"/>
    </bean>

    <bean id="tab.portlets" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="portlets"/>
    </bean>

    <bean id="tab.roles" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="roles"/>
    </bean>

    <bean id="tab.modes" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="modes"/>
    </bean>

    <!-- columns -->
    <bean id="column.providerKey" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="providerKey"/>
        <property name="visibility">
            <bean class="org.jahia.services.uicomponents.bean.contentmanager.ProviderKeyColumnVisibility">
                <property name="jcrSessionFactory" ref="jcrSessionFactory"/>
                <property name="alsoCountDynamicProviders" value="false"/>
            </bean>
        </property>
    </bean>

    <bean id="column.ext" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="ext"/>
    </bean>

    <bean id="column.name" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="name"/>
    </bean>

    <bean id="column.locked" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="locked"/>
    </bean>

    <bean id="column.path" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="path"/>
    </bean>

    <bean id="column.size" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="size"/>
    </bean>

    <bean id="column.lastModified" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="lastModified"/>
    </bean>

    <bean id="column.lastModifiedBy" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="lastModifiedBy"/>
    </bean>

    <bean id="column.publicationInfo" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="publicationInfo"/>
    </bean>

    <bean id="column.count" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="count"/>
    </bean>

    <bean id="column.picker" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="picker"/>
    </bean>

    <bean id="column.created" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="created"/>
    </bean>

    <bean id="column.createdBy" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="createdBy"/>
    </bean>

    <bean id="column.lastPublished" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="lastPublished"/>
    </bean>

    <bean id="column.lastPublishedBy" class="org.jahia.services.uicomponents.bean.contentmanager.Item">
        <property name="key" value="lastPublishedBy"/>
    </bean>

</beans>