<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean name="editmodeEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                    <bean class="org.jahia.services.uicomponents.bean.editmode.EngineTabPropertyEditor"/>
                </entry>
                <entry key="org.jahia.services.uicomponents.bean.Visibility">
                    <bean class="org.jahia.services.uicomponents.bean.VisibilityPropertyEditor"/>
                </entry>
            </map>
        </property>
    </bean>

    <!-- studiomode -->
    <bean id="studiomode" class="org.jahia.services.uicomponents.bean.editmode.EditConfiguration">
        <property name="topToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="layout" value="button-label"/>
                <property name="items">
                    <list>
                        <bean id="Toolbar.ItemsGroup.SitesSwitcher"
                              class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.SiteSwitcherActionItem">
                                    <property name="root" value="/templateSets/*"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.templateSets"/>
                            <property name="visibility" value="$site/toolbar/site-switcher"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">

                            <property name="titleKey" value="label.new"/>
                            <property name="icon" value="newAction"/>
                            <property name="items">
                                <list>
                                    <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                                        <property name="actionItem">
                                            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewTemplatesSetActionItem"/>
                                        </property>
                                        <property name="titleKey" value="label.newTemplatesSet"/>
                                    </bean>
                                    <ref bean="Toolbar.Item.NewPage"/>
                                    <ref bean="Toolbar.Item.NewContent"/>
                                </list>
                            </property>
                            <property name="visibility" value="$site/toolbar/new"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.DeployTemplatesActionItem"/>
                            </property>
                            <property name="titleKey" value="label.templatesDeploy"/>
                            <property name="visibility" value="$site/toolbar/deploy-templates"/>
                        </bean>
                        <ref bean="Toolbar.ItemsGroup.LanguageSwitcher"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <property name="titleKey" value="label.edit"/>
                            <property name="icon" value="editStudioAction"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.EditContent"/>
                                    <ref bean="Toolbar.Item.Delete"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.EditSourceContent"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.Copy"/>
                                    <ref bean="Toolbar.Item.Cut"/>
                                    <ref bean="Toolbar.Item.Paste"/>
                                    <ref bean="Toolbar.Item.PasteReference"/>
                                    <ref bean="Toolbar.Item.Translate"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.TemplateExport"/>
                                    <ref bean="Toolbar.Item.Import"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.Lock"/>
                                    <ref bean="Toolbar.Item.Unlock"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.OpenInContentManager"/>
                                </list>
                            </property>
                            <property name="visibility" value="$site/toolbar/edit"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.GenerateWarActionItem"/>
                            </property>
                            <property name="titleKey" value="label.exportWar"/>
                            <property name="icon" value="templateExport"/>
                        </bean>
                        <ref bean="studiomode.managers.menu"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <property name="titleKey" value="label.cache"/>
                            <property name="icon" value="publicationAction"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Flush"/>
                                    <ref bean="Toolbar.Item.FlushAll"/>
                                </list>
                            </property>
                            <property name="visibility" value="$site/toolbar/cache"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <property name="icon" value="user"/>
                            <property name="visibility" value="$site/toolbar/user"/>
                            <property name="titleKey" value="label.user"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Logout"/>
                                </list>
                            </property>
                        </bean>
                        <ref bean="Toolbar.Item.Admin"/>
                        <ref bean="Toolbar.Item.WorkInProgress"/>
                        <ref bean="Toolbar.Item.ClipBoard"/>
                    </list>
                </property>
                <property name="visibility" value="$site/actions/edit-mode"/>
            </bean>
        </property>
        <property name="contextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.EditSourceContent"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                        <ref bean="Toolbar.Item.Translate"/>
                        <ref bean="Toolbar.Item.TemplateExport"/>
                        <ref bean="Toolbar.Item.Import"/>
                        <ref bean="Toolbar.Item.Lock"/>
                        <ref bean="Toolbar.Item.Unlock"/>
                        <ref bean="Toolbar.Item.OpenInContentManager"/>
                    </list>
                </property>
                <property name="visibility" value="global/studio-mode"/>
            </bean>
        </property>

        <!-- edit engine -->
        <property name="editEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jmix:list"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>listOrderingContent,$site/edit-mode/list-management</value>
                            <value>layout,$site/edit-mode/layout</value>
                            <value>options,$site/edit-mode/options</value>
                            <value>rights,$site/edit-mode/rights</value>
                            <value>usages,$site/edit-mode/usages</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content,$site/edit-mode/content</value>
                            <value>layout,$site/edit-mode/layout</value>
                            <value>options,$site/edit-mode/options</value>
                            <value>rights,$site/edit-mode/rights</value>
                            <value>usages,$site/edit-mode/usages</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- create engine-->
        <property name="createEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jnt:page"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content,$site/edit-mode/content</value>
                            <value>options,$site/edit-mode/options</value>
                            <value>rights,$site/edit-mode/rights</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content,$site/edit-mode/content</value>
                            <value>layout,$site/edit-mode/layout</value>
                            <value>options,$site/edit-mode/options</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- tabs-->
        <property name="tabs">
            <list value-type="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                <ref bean="sidePanelTab.templates"/>
                <ref bean="sidePanelTab.createContent"/>
                <ref bean="sidePanelTab.content"/>
                <ref bean="sidePanelTab.filesimages"/>
                <ref bean="sidePanelTab.categories"/>
                <ref bean="sidePanelTab.portlets"/>
                <ref bean="sidePanelTab.search"/>
            </list>
        </property>

    </bean>

    <bean id="studiomode.managers.menu" class="org.jahia.services.uicomponents.bean.toolbar.Menu">
        <property name="visibility">
            <bean class="org.jahia.services.uicomponents.bean.Visibility">
                <property name="needAuthentication" value="true"/>
            </bean>
        </property>
        <property name="titleKey" value="label.managers"/>
        <property name="items">
            <list>
                <ref bean="Toolbar.Item.FileManager"/>
                <ref bean="Toolbar.Item.PortletManager"/>
                <ref bean="Toolbar.Item.ContentManager"/>
                <ref bean="Toolbar.Item.CategoryManager"/>
                <ref bean="Toolbar.Item.TagManager"/>
                <ref bean="Toolbar.Item.SiteManager"/>
            </list>
        </property>
    </bean>


    <bean id="editmode" class="org.jahia.services.uicomponents.bean.editmode.EditConfiguration">
        <property name="topToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="layout" value="button-label"/>
                <property name="items">
                    <list>
                        <!--<bean class="org.jahia.services.uicomponents.bean.toolbar.Menu"-->
                              <!--id="Toolbar.ItemsGroup.NewAction">-->

                            <!--<property name="titleKey" value="label.new"/>-->
                            <!--<property name="icon" value="newAction"/>-->
                            <!--<property name="items">-->
                                <!--<list>-->
                                    <!--<ref bean="Toolbar.Item.NewPage"/>-->
                                    <!--<ref bean="Toolbar.Item.NewContent"/>-->
                                <!--</list>-->
                            <!--</property>-->
                            <!--<property name="visibility" value="$site/toolbar/new"/>-->
                        <!--</bean>-->
                        <ref bean="Toolbar.Item.Live"/>
                        <ref bean="Toolbar.Item.Preview"/>
                        <ref bean="Toolbar.Item.Contribute"/>                        
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <property name="titleKey" value="label.view"/>
                            <!-- <property name="icon" value="preview"/> -->
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.PreviewAsGuest"/>
                                    <ref bean="Toolbar.Item.ShowCompareEngine"/>
                                    <ref bean="Toolbar.Item.ViewACLStatus"/>                                    
                                </list>
                            </property>
                            <property name="visibility" value="$site/toolbar/preview-mode"/>
                        </bean>
                        <ref bean="Toolbar.ItemsGroup.SiteLanguageSwitcher"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <property name="titleKey" value="label.edit"/>
                            <!-- <property name="icon" value="editAction"/>  -->
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.EditContent"/>
                                    <ref bean="Toolbar.Item.Delete"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.EditSourceContent"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.Copy"/>
                                    <ref bean="Toolbar.Item.Cut"/>
                                    <ref bean="Toolbar.Item.Paste"/>
                                    <ref bean="Toolbar.Item.PasteReference"/>
                                    <ref bean="Toolbar.Item.Translate"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.Export"/>
                                    <ref bean="Toolbar.Item.Import"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.Lock"/>
                                    <ref bean="Toolbar.Item.Unlock"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.SaveAsPortalComponent"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.OpenInContentManager"/>
                                </list>
                            </property>
                            <property name="visibility" value="$site/toolbar/edit"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <property name="titleKey" value="label.publication"/>
                            <!-- <property name="icon" value="publicationAction"/> -->
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Publish"/>
                                    <ref bean="Toolbar.Item.PublishAll"/>
                                    <ref bean="Toolbar.Item.Unpublish"/>
                                    <ref bean="Toolbar.Item.ViewPublishStatus"/>
                                    <ref bean="Toolbar.Item.PublicationManager"/>
                                </list>
                            </property>
                            <property name="visibility" value="$site/toolbar/publication"/>
                        </bean>

                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">

                            <property name="titleKey" value="label.workflow"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.WorkflowStatusAction"/>
                                    <ref bean="Toolbar.Item.WorkflowDashboard"/>
                                </list>
                            </property>
                            <property name="visibility" value="$site/toolbar/workflow"/>
                        </bean>
                        <ref bean="editmode.managers.menu"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <property name="titleKey" value="label.cache"/>
                            <!-- <property name="icon" value="publicationAction"/>  -->
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Flush"/>
                                    <ref bean="Toolbar.Item.FlushAll"/>
                                </list>
                            </property>
                            <property name="visibility" value="$site/toolbar/cache"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <!-- <property name="icon" value="user"/> -->
                            <property name="visibility" value="$site/toolbar/user"/>
                            <property name="titleKey" value="label.user"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Logout"/>
                                </list>
                            </property>
                        </bean>
                        <ref bean="Toolbar.Item.Admin"/>
                        <ref bean="Toolbar.Item.Studio"/>
                        <ref bean="Toolbar.Item.WorkInProgress"/>
                        <ref bean="Toolbar.Item.ClipBoard"/>
                    </list>
                </property>
                <property name="visibility" value="$site/actions/edit-mode"/>
            </bean>
        </property>
        <property name="contextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.EditSourceContent"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                        <ref bean="Toolbar.Item.Translate"/>
                        <ref bean="Toolbar.Item.Export"/>
                        <ref bean="Toolbar.Item.Import"/>
                        <ref bean="Toolbar.Item.Lock"/>
                        <ref bean="Toolbar.Item.Unlock"/>
                        <ref bean="Toolbar.Item.SaveAsPortalComponent"/>
                        <ref bean="Toolbar.Item.OpenInContentManager"/>
                    </list>
                </property>
                <property name="visibility" value="$site/actions/edit-mode"/>
            </bean>
        </property>

        <!-- edit engine -->
        <property name="editEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jmix:list"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>listOrderingContent,$site/edit-mode/list-management</value>
                            <value>layout,$site/edit-mode/layout</value>
                            <value>metadata,$site/edit-mode/metadata</value>
                            <value>tags,$site/edit-mode/tags</value>
                            <value>categories,$site/edit-mode/categories</value>
                            <value>options,$site/edit-mode/options</value>
                            <value>rights,$site/edit-mode/rights</value>
                            <value>usages,$site/edit-mode/usages</value>
                            <value>publication,$site/edit-mode/publication</value>
                            <value>workflow,$site/edit-mode/workflow</value>
                            <value>versioning</value>
                            <value>seo,$site/edit-mode/seo</value>
                            <ref bean="analyticsEngineTab"/>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content,$site/edit-mode/content</value>
                            <value>layout,$site/edit-mode/layout</value>
                            <value>metadata,$site/edit-mode/metadata</value>
                            <value>tags,$site/edit-mode/tags</value>
                            <value>categories,$site/edit-mode/categories</value>
                            <value>options,$site/edit-mode/options</value>
                            <value>rights,$site/edit-mode/rights</value>
                            <value>usages,$site/edit-mode/usages</value>
                            <value>publication,$site/edit-mode/publication</value>
                            <value>workflow,$site/edit-mode/workflow</value>
                            <value>versioning</value>
                            <value>seo,$site/edit-mode/seo</value>
                            <ref bean="analyticsEngineTab"/>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- create engine-->
        <property name="createEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jnt:page"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content,$site/edit-mode/content</value>
                            <value>metadata,$site/edit-mode/metadata</value>
                            <value>tags,$site/edit-mode/tags</value>
                            <value>categories,$site/edit-mode/categories</value>
                            <value>options,$site/edit-mode/options</value>
                            <value>rights,$site/edit-mode/rights</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content,$site/edit-mode/content</value>
                            <value>layout,$site/edit-mode/layout</value>
                            <value>metadata,$site/edit-mode/metadata</value>
                            <value>tags,$site/edit-mode/tags</value>
                            <value>categories,$site/edit-mode/categories</value>
                            <value>options,$site/edit-mode/options</value>
                            <value>rights,$site/edit-mode/rights</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="sidePanelTab.pages"/>
                <ref bean="sidePanelTab.createContent"/>
                <ref bean="sidePanelTab.content"/>
                <ref bean="sidePanelTab.filesimages"/>
                <ref bean="sidePanelTab.categories"/>
                <ref bean="sidePanelTab.portlets"/>
                <ref bean="sidePanelTab.search"/>
                <ref bean="sidePanelTab.lastContent"/>
            </list>
        </property>

    </bean>

    <bean id="editmode.managers.menu" class="org.jahia.services.uicomponents.bean.toolbar.Menu">
        <property name="visibility">
            <bean class="org.jahia.services.uicomponents.bean.Visibility">
                <property name="needAuthentication" value="true"/>
            </bean>
        </property>
        <property name="titleKey" value="label.managers"/>
        <property name="items">
            <list>
                <ref bean="Toolbar.Item.FileManager"/>
                <ref bean="Toolbar.Item.PortletManager"/>
                <ref bean="Toolbar.Item.ContentManager"/>
                <ref bean="Toolbar.Item.CategoryManager"/>
                <ref bean="Toolbar.Item.TagManager"/>
                <ref bean="Toolbar.Item.SiteManager"/>
            </list>
        </property>
    </bean>

    <bean name="analyticsEngineTab" class="org.jahia.services.uicomponents.bean.editmode.EngineTab">
        <property name="key" value="analytics"/>
        <property name="visibility">
            <bean class="org.jahia.services.uicomponents.bean.contentmanager.AnalyticsVisibility">
                <property name="siteActionPermission" value="edit-mode/analytics"/>
            </bean>
        </property>
    </bean>

    <!-- side tabs-->
    <bean id="sidePanelTab.templates" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="templates"/>
        <property name="icon" value="tab-templates"/>
        <property name="paths">
            <list>
                <value>$site</value>
                <value>$site/templates</value>
            </list>
        </property>
        <property name="folderTypes">
            <list>
                <value>jnt:template</value>
                <value>jnt:page</value>
            </list>
        </property>
        <property name="treeColumns">
            <list>
                <value>displayName,*,label.title</value>
            </list>
        </property>
        <property name="treeContextMenu">
            <bean id="org.jahia.toolbar.sidePanel.templates"
                  class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewContentActionItem">
                                    <property name="nodeTypes" value="jnt:masterTemplate"/>
                                    <property name="parentTypes" value="jnt:templatesFolder jnt:masterTemplate"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.newTemplate"/>
                            <property name="icon" value="newTemplate"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewContentActionItem">
                                    <property name="nodeTypes" value="jnt:derivedTemplate"/>
                                    <property name="parentTypes" value="jnt:masterTemplate"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.newDerivedTemplate"/>
                            <property name="icon" value="newDerivedTemplate"/>
                        </bean>
                        <ref bean="Toolbar.Item.NewPage"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item"
                              parent="Toolbar.Item.EditContent">
                            <property name="titleKey" value="label.rename"/>
                            <property name="icon" value="rename"/>
                        </bean>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="visibility" value="$site/selector/templates"/>
    </bean>

    <bean id="sidePanelTab.pages" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="pages"/>
        <property name="icon" value="tab-pages"/>
        <property name="paths">
            <list>
                <value>/sites/*</value>
            </list>
        </property>
        <property name="folderTypes" value="jmix:navMenuItem"/>
        <property name="treeColumns">
            <list>
                <value>displayName,*,label.title</value>
            </list>
        </property>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewPage"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item"
                              parent="Toolbar.Item.EditContent">
                            <property name="titleKey" value="label.rename"/>
                            <property name="icon" value="rename"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewContentActionItem">
                                    <property name="nodeTypes" value="jnt:nodeLink"/>
                                    <property name="parentTypes" value="jnt:page"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.newInternalLink"/>
                            <property name="icon" value="newInternalLink"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewContentActionItem">
                                    <property name="nodeTypes" value="jnt:externalLink"/>
                                    <property name="parentTypes" value="jnt:page"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.newExternalLink"/>
                            <property name="icon" value="newExternalLink"/>
                        </bean>

                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="visibility" value="$site/selector/sitemap"/>
    </bean>

    <bean id="sidePanelTab.createContent" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="createContent"/>
        <property name="icon" value="tab-createcontent"/>
        <property name="visibility" value="$site/selector/create"/>
    </bean>

    <bean id="sidePanelTab.categories" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="categories"/>
        <property name="folderTypes" value="jnt:category"/>
        <property name="paths" value="/categories"/>
        <property name="icon" value="tab-categories"/>
        <property name="params">
            <map>
                <entry key="limit" value="500"/>
            </map>
        </property>
        <property name="visibility" value="$site/selector/categories"/>
    </bean>

    <bean id="sidePanelTab.content" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="content"/>
        <property name="icon" value="tab-content"/>
        <property name="paths">
            <list>
                <value>/shared/contents</value>
                <value>$site/contents</value>
                <value>$user/contents</value>
            </list>
        </property>
        <property name="folderTypes" value="jnt:contentList"/>
        <property name="treeColumns">
            <list>
                <value>displayName,*,label.title</value>
            </list>
        </property>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewFolder"/>
                        <ref bean="Toolbar.Item.NewContent"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="visibility" value="$site/selector/content"/>
    </bean>

    <bean id="sidePanelTab.filesimages" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="filesimages"/>
        <property name="icon" value="tab-filesimages"/>
        <property name="paths">
            <list>
                <value>/shared/files</value>
                <value>$site/files</value>
                <value>$user/files</value>
            </list>
        </property>
        <property name="folderTypes">
            <list>
                <value>nt:folder</value>
                <value>jnt:mountPoint</value>
            </list>
        </property>
        <property name="treeColumns">
            <list>
                <value>displayName,*,label.title</value>
            </list>
        </property>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewFolder"/>
                        <ref bean="Toolbar.Item.Upload"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.Download"/>
                        <ref bean="Toolbar.Item.FilePreview"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="visibility" value="$site/selector/files-and-images"/>
    </bean>
    <bean id="sidePanelTab.portlets" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="portlets"/>
        <property name="icon" value="tab-portlets"/>
        <property name="paths">
            <list>
                <value>/shared/portlets</value>
                <value>$site/portlets</value>
                <value>$user/portlets</value>
            </list>
        </property>
        <property name="folderTypes" value="jnt:portletList"/>
        <property name="treeColumns">
            <list>
                <value>displayName,*,label.title</value>
            </list>
        </property>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewPortletFolder"/>
                        <ref bean="Toolbar.Item.NewPortlet"/>
                        <ref bean="Toolbar.Item.NewRss"/>
                        <ref bean="Toolbar.Item.NewGadget"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="visibility" value="$site/selector/portlets"/>
    </bean>

    <bean id="sidePanelTab.search" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="search"/>
        <property name="icon" value="tab-search"/>
        <property name="params">
            <map>
                <entry key="numberResults" value="20"/>
            </map>
        </property>
        <property name="visibility" value="$site/selector/search"/>
    </bean>

    <bean id="sidePanelTab.lastContent" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="lastContent"/>
        <property name="icon" value="tab-lastcontent"/>
        <property name="params">
            <map>
                <entry key="search"
                       value="select * from [jnt:content] as content order by content.['jcr:lastModified'] desc"/>
                <entry key="limit" value="100"/>
            </map>
        </property>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewFolder"/>
                        <ref bean="Toolbar.Item.NewContent"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="visibility" value="$site/selector/latest"/>
    </bean>

    <bean id="compare-engine" class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
        <property name="items">
            <list>
                <ref bean="Toolbar.Item.Publish"/>
                <ref bean="Toolbar.Item.PublishAll"/>
            </list>
        </property>
        <property name="visibility" value="$site/actions/edit-mode"/>
    </bean>
</beans>