<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean name="editmodeEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                    <bean class="org.jahia.services.uicomponents.bean.editmode.EngineTabPropertyEditor"/>
                </entry>
            </map>
        </property>
    </bean>

    <!-- studiomode -->
    <bean id="studiomode" class="org.jahia.services.uicomponents.bean.editmode.EditConfiguration">
        <property name="topToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.ItemsGroup">
                            <property name="layout" value="menu"/>
                            <property name="titleKey" value="label.new"/>
                            <property name="minIconStyle" value="gwt-toolbar-icon-newaction-min"/>
                                                        <property name="items">
                                <list>
                                    <ref bean="org.jahia.toolbar.item.createTemplate"/>
                                    <ref bean="org.jahia.toolbar.item.createPage"/>
                                    <ref bean="org.jahia.toolbar.item.createContent"/>
                                </list>
                            </property>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.DeployTemplatesActionItem"/>
                            </property>
                            <property name="titleKey" value="label.templatesDeploy"/>
                        </bean>
                        <ref bean="org.jahia.toolbar.itemsgroup.LanguageSwitcher"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.EditStudioAction"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.export.template"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.Managers"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.User"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.Admin"/>
                    </list>
                </property>
                <property name="visibility">
                    <bean class="org.jahia.services.uicomponents.bean.Visibility">
                        <property name="siteActionPermission" value="actions/edit-mode"/>
                    </bean>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="contextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="org.jahia.toolbar.itemsgroup.EditStudioAction"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                    </list>
                </property>
                <property name="visibility">
                    <bean class="org.jahia.services.uicomponents.bean.Visibility">
                        <property name="serverActionPermission" value="global/studio-mode"/>
                    </bean>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>

        <!-- edit engine -->
        <property name="editEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jmix:list"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>listOrderingContent</value>
                            <value>template</value>
                            <value>layout</value>
                            <value>option</value>
                            <value>rights</value>
                            <value>usages</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content</value>
                            <value>template</value>
                            <value>layout</value>
                            <value>option</value>
                            <value>rights</value>
                            <value>usages</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- create engine-->
        <property name="createEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jnt:page"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>createPage</value>
                            <value>template</value>
                            <value>option</value>
                            <value>rights</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content</value>
                            <value>template</value>
                            <value>layout</value>
                            <value>option</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- tabs-->
        <property name="tabs">
            <list value-type="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                <ref bean="sidePanelTab.templates"/>
                <ref bean="sidePanelTab.createContent"/>
                <ref bean="sidePanelTab.content"/>
                <ref bean="sidePanelTab.filesimages"/>
                <ref bean="sidePanelTab.categories"/>
                <ref bean="sidePanelTab.mashups"/>
                <ref bean="sidePanelTab.search"/>
                <ref bean="sidePanelTab.workflow"/>
            </list>
        </property>

    </bean>

    <bean id="editmode" class="org.jahia.services.uicomponents.bean.editmode.EditConfiguration">
        <property name="topToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.ItemsGroup"
                              id="org.jahia.toolbar.itemsgroup.NewAction">
                            <property name="layout" value="menu"/>
                            <property name="titleKey" value="label.new"/>
                            <property name="minIconStyle" value="gwt-toolbar-icon-newaction-min"/>
                                                        <property name="items">
                                <list>
                                    <ref bean="org.jahia.toolbar.item.createPage"/>
                                    <ref bean="org.jahia.toolbar.item.createContent"/>
                                </list>
                            </property>
                        </bean>
                        <ref bean="org.jahia.toolbar.item.Live"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.Preview"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.LanguageSwitcher"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.EditAction"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.PublicationAction"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.WorkflowAction"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.Managers"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.User"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.Admin"/>
                        <ref bean="org.jahia.toolbar.item.Studio"/>
                    </list>
                </property>
                <property name="visibility">
                    <bean class="org.jahia.services.uicomponents.bean.Visibility">
                        <property name="siteActionPermission" value="actions/edit-mode"/>
                    </bean>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="contextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="org.jahia.toolbar.itemsgroup.EditAction"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.PublicationAction"/>
                    </list>
                </property>
                <property name="visibility">
                    <bean class="org.jahia.services.uicomponents.bean.Visibility">
                        <property name="siteActionPermission" value="actions/edit-mode"/>
                    </bean>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>

        <!-- edit engine -->
        <property name="editEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jmix:list"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>listOrderingContent</value>
                            <value>template</value>
                            <value>layout</value>
                            <value>metadata</value>
                            <value>classification</value>
                            <value>option</value>
                            <value>rights</value>
                            <value>usages</value>
                            <value>publication</value>
                            <value>workflow</value>
                            <value>seo</value>
                            <value>analytics</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content</value>
                            <value>layout</value>
                            <value>metadata</value>
                            <value>classification</value>
                            <value>option</value>
                            <value>rights</value>
                            <value>usages</value>
                            <value>publication</value>
                            <value>workflow</value>
                            <value>seo</value>
                            <value>analytics</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- create engine-->
        <property name="createEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jnt:page"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>createPage</value>
                            <value>metadata</value>
                            <value>classification</value>
                            <value>option</value>
                            <value>rights</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content</value>
                            <value>layout</value>
                            <value>metadata</value>
                            <value>classification</value>
                            <value>option</value>
                            <value>rights</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="sidePanelTab.pages"/>
                <ref bean="sidePanelTab.createContent"/>
                <ref bean="sidePanelTab.content"/>
                <ref bean="sidePanelTab.filesimages"/>
                <ref bean="sidePanelTab.categories"/>
                <ref bean="sidePanelTab.mashups"/>
                <ref bean="sidePanelTab.search"/>
                <ref bean="sidePanelTab.workflow"/>
            </list>
        </property>

    </bean>

    <!-- side tabs-->
    <bean id="sidePanelTab.templates" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="templates"/>
        <property name="treeContextMenu">
            <bean id="org.jahia.toolbar.sidePanel.templates"
                  class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="org.jahia.toolbar.item.createTemplate"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.DeployTemplatesActionItem"/>
                            </property>
                            <property name="titleKey" value="label.templatesDeploy"/>
                        </bean>
                        <ref bean="org.jahia.toolbar.item.createPage"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item"
                              parent="org.jahia.toolbar.item.edit">
                            <property name="titleKey" value="label.rename"/>
                            <property name="minIconStyle" value="gwt-toolbar-icon-rename"/>
                                                    </bean>
                        <ref bean="org.jahia.toolbar.item.edit"/>
                        <ref bean="org.jahia.toolbar.item.delete"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.copy"/>
                        <ref bean="org.jahia.toolbar.item.cut"/>
                        <ref bean="org.jahia.toolbar.item.paste"/>
                        <ref bean="org.jahia.toolbar.item.pasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="sidePanelTab.pages" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="pages"/>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="org.jahia.toolbar.item.createPage"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item"
                              parent="org.jahia.toolbar.item.edit">
                            <property name="titleKey" value="label.rename"/>
                            <property name="minIconStyle" value="gwt-toolbar-icon-rename"/>
                                                    </bean>
                        <ref bean="org.jahia.toolbar.item.edit"/>
                        <ref bean="org.jahia.toolbar.item.delete"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.copy"/>
                        <ref bean="org.jahia.toolbar.item.cut"/>
                        <ref bean="org.jahia.toolbar.item.paste"/>
                        <ref bean="org.jahia.toolbar.item.pasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="sidePanelTab.createContent" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="createContent"/>
    </bean>

    <bean id="sidePanelTab.categories" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="categories"/>
        <property name="params">
            <map>
                <entry key="limit" value="500"/>
            </map>
        </property>
    </bean>

    <bean id="sidePanelTab.content" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="content"/>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="org.jahia.toolbar.item.createFolder"/>
                        <ref bean="org.jahia.toolbar.item.createContent"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.rename"/>
                        <ref bean="org.jahia.toolbar.item.delete"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.copy"/>
                        <ref bean="org.jahia.toolbar.item.cut"/>
                        <ref bean="org.jahia.toolbar.item.paste"/>
                        <ref bean="org.jahia.toolbar.item.pasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="org.jahia.toolbar.item.edit"/>
                        <ref bean="org.jahia.toolbar.item.delete"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.copy"/>
                        <ref bean="org.jahia.toolbar.item.cut"/>
                        <ref bean="org.jahia.toolbar.item.paste"/>
                        <ref bean="org.jahia.toolbar.item.pasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="sidePanelTab.filesimages" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="filesimages"/>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="org.jahia.toolbar.item.createFolder"/>
                        <ref bean="org.jahia.toolbar.item.upload"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.rename"/>
                        <ref bean="org.jahia.toolbar.item.delete"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="org.jahia.toolbar.item.download"/>
                        <ref bean="org.jahia.toolbar.item.preview"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.rename"/>
                        <ref bean="org.jahia.toolbar.item.delete"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.item.copy"/>
                        <ref bean="org.jahia.toolbar.item.cut"/>
                        <ref bean="org.jahia.toolbar.item.paste"/>
                        <ref bean="org.jahia.toolbar.item.pasteReference"/>
                        <ref bean="org.jahia.toolbar.item.Separator"/>
                        <ref bean="org.jahia.toolbar.itemsgroup.ContentManager.menu.image"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="sidePanelTab.mashups" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="mashups"/>
    </bean>

    <bean id="sidePanelTab.search" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="search"/>
        <property name="params">
            <map>
                <entry key="numberResults" value="20"/>
            </map>
        </property>

    </bean>

    <bean id="sidePanelTab.workflow" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="workflow"/>
    </bean>


    <bean id="compare-engine" class="org.jahia.services.uicomponents.bean.toolbar.ToolbarSet">
        <property name="toolbars">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                    <property name="items">
                        <list>
                            <ref bean="org.jahia.toolbar.item.publish"/>
                            <ref bean="org.jahia.toolbar.item.publishall"/>
                        </list>
                    </property>
                    <property name="visibility">
                        <bean class="org.jahia.services.uicomponents.bean.Visibility">
                            <property name="siteActionPermission" value="actions/edit-mode"/>
                        </bean>
                    </property>
                </bean>
            </list>
        </property>
    </bean>


</beans>