<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean name="editmodeEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                    <bean class="org.jahia.services.uicomponents.bean.editmode.EngineTabPropertyEditor"/>
                </entry>
            </map>
        </property>
    </bean>

    <!-- studiomode -->
    <bean id="studiomode" class="org.jahia.services.uicomponents.bean.editmode.EditConfiguration">
        <property name="topToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <bean id="Toolbar.ItemsGroup.SitesSwitcher" class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.SiteSwitcherActionItem">
                                    <property name="root" value="/templatesSet/*"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.templatesSet"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.ItemsGroup">
                            <property name="layout" value="menu"/>
                            <property name="titleKey" value="label.new"/>
                            <property name="icon" value="newAction"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.NewTemplate"/>
                                    <ref bean="Toolbar.Item.NewPage"/>
                                    <ref bean="Toolbar.Item.NewContent"/>
                                </list>
                            </property>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.DeployTemplatesActionItem"/>
                            </property>
                            <property name="titleKey" value="label.templatesDeploy"/>
                        </bean>
                        <ref bean="Toolbar.ItemsGroup.LanguageSwitcher"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.EditStudioAction"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.TemplateExport"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.Managers"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.User"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Admin"/>
                    </list>
                </property>
                <property name="visibility">
                    <bean class="org.jahia.services.uicomponents.bean.Visibility">
                        <property name="siteActionPermission" value="actions/edit-mode"/>
                    </bean>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="contextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.ItemsGroup.EditStudioAction"/>
                        <ref bean="Toolbar.Item.Separator"/>
                    </list>
                </property>
                <property name="visibility">
                    <bean class="org.jahia.services.uicomponents.bean.Visibility">
                        <property name="serverActionPermission" value="global/studio-mode"/>
                    </bean>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>

        <!-- edit engine -->
        <property name="editEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jmix:list"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>listOrderingContent</value>
                            <value>template</value>
                            <value>layout</value>
                            <value>option</value>
                            <value>rights</value>
                            <value>usages</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content</value>
                            <value>template</value>
                            <value>layout</value>
                            <value>option</value>
                            <value>rights</value>
                            <value>usages</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- create engine-->
        <property name="createEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jnt:page"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>createPage</value>
                            <value>template</value>
                            <value>option</value>
                            <value>rights</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content</value>
                            <value>template</value>
                            <value>layout</value>
                            <value>option</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- tabs-->
        <property name="tabs">
            <list value-type="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                <ref bean="sidePanelTab.templates"/>
                <ref bean="sidePanelTab.createContent"/>
                <ref bean="sidePanelTab.content"/>
                <ref bean="sidePanelTab.filesimages"/>
                <ref bean="sidePanelTab.categories"/>
                <ref bean="sidePanelTab.mashups"/>
                <ref bean="sidePanelTab.search"/>
                <ref bean="sidePanelTab.workflow"/>
            </list>
        </property>

    </bean>

    <bean id="editmode" class="org.jahia.services.uicomponents.bean.editmode.EditConfiguration">
        <property name="topToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.ItemsGroup"
                              id="Toolbar.ItemsGroup.NewAction">
                            <property name="layout" value="menu"/>
                            <property name="titleKey" value="label.new"/>
                            <property name="icon" value="newAction"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.NewPage"/>
                                    <ref bean="Toolbar.Item.NewContent"/>
                                </list>
                            </property>
                        </bean>
                        <ref bean="Toolbar.Item.Live"/>
                        <ref bean="Toolbar.ItemsGroup.Preview"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.LanguageSwitcher"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.EditAction"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.PublicationAction"/>
                        <ref bean="Toolbar.ItemsGroup.WorkflowAction"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.Managers"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.User"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Admin"/>
                        <ref bean="Toolbar.Item.Studio"/>
                    </list>
                </property>
                <property name="visibility">
                    <bean class="org.jahia.services.uicomponents.bean.Visibility">
                        <property name="siteActionPermission" value="actions/edit-mode"/>
                    </bean>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="contextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.ItemsGroup.EditAction"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.PublicationAction"/>
                    </list>
                </property>
                <property name="visibility">
                    <bean class="org.jahia.services.uicomponents.bean.Visibility">
                        <property name="siteActionPermission" value="actions/edit-mode"/>
                    </bean>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>

        <!-- edit engine -->
        <property name="editEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jmix:list"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>listOrderingContent</value>
                            <value>template</value>
                            <value>layout</value>
                            <value>metadata</value>
                            <value>classification</value>
                            <value>option</value>
                            <value>rights</value>
                            <value>usages</value>
                            <value>publication</value>
                            <value>workflow</value>
                            <value>seo</value>
                            <value>analytics</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content</value>
                            <value>layout</value>
                            <value>metadata</value>
                            <value>classification</value>
                            <value>option</value>
                            <value>rights</value>
                            <value>usages</value>
                            <value>publication</value>
                            <value>workflow</value>
                            <value>seo</value>
                            <value>analytics</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- create engine-->
        <property name="createEngines">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="jnt:page"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>createPage</value>
                            <value>metadata</value>
                            <value>classification</value>
                            <value>option</value>
                            <value>rights</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.Engine">
                    <property name="nodeType" value="nt:base"/>
                    <property name="tabs">
                        <list value-type="org.jahia.services.uicomponents.bean.editmode.EngineTab">
                            <value>content</value>
                            <value>layout</value>
                            <value>metadata</value>
                            <value>classification</value>
                            <value>option</value>
                            <value>rights</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>

        <!-- tabs -->
        <property name="tabs">
            <list>
                <ref bean="sidePanelTab.pages"/>
                <ref bean="sidePanelTab.createContent"/>
                <ref bean="sidePanelTab.content"/>
                <ref bean="sidePanelTab.filesimages"/>
                <ref bean="sidePanelTab.categories"/>
                <ref bean="sidePanelTab.mashups"/>
                <ref bean="sidePanelTab.search"/>
                <ref bean="sidePanelTab.workflow"/>
                <ref bean="sidePanelTab.lastContent"/>
            </list>
        </property>

    </bean>

    <!-- side tabs-->
    <bean id="sidePanelTab.templates" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="templates"/>
        <property name="treeContextMenu">
            <bean id="org.jahia.toolbar.sidePanel.templates"
                  class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewTemplate"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewContentActionItem">
                                    <property name="nodeTypes" value="jnt:wrapper"/>
                                    <property name="parentType" value="jnt:page"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.newWrapper"/>
                            <property name="icon" value="newWrapper"/>
                        </bean>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.DeployTemplatesActionItem"/>
                            </property>
                            <property name="titleKey" value="label.templatesDeploy"/>
                        </bean>
                        <ref bean="Toolbar.Item.NewPage"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item"
                              parent="Toolbar.Item.EditContent">
                            <property name="titleKey" value="label.rename"/>
                            <property name="icon" value="rename"/>
                        </bean>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="sidePanelTab.pages" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="pages"/>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewPage"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item"
                              parent="Toolbar.Item.EditContent">
                            <property name="titleKey" value="label.rename"/>
                            <property name="icon" value="rename"/>
                        </bean>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="sidePanelTab.createContent" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="createContent"/>
    </bean>

    <bean id="sidePanelTab.categories" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="categories"/>
        <property name="params">
            <map>
                <entry key="limit" value="500"/>
            </map>
        </property>
    </bean>

    <bean id="sidePanelTab.content" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="content"/>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewFolder"/>
                        <ref bean="Toolbar.Item.NewContent"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="sidePanelTab.filesimages" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="filesimages"/>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewFolder"/>
                        <ref bean="Toolbar.Item.upload"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.Download"/>
                        <ref bean="Toolbar.Item.FilePreview"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.ItemsGroup.Menu.Image"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="sidePanelTab.mashups" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="mashups"/>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewFolder"/>
                        <ref bean="Toolbar.Item.NewContent"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="sidePanelTab.search" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="search"/>
        <property name="params">
            <map>
                <entry key="numberResults" value="20"/>
            </map>
        </property>

    </bean>

    <bean id="sidePanelTab.workflow" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="workflow"/>
    </bean>


    <bean id="compare-engine" class="org.jahia.services.uicomponents.bean.toolbar.ToolbarSet">
        <property name="toolbars">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                    <property name="items">
                        <list>
                            <ref bean="Toolbar.Item.Publish"/>
                            <ref bean="Toolbar.Item.PublishAll"/>
                        </list>
                    </property>
                    <property name="visibility">
                        <bean class="org.jahia.services.uicomponents.bean.Visibility">
                            <property name="siteActionPermission" value="actions/edit-mode"/>
                        </bean>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="sidePanelTab.lastContent" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
        <property name="key" value="lastContent"/>
        <property name="params">
            <map>
                <entry key="search" value="select * from [jnt:content] as content order by content.['jcr:lastModified'] desc"/>
                <entry key="limit" value="100"/>
            </map>
        </property>
        <property name="treeContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.NewFolder"/>
                        <ref bean="Toolbar.Item.NewContent"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Rename"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
        <property name="tableContextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                    </list>
                </property>
                <property name="contextMenu" value="true"/>
            </bean>
        </property>
    </bean>
</beans>