<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>Tech Watch Update Alert</title>
</head>
<body>
<h2>Tech Watch update alert</h2>
<p>Dear ${subscriber.fullName},</p>
<p>the Technology Watch content, you were subscribed to, has changed.</p>
<% if (watchedContentLink != null) { %>
<p>Please visit it under: <a href="${watchedContentLink.absoluteUrl}">Updated content</a></p>
<% } %>

<p>Sincerely Yours<br>Portal Team</p>

<hr>
<p>To unsubscribe from notifications for this content, please use the <a href="${unsubscribeLink.absoluteUrl}">unsubscribe service</a>.<br>
To update your profile or to stop receiving customized e-mail, please click <a href="${subscriptionManagementLink.absoluteUrl}">here</a>.</p>
</body>
</html>