// HEADER STUFF
.mainmodule-head-container {
    position: absolute !important;
    top: -46px;
    left: 0;
    width: 100% !important;

    body[data-chrome="false"] & {
        display: none;
    }
}

.node-path-title {
    width: 20px;
    height: 20px;
    background: url(../images/icons/tabs-pages-white@X2.png) no-repeat center center; /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 1 */
    background-size: 23px;
    text-indent: -50000px;
    position: fixed;
    left: 425px;
    top: 21px;
    display: none;

    body[data-sitesettings="false"][data-indigo-sidepanel-pinned="true"] & {
        background-image: url(../images/tabs-pages-dark@X2.png); /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 2 */
    }

    body[data-multiselect="on"] & { /* MULTI SELECT NOT WORKING IN CONTRIBUTE MODE !!! */
        display: block;
        left: 100px !important;
        top: 61px !important;
        background: url( _icon("closeSmall", "white")) no-repeat center center; /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 3 */
        background-size: 14px !important;
        background-color: transparent;
        border-radius: 100%;

        &[data-sitesettings="false"][data-indigo-sidepanel-pinned="true"] {
            background-image: url( _icon("closeLarge", "grey")); /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 4 */
        }

        &::before {
            content: _dictionary("clear_selection") !important;
            opacity: 1;
            background: transparent;
            color: whitesmoke;
            text-transform: none;
            font-weight: 100;
            font-size: 14px;
            bottom: 0;
            left: 13px;
            top: -6px;
            pointer-events: all;
            box-shadow: none;
        }

        &::after {
            display: none;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(_color("secondary", a), 0.3);
        }
    }

    body[data-multiselect="on"][data-indigo-sidepanel-pinned="true"] & {
        position: absolute;
        top: $EDIT-MODE-MULTIPLE-SELECT-TOP !important;
        right: $EDIT-MODE-MULTIPLE-SELECT-RIGHT;
        left: auto !important;
        background-color: transparent !important;
        width: 22px;
        z-index: 9;

        &::before {
            color: #fdfdfd;
            background: #5c6164;
            border-radius: 21px;
            padding: 3px 10px 3px 24px !important;
            left: -5px;
            top: -4px;
            height: 16px;
            font-weight: 300;
            z-index: -1;
            font-size: 12px;
        }
    }

    body[data-multiselect="on"][data-sitesettings="false"][data-indigo-sidepanel-pinned="true"] & { /* MULTI SELECT NOT WORKING IN CONTRIBUTE MODE !!! */
        &::before {
            background: url( _icon("closeSmall", "white")) #a1a4a6 no-repeat left 9px top 6px #{/11px} !important; /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 5 */
        }
    }

    body[data-multiselect="on"][data-sitesettings="false"][data-indigo-sidepanel-pinned="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtContentBrowseTab"] &,
    body[data-multiselect="on"][data-sitesettings="false"][data-indigo-sidepanel-pinned="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtFileImagesBrowseTab"] &,
    body[data-multiselect="on"][data-sitesettings="false"][data-indigo-sidepanel-pinned="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtSearchTab"] &,
    body[data-multiselect="on"][data-sitesettings="false"][data-indigo-sidepanel-pinned="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtCategoryBrowseTab"] & {
        display: none;
    }

    @include tooltip(attr(data-indigo-file-path), "BOTTOM");
}

.node-path-container {
    position: fixed;
    z-index: $ZINDEX--MAINMODULE--PATH_CONTAINER;
    display: block;
    max-width: 100% !important;
    left: 99px;
    top: 44px;

    body[data-multiselect="on"] & {
        top: 35px;
    }

    body[data-INDIGO-SIDEPANEL-PINNED="true"] & {
        left: 394px;
        top: 32px;
    }

    @if($theme == "anthracite-V8") {
        &::after {
            content: attr(data-nodepath);
            position: absolute;
            left: 5px;
            top: 16px;
            @include text(_size("small"), _color("primary"), _weight("light"));

            body[data-multiselect="on"] & {
                display: none;
            }
        }


    }
}

.x-current-page-path {
    display: block;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    line-height: 22px !important;
    transition: clip 0.2s ease-in 0s;
    clip: rect(0px, 100vw, 30px, 0px);
    max-width: calc(100vw - 530px);

    body[data-INDIGO-SIDEPANEL-PINNED="true"] & {
        clip: unset;
        top: $EDIT-MODE--PAGE-TITLE---TOP !important;
    }

    body[data-multiselect="on"] & {
        @if($theme == "anthracite"){
            left: 0px !important;
        }

        background: url($EDIT-MODE-MULTIPLE-SELECT-ICON) no-repeat left center/23px 23px; /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 6 */
        padding-left: 24px;
    }

    @if($theme == "anthracite"){
        body[data-multiselect="on"][data-INDIGO-SIDEPANEL-PINNED="true"] & {
            top: 3px !important;
        }
    }


    &::before {
        content: attr(data-PAGE-NAME);
        @include text($EDIT-MODE--PAGE-TITLE---SIZE, $EDIT-MODE--PAGE-TITLE---COLOR, _weight("extralight"));
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 27px;
    }
}

.node-path-text-inner {
    display: none;
    position: fixed;
    text-align: center;
    font-style: italic !important;
    background: url(../images/icons/icon-page-white@X2.png) no-repeat left center; /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 7 */
    background-size: 11px;
    padding-left: 13px;
    height: 16px;
    left: 0;
    top: 9px;
    pointer-events: none;
    @include text(_size("small") !important, _color("secondary"), _weight("extralight") !important, $DEFAULT--FONT--FAMILY !important);

    body[data-sitesettings="false"][data-indigo-sidepanel-pinned="true"] & {
        color: _color("primary", normal);
        background-image: url(../images/tabs-pages-dark@X2.png); /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 8 */
    }
}

div[role="combobox"].toolbar-itemsgroup-languageswitcher {
    position: fixed;
    right: auto;
    left: 95px !important;
    top: 69px !important;

    body[data-indigo-gwt-side-panel="open"] .x-viewport-editmode & {
        right: auto;
        left: 115px !important;
        top: 69px !important;
    }

    body[data-multiselect="on"]:not([data-indigo-gwt-side-panel="open"]) & {
        display: none;
    }

    pointer-events: all;
    z-index: $ZINDEX--MAINMODULE--LANGUAGE_SWITCHER;
    transition: left 0.2s ease-in 0s;

    body[data-indigo-app="contribute"] & {
        margin-right: 0 !important;
        right: 13px;
        left: auto !important;
        top: 20px !important;
    }

    input {
        background: transparent;
        font-size: 14px;
        padding: 0 17px 0 0 !important;
        box-shadow: none;

        &:hover {
            background: inherit;
            box-shadow: none;
            color: _color("white", normal);
        }
    }

    img {
        width: 15px !important;
        background: url(../images/expanded-white.png) no-repeat left center transparent !important; /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 9 */
        background-size: 14px !important;
    }

    body[data-indigo-gwt-side-panel="open"] .x-viewport-editmode & {
        right: auto !important;
        left: _theme($SIDE-PANEL--LANGUAGE-SWITCHER---LEFT) !important;
        top: _theme($SIDE-PANEL--LANGUAGE-SWITCHER---TOP) !important;

        input {
            color: _theme($SIDE-PANEL-OPEN--COMBO-COLOR, $SIDE-PANEL);
        }

        img {
            background-image: url(_theme($SIDE-PANEL-OPEN--COMBO-ARROW, $SIDE-PANEL)) !important; /* OPTIMISE URL ::: css/app/edit-contribute/_header.scss ::: 10 */
        }
    }


    body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtPagesTab"] &,
    body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtCreateContentTab"] &,
    body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtContentBrowseTab"] &,
    body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtFileImagesBrowseTab"] &,
    body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtSearchTab"] &,
    body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtCategoryBrowseTab"] & {
        left: 124px !important;
    }

    body[data-sitesettings="false"][data-indigo-sidepanel-pinned="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtSettingsTab"] & {
        left: 124px !important;
    }
}
