#bodywrapper #navigationN1-2 ul {
margin:0;
padding:0;
font-size:0.85em;
line-height:1.4em
}
#bodywrapper #navigationN1-2 li {
list-style:none;
float:left;
padding:0 1em;
border-right:1px dashed #ccc
}
#bodywrapper #navigationN1-2 li.lastInLevel {
border-right:none
}
#bodywrapper #navigationN1-2 li a,
#bodywrapper #navigationN1-2 li a:link,
#bodywrapper #navigationN1-2 li a:visited
{
	text-decoration:none;
}
#bodywrapper #navigationN1-2 li a:hover,
#bodywrapper #navigationN1-2 li a:active {
	text-decoration:underline;
}
#bodywrapper #navigationN1-2 li.selected {

}


