

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	margin: 10px;
	color: #838383;
	background-color: #336699;
}

#poweredby {
	color: #3E77B0;
}

td,th {
	font-size: 12px;
}

h3 {
	font-size: 16px;
}

h3,a {
	color: #398EC3;
	text-decoration: none;
	font-weight: bold;
}

.version {
	float: right;
	text-align: right;
	font-size: 9px;
	vertical-align: bottom;
}

#copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #838383;
}

.greyed {
	color: #aaaaaa;
	font-weight: bold;
	background-color: #EEEEdd;
}

.crons {
	color: #bbccbb;
	background-color: #ddEEdd;
}

.button {
    display: inline;
}

.button a:link,
.button a:visited,
.button div.clicked,
.button div.disabledButton {
    text-decoration: none;
    border: 1px solid;
    font-size: 11px;
    cursor: default;
    font-style: normal;
    padding: 5px 5px 5px 5px;
    margin-left: 6px;
    font-weight: bold;
    height: 24px;
    display: inline;
}

.button a:link,
.button a:visited,
.button div.clicked {
    color: black;
    border-color: #D0D0D0 #555555 #555555 #D0D0D0;
    background-image: url( ../css/bg_button_up.gif );
}

.button div.disabledButton {
    color: #a1a192;
    background-color: #f5f4ea;
    border-color: #a1a192 #a1a192 #a1a192 #a1a192;
}

.button a:focus,
.button a:hover {
    border-top: 1px solid;
    border-right: 2px solid;
    border-left: 1px solid;
    border-bottom: 2px solid;
    border-color: #D0D0D0 #555555 #555555 #D0D0D0;
    cursor: default;
    margin-left: 5px;
    height: 24px;
}

.button a:active {
    background-image: url( ../css/bg_button_down.gif );
    border: 1px solid;
    border-color: #555555 #D0D0D0 #D0D0D0 #555555;
    cursor: default;
    margin-left: 6px;
}