<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
    <bean id="org.jahia.operations.valves.SkeletonAggregatorValve" class="org.jahia.operations.valves.SkeletonAggregatorValve">
        <property name="cacheKeyGeneratorService" ref="CacheKeyGeneratorService"/>
        <property name="eventService" ref="JahiaEventService"/>
        <property name="generatorQueue" ref="org.jahia.operations.PageGeneratorQueue" />
    </bean>
                
    <bean id="processPipeline" class="org.jahia.pipelines.impl.GenericPipeline">
        <property name="name" value="processPipeline" />
        <property name="valves">
            <list>
                <bean class="org.jahia.operations.valves.EngineValve" >
                    <property name="generatorQueue" ref="org.jahia.operations.PageGeneratorQueue" />
                    <property name="skeletonAggregatorValve" ref="org.jahia.operations.valves.SkeletonAggregatorValve"/>
                </bean>
                <bean class="org.jahia.operations.valves.ResponseOutputValve" />
            </list>
        </property>
    </bean>

</beans>