<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="MailService" parent="proxyTemplate">
        <property name="target">
            <bean class="org.jahia.services.mail.MailServiceImpl" parent="jahiaServiceTemplate">
                <property name="backgroundTaskPeriod" value="10000"/>
                <property name="mailQueueMaxLength" value="1000"/>
            </bean>
        </property>
    </bean>
    
    <bean id="SubscriptionService" parent="proxyTemplate">
        <property name="target">
            <bean class="org.jahia.services.notification.SubscriptionService" parent="jahiaServiceTemplate" factory-method="getInstance">
                <property name="subscriptionManager" ref="org.jahia.hibernate.manager.SubscriptionManager"/>
                <property name="mailService" ref="MailService"/>
            </bean>
        </property>
    </bean>

    <bean id="EmailNotificationEventHandlerTemplate" class="org.jahia.services.notification.EmailNotificationEventHandler" abstract="true">
        <property name="mailService" ref="MailService"/>
    </bean>

    <bean id="NotificationService" parent="proxyTemplate">
        <property name="target">
            <bean class="org.jahia.services.notification.NotificationService" parent="jahiaServiceTemplate" factory-method="getInstance">
                <property name="subscriptionService" ref="SubscriptionService"/>
                <property name="handlers">
                    <list>
                        <bean class="org.jahia.services.notification.EmailNotificationEventHandler" parent="EmailNotificationEventHandlerTemplate">
                            <property name="ignoreEventTypesPattern" value="workflow.*"/>
                            <property name="ignoreEventTypes">
                                 <set>
                                     <value>newsletter</value>
                                 </set>
                             </property>
                        </bean>
                        <bean class="org.jahia.services.notification.WorkflowNotificationEventHandler" parent="EmailNotificationEventHandlerTemplate">
                            <property name="processEventTypesPattern" value="workflow.*"/>
                        </bean>
                        <bean class="org.jahia.services.notification.NewsletterNotificationEventHandler" parent="EmailNotificationEventHandlerTemplate">
                            <property name="processEventTypes">
                                <set>
                                    <value>newsletter</value>
                                </set>
                            </property>
                        </bean>                        
                    </list>
                </property>
            </bean>
        </property>
    </bean>
</beans>
