<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="jahiaWorkflowConfig" class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="sourceMap">
			<map>
            	<entry key="two_validation_step_workflow">
                	<list>
                    	<value>notify</value>
                        <value>publish</value>
                    </list>
                </entry>
                <entry key="three_validation_step_workflow">
					<list>
                    	<value>notify</value>
                        <value>first_validate</value>
                        <value>publish</value>
                    </list>
                </entry>
                <entry key="four_validation_step_workflow">
                	<list>
                    	<value>notify</value>
                        <value>first_validate</value>
                        <value>second_validate</value>
                        <value>publish</value>
                    </list>
                </entry>
            </map>
        </property>
    </bean>


</beans>
