<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="JahiaACLManagerService" parent="proxyTemplate">
        <property name="target">
            <bean class="org.jahia.services.acl.JahiaACLManagerService" parent="jahiaServiceTemplate" factory-method="getInstance">
                <property name="cacheService" ref="JahiaCacheService" />
                <property name="aclManager" ref="org.jahia.hibernate.manager.JahiaAclManager" />
                <property name="aclNameManager" ref="org.jahia.hibernate.manager.JahiaAclNameManager" />
                <!-- The lists below are used to force creation of the permissions for a site and the server, because we need the
                     complete list when entering the administration UI
                     For the site list, a "*" character is used as a wild card character specifying that the site ID should be
                     replaced when checking this permission's existence.
                     The lists are grouped by "key" in order to have a more logical view of the
                     permissions, as the lists can become quite long. These groups are for the
                     moment only used for GUI purposes.
                     The default value for the permissions upon creation are specified
                     in the bean org.jahia.hibernate.manager.JahiaAclNameManager below
                -->
                <property name="sitePermissionsMap">
                    <map>
                        <entry key="administration">
                            <list>
                                <value>org.jahia.actions.sites.*.admin.JahiaAdministration</value>
                                <value>org.jahia.actions.sites.*.admin.pages.ManagePages</value>
                                <value>org.jahia.actions.sites.*.admin.users.ManageUsers</value>
                                <value>org.jahia.actions.sites.*.admin.users.ManageGroups</value>
                                <value>org.jahia.actions.sites.*.admin.templates.ManageTemplates</value>
                                <value>org.jahia.actions.sites.*.admin.languages.ManageSiteLanguages</value>
                                <value>org.jahia.actions.sites.*.admin.production.ManageSiteProduction</value>
                                <value>org.jahia.actions.sites.*.admin.permissions.ManageSitePermissions</value>
                            </list>
                        </entry>
                        <entry key="data">
                            <list>
                                <value>org.jahia.actions.sites.*.engines.metadata.Metadata_Engine</value>
                                <value>org.jahia.actions.sites.*.engines.rights.ManageRights</value>
                                <value>org.jahia.actions.sites.*.engines.timebasedpublishing.TimeBasedPublishingEngine</value>
                                <value>org.jahia.actions.sites.*.engines.content.Edit</value>
                                <value>org.jahia.actions.sites.*.engines.containerlistproperties.FieldRightsEngine</value>
                            </list>
                        </entry>
                        <entry key="tools">
                            <list>
                                <value>org.jahia.actions.sites.*.engines.importexport.ManageContentPicker</value>
                                <value>org.jahia.actions.sites.*.engines.versioning.PagesVersioningAction</value>
                                <value>org.jahia.actions.sites.*.engines.importexport.ManageImport</value>
                                <value>org.jahia.actions.sites.*.engines.importexport.ManageExport</value>
                                <!--<value>org.jahia.actions.sites.*.engines.contentdefinition.ContentDefinitionEngine</value>-->
                                <value>org.jahia.actions.sites.*.engines.workflow.ManageWorkflow</value>
                                <value>org.jahia.actions.sites.*.engines.audit.ManageLogs_Engine</value>
                                <value>org.jahia.actions.sites.*.engines.filemanager</value>
                                <value>org.jahia.actions.sites.*.engines.mashupmanager</value>
                                <value>org.jahia.actions.sites.*.extensions.linkchecker</value>
                            </list>
                        </entry>
                        <entry key="actions">
                            <list>
                                <value>org.jahia.actions.sites.*.engines.actions.add</value>
                                <value>org.jahia.actions.sites.*.engines.actions.update</value>
                                <value>org.jahia.actions.sites.*.engines.actions.delete</value>
                                <value>org.jahia.actions.sites.*.engines.actions.copy</value>
                                <value>org.jahia.actions.sites.*.engines.actions.paste</value>
                                <value>org.jahia.actions.sites.*.engines.actions.editMode</value>
                                <value>org.jahia.actions.sites.*.engines.actions.publishAll</value>
                                <value>org.jahia.actions.sites.*.engines.actions.immediateCron</value>
                                <value>org.jahia.actions.sites.*.engines.actions.urlKey</value>
                                <value>org.jahia.actions.sites.*.engines.actions.hideFromNavigationMenu</value>
                            </list>
                        </entry>
                        <entry key="languages">
                            <!-- the list will be populated dynamically based on the virtual site languages -->
                            <list/>
                        </entry>
                        <entry key="toolbars">
                            <!-- the list will be populated dynamically based on the virtual site toolbars -->
                            <list/>
                        </entry>
                        <entry key="htmlsettings">
                            <list>
                                <value>org.jahia.actions.sites.*.htmlsettings.toolbar.Full</value>
                                <value>org.jahia.actions.sites.*.htmlsettings.toolbar.Default</value>
                                <value>org.jahia.actions.sites.*.htmlsettings.toolbar.Basic</value>
                            </list>
                        </entry>
                        <entry key="integrity">
                            <list>
                                <value>org.jahia.actions.sites.*.integrity.LinkIntegrity</value>
                                <value>org.jahia.actions.sites.*.integrity.WaiCompliance</value>
                            </list>
                        </entry>
                    </map>
                </property>
                <property name="serverPermissionsMap">
                    <map>
                        <entry>
                            <key><value>administration</value></key>
                            <list>
                                <value>org.jahia.actions.server.admin.info.LicenseInfo</value>
                                <value>org.jahia.actions.server.admin.sites.ManageSites</value>
                                <value>org.jahia.actions.server.admin.categories.ManageCategories</value>
                                <value>org.jahia.actions.server.admin.server.ManageServer</value>
                                <value>org.jahia.actions.server.admin.database.ManageDatabase</value>
                                <value>org.jahia.actions.server.admin.audit.ManageLogs</value>
                                <value>org.jahia.actions.server.admin.users.ManageSuperAdminProps</value>
                                <value>org.jahia.actions.server.admin.status.ManageStatus</value>
                                <value>org.jahia.actions.server.admin.htmleditors.HtmlEditorsAdmin</value>
                                <value>org.jahia.actions.server.admin.permissions.ManageServerPermissions</value>
                                <value>org.jahia.actions.server.admin.components.ManageShareComponents</value>
                                <value>org.jahia.actions.server.admin.pwdpolicy.ManagePasswordPolicies</value>
                                <value>org.jahia.actions.server.admin.clipBuilder.MenuBuilderAction</value>
                            </list>
                        </entry>
                    </map>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="org.jahia.hibernate.manager.JahiaAclNameManager" parent="txProxyTemplate">
        <property name="target">
            <bean class="org.jahia.hibernate.manager.JahiaAclNameManager">
                <property name="aclNamesDao" ref="jahiaAclNamesDAO" />
                <property name="aclDao" ref="jahiaAclDAO" />
                <property name="aclNamesDefaultEntries">
                    <map>
                        <entry key="org.jahia.actions.sites.*.engines">
                          <map>
                            <entry key="g:users:0" value="RWA"/>
                          </map>
                        </entry>
                        <entry key="org.jahia.actions.sites.*.toolbar">
                          <map>
                            <entry key="g:users:0" value="RWA"/>
                          </map>
                        </entry>
                        <entry key="org.jahia.actions.sites.*.toolbar.subscriptions">
                          <map/>
                        </entry>
                        <entry key="org.jahia.actions.sites.*.htmlsettings.toolbar.Full">
                            <map/>
                        </entry>
                        <entry key="org.jahia.actions.sites.*.htmlsettings.toolbar.Basic">
                            <map>
                               <entry key="g:users:0" value="R"/>
                            </map>
                        </entry>
                        <entry key="org.jahia.actions.sites.*.engines.actions.publishAll">
                            <map/>
                        </entry>
                        <entry key="org.jahia.actions.sites.*.htmlsettings.toolbar.Light">
                            <map>
                               <entry key="g:users:0" value="R"/>
                            </map>
                        </entry>
                        <entry key="org.jahia.actions.sites.*.integrity">
                            <map/>
                        </entry>
                    </map>
                </property>
            </bean>
        </property>
    </bean>

</beans>