<?xml version="1.0" encoding="UTF-8"?>

<!--
  Application context definition.
	-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->

	<!-- CONFIG -->
	<bean id="eventListenerBean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces" value="org.jahia.data.events.JahiaEventListenerInterface" />
		<property name="target">
			<ref local="eventListenerTarget"/>
		</property>
		<property name="interceptorNames">
			<list>
				<value>metadataEventListenerAdvisor</value>
				<!--
				<value>pageEventListener</value>
				<value>fieldEventListener</value>
				-->
			</list>
		</property>
	</bean>
	
	<!-- CLASS -->
	<bean id="eventListenerTarget" class="org.jahia.data.events.JahiaEventListener"/>
	
	<!-- ADVISOR -->
	<bean id="metadataEventListenerAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="metadataAdvice"/>
		</property>
		<property name="patterns">
			<list>
				<value>org\.jahia\.data\.events\.JahiaEventListenerInterface\..*</value>
			</list>
		</property>
	</bean>
	
	<!-- ADVICE -->
	<bean id="metadataAdvice" class="org.jahia.services.metadata.MetadataAdvice">
    <property name="useAggregated"><value>true</value></property>
		<property name="eventsNotSupportingAggregateMode">
			<list>
				<value>metadataEngineAfterInit</value>
				<value>metadataEngineBeforeSave</value>
				<value>contentActivation</value>
				<value>containerUpdated</value>
			</list>
		</property>
		<property name="listenersMap">
			<map>
				<entry key="metadataEngineAfterInit">
					<list>
						<ref bean="contentCreationDateListener"/>
						<ref bean="contentCreatorListener"/>
						<ref bean="contentLastContributorListener"/>
						<ref bean="contentLastModificationDateListener"/>
					</list>
				</entry>
				<entry key="metadataEngineBeforeSave">
					<list>
						<ref bean="contentLastContributorListener"/>
						<ref bean="contentLastModificationDateListener"/>
					</list>
				</entry>
				<entry key="contentActivation">
					<list>
						<ref bean="contentLastPublisherListener"/>
						<ref bean="contentLastPublishingDateListener"/>
					</list>
				</entry>
				<entry key="contentObjectCreated">
					<list>
						<ref bean="contentCreatorListener"/>
						<ref bean="contentCreationDateListener"/>
						<ref bean="contentLastContributorListener"/>
						<ref bean="contentLastModificationDateListener"/>
					</list>
				</entry>
				<entry key="objectChanged">
					<list>
              <ref bean="contentLastContributorListener"/>
              <ref bean="contentLastModificationDateListener"/>
					</list>
				</entry>
				<entry key="containerUpdated">
					<list>
              <ref bean="contentLastContributorListener"/>
              <ref bean="contentLastModificationDateListener"/>
					</list>
				</entry>
				</map>
		</property>
	</bean>
	
	<!-- Metadata event listener bean -->
	<bean id="contentCreationDateListener" class="org.jahia.services.metadata.core.listeners.ContentCreationDateListener">
		<property name="metadataName" value="created" />
	</bean>
	<bean id="contentCreatorListener" class="org.jahia.services.metadata.core.listeners.ContentCreatorListener">
		<property name="metadataName" value="createdBy" />
	</bean>
	<bean id="contentLastContributorListener" class="org.jahia.services.metadata.core.listeners.ContentLastContributorListener">
		<property name="metadataName" value="lastModifiedBy" />
		<property name="updateTimeMinInterval" value="5000" />
	</bean>
	<bean id="contentLastModificationDateListener" class="org.jahia.services.metadata.core.listeners.ContentLastModificationDateListener">
		<property name="metadataName" value="lastModified" />
		<property name="updateTimeMinInterval" value="5000" />
	</bean>
	<bean id="contentLastPublisherListener" class="org.jahia.services.metadata.core.listeners.ContentLastPublisherListener">
		<property name="metadataName" value="lastPublisher" />
	</bean>
	<bean id="contentLastPublishingDateListener" class="org.jahia.services.metadata.core.listeners.ContentLastPublishingDateListener">
		<property name="metadataName" value="lastPublishingDate" />
	</bean>
	
</beans>
