<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean class="org.jahia.services.render.RenderService$RenderServiceBeanPostProcessor"/>

    <bean id="RenderService" parent="proxyTemplate">
        <property name="target">
            <bean class="org.jahia.services.render.RenderService" parent="jahiaServiceTemplate" factory-method="getInstance">
                <property name="storeService" ref="JCRStoreService" />
                <property name="templateManagerService" ref="JahiaTemplateManagerService" />
                <property name="scriptResolvers">
                    <list>
                        <bean class="org.jahia.services.render.scripting.FileSystemScriptResolver">
                            <property name="scriptExtensionsOrdering">
                                <list>
                                    <value>jsp</value>
                                    <value>groovy</value>
                                    <value>js</value>
                                    <value>php</value>
                                    <value>vm</value>
                                    <value>fm</value>
                                </list>
                            </property>
                        </bean>
                    </list>
                </property>
                <property name="filters" >
                    <list>
                        <bean class="org.jahia.services.render.filter.portlet.PlutoProcessActionFilter">
                            <property name="priority" value="-3" />
                            <property name="applyOnConfigurations" value="page"/>
                        </bean>
                        <!--
                        <bean class="org.jahia.services.render.filter.SourceFormatterFilter" >
                            <property name="priority" value="-2" />
                            <property name="applyOnModes" value="live,preview" />
                            <property name="applyOnConfigurations" value="page"/>
                            <property name="applyOnTemplateTypes" value="html,edit"/>
                        </bean>
                         -->
                        <bean class="org.jahia.services.render.filter.ExternalizeHtmlFilter">
                            <property name="priority" value="-1" />
                            <property name="applyOnModes" value="live,preview" />
                            <property name="applyOnConfigurations" value="page"/>
                            <property name="htmlExternalizationService" ref="HtmlExternalizationService"/>
                        </bean>
                        <bean class="org.jahia.services.render.filter.StaticAssetsFilter" >
                            <property name="priority" value="0" />
                            <property name="applyOnConfigurations" value="page"/>
                            <property name="applyOnTemplateTypes" value="html,edit"/>
                        </bean>
                        <bean class="org.jahia.services.render.filter.WrapperFilter" >
                            <property name="priority" value="17" />
                            <property name="wrapper" value="wrapper.fullpage" />
                            <property name="applyOnConfigurations" value="page"/>
                            <property name="skipOnAJaxRequest" value="true"/>
                        </bean>
                        <bean class="org.jahia.services.render.filter.WrapperFilter" >
                            <property name="priority" value="18" />
                            <property name="wrapper" value="wrapper.previewwrapper" />
                            <property name="applyOnConfigurations" value="preview"/>
                            <property name="skipOnAJaxRequest" value="true"/>
                        </bean>

                        <bean class="org.jahia.services.render.filter.MetricsLoggingFilter" >
                            <property name="priority" value="3" />
                            <property name="loggingService" ref="loggingService"/>
                            <property name="skipOnConfiguration" value="include,wrapper"/>
                        </bean>

                        <bean class="org.jahia.services.render.filter.ContributionFilter" >
                            <property name="priority" value="5" />
                            <property name="applyOnModes" value="contribution" />
                            <property name="applyOnNodeTypes" value="jmix:contributeMode"/>
                            <property name="skipOnConfiguration" value="include,wrapper"/>
                        </bean>
                        <bean class="org.jahia.services.render.filter.UserAgentFilter" >
                            <property name="priority" value="6" />
                            <property name="applyOnModes" value="live,preview" />
                            <property name="userAgentMatchingRules">
                                <map>
                                    <entry key=".*iPhone.*" value="iphone" />
                                    <entry key=".*iPod.*" value="iphone" />
                                </map>
                            </property>
                        </bean>

                        <bean class="org.jahia.services.render.filter.BaseAttributesFilter" >
                            <property name="priority" value="15" />
                        </bean>

                        <bean class="org.jahia.services.render.filter.URLFilter" >
                        	<constructor-arg ref="org.jahia.services.render.filter.URLTraverser"/>
                            <property name="priority" value="21" />
                            <property name="applyOnConfigurations" value="page,gwt,module"/>
                            <property name="handlers">
                            	<list>
                            		<bean class="org.jahia.services.render.filter.ContextPlaceholdersReplacer"/>
                            		<bean class="org.jahia.services.seo.filter.VanityUrlSetter">
               		                    <property name="vanityUrlService" ref="org.jahia.services.seo.jcr.VanityUrlService"/>
                            		</bean>
                            	</list>
                            </property>
                        </bean>
                        <bean class="org.jahia.services.render.filter.TemplateNodeFilter" >
                            <property name="priority" value="22" />
                            <property name="applyOnConfigurations" value="wrappedcontent,page,gwt"/>
                            <property name="applyOnTemplateTypes" value="html,edit"/>
                            <property name="skipOnAJaxRequest" value="true"/>
                        </bean>

                        <bean class="org.jahia.services.render.filter.TemplatePermissionCheckFilter" >
                            <property name="priority" value="28" />
                            <property name="skipOnConfiguration" value="include,wrapper"/>
                        </bean>
                        <bean class="org.jahia.services.render.filter.TemplateAttributesFilter" >
                            <property name="priority" value="30" />
                        </bean>
                        <bean class="org.jahia.services.render.filter.WrapperFilter" >
                            <property name="priority" value="40" />
                            <property name="skipOnConfiguration" value="include,wrapper"/>
                            <property name="skipOnAJaxRequest" value="true"/>
                        </bean>
                        <bean class="org.jahia.services.render.filter.analytics.GoogleAnalyticsFilter">
                            <property name="applyOnNodeTypes" value="jmix:googleanalytics"/>
                            <property name="skipOnConfiguration" value="include,wrapper"/>
                            <property name="priority" value="98" />
                        </bean>
                        <bean class="org.jahia.services.render.filter.TemplateScriptFilter" >
                            <property name="priority" value="99" />
                        </bean>
                    </list>
                </property>
            </bean>
        </property>

    </bean>

    <bean id="org.jahia.services.render.filter.URLTraverser" class="org.jahia.services.render.filter.HtmlTagAttributeTraverser">
    	<constructor-arg>
    		<map>
    			<entry key="a">
    				<set><value>href</value></set>
    			</entry>
    			<entry key="embed">
    				<set><value>src</value></set>
    			</entry>
    			<entry key="img">
    				<set><value>src</value></set>
    			</entry>
    			<entry key="param">
    				<set><value>value</value></set>
    			</entry>
    		</map>
    	</constructor-arg>
    </bean>

    <bean id="org.jahia.services.render.StaticAssetMappingRegistry" class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="sourceMap">
            <map/>
        </property>
    </bean>

</beans>
