<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>
     <!-- Generic provider: JCR -->
     <bean id="org.jahia.preferences.provider.simple" class="org.jahia.services.preferences.impl.JahiaPreferencesJCRProviders">
        <property name="providerType" value="simple"/>
        <property name="preferenceClass" value="org.jahia.services.preferences.generic.GenericJahiaPreference"/>
        <property name="nodeType" value="jnt:simplePreference"/>
    </bean>

     <!-- Pageprovider: JCR -->
     <bean id="org.jahia.preferences.provider.page" class="org.jahia.services.preferences.impl.JahiaPreferencesJCRProviders">
        <property name="providerType" value="page"/>
        <property name="preferenceClass" value="org.jahia.services.preferences.page.PageJahiaPreference"/>
        <property name="nodeType" value="jnt:pagePreference"/>
    </bean>

    <!-- Layout manager provider: JCR -->
    <bean id="org.jahia.preferences.provider.layoutmanager" class="org.jahia.services.preferences.impl.JahiaPreferencesJCRProviders">
        <property name="providerType" value="layoutmanager"/>
        <property name="preferenceClass" value="org.jahia.services.preferences.layoutmanager.LayoutmanagerJahiaPreference"/>
        <property name="nodeType" value="jnt:layoutItemPreference"/>
    </bean>

    <!-- Toolbar provider: JCR -->
    <bean id="org.jahia.preferences.provider.toolbar" class="org.jahia.services.preferences.impl.JahiaPreferencesJCRProviders">
        <property name="providerType" value="toolbar"/>
        <property name="preferenceClass" value="org.jahia.services.preferences.toolbar.ToolbarJahiaPreference"/>
        <property name="nodeType" value="jnt:toolbarPreference"/>
    </bean>

    <!-- bookmarks provider: JCR -->
    <bean id="org.jahia.preferences.provider.bookmarks" class="org.jahia.services.preferences.impl.JahiaPreferencesJCRProviders">
        <property name="providerType" value="bookmarks"/>
        <property name="preferenceClass" value="org.jahia.services.preferences.bookmarks.BookmarksJahiaPreference"/>
        <property name="nodeType" value="jnt:bookmarkPreference"/>
    </bean>

    <!-- portlet provider: JCR -->
    <bean id="org.jahia.preferences.provider.portlet" class="org.jahia.services.preferences.impl.JahiaPreferencesJCRProviders">
        <property name="providerType" value="portlet"/>
        <property name="preferenceClass" value="org.jahia.services.applications.pluto.JahiaPortletPreference"/>
        <property name="nodeType" value="jnt:portletPreference"/>
    </bean>

</beans>
