<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="queryLastFirstPublishedContents" class="org.jahia.services.audit.LastFirstPublishedContent"
          scope="prototype">
        <property name="objectTypes">
            <list>
                <value type="java.lang.Integer">2</value><!-- containers -->
                <value type="java.lang.Integer">4</value><!-- pages -->
            </list>
        </property>                    
    </bean>
    <bean id="queryLastFirstPublishedContainers" class="org.jahia.services.audit.LastFirstPublishedContent"
          scope="prototype">
        <property name="objectTypes">
            <list>
                <value type="java.lang.Integer">2</value>
            </list>
        </property>                    
    </bean>
    <bean id="queryLastFirstPublishedPages" class="org.jahia.services.audit.LastFirstPublishedContent" scope="prototype">
        <property name="objectTypes">
            <list>
                <value type="java.lang.Integer">4</value>
            </list>
        </property>                    
    </bean>

    <bean id="queryLastPublishedContents" class="org.jahia.services.audit.LastPublishedContent" scope="prototype">
        <property name="objectTypes">
            <list>
                <value type="java.lang.Integer">2</value><!-- containers -->
                <value type="java.lang.Integer">4</value><!-- pages -->
            </list>
        </property>                    
    </bean>

    <bean id="queryLastPublishedContainers" class="org.jahia.services.audit.LastPublishedContent" scope="prototype">
        <property name="objectTypes">
            <list>
                <value type="java.lang.Integer">2</value><!-- containers -->
            </list>
        </property>                    
    </bean>

</beans>