<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.jahia.services.render.RenderService$RenderServiceBeanPostProcessor"/>

	<bean id="RenderService" class="org.jahia.services.render.RenderService" factory-method="getInstance">
		<property name="templateManagerService" ref="JahiaTemplateManagerService" />
		<property name="scriptResolvers">
			<list>
				<bean class="org.jahia.services.render.scripting.FileSystemScriptResolver">
					<property name="scriptExtensionsOrdering">
						<list>
							<value>jsp</value>
							<value>groovy</value>
							<value>js</value>
							<value>php</value>
							<value>vm</value>
							<value>fm</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<bean
		class="org.jahia.services.render.filter.portlet.PlutoProcessActionFilter">
		<property name="priority" value="-3" />
		<property name="applyOnConfigurations" value="page" />
	</bean>
	<!--
	<bean class="org.jahia.services.render.filter.SourceFormatterFilter">
		<property name="priority" value="-2" />
		<property name="applyOnModes" value="live,preview" />
		<property name="applyOnConfigurations" value="page" />
		<property name="applyOnTemplateTypes" value="html,edit" />
	</bean>
	-->
	<bean class="org.jahia.services.render.filter.ExternalizeHtmlFilter">
		<property name="priority" value="-1" />
		<property name="applyOnModes" value="live,preview" />
		<property name="applyOnConfigurations" value="page" />
		<property name="htmlExternalizationService" ref="HtmlExternalizationService" />
	</bean>
	<bean class="org.jahia.services.render.filter.StaticAssetsFilter">
		<property name="priority" value="0" />
		<property name="applyOnConfigurations" value="page" />
		<property name="applyOnTemplateTypes" value="html,edit" />
        <property name="scriptEngineUtils" ref="scriptEngineUtils"/>
        <property name="ajaxTemplate" value="/modules/assets/WEB-INF/scripts/ajaxResources.groovy"/>
        <property name="template" value="/modules/assets/WEB-INF/scripts/resources.groovy"/>
	</bean>
	<bean class="org.jahia.services.render.filter.MetricsLoggingFilter">
		<property name="priority" value="3" />
		<property name="loggingService" ref="loggingService" />
		<property name="skipOnConfiguration" value="include,wrapper" />
	</bean>
    <bean
        class="org.jahia.services.render.filter.AreaResourceFilter">
        <property name="applyOnNodeTypes" value="jnt:area,jmix:list,jnt:mainResourceDisplay" />
        <property name="applyOnConfigurations" value="module,wrappedcontent" />
        <property name="priority" value="4" />
    </bean>

	<bean class="org.jahia.services.render.filter.UserAgentFilter">
		<property name="priority" value="6" />
		<property name="applyOnModes" value="live,preview" />
		<property name="userAgentMatchingRules">
			<map>
				<entry key=".*iPhone.*" value="iphone" />
				<entry key=".*iPod.*" value="iphone" />
			</map>
		</property>
	</bean>

	<bean class="org.jahia.services.render.filter.BaseAttributesFilter">
		<property name="priority" value="15" />
	</bean>
	<bean
		class="org.jahia.services.render.filter.URLSystemAttributesAppenderFilter">
		<property name="priority" value="20" />
		<property name="applyOnConfigurations" value="page" />
		<property name="applyOnTemplateTypes" value="html,edit" />
		<property name="skipOnAjaxRequest" value="true" />
		<property name="attributesToKeep">
			<list>
				<value type="java.lang.String">v</value>
				<value type="java.lang.String">l</value>
				<value type="java.lang.String">alias</value>
			</list>
		</property>
		<property name="traverser"
			ref="org.jahia.services.render.filter.URLTraverser" />
	</bean>
	<bean class="org.jahia.services.render.filter.URLFilter">
		<constructor-arg ref="org.jahia.services.render.filter.URLTraverser" />
		<property name="priority" value="21" />
		<property name="applyOnConfigurations" value="page,gwt,module" />
		<property name="handlers">
			<list>
				<bean class="org.jahia.services.render.filter.ContextPlaceholdersReplacer" />
				<bean class="org.jahia.services.seo.filter.VanityUrlSetter">
					<property name="vanityUrlService"
						ref="org.jahia.services.seo.jcr.VanityUrlService" />
				</bean>
                <bean class="org.jahia.services.render.filter.SiteParameterAdder" />
			</list>
		</property>
	</bean>

	<bean class="org.jahia.services.render.filter.TemplateNodeFilter">
		<property name="priority" value="22" />
		<property name="applyOnConfigurations" value="wrappedcontent,page,gwt" />
		<property name="applyOnTemplateTypes" value="html,edit" />
	</bean>

	<bean class="org.jahia.services.render.filter.TemplatePermissionCheckFilter">
		<property name="priority" value="28" />
	</bean>
	<bean class="org.jahia.services.render.filter.TemplateAttributesFilter">
		<property name="priority" value="30" />
	</bean>
	<bean class="org.jahia.services.render.filter.WrapperFilter">
		<property name="priority" value="40" />
		<property name="skipOnConfiguration" value="include,wrapper" />
		<property name="skipOnAjaxRequest" value="true" />
	</bean>
	<bean class="org.jahia.services.render.filter.TemplateScriptFilter">
		<property name="priority" value="99" />
	</bean>

    <bean id="org.jahia.services.render.filter.URLTraverser" class="org.jahia.services.render.filter.HtmlTagAttributeTraverser">
        <constructor-arg>
            <map>
                <entry key="a">
                    <set><value>href</value></set>
                </entry>
                <entry key="embed">
                    <set><value>src</value></set>
                </entry>
                <entry key="form">
                    <set><value>action</value></set>
                </entry>
                <entry key="img">
                    <set><value>src</value></set>
                </entry>
                <entry key="link">
                    <set><value>href</value></set>
                </entry>
                <entry key="param">
                    <set><value>value</value></set>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <bean id="gwtCssStyles" class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
            <list>
                <value>/gwt/resources/css/gwt.css</value>
            </list>
            <!-- comment out edit-all and uncomment the following CSS if you are in dev mode
            <list>
                <value>/gwt/resources/css/jahia-ext-all.css</value>
                <value>/gwt/resources/css/xtheme-jahia.css</value>
                <value>/gwt/resources/css/edit.css</value>
                <value>/gwt/resources/css/jahia-gwt-engines.css</value>
                <value>/gwt/resources/css/diff.css</value>
            </list>
            -->
        </property>
    </bean>
</beans>