<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- You can change here the cache implementation that Jahia will use, notably for it's HTML cache, internal
         caches. For DB caches, this is now managed by the Hibernate implementation, and is configured in the
         applicationcontext-hibernate.xml file.
    -->
    <!--bean id="org.jahia.services.cache.CacheProvider" class="org.jahia.services.cache.jboss.cache.TreeCacheProvider" /-->
    <!--bean id="org.jahia.services.cache.CacheProvider" class="org.jahia.services.cache.ehcache.EhCacheProvider" /-->
    <!-- For no cache use this provider -->
    <!--bean id="org.jahia.services.cache.CacheProvider" class="org.jahia.services.cache.dummy.DummyCacheProvider" /-->
    <bean id="org.jahia.services.cache.CacheProvider" class="org.jahia.services.cache.clusterservice.batch.BatchingClusterServiceCacheProvider">
        <property name="clusterService" ref="clusterService"/>
    </bean>
    <bean id="ehCacheProvider" class="org.jahia.services.cache.ehcache.EhCacheProvider">
        <!-- This property allows to fix a limit for cache entries dependencies management,
if an entry have more than this value of dependencies then
when we flush this entry we will flush the whole cache-->
        <!-- Configure WEB-INF/classes/ehcache-hibernate.xml to activate cluster-->
        <property name="groupsSizeLimit" value="100"/>
    </bean>
    <bean id="JahiaCacheService" parent="proxyTemplate">
        <property name="target">
            <bean class="org.jahia.services.cache.CacheFactory" parent="jahiaServiceTemplate" factory-method="getInstance" init-method="start">
                <property name="cacheProviders">
                    <map>
                        <entry key="DEFAULT_CACHE" value-ref="org.jahia.services.cache.CacheProvider"/>
                        <entry key="EH_CACHE" value-ref="ehCacheProvider"/>
                    </map>
                </property>
                <property name="cacheProviderForCache">
                    <map>
                        <entry key="SkeletonCache" value="EH_CACHE"/>
                        <entry key="ContainerHTMLCache" value="EH_CACHE"/>
                        <entry key="LockAlreadyAcquiredMap" value="EH_CACHE"/>
                        <entry key="LockPrerequisitesResultMap" value="EH_CACHE"/>
                        <entry key="WebdavCache" value="EH_CACHE"/>
                    </map>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="CacheKeyGeneratorService" parent="proxyTemplate">
        <property name="target">
            <bean class="org.jahia.services.cache.CacheKeyGeneratorService" parent="jahiaServiceTemplate" factory-method="getInstance">
                <property name="jahiaACLManagerService">
                    <ref bean="JahiaACLManagerService"/>
                </property>
                <property name="groupManagerService">
                    <ref bean="JahiaGroupManagerService"/>
                </property>
                <property name="cacheService">
                    <ref local="JahiaCacheService"/>
                </property>
            </bean>
        </property>
    </bean>

	<bean id="ResponseCacheControlFilter" class="org.jahia.bin.filters.ResponseCacheControlFilter">
		<!-- turns this filter on/off -->
		<property name="enabled" value="true"/>
		<!-- Expires should be the number of seconds from now when a given static resource should expire -->
		<property name="expires" value="2678400"/>
		<!--
			Never-Expires should be the number of seconds from now when a given static resource should expire.
            This option is used for resources that are never changed (e.g. GWT or those that contain a version number in the file name).
		-->
		<property name="neverExpires" value="31536000"/>
		<!--
            Regular expression pattern for resources, which should be cached by the browser by setting 'Expires'
            header to the configured value (see 'expires' property above).
		-->
		<property name="cachedResources" value=".*"/>
		<!--
            Regular expression pattern for resources, which should be cached forever (see 'neverExpires' property above).
            This condition takes precedence over the 'cachedResources' parameter.
		-->
		<property name="foreverCachedResources">
			<value>.*/gwt/.*\.cache\..*</value>
		</property>
		<!--
            Regular expression pattern of resources, for which no-cache headers will be set.
            This condition takes precedence over the 'foreverCachedResources' and 'cachedResources' properties.
		-->
		<property name="noCacheResources">
			<value>(.*/Jahia(/.*)?|.*/cms/.*|.*\.jsp(\?.*)?|.*/gwt/.*\.nocache\..*)</value>
		</property>
	</bean>
	
	<bean id="ModuleCacheProvider" class="org.jahia.services.render.filter.cache.ModuleCacheProvider">
        <property name="cacheProvider" ref="ehCacheProvider"/>
        <!-- Time to wait before going to render generation if someone is already asking for the same key put 0 for waiting forever-->
        <property name="blockingTimeout" value="5000"/>
        <property name="keyGenerator">
        	<bean class="org.jahia.services.render.filter.cache.DefaultCacheKeyGenerator">
                <property name="groupManagerService" ref="JahiaGroupManagerService"/>
                <property name="cacheProvider" ref="ehCacheProvider"/>
        	</bean>
        </property>
	</bean>
	
    <!--<bean id="cacheFilter" class="org.jahia.services.render.filter.cache.CacheFilter">
    	<property name="cacheProvider" ref="ModuleCacheProvider"/>
    </bean>-->
    <bean id="cacheFilter" class="org.jahia.services.render.filter.cache.AggregateCacheFilter">
    	<property name="cacheProvider" ref="ModuleCacheProvider"/>
    </bean>
    <bean id="mainResourceCacheFilter" class="org.jahia.services.render.filter.cache.CacheFilter" parent="cacheFilter">
        <property name="applyOnMainResource" value="true"/>
    </bean>

    <bean id="nonMainResourceCacheFilter" class="org.jahia.services.render.filter.cache.CacheFilter" parent="cacheFilter">
        <property name="skipOnMainResource" value="true"/>
    </bean>

</beans>
