<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jahiaShindigService" class="org.jahia.services.shindig.JahiaShindigService">
        <constructor-arg index="0" ref="JahiaUserManagerService" />
        <constructor-arg index="1" ref="jcrTemplate" />
    </bean>

</beans>