<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="clusterService" parent="proxyTemplate">
        <property name="target">
            <bean class="org.jahia.services.cluster.JGroupsClusterService" parent="jahiaServiceTemplate">
                <property name="activated" value="${cluster.activated}" />
                <property name="serverId" value="${cluster.node.serverId}" />
                <property name="channelGroupName" value="JahiaCluster" />
                <property name="channelProtocol" value="${cluster.communication.protocol}"/>
                <property name="channelPropertiesTcp">
                  <value>TCP_NIO(start_port=${cluster.tcp.service.port};bind_addr=${cluster.tcp.start.ip_address};loopback=true;recv_buf_size=20000000;send_buf_size=640000;discard_incompatible_packets=true;max_bundle_size=64000;max_bundle_timeout=30;use_incoming_packet_handler=true;enable_bundling=true;use_send_queues=false;sock_conn_timeout=300;skip_suspected_members=true;use_concurrent_stack=true):
TCPPING(initial_hosts=${cluster.tcp.service.nodes.ip_address};port_range=1;timeout=3000;num_initial_members=${cluster.tcp.num_initial_members}):
MERGE2(max_interval=100000;min_interval=20000):
FD_SOCK:
FD(timeout=10000;max_tries=5;shun=true):
VERIFY_SUSPECT(timeout=1500):
pbcast.NAKACK(gc_lag=100;retransmit_timeout=3000;discard_delivered_msgs=true):
pbcast.STABLE:
pbcast.GMS(join_timeout=5000;shun=true;print_local_addr=true):
VIEW_SYNC(avg_send_interval=60000):
FC(max_credits=2000000;min_threshold=0.10):
FRAG2(frag_size=60000)</value>
                </property>
                <property name="channelPropertiesUdp">
                  <value>UDP(mcast_addr=${cluster.service.multicast.ip_address};mcast_port=${cluster.service.multicast.port};ip_ttl=32;ip_mcast=true;mcast_send_buf_size=1000000;mcast_recv_buf_size=1000000):PING(timeout=2000;num_initial_members=2):MERGE2(min_interval=5000;max_interval=10000):FD_SOCK:VERIFY_SUSPECT(timeout=1500):pbcast.NAKACK(gc_lag=50;retransmit_timeout=300,600,1200,2400,4800):pbcast.STABLE(desired_avg_gossip=20000):UNICAST(timeout=5000):FRAG(frag_size=8096;down_thread=false;up_thread=false):pbcast.GMS(join_timeout=5000;join_retry_timeout=2000;shun=true;print_local_addr=true)</value>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="FileListSync" class="org.jahia.services.deamons.filewatcher.FileListSync" factory-method="getInstance">
        <property name="clusterService" ref="clusterService" />
        <property name="schedulerService" ref="SchedulerService" />
        <property name="syncDelay" value="10000" />
        <property name="syncUrl" value="http://${localIp}:8080" />
        <property name="pathsToSync">
            <set>
                <value>/templates</value>
                <value>/WEB-INF/classes/*.properties</value>
                <value>/WEB-INF/classes/*.class</value>
            </set>
        </property>
    </bean>

</beans>
