<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- Server settings administration modules -->

    <bean abstract="true" id="abstractAdministrationModule" class="org.jahia.admin.AbstractAdministrationModule" init-method="init">
        <property name="registry" ref="administrationModulesRegistry"/>
        <property name="serverModule" value="true"/>
        <property name="urlType" value="module" />
    </bean>


    <bean id="sitesAdministrationModule" class="org.jahia.admin.sites.ManageSites" parent="abstractAdministrationModule">
        <property name="urlKey" value="sites" />
        <property name="permissionName" value="admin.sites.ManageSites" />
        <property name="name" value="sites" />
        <property name="icon" value="environment" />
        <property name="label" value="org.jahia.admin.virtualSitesManagement.label" />
        <property name="urlAction" value="sites" />
        <property name="urlParams" value="&amp;sub=list" />
    </bean>

    <bean id="serverAdministrationModule" class="org.jahia.admin.server.ManageServer" parent="abstractAdministrationModule">
        <property name="urlKey" value="server" />
        <property name="permissionName" value="admin.server.ManageServer" />
        <property name="name" value="server" />
        <property name="icon" value="mail" />
        <property name="label" value="org.jahia.admin.emailSettings.label" />
        <property name="urlAction" value="server" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="componentsAdministrationModule" class="org.jahia.admin.components.ManageComponents" parent="abstractAdministrationModule">
        <property name="urlKey" value="sharecomponents" />
        <property name="permissionName" value="admin.components.ManageShareComponents" />
        <property name="name" value="components" />
        <property name="icon" value="application" />
        <property name="label" value="org.jahia.admin.manageComponents.label" />
        <property name="urlAction" value="sharecomponents" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="logsAdministrationModule" class="org.jahia.admin.audit.ManageLogs" parent="abstractAdministrationModule">
        <property name="urlKey" value="logs" />
        <property name="permissionName" value="admin.audit.ManageLogs" />
        <property name="name" value="logs" />
        <property name="icon" value="console_network" />
        <property name="label" value="org.jahia.admin.administrativeAuditLog.label" />
        <property name="urlAction" value="logs" />
        <property name="urlParams" value="&amp;sub=settings" />
    </bean>

    <bean id="rootUserAdministrationModule" class="org.jahia.admin.users.ManageUsers" parent="abstractAdministrationModule">
        <property name="urlKey" value="profile" />
        <property name="permissionName" value="admin.users.ManageSuperAdminProps" />
        <property name="name" value="profile" />
        <property name="icon" value="businessman2" />
        <property name="label" value="org.jahia.admin.editSuperAdminProperties.label" />
        <property name="urlAction" value="users" />
        <property name="urlParams" value="&amp;sub=superAdminProps" />
        <property name="userManager" ref="JahiaUserManagerService" />
    </bean>

    <bean id="statusAdministrationModule" class="org.jahia.admin.status.ManageStatus" parent="abstractAdministrationModule">
        <property name="urlKey" value="status" />
        <property name="permissionName" value="admin.status.ManageStatus" />
        <property name="name" value="status" />
        <property name="icon" value="line-chart" />
        <property name="label" value="org.jahia.admin.serverStatus.label" />
        <property name="urlAction" value="status" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="serverPermissionsAdministrationModule" class="org.jahia.admin.permissions.ManageServerPermissions" parent="abstractAdministrationModule">
        <property name="urlKey" value="serverPermissions" />
        <property name="permissionName" value="admin.permissions.ManageServerPermissions" />
        <property name="name" value="serverPermissions" />
        <property name="icon" value="policeman_usa" />
        <property name="label" value="org.jahia.admin.serverpermissions.mainMenu.label" />
        <property name="urlAction" value="serverPermissions" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="passwordPoliciesAdministrationModule" class="org.jahia.admin.pwdpolicy.ManagePasswordPolicies" parent="abstractAdministrationModule">
        <property name="urlKey" value="passwordPolicies" />
        <property name="permissionName" value="admin.pwdpolicy.ManagePasswordPolicies" />
        <property name="name" value="passwordPolicies" />
        <property name="icon" value="key1" />
        <property name="label" value="org.jahia.admin.passwordPolicies.mainMenu.label" />
        <property name="urlAction" value="passwordPolicies" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="patchesAdministrationModule" class="org.jahia.admin.patches.ManagePatches" parent="abstractAdministrationModule">
        <property name="urlKey" value="patches" />
        <property name="permissionName" value="admin.server.ViewPatches" />
        <property name="name" value="patches" />
        <property name="icon" value="package_view" />
        <property name="label" value="org.jahia.admin.patchmanagement.mainMenu.label" />
        <property name="urlAction" value="patches" />
        <property name="urlParams" value="" />
    </bean>

    <bean id="communityJiraAdministrationModule" class="org.jahia.admin.PlaceholderAdministrationModule" parent="abstractAdministrationModule">
        <property name="urlKey" value="community-jira" />
        <property name="name" value="community-jira" />
        <property name="icon" value="debug_view" />
        <property name="label" value="Issue tracking" />
        <property name="urlType" value="external" />
        <property name="urlAction" value="http://jira.jahia.org/" />
    </bean>
    <!--
    <bean id="enterpriseJiraAdministrationModule" class="org.jahia.admin.PlaceholderAdministrationModule" parent="abstractAdministrationModule">
        <property name="urlKey" value="enterprise-jira" />
        <property name="name" value="enterprise-jira" />
        <property name="icon" value="debug_view" />
        <property name="label" value="Issue tracking" />
        <property name="urlType" value="external" />
        <property name="urlAction" value="http://support.jahia.com/" />
    </bean>
    -->
    <bean id="jahiaPediaAdministrationModule" class="org.jahia.admin.PlaceholderAdministrationModule" parent="abstractAdministrationModule">
        <property name="urlKey" value="pedia" />
        <property name="name" value="pedia" />
        <property name="icon" value="books" />
        <property name="label" value="Jahiapedia" />
        <property name="urlType" value="external" />
        <property name="urlAction" value="http://www.jahia.org/cms/home/jahiapedia" />
    </bean>
    <!--
    <bean id="docsAdministrationModule" class="org.jahia.admin.PlaceholderAdministrationModule" parent="abstractAdministrationModule">
        <property name="urlKey" value="docs" />
        <property name="name" value="docs" />
        <property name="icon" value="books" />
        <property name="label" value="Documentation" />
        <property name="urlType" value="external" />
        <property name="urlAction" value="http://extranet.jahia.com/jahia/Jahia/documentation" />
    </bean>
    -->

    <bean id="infoAdministrationModule" class="org.jahia.admin.info.LicenseInfo" parent="abstractAdministrationModule">
        <property name="urlKey" value="info" />
        <property name="permissionName" value="admin.info.LicenseInfo" />
        <property name="name" value="info" />
        <property name="icon" value="about" />
        <property name="label" value="org.jahia.admin.aboutJahia.label" />
        <property name="urlAction" value="info" />
        <property name="urlParams" value="" />
    </bean>

    <!-- Site settings administration modules -->

    <bean id="pagesAdministrationModule" class="org.jahia.admin.pages.ManagePages" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="pages" />
        <property name="permissionName" value="admin.pages.ManagePages" />
        <property name="name" value="pages" />
        <property name="icon" value="server_document" />
        <property name="label" value="org.jahia.admin.pageSettings.label" />
        <property name="urlAction" value="pages" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="usersAdministrationModule" class="org.jahia.admin.users.ManageUsers" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="users" />
        <property name="permissionName" value="admin.users.ManageUsers" />
        <property name="name" value="users" />
        <property name="icon" value="user1_into" />
        <property name="label" value="org.jahia.admin.manageUsers.label" />
        <property name="urlAction" value="users" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="groupsAdministrationModule" class="org.jahia.admin.users.ManageGroups" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="groups" />
        <property name="permissionName" value="admin.users.ManageGroups" />
        <property name="name" value="groups" />
        <property name="icon" value="users_into" />
        <property name="label" value="org.jahia.admin.manageGroups.label" />
        <property name="urlAction" value="groups" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="templatesAdministrationModule" class="org.jahia.admin.templates.ManageTemplates" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="templates" />
        <property name="permissionName" value="admin.templates.ManageTemplates" />
        <property name="name" value="templates" />
        <property name="icon" value="briefcase_document" />
        <property name="label" value="org.jahia.admin.manageTemplates.label" />
        <property name="urlAction" value="templates" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="searchAdministrationModule" class="org.jahia.admin.search.ManageSearch" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="search" />
        <property name="permissionName" value="admin.search.ManageSearch" />
        <property name="name" value="search" />
        <property name="icon" value="find" />
        <property name="label" value="org.jahia.admin.manageSearchEngine.label" />
        <property name="urlAction" value="search" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="siteLanguagesAdministrationModule" class="org.jahia.admin.languages.ManageSiteLanguages" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="siteLanguages" />
        <property name="permissionName" value="admin.languages.ManageSiteLanguages" />
        <property name="name" value="languages" />
        <property name="icon" value="signpost" />
        <property name="label" value="org.jahia.admin.manageLanguages.label" />
        <property name="urlAction" value="siteLanguages" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="productionManagerAdministrationModule" class="org.jahia.admin.production.ManageSiteProduction" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="productionManager" />
        <property name="permissionName" value="admin.production.ManageSiteProduction" />
        <property name="name" value="export" />
        <property name="icon" value="transform" />
        <property name="label" value="org.jahia.admin.productionManager.label" />
        <property name="urlAction" value="productionManager" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="sitePermissionsAdministrationModule" class="org.jahia.admin.permissions.ManageSitePermissions" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="sitePermissions" />
        <property name="permissionName" value="admin.permissions.ManageSitePermissions" />
        <property name="name" value="sitePermissions" />
        <property name="icon" value="security_agent" />
        <property name="label" value="org.jahia.admin.sitepermissions.mainMenu.label" />
        <property name="urlAction" value="sitePermissions" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="htmlEditorsAdministrationModule" class="org.jahia.admin.PlaceholderAdministrationModule" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="htmlsettings" />
        <property name="permissionName" value="admin.htmleditors.HtmlEditorsAdmin" />
        <property name="name" value="htmlsettings" />
        <property name="icon" value="text_rich_colored" />
        <property name="label" value="org.jahia.admin.htmlsettings.label" />
        <property name="urlType" value="struts" />
        <property name="urlAction" value="HtmlSettings" />
        <property name="urlParams" value="&amp;group=htmlsettings&amp;method=display" />
    </bean>

    <bean id="integrityChecksAdministrationModule" class="org.jahia.admin.PlaceholderAdministrationModule" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="integrity" />
        <property name="permissionName" value="admin.integrity.IntegrityChecks" />
        <property name="name" value="integrity" />
        <property name="icon" value="text_ok" />
        <property name="label" value="org.jahia.admin.integrity.label" />
        <property name="urlType" value="struts" />
        <property name="urlAction" value="IntegrityChecks" />
        <property name="urlParams" value="&amp;group=integrity&amp;method=display" />
    </bean>

    <bean id="analyticsAdministrationModule" class="org.jahia.admin.analytics.ManageAnalytics" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="analytics" />
        <property name="permissionName" value="admin.analytics.ManageAnalytics" />
        <property name="name" value="analytics" />
        <property name="icon" value="column-chart" />
        <property name="label" value="org.jahia.admin.manageanalytics.label" />
        <property name="urlAction" value="analytics" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="themesAdministrationModule" class="org.jahia.admin.themes.ManageThemes" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="themes" />
        <property name="permissionName" value="admin.themes.ManageThemes" />
        <property name="name" value="themes" />
        <property name="icon" value="window_earth" />
        <property name="label" value="org.jahia.admin.themes.ManageThemes.label" />
        <property name="urlAction" value="themes" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="administrationModulesRegistry" class="org.jahia.admin.AdministrationModulesRegistry">
    <!-- 
        <property name="serverModules">
            <list>
                <ref bean="sitesAdministrationModule" />
                <ref bean="serverAdministrationModule" />
                <ref bean="componentsAdministrationModule" />
                <ref bean="logsAdministrationModule" />
                <ref bean="rootUserAdministrationModule" />
                <ref bean="statusAdministrationModule" />
                <ref bean="serverPermissionsAdministrationModule" />
                <ref bean="passwordPoliciesAdministrationModule" />
                <ref bean="patchesAdministrationModule" />
                <ref bean="communityJiraAdministrationModule"/>
                <ref bean="enterpriseJiraAdministrationModule"/>
                <ref bean="jahiaPediaAdministrationModule"/>
                <ref bean="docsAdministrationModule"/>
                <ref bean="infoAdministrationModule" />
            </list>
        </property>
        <property name="siteModules">
            <list>
                <ref bean="pagesAdministrationModule" />
                <ref bean="usersAdministrationModule" />
                <ref bean="groupsAdministrationModule" />
                <ref bean="templatesAdministrationModule" />
                <ref bean="searchAdministrationModule" />
                <ref bean="siteLanguagesAdministrationModule" />
                <ref bean="productionManagerAdministrationModule" />
                <ref bean="sitePermissionsAdministrationModule" />
                <ref bean="htmlEditorsAdministrationModule" />
                <ref bean="integrityChecksAdministrationModule" />
                <ref bean="analyticsAdministrationModule" />
                <ref bean="themesAdministrationModule" />
            </list>
        </property>
         -->
    </bean>

</beans>
