**/target
.settings
.classpath
.project
.idea
*.iml
*.versionsBackup
**/.sass-cache
war/src/main/webapp/engines/quick-fix/*.css*
war/src/main/webapp/engines/jahia-anthracite/*.css*
.externalToolBuilders
