**/target
.settings
.classpath
.project
.idea
*.iml
*.versionsBackup
**/.sass-cache
war/src/main/webapp/engines/quick-fix/*.css*
war/src/main/webapp/engines/jahia-anthracite/*.css*
.externalToolBuilders
war/src/main/webapp/engines/jahia-anthracite/package-lock.json
war/src/main/webapp/engines/jahia-anthracite/node_modules/
war/src/main/webapp/engines/jahia-anthracite/js/dist
war/src/main/webapp/engines/jahia-anthracite/js/out
war/src/main/webapp/engines/jahia-anthracite/css/*.css
war/src/main/webapp/engines/jahia-anthracite/css/*.map
war/node
war/node_modules
.DS_Store
