<settings>

  <servers>
    <server>
      <id>jahiaRepository</id>
      <username>maven</username>
      <privateKey>C:/putty/maven.jahia.org.private</privateKey> <!-- not needed if using pageant -->
    </server>
  </servers>
  <profiles>
     <profile>
       <id>configure</id>
       <properties>
           <jahia.configure.active>true</jahia.configure.active>
           <jahia.configure.databaseType>mysql</jahia.configure.databaseType>
           <jahia.configure.databaseUrl>jdbc:mysql://localhost/jahia?useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=false</jahia.configure.databaseUrl>
           <jahia.configure.databaseUsername>root</jahia.configure.databaseUsername>
           <jahia.configure.databasePassword></jahia.configure.databasePassword>
           <jahia.configure.localIp>192.168.0.1</jahia.configure.localIp>
           <jahia.deploy.processingServer>true</jahia.deploy.processingServer>
           <jahia.test.url>http://localhost:8080/jahia</jahia.test.url>
       </properties>
     </profile>

     <profile>
       <!-- Tomcat 6.0 development -->
       <id>andromeda-deployment-tomcat6-dev</id>
       <properties>
         <jahia.deploy.targetServerType>tomcat</jahia.deploy.targetServerType>
         <jahia.deploy.targetServerVersion>6</jahia.deploy.targetServerVersion>
         <jahia.deploy.targetServerDirectory>C:/jahia/apache-tomcat-6.0.16</jahia.deploy.targetServerDirectory>
         <jahia.deploy.war.dirName>jahia</jahia.deploy.war.dirName>
         <jahia.deploy.war.contextPath>/jahia</jahia.deploy.war.contextPath>
         <jahia.deploy.war.servletPath>/Jahia</jahia.deploy.war.servletPath>
         <jahia.debug.address>socket:hostname=localhost,port=8000</jahia.debug.address>
       </properties>
     </profile>
     <profile>
       <!-- Tomcat 6.0 production -->
       <id>andromeda-deployment-tomcat6-prod</id>
       <properties>
         <jahia.deploy.targetServerType>tomcat</jahia.deploy.targetServerType>
         <jahia.deploy.targetServerVersion>6</jahia.deploy.targetServerVersion>
         <jahia.deploy.targetServerDirectory>C:/jahia/apache-tomcat-6.0.16</jahia.deploy.targetServerDirectory>
         <jahia.deploy.war.dirName>ROOT</jahia.deploy.war.dirName>
         <jahia.deploy.war.contextPath>/</jahia.deploy.war.contextPath>
         <jahia.deploy.war.servletPath>/cms</jahia.deploy.war.servletPath>
         <jahia.debug.address>socket:hostname=localhost,port=8000</jahia.debug.address>
       </properties>
     </profile>
     
     <profile>
       <!-- JBoss 4.2.x development -->
       <id>andromeda-deployment-jboss42-dev</id>
       <properties>
         <jahia.deploy.targetServerType>jboss</jahia.deploy.targetServerType>
         <jahia.deploy.targetServerVersion>4.2.x</jahia.deploy.targetServerVersion>
         <jahia.deploy.targetServerDirectory>C:/rd/runtime/andromeda-jboss/jboss-4.2.3.GA</jahia.deploy.targetServerDirectory>
         <jahia.deploy.war.dirName>jahia.war</jahia.deploy.war.dirName>
         <jahia.deploy.war.contextPath>/jahia</jahia.deploy.war.contextPath>
         <jahia.deploy.war.servletPath>/Jahia</jahia.deploy.war.servletPath>
         <jahia.debug.address>socket:hostname=localhost,port=8000</jahia.debug.address>
       </properties>
     </profile>

      <profile>
        <!-- Websphere 6.1 development -->
        <id>andromeda-deployment-websphere61-dev</id>
        <properties>
          <jahia.deploy.targetServerType>websphere</jahia.deploy.targetServerType>
          <jahia.deploy.targetServerVersion>6.1.x</jahia.deploy.targetServerVersion>
          <jahia.deploy.targetServerDirectory>/Users/loom/java/deployments/websphere</jahia.deploy.targetServerDirectory>
          <jahia.deploy.war.dirName>jahia.war</jahia.deploy.war.dirName>
          <jahia.deploy.war.contextPath></jahia.deploy.war.contextPath>
          <jahia.deploy.war.servletPath>/cms</jahia.deploy.war.servletPath>
          <jahia.debug.address>socket:hostname=localhost,port=8000</jahia.debug.address>
        </properties>
      </profile>

  </profiles>
  
  <activeProfiles>
    <activeProfile>andromeda-deployment-tomcat6-prod</activeProfile>
    <activeProfile>configure</activeProfile>
    <!-- <activeProfile>jboss-deployment</activeProfile> -->
    <!-- <activeProfile>eclipse-integration</activeProfile> -->

    <!--
     Activating the configure-before-packaging profile will trigger
     the jahia:configure goal to configure Jahia BEFORE building the
     WAR and EAR files, this way you can build a configuration to be
     deployed on JEE application servers.
    -->
    <!--activeProfile>configure-before-packaging</activeProfile-->

    <!--
      Activate the code-coverage plugin to generate the code
      coverage reports. Check the README for more details on how to
      use it. Also remember to uncomment the pluginGroup below.
    -->
    <!--activeProfile>code-coverage</activeProfile-->
  </activeProfiles>         

  <!-- Jahia plugin -->
  <pluginGroups>
    <pluginGroup>org.jahia.server</pluginGroup>
      <pluginGroup>org.apache.pluto</pluginGroup>
    <!-- Uncomment the following if you activate the code-coverage profile -->
      <!--pluginGroup>com.atlassian.maven.plugins</pluginGroup-->

  </pluginGroups>

  <localRepository>C:/java/m2repository</localRepository>
</settings>