<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
       
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="filterChainDefinitions">
            <value>
                /admin/** = authcBasic, roles[toolManager]
                /modules/**/*.jsp = authcBasic, roles[toolManager]
                
                /**/*.raw = authcBasic, roles[toolManager]
                /**/*.raw.ajax = authcBasic, roles[toolManager]
                /cms/serverStats = authcBasic, roles[toolManager]
                /cms/serverStats/** = authcBasic, roles[toolManager]
                /cms/text-extract = authcBasic, roles[toolManager]
                /cms/text-extract/** = authcBasic, roles[toolManager]
                /tools/** = authcBasic, roles[toolManager]
                /modules/tools/** = authcBasic, roles[toolManager]
            </value>
        </property>
    </bean>
    
    <bean name="textConfigurationRealm" class="org.jahia.services.security.shiro.SpringTextConfigurationRealm">
        <property name="userDefinitions">
            <value>
                ${jahiaToolManagerUsername}=${jahiaToolManagerPassword},toolManager
            </value>
        </property>
        <property name="credentialsMatcher">
            <bean class="org.jahia.services.security.shiro.HashedCredentialsMatcher"/>
        </property>
    </bean>
    
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="textConfigurationRealm"/>
        <property name="rememberMeManager"><null/></property>
    </bean>
    <bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    
    <bean id="jahiaLoginConfig" class="org.jahia.params.valves.LoginConfig" factory-method="getInstance"/>
    <bean id="jahiaLogoutConfig" class="org.jahia.params.valves.LogoutConfig" factory-method="getInstance"/>

    <bean id="PasswordService" class="org.jahia.services.pwd.PasswordService" factory-method="getInstance">
        <property name="defaultDigester" ref="${jahia.passwordService.defaultDigester:pwdDigesterSHA256RandomSalt32x4096}"/>
        <property name="strongDigester" ref="${jahia.passwordService.strongDigester:pwdDigesterPBKDF2RandomSalt64Key32x8192}"/>
        <property name="digesters">
            <list>
                <ref bean="pwdDigesterSHA1RandomSalt32x4096"/>
                <ref bean="pwdDigesterSHA256RandomSalt32x4096"/>
                <ref bean="pwdDigesterSHA512RandomSalt32x4096"/>
                <ref bean="pwdDigesterPBKDF2RandomSalt64Key32x8192"/>
            </list>
        </property>
    </bean>
    
    <bean id="pwdDigesterSHA1Legacy" class="org.jahia.services.pwd.JasyptPasswordDigester">
        <constructor-arg index="0" value=""/>
        <constructor-arg index="1">
            <bean class="org.jahia.services.pwd.ProccessorAwarePooledStringDigester">
                <property name="algorithm" value="SHA-1"/>
                <property name="saltSizeBytes" value="0"/>
                <property name="iterations" value="1"/>
                <property name="unicodeNormalizationIgnored" value="true"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="pwdDigesterSHA1RandomSalt32x4096" class="org.jahia.services.pwd.JasyptPasswordDigester">
        <constructor-arg index="0" value="s1"/>
        <constructor-arg index="1">
            <bean class="org.jahia.services.pwd.ProccessorAwarePooledStringDigester">
                <property name="algorithm" value="SHA-1"/>
                <property name="saltSizeBytes" value="32"/>
                <property name="iterations" value="4096"/>
                <property name="unicodeNormalizationIgnored" value="true"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="pwdDigesterSHA256RandomSalt32x4096" class="org.jahia.services.pwd.JasyptPasswordDigester">
        <constructor-arg index="0" value="s2"/>
        <constructor-arg index="1">
            <bean class="org.jahia.services.pwd.ProccessorAwarePooledStringDigester">
                <property name="algorithm" value="SHA-256"/>
                <property name="saltSizeBytes" value="32"/>
                <property name="iterations" value="4096"/>
                <property name="unicodeNormalizationIgnored" value="true"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="pwdDigesterSHA512RandomSalt32x4096" class="org.jahia.services.pwd.JasyptPasswordDigester">
        <constructor-arg index="0" value="s5"/>
        <constructor-arg index="1">
            <bean class="org.jahia.services.pwd.ProccessorAwarePooledStringDigester">
                <property name="algorithm" value="SHA-512"/>
                <property name="saltSizeBytes" value="32"/>
                <property name="iterations" value="4096"/>
                <property name="unicodeNormalizationIgnored" value="true"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="pwdDigesterPBKDF2RandomSalt64Key32x8192" class="org.jahia.services.pwd.JasyptPasswordDigester">
        <constructor-arg index="0" value="p"/>
        <constructor-arg index="1">
            <bean class="org.jahia.commons.encryption.PBKDF2Digester">
                <property name="saltSizeBytes" value="64"/>
                <property name="hashSizeBytes" value="32"/>
                <property name="iterations" value="8192"/>
            </bean>
        </constructor-arg>
    </bean>
</beans>
