/****************************/
/* BACKGROUNDS */
/****************************/

$BODY--BG: (
        LIGHT: radial-gradient(ellipse at bottom right, darken(_color("secondary"), 4%) 0%, _color("secondary") 50%),
        DARK: _color("primary"),
);

$BODY--BG--SHADOW: (
        LIGHT: 0 5px 10px 1px _color("black", b),
        DARK: 0 5px 10px 1px _color("black", b),
);

$BODY--HAMBURGER-ICON: (
        LIGHT: _icon("dxLogo", "blue"),
        DARK: _icon("dxLogo", "blue")
);

$BODY--HEADER--BG: (
    LIGHT: linear-gradient(to right, rgba(224, 224, 224, 0) 0%, #e0e0e0 100%),
    DARK: linear-gradient(to right, rgba(78, 81, 86, 0) 50%, #4e5156 100%),
);

$CONTRIBUTE--BG: (
        LIGHT: _color("tertiary"),
        DARK: _color("tertiary"),
);

$CONTRIBUTE--BG--SHADOW: (
        LIGHT: 0px 0px 10px 0px _color("quinary", c) !important,
        DARK: 0px 0px 10px 0px _color("quinary", c) !important,
);

$CONTRIBUTE--HAMBURGER-ICON: (
        LIGHT: _icon("dxLogo", "white"),
        DARK: _icon("dxLogo", "white")
);



/****************************/
/* FOOTERS */
/****************************/

$FOOTER--BG: (
        LIGHT: _color("primary"),
        DARK: _color("primary", g),
);

$FOOTER--SHADOW: (
        LIGHT: inset 3px 0px 16px _color("black", b),
        DARK: inset 3px 0px 16px _color("black", b),
);


$DARK-FOOTER--BG: (
        LIGHT: _color("primary", normal),
        DARK: _color("primary", normal),
);

$DARK-FOOTER--SHADOW: (
        LIGHT: inset 3px 0px 16px _color("black", c),
        DARK: inset 3px 0px 16px _color("black", c),
);


/****************************/
/* HEADER - USED IN PICKERS */
/****************************/

$HEADER--BG: (
        LIGHT: transparent,
        DARK: transparent,
);

$HEADER--SHADOW: (
        LIGHT: transparent,
        DARK: transparent,
);
