$EDIT_ENGINE--SIDEPANEL---BORDER: (
    LIGHT: none,
    DARK: 1px solid _color("primary", i)
);

$EDIT_ENGINE--SIDEPANEL---BG: (
    LIGHT: linear-gradient(to right bottom, #F5F5F5 50%, #e5e4e4 100%),
    DARK: _color("primary"),
);

$EDIT_ENGINE--SIDEPANEL---SHADOW: (
    LIGHT: 0px 2px 12px 0px _color("primary", b),
    DARK: 0px 2px 12px 0px _color("primary", g),
);

$EDIT_ENGINE--LANGUAGE-SELECTOR: (
    LIGHT: _color("primary"),
    DARK: _color("secondary", d)
);
