$MODAL--DIVIDER: (
        LIGHT: _color("secondary", e),
        DARK: _color("secondary"),
);

$MODAL--HEADER: (
        LIGHT: _color("primary"),
        DARK: _color("secondary"),
);

$MODAL--PARAGRAPH: (
        LIGHT: _color("primary", c),
        DARK: _color("secondary", b),
);

$MODAL--BG: (
        LIGHT: _color("secondary"),
        DARK: _color("primary"),
);


$MODAL-SOLID--BG: (
        LIGHT: radial-gradient(ellipse at bottom right, darken(_color("secondary"), 4%) 0%, _color("secondary") 50%),
        DARK: radial-gradient(ellipse at bottom right, darken(_color("primary"), 10%) 0%, _color("primary") 70%),
);

$MODAL-SOLID--BG---LEGACY: (
        LIGHT: rgba(_color("primary"), .98),
        DARK: rgba(_color("primary"), .98),
);

$MODAL-MASK--BG: _color("primary", g);

$MODAL--COLULMN---HEADER: _color("primary", d);
