$SIDE-PANEL--BORDER: (
        LIGHT: none,
        DARK: 1px solid _color("primary", i)
);

$SIDE-PANEL--BG: (
        LIGHT: linear-gradient(to right, #fcfdfd 0%, rgba(252, 253, 253, 0.92) 100%),
        DARK: _color("primary"),
);

$SIDE-PANEL--SHADOW: (
        LIGHT: 0 5px 10px 1px _color("black", b),
        DARK: 0 5px 10px 1px _color("black", b),
);

$SIDE-PANEL-OPEN--COMBO-COLOR: (
        LIGHT: _color("primary", normal),
        DARK: _color("secondary", normal),
);

$SIDE-PANEL-OPEN--COMBO-ARROW: (
    LIGHT: "../images/expanded-black.png",
    DARK: _icon("arrowDown", "white"),
);

$SIDE-PANEL-TAB--PAGES-ICON--UP: (
    LIGHT: _icon("pages", "grey"),
    DARK: _icon("pages", "white"),
);

$SIDE-PANEL-TAB--PAGES-ICON--SELECTED: (
    LIGHT: _icon("pages", "grey"),
    DARK: _icon("pages", "white"),
);

$SIDE-PANEL-TAB--VIRTUALSITES-ICON--UP: (
    LIGHT: _icon("virtualSite", "grey"),
    DARK: _icon("virtualSite", "white"),
);

$SIDE-PANEL-TAB--VIRTUALSITES-ICON--SELECTED: (
    LIGHT: _icon("virtualSite", "grey"),
    DARK: _icon("virtualSite", "white"),
);

$SIDE-PANEL-TAB--DESKTOP-ICON--UP: (
    LIGHT: _icon("devices", "black"),
    DARK: _icon("devices", "white"),
);

$SIDE-PANEL-TAB--DESKTOP-COLOR--UP: (
    LIGHT: _color("primary"),
    DARK: _color("secondary"),
);

$SIDE-PANEL-TAB--REFRESH---UP: (
    LIGHT: _icon("reload", "grey"),
    DARK: _icon("reload", "white"),
);

$SIDE-PANEL-TITLE--COLOR: (
        LIGHT: _color("secondary"),
        DARK: _color("primary"),
);

$SIDE-PANEL--LANGUAGE-SWITCHER---LEFT: 18px;
$SIDE-PANEL--LANGUAGE-SWITCHER---TOP: 128px;
$SIDE-PANEL--SITE-SWITCHER---LEFT: 130px;
$SIDE-PANEL--SITE-SWITCHER---TOP: 128px;
$SIDE-PANEL--OPENED--SITE-SWITCHER---LEFT: $SIDE-PANEL--SITE-SWITCHER---LEFT;
$SIDE-PANEL--REFRESH-PINNED---MARGIN: 60px 0 0 47px;
$SIDE-PANEL--PIN-BUTTON---DISPLAY: none;
$SIDE-PANEL--HAMBURGER---DISPLAY: none;
$SIDE-PANEL--TABS---DISPLAY: none;
$SIDE-PANEL---WIDTH: 100%;
$SIDE-PANEL---MARGIN: 0;
$SIDE-PANEL---PADDING: 0;
$SIDE-PANEL--DIVIDER: 1px solid _color("primary", d);
$SIDE-PANEL--DIVIDER-DISCREET: 1px solid rgba(_color("primary", d), 0.35);
$SIDE-PANEL--HEADER---PADDING: 5px 20px 5px 44px;
$SIDE-PANEL--HEADER---MARGIN: 68px 0 33px 0px;
$SIDE-PANEL--HEADER---BG: url(_icon("pages", "white")) no-repeat left 16px center / #{24px} _color("primary", "g");
$SIDE-PANEL--TREE--BG: transparent;
$SIDE-PANEL--TREE--HEIGHT: calc(100% - 155px);
$SIDE-PANEL--TREE--PADDING: 20px 0 0 20px;
$SIDE-PANEL--TITLE--SIZE: 16px;
$SIDE-PANEL--TITLE--WEIGHT: _weight("semibold");
