$SWITCH--RAIL: (
        LIGHT: #006f9e,
        DARK: #006f9e,
);

$SWITCH--COLOR--ON: (
        LIGHT: _color("secondary"),
        DARK: _color("quinary"),
);

$SWITCH--BG--ON: (
        LIGHT: _color("quinary"),
        DARK: _color("secondary"),
);

$SWITCH--SHADOW--ON: (
        LIGHT: 1px 1px 3px 0px _color("black", c),
        DARK: 1px 1px 3px 0px _color("black", c),
);

$SWITCH--COLOR--ON---HOVER: (
        LIGHT: _color("secondary", g),
        DARK: _color("secondary", g),
);

$SWITCH--BG--ON---HOVER: (
        LIGHT: _color("quinary", a),
        DARK: _color("quinary", a),
);


$SWITCH--COLOR--OFF: (
        LIGHT: _color("secondary", e),
        DARK: _color("white", a),
);

$SWITCH--COLOR--OFF---HOVER: (
        LIGHT: _color("secondary", a),
        DARK: _color("secondary", a),
);
