/****************************/
/* TITLE */
/****************************/

$TITLE--COLOR: (
        LIGHT: _color("primary"),
        DARK: _color("secondary"),
);


/****************************/
/* SUBTITLE */
/****************************/

$SUBTITLE--COLOR: (
        LIGHT: _color("primary", c),
        DARK: _color("secondary", d),
);

$SUBTITLE--ACCENT: (
        LIGHT: _color("tertiary", a),
        DARK: _color("secondary", a),
);


/****************************/
/* PARAGRAPH */
/****************************/

$PARAGRAPH--COLOR: (
        LIGHT: _color("primary"),
        DARK: _color("secondary"),
);


/****************************/
/* LABEL */
/****************************/

$LABEL--COLOR: (
        LIGHT: #5C5C5C,
        DARK: #5C5C5C,
);
