/****************************/
/* BASE COLORS  */
/****************************/

$color-light: #FDFDFD;
$color-gray-light: #DADADA;
$color-gray: #7A7F88;
$color-gray-dark: #293136;
$color-dark: #131C21;
$color-basic-black: #000000;
$color-basic-white: #FFFFFF;
$color-success: #43A047;
$color-warning: #E8B606;
$color-danger: #E0182D;
$color-accent-light: #63D1FF;
$color-accent: #00A0E3;
$color-accent-dark: #0072B1;
$color-accent-dark-contrast: #004781;

$moonstone-colors: (
    "light": (
        100: $color-light,
        60: rgba($color-light, 0.6),
        40: rgba($color-light, 0.4),
    ),
    "gray-light": (
        100: $color-gray-light,
        60: rgba($color-gray-light, 0.6),
        40: rgba($color-gray-light, 0.4),
    ),
    "gray": (
        100: $color-gray,
        60: rgba($color-gray, 0.6),
        40: rgba($color-gray, 0.4),
    ),
    "gray-dark": (
        100: $color-gray-dark,
        60: lighten($color-gray-dark, 4%),
        40: lighten($color-gray-dark, 6%),
    ),
    "dark": (
        100: $color-dark,
        60: rgba($color-dark, 0.6),
        40: rgba($color-dark, 0.4),
    ),
    "black": (
        100: $color-basic-black,
        80: rgba($color-basic-black, 0.84),
        60: rgba($color-basic-black, 0.6),
        40: rgba($color-basic-black, 0.4),
        20: rgba($color-basic-black, 0.2),
    ),
    "white": (
        100: $color-basic-white,
    ),
    "success": (
        100: $color-success,
    ),
    "warning": (
        100: $color-warning,
    ),
    "danger": (
        100: $color-danger,
    ),
    "accent-light": (
        100: $color-accent-light,
    ),
    "accent": (
        100: $color-accent,
    ),
    "accent-dark": (
        100: $color-accent-dark,
    ),
    "accent-dark-contrast": (
        100: $color-accent-dark-contrast,
    )
);



/****************************/
/* COLOR VARIATIONS  */
/****************************/

$colors: (
        "primary": (
                normal: _moonstone-color("gray-dark"),
                a: _moonstone-color("gray-dark", 60),
                b: _moonstone-color("gray-dark", 60),
                c: lighten(_moonstone-color("gray-dark"), 8%),
                d: _moonstone-color("gray"),
                e: _moonstone-color("gray"),
                f: _moonstone-color("dark"),
                g: _moonstone-color("dark", 60),
                h: _moonstone-color("gray-dark"),
                i: _moonstone-color("black", 100),
        ),
        "secondary": (
                normal: _moonstone-color("light"),
                a: _moonstone-color("light"),
                b: _moonstone-color("light"),
                c: _moonstone-color("light"),
                d: _moonstone-color("gray-light"),
                e: _moonstone-color("gray-light"),
                f: _moonstone-color("gray"),
                g: _moonstone-color("white", 100),
        ),
        "tertiary": (
                normal: _moonstone-color("accent-dark"),
                a: _moonstone-color("accent"),
        ),
        "quaternary": (
                normal: _moonstone-color("warning", 100),
                a: lighten(_moonstone-color("warning", 100), 4%)
        ),
        "quinary": (
                normal: _moonstone-color("accent"),
                a: _moonstone-color("accent-light"),
                b: _moonstone-color("accent"),
                c: _moonstone-color("accent-dark-contrast"),
                d: _moonstone-color("accent-dark"),
        ),
        "senary": (
                normal: _moonstone-color("light"),
                a: _moonstone-color("light"),
        ),
        "septenary": (
                normal: _moonstone-color("warning", 100),
                a: darken(_moonstone-color("warning", 100), 20%),
        ),
        "black": (
                normal: _moonstone-color("black", 100),
                a: _moonstone-color("black", 20),
                b: _moonstone-color("black", 40),
                c: _moonstone-color("black", 60),
                d: _moonstone-color("black", 80),
        ),
        "white": (
                normal: _moonstone-color("white", 100),
                a: _moonstone-color("light", 40),
                b: _moonstone-color("light"),
        ),
        "green": (
                normal: _moonstone-color("success"),
        ),
        "status": (
                conflict: _moonstone-color("warning"),
                deleted: _moonstone-color("black"),
                livemodified: _moonstone-color("warning"),
                liveonly: _moonstone-color("warning"),
                locked: _moonstone-color("warning"),
                mandatorylanguageunpublishable: _moonstone-color("warning"),
                mandatorylanguagevalid: _moonstone-color("warning"),
                markedfordeletion: _moonstone-color("danger"),
                modified: _moonstone-color("warning"),
                multipleWF: _moonstone-color("warning"),
                notpublished: _moonstone-color("gray-dark", 40),
                oneWF: _moonstone-color("warning"),
                published: _moonstone-color("success"),
                unpublished: _moonstone-color("warning"),
                waiting: _moonstone-color("white"),
                workinprogress: _moonstone-color("warning"),
                error: _moonstone-color("danger"),
                unknown: _moonstone-color("black"),
                visible: _moonstone-color("success"),
                hidden: _moonstone-color("danger"),
                attention: _moonstone-color("danger"),
                warning: _moonstone-color("warning"),
        )
);
