/****************************/
/* CONFIG  */
/****************************/

// DEFAULT
$EDIT-ENGINE: LIGHT;
$EDIT-ENGINE-SIDEPANEL: DARK;
$SIDE-PANEL: DARK;
$BACKGROUND-JOBS: LIGHT;
$APP: DARK;
$APP-MENUS: DARK;
$CONTRIBUTE-MENUS: LIGHT;
$DATE-PICKER: DARK;
$CONTEXT-MENU: DARK;
$THUMBS: DARK;
$PICKER: DARK;
$PICKER-SEARCH: DARK;
$PICKER-HEADER-INPUT: LIGHT;
$PICKER-SEARCH-HEADER: DARK;
$PREVIEW: DARK;
$DASHBOARD: LIGHT;
$HAMBURGER: LIGHT;
$MODAL-INPUT: LIGHT;
$CONTRIBUTE: LIGHT;
$EDIT-MODE: LIGHT;
$MODAL: LIGHT;

$MODAL-STYLE: "floating";
