/****************************/
/* THUMBS */
/****************************/
$THUMB--COLOR: (
        LIGHT: _color("primary", normal),
        DARK: _color("primary", normal),
);

$THUMB--COLOR---HOVER: (
        LIGHT: _color("primary", normal),
        DARK: _color("primary", normal),
);

$THUMB--COLOR---SELECTED: (
        LIGHT: #F5F5F5,
        DARK: #F5F5F5,
);

$THUMB--COLOR--DIMMED: (
        LIGHT: #6A6A6A,
        DARK: #6A6A6A,
);


$THUMB--COLOR--DIMMED---HOVER: (
        LIGHT: #6A6A6A,
        DARK: #6A6A6A,
);

$THUMB--BG: (
        LIGHT: transparent,
        DARK: transparent,
);

$THUMB--BG---HOVER: (
        LIGHT: #cecccc,
        DARK: #cecccc,
);

$THUMB--BG---SELECTED: (
        LIGHT: _color("tertiary", normal),
        DARK: _color("tertiary", normal),
);
