/****************************/
/* TREE / ROWS */
/****************************/

// UP
$ROW--HEIGHT: 32px;

$ROW--COLOR: (
        LIGHT: _color("primary", b),
        DARK: _color("secondary", d),
);

$ROW--COLOR--DIMMED: (
        LIGHT: _color("primary", c),
        DARK: yellow,
);

$ROW--BG: (
        LIGHT: transparent,
        DARK: transparent,
);

// HOVER
$ROW--COLOR---HOVER: (
        LIGHT: _color("primary"),
        DARK: _color("secondary"),
);

$ROW--BG---HOVER: (
        LIGHT: _color("secondary", a),
        DARK: _color("primary", b),
);

// SELECTED
$ROW--COLOR---SELECTED: (
        LIGHT: #FCFCFC,
        DARK: _color("secondary", c),
);

$ROW--BG---SELECTED: (
        LIGHT: _color("primary", b),
        DARK: green,
);

// SELECTED HOVER
$ROW--COLOR---SELECTED-HOVER: (
        LIGHT: _color("secondary"),
        DARK: _color("secondary"),
);

$ROW--BG---SELECTED-HOVER: (
        LIGHT: _color("primary", b),
        DARK: grey,
);
