/******************************************************************************
* Box 2 defaut
******************************************************************************/
 .box2 {
	position: relative;
	border:1px solid #ccc;
	margin-bottom:10px;
	clear:both;
}
 .box2-text {
	margin: 10px 10px 1em 10px;
	overflow: hidden;
	height:1%
}

 h3.box2-header{
	background: #ccc url(img/box2-header.png) repeat-x left top;
    padding-left:6px;
    text-align:left;
	margin:0;
}
 h3.box2-header span {
    padding:6px;
	display:block
}
 .box2-topleft,
 .box2-topright,
 .box2-bottomleft,
 .box2-bottomright {
	height: 5px;
	width: 5px;
	background-repeat: no-repeat;
	font-size:2px;
}
 .box2-bottomleft {
	position:absolute;
	bottom:-1px;
	left:-1px;
	background: url(img/box2-bottomleft.png);
}
 .box2-bottomright {
	position:absolute;
	bottom:-1px;
	right:-1px;
	background: url(img/box2-bottomright.png);
}
 .box2-topleft {
	position:absolute;
	top:-1px;
	left:-1px;
	background: url(img/box2-topleft.png);
}
 .box2-topright {
	position:absolute;
	top:-1px;
	right:-1px;
	background: url(img/box2-topright.png);

}
 .box2-illustration{
	background: transparent url(img/img5.png) repeat top left;
	height:75px;
}
 .box2-more{
	font-size:80%;
	font-size:11px;
	font-weight:bold;
	position:absolute;
	right:0;
	bottom:0;
	line-height:14px;
	background: transparent url(img/box2-more.png) no-repeat top left ;
	padding:1px 10px;
	margin-bottom:0;
}
/******************************************************************************
* Box 2 style1
******************************************************************************/

 .box2-style1 h3.box2-header{
	background: #404d6c	 url(img/box2-style1-header.png) repeat-x left top;
	color:#fff;
}

/******************************************************************************
* Hide title
******************************************************************************/
 .box2 .box2-text .title{
    display:none;        
}