#bodywrapper #panel a:focus {
	outline: none;
}
#bodywrapper #panel {
	background: #DAD0C7;
	display: none;
}
#bodywrapper .slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #ccc;
	background: url(img/btn-slide.gif) no-repeat center top;
}
#bodywrapper .btn-slide {
	background: url(img/white-arrow.gif) no-repeat right -50px;
	text-align: center;
	width: 144px;
	height: 31px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}
#bodywrapper a.btn-slide, #bodywrapper a.btn-slide:link, #bodywrapper a.btn-slide:visited{
	color: #fff;
	text-decoration:none
}

#bodywrapper .active {
	background-position: right 12px;
}

/*-----------------------*/
#bodywrapper #panel li, #bodywrapper #panel ul {
	margin:0;
	padding:0;
}
#bodywrapper #panel ul.panellist {
	padding:0;
	height:180px;
	border:1px solid #b9a99b;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	overflow : -moz-scrollbars-vertical;
	background-color:#fff
}
#bodywrapper #panel ul.panellist li {
	cursor:pointer;
	list-style:none;
	padding:0px 5px;
}
#bodywrapper #panel ul.panellist li:hover {
	background-color: #eaeaea
}

#panel {
	width: 100%;
	color: #333333;
	background: #DAD0C7;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}

#panel h2{
	padding: 0 0 10px 0;
	margin: 0;
	color:#666666;
	background: none
}
#panel h3{
	padding: 0;
	margin: 0;
	color:#666666;
}

#panel p {
	margin: 5px 0;
	padding: 0;
}

#panel a {
	text-decoration: none;
	color: #15ADFF;
}

#panel a:hover {
	color: white;
}

#panel .content {
	width: 960px;
	margin: 0 auto;
	padding: 15px;
	text-align: left;
	font-size: 0.85em;
}

#panel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #b9a99b;
}

#panel .content .right {
	border-right: 1px solid #b9a99b;
}

#panel .content form {
	margin: 0 0 10px 0;
}

#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#panel .content input.field {
	border: 1px #ccc solid;
	background: #fff;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	height: 16px;
}
