/******************************************************************************
* Box teaser
******************************************************************************/

#bodywrapper .boxteaser {
	background:#eaeaea url(img/mod/boxteaser-bg.png) no-repeat top right;
}
/******************************************************************************
* forum
******************************************************************************/
#bodywrapper #forum-body span.forum-corners-bottom span {
	background-image: none;
	background-position: 100% 100%;
}
#bodywrapper #forum-body span.forum-corners-top {
	background-image: url("img/mod/corners_left.png");
}

#bodywrapper #forum-body span.forum-corners-top span {
	background-image: url("img/mod/corners_right.png");
}

#bodywrapper #forum-body span.forum-corners-bottom {
	background-image: url("img/mod/corners_left.png");
}

#bodywrapper #forum-body span.forum-corners-bottom span {
	background-image: url("img/mod/corners_right.png");
}
/* box style 1 
----------------------------------------*/
#bodywrapper #forum-body .forum-box-style1 {
	background: none;
	background-color:#dbd1c8
}
/* box style 2 
----------------------------------------*/
#bodywrapper #forum-body .forum-box-style2 {
	background: none;
	background-color:#d4d4d4
}
/******************************************************************************
* forum-actions
******************************************************************************/
#bodywrapper #forum-body .forum-buttons a,
#bodywrapper #forum-body .forum-buttons a:link,
#bodywrapper #forum-body .forum-buttons a:visited{
	background:#043b9d url(img/mod/bg-button.png) repeat-x top left;
	border:1px solid #003399;
}
#bodywrapper #forum-body .forum-buttons a:hover,
#bodywrapper #forum-body .forum-buttons a:active {
	background:#043b9d url(img/mod/bg-button-on.png) repeat-x bottom left;
	border:1px solid #003399;
}
/******************************************************************************
*  forum Form comments
******************************************************************************/
#bodywrapper #forum-body ul.forum-profile-icons li a,
#bodywrapper #forum-body ul.forum-profile-icons li a:link,
#bodywrapper #forum-body ul.forum-profile-icons li a:visited{
	background:#043b9d url(img/mod/bg-button.png) repeat-x top left;
	border:1px solid #003399;
}
#bodywrapper #forum-body ul.forum-profile-icons li a:hover,
#bodywrapper #forum-body ul.forum-profile-icons li a:active {
	background:#043b9d url(img/mod/bg-button-on.png) repeat-x bottom left;
	border:1px solid #003399;
}
/******************************************************************************
* forum row 
******************************************************************************/
#bodywrapper #forum-body li.row:hover {
	background-color:#ede2d8;
}
/******************************************************************************
* Portal
******************************************************************************/
#columns .widget .widget-head h3 {
color:#fff
}
#bodywrapper .color-box {background:#3366cc;}
#bodywrapper #columns .widget {
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
}
/******************************************************************************
* News
******************************************************************************/
#bodywrapper .newsListItem {
	margin-bottom:2em;
}
#bodywrapper .newsImg img {
    border: 1px solid #ccc;
    margin-right: 0.5em;
    padding: 10px;
	background-color:#fff;
	-moz-box-shadow: 0 1px 5px #999;
	-webkit-box-shadow: 0 1px 5px #999;
	box-shadow: 0 1px 5px #999;
}
#bodywrapper .newsimg-right img {
    border: 1px solid #ccc;
    margin-left: 0.5em;
    padding: 10px;
	background-color:fff;
	-moz-box-shadow: 0 1px 5px #999;
	-webkit-box-shadow: 0 1px 5px #999;
	box-shadow: 0 1px 5px #999;
}
#bodywrapper .newsSummary img {
    border: 1px solid #ccc;
    margin-right: 0.5em;
    padding: 5px;
	background-color:#fff;
	-moz-box-shadow: 0 1px 2px #999;
	-webkit-box-shadow: 0 1px 2px #999;
	box-shadow: 0 1px 2px #999;
    width: 50px;
    height: 50px;
}
/******************************************************************************
shortcuts
******************************************************************************/
#bodywrapper #shortcuts{
	height:38px;
	position:relative;
	width:82px;
	float:right;
}
#bodywrapper .navigation #shortcuts{
	float:right;
}
#bodywrapper #shortcuts h3 {
	background-image:url(img/mod/shortcuts-bg.png);
	padding:8px 10px 10px 10px;
	width:82px;
	height:20px;
	display:block;
	font-size:1.2em;
	bottom:0;
	position:absolute;
	right:0;
	color:#747474;
	margin:0;
}
#bodywrapper #shortcuts h3:hover {
	background-image:url(img/mod/shortcuts-bg-on.png);
}
#bodywrapper #shortcuts h3 a,
#bodywrapper #shortcuts h3 a:link,
#bodywrapper #shortcuts h3 a:visited {
	color:#747474
}
#bodywrapper #shortcuts h3 a:hover,
#bodywrapper #shortcuts h3 a:active{
	text-decoration:none;
	color:#747474
}

#bodywrapper #shortcuts ul {
	background-color:#F4F4F4;
	border:1px solid #A7A7A7;
	display:none;
	right:0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:10px 4px;
	position:absolute;
	top:30px;
	margin:0;
	width:138px;
	z-index:100;
}
#bodywrapper #shortcuts li {
	font-size:1.1em;
	line-height:20px;
	padding:5px 5px 5px 10px;
}
#bodywrapper #shortcuts li a {
	color: #747474;
}
#bodywrapper #shortcuts li a:hover {
	color: #3366cc;
	text-decoration:none
}
#bodywrapper .shortcuts-inline li.shortcuts-login {
	background-color:#747474;
}
/******************************************************************************
Search form top
******************************************************************************/
#bodywrapper #search-bar form.simplesearchform .text-input {
	width:304px !important;
}
#bodywrapper #search-bar form.simplesearchform {
	width:340px !important;
}
/******************************************************************************
Calendar
******************************************************************************/
.fc-event, .fc-agenda .fc-event-time, .fc-event a {
	background-color:#3366CC;
	border-color:#3366CC;
}
#bodywrapper .fc-header h2 {
	background:none
}