
/******************************************************************************
* Box teaser
******************************************************************************/

#bodywrapper .boxteaser {
	position: relative;
	height:1%;
	background:#fff url(img/boxteaser-bg.png) no-repeat top right;
	padding-top:5px;
	margin-bottom:5px;
}

#bodywrapper .teaser p, #bodywrapper .teaser h3.teaser-title {
	margin: 0;
	padding: 0;
	line-height:110%;
	font-size:1em
}
#bodywrapper .teaser h3.teaser-title {
font-weight:bold
}

#bodywrapper .teaser .more{
	position:absolute;
	bottom:0.2em;
	right:1em;	
}
#bodywrapper .teaser-fixed-height {

	height:5.5em;
	overflow:hidden;
	position:relative;
	padding-bottom:2em;
	margin:0.5em;
}
#bodywrapper .teaser-fixed-height .teaser-content{
	overflow: hidden;
	height:5.6em;
}
/******************************************************************************
* Box Teaser 2 defaut
******************************************************************************/
#bodywrapper .box2teaser {
	position: relative;
	border:1px solid #ccc;
	margin-bottom:10px;
	clear:both;
}
#bodywrapper .box2teaser-text {
	margin: 10px 10px 1em 10px;
	overflow: hidden;
	height:1%
}

#bodywrapper h3.box2teaser-header{
	background: #ccc url(img/box2teaser-header.png) repeat-x left top;
    padding-left:6px;
    text-align:left;
	margin:0;
}
#bodywrapper h3.box2teaser-header span {
    padding:6px;
	display:block
}
#bodywrapper .box2teaser-topleft,
#bodywrapper .box2teaser-topright,
#bodywrapper .box2teaser-bottomleft,
#bodywrapper .box2teaser-bottomright {
	height: 5px;
	width: 5px;
	background-repeat: no-repeat;
	font-size:2px;
}
#bodywrapper .box2teaser-bottomleft {
	position:absolute;
	bottom:-1px;
	left:-1px;
	background: url(img/box2teaser-bottomleft.png);
}
#bodywrapper .box2teaser-bottomright {
	position:absolute;
	bottom:-1px;
	right:-1px;
	background: url(img/box2teaser-bottomright.png);
}
#bodywrapper .box2teaser-topleft {
	position:absolute;
	top:-1px;
	left:-1px;
	background: url(img/box2teaser-topleft.png);
}
#bodywrapper .box2teaser-topright {
	position:absolute;
	top:-1px;
	right:-1px;
	background: url(img/box2teaser-topright.png);

}
#bodywrapper .box2teaser-illustration{
	background: transparent url(img/img5.png) repeat top left;
	height:75px;
}
#bodywrapper .box2teaser-more{
	font-size:80%;
	font-size:11px;
	font-weight:bold;
	position:absolute;
	right:0;
	bottom:0;
	line-height:14px;
	background: transparent url(img/box2teaser-more.png) no-repeat top left ;
	padding:1px 10px;
	margin-bottom:0;
}
/******************************************************************************
* Box 2 style1
******************************************************************************/

#bodywrapper .box2teaser-style1 h3.box2teaser-header{
	background: #404d6c	 url(img/box2teaser-style1-header.png) repeat-x left top;
	color:#fff;
}

/******************************************************************************
* Hide title
******************************************************************************/
#bodywrapper .box2teaser .box2teaser-text .title{
    display:none;        
}

/******************************************************************************
* Teaser with title in overlay
******************************************************************************/
#bodywrapper .visuel {
    height: 150px;
	width: 150px;
    margin: 0 0 10px;
    position: relative;
}

#bodywrapper div.visuel a.visuel {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
    width: 224px;
}

#bodywrapper .visuel a, #bodywrapper .visuel a:link, #bodywrapper .visuel a:visited  {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65);
    bottom: 0;
	width: 150px;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    left: 0;
    position: absolute;
    text-decoration: none;
}