

body {
	color:#000000;
	background-color:#FFFFFF;
	margin:10px;
	padding:5px;
	font-size: 12pt;
}

.noprint{
    display: none;
}

p {
		text-align: justify;
}

/*  no print  */
#bodywrapper #toplinks{
  display:none;
}
#bodywrapper #breadcrumb{
  display:none;
}

#bodywrapper #illustration{
  display:none;
}
#bodywrapper #illustration2 {
  display:none;
}
#bodywrapper #navigationN1{
  display:none;
}
#bodywrapper #areaA, #bodywrapper #areaB, #bodywrapper #areaC{
  display:none;
}

#bodywrapper #footer{
  display:none;
}
#bodywrapper #illustration{
  display:none;
}
#bodywrapper #illustration2{
  display:none;
}
#bodywrapper #navigationN2{
  display:none;
}

#bodywrapper #contentArea,
#bodywrapper #position,
#bodywrapper #position2,
#bodywrapper #position3,
#bodywrapper #position4,
#bodywrapper #position5{
	overflow: visible;
}

/*  print  */
#bodywrapper .logotop{
	margin-bottom:10px
 }
#bodywrapper #pageHeader{
	border-bottom:5px solid #ccc
 }
#bodywrapper #wrapper {
	float:none;
	width:940px;
	overflow:visible;
}
#bodywrapper #pageData {
	float:none;
	height:auto;
	width:940px;
	overflow:visible;
}
#bodywrapper #page{
  	background-color:#FFFFFF;
	text-align: justify;
	padding-bottom: 10px;
    color:black;
 }

 #bodywrapper #position{
	margin: 0 20px 0 0;
	overflow:visible;
	width:940px
}

#bodywrapper #position2{
	margin: 0 20px 0 0;
	overflow:visible;
	width:940px
}

#bodywrapper #position3{
	margin: 0 20px 0 0;
	overflow:visible;
	width:940px
}

#bodywrapper #position4{
	margin: 0 20px 0 0;
	overflow:visible;
	width:940px
}