

#bodywrapper ul li {
		height:1%
}
#bodywrapper .box3-container { 
	width:100%;
	height:auto;
}
#bodywrapper .box3-text {
	padding-top:10px;
}

#bodywrapper .box2 { 
	width:100%;
	height:auto;
}
#bodywrapper .box2-more{
	bottom:-1px;
}
#bodywrapper .box4 { 
	width:100%;
	height:auto;
}
#bodywrapper .box4-more{
	bottom:-1px;
}

	