#bodywrapper div.listEditToolbar {
	margin-bottom:5px;
}
#bodywrapper .listEditToolbar button img{ margin-right:2px; vertical-align: text-bottom}

#bodywrapper .listEditToolbar button,
#bodywrapper .listEditToolbar input {
	background:#fff url(img/toolbar-input.png) repeat-x left bottom;
    color: #000;
    font-size: 9px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
    border:none;
	padding:2px;
	vertical-align: middle;
	margin-bottom:2px;
	display:inline;
	border:1px solid #b7cbd8;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px !important;
	line-height:16px;
	margin-bottom:5px
}
#bodywrapper .listEditToolbar button:hover,
#bodywrapper .listEditToolbar input:hover {
    background:#fff url(img/toolbar-input-on.png) repeat-x left bottom;
    color: #333;
	cursor: pointer;
	text-decoration:none;
}

#bodywrapper h3.titleaddnewcontent {
	color:#333333;
	font-size:1.8em;
	padding:0 0 15px 0;
}
#bodywrapper h3.titleaddnewcontent img {
	vertical-align: text-bottom;
	margin-right:5px
}