/******************************************************************************
*  documents List
******************************************************************************/
#bodywrapper span.docSize{
	font-size:80%;
	margin-left:0.2em;
	font-weight:normal
}
#bodywrapper ul.document{
	margin:1em 0;
	padding:0;
	list-style: none;
	font-weight:bold
}
#bodywrapper li.document {
	margin:0;
	padding:0.5em;
	list-style: none;
	display:block;
	border-bottom:1px solid #ccc;
}
#bodywrapper li.document:hover{
	background-color:#eaeaea
}
#bodywrapper li.lastdocument  {
	border-bottom:none
}
#bodywrapper li.document .resume {
	margin:0;
	padding:0;
	list-style: none;
	line-height:1em;
	font-size:0.9em;
	font-weight:normal
}
#bodywrapper li.document a,
#bodywrapper li.document a:link,
#bodywrapper li.document a:visited {
	text-decoration: none;
}
#bodywrapper li.document a:hover,
#bodywrapper li.document a:active {
	text-decoration:underline;
}

/* ------- File types  (start) ------- */

#bodywrapper li.file {
    background: url(../icons/jnt_file_file.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.video {
    background: url(../icons/jnt_file_video.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.ppt, #bodywrapper li.pptx {
    background: url(../icons/jnt_file_ppt.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.exe {
    background: url(../icons/jnt_file_exe.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.msword, #bodywrapper li.doc, #bodywrapper li.docx {
    background: url(../icons/jnt_file_doc.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.dir {
    background: url(../icons/jnt_folder.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.html, #bodywrapper li.htm {
    background: url(../icons/jnt_file_html.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.img,  #bodywrapper li.gif, #bodywrapper li.jpeg, #bodywrapper li.jpg, #bodywrapper li.png {
    background: url(../icons/jnt_file_img.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.pdf {
    background: url(../icons/jnt_file_pdf.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.sound, #bodywrapper li.wav {
    background: url(../icons/jnt_file_sound.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.txt {
    background: url(../icons/jnt_file_txt.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.xls, #bodywrapper li.xlsx, #bodywrapper li.csv {
    background: url(../icons/jnt_file_xls.png ) no-repeat  scroll 0.5em 0.5em;
}
#bodywrapper li.zip, #bodywrapper li.sit  {
    background: url(../icons/jnt_file_zip.png ) no-repeat scroll 0.5em 0.5em;
}
#bodywrapper li.rar,  #bodywrapper li.tar, #bodywrapper li.gz    {
    background: url(../icons/jnt_file_rar.png ) no-repeat scroll 0.5em 0.5em;
}

/* ------- Special treatment for serach results when result hit is a file ------- */

#bodywrapper a.file {
    background: url(../icons/jnt_file_file.png ) no-repeat scroll 0.2em 0em;
    padding-left:24px;
}
#bodywrapper a.video {
    background: url(../icons/jnt_file_video.png ) no-repeat scroll 0.2em 0em;
	padding-left:24px;
}
#bodywrapper a.ppt, #bodywrapper a.pptx {
    background: url(../icons/jnt_file_ppt.png ) no-repeat scroll 0.2em 0em;
    padding-left:24px;
}
#bodywrapper a.exe {
    background: url(../icons/jnt_file_exe.png ) no-repeat scroll 0.2em 0em;
	padding-left:24px;
}
#bodywrapper a.msword, #bodywrapper a.doc, #bodywrapper a.docx {
    background: url(../icons/jnt_file_doc.png ) no-repeat scroll 0.2em 0em;
    padding-left:24px;
}
#bodywrapper a.dir {
    background: url(../icons/jnt_folder.png ) no-repeat scroll 0.2em 0em;
	padding-left:24px;
}
#bodywrapper a.html, #bodywrapper a.htm {
    background: url(../icons/jnt_file_html.png ) no-repeat scroll 0.2em 0em;
    padding-left:24px;
}
#bodywrapper a.img,  #bodywrapper a.gif, #bodywrapper a.jpeg, #bodywrapper a.jpg, #bodywrapper a.png {
    background: url(../icons/jnt_file_img.png ) no-repeat scroll 0.2em 0em;
	padding-left:24px;
}
#bodywrapper a.pdf {
    background: url(../icons/jnt_file_pdf.png ) no-repeat scroll 0.2em 0em;
    padding-left:24px;
}
#bodywrapper a.sound, #bodywrapper a.wav {
    background: url(../icons/jnt_file_sound.png ) no-repeat scroll 0.2em 0em;
	padding-left:24px;
}
#bodywrapper a.txt {
    background: url(../icons/jnt_file_txt.png ) no-repeat scroll 0.2em 0em;
    padding-left:24px;
}
#bodywrapper a.xls, #bodywrapper a.xlsx, #bodywrapper a.csv {
    background: url(../icons/jnt_file_xls.png ) no-repeat  scroll 0.2em 0em;
    padding-left:24px;
}
#bodywrapper a.zip, #bodywrapper a.sit  {
    background: url(../icons/jnt_file_zip.png ) no-repeat scroll 0.2em 0em;
    padding-left:24px;
}
#bodywrapper a.rar,  #bodywrapper a.tar, #bodywrapper a.gz    {
    background: url(../icons/jnt_file_rar.png ) no-repeat scroll 0.2em 0em;
    padding-left:24px;
}
#bodywrapper a.jahiapage    {
    background: url(../icons/jnt_file_html.png ) no-repeat scroll 0.2em 0em;
    padding-left:24px;
}

/* ------- File types (end) ------- */

/* ------- Icon 48px 48px ------- */
#bodywrapper span.icon_large {
	display:block;
	width:48px;
	height:48px;
	margin:5px
}
#bodywrapper span.file_large {
    background: url(../icons/jnt_file_file_large.png ) no-repeat top left;
}
#bodywrapper span.video_large {
    background: url(../icons/jnt_file_video_large.png ) no-repeat top left;
}
#bodywrapper span.ppt_large, #bodywrapper span.pptx_large {
    background: url(../icons/jnt_file_ppt_large.png ) no-repeat top left;
}
#bodywrapper span.exe_large {
    background: url(../icons/jnt_file_exe_large.png ) no-repeat top left;
}
#bodywrapper span.msword_large, #bodywrapper span.doc_large, #bodywrapper span.docx_large {
    background: url(../icons/jnt_file_doc_large.png ) no-repeat top left;
}
#bodywrapper span.html_large, #bodywrapper span.htm_large {
    background: url(../icons/jnt_file_html_large.png ) no-repeat top left;
}
#bodywrapper span.img_large,  #bodywrapper span.gif_large, #bodywrapper span.jpeg_large, #bodywrapper span.jpg_large, #bodywrapper span.png_large {
    background: url(../icons/jnt_file_img_large.png ) no-repeat top left;
}
#bodywrapper span.pdf_large {
    background: url(../icons/jnt_file_pdf_large.png ) no-repeat top left;
}
#bodywrapper span.sound_large, #bodywrapper a.wav_large, #bodywrapper span.mp3_large, #bodywrapper span.mpeg_large, #bodywrapper span.mpg_large {
    background: url(../icons/jnt_file_sound_large.png ) no-repeat top left;
}
#bodywrapper span.txt_large {
    background: url(../icons/jnt_file_txt_large.png ) no-repeat top left;
}
#bodywrapper span.xls_large, #bodywrapper span.xlsx_large, #bodywrapper span.csv_large {
    background: url(../icons/jnt_file_xls_large.png ) no-repeat top left;
}
#bodywrapper span.txt {
    background: url(../icons/jnt_file_txt_large.png ) no-repeat top left;
}
#bodywrapper span.zip_large, #bodywrapper a.sit_large, #bodywrapper span.rar_large,  #bodywrapper span.tar_large, #bodywrapper span.gz_large, #bodywrapper span.jar_large {
    background: url(../icons/jnt_file_zip_large.png ) no-repeat top left;
}
/* ------- File types (end) ------- */