/******************************************************************************
* columns LAYOUT
******************************************************************************/
/*2columns*/
 .columns2 {
    width: 100%;
    overflow: hidden;
    clear: both;
}

 .columns2 .column-item {
    float: left;
    width: 49.9%;
    overflow: hidden;
    display: block;
}

 .columns2 .column-item .spacer {
    padding: 10px;
}

/*3columns*/
 .columns3 {
    width: 100%;
    overflow: hidden;
    clear: both;
}

 .columns3 .column-item {
    float: left;
    width: 33.2%;
    overflow: hidden;
    display: block;
}

 .columns3 .column-item .spacer {
    padding: 10px;
}

/*4columns*/
 .columns4 {
    width: 100%;
    overflow: hidden;
    clear: both;
}

 .columns4 .column-item {
    float: left;
    width: 24.9%;
    overflow: hidden;
    display: block;
}

 .columns4 .column-item .spacer {
    padding: 10px;
}

/*5columns*/
 .columns5 {
    width: 100%;
    overflow: hidden;
    clear: both;
}

 .columns5 .column-item {
    float: left;
    width: 18.7%;
    overflow: hidden;
    display: block;
    padding-left:8px;
}

 .columns5 .column-item .spacer {
    padding: 10px;
}
