 .contentinfos {
    background: none;
    border: 1px solid #ccc;
    margin: 1em 0;
    padding: 0.5em;
	color:#666;
}
 .contentinfos h3 {

    margin-top: 0;
    padding-top: 0;
}
 .contentinfos dt {
	font-weight:bold;

}
 .contentinfos dd {
	margin-bottom:0.5em;
}