.bodywrapper div.listEditToolbar {
	margin-bottom:5px;
}
.bodywrapper .listEditToolbar button img{ margin-right:2px; vertical-align: text-bottom}

.bodywrapper .listEditToolbar button,
.bodywrapper .listEditToolbar input {
	background:#fff url(img/toolbar-input.png) repeat-x left bottom;
    color: #000;
    font-size: 9px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
    border:none;
	padding:2px;
	vertical-align: middle;
	margin-bottom:2px;
	display:inline;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px !important;
	line-height:16px;
	margin-bottom:5px
}
.bodywrapper .listEditToolbar button:hover,
.bodywrapper .listEditToolbar input:hover {
    background:#fff url(img/toolbar-input-on.png) repeat-x left bottom;
    color: #333;
	cursor: pointer;
	text-decoration:none;
}

.bodywrapper h3.titleaddnewcontent {
	color:#333333;
	font-size:1.8em;
	padding:5px 0 5px 0;
	margin:0px;
}
.bodywrapper h3.titleaddnewcontent img {
	vertical-align: text-bottom;
	margin-right:5px
}
.bodywrapper span.markedForDeletion {
	text-decoration: line-through;
}

.bodywrapper div.markedForDeletion {
    background-color: #EAEAEA;
    border: 1px dashed #333333;
    color: #666666;
    overflow: hidden;
    position: relative;
}

.bodywrapper span.markedForDeletionLabel {
    background-color: #333333;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #999999;
    color: #FFFFFF;
    font-family: tahoma,arial,verdana,sans-serif;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 30%;
}