/******************************************************************************
* Get Flash
******************************************************************************/
.bodywrapper .flashcontent {
    border: 1px solid #990000;
    padding: 10px;
    margin-bottom: 10px;
    clear: both;
    position: relative;
    height: 1%;
}