/******************************************************************************
* FormMainContent
******************************************************************************/
.bodywrapper .FormMainContent {
	background:#fff url(img/formmaincontent-bg.jpg) repeat left top;
    color: #000;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	padding:10px;
	border:1px solid #996600;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:14px !important;
	margin-bottom:5px;
	margin:1em 0 0 0;
	overflow:hidden;
}
.bodywrapper .FormMainContent fieldset {
	border:1px solid #b7cbd8;
	margin:5px;
	padding:5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.bodywrapper .FormMainContent legend {
	background:#fff url(img/toolbar-input.png) repeat-x left bottom;
	border:1px solid #b7cbd8;
	color:#000;
	display:inline;
	font-weight:bold;
	padding:0 0.5em;
	text-transform:uppercase;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.bodywrapper .FormMainContent input,
.bodywrapper .FormMainContent textarea {
	width:97%
}
.bodywrapper .FormMainContent p{
	clear:both;
	margin:0.5em 0;
	padding:0px
}
.bodywrapper .FormMainContent .formMarginLeft{
	margin:0.5em 0 0.5em 0;
	padding:0;
}
.bodywrapper .FormMainContent label.left,
.bodywrapper .FormMainContent label {
	display:block;
	color:#330000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	margin-bottom:10px;
}
.bodywrapper .FormMainContent input, .bodywrapper .FormMainContent select, .bodywrapper .FormMainContent textarea {
	background:#fff url(img/formmaincontent-input.gif) repeat-x top left;
	border:1px solid #C8C8C8;
	color:#333333;
	font-size:13px;
	line-height:13px;
	margin-bottom:20px;
	padding:8px;
}
.bodywrapper .FormMainContent input.radio, .bodywrapper .FormMainContent input.checkbox {
	width:auto;
}
.bodywrapper .FormMainContent input.button, .bodywrapper .FormMainContent button{
	background-image:none;
	width:auto;
	background:#663300;
    color: #fff;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	box-shadow: 0 1px 3px #999;
	padding:5px 10px;
	vertical-align: middle;
	display:inline;
	border:1px solid #330000;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:14px !important;
	line-height:14px;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:2px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
.bodywrapper .FormMainContent input.button:hover, .bodywrapper .FormMainContent button:hover{
	background-image:none;
    background:#330000;
    color: #ffcc99;
	cursor: pointer;
	text-decoration:none;
}
.bodywrapper .FormMainContent button img{
	vertical-align: text-bottom;
	margin-right:2px
}
.bodywrapper .FormMainContent button span.icon-contribute{
	width:16px;
	height:16px;
	display:block;
	float:left;
	margin-right:3px;
}

.bodywrapper .FormMainContent button span.icon-accept{
 	background:url(img/formmaincontent-valide.png) no-repeat top left;
}
.bodywrapper .FormMainContent button span.icon-cancel{
 	background:url(img/formmaincontent-reset.png) no-repeat top left;
}