/******************************************************************************
*  Go to Manager
******************************************************************************/

.bodywrapper ul.gotomanager  {
	position:relative;
	margin:0;
	margin:0.5em 0;
	list-style:none;
	padding:0
}

.bodywrapper ul.gotomanager li {
	padding:2px 5px;
	margin:0;
	list-style:none
}
.bodywrapper ul.gotomanager li {
	border-bottom:1px dotted #ccc ;
	padding:5px;
	margin:0;
	list-style:none;
	line-height:1.375em;
	display:block
}
.bodywrapper ul.gotomanager li:last-child {
	border-bottom-color:none;
}
.bodywrapper ul.gotomanager li:hover{
	background-color:#eaeaea
}
