/******************************************************************************
*  admin-links
******************************************************************************/

#bodywrapper .admin-links ul {
	position:relative;
    margin: 0.5em 0 1em;
    padding: 0;
	list-style:none;
}
#bodywrapper .admin-links li {
    list-style: none;
    margin: 0;
    padding: 2px 5px;
}
