/******************************************************************************
*  List Sites
******************************************************************************/

.bodywrapper ul.list-sites  {
	position:relative;
	margin:0;
	margin:0.5em 0;
	list-style:none;
	padding:0
}

.bodywrapper ul.list-sites li {
	padding:2px 5px;
	margin:0;
	list-style:none
}
.bodywrapper ul.list-sites li.listsiteicon {
	border-bottom:1px dotted #ccc ;
	padding:5px;
	margin:0;
	list-style:none;
	background:transparent url(img/sites.png) no-repeat scroll 2px 5px ;
	padding-left:24px;
	line-height:1.375em;
	display:block
}
.bodywrapper ul.list-sites li:last-child {
	border-bottom-color:none;
}
.bodywrapper ul.list-sites li:hover{
	background-color:#eaeaea
}
