
/******************************************************************************
*  user Simple View
******************************************************************************/
 .user-profile-view{
	padding: 0.2em;
	margin-bottom:1em;
}
 .user-profile-img {
	padding: 0.2em;
	float:left;
}

 .user-profile-view h5 {
	padding: 0.2em;
	margin-left:70px;
}
 .user-profile-view p {
	padding: 0.2em;
	margin-left:70px;
}