
// CREATE
#JahiaGxtCreateContentTab {
    // Deal with icons here ...
    .gwt-Image-TEST {
        background-size: 23px 23px;
        background-repeat: no-repeat;
        padding-left: 18px;
        width: 18px;
        height: 23px;
        opacity: 0.8;

        // CATEGORY ICON
        background-image: url(../images/icons/tabs-files-dark@X2.png); /* OPTIMISE URL ::: css/app/side-panel/_tab-create.scss ::: 1 */
    }

    .x-grid3-row-selected {
        .gwt-Image {
            // CATEGORY ICON
            background-image: url(../images/icons/tabs-files@X2.png); /* OPTIMISE URL ::: css/app/side-panel/_tab-create.scss ::: 2 */
        }
    }

    &::before {
        /* Tab Content Header Label */
        content: _dictionary("create") !important;
    }

    // Tree Options
    .gwt-content-label {
        &::after {
            /* MORE Options button for TREE */
            display: none;
        }
    }

    .x-grid-panel {
        margin-top: 50px;
    }
}
