// Common
#JahiaGxtPagesTab,
#JahiaGxtCreateContentTab,
#JahiaGxtContentBrowseTab,
#JahiaGxtFileImagesBrowseTab,
#JahiaGxtSearchTab,
#JahiaGxtCategoryBrowseTab,
#JahiaGxtChannelsTab,
#JahiaGxtSettingsTab {
    // Common for ALL Side Panel Contents

    form {
        .x-form-item {
            padding: 2px;
        }
    }

    .x-viewport-editmode & {
        left: 0;
        width: 100% !important;
        height: 100% !important;
        box-sizing: border-box;
        display: none;
        position: relative;
        padding: _theme($TAB--PADDING);
        box-shadow: _theme($TAB-BOX-SHADOW);

        body[data-indigo-gwt-side-panel="open"] & {
            display: block;
        }

        transition: _transition("all", "quick");
    }

    &.x-masked {
        &::before {
            position: relative;
        }
    }


    &::before {
        content: _dictionary("site_settings");
        @include text(_theme($SIDE-PANEL--TITLE--SIZE), _theme($TITLE--COLOR, $SIDE-PANEL), _theme($SIDE-PANEL--TITLE--WEIGHT));
        display: block;
        margin: 22px 0 30px -15px;
        transition: _transition("all", "quick");
        line-height: 47px;
        letter-spacing: -0.5px;

        body[data-indigo-gwt-side-panel="open"] & {
            margin: _theme($SIDE-PANEL--HEADER---MARGIN);
            border-top: _theme($SIDE-PANEL--DIVIDER);
            border-bottom: _theme($SIDE-PANEL--DIVIDER);
            padding: _theme($SIDE-PANEL--HEADER---PADDING);
            background: _theme($SIDE-PANEL--HEADER---BG);
        }

        body[data-indigo-gwt-side-panel="open"][data-indigo-app="edit"] & {
            line-height: 40px;
        }

        body[data-edit-window-style="settings"] &,
        .x-viewport-adminmode &,
        .x-viewport-dashboardmode & {
            font-size: 36px;
            font-weight: 100;

            padding-left: 0px;
            position: fixed;
            top: 15px !important;
            left: 84px !important;
        }

        .x-viewport-adminmode & {
            content: _dictionary("administration") !important;
        }

        .x-viewport-dashboardmode & {
            content: _dictionary("home") !important;
            top: 40px;
            left: 75px;
        }

        /* END TEMP */
    }

    > .x-border-layout-ct {
        /* Intermediary Container in CREATE tabs */
        height: 100% !important;
        width: 100% !important;
    }

    .x-box-inner {
        height: calc(100% - 116px) !important;
        width: 100% !important;

        .x-box-item {
            /* Used in COntent Tabs, 2 x-box-items side by side contain list and results window */
            height: 100% !important;
            display: inline-block;
            position: relative !important;
            width: 100% !important;
            top: 0 !important;
            background: transparent !important;
            vertical-align: top;

            &:nth-child(1) { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tabs-common.scss ::: 1 */
                padding-right: 20px;
                box-sizing: border-box;
            }

            > .x-component {
                /* Container for List View */
                width: 100% !important;
                background: transparent !important;
            }
        }
    }

}
