// PANELS WITH SUB PANELS
#JahiaGxtContentBrowseTab.tab_content,
#JahiaGxtFileImagesBrowseTab.tab_filesimages,
#JahiaGxtCategoryBrowseTab.tab_categories,
#JahiaGxtSearchTab.tab_search {
    width: 100% !important;

    .x-box-inner .x-box-item:nth-child(2) { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tabs-sub-panels.scss ::: 1 */
        display: inline-block;
        position: fixed !important;
        left: 360px !important;
        padding-left: 0px;
        height: calc(100% + 14px) !important;
        overflow: scroll !important;
        transition: width 0.2s ease-in 0s;
        padding-top: 20px;
        padding-bottom: 20px;
        top: -7px !important;
        box-sizing: border-box;
        width: 354px !important;
        box-shadow: inset 3px 0px 7px #babbbc, inset -24px 0px 0 0 transparent;

        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtPagesTab"]:not([data-indigo-app="admin"].minimise-results) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtCreateContentTab"]:not([data-indigo-app="admin"].minimise-results) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtContentBrowseTab"]:not([data-indigo-app="admin"].minimise-results) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtFileImagesBrowseTab"]:not([data-indigo-app="admin"].minimise-results) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtSearchTab"]:not([data-indigo-app="admin"].minimise-results) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtCategoryBrowseTab"]:not([data-indigo-app="admin"].minimise-results) & {
            margin-left: 15px !important;
            width: 339px !important;
        }

        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtPagesTab"].minimise-results:not([data-indigo-app="admin"]) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtCreateContentTab"].minimise-results:not([data-indigo-app="admin"]) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtContentBrowseTab"].minimise-results:not([data-indigo-app="admin"]) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtFileImagesBrowseTab"].minimise-results:not([data-indigo-app="admin"]) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtSearchTab"].minimise-results:not([data-indigo-app="admin"]) &,
        body[data-sitesettings="true"][data-indigo-gwt-panel-tab="JahiaGxtSidePanelTabs__JahiaGxtCategoryBrowseTab"].minimise-results:not([data-indigo-app="admin"]) & {
            margin-left: 15px !important;
            width: 0 !important;
        }

        > div {
            height: 100% !important;
        }

        &:after {
            @include text(14px, _theme-color(primary), $FONT--WEIGHT---SEMILIGHT);
            content: $text_empty;
            display: block;
            padding: 16px;
            position: absolute;
            top: 0;
        }

        &:before {
            content: " ";
            color: red;
            z-index: 99999;
            position: absolute;
            text-indent: -50000px;
            right: -6px;
            background: url(../images/icons/toggle-EW@X2.png) no-repeat center center;
            background-size: 15px;
            top: calc(50% - 12px);
            width: 25px;
            height: 25px;
            pointer-events: all;
            transition: all 0.1s ease-in 0s;
            padding: 0;
        }

        body.ext-gecko & {
            &:before {
                right: 6px;
            }
        }

        body.minimise-results & {

            &:before {
                background: url(../images/icons/toggle-WE-white@X2.png) no-repeat center center;
                background-size: 15px;
            }

            width: 0px !important;
            padding: 80px 0 0 24px;
            pointer-events: all;
            box-shadow: inset 3px 0px 7px rgba(0, 0, 0, 0.4), inset -24px 0px 0 0 #06a1e3, 3px 0px 3px 0 rgba(0, 0, 0, 0.4) !important;

            &:hover {
                box-shadow: inset 1px 0px 7px rgba(0, 0, 0, 0.4), inset -24px 0px 0 0 #06a1e3, 7px 0px 10px 0 rgba(0, 0, 0, 0.4) !important;

                &:before {
                    right: -8px;
                }
            }

            > div {
                overflow: hidden;
            }
        }

        body.minimise-results.ext-gecko & {
            &:before {
                right: -1px;
            }
        }
    }

        .results-column {
            .x-grid3-td-displayName,
            .gwt-content-label {
                &::after {
                    height: 100%;
                }
            }

            .x-grid3-td-icon .x-grid3-cell-inner {
                position: absolute;
                padding: 0px 7px;

                img {
                    position: relative;
                    top: calc(50% - 8px);
                    left: 5px;
                }
            }

            .x-grid3-cell-inner.x-grid3-col-displayName {
                overflow: visible !important;
                white-space: pre-wrap;
                width: 257px;
                display: block;
                padding: 7px 0;
            }

            .x-grid3-row {
                height: auto !important;
                min-height: 27px;
                margin-bottom: 1px;
            }

            .x-grid3-td-publicationInfo {
                height: 100%;

                img {
                    height: 100% !important;
                }
            }
        }


    &.show-results {
        // width: 600px!important;

        .x-box-inner .x-box-item:nth-child(2) { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tabs-sub-panels.scss ::: 2 */
            left: 360px !important;
            padding-left: 10px;
            background: none !important;
            transition: all 0.2s ease-in 0s;
            pointer-events: none;
            padding-right: 25px;

            body[indigo-dragging-panel="true"] & {
                transition: none !important
            }

            &:hover {
                cursor: pointer;
            }

            &:after {
                display: none;
            }

            > div {
                pointer-events: all;
            }

            // Dragging has started
            body.indigo-drag-to-drop & {
                opacity: 0;
                width: 0px !important;
            }
        }

        .JahiaGxtSearchTab-results {
            display: block;

            .x-panel-bwrap {

                padding-right: 25px;
                pointer-events: none;

                &:hover {
                    cursor: pointer;
                }

                &:after {
                    content: " ";
                    color: red;
                    z-index: 99999;
                    position: absolute;
                    text-indent: -50000px;
                    right: 0;
                    background: url(../images/icons/toggle-EW@X2.png) no-repeat center center;
                    background-size: 15px;
                    top: calc(50% - 12px);
                    width: 25px;
                    height: 25px;
                    pointer-events: all;
                    transition: all 0.1s ease-in 0s;
                }

                > div {
                    pointer-events: all;
                }

                // Dragging has started
                body.indigo-drag-to-drop & {
                    opacity: 0;
                    width: 0px !important;
                }

                body.minimise-results & {
                    &:after {
                        background: url(../images/icons/toggle-WE-white@X2.png) no-repeat center center;
                        background-size: 15px;
                    }

                    width: 0px !important;
                    padding: 0 0 0 24px;
                    pointer-events: all;
                    box-shadow: inset 3px 0px 7px rgba(0, 0, 0, 0.4), inset -24px 0px 0 0 #06a1e3, 3px 0px 3px 0 rgba(0, 0, 0, 0.4) !important;

                    &:hover {
                        box-shadow: inset 1px 0px 7px rgba(0, 0, 0, 0.4), inset -24px 0px 0 0 #06a1e3, 7px 0px 10px 0 rgba(0, 0, 0, 0.4) !important;

                        &:after {
                            right: -3px;
                        }
                    }

                    > div {
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
