
// PAGES
#JahiaGxtPagesTab {
    .x-grid3 .x-grid3-scroller {
        height: calc(100% - 109px) !important;
    }

    .marked-for-deletion {
        .x-grid3-col-locked {
            background-color: _color("status", error);
        }
    }

    .x-grid3-col-locked {
        background: url(../images/icons_light/lock.svg) _color("quaternary", normal) no-repeat center; /* OPTIMISE URL ::: css/app/side-panel/_tab-pages.scss ::: 9 */
        width: 12px;
        height: 12px !important;
        border-radius: 2px;
        position: relative;
        right: -8px;
        top: calc(#{$ROW--HEIGHT}/2 - 12px);
        background-size: 16px;

        > img {
            display: none;
        }

        &:empty {
            background: none;
        }
    }

    .notPublished {
        font-style: italic;
    }

    // Deal with icons here ...
    .x-tree3-node-icon {

        background-size: 23px 23px;
        background-repeat: no-repeat;
        padding-left: 18px;
        width: 18px;
        height: 27px;
        opacity: 0.8;
        background-position: center top 3px;
        display: _theme($TAB--ICONS---DISPLAY);

        // Default
        &:not([src$="/jnt_page.png"]):not([src$="/jnt_virtualsite.png"]):not([src$="/jnt_nodeLink.png"]):not([src$="/jnt_externalLink.png"]):not([src$="/jnt_navMenuText.png"]) { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 1 */
            width: 16px !important;
            height: 16px !important;
            padding-left: 0;
            opacity: 1;
            padding-top: 0;
        }

        &[src$="/jnt_page.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 2 */
            background-image: url(_theme($SIDE-PANEL-TAB--PAGES-ICON--UP, $SIDE-PANEL));
            background-size: 20px;
        }

        &[src$="/jnt_virtualsite.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 3 */
            background-image: url(_theme($SIDE-PANEL-TAB--VIRTUALSITES-ICON--UP, $SIDE-PANEL)); /* OPTIMISE URL ::: css/app/side-panel/_tab-pages.scss ::: 1 */
        }

        // Internal link
        &[src$="jnt_nodeLink.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 4 */
            background-image: url(../images/icons/tabs-placeholder-black@X2.png); /* OPTIMISE URL ::: css/app/side-panel/_tab-pages.scss ::: 2 */
            display: inline-block !important;
            padding: 0;
            height: auto;
            width: auto;
            opacity: 1;
        }

        // External link
        &[src$="jnt_externalLink.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 5 */
            background-image: url(../images/icons/tabs-placeholder-black@X2.png); /* OPTIMISE URL ::: css/app/side-panel/_tab-pages.scss ::: 3 */
            display: inline-block !important;
            padding: 0;
            height: auto;
            width: auto;
            opacity: 1;
        }

        // Menu link
        &[src$="jnt_navMenuText.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 6 */
            background-image: url(../images/icons/tabs-placeholder-black@X2.png); /* OPTIMISE URL ::: css/app/side-panel/_tab-pages.scss ::: 4 */
            display: inline-block !important;
            padding: 0;
            height: auto;
            width: auto;
            opacity: 1;
        }
    }

    .x-grid3-row-selected {
        .x-tree3-node-icon {
            &[src$="/jnt_page.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 7 */
                background-image: url(_theme($SIDE-PANEL-TAB--PAGES-ICON--SELECTED, $SIDE-PANEL));
                opacity: 1;
                background-position: center;
            }

            &[src$="/jnt_virtualsite.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 8 */
                background-image: url(../images/icons/tabs-site-white@X2.png); /* OPTIMISE URL ::: css/app/side-panel/_tab-pages.scss ::: 5 */
                opacity: 1;
            }

            &[src$="jnt_nodeLink.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 9 */
                background-image: url(../images/icons/tabs-placeholder-white@X2.png); /* OPTIMISE URL ::: css/app/side-panel/_tab-pages.scss ::: 6 */
                opacity: 1;
            }

            &[src$="jnt_externalLink.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 10 */
                background-image: url(../images/icons/tabs-placeholder-white@X2.png); /* OPTIMISE URL ::: css/app/side-panel/_tab-pages.scss ::: 7 */
                opacity: 1;
            }

            &[src$="jnt_navMenuText.png"] { /* OPTIMISE SELECTOR ::: css/app/side-panel/_tab-pages.scss ::: 11 */
                background-image: url(../images/icons/tabs-placeholder-white@X2.png); /* OPTIMISE URL ::: css/app/side-panel/_tab-pages.scss ::: 8 */
                opacity: 1;
            }
        }
    }


    &::before {
        /* Tab Content Header Label */
        content: _dictionary("pages") !important;
    }
}
