// Common
#JahiaGxtPagesTab,
#JahiaGxtCreateContentTab,
#JahiaGxtContentBrowseTab,
#JahiaGxtFileImagesBrowseTab,
#JahiaGxtSearchTab,
#JahiaGxtCategoryBrowseTab,
#JahiaGxtChannelsTab,
#JahiaGxtSettingsTab {
    // Common for ALL Side Panel Contents

    form {
        .x-form-item {
            padding: 2px;
        }
    }

    .x-viewport-editmode & {
        @extend %SIDE_PANEL--TAB--CONTENTS;

    }

    &.x-masked {
        &::before {
            position: relative;
        }
    }


    &::before {
        content: $text_site_settings;
        @extend %SIDE_PANEL--TITLE;
        display: block;
        margin: 22px 0 30px -15px;
        transition: all 0.2s ease-in 0s;
        font-size: 30px;
        line-height: 47px;
        letter-spacing: -0.5px;

        body[data-indigo-gwt-side-panel="open"] & {
            margin: 26px 0 30px 1px;
        }

        body[data-indigo-gwt-side-panel="open"][data-indigo-app="edit"] & {
            line-height: 40px;
        }

        body[data-edit-window-style="settings"] &,
        .x-viewport-adminmode &,
        .x-viewport-dashboardmode & {
            font-size: 36px;
            font-weight: 100;

            padding-left: 0px;
            position: fixed;
            top: 15px !important;
            left: 84px !important;
        }

        .x-viewport-adminmode & {
            content: $text_administration !important;
        }

        .x-viewport-dashboardmode & {
            content: $text_home !important;
            top: 40px;
            left: 75px;
        }

        /* END TEMP */
    }

    > .x-border-layout-ct {
        /* Intermediary Container in CREATE tabs */
        height: 100% !important;
        width: 100% !important;
    }

    .x-box-inner {
        height: calc(100% - 116px) !important;
        width: 100% !important;

        .x-box-item {
            /* Used in COntent Tabs, 2 x-box-items side by side contain list and results window */
            height: 100% !important;
            display: inline-block;
            position: relative !important;
            width: 100% !important;
            top: 0 !important;
            background: transparent !important;
            vertical-align: top;

            &:nth-child(1) {
                padding-right: 20px;
                box-sizing: border-box;
            }

            > .x-component {
                /* Container for List View */
                width: 100% !important;
                background: transparent !important;
            }
        }
    }

}
