<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cookieAuthConfig" class="org.jahia.params.valves.CookieAuthConfig">
		<!-- Should we use cookie authentication for login? -->
		<property name="activated" value="${auth.cookie.enabled}"/>
   		<!-- 
   			length of cookie identifier key for user. This is the actual value
			stored in the cookie, so make sure it is long enough to improve security
		 -->
	    <property name="idLength" value="40"/>
	    <!--
	    	name of user property under which we store the cookie identifier key in Jahia,
	     	for matching with the value coming from the cookie.
	     -->
	    <property name="userPropertyName" value="cookieauth"/>
	    <!--
	    	cookie name. It is a good idea to keep this name a bit cryptic so that
			even if someone steals the cookie he doesn't necessarily understand it
	     -->
	    <property name="cookieName" value="jid"/>
	    <!--
	    	age of cookie in seconds. So basically a value of 2592000 is 30 days
			expiration, which means that if the user doesn't come back to the site during
			30 days he will then have to login again. The way the cookie is renewed
			depends how the cookieAuthRenewalActivated setting is set. 
	     -->
	    <property name="maxAgeInSeconds" value="2592000"/>
	    <!--
	    	Cookie renewal means that if a user is recognized using a cookie, the age in
			seconds will be reset. So it means that every time the user comes in and is
			recognized using a cookie, the cookie age will be reset to the value defined
			in cookieAuthMaxAgeInSeconds. If this setting is false, cookies will not be
			renewed, and after the cookie expires the user will have to login again.
			For a more natural behavior, it is best to set this setting to true and leave
			the age in seconds to a value in days. 
	     -->
	    <property name="renewalActivated" value="true"/>
    </bean>

</beans>
