<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
       
  <bean id="NtlmHttpFilter" class="org.jahia.bin.filters.ntlm.NtlmHttpFilter">
  	<property name="enabled" value="${ntlmFilter.enabled}"/>
    <property name="properties">
    	<map key-type="java.lang.String" value-type="java.lang.String">
    		<entry key="jcifs.smb.client.domain" value="JAHIA"/>
    		<entry key="jcifs.netbios.wins" value="192.168.2.3"/>
	        <!-- Use this parameter to deactivate NTLM authentication. If
	             NTLM authentication is activated, you will only be able
	             to log on using this method, or by using Basic authentication
	             if the enableBasic parameter is set to true.
	        -->        
    		<entry key="jcifs.http.skipAuthentification" value="true"/>
        	<!-- Activates HTTP Basic authentication if NTLM is not available -->        
    		<entry key="jcifs.http.enableBasic" value="true"/>
	        <!-- If this parameter is true, it means we will allow BASIC authentication
	             over regular HTTP connections. If it is false, this means that only
	             HTTPS session will be accepted for BASIC authentication.
	        -->        
    		<entry key="jcifs.http.insecureBasic" value="true"/>
	        <!-- This parameter controls whether the detected BASIC authentication passed
	             over to the filter will be used to do an SMB login. Set this to true if
	             you want to use BASIC authentication to login on your domain controller,
	             and set to false if you want Jahia to handle the basic authentication.
	        -->                
    		<entry key="jcifs.http.useBasic" value="false"/>
    		<entry key="jcifs.smb.client.soTimeout" value="300000"/>
    		<entry key="jcifs.netbios.cachePolicy" value="1200"/>
    	</map>
    </property>
  </bean>
         
</beans>
