<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
       
  <bean name="jcifsProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="properties">
      <props>
        <prop key="jcifs.smb.client.domain">JAHIA</prop>
        <prop key="jcifs.netbios.wins">192.168.2.3</prop>
        <!-- Use this parameter to deactivate NTLM authentification. If
             NTLM authentification is activated, you will only be able
             to log on using this method, or by using Basic authentification
             if the enableBasic parameter is set to true.
        -->        
        <prop key="jcifs.http.skipAuthentification">true</prop>
        <!-- Activates HTTP Basic authentification if NTLM is not available
        -->        
        <prop key="jcifs.http.enableBasic">true</prop>
        <!-- If this parameter is true, it means we will allow BASIC authentification
             over regular HTTP connections. If it is false, this means that only
             HTTPS session will be accepted for BASIC authentification.
        -->        
        <prop key="jcifs.http.insecureBasic">true</prop>
        <!-- This parameter controls whether the detected BASIC authentification passed
             over to the filter will be used to do an SMB login. Set this to true if
             you want to use BASIC authentification to login on your domain controller,
             and set to false if you want Jahia to handle the basic authentification.
        -->                
        <prop key="jcifs.http.useBasic">false</prop>
      </props>
  	</property>
  </bean>
         
</beans>
