// CLEAR FORM BUTTON
%FORM--CLEAR_BUTTON---UP {
    background: no-repeat center center;
    background-color: _property($INPUT--BG, $APP) !important;
    background-image: url($ICON--CLOSE_SMALL---WHITE);
    background-size: 45%;
} 

%FORM--CLEAR_BUTTON---HOVER {
    background-color: _property($INPUT--BG---HOVER, $APP) !important;
    background-image: url($ICON--CLOSE_SMALL---WHITE);
}

%FORM--CLEAR_BUTTON---FOCUS {
    background-color: _property($INPUT--BG---FOCUS, $APP) !important;
    opacity: 1 !important;
    background-image: url($ICON--CLOSE_SMALL---WHITE);
}

// EDIT PANEL EXCEPTIONS
%FORM--CLEAR_BUTTON---UP\:EDIT_ENGINE {
    background-color: _property($INPUT--BG, $EDIT-ENGINE) !important;
    opacity: 0.5;
}

%FORM--CLEAR_BUTTON---HOVER\:EDIT_ENGINE {
    background-color: _property($INPUT--BG---HOVER, $EDIT-ENGINE) !important;
    opacity: 1;
}

// DUAL LIST EXCEPTIONS
%FORM--CLEAR_BUTTON---UP\:DUAL_LIST {
    background-color: _property($INPUT--BG, $EDIT-ENGINE) !important;
    opacity: 0.5;
}

%FORM--CLEAR_BUTTON---HOVER\:DUAL_LIST {
    background-color: _property($INPUT--BG---HOVER, $EDIT-ENGINE) !important;
    opacity: 1;
}

%FORM--CLEAR_BUTTON---FOCUS\:DUAL_LIST {
}

// PICKER FILTER EXCEPTIONS
%FORM--CLEAR_BUTTON---UP\:PICKER_FILTER {
    background-color: _property($INPUT--BG, $PICKER-HEADER-INPUT) !important;
    background-image: url($ICON--CLOSE_LARGE---GREY) !important;
    height: 21px !important;
    opacity: 0.5;
}

%FORM--CLEAR_BUTTON---HOVER\:PICKER_FILTER {
    background-color: _property($INPUT--BG---HOVER, $PICKER-HEADER-INPUT) !important;
    opacity: 1;
}


// FORM
%BUTTON--TEXT\:FORM {
    background: _property($BUTTON--BG, $EDIT-ENGINE) !important;
    text-transform: uppercase;
    padding: 5px 10px !important;
    margin-top: 2px;
    @include text(10px, _property($BUTTON--COLOR, $EDIT-ENGINE), $FONT--WEIGHT---NORMAL);
}

%BUTTON--TEXT---HOVER\:FORM {
    background: _property($BUTTON--BG---HOVER, $EDIT-ENGINE) !important;
    @include text(10px, _property($BUTTON--COLOR---HOVER, $EDIT-ENGINE), $FONT--WEIGHT---NORMAL);
}

%BUTTON--ICON\:FORM {
    background: _property($BUTTON--BG, $EDIT-ENGINE) !important;
    padding: 5px 10px 5px 29px;
    @include text(16px, _property($BUTTON--COLOR, $EDIT-ENGINE), $FONT--WEIGHT---EXTRALIGHT);

    img {
        left: 5px !important;
        top: 7px !important;
    }
}

%BUTTON--ICON---HOVER\:FORM {
    background: _property($BUTTON--BG---HOVER, $EDIT-ENGINE) !important;
    padding: 5px 10px 5px 29px;
    @include text(16px, _property($BUTTON--COLOR---HOVER, $EDIT-ENGINE), $FONT--WEIGHT---EXTRALIGHT);

    img {
        left: 5px !important;
    }
}

// FORM
%BUTTON--TEXT\:FORM_SMALL {
    background: _property($BUTTON--BG, $EDIT-ENGINE) !important;
    text-transform: uppercase !important;
    padding: 5px 10px !important;
    @include text(10px, _property($BUTTON--COLOR, $EDIT-ENGINE) !important, $FONT--WEIGHT---SEMIBOLD);
}

%BUTTON--TEXT--HOVER_PARENT\:FORM_SMALL {
}

%BUTTON--TEXT---HOVER\:FORM_SMALL {
    background: _property($BUTTON--BG---HOVER, $EDIT-ENGINE) !important;
    color: _property($BUTTON--COLOR---HOVER, $EDIT-ENGINE) !important;
}

%BUTTON--ICON\:FORM_SMALL {
    background: _property($BUTTON--BG, $EDIT-ENGINE) !important;
    padding: 5px 10px 5px 29px;
    @include text(10px, _property($BUTTON--COLOR, $EDIT-ENGINE) !important, $FONT--WEIGHT---SEMIBOLD);
    text-transform: uppercase;

    img {
        left: 5px !important;
        top: 7px !important;
    }
}

%BUTTON--ICON---HOVER\:FORM_SMALL {
    background: _property($BUTTON--BG---HOVER, $EDIT-ENGINE) !important;
    color: _property($BUTTON--COLOR---HOVER, $EDIT-ENGINE) !important;
}


// WARNING
%BUTTON--TEXT\:WARNING {
    background: _property($BUTTON-WARNING--BG, $EDIT-ENGINE);
    text-transform: uppercase;
    padding: 5px 10px;
    text-transform: uppercase;
    opacity: 0.95;
    @include text(10px, _property($BUTTON-WARNING--COLOR, $EDIT-ENGINE), $FONT--WEIGHT---SEMIBOLD);
}

%BUTTON--TEXT--HOVER_PARENT\:WARNING {
}

%BUTTON--TEXT---HOVER\:WARNING {
    background: _property($BUTTON-WARNING--BG---HOVER, $EDIT-ENGINE);
    color: _property($BUTTON-WARNING--COLOR---HOVER, $EDIT-ENGINE);
    opacity: 1;
}

%BUTTON--ICON\:WARNING {
    background: _property($BUTTON-WARNING--BG, $EDIT-ENGINE);
    padding: 5px 10px 5px 29px;
    @include text(10px, _property($BUTTON-WARNING--COLOR, $EDIT-ENGINE), $FONT--WEIGHT---SEMIBOLD);
    text-transform: uppercase;
    opacity: 0.95;

    img {
        left: 5px !important;
        top: 7px !important;
    }
}

%BUTTON--ICON---HOVER\:WARNING {
    background: _property($BUTTON-WARNING--BG---HOVER, $EDIT-ENGINE);
    color: _property($BUTTON-WARNING--COLOR---HOVER, $EDIT-ENGINE);
    opacity: 1;
}

// SIMPLE TEXT BUTTON
%BUTTON--TEXT\:BUTTON_DISCREET {
    background: _property($BUTTON_DISCREET--BG, $EDIT-ENGINE);
    text-transform: uppercase;
    padding: 5px 10px;
    text-transform: uppercase;
    @include text(10px, _property($BUTTON_DISCREET--COLOR, $EDIT-ENGINE), $FONT--WEIGHT---SEMIBOLD);
}

%BUTTON--TEXT---HOVER\:BUTTON_DISCREET {
    background: _property($BUTTON-DISCREET--BG---HOVER, $EDIT-ENGINE);
    color: _property($BUTTON-DISCREET--COLOR---HOVER, $EDIT-ENGINE);
}

%BUTTON--ICON\:BUTTON_DISCREET {
    background: _property($BUTTON_DISCREET--BG, $EDIT-ENGINE);
    padding: 5px 10px 5px 29px;
    @include text(10px, _property($BUTTON_DISCREET--COLOR, $EDIT-ENGINE), $FONT--WEIGHT---SEMIBOLD);
    text-transform: uppercase;

    img {
        left: 7px !important;
        top: 4px !important;
    }
}

%BUTTON--ICON---HOVER\:BUTTON_DISCREET {
    background: _property($BUTTON-DISCREET--BG---HOVER, $EDIT-ENGINE);
    color: _property($BUTTON-DISCREET--COLOR---HOVER, $EDIT-ENGINE);
}

// ACTION BAR
%BUTTON--TEXT\:ACTIONBAR {
    text-transform: none;
    padding: 8px 15px !important;
    background: _property($ACTION-DEFAULT--BG, $APP) !important;
    @include text(14px, _property($ACTION-DEFAULT--COLOR, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

%BUTTON--TEXT---HOVER\:ACTIONBAR {
    background: _property($ACTION-DEFAULT--BG---HOVER, $APP) !important;
    padding: 5px 10px;
    @include text(14px, _property($ACTION-DEFAULT--COLOR---HOVER, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

%BUTTON--ICON\:ACTIONBAR {
    padding: 8px 15px !important;
    background: _property($ACTION-DEFAULT--BG, $APP) !important;
    @include text(14px, _property($ACTION-DEFAULT--COLOR, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);

    img {
        left: 5px !important;
    }
}

%BUTTON--ICON---HOVER\:ACTIONBAR {
    background: _property($ACTION-DEFAULT--BG---HOVER, $APP) !important;
    @include text(14px, _property($ACTION-DEFAULT--COLOR---HOVER, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

// INVERT
%BUTTON--TEXT\:TOGGLE_ASC {
    background-color: transparent !important;
    background-image: url($ICON--ASC--DARK) !important;
    text-indent: -50000px;
    width: 22px !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 15px !important;
    height: 21px !important;
    opacity: 0.8;
}

%BUTTON--TEXT---HOVER\:TOGGLE_ASC {
    opacity: 1;
    background-color: #ebe6e6 !important;
}


// ACTION BAR ::: SUGGESTED
%BUTTON--TEXT\:ACTIONBAR---SUGGESTED {
    padding: 8px 15px !important;
    text-transform: none !important;
    background: _property($ACTION-SUGGESTED--BG, $APP) !important;
    @include text(14px, _property($ACTION-SUGGESTED--COLOR, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

%BUTTON--TEXT---HOVER\:ACTIONBAR---SUGGESTED {
    background: _property($ACTION-SUGGESTED--BG---HOVER, $APP) !important;
    @include text(14px, _property($ACTION-SUGGESTED--COLOR---HOVER, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

%BUTTON--ICON\:ACTIONBAR---SUGGESTED {
    text-transform: none !important;
    padding: 8px 15px !important;
    background: _property($ACTION-SUGGESTED--BG, $APP) !important;
    @include text(14px, _property($ACTION-SUGGESTED--COLOR, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

%BUTTON--ICON---HOVER\:ACTIONBAR---SUGGESTED {
    background: _property($ACTION-SUGGESTED--BG---HOVER, $APP) !important;
    @include text(14px, _property($ACTION-SUGGESTED--COLOR---HOVER, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}


// ACTION BAR ::: SECONDARY
%BUTTON--TEXT\:ACTIONBAR---SECONDARY {
    padding: 8px 15px !important;
    text-transform: none !important;
    background: _property($ACTION-SECONDARY--BG, $APP) !important;
    box-shadow: inset 1px 1px 0 0 #007cb0, inset -1px -1px 0 0 #007cb0;
    @include text(14px, _property($ACTION-SECONDARY--COLOR, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

%BUTTON--TEXT---HOVER\:ACTIONBAR---SECONDARY {
    background: _property($ACTION-SECONDARY--BG---HOVER, $APP) !important;
    @include text(14px, _property($ACTION-SECONDARY--COLOR---HOVER, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

%BUTTON--ICON\:ACTIONBAR---SECONDARY {
    text-transform: none !important;
    padding: 8px 15px !important;
    background: _property($ACTION-SECONDARY--BG, $APP) !important;
    @include text(14px, _property($ACTION-SECONDARY--COLOR, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

%BUTTON--ICON---HOVER\:ACTIONBAR---SECONDARY {
    background: _property($ACTION-SECONDARY--BG---HOVER, $APP) !important;
    @include text(14px, _property($ACTION-SECONDARY--COLOR---HOVER, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

// ACTION BAR ::: WORK IN PROGRESS ON
%BUTTON--TEXT\:WIP---SUGGESTED {
    padding: 10px 39px 10px 17px !important;
    text-transform: none !important;
    background: url($ICON--CREATE---GREY) no-repeat right 11px center _property($ACTION-WIP--BG, $APP) !important;
    background-size: 23px !important;
    border-radius: 50px;
    @include text(14px, _property($ACTION-WIP--COLOR, $APP) !important, $FONT--WEIGHT---NORMAL);

    span {
        font-style: italic;
        opacity: 0.8;

        @include text(inherit, inherit, inherit, inherit)
    }

}

%BUTTON--TEXT---HOVER\:WIP---SUGGESTED {
    background-color: _property($ACTION-WIP--BG---HOVER, $APP) !important;
    @include text(14px, _property($ACTION-WIP--COLOR---HOVER, $APP) !important, $FONT--WEIGHT---NORMAL);
}

%BUTTON--ICON\:WIP---SUGGESTED {
    text-transform: none !important;
    padding: 10px 39px 10px 17px !important;
    background: url($ICON--CREATE---GREY) no-repeat right 11px center _property($ACTION-WIP--BG, $APP) !important;
    background-size: 23px !important;
    border-radius: 50px;
    @include text(14px, _property($ACTION-WIP--COLOR, $APP) !important, $FONT--WEIGHT---NORMAL);

    span {
        font-style: italic;
        opacity: 0.8;

        @include text(inherit, inherit, inherit, inherit)
    }
}

%BUTTON--ICON---HOVER\:WIP---SUGGESTED {
    background-color: _property($ACTION-WIP--BG---HOVER, $APP) !important;
    @include text(14px, _property($ACTION-WIP--COLOR---HOVER, $APP) !important, $FONT--WEIGHT---NORMAL);
}


// SEARCH PANEL SUGGESTED
%BUTTON--ICON\:SEARCH_PANEL---SUGGESTED {
    background: _property($ACTION-SUGGESTED--BG, $APP) !important;
    @include text(14px, _property($ACTION-SUGGESTED--COLOR, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}

%BUTTON--ICON---HOVER\:SEARCH_PANEL---SUGGESTED {
    background: _property($ACTION-SUGGESTED--BG---HOVER, $APP) !important;
    @include text(14px, _property($ACTION-SUGGESTED--COLOR---HOVER, $APP) !important, $FONT--WEIGHT---EXTRALIGHT);
}


/////////////////////////////////////////////////
// TOOL BUTTONS /////////////////////////////////
/////////////////////////////////////////////////

%TOOL_BUTTON {
    text-align: center;
    text-transform: uppercase;

    @include text(9px, whitesmoke, $FONT--WEIGHT---NORMAL);
    margin-bottom: 0;
    opacity: 0.9;
}


%TOOL_BUTTON---SIDE_PANEL_OPEN {
    color: _property($TOOL-BUTTON--COLOR, $SIDE-PANEL);
}


%TOOL_BUTTON---SIDE_PANEL_OPEN_SELECTED {
    color: _property($TOOL-BUTTON--COLOR---SELECTED, $SIDE-PANEL);
}
