/////////////////////////////////////////////////
// CONTEXT MENU /////////////////////////////////
/////////////////////////////////////////////////


// Hamburger menu
%FORM--CONTEXT_MENU--TITLE\:COMMON_HAMBURGER {
}

%FORM--CONTEXT_MENU--HOLDER\:COMMON_HAMBURGER {
}

%FORM--CONTEXT_MENU--ITEM\:COMMON_HAMBURGER {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:COMMON_HAMBURGER {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:COMMON_HAMBURGER {
}

// Language Selector
%FORM--CONTEXT_MENU--TITLE\:LANGUAGE_SELECTOR {
}

%FORM--CONTEXT_MENU--HOLDER\:LANGUAGE_SELECTOR {
}

%FORM--CONTEXT_MENU--ITEM\:LANGUAGE_SELECTOR {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:LANGUAGE_SELECTOR {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:LANGUAGE_SELECTOR {
}

// Menus available in Edit Mode
// Publication
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--PUBLICATION {
    content: attr(data-indigo-title);
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--PUBLICATION {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--PUBLICATION {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--PUBLICATION {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--PUBLICATION {
}

// Preview
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--PREVIEW {
    content: attr(data-indigo-title);
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--PREVIEW {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--PREVIEW {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--PREVIEW {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--PREVIEW {
}

// More Info (old Edit button)
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--MORE_INFO {
    content: attr(data-indigo-title);
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--MORE_INFO {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--MORE_INFO {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--MORE_INFO {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--MORE_INFO {
}

// Mode View
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--MODE_VIEW {
    content: attr(data-indigo-title);
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--MODE_VIEW {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--MODE_VIEW {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--MODE_VIEW {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--MODE_VIEW {
}

// User Menu
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--USER_MENU {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--USER_MENU {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--USER_MENU {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--USER_MENU {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--USER_MENU {
}

// Workflow
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--WORKFLOW {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--WORKFLOW {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--WORKFLOW {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--WORKFLOW {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--WORKFLOW {
}

// Cache
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--CACHE {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--CACHE {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--CACHE {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--CACHE {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--CACHE {
}

// Page Edit Context
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--PAGE_CONTEXT {
    content: attr(data-indigo-title);
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--PAGE_CONTEXT {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--PAGE_CONTEXT {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--PAGE_CONTEXT {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--PAGE_CONTEXT {
}

// Side Panel > Pages
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--PAGES {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--PAGES {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--PAGES {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--PAGES {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--PAGES {
}

// Side Panel > Content > Tree
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {
}

// Side Panel > Content > Item
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {
}

// Side Panel > File > Tree
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--FILE--TREE {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--FILE--TREE {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--FILE--TREE {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--FILE--TREE {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--FILE--TREE {
}

// Side Panel > File > Item
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {
}

// Side Panel > Search
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {
}

// Side Panel > Taxonomy
%FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {
}

%FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {
}

%FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {
}

// Menus available in Admin Mode
// User Menu
%FORM--CONTEXT_MENU--TITLE\:ADMIN_MODE--USER_MENU {
    content: $text_context_menu_admin_user_name;
}

%FORM--CONTEXT_MENU--HOLDER\:ADMIN_MODE--USER_MENU {
    @extend %FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM\:ADMIN_MODE--USER_MENU {
    @extend %FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:ADMIN_MODE--USER_MENU {
    @extend %FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:ADMIN_MODE--USER_MENU {
    @extend %FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
}

// Mode View
%FORM--CONTEXT_MENU--TITLE\:ADMIN_MODE--MODE_VIEW {
    content: $text_context_menu_admin_mode_view;
}

%FORM--CONTEXT_MENU--HOLDER\:ADMIN_MODE--MODE_VIEW {
    @extend %FORM--CONTEXT_MENU--HOLDER\:ADMIN_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM\:ADMIN_MODE--MODE_VIEW {
    @extend %FORM--CONTEXT_MENU--ITEM\:ADMIN_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:ADMIN_MODE--MODE_VIEW {
    @extend %FORM--CONTEXT_MENU--ITEM---HOVER\:ADMIN_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:ADMIN_MODE--MODE_VIEW {
    @extend %FORM--CONTEXT_MENU--ITEM---DISABLED\:ADMIN_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
}


// Menus available in Dashboard Mode
// User Menu
%FORM--CONTEXT_MENU--TITLE\:DASHBOARD_MODE--USER_MENU {
    content: $text_context_menu_dashboard_user_name;
}

%FORM--CONTEXT_MENU--HOLDER\:DASHBOARD_MODE--USER_MENU {
    @extend %FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM\:DASHBOARD_MODE--USER_MENU {
    @extend %FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:DASHBOARD_MODE--USER_MENU {
    @extend %FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:DASHBOARD_MODE--USER_MENU {
    @extend %FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
}

// Mode View
%FORM--CONTEXT_MENU--TITLE\:DASHBOARD_MODE--MODE_VIEW {
    content: $text_context_menu_dashboard_mode_view;
}

%FORM--CONTEXT_MENU--HOLDER\:DASHBOARD_MODE--MODE_VIEW {
    @extend %FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM\:DASHBOARD_MODE--MODE_VIEW {
    @extend %FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM---HOVER\:DASHBOARD_MODE--MODE_VIEW {
    @extend %FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
}

%FORM--CONTEXT_MENU--ITEM---DISABLED\:DASHBOARD_MODE--MODE_VIEW {
    @extend %FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
}
