/*shortcuts*/
.bodywrapper #slider,.bodywrapper #slider li,
.bodywrapper #slider2,.bodywrapper #slider2 li{
	height:200px;
	margin-bottom:0;
}
#prevBtn, #nextBtn, #slider1next, #slider1prev {
	top:62px !important;
}
.bodywrapper #banner {
    height: 200px !important;
	 margin: 0;
}
.bodywrapper #banner h2 {
    background: none;
	padding-bottom:0;
	margin-bottom:0;
		margin-right:500px
}
.bodywrapper #banner p {
	padding-bottom:0;
	margin-bottom:0;
	margin-right:550px
}
ol#controls {
	text-align:right;
    height: 1%;
    list-style: none outside none;
    margin: 5px 0;
    overflow: hidden;
    text-transform: uppercase;
}

.bodywrapper ol#controls {
    list-style: none outside none;
    margin: 5px 0;
    padding: 5px 12px;
	position:absolute;
	bottom:0;
	right:0;
	height:28px;
	background:none;
	border:none;
}

.bodywrapper ol#controls li {
    list-style: none outside none;
	 margin: 0 5px 0 0;
}

ol#controls li {
	float:left;
	display:inline;
    height: 28px;
    line-height: 28px;
    list-style: none outside none;
    margin: 0 10px 0 0;
    padding: 0;
}

ol#controls li a {
    background: none repeat scroll 0 0 #99ccff;
    border:none;
    color: #333333;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    text-decoration: none;
	outline: none;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-moz-box-shadow: outset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: outset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: outset 0 1px 2px rgba(0,0,0,.2);
}

ol#controls li.current a {
    background: none repeat scroll 0 0 #003399;
    color: #FFFFFF;
	border: none
}

ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus {
    outline: medium none;
}

.bodywrapper #slider ul li, .bodywrapper #slider2 ul li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

/*shortcuts*/
.bodywrapper div.shortcuts-inline {
	font-size:100%;
	padding:0px;
}
.bodywrapper .shortcuts-inline li.shortcuts-login {
	background:none;
	border:none
}
.bodywrapper p.newsInfo {
	border-bottom:none;
	border-top:none;
	margin:0;
}
/*calendar*/
.fc-event, .fc-agenda .fc-event-time, .fc-event a {
	background-color:#003399;
	border-color:#000099;
}
.bodywrapper .fc-header h2 {
	background:none;
	padding-bottom:0;
}
.fc-content .fc-state-highlight {
	background-color:#ccffcc;
}
/*jobs*/
.bodywrapper .jobsSearchForm .jobsSearchKeyword input {
	width:200px;
}
