.engine-panel:not(.trashboardengine-ctn),
div.engine-window {

        #JahiaGxtEditEnginePanel-usages {

            .x-grid3-row.x-unselectable-single {
                background: transparent !important;
                padding-top: 7px;

                a {
                    color: _color("primary");
                    text-decoration: none;
                    font-weight: 600;
                    border-bottom: 1px dashed _color("primary");
                }

                div {
                    color: _color("primary", d) !important;
                }

            }

            .x-grid-panel.x-component {
                border-top: 1px dashed _color("primary", d) !important; /* TO THEME */
                padding-top: 16px !important;
            }

            .x-btn.x-component {
                margin-bottom: 18px !important;

                &.x-btn-over .x-btn-small.x-btn-icon-small-left button {
                    background: _color("primary", d) !important; /* TO THEME */
                }

                .x-btn-small.x-btn-icon-small-left {
                    button {
                        color: _color("secondary"); /* TO THEME */
                        padding: 8px 8px;
                    }
                }
            }

            .x-grid3 .x-grid3-row-table > tbody > tr {
                display: flex;
                height: 100%;
                position: relative;
            }
        }

}
