#JahiaGxtEditEnginePanel-seo > .x-component {
    width: 100% !important;
    box-sizing: border-box;
    padding: 8px 0 0 29px;
    height: 100% !important;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    .seo-title-path {
        font-family: _font("nunito");
        font-size: 14px;
        color: _color("primary", normal);
        font-weight: _weight("light");
    }

    .seo-title {
        padding: 0 !important;
        margin-top: 2px;
        margin-bottom: 6px;
        text-transform: uppercase;
        font-family: _font("nunito");
        font-size: 18px;
        color: _color("primary", normal);
        font-weight: _weight("light");
    }

    .x-panel-header {
        font-family: _font("nunito");
        background: transparent !important;
        border: none;
    }

    > .x-panel.x-component {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 20px !important;
    }

    .x-panel-tbar {
        pointer-events: all;
        height: initial;
        position: relative;

        .x-small-editor.x-toolbar {
            background: transparent !important;
            border-color: transparent !important;
            margin: 8px 0;
            border-bottom: 1px dashed _color("secondary", c) !important;
            padding-bottom: 44px;
            margin-bottom: 16px;
        }

    }

    .x-grid3-header {
        display: block;
        background: transparent !important;
        width: 100% !important;

        .x-grid3-header-inner {
            width: 100% !important;
        }

        .x-grid3-hh {
            margin: 2px 2px 8px;
            width: 100% !important;
            border-bottom: 1px solid _color("secondary", a);
            text-transform: uppercase;
            color: _color("black", b);

            span {
                font-weight: _weight("extrabold");
                font-family: _font("nunito");
            }

            > table {
                padding: 4px 0;
                width: 100% !important;
                colgroup {
                    display: none;
                }
                tbody {
                    width: 100% !important;
                    display: block;
                    .x-grid3-hd-row {
                        display: flex !important;

                        .x-grid3-header:first-child {
                            flex-basis: 50%;
                            width: 50% !important;
                        }
                        .x-grid3-header:nth-child(2) {
                            flex-basis: 10%;
                            width: 10% !important;
                            display: flex;
                            justify-content: center;
                        }
                        .x-grid3-header:nth-child(3) {
                            flex-basis: 10%;
                            width: 10% !important;
                            display: flex;
                            justify-content: center;
                        }
                        .x-grid3-header:last-child {
                            flex-basis: 25%;
                            width: 25% !important;
                        }
                    }
                }

                .x-grid3-hd.x-grid3-cell {
                    border-left-color: _color("secondary");
                    border-right-color: _color("secondary", a);

                    &:last-child {
                        border-right-color: transparent !important;
                    }
                }
            }
        }

        td.x-grid3-hd-over .x-grid3-hd-inner {
            background: transparent !important;
        }
    }

    .x-grid3-scroller {
        width: 100% !important;
        display: block;
        overflow-y: auto !important;
        overflow-x: hidden !important;

        > .x-grid3-body {
            padding-bottom: 30px;
            width: 100% !important;
            background-color: _color("secondary") !important;

            .x-grid3-row-table {
                > tbody > tr {
                    display: flex !important;
                    flex-direction: row;

                    td:first-child {
                        flex-basis: 50%;
                        width: 50% !important;
                    }

                    td:nth-child(2) {
                        flex-basis: 10%;
                        width: 10% !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        div {
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }

                    td:nth-child(3) {
                        flex-basis: 10%;
                        width: 10% !important;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        div {
                            width: 100% !important;
                            height: 100% !important;
                        }
                    }

                    td:last-child {
                        flex-basis: 25%;
                        width: 25% !important;
                    }
                }
            }
        }
    }

    .x-grid3-cell-inner.x-grid3-col-url {
        max-width: 100%;
        overflow: hidden;
        width: inherit;
    }

    .x-row-editor {
        width: 100% !important;
        display: block;

        > .x-row-editor-bwrap {
            width: 100% !important;
        }
    }

    .x-row-editor-header {
        display: none;
    }

    .x-panel-body {
        padding-bottom: 16px;
        display: flex !important;
        width: 100% !important;
        height: 100% !important;

        .x-grid-panel {
            flex-grow: 1;
            width: 100% !important;
            height: 100% !important;
        }

        .x-grid3 .x-grid3-row {
            height: 38px !important;
            background-color: _color("secondary") !important;
            width: 100% !important;

            &.x-grid3-row-over {
                background-color: _color("secondary") !important;
            }
        }
    }

    td.x-grid3-header.x-grid3-hd.x-grid3-cell.x-grid3-td-url {
        border-left-color: transparent !important;
    }

    td.x-grid3-header.x-grid3-hd.x-grid3-cell {
        border-color: transparent !important;
    }

    td.x-grid3-hd-menu-open .x-grid3-hd-inner {
        background: _color("secondary", a) !important;
    }

    .x-grid3-viewport > .x-grid3-header .x-grid3-header-inner .x-grid3-hh > table > tbody td div .x-grid3-hd-btn { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-seo.scss ::: 1 */
        background: url( _icon("arrowDown", "grey")) no-repeat center center !important; /* OPTIMISE URL ::: css/app/edit-engine/_panel-seo.scss ::: 1 */
        width: 23px;
        background-size: 13px !important;
        opacity: 0.7;
    }

    .x-row-editor button.x-btn-text {
        background: _color("quaternary") !important;
        color: _color("white") !important;
        text-transform: uppercase;
        padding: 5px 10px !important;
        margin-top: 2px;
        @include text(10px, _theme($BUTTON--COLOR, $EDIT-ENGINE), _weight("normal"));
        &[aria-disabled="true"] {
            opacity: .6;
            color: _color("white",b) !important;
        }

        &:hover:not([aria-disabled="true"]) {
            background: _color("quaternary", a) !important;
        }
    }

    .x-row-editor-body.x-box-layout-ct {
        background: _color("secondary", a);
        height: 40px !important;
        box-sizing: border-box;
        width: 100% !important;
        .x-box-inner {
            width: 100% !important;
            height: 40px !important;
            display: flex;
            flex-direction: row;

            .x-box-item {
                position: relative !important;
                display: block;
                flex-grow: 0;
                flex-shrink: 0;
                left: 0 !important;
            }

            .x-box-item:first-child {
                flex-basis: 50%;
                width: 50% !important;
                height: 40px !important;
                pointer-events: none !important;
                > input {
                    background: _color("quinary") !important;
                    width: 100% !important;
                    z-index: 9999 !important;
                    height: 36px !important;
                    color: _color("white");
                    pointer-events: all !important;
                    &:hover {
                        background: _color("quinary", a) !important;
                    }
                    &:focus {
                        background: _color("quinary", a) !important;
                    }
                }
            }

            .x-box-item:nth-child(2) {
                flex-basis: 10%;
                width: 10% !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .x-box-item:nth-child(3) {
                flex-basis: 10%;
                width: 10% !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .x-box-item:last-child {
                flex-basis: 25%;
                width: 25% !important;
            }
        }
    }

    .x-row-editor-footer {
        background: _color("secondary", a);
        height: 1px;
    }

    .x-row-editor .x-btns {
        background: transparent;
        position: absolute;
        top: 0 !important;
        left: 70% !important;
        width: 30% !important;
        .x-plain-bwrap {
            background: transparent;
        }
    }

    .x-row-editor .x-plain-body.x-plain-body-noheader {
        background: transparent;
        margin-top: -2px;
        padding-bottom: 2px;
    }

    .x-toolbar-ct td.x-btn-mc button img {
        display: none;
    }

    .x-toolbar-ct .x-btn.x-btn-text-icon button {
        text-transform: uppercase;
        padding: 5px 10px !important;
        margin-top: 2px;
        font-size: 10px;
        font-weight: _weight("normal");
    }

    .x-toolbar-right-row > .x-toolbar-cell > div.x-form-label {
        color: _color("white") !important;
        font-weight: 600;
        font-family: _font("nunito");
        background: _color("status", error);
        padding: 4px 12px;
        border-radius: 20px;
        margin-right: 8px !important;
        position: absolute;
        top: 44px;
        left: 0;
        width: calc(100% - 8px);
        padding-left: 34px;
        box-sizing: border-box;

        &:before {
            content: "";
            background: url( _icon("warning", "white")); /* OPTIMISE URL ::: css/app/edit-engine/_panel-seo.scss ::: 2 */
            position: absolute;
            left: 0;
            top: 0;
            width: 26px;
            height: 100%;
            background-size: 18px;
            background-repeat: no-repeat;
            background-position-x: 8px;
            background-position-y: 2px;
        }
    }

    .x-grid3-col-actions .x-btn.x-btn-text-icon button {
        font-size: 0 !important;
        height: 32px !important;
        width: 32px !important;
        margin: 0 39px !important;
        padding: 0 !important;
        text-align: center;
        background-color: transparent !important;

        img {
            background: url(../images/icons_dark/deleted.svg) no-repeat center center !important; /* OPTIMISE URL ::: css/app/edit-engine/_panel-seo.scss ::: 3 */
            background-size: 22px !important;
            opacity: .64;

            &:hover {
                opacity: 1;
            }
        }
    }

    .x-grid-cell-first .x-grid3-cell-inner.x-grid3-col-url {
        line-height: 32px;
        padding-left: 8px;
    }

    .x-grid3-check-col {
        padding-top: 17px;
    }
}

.engine-save-error {
    z-index: 999999 !important;
}
