.engine-panel:not(.trashboardengine-ctn),
div.engine-window {

    .hide-headers #JahiaGxtEditEnginePanel-history > .x-component .x-panel:nth-child(1) .x-panel-bwrap .x-grid3-viewport .x-grid3-scroller .x-grid3-body { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 1 */
        left: 0;
    }

    #JahiaGxtEditEnginePanel-history {

        // User has clicked on the details button, so set flag to display the panel
        &[data-indigo-details="open"] {
            // Details panel
            > .x-component .x-panel:nth-child(2) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 2 */
                display: block;
            }

            // Make Pager look like it is behind the mask
            .x-panel-bbar {
                opacity: 0.7;
                pointer-events: none;
            }
        }

        // Only one page of results, so hide the pager
        &[indigo-results-multiple-pages="false"] {

            // Pager
            .x-panel-bbar {
                display: none;
            }

        }

        // No results to display so hide the pager
        &[indigo-results="false"] {

            // Pager
            .x-panel-bbar {
                display: none;
            }
        }

        > .x-component {
            width: 100% !important;
            height: 100% !important;

            .x-panel {

                // History List Container
                &:nth-child(1) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 3 */

                    .x-panel-bwrap {
                        width: 100%;
                        height: 100%;

                        .x-panel-ml,
                        .x-panel-mr {
                            height: 100%;
                        }

                        .x-grid3-viewport {

                            .x-grid3-scroller {
                                width: 100% !important;

                                .x-grid3-body {
                                    background: _theme-color("white", normal) !important;
                                    height: calc(100% - 150px) !important;
                                    position: fixed;
                                    width: calc(100% - 368px);
                                    overflow: scroll;
                                    right: 6px;
                                    padding: 16px 24px;
                                    margin-top: -16px;
                                }

                                .x-grid-empty {
                                    &:before {
                                        content: $text_no_results;
                                        display: block;
                                        @include text(12px, _property($PARAGRAPH--COLOR, $BACKGROUND-JOBS), 500);
                                    }
                                }
                            }

                            > .x-grid3-header {
                                display: block;
                                background: none !important;
                                margin-bottom: 20px;

                                .x-grid3-header {
                                    display: table-cell;
                                    background: none !important;
                                    border: none;

                                    &.x-grid3-hd-over,
                                    &.x-grid3-hd-menu-open {

                                        .x-grid3-hd-inner {
                                            background: _theme-color("secondary", b) !important;

                                            a {
                                                background: url(../images/icons/icon-toggle-expanded-small-normal.png) no-repeat center center; /* OPTIMISE URL ::: css/app/edit-engine/_panel-history.scss ::: 1 */
                                                margin-right: 5px;
                                            }

                                            span {
                                                color: _theme-color("primary");
                                            }
                                        }
                                    }

                                    .x-grid3-hd-inner {
                                        padding: 4px 0 3px 10px;

                                        span {
                                            text-transform: uppercase;
                                            @include text(10px, _property($LABEL--COLOR, $BACKGROUND-JOBS), 500);
                                        }
                                    }
                                }
                            }
                        }

                        .x-panel-mc {
                            padding: 43px 19px 20px 19px;
                            box-sizing: border-box;
                            background: _property($FIELDSET--BG---HOVER, $BACKGROUND-JOBS);
                            border: 1px solid _property($FIELDSET--BORDER, $BACKGROUND-JOBS) !important;
                            box-shadow: inset 0 67px 0 0 #f6f6f6, inset 0 68px 0 0 _theme-color("secondary", b);

                            position: relative !important;
                            left: auto !important;
                            width: 100% !important;
                            top: auto !important;
                            height: auto !important;

                            &:before {
                                content: $text_history;
                                text-transform: uppercase;
                                position: absolute;
                                top: 12px;
                                left: 28px;
                                @include text(11px, _property($FIELDSET--TITLE-COLOR, $EDIT-ENGINE), $FONT--WEIGHT---SEMIBOLD);
                            }
                        }

                        .x-grid3-row {
                            position: relative;

                            // Delete more info buttons
                            .action-menu {
                                position: absolute;
                                right: 5px;
                                top: 0;
                                margin: 0;
                                padding: 0 0 0 10px;
                                display: none;

                                button {
                                    width: 23px;
                                    height: 25px;
                                    display: inline-block;
                                    border: none;

                                    &:hover {
                                        cursor: pointer;
                                    }
                                }

                                .info-button {
                                    background: url(../images/icons/ic_info_outline-DARK@2x.png) right center no-repeat; /* OPTIMISE URL ::: css/app/edit-engine/_panel-history.scss ::: 2 */
                                    background-size: 18px;
                                }
                            }

                            // Selected, Selected & hover
                            &.x-grid3-row-selected,
                            &.x-grid3-row-selected:hover {
                                .action-menu {
                                    background: _property($ROW--BG---SELECTED, $BACKGROUND-JOBS);

                                    .info-button {
                                        background-image: url(../images/icons/ic_info_outline@2x.png); /* OPTIMISE URL ::: css/app/edit-engine/_panel-history.scss ::: 3 */
                                    }
                                }

                                background: _property($ROW--BG---SELECTED, $BACKGROUND-JOBS) !important;

                                .x-grid3-cell-inner,
                                .x-grid3-cell-inner label {
                                    color: _property($ROW--COLOR---SELECTED, $BACKGROUND-JOBS) !important;
                                }

                            }

                            // Hover
                            &:hover {
                                .action-menu {
                                    display: block;

                                    background: _property($ROW--BG---HOVER, $BACKGROUND-JOBS);
                                }

                                background: _property($ROW--BG---HOVER, $BACKGROUND-JOBS) !important;

                                .x-grid3-cell-inner,
                                .x-grid3-cell-inner label {
                                    color: _property($ROW--COLOR---HOVER, $BACKGROUND-JOBS) !important;
                                }

                            }

                            .x-grid3-cell-inner,
                            .x-grid3-cell-inner label {
                                padding: 5px 0 0 10px;
                                text-transform: none !important;
                                @include text(12px, _property($ROW--COLOR, $BACKGROUND-JOBS), $FONT--WEIGHT---EXTRALIGHT);
                            }
                        }
                    }
                }

                // Pager Holder
                .x-panel-bbar {
                    width: 100% !important;

                    .x-toolbar-layout-ct {
                        position: relative;
                        z-index: 9999999;
                        background: _theme-color("primary", a);
                        width: 100% !important;
                        padding: 2px 11px;
                        box-sizing: border-box;
                        margin-top: 2px;

                        .x-toolbar-left .x-toolbar-cell {
                            margin: 0 2px;
                            opacity: 0.8;
                            width: 25px;
                            display: none !important;

                            > table {
                                width: 100% !important;
                            }

                            .x-btn-mc img {
                                display: none;
                            }

                            &:nth-child(1) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 4 */
                                display: inline-block !important;
                                background: url(../images/icons/icon_arrow_left_double_grey@X2.png) no-repeat center center/14px 14px; /* OPTIMISE URL ::: css/app/edit-engine/_panel-history.scss ::: 4 */
                                margin-left: 0px;
                            }

                            &:nth-child(2) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 5 */
                                display: inline-block !important;
                                background: url(../images/icons/icon_arrow_left_single_grey@X2.png) no-repeat center center/14px 14px; /* OPTIMISE URL ::: css/app/edit-engine/_panel-history.scss ::: 5 */
                                margin-left: 5px;
                            }

                            // Text input and label
                            &:nth-child(4), /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 6 */
                            &:nth-child(5), /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 7 */
                            &:nth-child(6) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 8 */
                                display: inline-block !important;
                            }

                            &:nth-child(8) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 9 */
                                display: inline-block !important;
                                background: url(../images/icons/icon-next-grey@X2.png) no-repeat center center/14px 14px; /* OPTIMISE URL ::: css/app/edit-engine/_panel-history.scss ::: 6 */
                                margin-right: 5px;
                            }

                            &:nth-child(9) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 10 */
                                display: inline-block !important;
                                background: url(../images/icons/icon_arrow_right_double_grey@X2.png) no-repeat center center/14px 14px; /* OPTIMISE URL ::: css/app/edit-engine/_panel-history.scss ::: 7 */
                                margin-right: 5px;
                            }

                            &:nth-child(11) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 11 */
                                display: inline-block !important;
                                background: url(../images/icons/icon-publication-launcher-grey.png) no-repeat center center/16px 12px; /* OPTIMISE URL ::: css/app/edit-engine/_panel-history.scss ::: 8 */
                            }

                            .my-paging-display {
                                font-family: "Nunito Sans", sans-serif;
                                font-size: 12px;
                                color: _theme-color("secondary"); /* TO THEME */
                                font-weight: 100;
                            }

                            .gwt-TextBox {
                                font-family: "Nunito Sans", sans-serif;
                                font-size: 12px;
                                color: _theme-color("primary", g); /* TO THEME */
                                font-weight: 100;
                                background: rgba(241, 241, 241, 0.7); /* TO THEME */
                                padding: 3px;
                                border: none;
                            }
                        }
                    }
                }

                // Selected Items Details Container
                &:nth-child(2) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-history.scss ::: 12 */
                    display: none;
                    width: 100% !important;
                    position: fixed !important;
                    height: 100% !important;
                    top: 0 !important;
                    left: 0 !important;
                    background: rgba(_theme-color("secondary"), .9);
                    padding: 0;
                    box-sizing: border-box;
                    z-index: 9;

                    // Header
                    .x-panel-header {
                        background: none;
                        background: _property($FIELDSET--BG---HOVER, $BACKGROUND-JOBS);
                        padding: 19px 30px 10px;
                        margin: 17vh auto 0;
                        width: 500px;
                        border: 1px solid _property($FIELDSET--BORDER, $BACKGROUND-JOBS);
                        border-bottom: 0;

                        // Contains minimise button
                        .x-panel-toolbar {
                            background: url(../images/icons/icon-close-grey@X2.png) no-repeat center bottom; /* OPTIMISE URL ::: css/app/edit-engine/_panel-history.scss ::: 9 */
                            background-size: 20px;
                            width: 25px;
                            height: 25px;
                            opacity: 0.8;

                            &:hover {
                                opacity: 1;
                                cursor: pointer;
                            }

                            > table {
                                display: none;
                            }
                        }

                        // Text
                        .x-panel-header-text {
                            @include text(26px, _property($TITLE--COLOR, $BACKGROUND-JOBS), 100);
                        }
                    }

                    // Body
                    .x-panel-bwrap {
                        background: _property($FIELDSET--BG---HOVER, $BACKGROUND-JOBS);
                        padding: 0 30px 23px;
                        margin: 0 auto;
                        width: 500px;
                        border: 1px solid _property($FIELDSET--BORDER, $BACKGROUND-JOBS);
                        border-top: 0;

                        form {
                            height: auto !important;
                        }

                        .x-form-item {
                            > label {
                                display: inline-block !important;
                                width: 150px !important;
                            }

                            > .x-form-element {
                                display: inline-block;
                                width: calc(100% - 150px);

                                .x-form-field-wrap {
                                    width: 100% !important;

                                    .x-form-text {
                                        background: transparent;
                                        box-shadow: none;
                                        color: _property($PARAGRAPH--COLOR, $BACKGROUND-JOBS);;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
