#JahiaGxtEditEnginePanel-seo > .x-component {
    width: 100% !important;
    box-sizing: border-box;
    padding: 8px 0 0 29px;
    height: auto !important;

    .seo-title-path {
        font-family: $FONT--FAMILY---NUNITO;
        font-size: 14px;
        color: #363636;
        font-weight: $FONT--WEIGHT---LIGHT;
    }

    .seo-title {
        padding: 0 !important;
        margin-top: 2px;
        margin-bottom: 6px;
        text-transform: uppercase;
        font-family: $FONT--FAMILY---NUNITO;
        font-size: 18px;
        color: #363636;
        font-weight: $FONT--WEIGHT---LIGHT;
    }

    .x-panel-header {
        font-family: $FONT--FAMILY---NUNITO;
        background: transparent !important;
        border: none;
    }

    > .x-panel.x-component {
        max-width: 100%;
    }

    .x-panel-tbar {
        pointer-events: all;
        height: initial;
        position: relative;

        .x-small-editor.x-toolbar {
            background: transparent !important;
            border-color: transparent !important;
            margin: 8px 0;
            border-bottom: 1px dashed _theme-color(secondary, c) !important;
            padding-bottom: 44px;
            margin-bottom: 16px;
        }

    }

    .x-grid3-header {
        display: table-cell;
        background: transparent !important;

        .x-grid3-hh {
            margin: 2px 2px 8px;
            width: 100% !important;
            border-bottom: 1px solid _theme-color(secondary, a);
            text-transform: uppercase;
            color: _theme-color(black, b);

            span {
                font-weight: $FONT--WEIGHT---EXTRABOLD;
                font-family: $FONT--FAMILY---NUNITO;
            }

            > table {
                padding: 4px 0;

                .x-grid3-hd.x-grid3-cell {
                    border-left-color: _theme-color(secondary);
                    border-right-color: _theme-color(secondary, a);

                    &:last-child {
                        border-right-color: transparent !important;
                    }
                }
            }
        }

        td.x-grid3-hd-over .x-grid3-hd-inner {
            background: transparent !important;
        }
    }

    .x-grid3-scroller {
        width: 100% !important;
        display: table-row-group;

        > .x-grid3-body {
            padding-bottom: 30px;
            width: 100% !important;
        }
    }

    .x-grid3-cell-inner.x-grid3-col-url {
        max-width: 100%;
        overflow: hidden;
        width: inherit;
    }

    .x-row-editor-header {
        display: none;
    }

    .x-panel-body {
        padding-bottom: 16px;

        .x-grid3 .x-grid3-row {
            height: 38px !important;
            background: transparent !important;
            width: 100% !important;

            &.x-grid3-row-over {
                background: #f5f6f7 !important;
            }
        }
    }

    td.x-grid3-header.x-grid3-hd.x-grid3-cell.x-grid3-td-url {
        border-left-color: transparent !important;
    }

    td.x-grid3-header.x-grid3-hd.x-grid3-cell {
        border-color: transparent !important;
    }

    td.x-grid3-hd-menu-open .x-grid3-hd-inner {
        background: _theme-color(secondary, a) !important;
    }

    .x-grid3-viewport > .x-grid3-header .x-grid3-header-inner .x-grid3-hh > table > tbody td div .x-grid3-hd-btn { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-seo.scss ::: 1 */
        background: url(../images/icons/combo-arrow-grey.png) no-repeat center center !important; /* OPTIMISE URL ::: css/app/edit-engine/_panel-seo.scss ::: 1 */
        width: 23px;
        background-size: 13px !important;
        opacity: 0.7;
    }

    .x-box-inner .x-row-editor-field.x-component.x-box-item.x-form-check-wrap:nth-child(2) input { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-seo.scss ::: 2 */
        margin-right: -2px;
    }

    .x-box-inner .x-row-editor-field.x-component.x-box-item.x-form-check-wrap:nth-child(3) input { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-seo.scss ::: 3 */
        margin-right: 4px;
    }

    .x-box-inner .x-row-editor-field.x-component.x-box-item:not(.x-form-check-wrap) {
        padding-left: 8px;
        padding-top: 2px;
    }

    .x-box-inner .x-row-editor-field.x-component.x-box-item.x-form-check-wrap {
        top: 9px !important;
        padding-left: 41px;

        &:nth-child(3) { /* OPTIMISE SELECTOR ::: css/app/edit-engine/_panel-seo.scss ::: 4 */
            padding-left: 33px;
        }
    }

    .x-row-editor button.x-btn-text {
        padding: 5px 16px !important;
        background: #ededed !important;
        color: _theme-color(black, d) !important;

        &[aria-disabled="true"] {
            opacity: .6;
            color: _theme-color(black, c) !important;
        }
    }

    .x-row-editor-body.x-box-layout-ct {
        background: $color-primary;
        height: 36px !important;
        box-sizing: border-box;
    }

    .x-row-editor-footer {
        background: $color-primary;
        height: 1px;
    }

    .x-row-editor .x-btns {
        background: transparent;
        position: absolute;
        top: 4px !important;
        left: 648px !important;

        .x-plain-bwrap {
            background: transparent;
        }
    }

    .x-row-editor .x-plain-body.x-plain-body-noheader {
        background: transparent;
        margin-top: -2px;
        padding-bottom: 2px;
    }

    .x-toolbar-ct td.x-btn-mc button img {
        display: none;
    }

    .x-toolbar-ct .x-btn.x-btn-text-icon button {
        text-transform: uppercase;
        padding: 5px 10px !important;
        margin-top: 2px;
        font-size: 10px;
        font-weight: $FONT--WEIGHT---NORMAL;
    }

    .x-toolbar-right-row > .x-toolbar-cell > div.x-form-label {
        color: $color-white !important;
        font-weight: 600;
        font-family: $FONT--FAMILY---NUNITO;
        background: _theme-color(status, error);
        padding: 4px 12px;
        border-radius: 20px;
        margin-right: 8px !important;
        position: absolute;
        top: 44px;
        left: 0;
        width: calc(100% - 8px);
        padding-left: 34px;
        box-sizing: border-box;

        &:before {
            content: "";
            background: url(../images/icons/ic_warning@2x.png); /* OPTIMISE URL ::: css/app/edit-engine/_panel-seo.scss ::: 2 */
            position: absolute;
            left: 0;
            top: 0;
            width: 26px;
            height: 100%;
            background-size: 18px;
            background-repeat: no-repeat;
            background-position-x: 8px;
            background-position-y: 2px;
        }
    }

    .x-grid3-col-actions .x-btn.x-btn-text-icon button {
        font-size: 0 !important;
        height: 32px !important;
        width: 32px !important;
        margin: 0 39px !important;
        padding: 0 !important;
        text-align: center;
        background-color: transparent !important;

        img {
            background: url(../images/icons_dark/deleted.svg) no-repeat center center !important; /* OPTIMISE URL ::: css/app/edit-engine/_panel-seo.scss ::: 3 */
            background-size: 22px !important;
            opacity: .64;

            &:hover {
                opacity: 1;
            }
        }
    }

    .x-grid-cell-first .x-grid3-cell-inner.x-grid3-col-url {
        line-height: 32px;
        padding-left: 8px;
    }

    .x-grid3-check-col {
        padding-top: 17px;
    }
}

.engine-save-error {
    z-index: 999999 !important;
}
