/******************************************************************************
*  box5
******************************************************************************/
#bodywrapper div.box5 {
	position:relative;
	clear:both;
}

#bodywrapper div.box5 h3.box5titleh3 {
	margin:0;
	padding:0;
	display:inline
}
#bodywrapper .arrow-white-shadow-right {
	height: 31px; width: 17px;
	font-size:2px;
	position:absolute;
	top:16px;
	right:-14px;
	background: url(img/arrow-white-shadow-right.png) no-repeat top left;
}
#bodywrapper .arrow-white-shadow-left {
	height: 31px; width: 17px;
	font-size:2px;
	position:absolute;
	top:16px;
	left:-17px;
	background: url(img/arrow-white-shadow-left.png) no-repeat top left;
}

#bodywrapper .arrow-grey-shadow-right {
	height: 31px; width: 17px;
	font-size:2px;
	position:absolute;
	top:16px;
	right:-14px;
	background: url(img/arrow-grey-shadow-right.png) no-repeat top left;
}
#bodywrapper .arrow-grey-inner-left {
	height: 24px; width: 14px;
	font-size:2px;
	position:absolute;
	top:16px;
	left:0px;
	background: url(img/arrow-grey-inner-left.png) no-repeat top left;
}
#bodywrapper .arrow-white-inner-left {
	height: 24px; width: 14px;
	font-size:2px;
	position:absolute;
	top:16px;
	left:0;
	background: url(img/arrow-white-inner-left.png) no-repeat top left;
}
#bodywrapper div.box5-inner {
	background-color:#fff;
	border:1px solid #cecece;
	height:1%;

}
#bodywrapper div.box5-inner p {
	padding:0px 0px 10px 0px;
}
#bodywrapper .box5-inner .box5-inner-border {
	border:1px solid #fff;
	height:1%;
	background-color:#fff;
}
/*box5shadow*/
#bodywrapper div.box5shadow {
	border:1px solid #cecece;
}

#bodywrapper div.box5shadow div.box5-inner {
	background-color:#fff;
	border:1px solid #cecece;
	margin:-2px 0 0 -2px;
}
/*box5 color*/
#bodywrapper .box5grey .box5-inner .box5-inner-border {
	background-color:#e1e1e1
}
#bodywrapper .box5yellow .box5-inner .box5-inner-border {
	background-color:#FCF0BA
}
#bodywrapper .box5white .box5-inner {
	background-color:#fff
}
#bodywrapper .box5white .box5-inner .box5-inner-border {
	background-color:#fff
}

/*box5 padding*/
#bodywrapper .box5padding16 .box5-inner .box5-inner-border {
	padding:16px;
}
#bodywrapper .box5padding20 .box5-inner .box5-inner-border {
	padding:20px;
}
#bodywrapper .box5padding40 .box5-inner .box5-inner-border {
	padding:40px;
}

/*box5 margin*/
#bodywrapper .box5marginbottom16{
	margin-bottom:16px;
}
/*box5 title*/
#bodywrapper h4.box5-title {
	background:#010101 url(img/box5-h4titleblack.png) repeat-x top right;
	border:1px solid #010101;
	color:#FFFFFF;
	font-size:1.3em;
	margin-left:0;
	padding:5px;
	text-align:center;
	font-weight:normal;
	clear:both;
	margin:0;
}
#bodywrapper h4.box5-titleorange {
	background:#df6c04 url(img/box5-h4titleorange.png) repeat-x top right;
	border:1px solid #df6c04;
	color:#333;
}

#bodywrapper h4.box5-titlegrey {
	background:#666666 url(img/box5-h4titlegrey.png) repeat-x top right;
	border:1px solid #666666;
	color:#fff;
}
#bodywrapper h4.box5-titlemushroom {
	background:#dad0c7 url(img/box5-h4titlemushroom.png) repeat-x top right;
	border:1px solid #dad0c7;
	color:#333;
}