/******************************************************************************
*  Template search results
******************************************************************************/
.bodywrapper  .searchHighlightedText {
	background:#FFFF00 none repeat scroll 0 0;
	font-size:larger;
	font-weight:bold;
}

.bodywrapper .resultsList ol {
	margin:1em 1em 1em 3em;
}
.bodywrapper .resultsList li {
	margin-bottom:1em;
	padding:0.5em 0;
	border-bottom:1px solid #ccc;
	list-style:decimal
}

.bodywrapper .resultsList h4 {
	margin:0;
	padding: 0;
	border-bottom:none;
}
.bodywrapper .resultsList .resultslistDesc {

}
.bodywrapper .resultsList .resultsListFileType {
	display:inline;
	background-color:#FFE45C ;
	border:1px solid #FED22F;
	font-size-adjust:none;
	padding:1px 8px;
	text-align:center;
	vertical-align:middle;
	width:auto;
}
.bodywrapper .resultsList .resultsListDate {
	font-size:80%;
	color:#333;
	display:inline;
	margin:0 0.2em;
}