.bodywrapper form.simplesearchform {
	position:relative;
	width:180px;
	margin-bottom:0.5em
}
.bodywrapper form.simplesearchform label {
	display:none;
}
.bodywrapper form.simplesearchform .text-input {
	border:1px solid #BCBBBB;
	background: #fff;
	color:#666;
	height:20px;
	padding:4px 30px 2px 5px;
	vertical-align:middle;
	width:144px;
	border: solid 1px #bcbbbb;
	outline: none;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.bodywrapper form.simplesearchform .searchsubmit {
	background:transparent url(img/search-submit.png) no-repeat;
	border:none;
	cursor:pointer;
	height:26px;
	padding:0;
	position:absolute;
	right:2px;
	text-indent:-9999px;
	top:2px;
	width:26px;
}