

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>${i18n.get("notifications.subscriptionConfirmation.subject", "[Jahia] Your confirmation is needed")}</title>
</head>
<body>
<h2>${i18n.get("notifications.subscriptionConfirmation.subject", "[Jahia] Your confirmation is needed")}</h2>
<p>${i18n.get("notifications.common.salutation", "Dear")} ${subscriber.fullName},</p>
<p>
<% if (watchedContentLink != null) { %>
${i18n.get("notifications.subscriptionConfirmation.notifiedOfChangesInContent", "you have been subscribed to be notified of changes in the following content:")} <a href="${watchedContentLink.absoluteUrl}">${i18n.get("notifications.subscriptionConfirmation.watchedContentLink", "Watched content")}</a>.
<% } else { %>
${i18n.get("notifications.subscriptionConfirmation.notifiedOfChanges", "you have been subscribed to be notified of changes in the portal content.")}
<% } %>
</p>

<p>${i18n.get("notifications.subscriptionConfirmation.confirm.text", "Please confirm your subscription by clicking the link below:")}<br>
<a href="${confirmationLink.absoluteUrl}">${i18n.get("notifications.subscriptionConfirmation.confirm.link", "Confirm subscription")}</a></p>

<p>${i18n.get("notifications.subscriptionConfirmation.cancel.text", "If you do not want to receive update notifications on this content, please follow the link:")}<br>
<a href="${cancellationLink.absoluteUrl}">${i18n.get("notifications.subscriptionConfirmation.cancel.link", "Cancel subscription")}</a></p>

<p>${i18n.get("notifications.common.farewell", "Sincerely Yours")}<br>${i18n.get("notifications.common.farewell.signature", "Portal Team")}</p>

<hr>
<p>${i18n.get("notifications.common.unsubscribe", "To unsubscribe from notifications for this content, please use the")} <a href="${unsubscribeLink.absoluteUrl}">${i18n.get("notifications.common.unsubscribeLink", "unsubscribe service")}</a><br>
${i18n.get("notifications.common.updateProfile", "To update your profile or to stop receiving customized e-mail, please click")} <a href="${subscriptionManagementLink.absoluteUrl}">${i18n.get("notifications.common.updateProfileLink", "here")}</a></p>
</body>
</html>