/******************************************************************************
*  box9
******************************************************************************/
 div.box9 {
	position:relative;
	clear:both;
	margin-bottom:1em;
	background:#f2f2f2 url(img/box9-bggrey.png) repeat-x top right;
	border:1px solid #cccccc;
	margin-left:0;
	padding:5px;
	font-weight:normal;
	clear:both;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
    padding: 5px 10px;
	overflow:hidden;
	-webkit-box-shadow: 0px 0px 5px #cccccc;
	-moz-box-shadow: 0px 0px 5px #cccccc;
	box-shadow: 0px 0px 5px #cccccc;
}
 div.box9-content p {
	padding:0px 0px 1em 0px;
}
 div.box9-bgblack {
	background:#090909 url(img/box9-bgblack.png) repeat-x top right;
	border:1px solid #000;
	color:#fff;
}
 div.box9-bggrey {
	background:#f2f2f2 url(img/box9-bggrey.png) repeat-x top right;
	border:1px solid #cccccc;
}
 div.box9-bgmushroom {
	background:#f4eee9 url(img/box9-bgmushroom.png) repeat-x top right;
	border:1px solid #eee7e1;
}
 div.box9-bgorange {
	background:#fef0dc url(img/box9-bgorange.png) repeat-x top right;
	border:1px solid #fde8c9;
}
 div.box9-bgred {
	background:#f7e7e6 url(img/box9-bgred.png) repeat-x top right;
	border:1px solid #f7e6e6;
}
 div.box9-bggreen {
	background:#f4fbea url(img/box9-bggreen.png) repeat-x top right;
	border:1px solid #e0ead3;
}
 div.box9-bgpurple {
	background:#f9ddff url(img/box9-bgpurple.png) repeat-x top right;
	border:1px solid #e4cae9;
}
 div.box9-bgyellow {
	background:#fdf2cf url(img/box9-bgyellow.png) repeat-x top right;
	border:1px solid #f1de9e;
}
 div.box9-bgblue {
	background:#dfeffc url(img/box9-bgblue.png) repeat-x top right;
	border:1px solid #e0effc;
}