

.action-menu-icon{
color:#4096EE !important;
}
#bodywrapper #header .actionMenuWrap{
	overflow:hidden;
	margin:0;
	padding:0;
}
#bodywrapper #header .actionMenuWrap div {
	float:left;
	overflow:hidden;
}
#bodywrapper #header .actionMenuWrap span {
	float:left;
}
#bodywrapper #headerPart2 .actionMenuWrap span {
	float:right;
}

#bodywrapper .box3-style1 .action-menu-icon,
#bodywrapper .box4-style1 .action-menu-icon
 {
	color:#fff !important;
}
#bodywrapper .box3-style2 .action-menu-icon {
	color:#000 !important;
}

#bodywrapper .markedForDelete {
	text-decoration:line-through !important;
}

