

#bodywrapper ul li {
		height:1%
}


#bodywrapper #contact_message,#bodywrapper .field{/* for old ie no input[type="text"] and no :focus*/
	width:50%;
	border:1px solid #000;
	background:#fff url(../img/bg-input.png) repeat-x top left;
}

#bodywrapper #navigationN1 a,
#bodywrapper #navigationN1 a:link,
#bodywrapper #navigationN1 a:visited {
	display: inline-block ;
}

#bodywrapper .box3-container {
	width:100%;
	height:auto;
}
#bodywrapper .box3-text {
	padding-top:10px;
}


