


/***********************************************/
/* ADMIN MODE **********************************/
/***********************************************/

.x-viewport-adminmode,
body[data-edit-window-style="settings"] {
	.x-grid3 .x-grid3-row {
		border-left: 1px solid #d4d3d3;
		padding-left: 15px!important;
		height: 30px!important;

		table,
		tbody,
		tr,
		td {
			display: block!important;
			height: 100%!important;
		}

		.x-tree3-node-icon {
			display: none!important;


		}

		&:hover {
			cursor: pointer;
		}

		&.x-grid3-row-selected {
			border-left: 3px solid #099ad6;
			margin-left: -1px;

			.x-tree3-node-text {
				color: #099ad6!important;

			}
		}

		.x-tree3-node-joint {
			display: none!important;
		}

		.x-tree3-node-text {
			margin-left: 16px;
			line-height: 30px;

		}

		&.unselectable-row {
			pointer-events: none;

			.x-tree3-node-icon {
				// display: inline-block!important;


			}

			.x-tree3-node-joint {
				width: 100%!important;
				display: inline-block!important;
				opacity: 0;
				position: absolute!important;
				background: url($ICON--ARROW_EXPAND---GREY) no-repeat left 6px center !important;

				&:hover {
					cursor: pointer;
				}
			}

			span.x-tree3-node-text {
				// margin-left: 11px;
				font-style: italic;
				// color: rgb(122, 126, 128)!important;
				// text-transform: uppercase;
				// font-size: 11px!important;
				// font-weight: 700!important;
				color: #7a7e80 !important;
				margin-left: 0;

				&::before {
					content: "> ";
					margin-right: 4px;
				}
			}
		}
	}
}

.x-viewport-adminmodeXXX,
body[data-edit-window-style="settingsXXX"] {

	#JahiaGxtSettingsTab & {
		&::before {
			content: "Server Settings";
		}
	}

	.x-grid3 .x-grid3-row {
		height: 29px!important;

		&.x-grid3-row-over {
			cursor: pointer;
		}

		&:last-child {
			margin-top: 20px;
		}

		table,
		tbody,
		tr,
		td {
			display: block;
		}

		&.unselectable-row {
			// background: red!important;
			pointer-events: none;
			margin-top: 20px;
			margin-bottom: 3px;

			.x-tree3-node-joint {
				width: 100%!important;
				display: inline-block!important;
				opacity: 0;
				position: absolute!important;
				background: url($ICON--ARROW_EXPAND---GREY) no-repeat left 6px center !important;

				&:hover {
					cursor: pointer;
				}
			}

			span.x-tree3-node-text {
				// margin-left: 11px;
				// font-style: italic;
				// color: rgb(122, 126, 128)!important;
				// text-transform: uppercase;
				// font-size: 11px!important;
				// font-weight: 700!important;
				// color: #7a7e80 !important;

				&::after {
					content: " ...";
				}
			}
		}

		.x-tree3-el {
			img {

				&[style='height:18px;width:18px;'] {
					border-left: 1px solid #c4cace;
					display: inline-block!important;
					opacity: 1!important;
					height: 27px!important;
					margin-left: 1px;
				}

				&[style='height:18px;width:0px;'] {
					opacity: 0!important;
					margin-top: 10px;
				}



				&.x-tree3-node-joint {
					// display: none!important;
					// opacity: 1!important;
					position: relative;
					// left: -5px;
				}

			}


			.x-tree3-node-text {
				color: #686b6d !important;
			}
		}

		// SELECTED
		&.x-grid3-row-selected {
			.x-tree3-el {
				img {

					&[style='height:18px;width:18px;'] {
						border-left: 3px solid #00a0e3;
						margin-left: 0px;
						width: 17px!important;
					}



				}

				.x-tree3-node-text {
					font-family: "Nunito Sans", sans-serif;
					font-size: 14px !important;
					color: #00a0e3 !important;
					font-weight: 400 !important;
				}


			}
		}


	}
}

.x-viewport-adminmode {

	.x-toolbar-first {
		background-size: 32px 32px;
		background: none !important;
		border: none !important;
		position: fixed;
		display: block;
		top: 0;
		height: 40px !important;
		right: 2px;
		left: auto;
		pointer-events: all;
		padding: 5px;
		width: 49px;
		z-index: $ZINDEX--TOOLBAR--CONTAINER;
		overflow: visible !important;
		position: fixed;

		.x-btn-arrow {
			display: none;
		}

		> table {
			opacity: 1;
			z-index: $ZINDEX--TOOLBAR--CONTAINER;
			pointer-events: all;
		}

		.x-toolbar-cell {
			display: block;
			margin-top: 10px;
			opacity: 1;

			&.x-hide-display {
				display: block!important;
			}

			button {
         width: 50px !important;
         height: 35px !important;
         padding: 0 !important;
         background: transparent !important;
         text-indent: -50000px;
 	     }

		   td.x-btn-mc {
         display: block;
         width: 50px;
         height: 23px;
         background: red;
         margin-bottom: 2px;
         background: transparent !important;
	     }

		   &:nth-child(1) > table:nth-child(1) td.x-btn-mc {
         display: block;
         width: 50px;
         background: red;
         margin-bottom: 2px;
         background: transparent !important;
         display: none;
       }

			&:nth-child(3) {
				display: none;
			}

			.editmode-managers-menu {
				&.x-hide-display {
					display: block!important;
				}

				position: fixed;
				top: 54px;
				left: 60px;
				z-index: $ZINDEX--HAMBURGER_MENU---BUTTON;
				display: block;
				background: url(./images/dx_logo_solid.png) no-repeat top 3px left 10px;
				margin-top: 0;
				background-size: 32px 32px;
				opacity: 0.9;
				width: 50px;
				height: 50px;
 	           body[data-selection-count="0"] & {
							background: url(./images/dx_logo_solid.png) no-repeat top 3px left 10px;
							background-size: 32px 32px;
 	           }
 	           &:hover {
 	               opacity: 1;
 	           }
 	           &::after {
 	               content: "";
 	           }
 	           body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
							background: url(./images/dx_logo_solid.png) no-repeat top 3px left 10px;
							background-size: 32px 32px;
 	           }

				   .x-btn-mc {
					   height: 40px!important;
				   }
 	       }

		   .admin-menu-user {
			   &.x-hide-display {
   					display: block!important;
   				}

	           position: fixed;
	           top: 10px;
	           background: url(./images/tabs-usermenu-black@X2.png) no-repeat left 14px top 6px;
	           height: 40px;
	           margin-top: 0;
	           background-size: 23px 23px;
	           opacity: 0.8;
	           &:hover {
	               opacity: 1;
	           }
	           body[data-selection-count="0"] & {
	               background: url(./images/tabs-usermenu-white@X2.png) no-repeat left 14px top 6px;
	               background-size: 23px 23px;
	           }
	           body[data-sitesettings="true"] & {
	               display: none;
	           }
	       }

		   .admin-menu-mode {
			   &.x-hide-display {
   					display: block!important;
   				}
	           position: fixed;
	           right: 73px;
	           top: 6px;
	           margin-top: 7px;
	           z-index: $ZINDEX--CONTEXT_MENU--MODE_MENU;
	           width: 151px;
	           height: 24px;
	           opacity: 0.9;
	           &::after {
								content: $text_administration;
								font-size: 14px;
								text-transform: uppercase;
								font-weight: $FONT--WEIGHT---SEMILIGHT;
								margin-top: 0px;
								padding-left: 35px;
								background: url(./images/dx_logo_solid-black.png) no-repeat left 12px center / 20px 20px;
								padding-right: 2px;
								text-align: left;
								position: relative;
								z-index: $ZINDEX--CONTEXT_MENU--MODE_MENU---LABEL;
								font-family: $DEFAULT--FONT--FAMILY;
								width: calc(100% - 20px);
								display: block;
								height: 20px;
								padding-top: 5px;
								color: rgba(238, 238, 238, 0.9);
								body[data-selection-count="0"] & {
								   background: url(./images/dx_logo_solid.png) no-repeat left 12px center / 20px 20px, url(./images/combo-arrow.png) no-repeat right center;
								}
	           }
	           body[data-sitesettings="true"] & {
	               display: none;
	           }
	       }

		}
	}

	> div:nth-child(1) {
		height: 100%;
		background: #f1f1f1;

		> div:nth-child(2) {
			height: 100%;
		}
	}

	> div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
		height:43px;
		pointer-events: none;
	}

	> div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
		z-index: $ZINDEX--ACTION_BAR--CONTAINER;
		height: 60px;
		display: block;
		position: absolute !important;
	}

}
