/////////////////////////////////////////////////
// IMPORTS //////////////////////////////////////
/////////////////////////////////////////////////

@import "functions";
@import "variables";
@import "theme-dark";
@import "font";


/////////////////////////////////////////////////
// SCROLL BARS //////////////////////////////////
/////////////////////////////////////////////////

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: #828282;
	border-radius: 8px;
	border: 0;
}

::-webkit-scrollbar-thumb:hover {
	background: #a7a7a7;
}

/////////////////////////////////////////////////
// PLACEHOLDERS /////////////////////////////////
/////////////////////////////////////////////////


///////// TEXT

/* Three dotted ellipsis style */
%ellipsis_overflow {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Hide from View
	SOmetimes we need to keep elements available on screen for GWT, so put them out of the view port but keep them clickable */

%hide_from_view {
	top: -60px;
	left:-60px;

}



/////////////////////////////////////////////////
// QUICK MENU ///////////////////////////////////
/////////////////////////////////////////////////
body[data-quick-menu="on"] {
	#quick-menu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2147483647;
		//background: rgba(0, 160, 227, 0.99);
		//width: 100%;
		//height: 100%;

		&.open {
			display: block;
		}
	}

	#quick-menu-contents {

		display: none;
		width: calc(100% - 40px);
		height: 190px;
		position: fixed;
		bottom: 20px;
		left: 20px;
		border: none;

		&.display {
			display: block;
		}
	}



	.x-menu.menu-editmode-managers-menu {

		//background: transparent;
		z-index: 2147483646!important;

	}

	.edit-menu-mode,
	.contribute-menu-mode {
		display: none!important;
	}

	.menu-edit-menu-mode {
		box-shadow: none!important;

	}

	&[data-quick-menu-open="open"] {
		.x-menu {
			&.menu-edit-menu-user,
			&.menu-contribute-menu-user {
				left: auto !important;
				top: 270px;
				right: 70px;
				border: 10px solid white;
				padding: 20px;

				&::before {
					content: attr(data-username);
				    display: block;
				    font-size: 21px;
				    color: red;
				    font-weight: 800;
				    font-family: Nunito Sans;
				    text-align: center;
				}
			}

			&.menu-edit-menu-mode,
			&.menu-contribute-menu-mode {
				left: auto !important;
				top: auto !important;
				bottom: 270px;
				right: 70px;
				border: 10px solid white;
				padding: 20px;

				&::before {
					content: "xtra modes";
				    display: block;
				    font-size: 21px;
				    color: red;
				    font-weight: 800;
				    font-family: Nunito Sans;
				    text-align: center;
				}
			}
		}
	}




	//menu-edit-menu-user


}


/////////////////////////////////////////////////
// PAGE TITLE CONTROLS //////////////////////////
/////////////////////////////////////////////////



body {
	background: $body-bg;
	transition: all 0.3s ease-in 0s;

    &[data-multiselect="on"] {
		/* Multiselect */
		background: $body-bg-multiselect;
    }

	&[data-main-node-displayname] {
		&::before {
			/* Set Page Title Style */
			display: block;
			position: fixed;
			top: 2px;
			left: 13px;
			height: 50px;
			background-size: 35px 35px;
			padding-left: 45px;
			color: rgba(238, 238, 238, 0.9);

			padding-top: 10px;

			font-family: $font-1;
		    font-size: 21px;
		    font-weight: $extralight;


		}
	}

	&[data-main-node-displayname="settings"] {
		&::before {
			/* Set Page Title Content for Settings */
			content: attr(data-main-node-displayname);
			content: "Server Settings"

		}
	}

	&[data-main-node-displayname="System Site"] {
		&::before {
			/* Set Page Title Content for System Settings */
			content: attr(data-sitekey);

		}
	}

	&[data-sitesettings="true"] {
		&::before {
			/* Set Page Title Content for Settings */
			content: $text_dxm_settings;

		}
	}

	&[data-main-node-displayname="root"] {
		&::before {
			/* Set Page Title Content for Settings */
			content: $text_dxm_settings;
			background: url(./images/dx_logo_solid.png) no-repeat left 3px top 11px;
		    background-size: 32px 32px;
		}
	}




	&[data-INDIGO-UI="light"] {
		/* Set background to indigo light */
		background: $white;

	}

}


/////////////////////////////////////////////////
// WINDOW CONTAINER /////////////////////////////
/////////////////////////////////////////////////

.window-container {
	overflow: visible;
	background: transparent;
}

/////////////////////////////////////////////////
// APP CONTAINER ////////////////////////////////
/////////////////////////////////////////////////

.app-container .x-panel-header {
	border: none;
	background: transparent;
	margin: 0;
	position: absolute !important;
	top: -65px;
	left: -257px;
	height: 39px !important;
	padding:0;

}



/////////////////////////////////////////////////
// MAIN MODULE //////////////////////////////////
/////////////////////////////////////////////////

.mainmodule {
	height: 100% !important;
	background: transparent !important;
	position: absolute;
	left: 0 !important;
	z-index: $zindex_mainmodule;
	width: calc(100% - 0px) !important;
}

.mainmodule-head-container {
	position: absolute !important;
	top: -46px;
	left: 0;
	width: 100% !important;

	.toolbar-header {
		/* Container */
		z-index: $zindex_mainmodule_header;
		right: 69px;
		position: fixed !important;
		overflow: visible;
		text-align: center;
		left: 60px;
		width: calc(100% - 124px) !important;
		top: 0 !important;
		padding: 0;
		height: 51px!important;

		body[data-sitesettings="true"] & {
			display: none;
		}
	}

	.x-panel-toolbar {
		&:nth-child(1) {
			margin-top: 10px;
	        display: inline-block;
	        float: none !important;
		}

		&:nth-child(2) {
			/* Page Actions Menu */
	        float: none !important;
	        margin-top: 0;
	        margin-left: 4px;
	        margin-right: 17px;
	        z-index: $zindex_mainmodule_actions_menu;
	        position: relative;
	        display: inline-block;
	    }
	}

	.node-path-title {
	    display: none;
	}

	.node-path-container {
	    position: relative;
	    z-index: $zindex_mainmodule_path_container;
	    display: block;
	    max-width: 100% !important;
	}

	.x-current-page-path {
	    display: block;

	    > span {
			display: none;

	    }

	    &::before {
	        content: attr(data-page-name);

	        @extend %document_title !optional;

	        display: block;
			margin: 6px 0 0 55px;

	        body[data-multiselect="on"] & {
				@extend %multiselect_title !optional;

				background: url("./images/icons/icon-close-white@X2.png") no-repeat left center;
				background-size: 12px 12px;
				padding-left: 20px!important;
				margin-left: 15px!important;

				max-width: 200px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				margin: 6px 0 0 35px;
	        }
	    }

	}




	.edit-menu-edit {
		/* More Info Button */
		display: inline-block;
		margin-top: 0;
		top: -3px;
		position: relative;
		margin-left: 55px;


		> tbody {
			/* Create Curver Border */
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 0 100% 100% 0;
			background-size: 10px 2px;
			background-repeat: no-repeat;
			background-position: center left 3px;
			background-color: rgba($cod-gray, 0.2);
			background-image: url(./images/icon-more-options-white@X2.png);

			body[data-multiselect="on"] & {
				background-color: $cod-gray;
			}


			td {
				/* Hide All the Junk from the old button */
				display: none;
			}

		}

	}

	.xtb-sep {
		display: none;
	}

	.x-tool-refresh {
		display: none;
	}

	.toolbar-item-publicationstatuswithtext {
		display: none;
	}

	.toolbar-itemsgroup-languageswitcher {
		pointer-events: all;
		z-index: $zindex_mainmodule_language_switcher;
		position: fixed;
		left: 0;
		top: 18px;
		opacity: 0;

		width: 25px !important;
		height: 14px;


		body[data-multiselect="on"] & {
			/* Hide When Multiselect is on */
			display: none;
		}


		input {
			/* Input used to display flag instead of text input */
			border: none;
			text-indent: -50000px;
			height: 15px !important;
			width: 100% !important;
			padding: 0 !important;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 23px 14px;

			body[data-lang="en"] & {
				background-image: url(./images/flags@X2/united-kingdom@X2.png);
			}
			body[data-lang="fr"] & {
				background-image: url(./images/flags@X2/france@X2.png);
			}
			body[data-lang="de"] & {
				background-image: url(./images/flags@X2/germany@X2.png);
			}

		}


		.x-form-trigger {
			/* Combo Arrow */
			display: none;
		}
	}


}





/////////////////////////////////////////////////
// BUTTONS //////////////////////////////////////
/////////////////////////////////////////////////

.x-btn-mc {
    background: $botticelli-gray;
}

.x-btn-ml,
.x-btn-mr,
.x-btn-tl,
.x-btn-tc,
.x-btn-tr,
.x-btn-bl,
.x-btn-bc,
.x-btn-br {
    visibility: hidden;
    display: none;
}

.x-btn-mc {
    .action-bar-container & {
		// For Main Site Buttons (Pages, Workflow, Cache, Search etc , ...)
        img {
			display: none;
		}
    }

    display: block;
}


/////////////////////////////////////////////////
// COMBOS ///////////////////////////////////////
/////////////////////////////////////////////////



.x-combo-list {
	/* Combo Outer Container */
	width: auto !important;
	background: transparent;
    overflow: visible;
    z-index: $zindex_combo_list;

	@extend %context_menu_holder !optional;

}

/* Combo Inner Container */
.x-combo-list-inner {
	width: auto!important;
	height: auto!important;
	background: transparent;

	/* Combo List Items that have Thumbs, ie. Channel Combo */
	.thumb-wrap {


		img {
			/* Actual thumb */
			display: none!important;
		}


		.x-editable {
			/* List item when normal Thumbed Combo
			   Actual Label of Combo Item */
			@extend %context_menu_item !optional;

		}


		&.x-combo-selected {
			/* Selected / Hovered */
			border:none!important;


			.x-editable {
				/* List item when normal Thumbed Combo */
				@extend %context_menu_item_hover !optional;
			}
		}

	}
}

/* List item when normal Combo */
.x-combo-list-item {
	border:none;
	@extend %context_menu_item !optional;



	&.x-view-highlightrow {
		/* Selected / Hovered */
		border:none!important;
		@extend %context_menu_item_hover !optional;

	}
}



/////////////////////////////////////////////////
// CONTEXT MENUS ////////////////////////////////
/////////////////////////////////////////////////


// Add Personalised styling to specified context menus from values stored in $personalised_context_menus in theme SASS
	@each $context_menu in $personalised_context_menus {
		$_context_menu_class: #{nth($context_menu,1)};
		$_placeholder: #{nth($context_menu,2)};

		#{$_context_menu_class} {
			@extend %context_menu_holder--#{$_placeholder} !optional;

			.x-menu-list::before {
				@extend %context_menu_title--#{$_placeholder} !optional;

			}

			.x-menu-item {
				@extend %context_menu_item--#{$_placeholder} !optional;

			}

			.x-item-disabled {
				.x-menu-item {
					@extend %context_menu_item_disabled--#{$_placeholder} !optional;

				}

			}

			.x-menu-item-active {
				.x-menu-item {
					@extend %context_menu_item_hover--#{$_placeholder} !optional;

				}
			}

		}
	}

/* Context Menus */

.x-menu {
	width: auto !important;
	background: transparent;
    overflow: visible;
    z-index: $zindex_context_menu;

	@extend %context_menu_holder !optional;
}

.x-menu-list {
	height: auto!important;

	&::before {
		background: #008ec9;
	    width: 100%;
	    display: block;
	    padding: 3px 8px;
	    font-family: "Nunito Sans";
	    font-size: 8px;
	    color: darken($jahia-blue, 25%);
	    font-style: italic;
	    text-transform: uppercase;
	    font-weight: 600;
	    z-index: $zindex_context_menu_title;
	}
}

.x-menu-list-item {}

.x-menu-item {
	@extend %context_menu_item !optional;

	.x-item-disabled & {
		@extend %context_menu_item_disabled !optional;



	}

	.x-menu-item-active & {
		@extend %context_menu_item_hover !optional;
	}

}

.x-item-disabled {
	opacity: 1;
}

.x-menu-item-icon {
	display: none;
}

/* Combo List Seperator line */
.x-menu-sep-li {
    display: none;
}

/* Context Menu Drop Shadow */
.x-shadow {
    display: none !important;
}

/* Used for scrolling Context menus when they dont fit on screen */
.x-menu-scroller {
    background: rgba(245, 245, 245, 1);
}

.x-menu-scroller-top {
    background-image: url(./images/menu-scroll-up.png);
}

.x-menu-scroller-bottom {
    background-image: url(./images/menu-scroll-down.png);
}




/////////////////////////////////////////////////
// THUMB WRAPS //////////////////////////////////
/////////////////////////////////////////////////

/* Thumb wraps
   Used to create a thumb in List View, ie. in Files */

.x-combo-list-inner {
	.thumb-wrap {
		display: block;
		width: 100%!important;
		margin: 0!important;
		height: auto;

		.thumb {
			display: none;

		}

		.x-editable {
			display: block;
		}
	}


}


.thumb-wrap {
	border: none!important;
	padding: 0!important;
	width: 48%!important; /* Sets Actual Width Of Thumb */
	margin: 1% 0 1% 1% !important;
	display: inline-block;
	float: none!important;
	height: 86px;
	max-height: 86px;
	position: relative;
	background: none;


	> div {
		/* Some Thumbs have extra divs containing more Meta Data, so hide them */
		display: none;

		&:first-child {
			/* Just show the first Div which contains the file name */
			display: block;
		}
	}

	.thumb {
		/* Image */
		width: 100%!important;
		height: auto!important;
		padding: 5px!important;
		box-sizing: border-box;

		@extend %thumb_up !optional;

	}


	.thumbDetails {
		/* Meta Data */
		position: absolute;
	    top: 5px;
	    left: 5px;
	    z-index: $zindex_thumb_details;
	    margin: 0 !important;
	    width: calc(100% - 10px);
	    display: none;


		div {
			/* Hide ALL */
			display: none;


			&:first-child {
				/* Just Show the File Name Meta Container */
				display: block;

				@extend %thumb_label !optional;

				b {
					/* Hide Label */
					display: none;
				}

			}
		}

	}


	&.x-view-over {
		.thumbDetails {
			/* Hover State */
			display: block;

		}

		.thumb {
			@extend %thumb_hover !optional;

		}

	}


	&.x-view-item-sel {
		.thumbDetails {
			/* Selected State */
			display: none;

		}

		.thumb {
			@extend %thumb_selected !optional;

		}

	}
}







/////////////////////////////////////////////////
// HAMBURGER ////////////////////////////////////
/////////////////////////////////////////////////

.menu-editmode-managers-menu {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: $hamburger-bg;

    &::after {
		/* Close Icon */
        content: $text_close;
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        background: url(./images/icon-close-white@X2.png) no-repeat center center / 20px 20px;
        text-indent: -50000px;
        width: 20px;
        height: 20px;
        z-index: $zindex_hamburger_title;
    }


    .x-menu-list {
		/* Menu Container */
		background: transparent;
        display: block;
        overflow: visible;
        width: 576px;
        margin: 100px auto;
        pointer-events: all;

        &::before {
			/* Menu Title */
			@include text(46px, $hamburger-title, $extralight);

            content: $text_dxm;
		    display: block;
		    text-align: center;
		    margin-bottom: 10px;
		    background: none;
		    box-shadow: none;
		    text-transform: none;
		    font-style: normal;
        }



    }

	$side_panel__tab_buttons: (
		// App ID
		(".toolbar-item-editorialcontentmanager",     	$app_icon_content_manager),
		(".toolbar-item-filemanager",     				$app_icon_file_manager),
		(".toolbar-item-portletmanager",     			$app_icon_portlet_manager),
		(".toolbar-item-repositoryexplorer",     		$app_icon_repo_explorer),
		(".toolbar-item-categorymanager",     			$app_icon_category_manager),
		(".toolbar-item-sitemanager",     				$app_icon_site_manager)
	);

    .x-menu-list-item {
		/* App Icon */
        margin: 10px;
        float: left;
        position: relative;

		&.x-menu-item-active {
			/* Hover States */
			background: none;

			.x-menu-item {
				color: $hamburger_button_hover;
				opacity: 1;
			}
		}


		.x-menu-item {
			/* App Icon - Generic */
			width: 170px;
	        margin: 1px;
	        position: relative;
	        padding: 120px 0 0 0!important;
	        text-align: center!important;

			background-size: 50%;
			background-repeat: no-repeat;
			background-position: top 16px center;
			background-color: $transparent;
			opacity: 0.8;

			@include text(11px, $hamburger_button_up, $extralight);

		}


		@each $tab_button in $side_panel__tab_buttons {
			$_app_UID: #{nth($tab_button,1)};
			$_icon: "#{nth($tab_button,2)}";

			#{$_app_UID} {
				background-image: url($_icon);
			}

		}



    }
}


.selection-top-simple {
    border: 10px solid blue;
}


.x-viewport-editmode > div:nth-child(1) {
    height: 100%;
    > div:nth-child(2) {
        height: 100%;
    }
}

.x-viewport-adminmode > div:nth-child(1) {
    height: 100%;
    > div:nth-child(2) {
        height: 100%;
        > div:nth-child(2) > div {
			> div:nth-child(2) {
				width: 100%!important;
				pointer-events: none;

				> div {
					width: 100%!important;


					> iframe {
						margin-top: 8px;
						margin-left: 60px;
						width: calc(100% - 60px)!important;
						pointer-events: all;
					}

				}
			}
            &:nth-child(1) {
				// .window-side-panel
                height: 100% !important;
                position: absolute;
                left: 0 !important;
                z-index: $zindex_window_side_panel;
                opacity: 1;
                width: calc(100% - 60px) !important;
                pointer-events: none;
                background: transparent!important;
            }
            &:nth-child(2) {
				// .mainmodule
                height: 100% !important;
                background: transparent!important;
                position: absolute;
                left: 0 !important;
                width: calc(100% - 60px) !important;
                z-index: $zindex_mainmodule;
            }
            &:nth-child(1) > div:nth-child(1) {
				// .window-side-panel .x-panel-header
                position: absolute !important;
                top: -46px;
                left: 0;
                width: 100% !important;
                z-index: $zindex_window_side_panel_header;
                display: none;
            }
        }
    }
}

.x-viewport-dashboardmode > div:nth-child(1) {
    height: 100%;
    > div:nth-child(2) {
        height: 100%;
        > div:nth-child(2) > div {
			> div:nth-child(2) {
				width: 100%!important;
				pointer-events: none;

				> div {
					width: 100%!important;

					> iframe {
						margin-top: 8px;
						margin-left: 60px;
						width: calc(100% - 60px)!important;
						pointer-events: all;
					}

				}
			}
            &:nth-child(1) {
				// .window-side-panel
                height: 100% !important;
                position: absolute;
                left: 0 !important;
				z-index: $zindex_window_side_panel;
                opacity: 1;
                width: calc(100% - 60px) !important;
                pointer-events: none;
                background: transparent!important;
            }
            &:nth-child(2) {
				// .mainmodule
                height: 100% !important;
                background: transparent!important;
                position: absolute;
                left: 0 !important;
                width: calc(100% - 60px) !important;
				z-index: $zindex_mainmodule;
            }
            &:nth-child(1) > div:nth-child(1) {
				// .window-side-panel .x-panel-header
                position: absolute !important;
                top: -46px;
                left: 0;
                width: 100% !important;
                z-index: $zindex_window_side_panel_header;
                display: none;
            }
        }
    }
}





/////////////////////////////////////////////////
// EDIT ENGINE //////////////////////////////////
/////////////////////////////////////////////////


.engine-panel {

	z-index: $zindex_edit_engine_panel;
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%;

	// HEADER
	> .x-panel-header {

		left: 0;

		> div {
			// Language Selector

		}

		.x-panel-header-text {
			// Element Title
		}
	}

	// BODY
	> .x-panel-bwrap {

		.x-panel-body {
			// Container for body

			.edit-content-engine {

				#JahiaGxtEditEngineTabs {
					// toolbar-item-publicationstatuswithtext
					> .x-tab-panel-header {
						// Tab list menu

						.x-tab-strip-wrap {
							// Menu Container

							.x-tab-strip {
								// At last, the final container

								li {
									// Tab entry


									// Personalisation (if neccessary)

									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-content {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-layout {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-metadata {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-seo {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-categories {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-options {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-liveroles {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-editroles {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-usages {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-history {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-visibility {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-workflow {}
									#JahiaGxtEditEngineTabs__JahiaGxtEditEnginePanel-channels {}

									&.x-tab-edge {
										// DOnt know what this is yet
									}

									&.x-tab-strip-active {
										// Selected Tab

									}

									.x-tab-strip-close {
										// Dont know what it does yet

									}

									.x-tab-right {
										// Button container

										.x-tab-left {
											// ANother button container

											.x-tab-strip-inner {
												// Yet another button container

												.x-tab-strip-text {
													// At last the button label !!

												}
											}
										}
									}
								}

							}
						}

						.x-tab-strip-spacer {
							// Dont kjnow what this does yet

						}
					}

					.x-tab-panel-body {
						// Tab content container

						#JahiaGxtEditEnginePanel-content {
							// Tab contents

							> .x-panel {
								// Tab content container

								.x-panel-header {
									// Seems to be unused

								}

								.x-panel-bwrap {
									// Form container

									.x-panel-body {
										// Form container

										form {
											// Finally, the form !!

											fieldset {
												legend {
													.field-set-header-text {
														// Wahoo, the label text !!

													}

													.x-form-label-left {
														// Form item container

														.x-form-item {
															// Form item

															.x-form-item-label {
																// Label

															}

															.x-form-element {
																// Form element container

																.x-component {
																	// Another Form container

																	.x-box-inner {
																		// Another Form container

																		.x-form-field-wrap {
																			// Text input container

																			input {
																				// Text input
																			}
																		}

																		label {
																			// Label
																		}
																	}
																}
															}
														}

													}
												}

											}
										}
									}

									.x-panel-footer {
										// Unused
									}
								}

							}

							// Personalisation
							#JahiaGxtEditEnginePanel-content-en {}
							#JahiaGxtEditEnginePanel-layout-en {} // check that this corresponds to other tabs when opened, plus does -en correspond to the language ?

						}

					}
				}

			}
		}


		> .x-panel-footer {
			// BLANK DIV
		}

	}
}


#XXXJahiaGxtContentEngine {
    width: 100% !important;
    position: absolute;
    top: 0;
    left: -1px;
    display: block;
    background: $shuttle-gray;
    height: 100% !important;
}

#XXXJahiaGxtEditEngineTabs {
    width: 100% !important;
    background: $shuttle-gray;
    display: block;
    height: calc(100% - 84px) !important;
    padding-top: 69px;

	.x-panel-bwrap {
	    width: 100% !important;
	    height: calc(100% - -9px) !important;
	}

	> div:nth-child(2) div:nth-child(1).x-panel-body {
	    width: 100% !important;
	    height: calc(100% - 0px) !important;
	}
}

#XXXJahiaGxtEnginePanel {
	left: 0 !important;
  top: -81px !important;
  width: calc(100% + 60px) !important;
  z-index: 999999999 !important;
  position: relative !important;
  height: calc(100% + 81px) !important;
  .x-panel-body {
      width: 100% !important;
      height: calc(100% - 6px) !important;
      background: red;
  }
  > div:nth-child(2) div:nth-child(1).x-panel-body {
      width: 100% !important;
      height: calc(100% - 74px) !important;
  }
	.x-panel-bwrap {
	    width: 100% !important;
	    height: calc(100% - 6px) !important;
	}

	ul.x-tab-strip {
        background: $shuttle-gray;
        display: inline-block;
        width: 200px;
        vertical-align: top;
        margin-left: 50px;
        margin-top: 30px;
        li {
            float: none;
        }
    }
    .x-tab-panel-header {
        width: auto !important;
        background: none;
        display: inline-block;
        vertical-align: top;
        border: none;
        margin-top: 31px;
    }
    .x-tab-panel-body {
        width: calc(100% - 252px) !important;
        display: inline-block;
        background: $shuttle-gray !important;
        margin-top: 53px;
        height: calc(100% - 53px) !important;
        > div > div {
            height: 100% !important;
            form {
                height: 100% !important;
            }
        }
    }
    span.x-tab-strip-text {
        color: #c1cdd3 !important;
        font-weight: $semilight;
        font-family: $font-1;
        font-size: 14px;
    }
    .x-tab-strip-top .x-tab-right {
        background: none;
    }
    ul.x-tab-strip-top {
        border: none !important;
        border-left: 1px solid rgba(49, 49, 49, 0.4) !important;
    }
    .x-panel-mc {
        background: transparent;
        height: 100% !important;
    }
    .x-fieldset {
        border: none;
        background: $nevada-gray;
        padding: 34px 13px 0;
        position: relative;
        margin-bottom: 11px;
        legend {
            border: none;
            position: absolute;
            top: 11px;
            font-family: $font-1;
            text-transform: uppercase;
            font-size: 11px;
            left: 11px;
            color: $botticelli-gray;
        }
    }
    .x-form-item .x-form-item-label {
        color: rgba(197, 205, 209, 0.5);
        font-style: italic;
        font-weight: $light;
        font-family: $font-1;
    }
    .x-form-text,
    textarea.x-form-field {
        padding: 5px;
        border: none;
        color: $botticelli-gray;
        font-family: $font-1;
        font-weight: $normal;
        transition: all 0.3s ease-in 0s;
        border-bottom: 1px solid rgba(165, 176, 181, 0.2);
        background: transparent;
    }
    .x-form-text:hover,
    textarea.x-form-field:hover {
        background: rgba(165, 176, 181, 0.3) !important;
        color: $botticelli-gray;
    }
    .x-form-text:focus,
    textarea.x-form-field:focus,
    .x-form-text:active,
    textarea.x-form-field:active {
        background: rgba(247, 248, 250, 1) !important;
        color: $shuttle-gray;
    }
    .x-form-label-top .x-form-element {
        padding: 0 !important;
        margin-top: 5px;
    }
    .x-form-item {
        margin-bottom: 20px;
    }
    .x-btn {
        margin-top: 5px;
    }
    ul.x-tab-strip li {
        border-left: 3px solid transparent;
        left: -4px;
        &.x-tab-strip-active {
            border-left: 3px solid $white;
        }
    }
    .x-tab-strip-over span.x-tab-strip-text,
    li.x-tab-strip-active span.x-tab-strip-text {
        color: $white !important;
    }
    .x-panel-header {
        z-index: 99999999 !important;
        top: 45px;
        left: 0px;
        position: absolute;
        color: $gallery-gray;

		font-family: $font-1;
	    font-size: 26px;
	    font-weight: $extralight;



		width: 100%;
        padding-top: 26px;
        pointer-events: all;
        > {
            div {
                background: $white;
                margin-right: 61px;
                input[type="text"] {
                    background: rgb(234, 230, 230);
                    color: rgb(77, 77, 77);
                    padding: 3px 8px 3px;
                    font-size: 10px;
                    text-transform: uppercase;
                }
                &:hover input[type="text"] {
                    background: $gallery-gray !important;
                    color: $mineshaft-gray;
                }
            }
            span {
                margin-left: 42px;
            }
            div {
                .x-form-trigger.x-form-trigger-arrow {
                    background: url(./images/icon-toggle-expanded-small-normal.png) no-repeat center center rgba(245, 245, 245, 1);
                    height: 29px;
                    width: 25px;
                    right: 0px;
                }
                &:hover .x-form-trigger.x-form-trigger-arrow {
                    background: url(./images/icon-toggle-expanded-small-selected.png) no-repeat center center rgba(245, 245, 245, 1);
                    height: 29px;
                    width: 25px;
                    right: 0px;
                }
            }
        }
    }
}

.XXXJahiaEditEngineButtonBar {
	position: absolute;
    top: 0;
    z-index: 9999999999;
    display: block;
    width: 100% !important;
    background: #3f4244;
    left: 0;
    bottom: 0;
    padding: 21px 46px;
    text-align: left;
    .x-toolbar-ct {
        margin: 0;
    }

	.x-toolbar-cell {
	    float: right;
	    &:nth-child(3) .x-btn-mc {
	        text-indent: -50000px;
	        background: url(./images/icon-close-small-light.png) no-repeat left 5px center $rollingstone-gray;
	        border: 5px solid $rollingstone-gray;
	        transition: all 0.2s ease-in 0.2s;
	        width: 18px;
	        height: 18px;
	    }
	    &:nth-child(2) .x-btn-mc button {
	        color: $white;
	    }
	    &:nth-child(1) .x-btn-mc {
	        button {
	            color: rgba(193, 205, 211, 1);
	        }
	        &:hover {
	            text-indent: 0;
	            width: 50px;
	            padding-left: 20px !important;
	        }
	    }
	    &:nth-child(2) .x-btn-mc {
	        background: $jahia-blue;
	        border: 5px solid $jahia-blue;
	        padding: 0 15px !important;
	    }
	    &:nth-child(1) {
	        margin-right: 5px;
	        position: relative;
	        margin-top: 8px;
	        label {
	            color: #80878b;
	            text-transform: uppercase;
	            font-family: $font-1;
	            font-size: 10px;
	            text-indent: -50000px;
	            width: 0px !important;
	            display: block !important;
	            float: right !important;
	            &::after {
	                color: red;
	                content: $text_work_in_progress;
	                display: block !important;
	                left: 87px;
	                position: relative;
	                float: right;
	                overflow: visible;
	                text-indent: 0;
	                width: auto;
	                font-size: 9px;
	            }
	        }
	    }
	}
}

.x-panel-body {
	border: none !important;
	background: transparent !important;
}


/* Modal Mask */
.x-modal {
    background: rgba(92, 97, 100, 0.98);
    opacity: 1;
    z-index: $zindex_modal_mask;
    position: fixed !important;
}

/* Loading Loader */
.x-masked {
    > div {
        opacity: 0;
    }
    &::before {
        content: $text_loading;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(./images/loader-animated.gif) no-repeat center center;
    }

}



/////////////////////////////////////////////////
// FORMS ////////////////////////////////////////
/////////////////////////////////////////////////

/* Global Form */
form {
	padding: 0!important;
	width: auto!important;
}

/* Form Item Wrapper */
.x-form-item {
	/* Form item Outer Container ... */
	margin:0;

	.x-form-element {
		/* Form Item Mid container */
		padding: 0!important;

		.x-form-field-wrap {
			/* Form Item Inner Container */
			left: auto;
			top: auto;
			width: auto!important;
		}

	}
}


/* Form Label */
.x-form-item-label {
	width: auto!important;
	float: none!important;
	clear: both!important;

	@extend %form_label !optional;
}

/* Text Field Input */
.x-form-text {
	@extend %text_input !optional;

	width: 100%!important;
	box-sizing: border-box;
    display: inline-block;
    height: auto!important;

	&:only-child {
		padding-right: 5px;
		display: block;
	}

	&:hover {
		@extend %text_input_hover !optional;
	}

	&:focus {
		@extend %text_input_focus !optional;
	}
}

div[role="combobox"] {
	.x-form-text {
		@extend %combo_input !optional;

		width: 100%!important;
		box-sizing: border-box;
	    display: inline-block;
	    height: auto!important;
	}
}

/* Action Buttons for Text Input */
.x-form-trigger {
	/* Generic CSS for an Action Button */
	display: block;
	position: absolute!important;
    border: none !important;
    vertical-align: middle;
    right: 0px;
	height: 24px!important;

	.x-form-twin-triggers & {
		/* Button is in a container, because there are multiple buttons */
		display: inline-block;
		position: relative;
		border: none !important;
		vertical-align: middle;
		right: auto;
		top: auto;
	}

	&.x-form-clear-trigger {
		/* Clear button */
		position: absolute!important;
		right: 0px!important;
	}

	&.x-form-trigger-arrow {
		/* Combo Down Arrow Button */
		@extend %combo_arrow_up !optional;

		&.x-form-trigger-over {
			@extend %combo_arrow_hover !optional;
		}
	}

	&.x-form-clear-trigger {
		/* Combo Down Arrow Button */
		@extend %form_clear_up !optional;

		&.x-form-trigger-over {
			@extend %form_clear_hover !optional;
		}
	}
}

/* Action Button Container (when multiple buttons exist) */
.x-form-twin-triggers {
	/* Container used when more than one button */
	display: block;
    position: absolute;
    right: 17px;
    top: 0;
}


/* Checkbox Container */
.x-form-check-wrap {
	height: auto!important;
}

/* Checkbox Radio Button */
.x-form-radio {
	left: auto!important;
	top: auto!important;
}

/* Checkbox Label */
.x-form-cb-label {
	margin: 0 0 0 5px;
	padding: 0!important;
	left: auto!important;
	top: auto!important;

	@extend %form_label !optional;
}

/* Button Bars at the end of Panels, ie OK, Save, Cancel, ... */
.x-panel-btns {
	padding: 0;

	.x-panel-fbar {
		/* Button Bar Container ... */
	    padding: 0;
	    left: auto;
	    top: auto;

		.x-toolbar-ct {
			/* Yet Another Container */
			display: block;
			width: auto;
		}
	}
}

/* Button Bar, regular button bar */
.x-panel-btns {
	.x-btn {
		button {
			height: auto!important;
	        width: auto!important;

			@extend %form_button !optional;

			&:hover {
				@extend %form_button_hover !optional;
			}

			img {
				display: none;
			}

		}

	}
}

/* Button Bar, pagination */
.x-panel-bbar {
	width: 100%;

	.x-toolbar {
		border:none;
		width: auto!important;
		padding: 0;
		margin: 0;
		background: transparent!important;
	}
}



/////////////////////////////////////////////////
// TREES ////////////////////////////////////////
/////////////////////////////////////////////////

@each $tree in $personalised_trees {
	$_tree_id: #{nth($tree,1)};
	$_placeholder: #{nth($tree,2)};

	#{$_tree_id} {
		.x-tree3-node-icon,
		.gwt-Image {
			// List Item Icon
			@extend %tree_line_icon_up--#{$_placeholder} !optional;
		}

		.x-grid3-row-over {
			.x-tree3-node-icon,
			.gwt-Image {
				// Personalised Icon
				@extend %tree_line_icon_hover--#{$_placeholder} !optional;

			}

		}

		.x-grid3-row-selected {
			.x-tree3-node-icon,
			.gwt-Image {
				// Personalised Icon: Selected
				@extend %tree_line_icon_selected--#{$_placeholder} !optional;

			}

			&.x-grid3-row-over {
				.x-tree3-node-icon,
				.gwt-Image {
					// Personalised Icon: Selected > Hover
					@extend %tree_line_icon_selected_hover--#{$_placeholder} !optional;

				}
			}
		}

	}
}

.x-grid3 {
	/* Container */
	width: 100%!important;
	height: 100%!important;
	background: transparent;

	.x-grid3-td-publicationInfo {
		width: 3px!important;
		height: 25px;
		overflow: hidden;

		position: absolute;
		left: 0;

		.x-grid3-col-publicationInfo {
			padding: 0!important;

		}

		.x-component,
		table {
			height: 100%
		}

		img {
			overflow: hidden;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			position: relative;

			padding-left: 5px;
			width: 5px;
			height: 100%;


			&[src="/icons/publication/conflict.png"] {
				/* Conflict */
				background: $conflict!important;

			}


			&[src="/icons/publication/deleted.png"] {
				/* Deleted */
				background: $deleted!important;

			}


			&[src="/icons/publication/livemodified.png"] {
				/* Live Modified */
				background: $live-modified!important;

			}


			&[src="/icons/publication/liveonly.png"] {
				/* Live Only */
				background: $live-only!important;

			}


			&[src="/icons/publication/locked.png"] {
				/* Locked */
				background: $locked!important;

			}


			&[src="/icons/publication/mandatorylanguageunpublishable.png"] {
				/* Mandatory Language Unpublishable */
				background: $mandatory-language-unpublishable!important;

			}


			&[src="/icons/publication/mandatorylanguagevalid.png"] {
				/* Mandatory Language Valid */
				background: $mandatory-language-valid!important;

			}


			&[src="/icons/publication/markedfordeletion.png"] {
				/* Marked FOr Deletion */
				background: $marked-for-deletion!important;

			}


			&[src="/icons/publication/modified.png"] {
				/* Modified */
				background: $modified!important;

			}


			&[src="/icons/publication/multipleWF.png"] {
				/* Multiple WF */
				background: $multiple-wf!important;

			}


			&[src="/icons/publication/notpublished.png"] {
				/* Not Published */
				background: $not-published!important;

			}


			&[src="/icons/publication/oneWF.png"] {
				/* One WF */
				background: $one-wf!important;

			}


			&[src="/icons/publication/published.png"] {
				/* Published */
				background: $published!important;

			}


			&[src="/icons/publication/unpublished.png"] {
				/* Unpublished */
				background: $unpublished!important;

			}


			&[src="/icons/publication/waiting.gif"] {
				/* Waiting */
				background: $waiting!important;

			}


			&[src="/icons/publication/workinprogress.png"] {
				/* Work In Progress */
				background: $work-in-progress!important;

			}
		}
	}

	.x-grid3-header {
		/* Header bar (contains column names) */
		display: none;
	}

	.x-grid3-body {
		/* Contains the Actual List !! */
		height: 100%!important;
	}

	.x-grid3-scroller {
		/* Another List Container */
		height: 100%!important;
		width: 100%!important;
	}

	.x-grid3-viewport {
		/* Another container */
		height: 100%!important;
	}

	.x-tree3-el-jnt,
	.x-tree3-node-joint {
		pointer-events: all;
	}


	.x-grid3-row {
		/* List Item */
		height: 25px!important;
		width: 100%!important;
		border: none;

		@extend %tree_line_bg_up !optional;


		&.x-grid3-row-over {
			/* Line Over */
			@extend %tree_line_bg_hover !optional;

			.x-tree3-node-icon {
				@extend %tree_line_icon_hover !optional;

			}

			.x-grid3-td-displayName,
			.gwt-content-label {
				@extend %tree_line_text_hover !optional;

				&::after {
					background-image: url($row_more_options_icon_hover);
					opacity: 1;

				}

			}


		}


		&.x-grid3-row-selected {
			/* Line Selected */
			@extend %tree_line_bg_selected !optional;

			.x-tree3-node-icon {
				@extend %tree_line_icon_selected !optional;

			}

			.x-grid3-td-displayName,
			.gwt-content-label {
				@extend %tree_line_text_selected !optional;

				&::after {
					background-image: url($row_more_options_icon_selected);
					opacity: 1;

				}
			}


			&.x-grid3-row-over {
				/* Line Hover on Selected */
				@extend %tree_line_bg_selected_hover !optional;

				.x-tree3-node-icon {
					@extend %tree_line_icon_selected_hover !optional;

				}

				.x-grid3-td-displayName,
				.gwt-content-label {
					@extend %tree_line_text_selected_hover !optional;

					&::after {
						background-image: url($row_more_options_icon_selected_hover);

					}
				}
			}
		}
	}

	.x-grid3-td-displayName,
	.gwt-content-label {
		/* List Item Text Label */
		@extend %tree_line_text_up !optional;

		pointer-events: none;

		&::after {
			position: fixed;
			pointer-events: all;
			margin-top: -26px;
			background-image: url($row_more_options_icon);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 10px 2px;
			text-indent: -50000px;
			display: block;
			width: 28px;
			height: 25px;
			opacity: 0;
		}
	}

	.x-tree3-node-text {
		top: -1px;
	}

	/*.x-grid3-td-displayName {
		&::after {
			left: 270px;
		}
	}

	.x-grid3-td-displayName {
		&::after {
			left: 270px;
			background: red;
		}
	}*/



	.x-tree3-node-icon,
	.gwt-Image {
		/* List Item Icon */


		overflow: hidden;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: relative;
	}

	// List Structure
	.x-grid3-row-table {
		// Table containing actual List Item
		height: 100%;
		width: 100%!important;

		.x-grid3-cell {
			/* Cell Containing the List Item */
			padding: 0;

			&.x-grid3-td-locked {
				width: 25px;
				display: none;
			}

			&.x-grid3-td-displayName {
				width: 100%!important;
			}

			.x-grid3-cell-inner {
				// Yet another container ...
				height:100%!important;

				.x-tree3-node {
					// Oooh, another container !!
					height: 100%!important;

					.x-tree3-el {
						// At last, the actual element !!
						height: 100%;
						width: auto!important;
						padding: 2px 0 0px;

						> img,
						> span {
							display: inline-block;
							vertical-align: middle;

							font-family: inherit;
						    color: inherit;
						    font-weight: inherit;
						    padding: inherit;
						    font-size: inherit;
						}

						td > .x-tree3-node-icon {
							// NOT NECCESSARY IN THIS TAB SET
							display: none;
						}
					}
				}
			}
		}
	}
}


.ext-strict .ext-webkit .x-small-editor .x-form-text {
	height: auto!important;
	padding: 5px 40px 5px 10px;
}

.x-border-layout-ct {
	background: none;
}


/////////////////////////////////////////////////
// TRASH ??? ///////////////////////////////////
/////////////////////////////////////////////////

.x-border {
    border: none;
	/*z-index: 9999 !important;*/
}
