

/***********************************************/
/* DASHBOARD MODE ******************************/
/***********************************************/

.x-viewport-dashboardmode {

	.editmode-managers-menu {
		&.x-hide-display {
			display: block!important;
		}

		position: fixed;
		top: 54px;
		left: 60px;
		z-index: $ZINDEX--HAMBURGER_MENU---BUTTON;
		display: block;
		background: url(./images/dx_logo_solid.png) no-repeat top 3px left 10px;
		margin-top: 0;
		background-size: 32px 32px;
		opacity: 0.9;
		width: 50px;
		height: 50px;
	   body[data-selection-count="0"] & {
					background: url(./images/dx_logo_solid.png) no-repeat top 3px left 10px;
					background-size: 32px 32px;
	   }
	   &:hover {
		   opacity: 1;
	   }
	   &::after {
		   content: "";
	   }
	   body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
			background: url(./images/dx_logo_solid.png) no-repeat top 3px left 10px;
			background-size: 32px 32px;
	   }

		   .x-btn-mc {
			   height: 40px!important;
		   }
   }


	.x-grid3-row {
		pointer-events: all;
	}
	.action-toolbar {
		background-size: 32px 32px;
		background: none !important;
		border: none !important;
		display: block;
		top: 0;
		height: 40px !important;
		right: 2px;
		left: auto;
		pointer-events: all;
		padding: 5px;
		width: 49px;
		z-index: $ZINDEX--TOOLBAR--CONTAINER;
		overflow: visible !important;
		position: fixed;

		.x-btn-arrow {
			display: none;
		}

		> table {
			opacity: 1;
			z-index: $ZINDEX--TOOLBAR--CONTAINER;
			pointer-events: all;
		}

		.x-toolbar-cell {
			display: block;
			margin-top: 10px;
			opacity: 1;

			&.x-hide-display {
				display: block!important;
			}

			button {
         width: 50px !important;
         height: 35px !important;
         padding: 0 !important;
         background: transparent !important;
         text-indent: -50000px;
       }

		   td.x-btn-mc {
         display: block;
         width: 50px;
         height: 23px;
         margin-bottom: 2px;
         background: transparent !important;
       }

		   &:nth-child(1) > table:nth-child(1) td.x-btn-mc {
         display: block;
         width: 50px;
         margin-bottom: 2px;
         background: transparent !important;
         display: none;
       }

			&:nth-child(2) {
				display: none;
			}

		   .dashboard-menu-user {
			   display: none!important;
	       }

		   .dashboard-menu-mode {
			   &.x-hide-display {
   					display: block!important;
   				}
	           position: fixed;
	           right: 73px;
	           top: 6px;
	           margin-top: 7px;
	           z-index: $ZINDEX--CONTEXT_MENU--MODE_MENU;
	           width: 123px;
	           height: 24px;
	           opacity: 0.9;
	           &::after {
								content: $text_dashboard;
								font-size: 14px;
								text-transform: uppercase;
								font-weight: $FONT--WEIGHT---SEMILIGHT;
								margin-top: 0px;
								padding-left: 35px;
								background: url(./images/dx_logo_solid-black.png) no-repeat left 12px center / 20px 20px;
								padding-right: 2px;
								text-align: left;
								position: relative;
								z-index: $ZINDEX--CONTEXT_MENU--MODE_MENU---LABEL;
								font-family: $DEFAULT--FONT--FAMILY;
								width: calc(100% - 20px);
								display: block;
								height: 20px;
								padding-top: 5px;
								color: rgba(238, 238, 238, 0.9);
								body[data-selection-count="0"] & {
								   background: url(./images/dx_logo_solid.png) no-repeat left 12px center / 20px 20px, url(./images/combo-arrow.png) no-repeat right center;
								}
	           }
	           body[data-sitesettings="true"] & {
				   			display: none;
	           }
	       }
		}
	}

	> div:nth-child(1) {
		height: 100%;

		> div:nth-child(2) {
			height: 100%;
		}
	}

	> div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
		height:43px;
		pointer-events: none;
	}

	> div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
		z-index: $ZINDEX--ACTION_BAR--CONTAINER;
		height: 60px;
		display: block;
		position: absolute !important;
	}

}
