@import "common";

@import "sidepanel";
@import "edit_contribute";
@import "adminmode";
@import "dashboardmode";
@import "workflow";


/////////////////////////////////////////////////
// NEED TO ADD TO SASS //////////////////////////
/////////////////////////////////////////////////


		body[data-edit-window-style="settings"] {
			background: _theme-color(secondary);
		}


		body[data-edit-window-style="settings"] .x-viewport-editmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
		.x-viewport-adminmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
		.x-viewport-dashboardmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
			width: calc(100% - 308px) !important;
			left: 356px !important;
			overflow: visible!important;
		}

		body[data-edit-window-style="settings"] #JahiaGxtSidePanelTabs,
		.x-viewport-adminmode #JahiaGxtSidePanelTabs,
		.x-viewport-dashboardmode #JahiaGxtSidePanelTabs {
			border:none!important;
			background: _theme-color(primary);

			box-shadow: 2px 0 24px rgba(40, 43, 45, 0.52) !important;
			padding-right: 36px;
			width: 320px!important;
		}

		body[data-edit-window-style="settings"][data-selection-count] .x-viewport-editmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > iframe:nth-child(1),
		body[data-edit-window-style="settings"][data-selection-count] .x-viewport-adminmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > iframe:nth-child(1),
		body[data-edit-window-style="settings"][data-selection-count] .x-viewport-dashboardmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > iframe:nth-child(1) {
			box-shadow: none!important;

		}

		body[data-edit-window-style="settings"] .x-viewport-editmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div {
			top: -53px!important;

			height: calc(100% + 63px) !important;
		    width: calc(100% + 21px) !important;
		}

		.x-viewport-adminmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div,
		.x-viewport-dashboardmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div {
			top: -43px !important;
			height: calc(100% + 65px) !important;
			width: calc(100% + 21px) !important;
		}








		/*
			TRASH ???

			body[data-sitesettings="true"][data-edit-window-style="settings"]::before {
				content: ""!important;
			} */


		/* ADMIN MODE */

		#JahiaGxtSidePanelTabs {
			background: red!important;
		}

		#JahiaGxtSidePanelTabs .tab_systemSiteSettings {


			.x-viewport-dashboardmode &,
			.x-viewport-adminmode & {
				left: 150px;
				display: block!important;
				margin-top: 40px;

				.x-tree3-el {
					height: 25px!important;
				}

				.x-grid3-row[menu-item-level="0"] {
					position: fixed;
					left: 60px;
					width: 180px !important;
					padding: 8px 10px 0px 6px;
					background: _theme-color(quinary) !important;
					height: 25px!important;

					.x-tree3-el {
						opacity: 1!important;
					}

					.x-tree3-node-text {
						color: _theme-color(secondary);
					}

					img.x-tree3-node-icon {
						background: url(./images/placeholder-icon-white@X2.png) no-repeat !important;
						background-size: 13px 13px!important;
						width: 16px!important;
						height: 16px!important;
						display:inline!important;
					}

					&:hover {
						background: _theme-color(tertiary, a)!important;
					}

				}
			}


		}

		/* Do all this with JS instead of generating CSS, as it creates thousands of lines ... */
		#JahiaGxtSidePanelTabsXXXX {
			.x-viewport-adminmode & {
				@for $i from 0 through 50 {
			        &[current-sub-menu="#{$i}"] {
						.x-grid3-row[parent-ID="#{$i}"] {
							display: block;
							pointer-events: all;
			            }

						.x-grid3-row[menu-ID="#{$i}"] {
							.x-tree3-el {
								opacity: 1!important;
							}
			            }
			        }

			    }


				@for $i from 0 through 50 {
					.x-grid3-row[menu-rel-ID="#{$i}"] {
			            top: $i * 33 + px;
			        }

					.x-grid3-row[parent-rel-ID="#{$i}"][parent-ID] {
						margin-top: $i * 55 - 5 +px
			        }

					.x-grid3-row[menu-system-site-settings="true"][parent-rel-ID="#{$i}"][parent-ID] {
						margin-bottom: $i * 33 - 55 +px;
						margin-top:auto!important;
						bottom:22px;
			        }


			    }

			    .x-grid3-row {
					display:none;
					width: 50px !important;
					height: 55px !important;

					&[menu-item-level="0"] {
			            display: block;
						pointer-events: all;
						background: transparent!important;
			        }

					.x-tree3-el {
						opacity: 0.6;

						&:hover {
							opacity: 1;
						}

						img:nth-child(1),
						img.x-tree3-node-joint {
							display:none;
						}

						.x-tree3-node-text {
							color: rgba(_theme-color(secondary, a), 0.6);
						    margin-top: 5px;
						    text-transform: uppercase;
						    font-size: 8px;
						    font-weight: 400;
							overflow: hidden;
							text-overflow: ellipsis;
							width: 100%;
							text-align: left;
						}


					}

					&[menu-item-level="0"] {
						.x-tree3-node-icon {
							width: 50px !important;
						    height: 20px !important;
						    padding-left: 50px !important;
						    background: url(./images/tabs-content-white@X2.png) no-repeat !important;
						    background-size: 23px 23px !important;
						    background-position: center center !important;
						    display: block !important;
						}
					}

					&[parent-ID] {
						position: fixed;
						left: 60px;
						width: 180px !important;
						padding: 8px 10px 0px 6px;
						background: _theme-color(quinary) !important;
						height: 25px!important;

						.x-tree3-el {
							opacity: 1!important;
						}

						.x-tree3-node-text {
							color: _theme-color(secondary);
						}

						.x-tree3-node-icon {
							background: url(./images/placeholder-icon-white@X2.png) no-repeat !important;
							background-size: 13px 13px!important;
						}

						&:hover {
							background: _theme-color(tertiary, a)!important;
						}

					}

					.x-tree3-el {
						height: 55px;
					}

					> table {
						width: 100%!important
					}
			    }
			}


		}


/////////// END ::: NEED REINSERTING INTO SASS
