@mixin text($_size, $_color, $_weight, $_family:$DEFAULT--FONT--FAMILY){
    font-family: $_family;
    font-size: $_size;
    color: $_color;
    font-weight: $_weight;
}

@mixin button($_button_id, $_extra: "none"){

    .x-btn {
		width: auto!important;

        button {
            width: 100%!important;
            height: auto!important;
        }

		&.x-btn-noicon {
			// Button has icon
			button {
				@extend %CSS_BLOCK--BUTTON--TEXT\:#{$_button_id} !optional;

			}
		}

		&.x-btn-text-icon {
			// Button has icon

			button {
                @extend %CSS_BLOCK--BUTTON--ICON\:#{$_button_id} !optional;

                @if($_extra == "remove-icons"){
                    padding-left: 10px;

                    img {
                        display: none;

                    }
                }

			}
		}

		&.x-btn-over {
			// Over states

			&.x-btn-noicon {
				// Button has icon
				button {
                    @extend %CSS_BLOCK--BUTTON--TEXT---HOVER\:#{$_button_id} !optional;

				}
			}

			&.x-btn-text-icon {
				// Button has icon
				button {
                    @extend %CSS_BLOCK--BUTTON--ICON---HOVER\:#{$_button_id} !optional;

				}
			}

		}
	}
}
