@mixin tooltip($_tooltip_text, $_position: "BOTTOM"){
	@extend %CSS_BLOCK--TOOLTIP !optional;
	@extend %CSS_BLOCK--TOOLTIP---#{$_position} !optional;

	&::before {
		content: $_tooltip_text;
	}

}


@mixin text_input($_input_id, $_extra: "none"){
	// @extend %CSS_BLOCK--FORM--TEXT_INPUT !optional;
	// @extend %CSS_BLOCK--FORM--TEXT_INPUT\:#{$_input_id} !optional;
	//
	//
	// &:hover {
	// 	@extend %CSS_BLOCK--FORM--TEXT_INPUT---HOVER !optional;
	// 	@extend %CSS_BLOCK--FORM--TEXT_INPUT---HOVER\:#{$_input_id} !optional;
	//
	// }
	//
	// &:focus {
	// 	@extend %CSS_BLOCK--FORM--TEXT_INPUT---FOCUS !optional;
	// 	@extend %CSS_BLOCK--FORM--TEXT_INPUT---FOCUS\:#{$_input_id} !optional;
	//
	// }
	//
	// &[disabled] {
	// 	@extend %CSS_BLOCK--FORM--TEXT_INPUT---DISABLED !optional;
	// 	@extend %CSS_BLOCK--FORM--TEXT_INPUT---DISABLED\:#{$_input_id} !optional;
	//
	// }

}

@mixin text($_size, $_color, $_weight, $_family:$DEFAULT--FONT--FAMILY){
    font-family: $_family;
    font-size: $_size;
    color: $_color;
    font-weight: $_weight;
}

@mixin _button($_class, $_button_id, $_extra: "none") {
	#{$_class} {
		width: auto!important;

        button {
            width: 100%!important;
            height: auto!important;
        }

		&.x-btn-noicon {
			// Button has icon
			button {
				@extend %CSS_BLOCK--BUTTON--TEXT\:#{$_button_id} !optional;

			}
		}

		&.x-btn-text-icon {
			// Button has icon

			button {
                @extend %CSS_BLOCK--BUTTON--ICON\:#{$_button_id} !optional;

                @if($_extra == "remove-icons"){
                    padding-left: 10px;

                    img {
                        display: none;

                    }
                }

			}
		}

		&.x-btn-over {
			// Over states

			&.x-btn-noicon {
				// Button has icon
				button {
                    @extend %CSS_BLOCK--BUTTON--TEXT---HOVER\:#{$_button_id} !optional;

				}
			}

			&.x-btn-text-icon {
				// Button has icon
				button {
                    @extend %CSS_BLOCK--BUTTON--ICON---HOVER\:#{$_button_id} !optional;

					@if($_extra == "remove-icons"){
	                    padding-left: 10px;

	                    img {
	                        display: none;

	                    }
	                }

				}
			}

		}
	}
}

@mixin button($_button_id, $_extra: "none"){

	// Button classes are more specific now ( ie. .button-yes )
	// However, we can no longer use the button mixin as the structure doesnt work with the classes.
	// button_
	@include _button(".x-btn", $_button_id, $_extra);


}

@mixin dual_list($_id: "DUAL_LIST"){

    .list-store-field {
        /* Yet another container */
        height: auto!important;
        width: 100%!important;
        background: transparent;

		.x-combo-list-item {
			background: _property($LIST-BOX--ROW--BG, $EDIT-ENGINE);
			color: _property($LIST-BOX--ROW--COLOR, $EDIT-ENGINE);

			&.x-combo-over {
				background: _property($LIST-BOX--ROW--BG---HOVER, $EDIT-ENGINE);
				color: _property($LIST-BOX--ROW--COLOR---HOVER, $EDIT-ENGINE);
			}

			&.x-combo-selected {
				background: _property($LIST-BOX--ROW--BG---SELECTED, $EDIT-ENGINE);
				color: _property($LIST-BOX--ROW--COLOR---SELECTED, $EDIT-ENGINE);

				&.x-combo-over {
					background: _property($LIST-BOX--ROW--BG---SELECTED, $EDIT-ENGINE);
					color: _property($LIST-BOX--ROW--COLOR---SELECTED, $EDIT-ENGINE);
				}
			}
		}

        > table {
            display: block;

            > tbody {
				display: block;
				width: 100%;
				> tr {
					display: block;
					width: 100%;
				   > td {
					   display: block;

					   // SOURCE LIST
					   &:nth-child(1) {

							width: calc(50% - 15px);
							display: inline-block;
							position: relative!important;

						   // INPUT FILTER
						   > div > table > tbody > tr:nth-child(1) > td {
							   padding: 5px;
							   background: _property($LIST-BOX--ROW--BG, $EDIT-ENGINE);
							   box-sizing: border-box;

							   > .x-form-field-wrap {
								   width: 100%!important;
							   }
						   }

						   // This block has a text filter, so change the height to accomodate
						   .x-table-layout-cell {
							   .x-form-list {
								   height: 161px!important;
							   }
						   }


					   }

					   // BUTTONS
					   &:nth-child(2) {

						   width: 30px;
						   display: inline-block;
						   position: relative!important;

						   > div {
							   margin: 39px 0 0 0!important;
						   }
					   }

					   // SELECTION LIST
					   &:nth-child(3) {

						   width: calc(50% - 15px);
						   display: inline-block;
						   position: relative!important;

					   }
				   }
			   }
			}
        }

        .x-form-clear-trigger {
            @extend %CSS_BLOCK--FORM--CLEAR_BUTTON---UP\:#{$_id} !optional;

            &:hover {
                @extend %CSS_BLOCK--FORM--CLEAR_BUTTON---HOVER\:#{$_id} !optional;
            }
        }

		.x-form-empty-field + .x-form-clear-trigger {
			display: none;
		}

        .x-form-text {
            @extend %CSS_BLOCK--FORM--TEXT_INPUT\:#{$_id} !optional;

            &:hover {
                @extend %CSS_BLOCK--FORM--TEXT_INPUT---HOVER\:#{$_id} !optional;
            }

            &:focus {
                @extend %CSS_BLOCK--FORM--TEXT_INPUT---FOCUS\:#{$_id} !optional;
            }
        }

        // FILTER CONTAINER
        .x-form-field-wrap {
            width: 100%!important;

			input {
				padding-right: 24px!important;
			}
        }

        .x-table-layout-cell {
            width: 100%!important;
            display: inline-block;
        }
    }

    // Text adjacent field is in FOCUS
    .x-form-group .x-form-text:focus + .x-form-clear-trigger {
        @extend %CSS_BLOCK--FORM--CLEAR_BUTTON---FOCUS\:#{$_id} !optional;
    }
}
