@charset "UTF-8";
$text_select_category_from_list: "Choisir une catégorie dans la list ci-dessous ...";
$text_available_categories: "Catégories disponible";
$text_create_page: "Nouvelle page";
$text_edit_mode:"Mode édition";
$text_preview:"Prévisualisation";
$text_publish:"Publication";
$text_clear_selection: "Clear Selection";
$text_workflow:"Workflow";
$text_status: "Status";
$text_tasks: "Taches";
$text_cache: "Cache";
$text_trash: "Corbeille";
$text_jobs: "Travaux";
$text_clipboard: "Presse-papiers";
$text_loggedin: "Connecté";
$text_results: "Resultats";
$text_no_results: "Pas de résultats ..";
$text_not_found: "Désolé nous n'avons pas pu trouver ce que vous cherchiez :(";
$text_empty: "Vide :(";
$text_pages: "Pages";
$text_create: "Créer";
$text_content: "Contenu";
$text_files: "Fichiers";
$text_search: "Chercher";
$text_save_search_results: "Sauvegarder results de recherche";
$text_return_to_picker:"Retour";
$text_taxonomy: "Catégories";
$text_devices: "Appareils";
$text_settings: "Paramètres";
$text_create_content: "Créer du contenu";
$text_my_content: "Mes Contenus";
$text_device_preview: "Aperçu appareil";
$text_site_settings: "Paramètres du site";
$text_loading: "Chargement";
$text_work_in_progress: "Travail en cours";
$text_file_manager: "Gestionnaire de fichiers";
$text_contribute_mode:"Mode contribution";
$text_upload:"Upload";
$text_site:"Site";
$text_edit:"Edition";
$text_dxm:"Digital Experience Manager";
$text_dxm_settings:"Digital Experience Manager Settings";
$text_close: "Fermer";
$text_more: "Plus";
$text_selected: "Selected";
$text_server_settings: "Paramètres du serveur";
$text_system_settings: "Paramètre du site système";
$text_my_dashboard: "My Dashboard";
$text_dashboard: "Dashboard";
$text_sites:"Sites";
$text_administration:"Administration";
$text_dark_ui:"Dark UI";
$text_light_ui:"Light UI";
$text_context_menu_hamburger: "Hamburger Menu...";
$text_context_menu_publication_page: "Publish Page";
$text_context_menu_publication_selection: "Publish Selection";
$text_context_menu_preview_page: "Preview Page";
$text_context_menu_preview_selection: "Preview Selection";
$text_context_menu_more_info: "More Options Menu...";
$text_context_menu_more_info_page: "Page Options";
$text_context_menu_more_info_selection: "Selection Options";
$text_context_menu_mode_view: "Change Modes...";
$text_context_menu_user_menu: "User Menu...";
$text_context_menu_workflow: "Workflow Menu...";
$text_context_menu_cache: " Menu...";
$text_context_menu_page_edit: "Edit Menu...";
$text_context_menu_side_panel_pages: "Pages Menu...";
$text_context_menu_side_panel_content_tree: "Content Menu...";
$text_context_menu_side_panel_content_item: "Content Menu...";
$text_context_menu_side_panel_file_tree: "File Menu...";
$text_context_menu_side_panel_file_item: "File Menu...";
$text_context_menu_side_panel_search: "Search Menu...";
$text_context_menu_side_panel_taxonomy: "Taxonomy Menu...";
$text_context_menu_admin_user_name: $text_context_menu_user_menu;
$text_context_menu_dashboard_user_name: $text_context_menu_user_menu;
$text_context_menu_admin_mode_view: $text_context_menu_mode_view;
$text_context_menu_dashboard_mode_view: $text_context_menu_mode_view;
$text_off: "Off";
$text_on: "On";
$text_done: "Fermer";
$text_cancel: "Annuler";
$text_year_picker: "Month / Year picker";
$text_ascending: "Ascending:";
$text_descending: "Descending:";
$text_home:"Accueil";
$text_tooltip_more_options:"Plus d'options";
$text_tooltip_refresh_page:"Actualiser";
$text_tooltip_preview:"Aperçu";
$text_tooltip_publish:"Options de publication";
$text_infobar_view_workflow_dashboard:"Ouvrir";
$text_infobar_view_background_jobs:"Ouvrir";
$text_infobar_no_background_jobs:"Aucun jobs en cours d'exécution";
$text_infobar_toggle_on:"Masquer";
$text_infobar_toggle_off:"Afficher";
$text_visibility_publication:"Publication";
$text_visibility_visibility:"Visibility";
$text_visibility_no_conditions:"Aucune conditions.";
$text_visibility_conditions:"Conditions";
$text_visibility_edit_condition:"Editer condition";
$text_visibility_new_condition:"Nouvelle Condition";
$text_confirm_delete:"Supprimer selection ?";
$text_confirm_delete_completed:"Supprimer tout ?";
$text_history:"Historique";
$text_deactivated: "Désactivé";
$text_activated: "Activé";
$text_edit_engine: "Modifier";
$text_edit_engine_create: "Créer";
$text_channels_button: "Vue mobile";
$text_tooltip_new_category: "Nouvelle catégorie";
$text_tooltip_new_folder: "Nouveau dossier";
$text_tooltip_new_content_folder: "Nouveau dossier de contenu";
$text_tooltip_new_portlet_folder: "Nouveau dossier de portlet";
$text_tooltip_upload: "Télécharger";
$text_tooltip_new_content: "Créer un nouveau contenu";
$text_tooltip_new_portlet: "Créer un nouveau portlet";
$text_tooltip_new_page: "Créer une nouvelle page";
$text_tooltip_toggle_hidden_elements: "Basculer les éléments cachés";
$text_app_documentation: "Documentation";
$text_app_portlet_manager: "Portlets";
$text_app_categories: "Catégories";
$text_app_repository: "Explorateur de contenu";
$text_app_site_manager: "Sites";
$text_app_content_manager: "Contenus";
$text_app_file_manager: "Documents";
$text_app_admininstration: "Administration";
$text_app_studio: "Studio";
$text_app_contribute: "Contribution";
$text_app_edit_mode: "Edition";
$text_app_dashboard: "My Dashboard";
$text_timepicker: "Heure:";
$text_searchLoading: "Chargement..."
