$text_edit_mode:"Mode édition";
$text_preview:"Prévisualisation";
$text_publish:"Publication";
$text_workflow:"Workflow";
$text_tasks: "Taches";
$text_cache: "Cache";
$text_trash: "Corbeille";
$text_jobs: "Travaux";
$text_clipboard: "Presse-papiers";
$text_loggedin: "Connecté";
$text_results: "Resultats";
$text_no_results: "Pas de résultats ..";
$text_not_found: "Désolé nous n'avons pas pu trouver ce que vous cherchiez :(";
$text_empty: "Vide :(";
$text_pages: "Pages";
$text_create: "Créer";
$text_content: "Contenu";
$text_files: "Fichiers";
$text_search: "Chercher";
$text_taxonomy: "Taxonomie";
$text_devices: "Appareils";
$text_settings: "Paramètres";
$text_create_content: "Créer du contenu";
$text_my_content: "Mes Contenus";
$text_device_preview: "Aperçu appareil";
$text_site_settings: "Paramètres du site";
$text_loading: "Chargement";
$text_work_in_progress: "Travail en cours";
$text_file_manager: "Gestionnaire de fichiers";
$text_contribute_mode:"Mode contribution";
$text_upload:"Upload";
$text_site:"Site";
$text_edit:"Edition";
$text_dxm:"Digital Experience Manager";
$text_dxm_settings:"Digital Experience Manager Settings";
$text_close: "Fermer";
$text_more: "Plus";
$text_selected: "Selected";
$text_server_settings: "Server Settings";
$text_my_dashboard: "My Dashboard";
$text_dashboard: "Dashboard";
$text_sites:"Sites";
$text_administration:"Administration";
$text_dark_ui:"Dark UI";
$text_light_ui:"Light UI";
