@charset "UTF-8";
$text_select_category_from_list: "Bitte wählen Sie eine Kategorie aus der unten angeführten Liste ...";
$text_available_categories: "Verfügbare Kategorien";
$text_create_page: "Seite erstellen";
$text_edit_mode: "Editiermodus";
$text_preview: "Vorschau";
$text_publish: "Veröffentlichen";
$text_clear_selection: "Auswahl aufheben";
$text_workflow: "Workflow";
$text_status: "Status";
$text_tasks: "Aufgaben";
$text_cache: "Cache";
$text_trash: "Papierkorb";
$text_jobs: "Jobs";
$text_clipboard: "Clipboard";
$text_loggedin: "Eingeloggt";
$text_results: "Ergebnisse";
$text_no_results: "Keine Ergebnisse ..";
$text_not_found: "Leider konnten wir keine Ergebnisse finden :(";
$text_empty: "Leer :(";
$text_pages: "Seiten";
$text_create: "Erstellen";
$text_content: "Inhalt";
$text_files: "Dateien";
$text_search: "Suche";
$text_save_search_results: "Suchergebnisse speichern";
$text_return_to_picker:"Zurück";
$text_taxonomy: "Kategorien";
$text_devices: "Geräte";
$text_settings: "Einstellungen";
$text_create_content: "Inhalt erstellen";
$text_my_content: "Mein Inhalt";
$text_device_preview: "Geräte-Vorschau";
$text_site_settings: "Site Einstellungen";
$text_loading: "Laden";
$text_work_in_progress: "In Bearbeitung";
$text_file_manager: "Datei Manager";
$text_contribute_mode:"Beitragsmodus";
$text_upload:"Upload";
$text_site:"Site";
$text_edit:"Editieren";
$text_dxm:"Digital Experience Manager";
$text_dxm_settings:"Digital Experience Manager";
$text_close: "Schließen";
$text_more: "Mehr";
$text_selected: "Ausgewählt";
$text_server_settings: "Server Einstellungen";
$text_system_settings: "System Site Einstellungen";
$text_my_dashboard: "Mein Dashboard";
$text_dashboard: "Dashboard";
$text_sites:"Sites";
$text_administration:"Administration";
$text_dark_ui:"Dunkles UI";
$text_light_ui:"Helles UI";
$text_context_menu_hamburger: "Hamburger Menu...";
$text_context_menu_publication_page: "Seite veröffentlichen";
$text_context_menu_publication_selection: "Auswahl veröffentlichen";
$text_context_menu_preview_page: "Vorschau für Seite";
$text_context_menu_preview_selection: "Vorschau für Auswahl";
$text_context_menu_more_info: "Mehr Optionen";
$text_context_menu_more_info_page: "Seiten-Optionen";
$text_context_menu_more_info_selection: "Auswahl-Optionen";
$text_context_menu_mode_view: "Modus wechseln...";
$text_context_menu_user_menu: "Benutzermenü...";
$text_context_menu_workflow: "Workflow-Menü...";
$text_context_menu_cache: " Menü...";
$text_context_menu_page_edit: "Bearbeitungs-Menü...";
$text_context_menu_side_panel_pages: "Seiten-Menü...";
$text_context_menu_side_panel_content_tree: "Content-Menü...";
$text_context_menu_side_panel_content_item: "Content-Menü...";
$text_context_menu_side_panel_file_tree: "Datei-Menü...";
$text_context_menu_side_panel_file_item: "Datei-Menü...";
$text_context_menu_side_panel_search: "Such-Menü...";
$text_context_menu_side_panel_taxonomy: "Taxonomie Menü...";
$text_context_menu_admin_user_name: $text_context_menu_user_menu;
$text_context_menu_dashboard_user_name: $text_context_menu_user_menu;
$text_context_menu_admin_mode_view: $text_context_menu_mode_view;
$text_context_menu_dashboard_mode_view: $text_context_menu_mode_view;
$text_off: "Aus";
$text_on: "Ein";
$text_done: "Schließen";
$text_cancel: "Abbrechen";
$text_year_picker: "Monat / Jahr Auswahl";
$text_ascending: "Aufsteigend:";
$text_descending: "Absteigend:";
$text_home:"Home";
$text_tooltip_more_options:"Mehr Optionen";
$text_tooltip_refresh_page:"Seite neu laden";
$text_tooltip_preview:"Vorschau";
$text_tooltip_publish:"Optionen zur Veröffentlichung";
$text_infobar_view_workflow_dashboard:"Ansicht";
$text_infobar_view_background_jobs:"Ansicht";
$text_infobar_no_background_jobs:"Keine laufenden Hintergrundjobs";
$text_infobar_toggle_on:"Ausblenden";
$text_infobar_toggle_off:"Anzeigen";
$text_visibility_publication:"Veröffentlichung";
$text_visibility_visibility:"Sichtbarkeit";
$text_visibility_no_conditions:"Keine Bedingungen angegeben.";
$text_visibility_conditions:"Bedingungen";
$text_visibility_edit_condition:"Bearbeitungs-Bedingung";
$text_visibility_new_condition:"Neue Bedingung";
$text_confirm_delete:"Auswahl löschen?";
$text_confirm_delete_completed:"Alle beendeten löschen?";
$text_history:"Historie";
$text_deactivated: "Deaktiviert";
$text_activated: "Aktiviert";
$text_edit_engine: "Content editieren";
$text_edit_engine_create: "Neuer Content";
$text_channels_button: "Mobile Ansicht";
$text_tooltip_new_category: "neue Kategorie";
$text_tooltip_new_folder: "Neuer Ordner";
$text_tooltip_new_content_folder: "Neuer Inhalt Ordner";
$text_tooltip_new_portlet_folder: "Neuer Portlet Ordner";
$text_tooltip_upload: "Hochladen";
$text_tooltip_new_content: "Neuen Inhalt erstellen";
$text_tooltip_new_portlet: "Neues Portlet erstellen";
$text_tooltip_new_page: "Neue Seite erstellen";
$text_tooltip_toggle_hidden_elements: "Versteckte Elemente einblenden";
