$text_select_category_from_list: "Please select a category from the list below ...";
$text_available_categories: "Available categories";
$text_create_page: "Create Page";
$text_edit_mode: "Edit Mode";
$text_preview: "Preview";
$text_publish: "Publish";
$text_clear_selection: "Clear Selection";
$text_workflow: "Workflow";
$text_status: "Status";
$text_tasks: "Tasks";
$text_cache: "Cache";
$text_trash: "Trash";
$text_jobs: "Jobs";
$text_clipboard: "Clipboard";
$text_loggedin: "Logged in";
$text_results: "Results";
$text_no_results: "No Results ..";
$text_not_found: "Sorry we couldnt find what you were looking for :(";
$text_empty: "Empty :(";
$text_pages: "Pages";
$text_create: "Create";
$text_content: "Content";
$text_files: "Files";
$text_search: "Search";
$text_save_search_results: "Save Search results";
$text_return_to_picker:"Back";
$text_taxonomy: "Categories";
$text_devices: "Devices";
$text_settings: "Settings";
$text_create_content: "Create Content";
$text_my_content: "My Content";
$text_device_preview: "Device Preview";
$text_site_settings: "Site Settings";
$text_loading: "Loading";
$text_work_in_progress: "Work in progress";
$text_file_manager: "File manager";
$text_contribute_mode:"Contribute mode";
$text_upload:"Upload";
$text_site:"Site";
$text_edit:"Edit";
$text_dxm:"Digital Experience Manager";
$text_dxm_settings:"Digital Experience Manager";
$text_close: "Close";
$text_more: "More";
$text_selected: "Selected";
$text_server_settings: "Server Settings";
$text_system_settings: "System site settings";
$text_my_dashboard: "My Dashboard";
$text_dashboard: "Dashboard";
$text_sites:"Sites";
$text_administration:"Administration";
$text_dark_ui:"Dark UI";
$text_light_ui:"Light UI";
$text_context_menu_hamburger: "Hamburger Menu...";
$text_context_menu_publication_page: "Publish Page";
$text_context_menu_publication_selection: "Publish Selection";
$text_context_menu_preview_page: "Preview Page";
$text_context_menu_preview_selection: "Preview Selection";
$text_context_menu_more_info: "More Options";
$text_context_menu_more_info_page: "Page Options";
$text_context_menu_more_info_selection: "Selection Options";
$text_context_menu_mode_view: "Change Modes...";
$text_context_menu_user_menu: "User Menu...";
$text_context_menu_workflow: "Workflow Menu...";
$text_context_menu_cache: " Menu...";
$text_context_menu_page_edit: "Edit Menu...";
$text_context_menu_side_panel_pages: "Pages Menu...";
$text_context_menu_side_panel_content_tree: "Content Menu...";
$text_context_menu_side_panel_content_item: "Content Menu...";
$text_context_menu_side_panel_file_tree: "File Menu...";
$text_context_menu_side_panel_file_item: "File Menu...";
$text_context_menu_side_panel_search: "Search Menu...";
$text_context_menu_side_panel_taxonomy: "Taxonomy Menu...";
$text_context_menu_admin_user_name: $text_context_menu_user_menu;
$text_context_menu_dashboard_user_name: $text_context_menu_user_menu;
$text_context_menu_admin_mode_view: $text_context_menu_mode_view;
$text_context_menu_dashboard_mode_view: $text_context_menu_mode_view;
$text_off: "Off";
$text_on: "On";
$text_done: "Close";
$text_year_picker: "Month / Year picker";
$text_ascending: "Ascending:";
$text_descending: "Descending:";
$text_home:"Home";
$text_tooltip_more_options:"More Options";
$text_tooltip_refresh_page:"Refresh Page";
$text_tooltip_preview:"Preview";
$text_tooltip_publish:"Publication Options";
$text_infobar_view_workflow_dashboard:"View";
$text_infobar_view_background_jobs:"View";
$text_infobar_no_background_jobs:"No Background Jobs Running";
$text_infobar_toggle_on:"Hide";
$text_infobar_toggle_off:"Show";
$text_visibility_publication:"Publication";
$text_visibility_visibility:"Visibility";
$text_visibility_no_conditions:"No conditions specified.";
$text_visibility_conditions:"Conditions";
$text_visibility_edit_condition:"Edit condition";
$text_visibility_new_condition:"New condition";
$text_confirm_delete:"Delete Selection ?";
$text_confirm_delete_completed:"Delete Completed Jobs ?";
$text_history:"History";
$text_deactivated: "Deactivated";
$text_activated: "Activated";
