$PICKER--BG--COLOUR: 								$COLOUR--WHITE_CLOUDS;

#JahiaGxtManagerLeftTree .x-component.x-panel .x-panel-header {
	position: absolute!important;
	top: 0;
}

#JahiaGxtManagerLeftTree .x-component.x-panel.x-panel-collapsed .x-panel-header {
	position: relative!important;
}

body[data-INDIGO-PICKER-SOURCE-PANEL="open"] #JahiaGxtContentPickerWindow #JahiaGxtManagerLeftTree .x-tab-panel-body > div > div {
	padding-top: 35px;
}

#JahiaGxtContentPickerWindow {
	// Reset global position of picker as whole page
	width: 100%!important;
	height: 100%!important;
	left: 0!important;
	top: 0!important;
	z-index: $ZINDEX--PICKER_WINDOW;

	background: $PICKER--BG--COLOUR;

	/////////// STRUCTURE

	// HEADER HEIGHT
	.x-window-tl {
		height: 84px;
		// background: blue;
	}

	// BODY WRAPPER
	.x-window-bwrap {
		height: calc(100% - 130px);
		// background: green;
		padding: 0 47px;

	}

	// BODY CONTAINERS
	.x-window-ml,
	.x-window-mr,
	.x-window-mc,
	.x-window-body,
	.x-window-body > div,
	.x-panel-bwrap,
	.x-panel-body,
	#JahiaGxtManagerMain,
	.x-grid-panel,
	#images-view {
		height: 100%!important;
		width: 100%!important;
	}




	// BODY TOOL BAR
	.x-panel-tbar {
		background: transparent;
	    width: 100%!important;
	    height: 100%;
	    top: 0;
	    left: 0;
	    position: fixed;
	    z-index: 99;
	    pointer-events: none;

		// TOOLBAR CONTAINER
		.x-toolbar {
			border:none;
			padding: 0;
			background: none;
		}

		// SEPERATOR
		.xtb-sep {
			display: none;
		}

		.action-bar-tool-item {
			// Hide all toolbar options
			display: none;

			// PREVIEW BUTTON STUFF
			&.toolbar-item-filepreview {
				position: fixed;
				pointer-events: all;
				right: 80px;

			}

			&.indigo-show-button {
				display: block;
			}

			&.x-item-disabled {
				display: none!important;
			}

			// VIEW BUTTONS
			&.toolbar-item-listview,
			&.toolbar-item-thumbsview,
			&.toolbar-item-detailedview {
				display: block;
				pointer-events: all;
				width: 25px;
				height: 25px;

				img {
					display: none;
				}
			}

			// LIST VIEW
			&.toolbar-item-listview {
				background: pink;
			}

			// THUMBS VIEW
			&.toolbar-item-thumbsview {
				background: blue;
			}

			// DETAILED VIEW
			&.toolbar-item-detailedview {
				background: red;
			}
		}

		// FILE OPERATIONS
		.x-toolbar-left {

		}

		// DISPLAY OPTIONS
		#JahiaGxtManagerToolbar .x-toolbar-right {
		    position: fixed;
			right: 62px;
			top: 43px;
		}




	}

	/////////// STYLING

	// PICKER TITLE
	.x-window-header {
		margin: 0;

		.x-panel-toolbar {
			float:none!important;
		}
	}
	.x-window-header-text {
		pointer-events: all;
		margin: 37px 0 0 44px;
		display: block;
		@include text(36px, $COLOUR--GREY_CLOUDS, $FONT--WEIGHT---EXTRALIGHT, $FONT--FAMILY---RALEWAY)
	}



	// TREE
	#JahiaGxtManagerLeftTree {
		height: calc(100% - 120px)!important; // Make room for save, close buttons
		width: 320px !important;
	    vertical-align: top;
	    display: inline-block;
	    position: relative!important;
		margin-right: 20px;

		// SEARCH TAB
		form {
			fieldset {
				@extend %CSS_BLOCK--FIELDSET\:PICKER_SEARCH;
			}
		}



		// Browse / Search Tabs
		.x-tab-panel-header {
			width: 100%!important;
			height: 0!important;
			border:none!important;
			padding:0!important;
			background: transparent;

			// HIJACK TO USE AS TRIGGER FOR COMBO BOX
			.x-tab-strip-spacer {
				position: fixed;
			    top: 84px;
			    left: 47px;
			    width: 320px;
			    height: 35px;
			    background: red;
			    z-index: 999;
			    opacity: 0.5;

				body[data-INDIGO-PICKER-SOURCE-PANEL="open"] & {
					// display: none;
				}
			}

			.x-tab-strip-wrap {
				.x-tab-strip {
					border:none;
					background: none;
					padding: 0;
					margin: 0;

					li {
						// BROWSE TAB
						&:nth-child(1) {
							display: none;
						}

						// SEARCH TAB
						&:nth-child(2) {
							margin: 0;
							position: fixed;
							top: 406px;

							// LABEL
							&::after {
								content: "Search";
								display: block;
								// background: red;
								width: 60px;
								text-align: center;
								text-transform: uppercase;

								@include text(8px, $COLOUR--GREY_CLOUDS, $FONT--WEIGHT---NORMAL);
							}

							// ICON
							img {
								background-size: 23px 23px;
							    background-repeat: no-repeat;
								background-image: url($ICON--SETTINGS---GREY);
							    padding-left: 23px;
							    width: 23px;
							    height: 23px;
							    overflow: hidden;
							    -moz-box-sizing: border-box;
							    box-sizing: border-box;
							    display: block;
							    position: relative;

								margin: 0 auto;

								left: 0;
								top: 0;
							}

							// ANCHORS
							a {
								display: none;
							}
						}
					}
				}
			}
		}



		// Tree Container
		.x-tab-panel-body {
			// Container
			width: 100%!important;
			height: 100%!important;
			background: transparent;

			> div {
				height: 100%!important;

				// BROWSE TAB CONTAINER
				&:nth-child(1) {
					// background: aqua;
					display: block!important;

					&.x-hide-display + div.x-component {
						// SEARCH TAB IS OPEN
						display: block;
					}

					+ div {
						// SEARCH TAB
						display: none;
					}
				}

				// SEARCH TAB CONTAINER
				&:nth-child(2) {
					position: absolute;
				    top: 0;
				    width: calc(100% - 60px)!important;
				    right: 0;
					background: $FORM--FIELDSET--BG--COLOUR\:PICKER_SEARCH;

					// FIX CONTAINER HEIGHTS
					> .x-panel,
					.x-panel-bwrap,
					.x-panel-ml,
					.x-panel-mr,
					.x-panel-mc,
					form,
					fieldset {
						width: 100%!important;
						height: 100%!important;
						position: relative;
					}

					.x-panel-tl {
						display: none;
					}

					.x-panel-body {
						// Fix width of form
						> div {
						    width: 100%!important;
						    box-sizing: border-box;
						    margin: 0!important;

							// Contains search text input AND save / search buttons
							&:nth-child(1) {
								table {
									width: 100%;
								}

								.x-btn-mc {
									text-align: left;
								}

								td {
									// SEARCH TEXT INPUT CONTAINER
									&:nth-child(1) {

									}

									// SEARCH BUTTON CONTAINER
									&:nth-child(2) {
										// MOVE BUTTON TO POSITION
										table {
											position: absolute;
										    top: 500px;
										    z-index: 9;
											left: 0;

											// STYLE BUTTON
											.x-btn-text {
												width: auto!important;
												height: auto!important;
												font-size: 1px;
												&::after {
													content: "Search";
													display: block;
													width: 100%;
													height: 100%;
													box-sizing: border-box;

													@extend %CSS_BLOCK--BUTTON--TEXT\:PICKER_SEARCH---SUGGESTED;

													&:hover {
														@extend %CSS_BLOCK--BUTTON--TEXT---HOVER\:PICKER_SEARCH---SUGGESTED;

													}

												}

												// REMOVE IMAGE
												img {
													display: none;
												}
											}
										}



									}

									// SAVE SEARCH CONTAINER
									&:nth-child(3) {
										// MOVE BUTTON TO POSITION
										table {
											position: absolute;
										    top: 522px;
										    z-index: 9;
											left: 0;

											// STYLE BUTTON
											.x-btn-text {
												width: auto!important;
												height: auto!important;
												font-size: 1px;
												&::after {
													content: "Save search";
													display: block;
													width: 100%;
													height: 100%;
													box-sizing: border-box;

													@extend %CSS_BLOCK--BUTTON--TEXT\:PICKER_SEARCH;

													&:hover {
														@extend %CSS_BLOCK--BUTTON--TEXT---HOVER\:PICKER_SEARCH;

													}

												}

												// REMOVE IMAGE
												img {
													display: none;
												}
											}
										}


									}
								}
							}
						}
					}

					fieldset {
						// Messing up width of form
						.x-form-label-left {
							width: 100%!important
						}
					}




				}

				width: 100%!important;

				// Another Container
				> div {
					width: 100%!important;

					// Site Groups
					> div {
						width: 100%!important;


					}
				}
			}
		}

		// Tree Site Panel Header

		// UNSELECTED PANEL TAB

		.x-panel {
			.x-panel-header {
				// pointer-events: none; // STOP CLICKING ON CURRENT OPENED SITE TAB, AS IT HIDES IT !!
			}

		}

		.x-panel-collapsed {
			.x-panel-header {

				display: none;


				body[data-INDIGO-PICKER-SOURCE-PANEL="open"] & {
					display: block;
				}

				// HIDE TOOLBAR
				.x-panel-toolbar {
					display: none;


				}

				pointer-events: all!important;


			}


		}





		.x-panel-header {

		    opacity: 0.8;
		    width: 100%!important;
		    border: 1px solid red!important;
		    text-align: left;
		    padding: 5px 10px;
		    background: blue;
		    opacity: 1;
		    position: relative;
		    z-index: 9;

			&:hover {
				opacity: 1;
			}





			// ICON
			img {
				float: none !important;
				display: inline-block !important;
				background: url(./images/tabs-pages-blue@X2.png) no-repeat center center !important;
				background-size: 23px 23px !important;
				padding-left: 23px;
				width: 23px !important;
				height: 23px !important;
				overflow: hidden;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				display: block;
				position: relative;

				margin: 0 auto;

			}

			// TOOLBAR (Refresh, minimise)
			.x-panel-toolbar {
				float: none!important;
			    position: absolute!important;
			    top: 0!important;
			    right: 0!important;
				display: block;
				pointer-events: all;
				// background: red;
				z-index: 9999;
			}

			// TITLE
			.x-panel-header-text {
				display: inline-block;
			    color: white;

			}

		}

		// TREES (1 per Site)
		.x-panel-bwrap {
			position: absolute;
			right: 0;
			width: calc(100% - 80px) !important;
			left: 2px !important;
			box-sizing: border-box;
			top: 50px;
		}
	}

	// TREE CONTENT CONTAINER
	#JahiaGxtManagerLeftTree + div {
		width: calc(100% - 340px) !important;
	    // background: orange;
	    left: auto!important;
	    position: relative!important;
	    display: inline-block;
	    vertical-align: top;
		margin-top: 6px;
    	height: calc(100% - 6px)!important;

		#images-view {
			// Toolbar for thumb view
			background: transparent;
			padding-top: 33px;
			box-sizing: border-box;

			.x-toolbar {
				pointer-events: all;
			    width: calc(100% - 437px) !important;
			    left: auto;
			    right: 52px;
			    position: absolute;
			    top: 121px;
			    padding-bottom: 7px;
			    box-sizing: border-box;
			    border-bottom: 1px solid red;

				.xtb-text {
					// LABELS
					margin-right: 5px!important;

					@extend %CSS_BLOCK--FORM--LABEL;
				}

				// FILTER CONTAINER
				.x-toolbar-left {
					width: 375px;

					.x-toolbar-cell {
						display: inline-block;
					}

					.xtb-sep {
						background: transparent;
						width: 10px;
						display: block;
					}
				}

				// ZOOM CONTAINER
				.x-toolbar-right {

				}
			}

			// THUMB CONTAINER
			.x-view {
				width: 100%!important;
				height: 100%!important;
				background: transparent;
			}

			.x-view-over {
				background: none!important;

				.thumb {
					background: #e4e5e6;
				}

			}



			.thumb-wrap {
				height: initial!important;
				max-height: initial!important;
				width: initial!important;

				&.x-view-over {
					span {
						background: #e4e5e6;
						color: $COLOUR--RAIN_CLOUDS;
					}
				}

				&.x-view-item-sel {
					background: $COLOUR--JAHIA_BLUE;

					span {
						background: $COLOUR--JAHIA_BLUE!important;
						color: $COLOUR--WHITE_CLOUDS;
					}
				}

				// TITLE / FILE SIZE
				span {
					background: transparent;
					text-align: center;
					@include text(11px, $COLOUR--GREY_CLOUDS, $FONT--WEIGHT---NORMAL);

					&:last-child {
						padding-bottom: 10px;
					}
				}
			}

			.thumb {
				padding: 10px!important;
			}
		}
	}

	// TREE CONTENT CONTAINER
	#JahiaGxtManagerTobTable {

		// SEEMS UNUSED ...
		> .x-panel-header {
			display: none;
		}
	}

	// ACTION BAR (Save, Cancel)
	.x-window-bbar {
		// background: pink;
	    width: 300px !important;
	    position: absolute;
	    bottom: 0;
	    height: 90px;
	    box-sizing: border-box;

		.x-panel-fbar {
			width: 100%!important;

			.x-toolbar-cell {

				&:nth-child(1) {
					/* Save */

					// Make suggested colour
					@include button("ACTIONBAR---SUGGESTED");
				}
			}

		}
	}









	// STOP RESIZE ISSUES WHEN BEING LOADED FOR FIRST TIME( GWT ADDS AN ANIMATION )
	.x-grid3-viewport,
	.x-grid3-body {
		width: 100%!important;
	}








	// REMOVE UNNECCESSARY STUFF
	.x-resizable-handle,
	.x-tool-restore,
	.x-tool-toggle,
	.x-tool-maximize,
	.x-tool-close {
		display: none!important;
	}

	.x-accordion-hd {
		background: transparent;
	}

	.x-fieldset-bwrap {
		transition: 0!important;
	}
}
