/////////////////////////////////////////////////
// SIDE PANEL ///////////////////////////////////
/////////////////////////////////////////////////

.window-side-panel {
	z-index: 99999!important;
	height: 100%;
	pointer-events: none;

	.x-panel-header {
		/* Contains Site Selector and Side Panel Refresh Button */
		position: absolute !important;
	    top: 9px!important;
		left: 67px !important;
	    z-index: 99999 !important;
	    opacity: 1;
	    width: auto !important;
	    pointer-events: none;
	    background: transparent !important;
		display: none;

		body[data-INDIGO-GWT-FULLSCREEN="on"][data-INDIGO-GWT-SIDE-PANEL="open"] & {
			display: block;
		}

		.edit-menu-sites {
			/* Site Selector */
			pointer-events: all !important;
			width: 220px !important;

			> table {
				width: 100%!important;
			}

			.x-form-field-wrap {
				width:auto!important;

				input {
					padding: 5px 40px 5px 10px;
					height: auto!important;

					@include text(16px, $white-clouds, $semilight);
				}
			}
		}

		#JahiaGxtRefreshSidePanelButton {
			/* Refresh side panel button */
		    pointer-events: all;
			background: url(./images/icon-publication-launcher.png) no-repeat center center;

		}

		.x-tool-left {
			/* Expand Collaspe Side Bar */
			display: none;
		}

		.x-panel-toolbar {
			float:none!important;
		}

		body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
			display: block;
		}
	}

	.x-panel-body {
		width: 100% !important;
		overflow: visible;
		z-index: 999;
		position: relative;
		height: calc(100% + 4px) !important;
	}


	> .x-panel-bwrap {
		/* Left Panel Tab Button Container */
		margin-top: 0px;
		width: 60px;
		overflow: visible;
		height: 100% !important;
		z-index: 99;
		position: relative;
		pointer-events: all;
	}

	#JahiaGxtSidePanelTabs {
		@extend %side_paneL_container;

		body[data-indigo-gwt-side-panel="open"] & {
			@extend %side_paneL_container_open;

		}

		position: fixed;
	    width: 60px !important;
	    top: 0;
	    height: 100%;
	    padding-top: 60px;


		li {
			/* Side Panel Buttons */
			float: none;
            width: 50px;
            height: 40px;
            margin-bottom: 10px;
            margin-left: 0;
            opacity: 0.8;
            display: block;
            pointer-events: all;

			img {
				background-size: 23px 23px;
	            background-repeat: no-repeat;
	            padding-left: 23px;
	            width: 23px;
	            height: 23px;
	            overflow: hidden;
	            -moz-box-sizing: border-box;
	            box-sizing: border-box;
	            display: block;
	            left: 14px;
	            position: relative;
			}

			a {
				display: none;
			}

			&::after {
	            display: block;
	            margin-top: 5px;

				@extend %tool_button_label;

				body[data-multiselect="on"] & {
					@extend %tool_button_label_multiselect;
				}

				body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
					@extend %tool_button_label_side_panel_open;
				}

			}

			&.x-tab-strip-active::after {
				body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
					@extend %tool_button_label_side_panel_open_selected;

				}
			}

		}

		.x-grid-panel {
			display: none;
			width: auto!important;
			top: 0!important;
		}

		[data-INDIGO-GWT-SIDE-PANEL="open"] & {
			width: auto!important;

			.x-grid-panel {
				display: block;
			}
		}

		.x-tab-panel-header {
			// Contains the Side Panel Tab Buttons
			width: 60px!important;
			border:none;
			padding: 0;
			background-color: transparent!important;
			display: inline-block;
			vertical-align: top;

			ul.x-tab-strip-top {
				// List for Tab Buttons
				background-color: transparent!important;
				border:none;
				padding: 0;
				margin: 0;
			}
		}

		.x-tab-panel-body {
			// Contains the Side Panel Tabs Content
			display: inline-block;

			width: calc(100% - 60px)!important;
			height: 100%!important;
			vertical-align: top;
			background: transparent;
			margin-top: 30px;

			> .x-component {
				// Common for ALL Side Panel Contents
				height:100%!important;

				&::before {
					content: "Title Here";
					@extend %side_paneL_title;
				    display: block;

				    position: absolute;
				    top: 23px;
					left: 70px;
				}

				> .x-border-layout-ct {
					/* Intermediary Container in CREATE tabs */
					height: 100%!important;

					> .x-form-field-wrap {
						/* Contains CREATE Search input */
						position: fixed!important;
						bottom: 10px;
						top:auto!important;
						height: auto!important;
						width: auto!important;
					}

				}

				.x-box-inner {
					height: 100%!important;
					width: 100%!important;

					.x-box-item {
						/* Used in COntent Tabs, 2 x-box-items side by side contain list and results window */
						height: 100%!important;
						display: inline-block;
						position: relative!important;
						width: 50%!important;
						top: 0!important;
						background: transparent!important;

						> .x-component {
							/* Container for List View */
							width: 100%!important;
							background: transparent!important;
							height: calc(100% - 81px)!important;
						}
					}
				}

			}

		}

	}

	// Corrections
	#JahiaGxtSearchTab {
		> .x-panel-mc {
			/* Search Tab doesnt use the typical x-box-inner, so write special rule for its equivalent */
			/* Equivalent of .box-inner */
			width: 100%!important;
			height: calc(100% - 66px)!important;
			background: transparent;

			> .x-panel {
				width: 50%!important;
				display: inline-block;
				height: 100%;
				vertical-align: top;
			}
		}

		.x-panel-bwrap {
			/* Results Container */
			height: 100%;
			position: relative;

			.x-panel-body {}

			.x-grid-panel {
				height: 100%!important;
			}

			.x-panel-bbar,
			.x-panel-footer {
				/* Footer Action Bars (Search & Paginator) */
				position: absolute;
				bottom: 50px;
				z-index: 999;
			}


		}
	}

	#JahiaGxtChannelsTab.tab_channel.x-component { // Excessive Selector is to over rule hard to crush !important already on the element
		.x-box-inner {
			.x-box-item {
				/* Need to correct the layout of Left/Right to UP/Down on boxes */
				width: 100%!important;
				height: 50%!important;
			}
		}



	}

}



/////////////////////////////////////////////////
// PERSONALISED WIDTHS & LABELS /////////////////
/////////////////////////////////////////////////

$side_panel__tab_buttons: (
	// Tab ID							// Tab Label		// Tab Width
	("#JahiaGxtPagesTab",      			$text_pages,    	270),
	("#JahiaGxtCreateContentTab",   	$text_create,    	270),
	("#JahiaGxtContentBrowseTab",   	$text_content,    	550),
	("#JahiaGxtFileImagesBrowseTab",   	$text_files,    	550),
	("#JahiaGxtSearchTab",   			$text_search,    	550),
	("#JahiaGxtCategoryBrowseTab",   	$text_taxonomy,    	550),
	("#JahiaGxtChannelsTab",   			$text_devices,    	270)
);

@each $tab_button in $side_panel__tab_buttons {
	$_tab_ID: #{nth($tab_button,1)};
	$_text: "#{nth($tab_button,2)}";
	$_tab_width: #{nth($tab_button,3)};
	$_line_options_button: (#{nth($tab_button,3) + 25px});

	#{$_tab_ID} {
		width: #{$_tab_width}px!important;

		&::before {
			/* Tab Content Header Label */
			content: "#{$_text}"!important;
		}

		.x-tree3-node-text {
			&::after {
				/* MORE Options button */
				left: #{$_line_options_button}!important;
			}

		}
	}
}









/////////////////////////////////////////////////
// BUTTONS //////////////////////////////////////
/////////////////////////////////////////////////

    // MENUS
        $side_panel__tabs: (
            ("#JahiaGxtSidePanelTabs__JahiaGxtPagesTab",                $text_pages,        $icon_closed_pages,        $icon_open_pages,        $icon_selected_pages,        $icon_off_pages),
            ("#JahiaGxtSidePanelTabs__JahiaGxtCreateContentTab",        $text_create,       $icon_closed_create,       $icon_open_create,       $icon_selected_create,       $icon_off_create),
            ("#JahiaGxtSidePanelTabs__JahiaGxtContentBrowseTab",        $text_content,      $icon_closed_content,      $icon_open_content,      $icon_selected_content,      $icon_off_content),
            ("#JahiaGxtSidePanelTabs__JahiaGxtFileImagesBrowseTab",     $text_files,        $icon_closed_files,        $icon_open_files,        $icon_selected_files,        $icon_off_files),
            ("#JahiaGxtSidePanelTabs__JahiaGxtSearchTab",               $text_search,       $icon_closed_search,       $icon_open_search,       $icon_selected_search,       $icon_off_search),
            ("#JahiaGxtSidePanelTabs__JahiaGxtCategoryBrowseTab",       $text_taxonomy,     $icon_closed_taxonomy,     $icon_open_taxonomy,     $icon_selected_taxonomy,     $icon_off_taxonomy),
            ("#JahiaGxtSidePanelTabs__JahiaGxtChannelsTab",             $text_devices,      $icon_closed_devices,      $icon_open_devices,      $icon_selected_devices,      $icon_off_devices),
            ("#JahiaGxtSidePanelTabs__JahiaGxtSettingsTab",             $text_settings,     $icon_closed_settings,     $icon_open_settings,     $icon_selected_settings,     $icon_off_settings)
        );


        /* Specificities for: PAGES, CREATE, CONTENT, FILES, SEARCH, TAXONOMY, DEVICES, SETTINGS */
        @each $tab in $side_panel__tabs {
			$_tab_ID: #{nth($tab,1)};
			$_text: "#{nth($tab,2)}";
			$_icon_closed: #{nth($tab,3)};
			$_icon_open: #{nth($tab,4)};
			$_icon_selected: #{nth($tab,5)};
			$_icon_off: #{nth($tab,6)};

            #{$_tab_ID} {
				@if ($_tab_ID == "#JahiaGxtSidePanelTabs__JahiaGxtSettingsTab") {
					position: fixed;
					right: 6px;
					bottom: 0;
				}

                img {
					background-image: url($_icon_closed);

                    body[data-multiselect="on"] & {
						background-image: url($_icon_off);
                    }

                    body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
						@if ($_tab_ID == '#JahiaGxtSidePanelTabs__JahiaGxtSettingsTab') {
							background-image: url($_icon_closed);

						} @else {
							background-image: url($_icon_open);

						}
                    }


                }

                &.x-tab-strip-active img {
					body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
                        background-image: url($_icon_selected);
                    }

                }

                &::after {
                    content:$_text;

					@if ($_tab_ID == '#JahiaGxtSidePanelTabs__JahiaGxtSettingsTab') {
						body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
							//color: rgba(238, 238, 238, 0.9)!important;
						}
					}
                }
            }
        }


		#JahiaGxtSidePanelTabs__JahiaGxtSettingsTab:nth-child(2) {
			position: relative;

			&.x-tab-strip-active {
				body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
					img {
			            background-image: url(./images/tabs-settings-blue@X2.png);
			        }
				}

			}

			img {
				background-image: url(./images/tabs-settings-white@X2.png);

		        body[data-multiselect="on"] & {
					background-image: url(./images/tabs-settings-black@X2.png);
		        }

				body[data-INDIGO-GWT-SIDE-PANEL="open"] & {
					background-image: url(./images/tabs-settings-dark@X2.png);
				}

		    }

			&::after {
		        content: $text_sites;
		    }
		}
