////
//// VARIABLES
////
//// These variables cover the vast majority of styling of the DX Application.
//// With the exception of a couple of border widths and font sizes, the styles
//// are not changing layout but just colouring, icons and labels.
////
//// The variables are categorised as follows:
////     BASE COLOURS
////     DEFAULTS
////     APPLICATION
////     FORMS
////     BUTTONS
////     TREES
////     RICH TEXT EDITOR
////     TOOL BUTTONS
////     THUMBS
////     HAMBURGER MENU
////     EDIT ENGINE
////     SIDE PANEL




/////////////////////////////////////////////////
// BASE COLOURS /////////////////////////////////
/////////////////////////////////////////////////
    $APP--BASE--COLOUR:                                             $COLOUR--RAIN_CLOUDS;
    $EDIT_ENGINE--BASE--COLOUR:                                     $COLOUR--RAIN_CLOUDS;



/////////////////////////////////////////////////
// DEFAULTS /////////////////////////////////////
/////////////////////////////////////////////////
    $DEFAULT--FONT--FAMILY:                                         $FONT--FAMILY---NUNITO;
    $DEFAULT--FONT--SIZE:                                           14px;
    $DEFAULT--FONT--WEIGHT:                                         $FONT--WEIGHT---NORMAL;
    $DEFAULT--FONT--COLOUR:                                         $COLOUR--WHITE_CLOUDS;

    $DEFAULT--TITLE_FONT--FAMILY:                                   $FONT--FAMILY---RALEWAY;

	$DEFAULT--TRANSITION: 											$TRANSITION--QUICK---ALL;



/////////////////////////////////////////////////
// PUBLICATION COLOURS //////////////////////////
/////////////////////////////////////////////////
    $PUBLICATION--COLOUR---CONFLICT: 							    yellow;
    $PUBLICATION--COLOUR---DELETED: 							    black;
    $PUBLICATION--COLOUR---LIVE_MODIFIED: 					        orange;
    $PUBLICATION--COLOUR---LIVE_ONLY: 						        orange;
    $PUBLICATION--COLOUR---LOCKED: 							        yellow;
    $PUBLICATION--COLOUR---MANDATORY_LANGUAGE_UNPUBLISHABLE: 	    orange;
    $PUBLICATION--COLOUR---MANDATORY_LANGUAGE_VALID:			    green;
    $PUBLICATION--COLOUR---MARKED_FOR_DELETION:				        red;
    $PUBLICATION--COLOUR---MODIFIED: 							    orange;
    $PUBLICATION--COLOUR---MULTIPLE_WORK_FLOW:						orange;
    $PUBLICATION--COLOUR---NOT_PUBLISHED: 					        orange;
    $PUBLICATION--COLOUR---SINGLE_WORK_FLOW: 						orange;
    $PUBLICATION--COLOUR---PUBLISHED: 						        green;
    $PUBLICATION--COLOUR---UNPUBLISHED: 						    grey;
    $PUBLICATION--COLOUR---WAITING: 							    white;
    $PUBLICATION--COLOUR---WORK_IN_PROGRESS:					    orange;


/////////////////////////////////////////////////
// APPLICATION //////////////////////////////////
/////////////////////////////////////////////////

    $APP--BG--COLOUR:                                               $COLOUR--RAIN_CLOUDS;
    $APP--BG--COLOUR---MULTISELECTION:                              $COLOUR--DARK_CLOUDS;



/////////////////////////////////////////////////
// FORMS ////////////////////////////////////////
/////////////////////////////////////////////////

    // MISC
    $FORM--LEGEND--FONT--COLOUR:                                    lighten($EDIT_ENGINE--BASE--COLOUR, 55%);
    $FORM--LABEL--FONT--COLOUR:                                     lighten($EDIT_ENGINE--BASE--COLOUR, 30%);
    $FORM--FIELDSET--BG--COLOUR:                                    lighten($EDIT_ENGINE--BASE--COLOUR, 2%);

    // TEXT INPUTS
	$FORM--TEXT_INPUT--BG--COLOUR:                                  rgba($COLOUR--GREY_CLOUDS, .1);
	$FORM--TEXT_INPUT--BG--COLOUR---FOCUS:                          rgba($COLOUR--GREY_CLOUDS, .7);
    $FORM--TEXT_INPUT--BG--COLOUR---HOVER:                          rgba($COLOUR--GREY_CLOUDS, .3);
    $FORM--TEXT_INPUT--BG--COLOUR---DISABLED:                       rgba($COLOUR--GREY_CLOUDS, .05);
	$FORM--TEXT_INPUT--FONT--COLOUR:                                $COLOUR--GREY_CLOUDS;
	$FORM--TEXT_INPUT--FONT--COLOUR---HOVER:                        $COLOUR--DARK_CLOUDS;
    $FORM--TEXT_INPUT--FONT--COLOUR---FOCUS:                        $COLOUR--WHITE_CLOUDS;
    $FORM--TEXT_INPUT--FONT--COLOUR---DISABLED:                     rgba($COLOUR--GREY_CLOUDS, .7);
    $FORM--TEXT_INPUT--BORDER--COLOUR:                              1px solid $COLOUR--TRANSPARENT;
    $FORM--TEXT_INPUT--PADDING:                                     3px 40px 3px 5px;
    $FORM--TEXT_INPUT--FONT--WEIGHT:                                $FONT--WEIGHT---SEMILIGHT;
    $FORM--TEXT_INPUT--FONT--SIZE:                                  12px;
    $FORM--TEXT_INPUT--FONT--FAMILY:                                $DEFAULT--FONT--FAMILY;

    // CLEAR BUTTON
    $FORM--CLEAR_BUTTON--ICON---UP:                                 $ICON--CLOSE_SMALL---WHITE;
    $FORM--CLEAR_BUTTON--BG--COLOUR---UP:                           rgba($COLOUR--GREY_CLOUDS, .4);
    $FORM--CLEAR_BUTTON--ICON---HOVER:                              $ICON--CLOSE_SMALL---WHITE;
    $FORM--CLEAR_BUTTON--BG--COLOUR---HOVER:                        rgba($COLOUR--GREY_CLOUDS, .7);

    // CHECKBOXES
    $FORM--CHECKBOX--BG--COLOUR---UNCHECKED:                        $COLOUR--WHITE_CLOUDS;
    $FORM--CHECKBOX--BORDER---UNCHECKED:                            1px solid $COLOUR--GREY_CLOUDS;
    $FORM--CHECKBOX--SHADOW---UNCHECKED:                            inset 1px 1px 2px 1px rgba($COLOUR--DARK_CLOUDS, 0.1);
    $FORM--CHECKBOX--BG--COLOUR---CHECKED:                          $COLOUR--VIVID_GRASS;
    $FORM--CHECKBOX--ICON---CHECKED:                                $ICON--TICK---WHITE;

    // TOGGLES
    $FORM--TOGGLE--BG--COLOUR:                                      darken($FORM--FIELDSET--BG--COLOUR, 8%);
    $FORM--TOGGLE--BG--SHADOW:                                      inset 1px 1px 2px 1px rgba(40, 43, 45, 0.1);
    $FORM--TOGGLE--FONT--LOCALISED_STRING---OFF:                    $text_off;
    $FORM--TOGGLE--SHUTTLE--COLOUR---OFF:                           $FORM--FIELDSET--BG--COLOUR;
    $FORM--TOGGLE--FONT--COLOUR---OFF:                              lighten($FORM--FIELDSET--BG--COLOUR, 4%);
    $FORM--TOGGLE--FONT--LOCALISED_STRING---ON:                     $text_on;
    $FORM--TOGGLE--SHUTTLE--COLOUR---ON:                            $COLOUR--VIVID_GRASS;
    $FORM--TOGGLE--FONT--COLOUR---ON:                               $COLOUR--WHITE_CLOUDS;

    // COMBOS
    $FORM--COMBO--ICON---UP:                                        $ICON--ARROW_DOWN---WHITE;
    $FORM--COMBO--BG--COLOUR---UP:                                  rgba($COLOUR--GREY_CLOUDS, .4);
    $FORM--COMBO--ICON---HOVER:                                     $ICON--ARROW_DOWN---WHITE;
    $FORM--COMBO--BG--COLOUR---HOVER:                               rgba($COLOUR--GREY_CLOUDS, .7);

	// CONTEXT MENUS
    $FORM--CONTEXT_MENU--BG--COLOUR---UP:                           $COLOUR--JAHIA_BLUE;
    $FORM--CONTEXT_MENU--BG--COLOUR---HOVER:                        lighten($FORM--CONTEXT_MENU--BG--COLOUR---UP, 5%);
    $FORM--CONTEXT_MENU--BG--COLOUR---DISABLED:                     $COLOUR--JAHIA_BLUE;
    $FORM--CONTEXT_MENU--FONT--COLOUR---UP:                         $COLOUR--WHITE_CLOUDS;
    $FORM--CONTEXT_MENU--FONT--COLOUR---HOVER:                      $COLOUR--WHITE_CLOUDS;
    $FORM--CONTEXT_MENU--FONT--COLOUR---DISABLED:                   rgba($FORM--CONTEXT_MENU--FONT--COLOUR---UP, .7) !important;

	// DUAL LIST
    $FORM--LIST_BOX--BG--COLOUR---UP:                           $COLOUR--WHITE_CLOUDS;
    $FORM--LIST_BOX--BG--COLOUR---HOVER:                        $COLOUR--DUSTY_CLOUDS;
    $FORM--LIST_BOX--BG--COLOUR---DISABLED:                     red;
	$FORM--LIST_BOX--BG--COLOUR---SELECTED: 					$COLOUR--ASH_CLOUDS;

    $FORM--LIST_BOX--FONT--COLOUR---UP:                         $COLOUR--RAIN_CLOUDS;
    $FORM--LIST_BOX--FONT--COLOUR---HOVER:                      $COLOUR--DARK_CLOUDS;
    $FORM--LIST_BOX--FONT--COLOUR---DISABLED:                   yellow;
	$FORM--LIST_BOX--FONT--COLOUR---SELECTED: 					$COLOUR--WHITE_CLOUDS;

    // TABLES
    $FORM--TABLE--TITLE--COLOUR: 			                        $COLOUR--GREY_CLOUDS;
	$FORM--TABLE--LABEL--COLOUR: 			                        $COLOUR--GREY_CLOUDS;
	$FORM--TABLE--VALUE--COLOUR: 			                        $COLOUR--GREY_CLOUDS;



/////////////////////////////////////////////////
// BUTTONS //////////////////////////////////////
/////////////////////////////////////////////////

    // DEFAULT BUTTON
	$BUTTON--BG--COLOUR---UP: 				                        $COLOUR--JAHIA_BLUE;
    $BUTTON--FONT--COLOUR---UP:                                     $COLOUR--WHITE;
	$BUTTON--BG--COLOUR---HOVER: 			                        lighten($COLOUR--JAHIA_BLUE, 5%);
    $BUTTON--FONT--COLOUR---HOVER:                                  $COLOUR--WHITE;

	// FORM BUTTON
	$BUTTON--BG--COLOUR---UP\:FORM: 				                $COLOUR--TRANSPARENT;
    $BUTTON--FONT--COLOUR---UP\:FORM:                               $COLOUR--BLACK_CLOUDS;

	$BUTTON--BG--COLOUR---HOVER\:FORM: 			                    $COLOUR--TRANSPARENT;
    $BUTTON--FONT--COLOUR---HOVER\:FORM:                            $COLOUR--GREY_CLOUDS;

	// PANEL BUTTON
	$BUTTON--BG--COLOUR---UP\:SIDE_PANEL: 				                $COLOUR--TEST-1;
    $BUTTON--FONT--COLOUR---UP\:SIDE_PANEL:                              $COLOUR--TEST-2;

	$BUTTON--BG--COLOUR---HOVER\:SIDE_PANEL: 			                $COLOUR--TEST-2;
    $BUTTON--FONT--COLOUR---HOVER\:SIDE_PANEL:                           $COLOUR--TEST-1;

	// FIELDSET BUTTON
	$BUTTON--BG--COLOUR---UP\:FIELDSET: 				            $COLOUR--GREY_CLOUDS;
    $BUTTON--FONT--COLOUR---UP\:FIELDSET:                           $COLOUR--DUSTY_CLOUDS;

	$BUTTON--BG--COLOUR---HOVER\:FIELDSET: 			                $COLOUR--DIRTY_ORANGE;
    $BUTTON--FONT--COLOUR---HOVER\:FIELDSET:                        $COLOUR--WHITE_CLOUDS;

	// ACTION BAR BUTTON
	$BUTTON--BG--COLOUR---UP\:ACTIONBAR: 				            $COLOUR--ASH_CLOUDS;
    $BUTTON--FONT--COLOUR---UP\:ACTIONBAR:                          $COLOUR--WHITE_CLOUDS;

	$BUTTON--BG--COLOUR---HOVER\:ACTIONBAR: 			            lighten($COLOUR--ASH_CLOUDS, 3%);
    $BUTTON--FONT--COLOUR---HOVER\:ACTIONBAR:                       lighten($COLOUR--WHITE_CLOUDS, 3%);

	// ACTION BAR (SUGGESTED) BUTTON
	$BUTTON--BG--COLOUR---UP\:ACTIONBAR---SUGGESTED: 				 $COLOUR--DIRTY_ORANGE;
    $BUTTON--FONT--COLOUR---UP\:ACTIONBAR---SUGGESTED:               $COLOUR--WHITE_CLOUDS;

	$BUTTON--BG--COLOUR---HOVER\:ACTIONBAR---SUGGESTED: 			 lighten($COLOUR--DIRTY_ORANGE, 3%);
    $BUTTON--FONT--COLOUR---HOVER\:ACTIONBAR---SUGGESTED:            lighten($COLOUR--WHITE_CLOUDS, 3%);

/////////////////////////////////////////////////
// TREES ////////////////////////////////////////
/////////////////////////////////////////////////

    // ROW UP
    $TREE--ROW--FONT--COLOUR---UP: 					                $COLOUR--GREY_CLOUDS;
    $TREE--ROW--ICON---UP: 						                    $ICON--PAGES---GREY;
	$TREE--ROW--BG--COLOUR---UP: 			                        $COLOUR--TRANSPARENT;

    // ROW HOVER
    $TREE--ROW--BG--COLOUR---HOVER: 			                    rgba( $COLOUR--GREY_CLOUDS, .1 );
    $TREE--ROW--FONT--COLOUR---HOVER: 				                $COLOUR--BLACK_CLOUDS;
    $TREE--ROW--ICON---HOVER: 				                        $ICON--PAGES---GREY;

    // ROW SELECTED
    $TREE--ROW--BG--COLOUR---SELECTED: 		                       	rgba( $COLOUR--GREY_CLOUDS, .7 );
    $TREE--ROW--FONT--COLOUR---SELECTED: 			               	$COLOUR--WHITE_CLOUDS;
    $TREE--ROW--ICON---SELECTED: 			                       	$ICON--PAGES---WHITE;

    // ROW HOVER SELECTED
    $TREE--ROW--BG--COLOUR---SELECTED_HOVER: 	                   	$COLOUR--GREY_CLOUDS;
    $TREE--ROW--FONT--COLOUR---SELECTED_HOVER: 		               	$COLOUR--WHITE_CLOUDS;
    $TREE--ROW--ICON---SELECTED_HOVER: 		                       	$ICON--PAGES---WHITE;

    // MORE OPTIONS BUTTON
	$TREE--MORE_OPTIONS--ICON---UP: 				               	$ICON--MORE_OPTIONS---GREY;
	$TREE--MORE_OPTIONS--ICON---HOVER: 			                   	$ICON--MORE_OPTIONS---GREY;
	$TREE--MORE_OPTIONS--ICON---SELECTED: 		                   	$ICON--MORE_OPTIONS---WHITE;
    $TREE--MORE_OPTIONS--ICON---SELECTED_HOVER: 	               	$ICON--MORE_OPTIONS---WHITE;



/////////////////////////////////////////////////
// RICH TEXT EDITOR /////////////////////////////
/////////////////////////////////////////////////

    // ICONS
    $RICH_TEXT_EDITOR--ICON_SET:                                    $ICON--RICH_TEXT--TOOLBUTTONS;

    // TOOL GROUP
    $RICH_TEXT_EDITOR--TOOLGROUP--BG--COLOUR--UP:                   lighten($EDIT_ENGINE--BASE--COLOUR, 6%);
    $RICH_TEXT_EDITOR--TOOLGROUP--BG--COLOUR--HOVER:                lighten($EDIT_ENGINE--BASE--COLOUR, 8%);

    // TOOL
    $RICH_TEXT_EDITOR--TOOL--BG--COLOUR--UP:                        $COLOUR--TRANSPARENT;
    $RICH_TEXT_EDITOR--TOOL--BG--COLOUR--HOVER:                     lighten($EDIT_ENGINE--BASE--COLOUR, 12%);
    $RICH_TEXT_EDITOR--TOOL--BG--COLOUR--SELECTED:                  lighten($EDIT_ENGINE--BASE--COLOUR, 16%);

    // COMBO
    $RICH_TEXT_EDITOR--COMBO--BG--COLOUR:                           lighten($EDIT_ENGINE--BASE--COLOUR, 75%);

    // LABEL
    $RICH_TEXT_EDITOR--LABEL--FONT--COLOUR:                         lighten($EDIT_ENGINE--BASE--COLOUR, 75%);

    // PATH
    $RICH_TEXT_EDITOR--PATH--BG--COLOUR:                            lighten($EDIT_ENGINE--BASE--COLOUR, 75%);
    $RICH_TEXT_EDITOR--PATH--FONT--COLOUR:                          darken($EDIT_ENGINE--BASE--COLOUR, 50%);



/////////////////////////////////////////////////
// TOOL BUTTONS /////////////////////////////////
/////////////////////////////////////////////////

    $TOOL--BUTTON--FONT--COLOUR---NORMAL:                           $COLOUR--WHITE_CLOUDS;
    $TOOL--BUTTON--FONT--COLOUR---OPEN:                             $COLOUR--GREY_CLOUDS;
    $TOOL--BUTTON--FONT--COLOUR---OPEN_SELECTED:                    $COLOUR--JAHIA_BLUE;
    $TOOL--BUTTON--FONT--COLOUR---OFF:          	                $COLOUR--BLACK_CLOUDS;



/////////////////////////////////////////////////
// THUMBS ///////////////////////////////////////
/////////////////////////////////////////////////

    $THUMB--FONT--COLOUR:                                           $COLOUR--DARK_CLOUDS;
    $THUMB--FONT--BG--COLOUR:                                       rgba($COLOUR--WHITE_CLOUDS, 0.9);
    $THUMB--BG--COLOUR---UP:                                        $COLOUR--TRANSPARENT;
    $THUMB--BG--COLOUR---HOVER:                                     rgba($COLOUR--GREY_CLOUDS, 0.2);
    $THUMB--BG--COLOUR---SELECTED:                                  $COLOUR--JAHIA_BLUE;



/////////////////////////////////////////////////
// HAMBURGER MENU ///////////////////////////////
/////////////////////////////////////////////////

    $HAMBURGER--BG--COLOUR:                                         rgba($COLOUR--JAHIA_BLUE, .99);
	$HAMBURGER--TITLE--COLOUR: 				                        rgba($COLOUR--WHITE_CLOUDS, .7);
	$HAMBURGER--BUTTON--COLOUR---UP:			                    rgba($COLOUR--WHITE_CLOUDS, .8);
	$HAMBURGER--BUTTON--COLOUR---HOVER:		                        $COLOUR--WHITE_CLOUDS;

    // APPLICATION ICONS
	$HAMBURGER--ICON--CONTENT_MANAGER:		                        $ICON--CONTENT_MANAGER---WHITE;
	$HAMBURGER--ICON--FILE_MANAGER:			                        $ICON--FILE_MANAGER---WHITE;
	$HAMBURGER--ICON--PORTLET_MANAGER:		                        $ICON--PORTLET_MANAGER---WHITE;
	$HAMBURGER--ICON--REPO_EXPLORER:		                        $ICON--REPO_EXPLORER---WHITE;
	$HAMBURGER--ICON--CATEGORY_MANAGER:		                        $ICON--CATEGORY_MANAGER---WHITE;
	$HAMBURGER--ICON--SITE_MANAGER:			                        $ICON--SITE_MANAGER---WHITE;



/////////////////////////////////////////////////
// EDIT ENGINE //////////////////////////////////
/////////////////////////////////////////////////

    $EDIT_ENGINE--TITLE--FONT--COLOUR:                              $COLOUR--DARK_CLOUDS;
    $EDIT_ENGINE--TAB--FONT--COLOUR:                                $COLOUR--ASH_CLOUDS;
    $EDIT_ENGINE--TAB--FONT--COLOUR---SELECTED:                     $COLOUR--WHITE_CLOUDS;
    $EDIT_ENGINE--TAB--FONT--COLOUR---HOVER:                        rgba($EDIT_ENGINE--TAB--FONT--COLOUR---SELECTED, .7);
    $EDIT_ENGINE--TAB--FONT--COLOUR---SELECTED_over:                $EDIT_ENGINE--TAB--FONT--COLOUR---SELECTED;
    $EDIT_ENGINE--BG--COLOUR:                                       $EDIT_ENGINE--BASE--COLOUR;
    $EDIT_ENGINE--TEXT_INPUT--BG--COLOUR:                           lighten($EDIT_ENGINE--BASE--COLOUR, 6%);
    $EDIT_ENGINE--TEXT_INPUT--BG--COLOUR---HOVER:                   lighten($EDIT_ENGINE--BASE--COLOUR, 8%);
    $EDIT_ENGINE--TEXT_INPUT--BG--COLOUR---FOCUS:                   lighten($EDIT_ENGINE--BASE--COLOUR, 75%);
    $EDIT_ENGINE--TEXT_INPUT--FONT--COLOUR:                         lighten($EDIT_ENGINE--BASE--COLOUR, 75%);
    $EDIT_ENGINE--TEXT_INPUT--FONT--COLOUR---HOVER:                 lighten($EDIT_ENGINE--BASE--COLOUR, 85%);
    $EDIT_ENGINE--TEXT_INPUT--FONT--COLOUR---FOCUS:                 darken($EDIT_ENGINE--BASE--COLOUR, 50%);

/////////////////////////////////////////////////
// DUAL LIST //////////////////////////////////
/////////////////////////////////////////////////

    $DUAL_LIST--TEXT_INPUT--BG--COLOUR:                           lighten($COLOUR--DUSTY_CLOUDS, 8%);
    $DUAL_LIST--TEXT_INPUT--BG--COLOUR---HOVER:                   $COLOUR--DUSTY_CLOUDS;
    $DUAL_LIST--TEXT_INPUT--BG--COLOUR---FOCUS:                   $COLOUR--GREY_CLOUDS;

	$DUAL_LIST--TEXT_INPUT--FONT--COLOUR:                         $COLOUR--LEAD_CLOUDS;
    $DUAL_LIST--TEXT_INPUT--FONT--COLOUR---HOVER:                 darken($COLOUR--LEAD_CLOUDS, 8%);
    $DUAL_LIST--TEXT_INPUT--FONT--COLOUR---FOCUS:				  $COLOUR--WHITE_CLOUDS;


/////////////////////////////////////////////////
// SIDE PANEL ///////////////////////////////////
/////////////////////////////////////////////////

    // PANEL BACKGROUND
	$SIDE_PANEL--BG--COLOUR--CLOSED:                               	$COLOUR--TRANSPARENT;
	$SIDE_PANEL--BG--COLOUR---OPENED:                              	$COLOUR--WHITE_CLOUDS;
	$SIDE_PANEL--BG--SHADOW:                                       	7px 0px 45px rgba($COLOUR--DARK_CLOUDS, 0.9);

    // TAB ICONS ::: CLOSED
    $SIDE_PANEL--ICON--PAGES---CLOSED:                             	$ICON--PAGES---WHITE;
    $SIDE_PANEL--ICON--CREATE---CLOSED:                            	$ICON--CREATE---WHITE;
    $SIDE_PANEL--ICON--CONTENT---CLOSED:                           	$ICON--CONTENT---WHITE;
    $SIDE_PANEL--ICON--FILES---CLOSED:                             	$ICON--FILES---WHITE;
    $SIDE_PANEL--ICON--SEARCH---CLOSED:                            	$ICON--SEARCH---WHITE;
    $SIDE_PANEL--ICON--TAXONOMY---CLOSED:                          	$ICON--TAXONOMY---WHITE;
    $SIDE_PANEL--ICON--DEVICES---CLOSED:                           	$ICON--DEVICES---WHITE;
    $SIDE_PANEL--ICON--SETTINGS---CLOSED:                          	$ICON--SETTINGS---WHITE;

    // TAB ICONS ::: OPEN
    $SIDE_PANEL--ICON--SETTINGS---OPEN:                            	$ICON--PAGES---GREY;
    $SIDE_PANEL--ICON--CREATE---OPEN:                              	$ICON--CREATE---GREY;
    $SIDE_PANEL--ICON--CONTENT---OPEN:                             	$ICON--CONTENT---GREY;
    $SIDE_PANEL--ICON--FILES---OPEN:                               	$ICON--FILES---GREY;
    $SIDE_PANEL--ICON--SEARCH---OPEN:                              	$ICON--SEARCH---GREY;
    $SIDE_PANEL--ICON--TAXONOMY---OPEN:                            	$ICON--TAXONOMY---GREY;
    $SIDE_PANEL--ICON--DEVICES---OPEN:                             	$ICON--DEVICES---GREY;
    $SIDE_PANEL--ICON--SETTINGS---OPEN:                            	$ICON--SETTINGS---GREY;

    // TAB ICONS ::: SELECTED
    $SIDE_PANEL--ICON--PAGES---SELECTED:                           	$ICON--PAGES---BLUE;
    $SIDE_PANEL--ICON--CREATE---SELECTED:                          	$ICON--CREATE---BLUE;
    $SIDE_PANEL--ICON--CONTENT---SELECTED:                         	$ICON--CONTENT---BLUE;
    $SIDE_PANEL--ICON--FILES---SELECTED:                           	$ICON--FILES---BLUE;
    $SIDE_PANEL--ICON--SEARCH---SELECTED:                          	$ICON--SEARCH---BLUE;
    $SIDE_PANEL--ICON--TAXONOMY---SELECTED:                        	$ICON--TAXONOMY---BLUE;
    $SIDE_PANEL--ICON--DEVICES---SELECTED:                         	$ICON--DEVICES---BLUE;
    $SIDE_PANEL--ICON--SETTINGS---SELECTED:                        	$ICON--SETTINGS---BLUE;

    // TAB ICONS ::: OFF
    $SIDE_PANEL--ICON--PAGES---OFF:                                	$ICON--PAGES---BLACK;
    $SIDE_PANEL--ICON--CREATE---OFF:                               	$ICON--CREATE---BLACK;
    $SIDE_PANEL--ICON--CONTENT---OFF:                              	$ICON--CONTENT---BLACK;
    $SIDE_PANEL--ICON--FILES---OFF:                                	$ICON--FILES---BLACK;
    $SIDE_PANEL--ICON--SEARCH---OFF:                               	$ICON--SEARCH---BLACK;
    $SIDE_PANEL--ICON--TAXONOMY---OFF:                             	$ICON--TAXONOMY---BLACK;
    $SIDE_PANEL--ICON--DEVICES---OFF:                              	$ICON--DEVICES---BLACK;
    $SIDE_PANEL--ICON--SETTINGS---OFF:                             	$ICON--SETTINGS---BLACK;



////
//// PLACE HOLDERS
////
//// These placeholders allow more control over the styling of the majority of
//// elements in the DX Application.
//// Please just be aware that changing the SIZE of elements may have undesired effects
//// on other elements :)
////
//// The placeholders are categorised as follows:
////     APPLICATION
////     FORMS
////     COMBO MENUS
////     COMBO MENU ::: MODE SELECTOR
////     LIST BOX
////     CONTEXT MENU
////     CONTEXT MENU ::: HAMBURGER
////     CONTEXT MENU ::: PUBLICATION
////     CONTEXT MENU ::: PREVIEW
////     CONTEXT MENU ::: MORE INFO
////     CONTEXT MENU ::: MODE VIEW (EDIT MODE)
////     CONTEXT MENU ::: MODE VIEW (ADMIN MODE)
////     CONTEXT MENU ::: MODE VIEW (DASHBOARD MODE)
////     CONTEXT MENU ::: USER MENU (EDIT MODE)
////     CONTEXT MENU ::: USER MENU (ADMIN MODE)
////     CONTEXT MENU ::: USER MENU (DASHBOARD MODE)
////     CONTEXT MENU ::: WORKFLOW
////     CONTEXT MENU ::: CACHE
////     CONTEXT MENU ::: PAGE EDIT CONTENT
////     CONTEXT MENU ::: SIDE PANEL ::: PAGES
////     CONTEXT MENU ::: SIDE PANEL ::: CONTENT ::: TREE
////     CONTEXT MENU ::: SIDE PANEL ::: CONTENT ::: ITEM
////     CONTEXT MENU ::: SIDE PANEL ::: FILE ::: TREE
////     CONTEXT MENU ::: SIDE PANEL ::: FILE ::: ITEM
////     CONTEXT MENU ::: SIDE PANEL ::: SEARCH
////     CONTEXT MENU ::: SIDE PANEL ::: TAXONOMY
////     BUTTONS ::: FORM
////     BUTTONS ::: PANEL
////     BUTTONS ::: FIELDSET
////     BUTTONS ::: ACTION BAR
////     BUTTONS ::: ACTION BAR ::: SUGGESTED



/////////////////////////////////////////////////
// APPLICATION //////////////////////////////////
/////////////////////////////////////////////////

    %document_title {
        @include text(16px, $COLOUR--WHITE_CLOUDS, $FONT--WEIGHT---SEMILIGHT);
    }

    %multiselect_title {
        color: $COLOUR--WHITE_CLOUDS;
    }



/////////////////////////////////////////////////
// FORMS ////////////////////////////////////////
/////////////////////////////////////////////////

    // CHECKBOX
    %CSS_BLOCK--CHECKBOX---UNCHECKED {
        border: $FORM--CHECKBOX--BORDER---UNCHECKED;
		background: $FORM--CHECKBOX--BG--COLOUR---UNCHECKED;
		box-shadow: $FORM--CHECKBOX--SHADOW---UNCHECKED;
    }

    %CSS_BLOCK--CHECKBOX---CHECKED {
        background: no-repeat center center;
        background-image: url($FORM--CHECKBOX--ICON---CHECKED);
        background-size: 15px 15px;
        background-color: $FORM--CHECKBOX--BG--COLOUR---CHECKED;
    }

    // LEGENDS
    %CSS_BLOCK--FORM--LEGEND---COLLAPSED {}

	%CSS_BLOCK--FORM--LEGEND {
    	padding: 0!important;
        position: absolute;
        top: 14px;
        left: 30px;
        text-transform: uppercase;

    	@include text(11px, $FORM--LEGEND--FONT--COLOUR, $FONT--WEIGHT---SEMIBOLD);
    }

    // FIELDSET
    %CSS_BLOCK--FIELDSET {
        border: none !important;
        padding: 43px 10px 20px 29px !important;
        margin: 0 23px 10px 0 !important;
        position: relative;
        background: $FORM--FIELDSET--BG--COLOUR;
        box-sizing: border-box;
    }

    // LABELS
	%CSS_BLOCK--FORM--LABEL {
        padding: 0!important;
        margin: 0!important;
        text-transform: uppercase;
        line-height: 24px;

        @include text(10px, $FORM--LABEL--FONT--COLOUR, $FONT--WEIGHT---SEMIBOLD, $DEFAULT--FONT--FAMILY !important);
    }

    // TOGGLE
    %CSS_BLOCK--FORM--TOGGLE--BG {
        content: $FORM--TOGGLE--FONT--LOCALISED_STRING---OFF;
        background: $FORM--TOGGLE--BG--COLOUR;
        box-shadow: $FORM--TOGGLE--BG--SHADOW;
        text-transform: uppercase;

        @include text(10px, $FORM--TOGGLE--FONT--COLOUR---OFF, $FONT--WEIGHT---EXTRABOLD);
    }

    %CSS_BLOCK--FORM--TOGGLE--SHUTTLE---OFF {
        content: " ";
        background: $FORM--TOGGLE--SHUTTLE--COLOUR---OFF;
    }

    %CSS_BLOCK--FORM--TOGGLE--BG---ON {
    	content: " ";
    }

    %CSS_BLOCK--FORM--TOGGLE--SHUTTLE---ON {
        content: $FORM--TOGGLE--FONT--LOCALISED_STRING---ON;
        color: $FORM--TOGGLE--FONT--COLOUR---ON;
        background: $FORM--TOGGLE--SHUTTLE--COLOUR---ON;
        color: $COLOUR--WHITE;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: $FONT--WEIGHT---EXTRABOLD;
    }

    // TEXT INPUT
    %CSS_BLOCK--FORM--TEXT_INPUT {
        background: $FORM--TEXT_INPUT--BG--COLOUR;
        padding: $FORM--TEXT_INPUT--PADDING;
        border: $FORM--TEXT_INPUT--BORDER--COLOUR;
        transition: all 0.15s ease-in 0s;

        @include text($FORM--TEXT_INPUT--FONT--SIZE, $FORM--TEXT_INPUT--FONT--COLOUR, $FORM--TEXT_INPUT--FONT--WEIGHT, $FORM--TEXT_INPUT--FONT--FAMILY);
    }

	%CSS_BLOCK--FORM--TEXT_INPUT---HOVER {
        background: $FORM--TEXT_INPUT--BG--COLOUR---HOVER;
        color: $FORM--TEXT_INPUT--FONT--COLOUR---HOVER;
    }

	%CSS_BLOCK--FORM--TEXT_INPUT---FOCUS {
        background: $FORM--TEXT_INPUT--BG--COLOUR---FOCUS;
		color: $FORM--TEXT_INPUT--FONT--COLOUR---FOCUS;
    }

    %CSS_BLOCK--FORM--TEXT_INPUT---DISABLED {
        background: $COLOUR--TRANSPARENT;
        padding: 3px 40px 3px 5px;
        padding-left: 0;
        border: 1px solid $COLOUR--TRANSPARENT;
        transition: $DEFAULT--TRANSITION;

        @include text($FORM--TEXT_INPUT--FONT--SIZE, $COLOUR--DUSTY_CLOUDS, $FORM--TEXT_INPUT--FONT--WEIGHT, $FORM--TEXT_INPUT--FONT--FAMILY);
    }

    // EDIT ENGINES EXCEPTION
        %CSS_BLOCK--FORM--TEXT_INPUT\:EDIT_ENGINE {
            background: $EDIT_ENGINE--TEXT_INPUT--BG--COLOUR;

            @include text($FORM--TEXT_INPUT--FONT--SIZE, $EDIT_ENGINE--TEXT_INPUT--FONT--COLOUR, $FORM--TEXT_INPUT--FONT--WEIGHT, $FORM--TEXT_INPUT--FONT--FAMILY);
        }

        %CSS_BLOCK--FORM--TEXT_INPUT---HOVER\:EDIT_ENGINE {
            background: $EDIT_ENGINE--TEXT_INPUT--BG--COLOUR---HOVER;
            color: $EDIT_ENGINE--TEXT_INPUT--FONT--COLOUR---HOVER !important;
        }

    	%CSS_BLOCK--FORM--TEXT_INPUT---FOCUS\:EDIT_ENGINE {
            background: $EDIT_ENGINE--TEXT_INPUT--BG--COLOUR---FOCUS;
    		color: $EDIT_ENGINE--TEXT_INPUT--FONT--COLOUR---FOCUS !important;
        }

        %CSS_BLOCK--FORM--TEXT_INPUT---DISABLED\:EDIT_ENGINE {
            background: transparent !important;
            @include text($FORM--TEXT_INPUT--FONT--SIZE, $COLOUR--ASH_CLOUDS !important, $FORM--TEXT_INPUT--FONT--WEIGHT, $FORM--TEXT_INPUT--FONT--FAMILY);
        }

	// DUAL LIST
        %CSS_BLOCK--FORM--TEXT_INPUT\:DUAL_LIST {
            background: $DUAL_LIST--TEXT_INPUT--BG--COLOUR;

            @include text($FORM--TEXT_INPUT--FONT--SIZE, $DUAL_LIST--TEXT_INPUT--FONT--COLOUR, $FORM--TEXT_INPUT--FONT--WEIGHT, $FORM--TEXT_INPUT--FONT--FAMILY);
        }

        %CSS_BLOCK--FORM--TEXT_INPUT---HOVER\:DUAL_LIST {
            background: $DUAL_LIST--TEXT_INPUT--BG--COLOUR---HOVER;
            color: $DUAL_LIST--TEXT_INPUT--FONT--COLOUR---HOVER !important;
        }

    	%CSS_BLOCK--FORM--TEXT_INPUT---FOCUS\:DUAL_LIST {
            background: $DUAL_LIST--TEXT_INPUT--BG--COLOUR---FOCUS !important;
    		color: $DUAL_LIST--TEXT_INPUT--FONT--COLOUR---FOCUS !important;
        }

        %CSS_BLOCK--FORM--TEXT_INPUT---DISABLED\:DUAL_LIST {
            background: transparent !important;
            @include text($FORM--TEXT_INPUT--FONT--SIZE, $COLOUR--ASH_CLOUDS !important, $FORM--TEXT_INPUT--FONT--WEIGHT, $FORM--TEXT_INPUT--FONT--FAMILY);
        }


    // CLEAR FORM BUTTON
    %CSS_BLOCK--FORM--CLEAR_BUTTON---UP {
        background: no-repeat center center;
        background-color: $FORM--CLEAR_BUTTON--BG--COLOUR---UP !important;
        background-image: url($FORM--CLEAR_BUTTON--ICON---UP);
		background-size: 45%;
    }

    %CSS_BLOCK--FORM--CLEAR_BUTTON---HOVER {
        background-color: $FORM--CLEAR_BUTTON--BG--COLOUR---HOVER !important;
        background-image: url($FORM--CLEAR_BUTTON--ICON---HOVER);
    }

    // EDIT PANEL EXCEPTIONS
        %CSS_BLOCK--FORM--CLEAR_BUTTON---UP\:EDIT_ENGINE {
            background-color: $COLOUR--TRANSPARENT !important;
            opacity: 0.5;
        }

        %CSS_BLOCK--FORM--CLEAR_BUTTON---HOVER\:EDIT_ENGINE {
            background-color: $COLOUR--TRANSPARENT !important;
            opacity: 1;
        }

	// DUAL LIST EXCEPTIONS
        %CSS_BLOCK--FORM--CLEAR_BUTTON---UP\:DUAL_LIST {
            background-color: $COLOUR--ASH_CLOUDS !important;
            opacity: 0.5;
        }

        %CSS_BLOCK--FORM--CLEAR_BUTTON---HOVER\:DUAL_LIST {
            background-color: $COLOUR--ASH_CLOUDS !important;
            opacity: 1;
        }



/////////////////////////////////////////////////
// COMBO MENUS //////////////////////////////////
/////////////////////////////////////////////////

    %CSS_BLOCK--FORM--COMBO--ARROW---UP {
        background: no-repeat center center;
        background-color: $FORM--COMBO--BG--COLOUR---UP !important;
        background-image: url($FORM--COMBO--ICON---UP);
    }

    %CSS_BLOCK--FORM--COMBO--ARROW---HOVER {
        background-color: $FORM--COMBO--BG--COLOUR---HOVER !important;
        background-image: url($FORM--COMBO--ICON---HOVER);
    }

    %CSS_BLOCK--FORM--COMBO--TEXT_INPUT {
        padding: $FORM--TEXT_INPUT--PADDING !important;
        border: $FORM--TEXT_INPUT--BORDER--COLOUR;
		font-family: $FORM--TEXT_INPUT--FONT--FAMILY;
		font-size: $FORM--TEXT_INPUT--FONT--SIZE;
		font-weight: $FORM--TEXT_INPUT--FONT--WEIGHT;
    }

    // EDIT ENGINE EXEPTIONS
        %CSS_BLOCK--FORM--COMBO--ARROW---UP\:EDIT_ENGINE {
            background-color: $COLOUR--TRANSPARENT !important;
            opacity: 0.5;
        }

        %CSS_BLOCK--FORM--COMBO--ARROW---HOVER\:EDIT_ENGINE {
            background-color: $COLOUR--TRANSPARENT !important;
            opacity: 1;
        }

        %CSS_BLOCK--FORM--COMBO--TEXT_INPUT\:EDIT_ENGINE {
            padding: $FORM--TEXT_INPUT--PADDING !important;
            border: $FORM--TEXT_INPUT--BORDER--COLOUR;
    		font-family: $FORM--TEXT_INPUT--FONT--FAMILY;
    		font-size: $FORM--TEXT_INPUT--FONT--SIZE;
    		font-weight: $FORM--TEXT_INPUT--FONT--WEIGHT;
        }



/////////////////////////////////////////////////
// COMBO ::: MODE SELECTOR //////////////////////
/////////////////////////////////////////////////

%CSS_BLOCK--FORM--MODE_COMBO--LABEL {
    text-transform: uppercase;

    @include text(14px, $COLOUR--WHITE_CLOUDS, $FONT--WEIGHT---SEMILIGHT);
}

%CSS_BLOCK--FORM--MODE_COMBO--LABEL---MULTI_SELECT {
    background: url($ICON--DX---BLACK) no-repeat left 12px center / 20px 20px;
}



/////////////////////////////////////////////////
// LIST BOX /////////////////////////////////////
/////////////////////////////////////////////////

        %CSS_BLOCK--FORM--LIST_BOX--HOLDER {
            border: none;
            box-shadow: none;
        }

        %CSS_BLOCK--FORM--LIST_BOX--ITEM {
            text-align: left!important;
            background: $FORM--LIST_BOX--BG--COLOUR---UP;
            padding: 8px 9px !important;
            border: none;
            width: 100%;

            @include text(11px, $FORM--LIST_BOX--FONT--COLOUR---UP, $FONT--WEIGHT---SEMILIGHT);
        }

        %CSS_BLOCK--FORM--LIST_BOX--ITEM---HOVER {
            color: $FORM--LIST_BOX--FONT--COLOUR---HOVER;
            background: $FORM--LIST_BOX--BG--COLOUR---HOVER;
        }

        %CSS_BLOCK--FORM--LIST_BOX--ITEM---SELECTED {
            color: $FORM--LIST_BOX--FONT--COLOUR---SELECTED;
            background: $FORM--LIST_BOX--BG--COLOUR---SELECTED;
        }

        %CSS_BLOCK--FORM--LIST_BOX--ITEM---DISABLED {
            color: $FORM--LIST_BOX--FONT--COLOUR---DISABLED;
            font-style: italic;
            opacity: 1;
            background: $FORM--LIST_BOX--BG--COLOUR---DISABLED;
            display: none;
        }



/////////////////////////////////////////////////
// CONTEXT MENU /////////////////////////////////
/////////////////////////////////////////////////

    %CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER {
        border: none;
        box-shadow: 0 0 10px 0 rgba($COLOUR--DARK_CLOUDS, .3);
    }

    %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM {
        text-align: left!important;
        background: $FORM--CONTEXT_MENU--BG--COLOUR---UP;
        padding: 8px 9px !important;
        border: none;

        @include text(11px, $FORM--CONTEXT_MENU--FONT--COLOUR---UP, $FONT--WEIGHT---SEMILIGHT);
    }

    %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER {
        color: $FORM--CONTEXT_MENU--FONT--COLOUR---HOVER;
        background: $FORM--CONTEXT_MENU--BG--COLOUR---HOVER;
    }

    %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED {
        color: $FORM--CONTEXT_MENU--FONT--COLOUR---DISABLED;
        font-style: italic;
        opacity: 1;
        background: $FORM--CONTEXT_MENU--BG--COLOUR---DISABLED;
        display: none;
    }

    // Personalised Context Menus
	// You can use these placeholders to personalise each context menu.
	// If left blank then they will assume the default style applied above.

        // Menus available in ALL / MULTIPLE pages
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:COMMON_HAMBURGER {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:COMMON_HAMBURGER {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:COMMON_HAMBURGER {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:COMMON_HAMBURGER {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:COMMON_HAMBURGER {}

		// Menus available in Edit Mode
			// Publication
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--PUBLICATION {
				content: $text_context_menu_publication_page;

				body[data-multiselect="on"] & {
					content: $text_context_menu_publication_selection;
				}
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--PUBLICATION {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--PUBLICATION {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--PUBLICATION {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--PUBLICATION {}

			// Preview
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--PREVIEW {
				content: $text_context_menu_preview_page;

				body[data-multiselect="on"] & {
					content: $text_context_menu_preview_selection;
				}

			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--PREVIEW {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--PREVIEW {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--PREVIEW {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--PREVIEW {}

			// More Info (old Edit button)
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--MORE_INFO {
				content: $text_context_menu_more_info_page;

				body[data-multiselect="on"] & {
					content: $text_context_menu_more_info_selection;
				}
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--MORE_INFO {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--MORE_INFO {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--MORE_INFO {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--MORE_INFO {}

			// Mode View
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--MODE_VIEW {
				//content: $text_context_menu_mode_view;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--MODE_VIEW {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--MODE_VIEW {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--MODE_VIEW {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--MODE_VIEW {}

			// User Menu
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--USER_MENU {
				//content: $text_context_menu_user_menu;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--USER_MENU {
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--USER_MENU {
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--USER_MENU {
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--USER_MENU {

			}

			// Workflow
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--WORKFLOW {
				//content: $text_context_menu_workflow;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--WORKFLOW {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--WORKFLOW {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--WORKFLOW {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--WORKFLOW {}

			// Cache
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--CACHE {
				//content: $text_context_menu_cache;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--CACHE {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--CACHE {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--CACHE {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--CACHE {}

			// Page Edit Context
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--PAGE_CONTEXT {
				content: attr(data-selected-name)
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--PAGE_CONTEXT {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--PAGE_CONTEXT {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--PAGE_CONTEXT {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--PAGE_CONTEXT {}

			// Side Panel > Pages
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--PAGES {
				//content: $text_context_menu_side_panel_pages;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--PAGES {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--PAGES {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--PAGES {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--PAGES {}

			// Side Panel > Content > Tree
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {
				//content: $text_context_menu_side_panel_content_tree;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--CONTENT--TREE {}

			// Side Panel > Content > Item
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {
				//content: $text_context_menu_side_panel_content_item;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--CONTENT--ITEM {}

			// Side Panel > File > Tree
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--FILE--TREE {
				//content: $text_context_menu_side_panel_file_tree;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--FILE--TREE {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--FILE--TREE {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--FILE--TREE {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--FILE--TREE {}

			// Side Panel > File > Item
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {
				//content: $text_context_menu_side_panel_file_item;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--FILE--ITEM {}

			// Side Panel > Search
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {
				//content: $text_context_menu_side_panel_search;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--SEARCH--ITEM {}

			// Side Panel > Taxonomy
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {
				//content: $text_context_menu_side_panel_taxonomy;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--SIDE_PANEL--TAXONOMY--ITEM {}

		// Menus available in Admin Mode
			// User Menu
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:ADMIN_MODE--USER_MENU {
				content: $text_context_menu_admin_user_name;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:ADMIN_MODE--USER_MENU {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:ADMIN_MODE--USER_MENU {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:ADMIN_MODE--USER_MENU {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:ADMIN_MODE--USER_MENU {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
			}

			// Mode View
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:ADMIN_MODE--MODE_VIEW {
				content: $text_context_menu_admin_mode_view;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:ADMIN_MODE--MODE_VIEW {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:ADMIN_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:ADMIN_MODE--MODE_VIEW {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:ADMIN_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:ADMIN_MODE--MODE_VIEW {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:ADMIN_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:ADMIN_MODE--MODE_VIEW {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:ADMIN_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
			}



		// Menus available in Dashboard Mode
			// User Menu
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:DASHBOARD_MODE--USER_MENU {
				content: $text_context_menu_dashboard_user_name;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:DASHBOARD_MODE--USER_MENU {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:DASHBOARD_MODE--USER_MENU {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:DASHBOARD_MODE--USER_MENU {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:DASHBOARD_MODE--USER_MENU {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--USER_MENU !optional; // Apply same style as Edit Mode version
			}

		// Mode View
			%CSS_BLOCK--FORM--CONTEXT_MENU--TITLE\:DASHBOARD_MODE--MODE_VIEW {
				content: $text_context_menu_dashboard_mode_view;
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:DASHBOARD_MODE--MODE_VIEW {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--HOLDER\:EDIT_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:DASHBOARD_MODE--MODE_VIEW {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM\:EDIT_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:DASHBOARD_MODE--MODE_VIEW {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---HOVER\:EDIT_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
			}
			%CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:DASHBOARD_MODE--MODE_VIEW {
				@extend %CSS_BLOCK--FORM--CONTEXT_MENU--ITEM---DISABLED\:EDIT_MODE--MODE_VIEW !optional; // Apply same style as Edit Mode version
			}

			// _common.scss uses this list to generate personalised menus according to placeholders above.
			// If placeholders are empty then no classes are created.
			// There is no need to edit this list.
			// If you want to remove a personalised context menu then just empty the styling of the place holder above.

			$personalised_context_menus: (
				// COMMON MENUS
				(".menu-editmode-managers-menu",    common_hamburger),

				// EDIT MODE MENUS
				(".menu-edit-menu-publication",     edit_mode_publication),
				(".menu-edit-menu-view",      		edit_mode_preview),
				(".menu-edit-menu-edit",      		edit_mode_more_info),
				(".menu-edit-menu-mode",      		edit_mode_mode_view),
				(".menu-edit-menu-user",      		edit_mode_user_menu),
				(".menu-edit-menu-workflow",      	edit_mode_workflow),
				(".menu-edit-menu-cache",      		edit_mode_cache),
				(".editModeContextMenu",      		edit_mode_page_context),
				(".pagesContextMenu",      			edit_mode_side_panel_pages),
				(".contentTreeContextMenu",      	edit_mode_side_panel_content_tree),
				(".contentTableContextMenu",      	edit_mode_side_panel_content_item),
				(".filesTreeContextMenu",      		edit_mode_side_panel_file_tree),
				(".filesTableContextMenu",      	edit_mode_side_panel_file_item),
				(".searchTableContextMenu",      	edit_mode_side_panel_search_item),
				(".categoriesTableContextMenu",     edit_mode_side_panel_taxonomy_item),

				//ADMIN MODE MENUS
				(".menu-admin-menu-user",      		admin_mode_user_menu),
				(".menu-admin-menu-mode",      		admin_mode_mode_view),

				// DASHBOARD MENUS
				(".menu-dashboard-menu-user",      	dashboard_mode_user_menu),
				(".menu-dashboard-menu-mode",      	dashboard_mode_mode_view)
			);



/////////////////////////////////////////////////
// BUTTONS //////////////////////////////////////
/////////////////////////////////////////////////

    // FORM
    %CSS_BLOCK--BUTTON--TEXT\:FORM {
		background: $BUTTON--BG--COLOUR---UP\:FORM;
        text-transform: uppercase;
        padding: 4px 0 0;
        @include text(10px, $BUTTON--FONT--COLOUR---UP\:FORM, $FONT--WEIGHT---NORMAL);
    }

    %CSS_BLOCK--BUTTON--TEXT---HOVER\:FORM {
		background: $BUTTON--BG--COLOUR---HOVER\:FORM;
        @include text(10px, $BUTTON--FONT--COLOUR---HOVER\:FORM, $FONT--WEIGHT---NORMAL);
    }

    %CSS_BLOCK--BUTTON--ICON\:FORM {
        background: $BUTTON--BG--COLOUR---UP\:FORM;
        padding: 5px 10px 5px 29px;
        @include text(16px, $BUTTON--FONT--COLOUR---UP\:FORM, $FONT--WEIGHT---EXTRALIGHT);

        img {
            left: 5px!important;
            top: 7px!important;
        }
    }

    %CSS_BLOCK--BUTTON--ICON---HOVER\:FORM {
        background: $BUTTON--BG--COLOUR---HOVER\:FORM;
        padding: 5px 10px 5px 29px;
        @include text(16px, $BUTTON--FONT--COLOUR---HOVER\:FORM, $FONT--WEIGHT---EXTRALIGHT);

        img {
            left: 5px!important;
        }
    }

    // SIDE PANEL
	%CSS_BLOCK--BUTTON--TEXT\:SIDE_PANEL {
        background: $BUTTON--BG--COLOUR---UP\:SIDE_PANEL !important;
        color: $BUTTON--FONT--COLOUR---UP\:SIDE_PANEL !important;
    }

	%CSS_BLOCK--BUTTON--TEXT---HOVER\:SIDE_PANEL {
		background: $BUTTON--BG--COLOUR---HOVER\:SIDE_PANEL !important;
        color: $BUTTON--FONT--COLOUR---HOVER\:SIDE_PANEL !important;
    }

	%CSS_BLOCK--BUTTON--ICON\:SIDE_PANEL {
        background: $BUTTON--BG--COLOUR---UP\:SIDE_PANEL !important;
        color: $BUTTON--FONT--COLOUR---UP\:SIDE_PANEL !important;

    }

	%CSS_BLOCK--BUTTON--ICON---HOVER\:SIDE_PANEL {
        background: $BUTTON--BG--COLOUR---HOVER\:SIDE_PANEL !important;
        color: $BUTTON--FONT--COLOUR---HOVER\:SIDE_PANEL !important;

    }

    // FIELDSET
	%CSS_BLOCK--BUTTON--TEXT\:FIELDSET {
        background: $BUTTON--BG--COLOUR---UP\:FIELDSET;
        text-transform: uppercase;
        padding: 5px 10px;
        @include text(10px, $BUTTON--FONT--COLOUR---UP\:FIELDSET, $FONT--WEIGHT---NORMAL);
    }

	%CSS_BLOCK--BUTTON--TEXT--HOVER_PARENT\:FIELDSET {
        background: $BUTTON--BG--COLOUR---HOVER\:FIELDSET!important;
        @include text(10px, $BUTTON--FONT--COLOUR---HOVER\:FIELDSET, $FONT--WEIGHT---NORMAL);
    }

	%CSS_BLOCK--BUTTON--TEXT---HOVER\:FIELDSET {
        background: $BUTTON--BG--COLOUR---HOVER\:FIELDSET;
        @include text(10px, $BUTTON--FONT--COLOUR---HOVER\:FIELDSET, $FONT--WEIGHT---NORMAL);
    }

	%CSS_BLOCK--BUTTON--ICON\:FIELDSET {
        background: $BUTTON--BG--COLOUR---UP\:FIELDSET;
        padding: 5px 10px 5px 29px;
        @include text(16px, $BUTTON--FONT--COLOUR---UP\:FIELDSET, $FONT--WEIGHT---EXTRALIGHT);

        img {
            left: 5px!important;
            top: 7px!important;
        }
    }

	%CSS_BLOCK--BUTTON--ICON---HOVER\:FIELDSET {
        background: $BUTTON--BG--COLOUR---HOVER\:FIELDSET !important;
        padding: 5px 10px 5px 29px;
        @include text(16px, $BUTTON--FONT--COLOUR---HOVER\:FIELDSET, $FONT--WEIGHT---EXTRALIGHT);

        img {
            left: 5px!important;
        }
    }

    // ACTION BAR
	%CSS_BLOCK--BUTTON--TEXT\:ACTIONBAR {
        background: $BUTTON--BG--COLOUR---UP\:ACTIONBAR;
    	padding: 5px 10px;
    	@include text(16px, $BUTTON--FONT--COLOUR---UP\:ACTIONBAR, $FONT--WEIGHT---EXTRALIGHT);
    }

	%CSS_BLOCK--BUTTON--TEXT---HOVER\:ACTIONBAR {
        background: $BUTTON--BG--COLOUR---HOVER\:ACTIONBAR;
    	padding: 5px 10px;
    	@include text(16px, $BUTTON--FONT--COLOUR---HOVER\:ACTIONBAR, $FONT--WEIGHT---EXTRALIGHT);
    }

	%CSS_BLOCK--BUTTON--ICON\:ACTIONBAR {
        background: $BUTTON--BG--COLOUR---UP\:ACTIONBAR;
    	padding: 5px 10px 5px 29px;
    	@include text(16px, $BUTTON--FONT--COLOUR---UP\:ACTIONBAR, $FONT--WEIGHT---EXTRALIGHT);

    	img {
    		left: 5px!important;
    	}
    }

	%CSS_BLOCK--BUTTON--ICON---HOVER\:ACTIONBAR {
        background: $BUTTON--BG--COLOUR---HOVER\:ACTIONBAR;
        @include text(16px, $BUTTON--FONT--COLOUR---HOVER\:ACTIONBAR, $FONT--WEIGHT---EXTRALIGHT);
    }

    // ACTION BAR ::: SUGGESTED
	%CSS_BLOCK--BUTTON--TEXT\:ACTIONBAR---SUGGESTED {
        background: $BUTTON--BG--COLOUR---UP\:ACTIONBAR---SUGGESTED;
    	@include text(16px, $BUTTON--FONT--COLOUR---UP\:ACTIONBAR---SUGGESTED, $FONT--WEIGHT---EXTRALIGHT);
    }

	%CSS_BLOCK--BUTTON--TEXT---HOVER\:ACTIONBAR---SUGGESTED {
        background: $BUTTON--BG--COLOUR---HOVER\:ACTIONBAR---SUGGESTED;
    	@include text(16px, $BUTTON--FONT--COLOUR---HOVER\:ACTIONBAR---SUGGESTED, $FONT--WEIGHT---EXTRALIGHT);
    }

	%CSS_BLOCK--BUTTON--ICON\:ACTIONBAR---SUGGESTED {
        background: $BUTTON--BG--COLOUR---UP\:ACTIONBAR---SUGGESTED;
    	@include text(16px, $BUTTON--FONT--COLOUR---UP\:ACTIONBAR---SUGGESTED, $FONT--WEIGHT---EXTRALIGHT);
    }

	%CSS_BLOCK--BUTTON--ICON---HOVER\:ACTIONBAR---SUGGESTED {
        background: $BUTTON--BG--COLOUR---HOVER\:ACTIONBAR---SUGGESTED;
        @include text(16px, $BUTTON--FONT--COLOUR---HOVER\:ACTIONBAR---SUGGESTED, $FONT--WEIGHT---EXTRALIGHT);
    }



/////////////////////////////////////////////////
// TREES ////////////////////////////////////////
/////////////////////////////////////////////////

    // LABELS
    %CSS_BLOCK--TREE--ROW--TEXT---UP {
        @include text(12px, $TREE--ROW--FONT--COLOUR---UP, $FONT--WEIGHT---EXTRALIGHT);
    }

    %CSS_BLOCK--TREE--ROW--TEXT---HOVER {
        color: $TREE--ROW--FONT--COLOUR---HOVER!important;

		// Padding not dealt with in best manner ...
		padding-right: 19px!important; // Make space for More options button

		.x-viewport-adminmode & {
			padding-right: 0!important; // Make space for More options button
		}
    }

    %CSS_BLOCK--TREE--ROW--TEXT---SELECTED {
        color: $TREE--ROW--FONT--COLOUR---SELECTED!important;
		padding-right: 19px!important; // Make space for More options button

		.x-viewport-adminmode & {
			padding-right: 0!important; // Make space for More options button
		}

    }

    %CSS_BLOCK--TREE--ROW--TEXT---SELECTED_HOVER {
        color: $TREE--ROW--FONT--COLOUR---SELECTED_HOVER!important;
    }

    // BACKGROUNDS
    %CSS_BLOCK--TREE--ROW--BG---UP {
        background: $TREE--ROW--BG--COLOUR---UP!important;
    }

    %CSS_BLOCK--TREE--ROW--BG---HOVER {
        background: $TREE--ROW--BG--COLOUR---HOVER!important;
    }

    %CSS_BLOCK--TREE--ROW--BG---SELECTED {
        background-color: $TREE--ROW--BG--COLOUR---SELECTED!important;
    }

    %CSS_BLOCK--TREE--ROW--BG---SELECTED_HOVER {
        background: $TREE--ROW--ICON---SELECTED_HOVER!important;
    }

	// Personalised Tree Icons
	// You can use these placeholders to personalise each trees icons.
	// If left blank then they will assume GWT original icons.

	// Pages Tree Icons
		%CSS_BLOCK--TREE--ICON---UP\:PAGES {
			background-image: url($TREE--ROW--ICON---UP);
			background-size: 23px 23px;
			background-repeat: no-repeat;
			padding-left: 23px;
			width: 23px;
			height: 23px;
		}

		%CSS_BLOCK--TREE--ICON---HOVER\:PAGES {
			background-image: url($TREE--ROW--ICON---HOVER) !important;
		}

		%CSS_BLOCK--TREE--ICON---SELECTED\:PAGES {
			background-image: url($TREE--ROW--ICON---SELECTED) !important;
		}

		%CSS_BLOCK--TREE--ICON---SELECTED_HOVER\:PAGES {
			background-image: url($TREE--ROW--ICON---SELECTED) !important;
		}

	// Create Tree Icons
		%CSS_BLOCK--TREE--ICON---UP\:CREATE {}
		%CSS_BLOCK--TREE--ICON---HOVER\:CREATE {}
		%CSS_BLOCK--TREE--ICON---SELECTED\:CREATE {}
		%CSS_BLOCK--TREE--ICON---SELECTED_HOVER\:CREATE {}

	// Content Tree Icons
		%CSS_BLOCK--TREE--ICON---UP\:CONTENT {}
		%CSS_BLOCK--TREE--ICON---HOVER\:CONTENT {}
		%CSS_BLOCK--TREE--ICON---SELECTED\:CONTENT {}
		%CSS_BLOCK--TREE--ICON---SELECTED_HOVER\:CONTENT {}

	// Files Tree Icons
		%CSS_BLOCK--TREE--ICON---UP\:FILES {}
		%CSS_BLOCK--TREE--ICON---HOVER\:FILES {}
		%CSS_BLOCK--TREE--ICON---SELECTED\:FILES {}
		%CSS_BLOCK--TREE--ICON---SELECTED_HOVER\:FILES {}

	// Taxonomy Tree Icons
		%CSS_BLOCK--TREE--ICON---UP\:TAXONOMY {}
		%CSS_BLOCK--TREE--ICON---HOVER\:TAXONOMY {}
		%CSS_BLOCK--TREE--ICON---SELECTED\:TAXONOMY {}
		%CSS_BLOCK--TREE--ICON---SELECTED_HOVER\:TAXONOMY {}

	$personalised_trees: (
		("#JahiaGxtPagesTab",    			PAGES),
		("#JahiaGxtCreateContentTab",    	CREATE),
		("#JahiaGxtContentBrowseTab",    	CONTENT),
		("#JahiaGxtFileImagesBrowseTab",    FILES),
		("#JahiaGxtCategoryBrowseTab",    	TAXONOMY)
	);



/////////////////////////////////////////////////
// THUMB WRAPS //////////////////////////////////
/////////////////////////////////////////////////

    %CSS_BLOCK--THUMB--LABEL {
        background: $THUMB--FONT--BG--COLOUR;
        text-align: center;
        padding: 3px 10px;

        @extend %ellipsis_overflow;
        @include text(10px, $THUMB--FONT--COLOUR, $FONT--WEIGHT---BOLD);
    }

    %CSS_BLOCK--THUMB--BG---UP {
        background: $THUMB--BG--COLOUR---UP;
    }

    %CSS_BLOCK--THUMB--BG---HOVER {
        background: $THUMB--BG--COLOUR---HOVER;
    }

    %CSS_BLOCK--THUMB--BG---SELECTED {
        background: $THUMB--BG--COLOUR---SELECTED;
    }



/////////////////////////////////////////////////
// SIDE PANEL ///////////////////////////////////
/////////////////////////////////////////////////

    %CSS_BLOCK--SIDE_PANEL--CONTAINER {
        background: $SIDE_PANEL--BG--COLOUR--CLOSED !important;
    }

    %CSS_BLOCK--SIDE_PANEL--CONTAINER---OPEN {
        background: $SIDE_PANEL--BG--COLOUR---OPENED !important;
        box-shadow: $SIDE_PANEL--BG--SHADOW;
    }

    %CSS_BLOCK--SIDE_PANEL--TITLE {
        @include text(26px, $COLOUR--GREY_CLOUDS, $FONT--WEIGHT---EXTRALIGHT);
    }



/////////////////////////////////////////////////
// TOOL BUTTONS /////////////////////////////////
/////////////////////////////////////////////////

    %CSS_BLOCK--TOOL_BUTTON {
        text-align: center;
        text-transform: uppercase;

        @include text(8px, $TOOL--BUTTON--FONT--COLOUR---NORMAL, $FONT--WEIGHT---NORMAL);
    }

    %CSS_BLOCK--TOOL_BUTTON---MULTI_SELECT {
        color: $TOOL--BUTTON--FONT--COLOUR---OFF;
    }

    %CSS_BLOCK--TOOL_BUTTON---SIDE_PANEL_OPEN {
        color: $TOOL--BUTTON--FONT--COLOUR---OPEN;
    }


    %CSS_BLOCK--TOOL_BUTTON---SIDE_PANEL_OPEN_SELECTED {
        color: $TOOL--BUTTON--FONT--COLOUR---OPEN_SELECTED;
    }



/////////////////////////////////////////////////
// EDIT ENGINE //////////////////////////////////
/////////////////////////////////////////////////

    // TITLE
    %CSS_BLOCK--EDIT_ENGINE--TITLE {
    	@include text(14px, $COLOUR--GREY_CLOUDS, $FONT--WEIGHT---EXTRALIGHT);
    }

    // TAB BUTTONS
    %CSS_BLOCK--EDIT_ENGINE--TAB_BUTTON {
    	padding: 5px 0 5px 5px;

    	@include text(14px, $EDIT_ENGINE--TAB--FONT--COLOUR, $FONT--WEIGHT---EXTRALIGHT);
    }

    %CSS_BLOCK--EDIT_ENGINE--TAB_BUTTON---SELECTED {
    	@include text(14px, $EDIT_ENGINE--TAB--FONT--COLOUR---SELECTED + !important, $FONT--WEIGHT---EXTRALIGHT);
    }

    %CSS_BLOCK--EDIT_ENGINE--TAB_BUTTON---HOVER {
    	@include text(14px, $EDIT_ENGINE--TAB--FONT--COLOUR---SELECTED + !important, $FONT--WEIGHT---EXTRALIGHT);
    }

    %CSS_BLOCK--EDIT_ENGINE--TAB_BUTTON---HOVER_SELECTED {
    	@include text(14px, $EDIT_ENGINE--TAB--FONT--COLOUR---SELECTED_over + !important, $FONT--WEIGHT---EXTRALIGHT);
    }
