/////////////////////////////////////////////////
// THEME VARIABLES //////////////////////////////
/////////////////////////////////////////////////


///////// DEFAULTS

    $default-font:                    $font-1;
    $default-font-size:               14px;
    $default-font-weight:             $normal;
    $default-font-color:              $white-clouds;



///////// COMMON

    $body-bg:                         $rain-clouds;
    $body-bg-multiselect:             $dark-clouds;

///////// HAMBURGER MENU
    $hamburger-bg:                    rgba($jahia-blue, .99);
	$hamburger-title: 				  rgba($white-clouds, .7);

	$hamburger_button_up:			  rgba($white-clouds, .8);
	$hamburger_button_hover:		  $white-clouds;



///////// THUMB WRAPS

    $thumb_label:                  $dark-clouds;
    $thumb_label_background:       rgba($white-clouds, 0.9);

    $thumb_background_up:          transparent;
    $thumb_background_hover:       rgba($grey-clouds, 0.2);
    $thumb_background_selected:    $jahia-blue;


///////// SIDE PANEL

	$side_panel_background:         $transparent;
	$side_panel_background_open:    $white-clouds;
	$side_panel_drop_shadow:        7px 0px 45px rgba($dark-clouds, 0.9);



///////// TOOL BUTTONS

    $tool_color_normal:             $white-clouds;
    $tool_color_open:               $grey-clouds;
    $tool_color_open_selected:      $jahia-blue;
    $tool_color_off:          	    $black-clouds;



///////// ICONS

    $icon_closed_pages:             $icon_pages_white_clouds;
    $icon_closed_create:            $icon_create_white_clouds;
    $icon_closed_content:           $icon_content_white_clouds;
    $icon_closed_files:             $icon_files_white_clouds;
    $icon_closed_search:            $icon_search_white_clouds;
    $icon_closed_taxonomy:          $icon_taxonomy_white_clouds;
    $icon_closed_devices:           $icon_devices_white_clouds;
    $icon_closed_settings:          $icon_settings_white_clouds;

    $icon_open_pages:               $icon_pages_grey_clouds;
    $icon_open_create:              $icon_create_grey_clouds;
    $icon_open_content:             $icon_content_grey_clouds;
    $icon_open_files:               $icon_files_grey_clouds;
    $icon_open_search:              $icon_search_grey_clouds;
    $icon_open_taxonomy:            $icon_taxonomy_grey_clouds;
    $icon_open_devices:             $icon_devices_grey_clouds;
    $icon_open_settings:            $icon_settings_grey_clouds;

    $icon_selected_pages:           $icon_pages_jahia_blue;
    $icon_selected_create:          $icon_create_jahia_blue;
    $icon_selected_content:         $icon_content_jahia_blue;
    $icon_selected_files:           $icon_files_jahia_blue;
    $icon_selected_search:          $icon_search_jahia_blue;
    $icon_selected_taxonomy:        $icon_taxonomy_jahia_blue;
    $icon_selected_devices:         $icon_devices_jahia_blue;
    $icon_selected_settings:        $icon_settings_jahia_blue;

    $icon_off_pages:                $icon_pages_black_clouds;
    $icon_off_create:               $icon_create_black_clouds;
    $icon_off_content:              $icon_content_black_clouds;
    $icon_off_files:                $icon_files_black_clouds;
    $icon_off_search:               $icon_search_black_clouds;
    $icon_off_taxonomy:             $icon_taxonomy_black_clouds;
    $icon_off_devices:              $icon_devices_black_clouds;
    $icon_off_settings:             $icon_settings_black_clouds;

	$app_icon_content_manager:		$app_icon_content_manager_white;
	$app_icon_file_manager:			$app_icon_file_manager_white;
	$app_icon_portlet_manager:		$app_icon_portlet_manager_white;
	$app_icon_repo_explorer:		$app_icon_repo_explorer_white;
	$app_icon_category_manager:		$app_icon_category_manager_white;
	$app_icon_site_manager:			$app_icon_site_manager_white;


///////// COMBOS

    $combo_icon_up:                 $icon_combo_arrow_white_clouds;
    $combo_bg_up:                   rgba($grey-clouds, .4);

    $combo_icon_hover:              $icon_combo_arrow_white_clouds;
    $combo_bg_hover:                rgba($grey-clouds, .7);

///////// CONTEXT MENUS
    $context_bg_up:                 $jahia-blue;
    $context_bg_hover:              lighten($context_bg_up, 5%);
    $context_bg_disabled:           $jahia-blue;

    $context_text_color_up:         $white-clouds;
    $context_text_color_hover:      $white-clouds;
    $context_text_color_disabled:   rgba($context_text_color_up, .7) !important;



///////// TREES

    $row_label: 					$grey-clouds;
    $row_icon: 						$icon_pages_grey_clouds;
	$row_up_background: 			$transparent;

    $row_over_background: 			rgba( $grey-clouds, .1 );
    $row_over_label: 				$black-clouds;
    $row_over_icon: 				$icon_pages_grey_clouds;

    $row_selected_background: 		rgba( $grey-clouds, .7 );
    $row_selected_label: 			$white-clouds;
    $row_selected_icon: 			$icon_pages_white_clouds;

    $row_selected_over_background: 	$grey-clouds;
    $row_selected_over_label: 		$white-clouds;
    $row_selected_over_icon: 		$icon_pages_white_clouds;

	$row_more_options_icon: 				$icon_more_options_grey_clouds;
	$row_more_options_icon_hover: 			$icon_more_options_grey_clouds;
	$row_more_options_icon_selected: 		$icon_more_options_white_clouds;
    $row_more_options_icon_selected_hover: 	$icon_more_options_white_clouds;



///////// FORMS

	$text_input_bg:                 rgba($grey-clouds, .1);
	$text_input_bg_focus:           rgba($grey-clouds, .7);
    $text_input_bg_hover:           rgba($grey-clouds, .3);
	$text_input_color:              $grey-clouds;
	$text_input_color_hover:        $dark-clouds;
    $text_input_color_focus:        $white-clouds;
    $text_input_border:             1px solid transparent;
    $text_input_padding:            3px 40px 3px 5px;
    $text_input_font_weight:        200;
    $text_input_font_size:          12px;
    $text_input_font_family:        $font-1;

    $form_clear_icon_up:            $icon_form_close_white_clouds;
    $form_clear_bg_up:              rgba($grey-clouds, .4);

    $form_clear_icon_hover:         $icon_form_close_white_clouds;
    $form_clear_bg_hover:           rgba($grey-clouds, .7);

    $edit_engine_title:             black;
    $edit_engine_tab:               blue;
    $edit_engine_tab_selected:      green;
    $edit_engine_tab_over:          purple;
    $edit_engine_tab_selected_over: yellow;
    $form_legend:                   aqua;
    $form_label:                    grey;


///////// BUTTONS
	$button_normal_up: 				$jahia-blue;
	$button_normal_hover: 			lighten($jahia-blue, 5%);


///////// DEVICE DEVICES
	$device_details_title: 			$grey-clouds;
	$device_details_label: 			$grey-clouds;
	$device_details_value: 			$grey-clouds;

/////////////////////////////////////////////////
// THEME PLACEHOLDERS ///////////////////////////
/////////////////////////////////////////////////
// Enable the addition of extra styles,        //
// very usefull as sometimes a change in       //
// colour may require a change in font weight  //
// or size, etc ...							   //
/////////////////////////////////////////////////


/* SIDE PANEL */

    %side_paneL_container {
        background: $side_panel_background !important;

    }

    %side_paneL_container_open {
        background: $side_panel_background_open !important;
        box-shadow: $side_panel_drop_shadow;

    }

    %side_paneL_title {
        @include text(26px, $grey-clouds, $extralight);

    }

    %side_paneL_title_site_selector {

    }



/* DOCUMENT TITLE */

    %document_title {
        @include text(16px, $white-clouds, $semilight);
    }

    %multiselect_title {
        color: $white-clouds;


    }







/* MODE COMBO */

    %mode_combo_label {
        text-transform: uppercase;

        @include text(14px, $white-clouds, $semilight);
    }

    %mode_combo_label_multiselect {
        background: url(./images/dx_logo_solid-black.png) no-repeat left 12px center / 20px 20px;

    }



/* TOOL BUTTONS */

    %tool_button_label {
        text-align: center;
        text-transform: uppercase;

        @include text(8px, $tool_color_normal, $normal);
    }

    %tool_button_label_multiselect {
        color: $tool_color_off;

    }

    %tool_button_label_side_panel_open {
        color: $tool_color_open;

    }


    %tool_button_label_side_panel_open_selected {
        color: $tool_color_open_selected;

    }



/* CONTEXT MENUS */

    %context_menu_holder {
        border: none;
        box-shadow: 0 0 10px 0 rgba(49, 49, 49, 0.3);
    }

    %context_menu_item {
        text-align: left!important;

        background: $context_bg_up;
        padding: 8px 9px !important;
        border: none;

        @include text(11px, $context_text_color_up, $semilight);
    }

    %context_menu_item_hover {
        color: $context_text_color_hover;
        background: $context_bg_hover;

    }

    %context_menu_item_disabled {
        color: $context_text_color_disabled;
        font-style: italic;
        opacity: 1;
        background: $context_bg_disabled;

        display: none;

    }

    // Personalised Context Menus
	// You can use these placeholders to personalise each context menu.
	// If left blank then they will assume the default style applied above.

        // Menus available in ALL / MULTIPLE pages
			%context_menu_title--common_hamburger {
				// content: $text_context_menu_hamburger;
			}
			%context_menu_holder--common_hamburger {}
			%context_menu_item--common_hamburger {}
			%context_menu_item_hover--common_hamburger {}
			%context_menu_item_disabled--common_hamburger {}


		// Menus available in Edit Mode
			// Publication
			%context_menu_title--edit_mode_publication {
				content: $text_context_menu_publication_page;

				body[data-multiselect="on"] & {
					content: $text_context_menu_publication_selection;


				}
			}
			%context_menu_holder--edit_mode_publication {}
			%context_menu_item--edit_mode_publication {}
			%context_menu_item_hover--edit_mode_publication {}
			%context_menu_item_disabled--edit_mode_publication {}

			// Preview
			%context_menu_title--edit_mode_preview {
				content: $text_context_menu_preview_page;

				body[data-multiselect="on"] & {
					content: $text_context_menu_preview_selection;

				}

			}
			%context_menu_holder--edit_mode_preview {}
			%context_menu_item--edit_mode_preview {}
			%context_menu_item_hover--edit_mode_preview {}
			%context_menu_item_disabled--edit_mode_preview {}

			// More Info (old Edit button)
			%context_menu_title--edit_mode_more_info {
				content: $text_context_menu_more_info_page;

				body[data-multiselect="on"] & {
					content: $text_context_menu_more_info_selection;

				}
			}
			%context_menu_holder--edit_mode_more_info {}
			%context_menu_item--edit_mode_more_info {}
			%context_menu_item_hover--edit_mode_more_info {}
			%context_menu_item_disabled--edit_mode_more_info {}

			// Mode View
			%context_menu_title--edit_mode_mode_view {
				//content: $text_context_menu_mode_view;
			}
			%context_menu_holder--edit_mode_mode_view {}
			%context_menu_item--edit_mode_mode_view {}
			%context_menu_item_hover--edit_mode_mode_view {}
			%context_menu_item_disabled--edit_mode_mode_view {}

			// User Menu
			%context_menu_title--edit_mode_user_menu {
				//content: $text_context_menu_user_menu;
			}
			%context_menu_holder--edit_mode_user_menu {
			}
			%context_menu_item--edit_mode_user_menu {
			}
			%context_menu_item_hover--edit_mode_user_menu {
			}
			%context_menu_item_disabled--edit_mode_user_menu {

			}

			// Workflow
			%context_menu_title--edit_mode_workflow {
				//content: $text_context_menu_workflow;
			}
			%context_menu_holder--edit_mode_workflow {}
			%context_menu_item--edit_mode_workflow {}
			%context_menu_item_hover--edit_mode_workflow {}
			%context_menu_item_disabled--edit_mode_workflow {}

			// Cache
			%context_menu_title--edit_mode_cache {
				//content: $text_context_menu_cache;
			}
			%context_menu_holder--edit_mode_cache {}
			%context_menu_item--edit_mode_cache {}
			%context_menu_item_hover--edit_mode_cache {}
			%context_menu_item_disabled--edit_mode_cache {}

			// Page Edit Context
			%context_menu_title--edit_mode_page_context {
				content: attr(data-selected-name)
			}
			%context_menu_holder--edit_mode_page_context {}
			%context_menu_item--edit_mode_page_context {}
			%context_menu_item_hover--edit_mode_page_context {}
			%context_menu_item_disabled--edit_mode_page_context {}

			// Side Panel > Pages
			%context_menu_title--edit_mode_side_panel_pages {
				//content: $text_context_menu_side_panel_pages;
			}
			%context_menu_holder--edit_mode_side_panel_pages {}
			%context_menu_item--edit_mode_side_panel_pages {}
			%context_menu_item_hover--edit_mode_side_panel_pages {}
			%context_menu_item_disabled--edit_mode_side_panel_pages {}

			// Side Panel > Content > Tree
			%context_menu_title--edit_mode_side_panel_content_tree {
				//content: $text_context_menu_side_panel_content_tree;
			}
			%context_menu_holder--edit_mode_side_panel_content_tree {}
			%context_menu_item--edit_mode_side_panel_content_tree {}
			%context_menu_item_hover--edit_mode_side_panel_content_tree {}
			%context_menu_item_disabled--edit_mode_side_panel_content_tree {}

			// Side Panel > Content > Item
			%context_menu_title--edit_mode_side_panel_content_item {
				//content: $text_context_menu_side_panel_content_item;
			}
			%context_menu_holder--edit_mode_side_panel_content_item {}
			%context_menu_item--edit_mode_side_panel_content_item {}
			%context_menu_item_hover--edit_mode_side_panel_content_item {}
			%context_menu_item_disabled--edit_mode_side_panel_content_item {}

			// Side Panel > File > Tree
			%context_menu_title--edit_mode_side_panel_file_tree {
				//content: $text_context_menu_side_panel_file_tree;
			}
			%context_menu_holder--edit_mode_side_panel_file_tree {}
			%context_menu_item--edit_mode_side_panel_file_tree {}
			%context_menu_item_hover--edit_mode_side_panel_file_tree {}
			%context_menu_item_disabled--edit_mode_side_panel_file_tree {}

			// Side Panel > File > Item
			%context_menu_title--edit_mode_side_panel_file_item {
				//content: $text_context_menu_side_panel_file_item;
			}
			%context_menu_holder--edit_mode_side_panel_file_item {}
			%context_menu_item--edit_mode_side_panel_file_item {}
			%context_menu_item_hover--edit_mode_side_panel_file_item {}
			%context_menu_item_disabled--edit_mode_side_panel_file_item {}

			// Side Panel > Search
			%context_menu_title--edit_mode_side_panel_search_item {
				//content: $text_context_menu_side_panel_search;
			}
			%context_menu_holder--edit_mode_side_panel_search_item {}
			%context_menu_item--edit_mode_side_panel_search_item {}
			%context_menu_item_hover--edit_mode_side_panel_search_item {}
			%context_menu_item_disabled--edit_mode_side_panel_search_item {}

			// Side Panel > Taxonomy
			%context_menu_title--edit_mode_side_panel_taxonomy_item {
				//content: $text_context_menu_side_panel_taxonomy;
			}
			%context_menu_holder--edit_mode_side_panel_taxonomy_item {}
			%context_menu_item--edit_mode_side_panel_taxonomy_item {}
			%context_menu_item_hover--edit_mode_side_panel_taxonomy_item {}
			%context_menu_item_disabled--edit_mode_side_panel_taxonomy_item {}

		// Menus available in Admin Mode
			// User Menu
			%context_menu_title--admin_mode_user_menu {
				content: $text_context_menu_admin_user_name;
			}
			%context_menu_holder--admin_mode_user_menu {
				@extend %context_menu_holder--edit_mode_user_menu !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item--admin_mode_user_menu {
				@extend %context_menu_item--edit_mode_user_menu !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item_hover--admin_mode_user_menu {
				@extend %context_menu_item_hover--edit_mode_user_menu !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item_disabled--admin_mode_user_menu {
				@extend %context_menu_item_disabled--edit_mode_user_menu !optional; // Apply same style as Edit Mode version
			}

			// Mode View
			%context_menu_title--admin_mode_mode_view {
				content: $text_context_menu_admin_mode_view;
			}
			%context_menu_holder--admin_mode_mode_view {
				@extend %context_menu_holder--admin_mode_mode_view !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item--admin_mode_mode_view {
				@extend %context_menu_item--admin_mode_mode_view !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item_hover--admin_mode_mode_view {
				@extend %context_menu_item_hover--admin_mode_mode_view !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item_disabled--admin_mode_mode_view {
				@extend %context_menu_item_disabled--admin_mode_mode_view !optional; // Apply same style as Edit Mode version
			}



		// Menus available in Dashboard Mode
			// User Menu
			%context_menu_title--dashboard_mode_user_menu {
				content: $text_context_menu_dashboard_user_name;
			}
			%context_menu_holder--dashboard_mode_user_menu {
				@extend %context_menu_holder--edit_mode_user_menu !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item--dashboard_mode_user_menu {
				@extend %context_menu_item--edit_mode_user_menu !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item_hover--dashboard_mode_user_menu {
				@extend %context_menu_item_hover--edit_mode_user_menu !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item_disabled--dashboard_mode_user_menu {
				@extend %context_menu_item_disabled--edit_mode_user_menu !optional; // Apply same style as Edit Mode version
			}

		// Mode View
			%context_menu_title--dashboard_mode_mode_view {
				content: $text_context_menu_dashboard_mode_view;
			}
			%context_menu_holder--dashboard_mode_mode_view {
				@extend %context_menu_holder--edit_mode_mode_view !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item--dashboard_mode_mode_view {
				@extend %context_menu_item--edit_mode_mode_view !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item_hover--dashboard_mode_mode_view {
				@extend %context_menu_item_hover--edit_mode_mode_view !optional; // Apply same style as Edit Mode version
			}
			%context_menu_item_disabled--dashboard_mode_mode_view {
				@extend %context_menu_item_disabled--edit_mode_mode_view !optional; // Apply same style as Edit Mode version
			}

			// _common.scss uses this list to generate personalised menus according to placeholders above.
			// If placeholders are empty then no classes are created.
			// There is no need to edit this list.
			// If you want to remove a personalised context menu then just empty the styling of the place holder above.

			$personalised_context_menus: (
				// COMMON MENUS
				(".menu-editmode-managers-menu",    common_hamburger),

				// EDIT MODE MENUS
				(".menu-edit-menu-publication",     edit_mode_publication),
				(".menu-edit-menu-view",      		edit_mode_preview),
				(".menu-edit-menu-edit",      		edit_mode_more_info),
				(".menu-edit-menu-mode",      		edit_mode_mode_view),
				(".menu-edit-menu-user",      		edit_mode_user_menu),
				(".menu-edit-menu-workflow",      	edit_mode_workflow),
				(".menu-edit-menu-cache",      		edit_mode_cache),
				(".editModeContextMenu",      		edit_mode_page_context),
				(".pagesContextMenu",      			edit_mode_side_panel_pages),
				(".contentTreeContextMenu",      	edit_mode_side_panel_content_tree),
				(".contentTableContextMenu",      	edit_mode_side_panel_content_item),
				(".filesTreeContextMenu",      		edit_mode_side_panel_file_tree),
				(".filesTableContextMenu",      	edit_mode_side_panel_file_item),
				(".searchTableContextMenu",      	edit_mode_side_panel_search_item),
				(".categoriesTableContextMenu",     edit_mode_side_panel_taxonomy_item),

				//ADMIN MODE MENUS
				(".menu-admin-menu-user",      		admin_mode_user_menu),
				(".menu-admin-menu-mode",      		admin_mode_mode_view),

				// DASHBOARD MENUS
				(".menu-dashboard-menu-user",      	dashboard_mode_user_menu),
				(".menu-dashboard-menu-mode",      	dashboard_mode_mode_view)
			);




/* COMBO MENUS */

    %combo_arrow_up {
        background: no-repeat center center;
        background-color: $combo_bg_up !important;
        background-image: url($combo_icon_up);
    }

    %combo_arrow_hover {
        background-color: $combo_bg_hover !important;
        background-image: url($combo_icon_hover);
    }



/* FORMS */

    %form_label {
        padding: 0!important;
		margin-bottom: 3px;
    	margin-top: 10px;

        @include text(11px, $dark-clouds, $semilight);
    }

	%text_input {
        background: $text_input_bg;
        padding: $text_input_padding;
        border: $text_input_border;

		transition: all 0.15s ease-in 0s;

        @include text($text_input_font_size, $text_input_color, $text_input_font_weight, $text_input_font_family);
    }

	%text_input_hover {
        background: $text_input_bg_hover;
        color: $text_input_color_hover;
    }

	%text_input_focus {
        background: $text_input_bg_focus;
		color: $text_input_color_focus;
    }

	%combo_input {
        padding: $text_input_padding !important;
        border: $text_input_border;

		font-family: $text_input_font_family;
		font-size: $text_input_font_size;
		font-weight: $text_input_font_weight;
    }

	%form_button {
        background: $button_normal_up;
        border:none;
        padding: 5px 15px!important;

        @include text(11px, $white-clouds, $semilight);
    }

	%form_button_hover {
        background: $button_normal_hover;

    }

    %form_clear_up {
        background: no-repeat center center;
        background-color: $form_clear_bg_up !important;
        background-image: url($form_clear_icon_up);
		background-size: 45%;
    }

    %form_clear_hover {
        background-color: $form_clear_bg_hover !important;
        background-image: url($form_clear_icon_hover);
    }

    %edit_engine_title {
    	@include text(16px, $edit_engine_tab, $extralight);
    }

    %edit_engine_tab {
    	padding: 5px 10px;

    	@include text(16px, $edit_engine_tab, $normal);
    }

    %edit_engine_tab_selected {
    	@include text(16px, $edit_engine_tab_selected + !important, $normal);
    }

    %edit_engine_tab_over {
    	@include text(16px, $edit_engine_tab_over + !important, $normal);

    }

    %edit_engine_tab_selected_over {
    	@include text(16px, $edit_engine_tab_selected_over + !important, $normal);

    }

    %form_legend {
    	padding: 0;

    	@include text(12px, $form_legend, $extralight);
    }

    %form_label {

    	@include text(12px, $form_label, $bold);
    }



    %action_bar_button_text {
    	background: pink;
    	padding: 5px 10px;
    	@include text(16px, red, $extralight);
    }

    %action_bar_button_text_over {
    	background: red;
    	padding: 5px 10px;
    	@include text(16px, white, $extralight);
    }

    %action_bar_button_icon {
    	background: orange;
    	padding: 5px 10px 5px 29px;
    	@include text(16px, red, $extralight);

    	img {
    		left: 5px!important;
    	}
    }



    %action_bar_button_icon_over {
    	background: yellow;
    	padding: 5px 10px 5px 29px;
    	@include text(16px, black, $extralight);

    	img {
    		left: 5px!important;
    	}
    }



    %form_button_text {
    	background: white;
    	padding: 5px 10px;
    	@include text(16px, black, $extralight);
    }

    %form_button_text_hover {
    	background: black;
    	padding: 5px 10px;
    	@include text(16px, white, $extralight);
    }

    %form_button_icon {
    	background: orange;
    	padding: 5px 10px 5px 29px;
    	@include text(16px, red, $extralight);

    	img {
    		left: 5px!important;
    	}
    }

    %form_button_icon_hover {
    	background: yellow;
    	padding: 5px 10px 5px 29px;
    	@include text(16px, red, $extralight);

    	img {
    		left: 5px!important;
    	}
    }





/* TREES */

    /* Labels */
    %tree_line_text_up {
        @include text(12px, $row_label, $extralight);
        xpadding: 7px 0 0 !important;
    }

    %tree_line_text_hover {
        color: $row_over_label!important;

		// Padding not dealt with in best manner ...
		padding-right: 19px!important; // Make space for More options button

		.x-viewport-adminmode & {
			padding-right: 0!important; // Make space for More options button

		}
    }

    %tree_line_text_selected {
        color: $row_selected_label!important;
		padding-right: 19px!important; // Make space for More options button

		.x-viewport-adminmode & {
			padding-right: 0!important; // Make space for More options button

		}

    }

    %tree_line_text_selected_hover {
        color: $row_selected_over_label!important;

    }

    /* Backgrounds */
    %tree_line_bg_up {
        background: $row_up_background!important;
    }

    %tree_line_bg_hover {
        background: $row_over_background!important;
    }

    %tree_line_bg_selected {
        background-color: $row_selected_background!important;
    }

    %tree_line_bg_selected_hover {
        background: $row_selected_over_icon!important;
    }

	// Personalised Tree Icons
	// You can use these placeholders to personalise each trees icons.
	// If left blank then they will assume GWT original icons.

	// Pages Tree Icons
		%tree_line_icon_up--pages {
			background-image: url($row_icon);
			background-size: 23px 23px;
			background-repeat: no-repeat;
			padding-left: 23px;
			width: 23px;
			height: 23px;
		}

		%tree_line_icon_hover--pages {
			background-image: url($row_over_icon) !important;
		}

		%tree_line_icon_selected--pages {
			background-image: url($row_selected_icon) !important;
		}

		%tree_line_icon_selected_hover--pages {
			background-image: url($row_selected_icon) !important;
		}

	// Create Tree Icons
		%tree_line_icon_up--create {}
		%tree_line_icon_hover--create {}
		%tree_line_icon_selected--create {}
		%tree_line_icon_selected_hover--create {}

	// Content Tree Icons
		%tree_line_icon_up--content {}
		%tree_line_icon_hover--content {}
		%tree_line_icon_selected--content {}
		%tree_line_icon_selected_hover--content {}

	// Files Tree Icons
		%tree_line_icon_up--files {}
		%tree_line_icon_hover--files {}
		%tree_line_icon_selected--files {}
		%tree_line_icon_selected_hover--files {}

	// Taxonomy Tree Icons
		%tree_line_icon_up--taxonomy {}
		%tree_line_icon_hover--taxonomy {}
		%tree_line_icon_selected--taxonomy {}
		%tree_line_icon_selected_hover--taxonomy {}

	$personalised_trees: (
		("#JahiaGxtPagesTab",    			pages),
		("#JahiaGxtCreateContentTab",    	create),
		("#JahiaGxtContentBrowseTab",    	content),
		("#JahiaGxtFileImagesBrowseTab",    files),
		("#JahiaGxtCategoryBrowseTab",    	taxonomy),


	);


/* THUMB WRAPS */

    %thumb_label {
        background: $thumb_label_background;
        text-align: center;
        padding: 3px 10px;

        @extend %ellipsis_overflow;
        @include text(10px, $thumb_label, $bold);
    }

    %thumb_up {
        background: $thumb_background_up;

    }

    %thumb_hover {
        background: $thumb_background_hover;

    }

    %thumb_selected {
        background: $thumb_background_selected;

    }
