/////////////////////////////////////////////////
// COLOURS //////////////////////////////////////
/////////////////////////////////////////////////


///////// MAIN COLOURS

	$shuttle-gray: #5c6164; // main background
	$nevada-gray: #646b6f;  // secondary background
	$concrete-gray: #f2f2f2;  // light background (left menu panel)
	$jahia-blue: #00a0e3;
	$white: #ffffff;

	$transparent: transparent;

	$white-clouds: #F1F1F1;
	$grey-clouds: #7a7e80;
	$rain-clouds: #5c6164;
	$dark-clouds: #282b2d;
	$black-clouds: #1d1d1d;

///////// SECONDARY COLOURS

	$harlequin-green: #46e202;
	$blaze-orange: #fe7100;
	$botticelli-gray: #d9e8ef;
	$rollingstone-gray: #72797d;
	$oslo-gray: #919497;  // menu icons color
	$gallery-gray: #eeeeee;
	$mineshaft-gray: #313131;
	$cod-gray: #1d1d1d;

	$test-purple: purple;
	$test-pink: pink;

	$dark-green: 		#04bd04;


///////// PUBLICATION COLOURS
	$conflict: 							yellow;
	$deleted: 							black;
	$live-modified: 					orange;
	$live-only: 						orange;
	$locked: 							yellow;
	$mandatory-language-unpublishable: 	orange;
	$mandatory-language-valid:			green;
	$marked-for-deletion:				red;
	$modified: 							orange;
	$multiple-wf:						orange;
	$not-published: 					orange;
	$one-wf: 							orange;
	$published: 						green;
	$unpublished: 						grey;
	$waiting: 							white;
	$work-in-progress:					orange;


/////////////////////////////////////////////////
// ICONS ////////////////////////////////////////
/////////////////////////////////////////////////


///////// MORE OPTIONS
	$icon_more_options_white_clouds:     "./images/icon-more-options-light.png";
	$icon_more_options_grey_clouds:     "./images/icon-more-options-dark-50@X2.png";
	$icon_combo_arrow_white_clouds:     "./images/icons/combo-arrow.png";
	$icon_form_close_grey_clouds:     "./images/icons/icon-close-small-light.png";
	$icon_form_close_white_clouds:     "./images/icons/icon-close-white@X2.png";


///////// DEVICES
	$icon_device_generic: 				"./images/devices/devices-generic-large.png";
	$icon_device_iphone: 				"./images/devices/devices-iphone-small.png";
	$icon_device_galaxy_s4: 			"./images/devices/devices-galaxy-s4-small.png";
	$icon_device_galaxy_tab7: 			"./images/devices/devices-galaxy-tab-3-small.png";
	$icon_device_android: 				"./images/devices/devices-android-small.png";
	$icon_device_blackberry: 			"./images/devices/devices-blackberry-storm-small.png";
	$icon_device_galaxy_note: 			"./images/devices/devices-galaxy-note-3-small.png";
	$icon_device_kindle: 				"./images/devices/devices-kindle-fire-small.png";
	$icon_device_ipad: 					"./images/devices/devices-apple-ipad-small.png";
	$icon_device_galaxy_tab_small: 		"./images/devices/devices-galaxy-tab-3-small.png";


///////// PAGES
	$icon_pages_white_clouds:     "./images/tabs-pages-white@X2.png";
	$icon_pages_grey_clouds:      "./images/tabs-pages-dark@X2.png";
	$icon_pages_jahia_blue:       "./images/tabs-pages-blue@X2.png";
	$icon_pages_black_clouds:     "./images/tabs-pages-black@X2.png";

///////// CREATE
	$icon_create_white_clouds:    "./images/tabs-create-white@X2.png";
	$icon_create_grey_clouds:     "./images/tabs-create-dark@X2.png";
	$icon_create_jahia_blue:      "./images/tabs-create-blue@X2.png";
	$icon_create_black_clouds:    "./images/tabs-create-black@X2.png";

///////// CONTENT
	$icon_content_white_clouds:   "./images/tabs-content-white@X2.png";
	$icon_content_grey_clouds:    "./images/tabs-content-dark@X2.png";
	$icon_content_jahia_blue:     "./images/tabs-content-blue@X2.png";
	$icon_content_black_clouds:   "./images/tabs-content-black@X2.png";

///////// FILE
	$icon_files_white_clouds:     "./images/tabs-files@X2.png";
	$icon_files_grey_clouds:      "./images/tabs-files-dark@X2.png";
	$icon_files_jahia_blue:       "./images/tabs-files-blue@X2.png";
	$icon_files_black_clouds:     "./images/tabs-files-black@X2.png";

///////// SEARCH
	$icon_search_white_clouds:    "./images/tabs-search-white@X2.png";
	$icon_search_grey_clouds:     "./images/tabs-search-dark@X2.png";
	$icon_search_jahia_blue:      "./images/tabs-search-blue@X2.png";
	$icon_search_black_clouds:    "./images/tabs-search-black@X2.png";

///////// TAXONOMY
	$icon_taxonomy_white_clouds:  "./images/tabs-taxonomy-white@X2.png";
	$icon_taxonomy_grey_clouds:   "./images/tabs-taxonomy-dark@X2.png";
	$icon_taxonomy_jahia_blue:    "./images/tabs-taxonomy-blue@X2.png";
	$icon_taxonomy_black_clouds:  "./images/tabs-taxonomy-black@X2.png";

///////// DEVICES
	$icon_devices_white_clouds:   "./images/tabs-devices-white@X2.png";
	$icon_devices_grey_clouds:    "./images/tabs-devices-dark@X2.png";
	$icon_devices_jahia_blue:     "./images/tabs-devices-blue@X2.png";
	$icon_devices_black_clouds:   "./images/tabs-devices-black@X2.png";

///////// SETTINGS
	$icon_settings_white_clouds:  "./images/tabs-settings-white@X2.png";
	$icon_settings_grey_clouds:   "./images/tabs-settings-dark@X2.png";
	$icon_settings_jahia_blue:    "./images/tabs-settings-blue@X2.png";
	$icon_settings_black_clouds:  "./images/tabs-settings-black@X2.png";


///////// APPS
	$app_icon_content_manager_white: 	"./images/dx_logo_inverted.png";
	$app_icon_file_manager_white: 		"./images/dx_logo_inverted.png";
	$app_icon_portlet_manager_white: 	"./images/dx_logo_inverted.png";
	$app_icon_repo_explorer_white: 		"./images/dx_logo_inverted.png";
	$app_icon_category_manager_white: 	"./images/dx_logo_inverted.png";
	$app_icon_site_manager_white: 		"./images/dx_logo_inverted.png";



/////////////////////////////////////////////////
// FONTS ////////////////////////////////////////
/////////////////////////////////////////////////


///////// FACES

	$font-1: 'Nunito Sans', sans-serif;

///////// WEIGHTS

	$extralight: 100;
	$semilight: 200;
	$light: 300;
	$normal: 400;
	$semibold: 500;
	$bold: 700;
	$extrabold: 800;



///////// ZINDEXES
	/*

	Previous Values, delete once sure no problems ...

	$zindex_mainmodule:                     999;											3
	$zindex_mainmodule_header:              999999999 !important;							9 important
	$zindex_mainmodule_actions_menu:        9999999999;										10
	$zindex_mainmodule_path_container:      999 !important;									3 important
	$zindex_mainmodule_language_switcher:   999999999;										9

	$zindex_combo_list:                     99999999999 !important;							11 important
	$zindex_context_menu:                   99999999999 !important;							11 important
	$zindex_context_menu_title:             99999999999999;									14

	$zindex_thumb_details:                  9;												1
	$zindex_hamburger_title:                999;											3

	$zindex_window_side_panel:              99999 !important;								5 important
	$zindex_window_side_panel_header:       99999 !important;								5 important
	$zindex_window_side_panel_body:       	999;											3
	$zindex_window_side_panel_container:    99;												2
	$zindex_window_side_panel_container_2:    999999;										6
	$zindex_window_side_panel_close_capture_mask:    99;									2
	$zindex_window_side_panel_search_tab_actions:    999;									3

	$zindex_edit_engine_panel:              999999 !important;								6

	$zindex_modal_mask:                     9999999999 !important;							10 important

	$zindex_toolbar_container: 				999999 !important;								6
	$zindex_toolbar_container_2:			999999;											6

	$zindex_mode_menu_context_menu: 		999999;											6
	$zindex_mode_menu_context_menu_label: 	1 !important;									1

	$zindex_hamburger_menu_button: 			999999999;										9

	$zindex_action_bar_container: 			999999 !important;								6

	$zindex_iframe_container: 				9999;											4*/

	$zindex_mainmodule:                     30;
	$zindex_mainmodule_header:              90 !important;
	$zindex_mainmodule_actions_menu:        100;
	$zindex_mainmodule_path_container:      30 !important;
	$zindex_mainmodule_language_switcher:   90;

	$zindex_combo_list:                     1100 !important;
	$zindex_context_menu:                   1100 !important;
	$zindex_context_menu_title:             140;

	$zindex_thumb_details:                  10;
	$zindex_hamburger_title:                30;

	$zindex_window_side_panel:              50 !important;
	$zindex_window_side_panel_header:       50 !important;
	$zindex_window_side_panel_body:       	30;
	$zindex_window_side_panel_container:    20;
	$zindex_window_side_panel_container_2:    60;
	$zindex_window_side_panel_close_capture_mask:    20;
	$zindex_window_side_panel_search_tab_actions:    30;

	$zindex_edit_engine_panel:              200 !important;

	$zindex_modal_mask:                     100 !important;

	$zindex_toolbar_container: 				60 !important;
	$zindex_toolbar_container_2:			60;

	$zindex_mode_menu_context_menu: 		60;
	$zindex_mode_menu_context_menu_label: 	1 !important;

	$zindex_hamburger_menu_button: 			90;

	$zindex_action_bar_container: 			60 !important;

	$zindex_iframe_container: 				40;
