
/*======= Colors =======*/


/* Main colors */

$shuttle-gray: #5c6164; // main background
$nevada-gray: #646b6f;  // secondary background
$concrete-gray: #f2f2f2;  // light background (left menu panel)
$jahia-blue: #00a0e3;
$white: #ffffff;


/* Secondary colors */

$harlequin-green: #46e202;
$blaze-orange: #fe7100;
$botticelli-gray: #d9e8ef;
$rollingstone-gray: #72797d;
$oslo-gray: #919497;  // menu icons color
$gallery-gray: #eeeeee;
$mineshaft-gray: #313131;


/* Setting page colors */

$body-bg: $shuttle-gray;



/*======= Fonts =======*/


/* Font families */

$font-1: 'Nunito Sans', sans-serif;


/* Font weights */

$extralight: 100;
$semilight: 200;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
