<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="org.jahia.services.content.rules.RulesNotificationService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.jahia.services.content.rules.RulesNotificationService" />
    </bean>
    
    <bean id="sitePublisherSubscriber" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.jahia.services.atmosphere.service.PublisherSubscriberService" />
    </bean>
    
    <bean id="scriptEngineUtils" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.jahia.utils.ScriptEngineUtils" />
    </bean>

    <bean id="HttpClientService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.jahia.services.notification.HttpClientService" />
    </bean>
</beans>
