/******************************************************************************
* WIKI form
******************************************************************************/
#bodywrapper .formWiki {
	margin:1em 0;
}
#bodywrapper .formWiki p{
	margin:0.5em 0;
	padding:0;
}
#bodywrapper .formWiki fieldset {
	border:none	
}
#bodywrapper .formWiki legend {
	display:none	
}
#bodywrapper .formWiki label {
display:block
}
#bodywrapper .formWiki input, #bodywrapper .formWiki textarea {
	width:98%;
	clear:both
}
#bodywrapper .formWiki input.button{
	width:auto
}
/******************************************************************************
* WIKI Search
******************************************************************************/
#bodywrapper #wikisearch p{
	margin:0;
	padding:0;
}
#bodywrapper #wikisearch fieldset {
	padding:0 ;
	border:none;
}
#bodywrapper #wikisearch .search{
	width:90%
}
/******************************************************************************
* WIKI textarea
******************************************************************************/
#bodywrapper.textareawiki {
	width:90%
}

/******************************************************************************
* special Links
******************************************************************************/
#bodywrapper  a.external{
	padding:0 13px 0 0;
	background:transparent url(img/external.png) no-repeat scroll right center;
}
#bodywrapper  a.wikidef{
	padding:0 13px 0 0;
	background:transparent url(img/wikidef.png) no-repeat scroll right center;
}
#bodywrapper  a.wikidef-new{
	padding:0 13px 0 0;
	background:transparent url(img/wikidef-new.png) no-repeat scroll right center;
}

/******************************************************************************
* listwiki Arrow
******************************************************************************/
#bodywrapper ul.listwiki  {
	margin:5px 0;
	position:relative;
	list-style:none;
}
#bodywrapper .listwiki li {
	background: url(img/wiki-arrow.png) no-repeat 0 5px;
	padding:0 0 0 12px;
	clear:left;
	list-style:none;
}
/******************************************************************************
*  boxwiki
******************************************************************************/
#bodywrapper div.boxwiki {
	position:relative;
	clear:both;
}

#bodywrapper div.boxwiki h3.boxwikititleh3 {
	margin:0;
	padding:0;
	display:inline
}
#bodywrapper div.boxwiki-inner {
	background-color:#fff;
	border:1px solid #cecece;
	height:1%;

}
#bodywrapper div.boxwiki-inner p {
	padding:0px 0px 10px 0px;
}
#bodywrapper .boxwiki-inner .boxwiki-inner-border {
	border:1px solid #fff;
	height:1%;
	background-color:#fff;
}
/*boxwikishadow*/
#bodywrapper div.boxwikishadow {
	border:1px solid #cecece;
}

#bodywrapper div.boxwikishadow div.boxwiki-inner {
	background-color:#fff;
	border:1px solid #cecece;
	margin:-2px 0 0 -2px;
}
/*boxwiki color*/
#bodywrapper .boxwikigrey .boxwiki-inner .boxwiki-inner-border {
	background-color:#e1e1e1
}
#bodywrapper .boxwikiyellow .boxwiki-inner .boxwiki-inner-border {
	background-color:#FCF0BA
}
#bodywrapper .boxwikiwhite .boxwiki-inner {
	background-color:#fff
}
#bodywrapper .boxwikiwhite .boxwiki-inner .boxwiki-inner-border {
	background-color:#fff
}

/*boxwiki padding*/
#bodywrapper .boxwikipadding16 .boxwiki-inner .boxwiki-inner-border {
	padding:16px;
}

/*boxwiki margin*/
#bodywrapper .boxwikimarginbottom16{
	margin-bottom:16px;
}
/*boxwiki title*/
#bodywrapper h4.boxwiki-title {
	background:#666666 url(img/boxwiki-h4title.png) repeat-x top right;
	border:1px solid #666666;
	color:#fff;
	font-size:1.3em;
	margin-left:0;
	padding:5px;
	text-align:center;
	font-weight:normal;
	clear:both;
	margin:0;
}

/******************************************************************************
* Menu simple
******************************************************************************/
#bodywrapper ul#menuwiki  {
	list-style:none;
	margin:0;
	padding:0;
	text-align:left;
	margin-bottom:10px;
	background:#efefef;
	border-bottom:1px solid #CCCCCC;
}
#bodywrapper ul#menuwiki  li{
	list-style:none;
	margin:0;
	padding:0;
	height:1%
}

/*Links*/
#bodywrapper ul#menuwiki a,
#bodywrapper ul#menuwiki a:visited {
	text-decoration:none;
	padding:5px;
	display:block;
	background:none;
	height:1%
}

#bodywrapper ul#menuwiki ul.submenu a:hover{
	background-color:#BBDDEE; 
	color:#333;
}


#bodywrapper ul#menuwiki .menuwikitop{
	border:1px solid #CECECE;
	border-width:0 1px;
	overflow:hidden;
	background:#dddddd;
}

/*Header Links*/
#bodywrapper ul#menuwiki .menuwikitop a{
	margin:0 0 1px 0;
	border-top:1px solid white;
}
#bodywrapper ul#menuwiki ul.submenu a{
	border-top:none;
}
#bodywrapper ul#menuwiki ul.submenu {
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	margin:0;
	padding:0;
	background-color:#efefef
}

/*Header Link Hover*/
#bodywrapper ul#menuwiki .menuwikitop a:hover{
	color:#333;
}
