/******************************************************************************
*  userDetails full
******************************************************************************/
#bodywrapper .user-body {
	margin-left:180px;
}
#bodywrapper .user-body p  {
	margin:0;
	padding:0 0 0.2em 0;
}
#bodywrapper .aboutMe{
	clear:both
}
#bodywrapper .user-label{
	font-weight:bold
}
#bodywrapper .user-profile .divButtonRight{
	margin-bottom:1em;
}
/******************************************************************************
*  userMyContentList
******************************************************************************/

#bodywrapper .userMyContentList ul {
	position:relative;
	margin:0;
	margin-bottom:20px;
	list-style:none;
	border:1px solid #ccc;
	padding:0
}
#bodywrapper .userMyContentList li {
	background-color:#e1e1e1;
	border-color:#fff #fff #ccc ;
	border-style:solid;
	border-width:1px;
	padding:2px 5px;
	margin:0;
	list-style:none
}
#bodywrapper .userMyContentList li p {
	padding:0;
}
#bodywrapper .userMyContentList li:last-child {
	border-bottom-color:#fff;
}
#bodywrapper .userMyContentList li:hover{
	background-color:#eaeaea
}
#bodywrapper .userMyContentList ul a,
#bodywrapper .userMyContentList ul a:link,
#bodywrapper .userMyContentList ul a:visited {
	text-decoration: none;
}
#bodywrapper .userMyContentList ul a:hover,
#bodywrapper .userMyContentList ul a:active {
	text-decoration:underline;
}
#bodywrapper a.userMyContentListIcon {
	background:transparent url(img/content.png) no-repeat scroll 0.2em 0;
	padding-left:24px;
}

