#bodywrapper #pageTop {
	background:transparent url(../img/ie6/bg-pagetop.gif) no-repeat top left;
}

#bodywrapper #footer {
	background:transparent url(../img/ie6/bg-footer.gif) no-repeat bottom	 left;
}
#bodywrapper .containerDataContent {
	background:transparent url(../img/ie6/containerDataContent.gif) repeat-y top left;
}
#bodywrapper .containerDataContent2 {
	background:transparent url(../img/ie6/containerDataContent2.gif) repeat-y top left;
}
#bodywrapper .containerDataContent3 {
	background:transparent url(../img/ie6/containerDataContent3.gif) repeat-y top left;
}
#bodywrapper .containerDataContent4 {
	background:transparent url(../img/ie6/containerDataContent4.gif) repeat-y top left;
}