html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}

img,body,html{border:0;}

/******************************************************************************
* Shortcuts list
******************************************************************************/

#Shortcutsadmin a:link,
#Shortcutsadmin a:visited
{
	display:block; 
	padding:5px;
	border-bottom:1px solid #eaeaea;
	font-weight:bold;
}
#Shortcutsadmin a:hover,
#Shortcutsadmin a:active {
	text-decoration:none;
	color:#fff;
	background-color:#0099FF
}

/******************************************************************************
* Body
******************************************************************************/
.gwt-body-edit {
	background-color:#fff;
}
body {
	background-color:#fff;
	color:#333;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:81.3%;
}
.bodywrapper {}
/******************************************************************************
* Utils
******************************************************************************/
.collapsible {
	display:none;
}
.bodywrapper .clear {
	clear:both;
}
.bodywrapper .clearitem 	{
	clear:both;
}
.bodywrapper br.clear {
	clear:both;
	font-family: Arial, Helvetica, sans-serif;
	line-height:0px;	/* no height ! */
	font-size:0px;
}
.bodywrapper .hide, .bodywrapper .hidden {
	display:none;
}

.bodywrapper .floatright {
	float:right;
	position:relative;
	margin: 5px;
}
.bodywrapper .floatleft {
	float:left;
	position:relative;
	margin: 5px;
}

.bodywrapper .leftside{
	float:left;
	position:relative;
}
.bodywrapper .rightside{
	float: right;
	position:relative;
}
.bodywrapper .clearMaringPadding{
	padding:0;
	margin:0;
}
/******************************************************************************
*  Float Right List for ordered or unordered links list
******************************************************************************/
.bodywrapper .FloatRightList ul {
	text-align:right;
	list-style:none;
	margin:0;
	padding:0;
}

.bodywrapper .FloatRightList li {
	list-style:none;
	padding-left:1em;
	display:inline;
	line-height:125%
}
/******************************************************************************
* list Arrow
******************************************************************************/
.bodywrapper ul.arrowList, .arrowList ul {
	margin:5px 0;
	position:relative;
	list-style:none;
}
.bodywrapper .arrowList li {
	background: url(img/arrow.png) no-repeat 0 2px;
	padding:0 0 0 12px;
	clear:left;
	list-style:none;
}
/******************************************************************************
*  Hilight List
******************************************************************************/

.bodywrapper .hilightList ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	border-bottom:none;
}
.bodywrapper .hilightList li {
	list-style-type:none;
	margin:0;
	padding:0;
}
.bodywrapper .hilightList li a,
.bodywrapper .hilightList li a:link,
.bodywrapper .hilightList li a:visited
{
	border-bottom:1px solid #ccc;
	padding:0.2em 0.5em;
	display:block;
	text-decoration:none;
	color:#333;
}
.bodywrapper .hilightList li a:hover,
.bodywrapper .hilightList li a:active {
	text-decoration:none;
	color:#0099ff;
	background-color:#eaeaea
}

/******************************************************************************
*  header
******************************************************************************/
.bodywrapper #header{
	background-color:#333;
	padding-top:4px;
	padding-bottom:4px;
	position:relative;
	z-index:900;
	width:100%;
}
.bodywrapper #header h3 {
	font-size:1.364em;
	padding-bottom:0.5em;
	padding-top:0.5em;
	float:right;
	color:#FFF;
}
/******************************************************************************
*  content
******************************************************************************/
.bodywrapper #content{
	padding-top:15px;
	padding-bottom:15px;
	position:relative;
	z-index:700;
	width:100%;
	background-color: #fff;
	min-height:250px;
}
/******************************************************************************
*  footer
******************************************************************************/
.bodywrapper #footer{
	position:relative;
	z-index:500;
	width:100%;
	padding-top:5px;
	color:#ccc;
}
.bodywrapper #footer p {
	font-size:0.85em;
	text-transform:capitalize;
	padding:0.2em 0 0.2em 0;
}
.bodywrapper #footer p.footerText {
	font-style:italic;
	padding:0.2em 0 2em 0;
	color:#ccc
}
.bodywrapper #footer a,
.bodywrapper #footer a:link,
.bodywrapper #footer a:visited {
	color:#ccc;
	text-decoration:none;
	line-height:160%;
}
.bodywrapper #footer a:hover,
.bodywrapper #footer a:active {
	color:#ccc;
	text-decoration:underline;
}

/******************************************************************************
*  general
******************************************************************************/
.bodywrapper img 			{ border: 0;}

.bodywrapper a,
.bodywrapper a:link,
.bodywrapper a:visited {
	color:#0099ff ;
	text-decoration:none;
}
.bodywrapper a:hover,
.bodywrapper a:active {
	color:#0099ff ;
	text-decoration:underline;
}
.bodywrapper p {
	padding:1em 0 1em 0;
}
.bodywrapper ul {
	padding:1em 0 1em 2em;
}
.bodywrapper ol  {
	padding:1em 0 1em 2em;
}

.bodywrapper div.intro{
	font-size:1.1em;
	font-style:italic;
    padding-bottom:1em;
}
.bodywrapper div.intro p{
	padding:10px 0;
}
.bodywrapper p.intro {
	font-size:1.1em;
	line-height:1.2em;
}

.bodywrapper h1 {
	font-size:1.545em;
	padding-bottom:1em;
}

.bodywrapper h2 {
	font-size:1.364em;
	padding-bottom:1em;

}
.bodywrapper h2.docspace-header-title {
    font-size:2em;
    color:#0099FF;
    padding-bottom: 0.5em;

}
.bodywrapper h2.pagetitle {
     font-size:1.364em;
     padding-bottom:1em;
}

.bodywrapper h3 {
	font-size:1.273em;
	padding-bottom:0.5em;
	color:#000
}

.bodywrapper h4 {
	font-size:1.182em;
	padding-bottom:0.5em;
	color:#333;
}
.bodywrapper h5 {
	font-size:1.091em;
}

.bodywrapper fieldset {
	padding:0.5em;
	border:1px solid #e5e5e5;
	margin:0.5em 0;
}
.bodywrapper legend {
	font-size:1em;
	color:#333;
	padding:0 0.5em;
	background:#fff url(img/contactformlegend.png) repeat-x bottom left;
	border:1px solid #e5e5e5;
	display:inline;
	font-weight:bold;
	text-transform:uppercase
}

.bodywrapper hr {
	height:1px;
	background-color:#e5e5e5;
	border: none;
	margin : 1em 0;
}
.bodywrapper blockquote {
	background:#E0E0E0 url(img/blockquote.png) no-repeat top left;
	border:1px solid #A5A5A5;
	font-style:italic;
	margin-bottom:15px;
	margin-top:15px;
	padding:20px;
}

.bodywrapper textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%
}
.bodywrapper p.field{
	margin-bottom:0.4em
}
.bodywrapper label {
   font-weight:bold;
}
.bodywrapper label.normal-font {
   font-weight:normal;
}
.bodywrapper .hint {
   font-size:75%;
}
.bodywrapper input,
.bodywrapper select,
.bodywrapper textarea {
	color:#666;
	padding:6px;
	font-size:100%
}

.bodywrapper input.gobutton{
	background:none;
	border:none;
	margin:0;
	padding:0;
	vertical-align: bottom;
}
.bodywrapper pre {
	background-color:#f5f5f5;
	border-left:4px solid #333;
	font-family:Courier,"Courier New",monospace;
	font-size:100%;
	overflow:auto;
	margin-bottom:15px;
	margin-top:15px;
	padding:20px;
	line-height:100%
}
.bodywrapper .highlight{
	background-color:#f5f5f5;
	padding-right:0.5em;
	padding-left:0.5em;
}
.bodywrapper code, .bodywrapper .code {
	background-color:#f5f5f5;
	font-family:Courier,"Courier New",monospace;
	font-weight:normal;
	padding-right:0.5em;
	padding-left:0.5em;
}
.bodywrapper .small {
	font-size: 0.8em;
}
.bodywrapper .colorlight {
	color:#333
}
/******************************************************************************
*  Float Right Links List ordered or unordered
******************************************************************************/
.bodywrapper ul.FloatRightList {
	text-align:right;
	list-style:none;
	margin:0;
	padding:0;
}
.bodywrapper .FloatRightList li {
	list-style:none;
	padding-left:1em;
	display:inline;
	line-height:125%
}
/******************************************************************************
*  Images
******************************************************************************/
.bodywrapper .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}
.bodywrapper .imagefloatleft {
	float:left;
	margin-bottom:20px;
	padding-right:20px;
}
.bodywrapper .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}

.bodywrapper .itemImage {
	position:relative;
	padding:1px;
	margin-bottom:10px;
}
.bodywrapper .imagefloatleft .itemImage  {
	margin-bottom:0px;
}
.bodywrapper .imagefloatright .itemImage  {
	margin-bottom:0px;
}
.bodywrapper div.itemImageRight {
	float:right;
}
.bodywrapper div.itemImageLeft {
	float:left;
}
.bodywrapper .itemImage img {
	display: block;
	padding:9px;
}
.bodywrapper .itemImagewhite img{
	background-color:#fff;
	display: block;
}
/******************************************************************************
*  Pagination
******************************************************************************/
.bodywrapper div.pagination {
	height:1%;
	overflow:hidden;
	padding:0.2em 0.5em;
	margin:1em 0;
    background-color:#F5F5F5;
    border: 1px solid #e5e5e5;
}
.bodywrapper div.pagination:first-child {
    margin-top: 0;
}
.bodywrapper div.pagination select{
    padding:2px;
}
.bodywrapper .paginationPosition {
	float:left;
	color:#36393d;
    padding:0.5em 0;
}
.bodywrapper .paginationNavigation {
	float:right;
}
.bodywrapper .paginationNavigation a:link,
.bodywrapper .paginationNavigation a:visited,
.bodywrapper .paginationNavigation a:hover,
.bodywrapper .paginationNavigation a:active {
	text-decoration:none;
	padding:0.2em 0.5em;
}

.bodywrapper .paginationNavigation a:hover {
	background:#0099ff ;
	color:#fff;
}
.bodywrapper .paginationNavigation .currentPage{
	background:#0099ff ;
	color:#fff;
	padding:0.2em 0.5em;
}

.bodywrapper .paginationNavigation span {
	text-decoration:none;
	color:#666;
	padding:0;
}
/******************************************************************************
*  AlphabeticalMenu
******************************************************************************/
.bodywrapper div.alphabeticalMenu {
	height:1%;
	overflow:hidden;
	text-transform:uppercase;
	border: 1px solid #e5e5e5;
	padding:0.2em 0.5em;
	margin:0.5em 0;
	background-color:#F5F5F5;
}
.bodywrapper .alphabeticalLabel {
	float:left;
	font-weight:bold;
	color:#333;
}
.bodywrapper .alphabeticalNavigation {
	float:left;

}
.bodywrapper .alphabeticalNavigation a:link,
.bodywrapper .alphabeticalNavigation a:visited,
.bodywrapper .alphabeticalNavigation a:hover,
.bodywrapper .alphabeticalNavigation a:active {
		height:28px;
		line-height:28px;
		border:1px solid #e5e5e5;
		background:#eaeaea;
    	padding: 2px 4px;
		text-decoration:none;
}

.bodywrapper .alphabeticalNavigation a:hover {
		background:#0099ff;
		color:#fff;
}
.bodywrapper .alphabeticalNavigation a.current{
		height:28px;
		line-height:28px;
		border:1px solid #e5e5e5;
		background:#0099ff;
		color:#fff;
    	padding: 2px 4px;
		text-decoration:none;
}

.bodywrapper .alphabeticalNavigation span {
		text-decoration:none;
		color:#666;
		padding:0;
}
/******************************************************************************
*  Button
******************************************************************************/
.bodywrapper .divButton{
	text-align:center;
	margin:0 0 10px 0;
	overflow:hidden;
}
.bodywrapper .divButtonRight{
	text-align:right;
	overflow:hidden;
}
.bodywrapper input.button, .bodywrapper button {
	margin-right:0.5em;
}

.bodywrapper input.button, .bodywrapper button {
	background-color:#0099ff;
	color:#fff;
	border:none;
	text-align:center;
	padding:6px 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.bodywrapper .button:hover, .bodywrapper button:hover {
	cursor: pointer;
	color:#fff;
	background-color:#008ae5;
}

.bodywrapper input.button:disabled, .bodywrapper button:disabled {
    background-color:#c7c7c7;
    color:#fff;
    border:none;
    text-align:center;
    padding:6px 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.bodywrapper .button:hover:disabled, .bodywrapper button:hover:disabled {
    cursor: pointer;
    color:#fff;
    background-color:#cccccc;
}


/******************************************************************************
*  <A> Button
******************************************************************************/

.bodywrapper  a.aButton,
.bodywrapper  a.aButton:link,
.bodywrapper  a.aButton:visited {
	background-color:#0099ff ;
	color:#fff;
	border:none;
	text-align:center;
	padding:6px 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    display:inline-block;
}
.bodywrapper a.aButton:hover, .bodywrapper a.aButton:hover {
	cursor: pointer;
	color:#fff;
	background-color:#008ae5;
    text-decoration:none;
}
.bodywrapper a.aButtonMarginBottom {
    margin-bottom:1.5em;
}
.bodywrapper  a.aButtonRight,
.bodywrapper  a.aButtonRight:link,
.bodywrapper  a.aButtonRight:visited{
	float: right;
}

/******************************************************************************
*  Anchor
******************************************************************************/
.bodywrapper div.bottomanchor {
	padding:0.2em;
	margin: 1em 0;
	clear:both
}
.bodywrapper .bottomanchor a,
.bodywrapper .bottomanchor a:link,
.bodywrapper .bottomanchor a:visited  {
	float:right;
	margin:0 ;
	text-transform:uppercase
}
.bodywrapper .bottomanchor a:hover ,
.bodywrapper .bottomanchor a:active  {
	cursor: pointer;
	text-decoration: underline;
}

/******************************************************************************
*  Thumbnails
******************************************************************************/
.bodywrapper div.thumbnail {
	float:left;
	position:relative;
	margin-right:20px;
}
.bodywrapper div.thumbnailRight {
	float:right;
	position:relative;
	margin-left:20px;
}
.bodywrapper div.thumbnail img {
	position:relative
}

/******************************************************************************
*  Tables
******************************************************************************/
.bodywrapper .table th img{
	vertical-align: middle
}
.bodywrapper .table,
.bodywrapper .table caption
{
    margin: auto;

}

.bodywrapper .table
{
    border-collapse:collapse;
	margin:1em 0 2em 0;
	border:none;
}

.bodywrapper .table caption
{
	font-weight:normal;
	font-size:2em;
	margin:0 ;
	padding:0;
}
.bodywrapper .table th {
    color: #333;
	white-space:nowrap;
	padding:2px;
    text-transform: uppercase;
    color:#999;
    text-align:left;
    font-size:0.8em;
    line-height: 1.9em;

}
.bodywrapper .table tr {
    border-bottom: 1px solid #e5e5e5;
}
.bodywrapper .table tr:hover{
	background-color:#e3f1fe;
}

 .bodywrapper .table td {
	padding:15px 2px;
     vertical-align: top;
}
.bodywrapper .table td.center,
.bodywrapper .table th.center
{
	text-align:center;
}

.bodywrapper .table a:link,
.bodywrapper .table a:visited
{

}
.bodywrapper .table a:hover,
.bodywrapper .table a:active {

}

/******************************************************************************
*  Summary
******************************************************************************/
.bodywrapper ul.summary, .bodywrapper .summary {
	margin:10px 0;
	line-height:130%;
	padding: 10px;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
	margin:0;
	list-style:none;
}

.bodywrapper .summary a,
.bodywrapper .summary a:link,
.bodywrapper .summary a:visited {
	text-decoration:none;
}
.bodywrapper .summary a:hover,
.bodywrapper .summary a:active {
	text-decoration:underline;
}

.bodywrapper .summary ul {
	margin:0;
	padding:0 0 0 2em;
	list-style:none;
}
.bodywrapper .summary li {
	padding:0;
	margin-bottom:10px
}

/******************************************************************************
* Form
******************************************************************************/
.bodywrapper .Form  p{
	clear:both;
	margin:0.4em 0;
	padding:0px
}
.bodywrapper .Form {
	margin:1em 0 0 0;
	overflow:hidden;
}
.bodywrapper .formMarginLeft{
	margin:0 0 0 25%;
	padding:0 1em 0 2.3em;
}
.bodywrapper .Form label.left {
	float:left;
	width:25%;
	margin:0 1em 0 1em;
	padding:2px;
	text-align:right;
}
.bodywrapper .divButton{
	text-align:center;
	margin:0.5em 0;
}

/******************************************************************************
*  error
******************************************************************************/
.bodywrapper span.error{
	background-color:#ffebe8;
	border:1px solid #cc3300;
    padding:0.2em;
    margin-bottom:0.2em;
    display:inline-block;
    color:#cc3300;
    font-weight:bold;
}
.bodywrapper input.error{
	background-color:#ffebe8;
	border:1px solid #cc3300;
}

.bodywrapper label.error {
 clear: both;
 display: block;
 margin: 10px 0;
 padding:10px;
 padding-left:35px;
 border:1px solid #cc3300;
 -webkit-border-radius:10px;
 -moz-border-radius:10px;
 border-radius:10px;
 background:#ffebe8 url(img/error-messages.png) no-repeat 5px 50%;
}
/******************************************************************************
* Links
******************************************************************************/
.bodywrapper div.more {
    float: right;
    display: block;
}

.bodywrapper a.returnLink,
.bodywrapper a.returnLink a:link,
.bodywrapper a.returnLink:visited{
	background:url(img/returnLink.png) no-repeat 10px 4px;
	display: inline-block;
	padding: 5px 10px 6px 30px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	background-color:#0099ff;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.bodywrapper a.returnLink:hover,
.bodywrapper a.returnLink:active {
	text-decoration:none;
	color: #fff;
	background: url(img/returnLink.png) no-repeat 10px -28px;
	background-color:#008ae5;
}
.bodywrapper .divReturnLink{
	margin:0.5em 0;
}
/******************************************************************************
* Mod tabular List
******************************************************************************/
.bodywrapper #tabstabularList{
	background-color:#FFF;
	overflow:hidden;
	padding:0.2em;
	border-top:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-bottom:1em;
	border:1px solid #f5f5f5;
}

.bodywrapper ul.idTabs {
	background-image:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-bottom:1em;
	border:none;
	margin-bottom:0;
	padding:0.2em;
	padding-bottom:0;
	background-color:#DFEFFC;
}
.bodywrapper .tabContainer {
	background-color:#FFF;
	overflow:hidden;
	padding:20px;
	border-top:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-bottom:1em;
}
.bodywrapper .idTabs li a {
	background:none;
	display:inline;
	float:left;
	height:auto;
	line-height:2em;
	padding-left:1px;
	text-decoration:none;
	margin-right:2px;
	font-weight:bold;

}
.bodywrapper .idTabs li a.selected,
.bodywrapper .idTabs li a:hover,
.bodywrapper .idTabs li a.selected {
	text-decoration:none;
	color: #0099FF;
}


.bodywrapper .idTabs li a span {
	background:none;
	color:#666;
	cursor:pointer;
	display:inline;
	float:left;
	height:auto;
	line-height:3em;
	padding:0 10px;
	text-decoration:none;
}
.bodywrapper .idTabs li a.selected span,
.bodywrapper .idTabs li a:hover span,
.bodywrapper .idTabs li a.idTabs span {
	text-decoration:none;
	background-color:#FFF;
	-moz-border-radius:  3px 3px 0 0 ;
	-webkit-border-radius: 3px 3px 0 0 ;
	border-radius: 3px 3px 0 0 ;
	color: #0099FF;

}