

/* CSS Document */
/* standard classes */

* {
    margin: 0;
    padding: 0
}

/* by default all margins and paddings are set to zero to avoid strange behaviours */

body {
    font: 0.74em Arial, sans-serif;
    background: #F4F4F3;
    color: #444444;
    line-height: 160%;
    margin-bottom: 12px;
}

.error {
    color: red;
    float: left;
}

a {
    color: #FF6603;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #FF6603;
    text-decoration: underline;
}

a:visited {
    color: #FF6603;
}

h1 {
    font-size: 2.55em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 2.2em;
    color: #FF6603
}

h2 {
    font-size: 2.1em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 2em;
    color: #FF6603
}

h3 {
    font-size: 1.8em;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.8em;
}

h4 {
    font-size: 1.3em;
    margin-top: 12px;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.3em
}

h5 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.3em
}

h6 {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.1em
}

p {
    clear: both;
    margin: 5px 0;
}

img {
    border: 0
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin-left: 20px;
    padding-left: 5px;
}

th {
    text-align: left;
}

hr {
    height: 1px;
    border-style: none;
    color: #d0d0d0;
    background-color: #c0c0c0;
    margin: 10px 0;
}

blockquote {
    margin: 10px 0 10px 25px;
    padding: 0 5px;
    border-left: 5px solid #993399;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}

img.left {
    margin-right: 8px;
    border-bottom: 5px solid #FF6603;
    float: left;
}

img.right {
    margin-left: 8px;
    border-bottom: 5px solid #FF6603;
}

.clear {
    clear: both;
}

.right {
    float: right;
    line-height: 100%;
}

.left {
    float: left
}

/* Page structure */

#utilies {
    clear: both;
    width: 100%;
    background: #F4F4F3;
}

#identification {
    clear: both;
    width: 100%;
    background: #F8F8F8;
    border-top: 1px solid #D6D6D6;
}

#mainmenu {
    clear: both;
    width: 100%;
    background: #F4F4F3;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
}

#pagecontent {
    clear: both;
    width: 100%;
    background: #FFFFFF;
    position: relative;
}

#footer {
    clear: both;
    width: 100%;
    background: #FFFFFF;
}

#utilities .content {
    width: 860px;
    height: 28px;
    margin: 0 auto;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
}

#identification .content {
    width: 860px;
    height: 140px;
    margin: 0 auto;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
}

#mainmenu .content {
    width: 860px;
    height: 34px;
    margin: 0 auto;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
}

#utilities .content {
    width: 860px;
    margin: 0 auto;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
}

#pagecontent .content, #pagecontent .content2cols, #pagecontent .content3cols, #pagecontent .content1cols {
    width: 840px;
    background: #FFFFFF;
    margin: 0 auto;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-bottom: 1px solid #444444;    
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#footer .content {
    display: block;
    width: 860px;
    background: #FFFFFF;
    margin: 0 auto;
    border: 1px solid #444444;
    border-top: 1px dotted #CCCCCC;
}

/* Utilities styles */

.breadcrumbs {
    list-style-type: none;
    float: left;
    margin-left: 10px;
    padding: 5px 0 0 15px;
    font-size: 0.9em;
}

.breadcrumbs li {
    display: inline;
    background: transparent url( ../../images/separateur_gris.gif ) no-repeat 1px 5px;
    padding-left: 10px;
}

.breadcrumbs li a {
    font-weight: bold;
}

.languageSwitching_horizontal_display ul {
    float: right;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px 0;
    line-height: 100%;
}

.languageSwitching_horizontal_display span table {
    display: inline;
}

.languageSwitching_horizontal_display ul li {
    display: inline;
    padding: 0 0 0 3px
}

.languageSwitching_horizontal_display ul li a:hover {
    color: #000000;
}

code {
    font-family: "Courier New", Courier, monospace;
    font-size: inherit;
    font-weight: bold;
    color: #996633;
    background-color: #E9E9E9;
    padding-left: 5px;
    padding-right: 5px;
}

.code {
    font-family: "Courier New", Courier, monospace;
    font-size: inherit;
    color: #996633;
    background-color: #E9E9E9;
    margin: 10px;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

.shortcuts {
    padding: 0 5px 0 5px;
    font-size: 0.9em;
}

.shortcuts img {
    padding-top: 4px;
    border-bottom: 0;
    float: none;
}

.shortcuts li {
    display: inline;
    float: left;
    border: 0 solid #FFFFFF
}

.shortcuts a {
    color: #AEAEAE;
    margin: 0 5px 0 3px;
}

.shortcuts a:hover {
    color: #FF6600;
}

#toplinkHome a {
    background-repeat: no-repeat;
    background-image: url( ../../images/icon_home.gif )
}

#toplinkSitemap a {
    background-repeat: no-repeat;
    background-image: url( ../../images/icon_sitemap.gif )
}

#toplinkSend  a {
    background-repeat: no-repeat;
    background-image: url( ../../images/icon_contact.gif )
}

#toplinkBookmark a {
    background-repeat: no-repeat;
    background-image: url( ../../images/bg_bullet_arrow.gif )
}

/* Identification styles */
#identification .content {
    background: #333333;
}

#identification h1 {
    position: relative;
    left: 30px;
    top: 30px;
    margin: 0;
    font-weight: bold;
    width: 50%;
}

/* Mainmenu styles */
#mainmenu .menu {
    background: #F7F7F6;
    margin: 0 10px 0 10px;
    display: block;
}

#mainmenu .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 5px;
    display: inline;
}

#mainmenu .menu li {
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

#mainmenu .menu li div, #mainmenu .menu li div table {
    display: inline;
}

#mainmenu .menu li:hover {
    background: #FF6603;
    height: 34px;
}

#mainmenu .menu a {
    color: #74797E;
    background: inherit;
    text-decoration: none;
    padding: 0 10px 0 10px;
    line-height: 23px;
}

#mainmenu .menu a:hover {
    color: #000;
    background: inherit;
    height: 23px;
    text-decoration: underline
}

#mainmenu .menu .current {
    font-weight: bold;
    background: #F7F7F6 url( ../../images/carre_orange.gif );
    background-repeat: no-repeat;
    background-position: 1px;
}

/* Left navigation */
div.sideMenu {
    margin-top: 12px;
    border: 1px solid #CCCCCC;
    padding: 3px;
    line-height: 20px;
}

/* identation */
.sideMenu ul {
	margin:0 0 0 3px;
	padding:0;
	list-style-type:none;
	position:relative ;
}

.sideMenu li {
	margin:0;
	padding:0;
	position:relative ;
}

.sideMenu li ul {
    margin:0 0 0 3px;
	padding:0 0 0 10px;
}

.sideMenu li .action-menu-icons {
    position:absolute ;
    top: 0 ;
    right : 0 ;
}

.sideMenu li .ContentContainerList {
    position:relative ;
}


/* left icon */
.sideMenu li a {
    padding-left: 8px;
    background: transparent url( ../../images/icon_arrow_orange.gif ) no-repeat 0 3px;
}

.sideMenu li a:hover {
    background-color: #666666 !important;
    color: #FFFFFF;
    line-height: 20px;
}

.sideMenu > li.selected {
    background: transparent url( ../../images/icon_more_arrow.gif ) no-repeat 0 4px;
}


/* in-page path menus layout */
.sideMenu > li.inpath > a {
    font-weight: bold;
}

.sideMenu > li.selected > a {
    padding-left: 13px;
    background: none;
    font-weight: bold;
}

/* Pagecontent styles */

.content1cols #columnB {
    width: 840px;
    float: left;
    margin-left: 0;
}

.content2cols #columnA {
    width: 200px;
    float: left;
}

.content2cols #columnB {
    width: 620px;
    float: right;
}

.content3cols #columnA {
    width: 200px;
    float: left;
}

.content3cols #columnB {
    width: 375px;
    float: right;
}

.content3cols #columnC {
    width: 240px;
    float: right;
}

#columnA {
    background-color: #FFFFFF;
    max-width: 200px;
}

#columnB {
    margin-left: 10px;
    max-width: 820px;
}

#columnC {
    vertical-align: top;
    margin-left: 10px;
    max-width: 240px;
}

#columnA h3 {
    color: #FF6603;
}

#columnB h3 {
    margin-top: 10px;
    border-bottom: 5px solid #FF6603;
}

#columnC h3 {
    margin-top: 10px;
    border-bottom: 5px solid #FF6603;
}

#columnA h4 {
    border-bottom: 1px dotted #333333;
}

#columnAB h3 {
    margin-top: 10px;
    border-bottom: 5px solid #FF6603;
}

.properties {
    margin: 12px 0 0 0;
    padding: 3px;
    border: 1px dotted #888888;
    background-color: #f4f4f3;
    font-size: 0.9em;
}

.properties li {
    background-image: url( ../../images/fleche_orange.gif );
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 5px;
}

.dateSelectionDiv,
.categorySelectionDiv,
.currentFilters {
    display: block;
    padding-top: 10px;
}

.categorySelection {
    display: inline;
}

div.search,
div.itemsPerPage,
div.search span,
div.windowSizeComboBox,
div.windowSizeComboBox select {
		display: inline;
}

.dateSelection,
.dateSelection div,
.dateSelection div div,
.dateSelection div div input {
    display: inline;
}

.newslist .categorySelection select {
    width: 150px;
}

.newslist {
    margin-top: 12px;
}

.newslist fieldset {
    padding: 10px;
}

.newslist select {
    width: 50px;
}

.newslist legend {
    font-weight: bold;
    color: rgb( 80, 80, 80 );
}

.newslist input.button {
    float: right;
    width: 9.0em;
    padding: 1px !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    background: rgb( 230, 230, 230 );
    border: solid 1px rgb( 150, 150, 150 );
    text-align: center;
    color: rgb( 150, 150, 150 );
}

.newslist input.button:hover {
    cursor: pointer;
    border: solid 1px rgb( 80, 80, 80 );
    background: rgb( 220, 220, 220 );
    color: rgb( 80, 80, 80 );
}

.newslist li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none
}

.newslist p {
    clear: none;
}

.newslist h3 {
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 0 solid #FF6603;
    margin-top: 0;
}

.newslist a:hover {
    color: #FF0000
}

.newslist a:visited {
    color: #333333;
}

.newslist p {
    margin-left: 0.3em;
    line-height: 130%
}

.newslist ul li {
    margin-left: 2px;
    margin-right: 15px;
    float: left;
}

.newslist .news {
    display: block;
    clear: both;
}

.newslist .comments {
    display: block;
    padding-bottom: 15px;
    clear: both;
    border-bottom: 1px dotted #666666;
}

.newslist .comments h4 {
    font-weight: normal;
}

.newslist .news img {
    float: left;
    margin: 0 10px 5px 0
}

cite {
    vertical-align: top;
    margin-left: 0;
    color: rgb( 100, 100, 100 );
    font-size: 10px;
}

.more a {
    font-weight: bold;
    font-size: 0.8em
}

.more a:hover {
    color: #FF0000;
}

.more a:visited {
    color: #FFCC33;
}

#login {
    margin: 12px 0 0 0;
    padding: 3px;
    border: 1px dotted #888888;
    background-color: #f4f4f3;
    font-size: 1em;
}

#search {
    margin: 12px 0 0 0;
    padding: 3px;
    border: 1px dotted #888888;
    background-color: #f4f4f3;
    font-size: 1em;
}

.note {
    color: #454545;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #F3F0AB;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: #F3F0AB;
    padding: 10px;
    background-color: #F7F8BE;
    margin-top: 12px;
}

.note a {
    color: #FF6603;
    text-decoration: none;
}

.note a:hover {
    color: #FF6603;
    text-decoration: underline;
}

a.bottomanchor {
    float: right;
    margin: 10px 10px 0 0;
    font: 0.8em;
    background-image: url( "../../images/fleche_orange.gif" );
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 5px;
}

.userfeedback {
    margin: 10px 0 0 0;
    background-color: #FFFFFF;
    padding: 15px 5px;
}

.usermessage_info {
    border: 1px solid;
    border-color: #C0C0C0;
    background-color: #E5E5E5;
    padding: 2px;
}

.usermessage_content {
    margin: 0;
    padding: 3px;
    border-left: 1px dashed #C0C0C0;
    border-right: 1px dashed #C0C0C0;
    border-bottom: 1px dashed #C0C0C0;
}

.username {
    font-weight: bold;
}

.date {
    font-style: italic;
    color: #FF6600;
}

.messageTitle {
    font-weight: bold;
    font-size: 1.1em;
    color: #FF6600;
}

/* Boxes */

.jahiabox ul {
    margin-top: 0;
    padding-left: 5px;
    border: 1px dotted #666666;
}

.jahiabox li.document {
    line-height: 22px;
    list-style: none;
    margin-bottom: 3px;
}

.jahiabox  li a:hover {
    text-decoration: underline;
    color: #000;
}

#columnA .jahiabox p {
    margin-top: 5px;
    overflow: hidden;
}

#columnA .jahiabox li.document {
    line-height: 20px;
    list-style: none;
    margin-bottom: 3px;
}

#columnB .jahiabox p {
    margin-top: 5px;
    overflow: hidden;
}

#columnC .jahiabox p {
    margin-top: 5px;
    overflow: hidden;
}

#columnA .jahiabox .boxTitle {
    padding: 2px 5px;
    color: #FF6600;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom-width: 0;
    font-size: 1.4em;
    display: block;
    font-weight: normal;
    line-height: 1.8em;
}

#columnA .jahiabox {
    padding: 5px;
    margin-top: 12px;
    border-right: 2px solid rgb( 200, 200, 200 );
    border-bottom: 2px solid rgb( 200, 200, 200 );
    background-color: #EFEBE7;
}

#columnA .jahiabox ul {
    margin-top: 0;
    padding-left: 2px;
    border: 0;
}

.jahiabox li span.link {
    line-height: 22px;
    background: inherit;
}

.jahiabox li span.externallink {
    line-height: 22px;
    background: inherit;
}

#columnB .jahiabox {
    margin-top: 12px;
    padding: 10px;
    border: 1px solid #444444;
    background-color: #E6E6E6;
}

#columnB .jahiabox h3,
    #columnB .jahiabox .boxTitle {
    margin-bottom: 0;
    border: 1px solid #FF6600;
    padding: 2px 5px;
    color: #FF6600;
    background: #3F4040;
    height: 24px;
    line-height: 22px;
    font-size: 1.8em;
    margin-top: 15px;
    font-weight: normal;
}

#columnC .jahiabox h3,
    #columnC .jahiabox .boxTitle {
    border-bottom: 1px solid #FF6600;
    padding: 2px 5px;
    margin-top: 5px;
    font-size: 1.4em;
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1.8em;
}

#columnC .jahiabox {
    margin-top: 6px;
    padding: 5px;
}

#columnC .jahiabox ul {
    margin-top: 0;
    padding-left: 5px;
    border: 0;
    background-color: inherit;
}

#columnC .jahiabox li span.link {
    line-height: 22px;
    list-style: none;
    background: url( ../../images/link.gif ) no-repeat left;
    margin-bottom: 3px;
    padding-left: 15px;
}

#columnC .jahiabox li span.externallink {
    line-height: 22px;
    list-style: none;
    background: url( ../../images/extlink.gif ) no-repeat left;
    margin-bottom: 3px;
    padding-left: 15px;
}

/* Misc codes template */

/* serach results */
#resultslist {
    margin-top: 12px;
}

#resultslist ul {
    list-style-type: none;
}

#resultslist ol {
    margin: 0 0 0 15px;
}

#resultslist ol li {
    margin-left: 1.4em;
    padding-left: 0;
    list-style-type: decimal;
}

#resultslist li {
    line-height: 1.4em;
    padding-left: 25px;
}

#resultslist ul.nomarker li {
    background: none;
    padding-left: 0;
}

dl {
    margin: 0 0 5px 0;
}

dt {
    font-weight: bold;
    margin-top: 1em;
}

dl dl {
    margin: 0 0 15px 20px;
}

/* Bottom paganisation example */
.pagination {
    background: #f2f2f2;
    color: #666;
    padding: 4px 2px 4px 7px;
    border: 1px solid #ddd;
    margin: 0 0 1.5em;
}

.pagination p {
    position: relative;
    text-align: right;
    padding: 2px 5px 2px;
}

.pagination p a:link, .pagination p a:visited, .pagination p a:hover, .pagination p a:active {
    text-decoration: none;
    background: #fff;
    padding: 2px 5px;
    border: 1px solid #ccc;
}

.pagination p a:hover {
    background: #c00;
    color: #fff;
}

.pagination p span {
    text-decoration: none;
    background: #fff;
    padding: 2px 5px;
    border: 1px solid #ccc;
    color: #ccc;
}

.pagination * {
    margin: 0;
}

.pagination h4 {
    margin-top: -1.45em;
    padding: 0;
    border: none;
    font-size: 1.15em;
}

/*FAQ Template */

.question {
    color: #FF6600;
    margin-top: 15px;
}

.answer {
}

/* Forms */

.loginform {
    margin-top: 12px;
}

.loginform fieldset {
    padding: 5px 0 0 0 !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    margin: 0 0 10px 0;
    border: solid 1px rgb( 220, 220, 220 );
}

.loginform {
    padding: 0 10px 0 10px;
    border: solid 1px rgb( 200, 200, 200 );
    background-color: rgb( 240, 240, 240 );
}

.loginform label.left {
    float: left;
    width: 80px;
    margin: 0 0 0 3px;
    padding: 2px;
    color: #FF6600;
    font-size: 11px;
}

.loginform input.field {
    width: 80px;
    padding: 2px;
    border: solid 1px rgb( 200, 200, 200 );
    font-size: 11px;
}

.loginform input.button {
    float: right;
    width: 9.0em;
    margin: 5px 20px 10px 0;
    padding: 1px !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    background: rgb( 230, 230, 230 );
    border: solid 1px rgb( 150, 150, 150 );
    text-align: center;
    color: rgb( 150, 150, 150 );
}

.loginform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb( 80, 80, 80 );
    background: rgb( 220, 220, 220 );
    color: rgb( 80, 80, 80 );
}

fieldset legend {
    color: rgb( 80, 80, 80 );
    font-weight: bold;
}

.searchform {
    margin-top: 12px;
}

.searchform fieldset {
    padding: 5px 0 0 0 !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    margin: 0 0 10px 0;
    border: solid 1px rgb( 220, 220, 220 );
}

.searchform {
    padding: 0 10px 0 10px;
    border: solid 1px rgb( 200, 200, 200 );
    background-color: rgb( 240, 240, 240 );
}

.searchform label.left {
    float: left;
    width: 60px;
    margin: 0 0 0 3px;
    padding: 2px;
    color: #FF6600;
    font-size: 11px;
}

.searchform input.field {
    width: 140px;
    padding: 2px;
    border: solid 1px rgb( 200, 200, 200 );
    font-size: 11px;
    float: right;
    margin-right: 3px;
}

.searchform input.button {
    float: right;
    width: 9.0em;
    margin: 5px 20px 10px 0;
    padding: 1px !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    background: rgb( 230, 230, 230 );
    border: solid 1px rgb( 150, 150, 150 );
    text-align: center;
    color: rgb( 150, 150, 150 );
}

.searchform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb( 80, 80, 80 );
    background: rgb( 220, 220, 220 );
    color: rgb( 80, 80, 80 );
}

.contactform {
    margin: 2.0em 0 0 0;
    padding: 10px 10px 0 10px;
    border: solid 1px rgb( 200, 200, 200 );
    background-color: rgb( 240, 240, 240 );
}

.contactform fieldset {
    padding: 20px 0 0 0 !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    margin: 0 0 20px 0;
    border: solid 1px rgb( 220, 220, 220 );
}

.contactform fieldset legend {
    margin: 0 0 0 5px !important /*Non-IE*/;
    margin: 0 0 20px 5px /*IE6*/;
    padding: 0 2px 0 2px;
    color: rgb( 80, 80, 80 );
    font-weight: bold;
    font-size: 110%;
}

.contactform label.left {
    float: left;
    width: 100px;
    margin: 0 0 0 10px;
    padding: 2px;
    color: #FF6600
}

.contactform select.combo {
    width: 225px;
    padding: 2px;
    border: solid 1px rgb( 200, 200, 200 );
}

.contactform input.field {
    width: 325px;
    padding: 2px;
    border: solid 1px rgb( 200, 200, 200 );
    font-size: 11px;
}

.contactform textarea {
    width: 325px;
    padding: 2px;
    border: solid 1px rgb( 200, 200, 200 );
}

.contactform input.button {
    float: right;
    width: 9.0em;
    margin-right: 20px;
    padding: 1px !important /*Non-IE6*/;
    padding: 0 /*IE6*/;
    background: rgb( 230, 230, 230 );
    border: solid 1px rgb( 150, 150, 150 );
    text-align: center;
    color: rgb( 150, 150, 150 );
}

.contactform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb( 80, 80, 80 );
    background: rgb( 220, 220, 220 );
    color: rgb( 80, 80, 80 );
}

/* Template Documents */

.list_docs {
    line-height: 22px;
}

.list_docs li {
    border-bottom: 1px solid #FF6600;
    list-style: none;
    margin-bottom: 3px;
}

.list_docs li a {
    padding-left: 22px;
}

.size {
    margin: 0 10px;
    padding: 0 5px;
    border-left: 1px solid #FF6600;
    border-right: 1px solid #FF6600;
    background: #FF6600;
}

/* Footer styles */
#footer .padding {
    padding: 10px;
}

#footer .right {
    float: right;
    padding-right: 20px;
}

#footer a {
    text-decoration: none;
    background: inherit;
}

#footer .menu {
    font-size: 10px;
    line-height: 15px;
    background: inherit;
    padding: 0;
    margin: 0;
}

#footer .menu ul {
    list-style: none;
    padding: 0;
    margin: 3px 0 0 15px;
}

#footer .menu li div, #footer .menu li div table {
    display: inline;
}

#footer .menu li {
    display: inline;
    margin: 0 10px 0 0;
}

#footer .menu ul li:hover {
    background: inherit;
    height: 11px;
}

#footer .menu a {
    color: #74797E;
    background: inherit;
    text-decoration: none;
    padding: 0 10px 0 0;
}

#footer .menu a:hover {
    color: #000;
    background: inherit;
    text-decoration: underline
}

#footer .links li {
    display: inline;
    float: left;
    border-right: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;
}

span.markForDelete {
    text-decoration: line-through !important;
}

div.markForDeletedContent h1,
    div.markForDeletedContent h2,
    div.markForDeletedContent h3,
    div.markForDeletedContent h4,
    div.markForDeletedContent h5,
    div.markForDeletedContent td,
    div.markForDeletedContent table,
    div.markForDeletedContent div,
    div.markForDeletedContent {
    background-color: #ddc !important;
    background-image: none !important;
    text-decoration: line-through !important;
}
