<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="ROLL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jahia.log.dir}jahia.log"/>
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d: %-5p [%t] %c: %m%n"/>
            <!-- another useful pattern to see date time,class, lines
            BUT cpu intensive
            -->
            <!--param name="ConversionPattern" value="(%r)%d %5p [%t] (%F:%L) - %m%n" /-->
        </layout>
    </appender>
    
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d: %-5p [%c{1}] - %m%n"/>
            <!-- another useful pattern to see date time,class, lines
            BUT cpu intensive
            -->
            <!--param name="ConversionPattern" value="(%r)%d %5p [%t] (%F:%L) - %m%n" /-->
        </layout>
    </appender>

    <appender name="profilerLogs" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jahia.log.dir}jahia_profiler.log"/>
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="debug"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter"/>

    </appender>

    <appender name="hitAccess" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jahia.log.dir}jahia_access.log"/>
        <param name="Threshold" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="trace"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter"/>

    </appender>

    <appender name="exceptionLogging" class="org.jahia.bin.errors.ExceptionAppender">
    </appender>
    
    <appender name="camelNotification" class="org.jahia.services.notification.CamelAppender">
        <param name="TargetUri" value="direct:logs"/>
        <param name="Threshold" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="trace"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>
    

    <logger name="REQUEST">
        <appender-ref ref="ROLL"/>
    </logger>

    <logger name="SysOut">
        <appender-ref ref="Console"/>
    </logger>
    
    <logger name="accessLogger" additivity="false">
        <appender-ref ref="hitAccess"/>
        <appender-ref ref="camelNotification"/>
    </logger>

    <logger name="loggingService" additivity="false">
        <level value="trace"/>
        <appender-ref ref="hitAccess"/>
        <appender-ref ref="camelNotification"/>
    </logger>

    <logger name="profilerLoggingService" additivity="false">
        <level value="info"/>
        <appender-ref ref="profilerLogs"/>
    </logger>
    

    <logger name="org.apache.commons">
        <level value="error"/>
    </logger>

    <logger name="org.apache.jackrabbit.spi.commons.nodetype.constraint.ValueConstraint">
        <level value="error"/>
    </logger>

    <logger name="net.htmlparser.jericho">
        <level value="warn"/>
    </logger>

    <logger name="net.sf.ehcache">
        <level value="error"/>
    </logger>

    <logger name="net.sf.ehcache.pool.impl">
        <level value="warn"/>
    </logger>

    <logger name="org.quartz">
        <level value="info"/>
    </logger>

    <logger name="org.jahia.bin.errors">
        <level value="warn"/>
    </logger>

    <logger name="org.jahia.services.render.filter.cache">
        <level value="info"/>
    </logger>

    <logger name="org.jahia.services.textextraction.TextExtractionService">
        <level value="info"/>
    </logger>

    <logger name="org.jgroups.protocols.pbcast.GMS">
        <level value="debug"/>
    </logger>

    <logger name="org.hibernate">
        <level value="warn"/>
    </logger>

    <logger name="org.hibernate.cfg.Environment">
        <level value="info"/>
    </logger>

    <logger name="org.springframework">
        <level value="error"/>
    </logger>
    
    <logger name="org.jahia.bundles.extender.jahiamodules.Activator">
        <level value="debug"/>
    </logger>

    <logger name="org.apache.karaf.cellar">
        <level value="debug"/>
    </logger>

    <logger name="org.jahia.bundles.clustering.impl.BundleEventHandler">
        <level value="debug"/>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="ROLL"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="exceptionLogging"/>
    </root>

</log4j:configuration>