<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
  This is the default log4j development file. For use in production server,
  please use the log4j-prod.xml file instead, as it is a lot less verbose than
  this one.
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!--
    <appender name="Chainsaw" class="org.apache.log4j.net.SocketAppender">
        <param name="RemoteHost" value="localhost"/>
        <param name="Port" value="4445"/>
        <param name="LocationInfo" value="true"/>
    </appender>
    -->

    <appender name="ROLL" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jahia.log.dir}jahia.log"/>
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d: %-5p [%t] %c: %m%n"/>
            <!-- another useful pattern to see date time,class, lines
            BUT cpu intensive
            -->
            <!--param name="ConversionPattern" value="(%r)%d %5p [%t] (%F:%L) - %m%n" /-->
        </layout>
    </appender>

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d: %-5p [%c{1}] - %m%n"/>
            <!-- another useful pattern to see date time,class, lines
            BUT cpu intensive
            -->
            <!--param name="ConversionPattern" value="(%r)%d %5p [%t] (%F:%L) - %m%n" /-->
        </layout>
    </appender>

    <appender name="profilerLogs" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jahia.log.dir}jahia_profiler.log"/>
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="debug"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter"/>

    </appender>

    <appender name="hitAccess" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${jahia.log.dir}jahia_access.log"/>
        <param name="Threshold" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="trace"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter"/>

    </appender>

    <appender name="exceptionLogging" class="org.jahia.bin.errors.ExceptionAppender">
    </appender>

    <appender name="camelNotification" class="org.jahia.services.notification.CamelAppender">
        <param name="TargetUri" value="direct:logs"/>
        <param name="Threshold" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %m"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="trace"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
        <filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>

    <logger name="REQUEST">
        <appender-ref ref="ROLL"/>
    </logger>

    <logger name="SysOut">
        <appender-ref ref="Console"/>
    </logger>


    <category name="org.jahia.bin.errors">
        <priority value="warn"/>
    </category>

    <category name="org.apache.jackrabbit.core.state.ItemStateMap">
        <priority value="error"/>
    </category>

    <category name="org.apache.jackrabbit.spi.commons.nodetype.constraint.ValueConstraint">
        <priority value="error"/>
    </category>

    <category name="org.apache.commons">
        <priority value="error"/>
    </category>

    <category name="org.apache.struts.action.RequestProcessor">
        <priority value="error"/>
    </category>

    <category name="org.springframework">
        <priority value="error"/>
    </category>

    <category name="org.hibernate">
        <priority value="warn"/>
    </category>

    <category name="org.hibernate.cfg.Environment">
        <priority value="info"/>
    </category>

    <category name="net.sf.ehcache">
        <priority value="error"/>
    </category>

    <category name="net.htmlparser.jericho">
        <priority value="warn"/>
    </category>

    <category name="org.apache.jsp">
        <priority value="error"/>
    </category>

    <category name="org.apache.jackrabbit.extractor">
        <priority value="error"/>
    </category>

    <category name="org.apache.jasper.compiler.TagLibraryInfoImpl">
        <priority value="error"/>
    </category>

    <category name="org.jbpm.pvm.internal.svc.DefaultCommandService">
        <priority value="error"/>
    </category>

    <category name="EventListener">
        <priority value="error"/>
    </category>

    <category name="org.jahia.hibernate">
        <priority value="error"/>
    </category>

    <category name="org.jahia.hibernate.cache">
        <priority value="info"/>
    </category>

    <category name="org.jahia.utils.i18n">
        <priority value="warn"/>
    </category>

    <category name="org.quartz">
        <priority value="info"/>
    </category>

    <category name="accessLogger" additivity="false">
        <appender-ref ref="hitAccess"/>
        <appender-ref ref="camelNotification"/>
    </category>

    <category name="loggingService" additivity="false">
        <priority value="trace"/>
        <appender-ref ref="hitAccess"/>
        <appender-ref ref="camelNotification"/>
    </category>

    <category name="profilerLoggingService" additivity="false">
        <priority value="info"/>
        <appender-ref ref="profilerLogs"/>
    </category>

    <category name="org.jahia.services.render.filter.cache">
        <priority value="info"/>
    </category>

    <category name="org.jahia.services.textextraction.TextExtractionService">
        <priority value="info"/>
    </category>

    <category name="com.phloc.css.handler.CSSHandler">
        <priority value="fatal"/>
    </category>

    <category name="org.jahia.tools.patches.GroovyPatcher">
        <priority value="debug"/>
    </category>

    <category name="org.jahia.tools.groovyConsole">
        <priority value="debug"/>
    </category>

    <category name="org.jgroups.protocols.pbcast.GMS">
        <priority value="debug"/>
    </category>

    <root>
        <level value="info"/>
        <appender-ref ref="ROLL"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="exceptionLogging"/>
    </root>

</log4j:configuration>