/******************************************************************************
* icon Add
******************************************************************************/
#bodywrapper a.social-add {
	width:16px;
	height:16px;
	display:block;
	background: url(img/add.png) no-repeat top right;
}
#bodywrapper a.social-add span {
	display:none
}
/******************************************************************************
* Title  with icon h3
******************************************************************************/
#bodywrapper h3.social-title-icon {
	color:#333;
	font-size:1.8em;
	padding:0 40px 5px 2px;
	position:relative;
}
#bodywrapper h3.social-title-icon img {
	position:absolute;
	right:0;
	top:-5px;
}
/******************************************************************************
*  boxsocial
******************************************************************************/
/*boxsocial title*/
#bodywrapper h4.boxsocial-title {
	background:#666666 url(img/boxsocial-h4title.png) repeat-x top right;
	border:1px solid #666666;
	color:#fff;
	font-size:1.3em;
	margin-left:0;
	padding:5px;
	text-align:center;
	font-weight:normal;
	clear:both;
	margin:0;
}
#bodywrapper div.boxsocial {
	position:relative;
	clear:both;
}

#bodywrapper div.boxsocial h3.boxsocialtitleh3 {
	margin:0;
	padding:0;
	display:inline
}
#bodywrapper div.boxsocial-inner {
	background-color:#fff;
	border:1px solid #cecece;
	height:1%;

}

#bodywrapper .boxsocial-inner .boxsocial-inner-border {
	border:1px solid #fff;
	height:1%;
	background-color:#fff;
}
/*boxsocialshadow*/
#bodywrapper div.boxsocialshadow {
	border:1px solid #cecece;
}

#bodywrapper div.boxsocialshadow div.boxsocial-inner {
	background-color:#fff;
	border:1px solid #cecece;
	margin:-2px 0 0 -2px;
}
/*boxsocial color*/
#bodywrapper .boxsocialgrey .boxsocial-inner .boxsocial-inner-border {
	background-color:#e1e1e1
}
#bodywrapper .boxsocialyellow .boxsocial-inner .boxsocial-inner-border {
	background-color:#FCF0BA
}
#bodywrapper .boxsocialwhite .boxsocial-inner {
	background-color:#fff
}
#bodywrapper .boxsocialwhite .boxsocial-inner .boxsocial-inner-border {
	background-color:#fff
}

/*boxsocial padding*/
#bodywrapper .boxsocialpadding16 .boxsocial-inner .boxsocial-inner-border {
	padding:16px;
}

/*boxsocial margin*/
#bodywrapper .boxsocialmarginbottom16{
	margin-bottom:16px;
}

/******************************************************************************
* social-list
******************************************************************************/

#bodywrapper ul.social-list  {
	position:relative;
	margin:0;
	margin-bottom:20px;
	list-style:none;
	border:1px solid #ccc;
}
#bodywrapper .social-list li {
	background-color:#e1e1e1;
	border-color:#fff #fff #ccc ;
	border-style:solid;
	border-width:1px;
	padding:10px 20px;
	margin:0;
	list-style:none;
}
#bodywrapper .social-list li p {
	padding:0;
}
#bodywrapper .social-list li:last-child {
	border-bottom-color:#fff;
}
#bodywrapper ul.social-list h4 {
	border-bottom:none;
}
/*Social list actions*/
#bodywrapper ul.social-list a.social-list-remove {
	width:16px;
	height:16px;
	display:block;
	background: url(img/delete.png) no-repeat top right;
	float:right;
	margin-left:4px;
}
#bodywrapper ul.social-list a.social-list-remove span {
	display:none
}
#bodywrapper ul.social-list a.social-list-sendmessage {
	width:16px;
	height:16px;
	display:block;
	background: url(img/send-message.png) no-repeat top right;
	float:right;
	margin-left:4px;
}
#bodywrapper ul.social-list a.social-list-sendmessage span {
	display:none
}

#bodywrapper ul.social-list div.thumbnail {
	background-color: white;
	padding: 5px;
	border:1px solid #B9DDFA;

}
/******************************************************************************
* statusUpdateForm
******************************************************************************/
#bodywrapper .statusUpdateForm {
	margin:0
}
#bodywrapper .statusUpdateForm p{
	margin:0.5em 0;
	padding:0;
}
#bodywrapper .statusUpdateForm fieldset {
	border:none
}
#bodywrapper .statusUpdateForm legend {
	display:none
}
#bodywrapper .statusUpdateForm label {
display:block
}
#bodywrapper .statusUpdateForm input, #bodywrapper .statusUpdateForm textarea {
	width:98%;
	clear:both
}
#bodywrapper .statusUpdateForm input.button{
	width:auto
}
/******************************************************************************
*  activitiesList
******************************************************************************/

#bodywrapper ul.activitiesList  {
	position:relative;
	margin:0;
	list-style:none;
	padding:0
}
#bodywrapper .activitiesList li {
	padding:10px;
	margin:0;
	margin-bottom:0px;
	list-style:none;
	background: url(img/hr.png) repeat-x bottom left;
}
#bodywrapper .activitiesList li:last-child {
	background:none;
}
#bodywrapper .activitiesList .itemImageLeft {
	margin-right:20px
}
#bodywrapper .activitiesList .itemImageRight {
	margin-left:20px
}

#bodywrapper .activitiesList li p {
	padding:0;
}
#bodywrapper .activitiesList li.last {
	background:none;
}

#bodywrapper .activitiesList .timestamp {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.2em;
	margin-left:0.5em;
}

#bodywrapper .activitiesList h5.author {
	display:inline;
	margin:0;
	padding:0;
	font-weight:bold;
}
/******************************************************************************
*  Users Messages list
******************************************************************************/

#bodywrapper ul.userMessagesList  {
	position:relative;
	margin:0;
	list-style:none;
	padding:0;
}
#bodywrapper .userMessagesList li {
	padding:10px;
	margin:0;
	margin-bottom:0px;
	list-style:none;
	background: url(img/hr.png) repeat-x bottom left;
}
#bodywrapper .userMessagesList li:last-child {
	background:none;
}
#bodywrapper .userMessagesList .itemImageLeft,
#bodywrapper .userMessagesDetail .itemImageLeft {
	margin-right:20px
}
#bodywrapper .userMessagesList .itemImageRight,
#bodywrapper .userMessagesDetail .itemImageRight {
	margin-left:20px
}

#bodywrapper .userMessagesList li p,
#bodywrapper .userMessagesDetail p {
	padding:0;
}
#bodywrapper .userMessagesList li.last {
	background:none;
}

#bodywrapper .userMessagesList .timestamp,
#bodywrapper .userMessagesDetail .timestamp {
	font-size:0.8em;
	font-weight:normal;
	line-height:1.2em;
	margin-left:0.5em;
}

#bodywrapper .userMessagesList h5.messageSenderName,
#bodywrapper .userMessagesDetail h5.messageSenderName {
	display:inline;
	margin:0;
	padding:0;
	font-weight:bold;
}

#bodywrapper ul.messageActionList {
	padding:0;
	margin:0;
	float:right;
}
#bodywrapper ul.messageActionList li{
	display:inline;
	background:none;
	padding:0;
	margin:0;
}
#bodywrapper ul.messageActionList a.messageActionReply {
	width:16px;
	height:16px;
	display:block;
	background: url(img/reply-message.png) no-repeat top right;
	float:right;
	margin-left:4px;
}
#bodywrapper ul.messageActionList a.messageActionReply span {
	display:none
}
#bodywrapper ul.messageActionList a.messageActionDelete {
	width:16px;
	height:16px;
	display:block;
	background: url(img/delete.png) no-repeat top right;
	float:right;
	margin-left:4px;
}
#bodywrapper ul.messageActionList a.messageActionDelete span {
	display:none
}

/******************************************************************************
*  Send Message Pop up
******************************************************************************/
/*Pop up*/
#divSendMessage {
    overflow: auto;
	width: 500px;
	height: 230px;
	background-color: #eaeaea;
}

#bodywrapper #divSendMessage {
	display: none;
}
/*Form Title Pop up*/
#divSendMessage h3.boxmessage-title {
	background:#666666 url(img/boxsocial-h4title.png) repeat-x top right;
	border:1px solid #666666;
	color:#fff;
	font-size:1.3em;
	margin-left:0;
	padding:5px;
	text-align:center;
	font-weight:normal;
	clear:both;
	margin:0;
}
/*Form Docspace Pop up*/
#divSendMessage .formMessage {
	margin:10px
}
#divSendMessage .formMessage fieldset {
	border:none
}
#divSendMessage .formMessage legend {
	display:none
}
#divSendMessage .formMessage input,
#divSendMessage .formMessage textarea {
	width:97%
}
#divSendMessage .formMessage p{
	clear:both;
	margin:0.5em 0;
	padding:0px
}
#divSendMessage .formMessage .formMarginLeft{
	margin:0.5em 0 0.5em 0;
	padding:0;
}
#divSendMessage .formMessage label.left,
#divSendMessage .formMessage label {
	display:block;
	font-weight:bold;

}
#divSendMessage .formMessage input.radio,
#divSendMessage .formMessage input.checkbox,
#divSendMessage .formMessage input.button,
#divSendMessage .formMessage button {
	width:auto;
}

#searchUsersResult td {
	border: 0 none red !important;
}