#tasklist .hidden {
	display:none;
}
#tasklist .taskFormConsult label.left {
padding:0;
}
#tasklist .tableTasks caption{
	display:none
}
#tasklist div.listEditToolbar {
	margin-bottom:0px !important;
}
/******************************************************************************
*  Add  tasks Form
******************************************************************************/
#tasklist .taskForm input[type="text"], #tasklist .taskForm textarea {
	width:50%;
}
/******************************************************************************
*  Form comments
******************************************************************************/
#tasklist td.tdTaskComments{
	background:#FFFFCC url(img/tdtaskcomments-bg.png) repeat scroll right top;
	padding:24px !important;
	padding-top:10px;
	font-size:1.17em
}

#tasklist .Form-tasksComments p {
	padding:0;
	margin:0 0 0.2em 0;
}
#tasklist .Form-tasksComments input.field, #tasklist .Form-tasksComments textarea {
	width:98%;
	clear:both
}
/******************************************************************************
*  Taskscomments
******************************************************************************/
#tasklist form.Form-tasksComments{
	padding-top:10px;
}
#tasklist p.TasksComment{
	font-weight:normal;
	padding:0;
	line-height:1.85em;
}
#tasklist .TasksCommentDate{
	font-size:0.8em;
	font-weight:normal;
	color: #666666
}
/******************************************************************************
*  boxtasks
******************************************************************************/
#tasklist div.boxtasks {
	position:relative;
	clear:both;
}

#tasklist div.boxtasks h3.boxtaskstitleh3 {
	margin:0;
	padding:0;
	display:inline
}
#tasklist div.boxtasks-inner {
	background-color:#fff;
	border:1px solid #cecece;
	height:1%;

}
#tasklist div.boxtasks-inner p {

}
#tasklist .boxtasks-inner .boxtasks-inner-border {
	border:1px solid #fff;
	height:1%;
	background-color:#fff;
}
/*boxtasksshadow*/
#tasklist div.boxtasksshadow {
	border:1px solid #cecece;
}

#tasklist div.boxtasksshadow div.boxtasks-inner {
	background-color:#fff;
	border:1px solid #cecece;
	margin:-2px 0 0 -2px;
}
/*boxtasks color*/
#tasklist .boxtasksgrey .boxtasks-inner .boxtasks-inner-border {
	background-color:#e1e1e1
}
#tasklist .boxtasksyellow .boxtasks-inner .boxtasks-inner-border {
	background-color:#FCF0BA
}
#tasklist .boxtaskswhite .boxtasks-inner {
	background-color:#fff
}
#tasklist .boxtaskswhite .boxtasks-inner .boxtasks-inner-border {
	background-color:#fff
}

/*boxtasks padding*/
#tasklist .boxtaskspadding16 .boxtasks-inner .boxtasks-inner-border {
	padding:16px;
}

/*boxtasks margin*/
#tasklist .boxtasksmarginbottom16{
	margin-bottom:16px;
}

/*boxtasks title*/
#tasklist h4.boxtasks-title {
	background:#666666 url(img/boxtasks-h4title.png) repeat-x top right;
	border:1px solid #666666;
	color:#fff;
	font-size:1.3em;
	margin-left:0;
	padding:5px;
	text-align:center;
	font-weight:normal;
	clear:both;
	margin:0;
}