#contributeToolbar {
    height:27px;
    width:100%;
    background: #03399c url(img/contribute-toolbar-bg.png) no-repeat top right;
	line-height:24px;
	color:#FFF;
}
#contributeToolbar span{
	font-size:11px !important;
	color:#FFF;
	padding: 4px;
	border-left: 2px groove #03C;
	}
#contributeToolbar a, #contributeToolbar a:link, #contributeToolbar a:visited{
	width:auto;
    color: #fff;
	padding:4px;
	vertical-align: middle;
	display:inline;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px !important;
	line-height:16px;
	margin-bottom:5px;
	margin-top:2px;
	text-decoration:none
}
#contributeToolbar a:hover, #contributeToolbar a:active{
    background:#c6dcf6 url(img/contribute-toolbar-bg-a.png) repeat-x top left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    color: #333;
	cursor: pointer;
	text-decoration:none;
}

#bodywrapper ul.pagecontributeToolbar  {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	margin:0.5em 0;
}
#bodywrapper ul.pagecontributeToolbar li {
	float:left;
	margin:0;
	padding:0;
	margin-bottom: 5px;
	margin-right: 10px;
}
#bodywrapper ul.pagecontributeToolbar li a,#bodywrapper ul.pagecontributeToolbar li a:link, #bodywrapper ul.pagecontributeToolbar li a:visited{
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 1px 3px #ccc;
    background: url(img/page-contribute-toolbar-bg-a.png) repeat-x scroll left bottom #FFFFFF;
    border: medium none;
    color: #000000;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 11px !important;
    line-height: 16px;
    padding: 2px 4px;
    vertical-align: middle;
	text-decoration:none;
	display:block;
	border:1px solid #ccc
}
#bodywrapper ul.pagecontributeToolbar li a:hover, #bodywrapper ul.pagecontributeToolbar li a:active{
    background:#c6dcf6 url(img/page-contribute-toolbar-bg-a-on.png) repeat-x top left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    color: #333;
	cursor: pointer;
	text-decoration:none;
}

#bodywrapper h3.pastelink {
	color:#333333;
	font-size:1.8em;
	padding:5px 0 5px 0;
	margin:0px;
}
#bodywrapper h3.pastelink img {
	vertical-align: text-bottom;
	margin-right:5px
}