<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Jahia Configuration Wizard</display-name>

    <context-param>
        <param-name>dirName</param-name>
        <param-value>${jahia.deploy.war.dirName}</param-value>
    </context-param>

    <servlet>
        <servlet-name>
            JahiaConfigurationWizard
        </servlet-name>
        <servlet-class>
            org.jahia.bin.JahiaConfigurationWizard
        </servlet-class>
        <init-param>
            <param-name>default_locale</param-name>
            <param-value>en</param-value>
        </init-param>

        <init-param>
            <param-name>jahia-edition</param-name>
            <param-value>community</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>JahiaConfigurationWizard</servlet-name>
        <url-pattern>/installation/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
