#bodywrapper .contentinfos {
    background: none repeat scroll 0 0 #FBF5D0;
    border: 1px solid #F9DD34;
    color: #333333;
    margin: 0.5em 0;
    padding: 0.5em;
}
#bodywrapper .contentinfos h3 {

    margin-top: 0;
    padding-top: 0;
}
#bodywrapper .contentinfos dt {
	font-weight:bold
}
#bodywrapper .contentinfos dd {
	margin-bottom:0.5em;
}