<?xml version="1.0" encoding="UTF-8"?>

<Configuration xmlns:xi="http://www.w3.org/2001/XInclude" packages="org.jahia.bin.errors,org.jahia.services.notification">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%-5p - %encode{%.-500m}{CRLF}%n%sxThrowable" />
            <ThresholdFilter level="DEBUG" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
