<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <import resource="classpath:/spring-init-digital-factory-test.xml" />
    
    <import resource="classpath:/org/jahia/defaults/config/spring/applicationcontext-text-extraction.xml" />
    <import resource="classpath:/org/jahia/defaults/config/spring/applicationcontext-seo.xml" />
    <import resource="classpath:/org/jahia/defaults/config/spring/applicationcontext-renderer.xml" />
    <import resource="classpath:/org/jahia/defaults/config/spring/applicationcontext-notification.xml" />
    
    <bean id="MailService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.jahia.services.mail.MailServiceImpl" />
    </bean>    

    <bean name="PublicationHelper" class="org.jahia.ajax.gwt.helper.PublicationHelper">
        <property name="httpClientService" ref="HttpClientService"/>
        <property name="publicationService" ref="jcrPublicationService"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowHelper" ref="WorkflowHelper"/>
    </bean>

    <bean name="WorkflowHelper" class="org.jahia.ajax.gwt.helper.WorkflowHelper" init-method="start">
        <property name="service" ref="workflowService"/>
        <property name="userManagerService" ref="JahiaUserManagerService"/>
        <property name="groupManagerService" ref="JahiaGroupManagerService"/>
    </bean>

    <bean name="NavigationHelper" class="org.jahia.ajax.gwt.helper.NavigationHelper">
        <property name="ignoreInUsages">
            <set>
                <value>jnt:socialActivity.*</value>
                <value>jnt:workflowTask.*</value>
            </set>
        </property>
        <property name="nodeHelper">
            <bean class="org.jahia.ajax.gwt.helper.NodeHelper">
                <property name="sessionFactory" ref="jcrSessionFactory"/>
                <property name="jcrVersionService" ref="jcrVersionService"/>
                <property name="visibilityService" ref="visibilityService"/>
                <property name="languages" ref="LanguagesHelper"/>
                <property name="publication" ref="PublicationHelper"/>
                <property name="workflow" ref="WorkflowHelper"/>                
            </bean>
        </property>
    </bean>
    
    <bean name="LanguagesHelper" class="org.jahia.ajax.gwt.helper.LanguageHelper"/>
    
    <bean name="SearchHelper" class="org.jahia.ajax.gwt.helper.SearchHelper">
        <property name="navigation" ref="NavigationHelper"/>
        <property name="jcrService" ref="JCRStoreService"/>
        <property name="jcrSearchProvider" ref="org.jahia.services.search.jcr.JahiaJCRSearchProvider"/>
    </bean>    

    
    <context:annotation-config />
    <context:spring-configured />
        
</beans>    
