/********************************/
/*** COMBO BOX                ***/
/********************************/

@mixin _context-list($type: $APP) {
    width: auto !important;
    background: transparent;
    overflow: visible;
    z-index: 999999999999999 !important;
    border: none;

    .x-menu-list {
        height: auto !important;

        &::before {
            background: _theme($MENU-TITLE--BG, $type);
            width: 100%;
            display: block;
            padding: 3px 8px;
            font-family: "Nunito Sans";
            font-size: 9px;
            color: _theme($MENU-TITLE--COLOR, $type);
            text-transform: uppercase;
            font-weight: 600;
            z-index: $ZINDEX--CONTEXT_MENU---TITLE;
        }
    }


    .x-menu-list-item {

        .x-menu-item {
            border: none;
            display: block;
            text-align: left !important;
            background: _theme($MENU-OPENED--BG, $type);
            padding: 8px 9px 8px 24px !important;
            border: none;
            background-image: url(../images/icons/context-menu/placeholder.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 1 */
            background-position-x: 5px;
            background-position-y: 7px;
            background-repeat: no-repeat;
            background-size: 16px;

            &.x-menu-check-item {
                padding-left: 25px !important;
            }

            &.x-menu-item-arrow {
                background-image: url(../images/icons/toggle-WE-white@X2.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 2 */
                background-position: right 6px center;
                background-repeat: no-repeat;
                background-size: 13px;
            }

            @include text(13px, _theme($MENU-OPENED--COLOR, $type), _weight("light"));

            &.toolbar-item-editcontent, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 1 */
            &.toolbar-item-editsourcecontent, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 2 */
            &.toolbar-item-editcontentrootnodeeditable { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 3 */
                /* OPTIMISE NOTE ::: replace #1/#2/#3 classes with one classname */
                background-image: url(../images/icons/context-menu/edit.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 3 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-delete, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 4 */
            &.toolbar-item-deletepermanently, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 5 */
            &.toolbar-item-deletepermanentlynomarkfordeletion { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 6 */
                /* OPTIMISE NOTE ::: replace #4/#5/#6 classes with one classname */
                background-image: url(../images/icons/context-menu/delete.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 4 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-copy, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 7 */
            &.toolbar-item-webdavurlcopy { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 8 */
                /* OPTIMISE NOTE ::: replace #7/#8 classes with one classname */
                background-image: url(../images/icons/context-menu/copy.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 5 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-cut {
                background-image: url(../images/icons/context-menu/cut.svg); /* OPTIMISE URL ::: css/components/_combos.scss ::: 6 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-crop {
                background-image: url(../images/icons/context-menu/crop.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 7 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-rename {
                background-image: url(../images/icons/context-menu/rename.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 8 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-resize {
                background-image: url(../images/icons/context-menu/resize.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 9 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-rotate {
                background-image: url(../images/icons/context-menu/rotate-right.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 101 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-flush, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 9 */
            &.toolbar-item-flushsite, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 10 */
            &.toolbar-item-flushall { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 11 */
                /* OPTIMISE NOTE ::: replace #9/#10/#11 classes with one classname */
                background-image: url(../images/icons/context-menu/delete-outline.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 11 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-paste, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 12 */
            &.toolbar-item-pastecurrentpage, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 13 */
            &.toolbar-item-pastereference { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 14 */
                /* OPTIMISE NOTE ::: replace #12/#13/#14 classes with one classname */
                background-image: url(../images/icons/context-menu/paste.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 12 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-publishinalllanguages, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 15 */
            &.toolbar-item-publishinalllanguages-pages, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 16 */
            &.toolbar-item-publishall, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 17 */
            &.toolbar-item-publishall-contentandfiles, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 18 */
            &.toolbar-item-publishallinalllanguages-contentandfiles, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 19 */
            &.toolbar-item-publishallinalllanguages, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 20 */
            &.toolbar-item-publishallinalllanguages-pages, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 21 */
            &.toolbar-item-publish, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 22 */
            &.toolbar-item-publish-contentandfiles, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 23 */
            &.toolbar-item-contextual-publish, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 24 */
            &.toolbar-item-pagestab-publicationmenu, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 25 */
            &.toolbar-item-publishall-pages, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 26 */
            &.toolbar-item-publishone, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 27 */
            &.toolbar-item-publishsite, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 28 */
            &.toolbar-item-publishsite-sitenode, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 29 */
            &.toolbar-item-publishsiteinalllanguages-sitenode, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 30 */
            &.toolbar-item-publishsiteinalllanguages { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 31 */
                /* OPTIMISE NOTE ::: replace #15 > #31 classes with one classname */
                background-image: url(../images/icons/context-menu/publish.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 13 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-contextual-publish:after, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 32 */
            &.toolbar-item-publish-contentandfiles:after, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 33 */
            &.toolbar-item-publish:after, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 34 */
            &.toolbar-item-pagestab-publicationmenu:after { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 35 */
                /* OPTIMISE NOTE ::: replace #32/#33/#34/#35 classes with one classname */
                background-image: url(../images/icons/toggle-WE-white@X2.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 14 */
                background-position: 5px 1px;
                background-repeat: no-repeat;
                background-size: 13px;
                content: '';
                height: 24px;
                width: 24px;
                position: absolute;
                right: 0;
            }

            &.toolbar-item-unpublish, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 36  */
            &.toolbar-item-unpublishinalllanguages { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 37 */
                /* OPTIMISE NOTE ::: replace #36/37 classes with one classname */
                background-image: url(../images/icons_light/unpublish.svg); /* OPTIMISE URL ::: css/components/_combos.scss ::: 15 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-lock {
                background-image: url(../images/icons/context-menu/lock.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 16 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-unlock {
                background-image: url(../images/icons/context-menu/unlock.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 17 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-publicationmanager {
                background-image: url(../images/icons/context-menu/publication-manager.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 18 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-workflowdashboard {
                background-image: url(../images/icons/context-menu/workflow.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 19 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-filepreview, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 38  */
            &.toolbar-item-openincontentmanager, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 39 */
            &.toolbar-item-openincontentmanager-newtab { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 40 */
                /* OPTIMISE NOTE ::: replace #38/#39/#40 classes with one classname */
                background-image: url(../images/icons/context-menu/preview.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 20 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-export {
                background-image: url(../images/icons/context-menu/export.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 21 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-import {
                background-image: url(../images/icons/context-menu/import.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 22 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-update {
                background-image: url(../images/icons/context-menu/import-export.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 23 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-translatemenu, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 41 */
            &.toolbar-item-translatemenu-item { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 42 */
                /* OPTIMISE NOTE ::: replace #41/#42 classes with one classname */
                background-image: url(../images/icons/context-menu/translate.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 24 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-translatemenu:after {
                background-image: url(../images/icons/toggle-WE-white@X2.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 25 */
                background-position: 5px 1px;
                background-repeat: no-repeat;
                background-size: 13px;
                content: '';
                height: 24px;
                width: 24px;
                position: absolute;
                right: 0;
            }

            &.toolbar-item-pagestab-addmenu {
                background-image: url(../images/icons/context-menu/add.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 26 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-pagestab-addmenu:after {
                background-image: url(../images/icons/toggle-WE-white@X2.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 27 */
                background-position: 5px 1px;
                background-repeat: no-repeat;
                background-size: 13px;
                content: '';
                height: 24px;
                width: 24px;
                position: absolute;
                right: 0;
            }

            &.toolbar-item-live {
                background-image: url(../images/icons/context-menu/live.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 28 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-live:after {
                background-image: url(../images/icons/toggle-WE-white@X2.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 29 */
                background-position: 5px 1px;
                background-repeat: no-repeat;
                background-size: 13px;
                content: '';
                height: 24px;
                width: 24px;
                position: absolute;
                right: 0;
            }

            &.toolbar-item-preview {
                background-image: url(../images/icons/context-menu/preview.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 30 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-preview:after {
                background-image: url(../images/icons/toggle-WE-white@X2.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 31 */
                background-position: 5px 1px;
                background-repeat: no-repeat;
                background-size: 13px;
                content: '';
                height: 24px;
                width: 24px;
                position: absolute;
                right: 0;
            }

            &.toolbar-item-gotoviewdefinition {
                background-image: url(../images/icons/context-menu/view-source.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 32 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-gotocontent {
                background-image: url(../images/icons/context-menu/arrow-right.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 33 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-newpage, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 43 */
            &.toolbar-item-newcategory { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 44 */
                /* OPTIMISE NOTE ::: replace #43/#44 classes with one classname */
                background-image: url(../images/icons/context-menu/new-page.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 34 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-newinternallink {
                background-image: url(../images/icons/context-menu/link.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 35 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-newexternallink {
                background-image: url(../images/icons/context-menu/link.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 36 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-navmenutext {
                background-image: url(../images/icons/context-menu/newNavMenuText.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 37 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-undelete {
                background-image: url(../images/icons/context-menu/undo.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 38 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-clearlock, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 45 */
            &.toolbar-item-clearalllocks { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 46 */
                /* OPTIMISE NOTE ::: replace #45/#46 classes with one classname */
                background-image: url(../images/icons/context-menu/unlock.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 39 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-newfolder, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 47 */
            &.toolbar-item-newcontentfolder { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 48 */
                /* OPTIMISE NOTE ::: replace #47/#48 classes with one classname */
                background-image: url(../images/icons/context-menu/new-folder.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 40 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-newcontent {
                background-image: url(../images/icons/context-menu/new-content.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 41 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-download {
                background-image: url(../images/icons/context-menu/download.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 42 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-upload {
                background-image: url(../images/icons/context-menu/upload.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 43 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-zip {
                background-image: url(../images/icons/context-menu/zip.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 44 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-unzip {
                background-image: url(../images/icons/context-menu/unzip.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 45 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-previewasguest {
                background-image: url(../images/icons/context-menu/custom-preview.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 46 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-showcompareengine, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 49 */
            &.toolbar-item-showversionengine { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 50 */
                /* OPTIMISE NOTE ::: replace #49/#50 classes with one classname */
                background-image: url(../images/icons/context-menu/compare.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 47 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-showconsultpreviousversionengine {
                background-image: url(../images/icons/context-menu/published-versions.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 48 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-live-openWindow, /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 51 */
            &.toolbar-item-preview-openWindow { /* OPTIMISE SELECTOR ::: css/components/_combos.scss ::: 52 */
                /* OPTIMISE NOTE ::: replace #51/#52 classes with one classname */
                background-image: url(../images/icons/context-menu/open-new.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 49 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-newportletfolder {
                background-image: url(../images/buttons_light/new-content-folder.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 50 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-newportlet {
                background-image: url(../images/buttons_light/new-portlet.png); /* OPTIMISE URL ::: css/components/_combos.scss ::: 52 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }

            &.toolbar-item-refresh {
                background-image: url(../images/icons_light/refresh.svg); /* OPTIMISE URL ::: css/components/_combos.scss ::: 53 */
                background-color: _theme($MENU-OPENED--BG, $type);
                background-position-x: 5px;
                background-position-y: 7px;
                background-repeat: no-repeat;
                background-size: 16px;
            }
        }

        &.x-item-disabled {
            .x-menu-item {
                color: _theme($MENU-OPENED--COLOR---DISABLED, $type) !important;
                font-style: italic;
                opacity: 1;
                background-color: _theme($MENU-OPENED--BG---DISABLED, $type);
                display: none;

                &.x-menu-check-item {
                    display: block;
                }
            }

        }

        &.x-menu-item-active {
            .x-menu-item {
                color: _theme($MENU-OPENED--COLOR---HOVER, $type);
                background-color: _theme($MENU-OPENED--BG---HOVER, $type);
            }
        }
    }
}

@mixin _combo-list($type: $APP) {
    /* Combo Outer Container */
    background: transparent;
    overflow: visible;
    z-index: 9999999 !important;
    min-width: 150px;

    /* Combo Inner Container */
    .x-combo-list-inner {
        width: auto !important;
        background: transparent;

        /* Combo List Items that have Thumbs, ie. Channel Combo */
        .thumb-wrap {
            img {
                /* Actual thumb */
                display: none !important;
            }

            .x-editable {
                /* List item when normal Thumbed Combo
                   Actual Label of Combo Item */
                text-align: left !important;
                background: _theme($MENU-OPENED--BG, $type);
                padding: 8px 9px !important;
                border: none;

                @include text(13px, _theme($MENU-OPENED--COLOR, $type), _weight("light"));
            }

            &.x-combo-selected {
                /* Selected / Hovered */
                border: none !important;

                .x-editable {
                    /* List item when normal Thumbed Combo */
                    color: _theme($MENU-OPENED--COLOR---HOVER, $type);
                    background: _theme($MENU-OPENED--BG---HOVER, $type);
                }
            }
        }
    }

    /* List item when normal Combo */
    .x-combo-list-item {
        display: block;
        text-align: left !important;
        background: _theme($MENU-OPENED--BG, $type);
        padding: 8px 9px !important;
        border: none;

        @include text(13px, _theme($MENU-OPENED--COLOR, $type), _weight("light"));

        &:empty {
            display: none;
        }

        &.x-view-highlightrow,
        &:hover {
            /* Selected / Hovered */
            border: none !important;
            cursor: pointer;
            color: _theme($MENU-OPENED--COLOR---HOVER, $type);
            background: _theme($MENU-OPENED--BG---HOVER, $type);
        }
    }
}

@mixin _combo($type: $APP) {
    width: auto !important;

    input.x-form-text {
        width: 100% !important;
        height: auto !important;
        box-sizing: border-box;
        display: block;
        padding: 7px 37px 6px 10px !important;

        background: _theme($MENU-CLOSED--BG, $type);
        box-shadow: _theme($MENU-CLOSED--SHADOW, $type);

        @include text(_size("small"), _theme($MENU-CLOSED--COLOR, $type), _weight("extralight"));

        &:hover {
            color: _theme($MENU-CLOSED--COLOR---HOVER, $type);
            background: _theme($MENU-CLOSED--BG---HOVER, $type);
            box-shadow: _theme($MENU-CLOSED--SHADOW---HOVER, $type);
        }

        &::-webkit-input-placeholder {
            color: _theme($MENU-CLOSED--COLOR, $type);
        }

        &:-moz-placeholder {
            color: _theme($MENU-CLOSED--COLOR, $type);
        }

        &::-moz-placeholder {
            color: _theme($MENU-CLOSED--COLOR, $type);
        }

        &:-ms-input-placeholder {
            color: _theme($MENU-CLOSED--COLOR, $type);
        }
    }

    // Trigger
    img {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px !important;
        height: 100% !important;
        border: none !important;

        background: url(_theme($MENU-CLOSED--ARROW, $type)) no-repeat center center _theme($MENU-CLOSED--ARROW-BG, $type) !important;

        &:hover {
            background-image: _theme($MENU-CLOSED--ARROW---HOVER, $type) !important;
            background-color: _theme($MENU-CLOSED--ARROW-BG---HOVER, $type) !important;
        }
    }
}




@mixin _combo-muted($type: $APP) {

    width: auto !important;

    input.x-form-text {
        width: 100% !important;
        height: auto !important;
        box-sizing: border-box;
        display: block;
        padding: 7px 37px 6px 10px !important;

        background: red;
        box-shadow: _theme($MENU-MUTED-CLOSED--SHADOW, $type);

        @include text(_size("small"), _theme($MENU-MUTED-CLOSED--COLOR, $type), _weight("extralight"));

        &:hover {
            color: _theme($MENU-MUTED-CLOSED--COLOR---HOVER, $type);
            background: _theme($MENU-MUTED-CLOSED--BG---HOVER, $type);
            box-shadow: _theme($MENU-MUTED-CLOSED--SHADOW---HOVER, $type);
        }
    }

    // Trigger
    img {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px !important;
        height: 100% !important;
        border: none !important;

        background: url(_theme($MENU-MUTED-CLOSED--ARROW, $type)) no-repeat center center _theme($MENU-MUTED-CLOSED--ARROW-BG, $type) !important;

        &:hover {
            background-image: _theme($MENU-MUTED-CLOSED--ARROW---HOVER, $type) !important;
            background-color: _theme($MENU-MUTED-CLOSED--ARROW-BG---HOVER, $type) !important;
        }
    }
}


@mixin _combo-picker($type: $APP) {

    width: auto !important;

    input.x-form-text {
        width: 100% !important;
        height: auto !important;
        box-sizing: border-box;
        display: block;
        padding: 7px 20px 6px 10px !important;

        background: _theme($MENU-CLOSED--BG, $type);
        box-shadow: _theme($MENU-CLOSED--SHADOW, $type);

        @include text(_size("small"), _theme($MENU-CLOSED--COLOR, $type), _weight("extralight"));

        &:hover {
            color: _theme($MENU-CLOSED--COLOR---HOVER, $type);
            background: _theme($MENU-CLOSED--BG---HOVER, $type);
            box-shadow: _theme($MENU-CLOSED--SHADOW---HOVER, $type);
        }
    }

    .x-form-twin-triggers {
        display: block;
        position: absolute;
        right: 5px;
        top: 0;
        width: 57px;
        height: 100%;

        img {
            display: inline-block;
            position: relative;
            width: 27px;
            height: 100%;
            border: none !important;

            &.x-form-trigger-arrow {
                background: url(_theme($MENU-CLOSED--OPTIONS, $type)) no-repeat center center _theme($MENU-CLOSED--OPTIONS-BG, $type) !important;
                background-size: 10px !important;
                float: right;

                &:hover {
                    background-color: _theme($MENU-CLOSED--OPTIONS-BG---HOVER, $type) !important;
                }
            }

            &.x-form-clear-trigger {
                background: url(_theme($MENU-CLOSED--CLEAR, $type)) no-repeat center center _theme($MENU-CLOSED--CLEAR-BG, $type) !important;
                right: -3px;
                position: relative;
                background-size: 10px !important;

                &:hover {
                    background-color: _theme($MENU-CLOSED--CLEAR-BG---HOVER, $type) !important;
                }
            }
        }
    }
}






// OVERRIDES
.x-viewport-contributemode div[role="combobox"].toolbar-itemsgroup-languageswitcher input.x-form-text {
    padding: 0 17px 0 0 !important;
    background: none !important;
    font-size: 14px;
    box-shadow: none !important;
    color: _color("secondary");
}

.x-viewport-contributemode div[role="combobox"].toolbar-itemsgroup-languageswitcher input.x-form-text:hover {
    color: _color("white", normal);
}
