@mixin dual_list() {

    .list-store-field {
        /* Yet another container */
        height: auto !important;
        width: 100% !important;
        background: transparent;

        .x-combo-list-item {
            background: _theme($LIST-BOX--ROW--BG, $EDIT-ENGINE);
            color: _theme($LIST-BOX--ROW--COLOR, $EDIT-ENGINE);

            &.x-combo-over {
                background: _theme($LIST-BOX--ROW--BG---HOVER, $EDIT-ENGINE);
                color: _theme($LIST-BOX--ROW--COLOR---HOVER, $EDIT-ENGINE);
            }

            &.x-combo-selected {
                background: _theme($LIST-BOX--ROW--BG---SELECTED, $EDIT-ENGINE);
                color: _theme($LIST-BOX--ROW--COLOR---SELECTED, $EDIT-ENGINE);

                &.x-combo-over {
                    background: _theme($LIST-BOX--ROW--BG---SELECTED, $EDIT-ENGINE);
                    color: _theme($LIST-BOX--ROW--COLOR---SELECTED, $EDIT-ENGINE);
                }
            }
        }

        > table {
            display: block;

            > tbody {
                display: block;
                width: 100%;

                > tr {
                    display: block;
                    width: 100%;

                    > td {
                        display: block;

                        // SOURCE LIST
                        &:nth-child(1) { /* OPTIMISE SELECTOR ::: css/components/_dual-lists.scss ::: 1 */

                            width: calc(50% - 15px);
                            display: inline-block;
                            position: relative !important;

                            // INPUT FILTER
                            > div > table > tbody > tr:nth-child(1) > td {
                                padding: 5px;
                                background: _theme($LIST-BOX--ROW--BG, $EDIT-ENGINE);
                                box-sizing: border-box;

                                > .x-form-field-wrap {
                                    width: 100% !important;
                                }
                            }

                            // This block has a text filter, so change the height to accomodate
                            .x-table-layout-cell {
                                .x-form-list {
                                    height: 161px !important;
                                }
                            }
                        }

                        // BUTTONS
                        &:nth-child(2) { /* OPTIMISE SELECTOR ::: css/components/_dual-lists.scss ::: 2 */
                            width: 30px;
                            display: inline-block;
                            position: relative !important;

                            > div {
                                margin: 39px 0 0 0 !important;
                            }
                        }

                        // SELECTION LIST
                        &:nth-child(3) { /* OPTIMISE SELECTOR ::: css/components/_dual-lists.scss ::: 3 */
                            width: calc(50% - 15px);
                            display: inline-block;
                            position: relative !important;
                        }
                    }
                }
            }
        }

        .x-form-clear-trigger {
            background-color: _theme($INPUT--BG, $EDIT-ENGINE) !important;
            opacity: 0.5;

            &:hover {
                background-color: _theme($INPUT--BG---HOVER, $EDIT-ENGINE) !important;
                opacity: 1;
            }
        }

        .x-form-empty-field + .x-form-clear-trigger {
            display: none;
        }

        .x-form-text {
            background: _theme($INPUT--BG, $EDIT-ENGINE) !important;

            @include text(13px, _theme($INPUT--COLOR, $EDIT-ENGINE), _weight("semilight"));

            &:hover {
                background: _theme($INPUT--BG---HOVER, $EDIT-ENGINE) !important;
                color: _theme($INPUT--COLOR---HOVER, $EDIT-ENGINE) !important;
            }

            &:focus {
                background: _theme($INPUT--BG---FOCUS, $EDIT-ENGINE) !important;
                color: _theme($INPUT--COLOR---FOCUS, $EDIT-ENGINE) !important;
            }
        }

        // FILTER CONTAINER
        .x-form-field-wrap {
            width: 100% !important;

            input {
                padding-right: 24px !important;
            }
        }

        .x-table-layout-cell {
            width: 100% !important;
            display: inline-block;
        }
    }
}
