<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="combinedFelixProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="properties">
            <props value-type="java.lang.String">
                <prop key="gosh.args">--nointeractive -sc telnetd --port=${felix.gogo.shell.telnet.port:2019} start</prop>
                
                <prop key="felix.cache.bufsize">65536</prop>
                <prop key="felix.log.level">1</prop>
                
                <prop key="felix.fileinstall.active.level">2</prop>
                <prop key="felix.fileinstall.bundles.new.start">false</prop>
                <prop key="felix.fileinstall.dir">${jahiaWebAppRoot}/WEB-INF/var/bundles,${jahiaWebAppRoot}/WEB-INF/var/modules</prop>
                <prop key="felix.fileinstall.noInitialDelay">true</prop>
                <prop key="felix.fileinstall.start.level">2</prop>
                
                <prop key="obr.repository.url">http://felix.apache.org/obr/releases.xml</prop>
                
                <prop key="org.osgi.framework.bootdelegation">com.yourkit.*</prop>
                <prop key="org.osgi.framework.bundle.parent">framework</prop>
                <prop key="org.osgi.framework.startlevel.beginning">2</prop>
                <prop key="org.osgi.framework.storage">${jahiaWebAppRoot}/WEB-INF/var/bundles-deployed</prop>
                <prop key="org.osgi.framework.storage.clean">none</prop>
                
                <prop key="felix.webconsole.manager.root">/console</prop>
                
                <prop key="org.jahia.bundles.url.jahiawar.importedPackages"><![CDATA[
                    *=javax.jcr,
                    *=javax.jcr.nodetype,
                    *=javax.servlet.jsp.tagext,
                    *=org.apache.camel.spring,
                    *=org.hibernate.cfg,
                    *=org.jahia.ajax.gwt.client.widget.contentengine,
                    *=org.jahia.ajax.gwt.client.widget.edit.sidepanel,
                    *=org.jahia.ajax.gwt.client.widget.subscription,
                    *=org.jahia.ajax.gwt.client.widget.toolbar.action,
                    *=org.jahia.api,
                    *=org.jahia.bundles.extender.jahiamodules,
                    *=org.jahia.data.templates,
                    *=org.jahia.data.viewhelper.principal,
                    *=org.jahia.defaults.config.spring,
                    *=org.jahia.exceptions,
                    *=org.jahia.params.valves,
                    *=org.jahia.taglibs,
                    *=org.jahia.taglibs.facet,
                    *=org.jahia.taglibs.functions,
                    *=org.jahia.taglibs.internal.date,
                    *=org.jahia.taglibs.jcr,
                    *=org.jahia.taglibs.jcr.node,
                    *=org.jahia.taglibs.jcr.query,
                    *=org.jahia.taglibs.query,
                    *=org.jahia.taglibs.search,
                    *=org.jahia.taglibs.template,
                    *=org.jahia.taglibs.template.gwt,
                    *=org.jahia.taglibs.template.include,
                    *=org.jahia.taglibs.template.layoutmanager,
                    *=org.jahia.taglibs.template.pager,
                    *=org.jahia.taglibs.uicomponents,
                    *=org.jahia.taglibs.uicomponents.i18n,
                    *=org.jahia.taglibs.uicomponents.image,
                    *=org.jahia.taglibs.uicomponents.loginform,
                    *=org.jahia.taglibs.uicomponents.portlets,
                    *=org.jahia.taglibs.uicomponents.user,
                    *=org.jahia.taglibs.user,
                    *=org.jahia.taglibs.utility,
                    *=org.jahia.taglibs.utility.constants,
                    *=org.jahia.taglibs.utility.i18n,
                    *=org.jahia.taglibs.utility.session,
                    *=org.jahia.taglibs.utility.siteproperties,
                    *=org.jahia.taglibs.workflow,
                    *=org.jahia.services,
                    *=org.jahia.services.channels,
                    *=org.jahia.services.channels.providers,
                    *=org.jahia.services.content,
                    *=org.jahia.services.content.decorator,
                    *=org.jahia.services.content.nodetypes,
                    *=org.jahia.services.content.rules,
                    *=org.jahia.services.uicomponents.bean,
                    *=org.jahia.services.uicomponents.bean.contentmanager,
                    *=org.jahia.services.uicomponents.bean.editmode,
                    *=org.jahia.services.uicomponents.bean.toolbar,
                    *=org.jahia.services.usermanager,
                    *=org.jahia.services.render,
                    *=org.jahia.services.scheduler,
                    *=org.jahia.services.search,
                    *=org.jahia.services.sites,
                    *=org.jahia.services.templates,
                    *=org.jahia.services.translation,
                    *=org.jahia.services.workflow,
                    *=org.jahia.utils,
                    *=org.osgi.framework,
                    *=org.osgi.service.http,
                    *=org.osgi.util.tracker,
                    *=org.springframework.beans.factory.xml,
                    *=org.springframework.beans.factory.config,
                    *=org.springframework.context.support,
                    *=org.springframework.orm.hibernate3.annotation,
                    *=org.springframework.orm.hibernate3.support,
                    *=org.springframework.scheduling.quartz,
                    *=org.apache.commons.collections,
                    *=org.apache.commons.id,
                    *=org.apache.commons.lang,
                    *=org.apache.commons.lang.math,
                    *=org.apache.taglibs.unstandard,
                    *=org.drools
                ]]>
                </prop>
                <prop key="org.jahia.bundles.url.jahiawar.excludedImportPackages"><![CDATA[
                    templates-wise=org.jahia.modules.docspace.rules
                ]]>
                </prop>
                <prop key="org.jahia.bundles.url.jahiawar.excludedExportPackages"><![CDATA[
                    templates-wise=org.jahia.modules.social
                ]]>
                </prop>
            </props>
        </property>
        <property name="locations">
            <list>
                <value>classpath*:org/jahia/defaults/config/properties/felix-framework*.properties</value>
                <value>/WEB-INF/etc/config/felix-framework.properties</value>
                <value>classpath*:org/jahia/config/felix-framework*.properties</value>
            </list>
        </property>
    </bean>

    <bean id="felixProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <!-- Effective Felix properties: combined (defaults + configured in files) properties 
            are overridden with the system properties, having "jahiaConfig." prefix -->
        <property name="propertiesArray">
            <list>
                <ref bean="combinedFelixProperties"/>
                <ref bean="jahiaSystemProperties"/>
            </list>
        </property>
    </bean>
</beans>