<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="ModuleManager" class="org.jahia.services.modulemanager.impl.ModuleManagerImpl">
        <property name="bundleService" ref="org.jahia.services.modulemanager.spi.impl.BundleServiceDelegate"/>
        <property name="persister" ref="org.jahia.services.modulemanager.persistence.BundlePersister"/>
    </bean>
    
    <bean id="org.jahia.services.modulemanager.spi.impl.BundleServiceDelegate" class="org.jahia.services.modulemanager.spi.impl.BundleServiceDelegate">
        <property name="settingsBean" ref="settingsBean"/>
        <property name="defaultService" ref="org.jahia.services.modulemanager.spi.impl.DefaultBundleService"/>
    </bean>
    
    <bean id="org.jahia.services.modulemanager.spi.impl.DefaultBundleService" class="org.jahia.services.modulemanager.spi.impl.DefaultBundleService"/>

    <bean id="org.jahia.services.modulemanager.persistence.BundlePersister" class="org.jahia.services.modulemanager.persistence.jcr.JCRBundlePersister"/>

</beans>
