<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Server settings administration modules -->

    <bean abstract="true" id="abstractAdministrationModule" class="org.jahia.admin.AbstractAdministrationModule" init-method="init">
        <property name="registry" ref="administrationModulesRegistry"/>
        <property name="serverModule" value="true"/>
        <property name="urlType" value="module" />
    </bean>


    <bean id="sitesAdministrationModule" class="org.jahia.admin.sites.ManageSites" parent="abstractAdministrationModule">
        <property name="urlKey" value="sites" />
        <property name="permissionName" value="adminVirtualSites" />
        <property name="name" value="sites" />
        <property name="icon" value="environment" />
        <property name="label" value="label.virtualSitesManagement" />
        <property name="urlAction" value="sites" />
        <property name="urlParams" value="&amp;sub=list" />
    </bean>

    <bean id="usersAdministrationModule" class="org.jahia.admin.users.ManageUsers" parent="abstractAdministrationModule">
        <property name="serverModule" value="true"/>
        <property name="urlKey" value="users" />
        <property name="permissionName" value="adminUsers" />
        <property name="name" value="users" />
        <property name="icon" value="user1_into" />
        <property name="label" value="label.manageUsers" />
        <property name="urlAction" value="users" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="serverAdministrationModule" class="org.jahia.admin.server.ManageServer" parent="abstractAdministrationModule">
        <property name="urlKey" value="server" />
        <property name="permissionName" value="adminEmailSettings" />
        <property name="name" value="server" />
        <property name="icon" value="mail" />
        <property name="label" value="org.jahia.admin.emailSettings.label" />
        <property name="urlAction" value="server" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="componentsAdministrationModule" class="org.jahia.admin.components.ManageComponents" parent="abstractAdministrationModule">
        <property name="urlKey" value="sharecomponents" />
        <property name="permissionName" value="adminPortlets" />
        <property name="name" value="components" />
        <property name="icon" value="application" />
        <property name="label" value="org.jahia.admin.manageComponents.label" />
        <property name="urlAction" value="sharecomponents" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="rootUserAdministrationModule" class="org.jahia.admin.users.ManageUsers" parent="abstractAdministrationModule">
        <property name="urlKey" value="profile" />
        <property name="permissionName" value="adminRootUser" />
        <property name="name" value="profile" />
        <property name="icon" value="businessman2" />
        <property name="label" value="label.editSuperAdminProperties" />
        <property name="urlAction" value="profile" />
        <property name="urlParams" value="&amp;sub=superAdminProps" />
        <property name="userManager" ref="JahiaUserManagerService" />
    </bean>

    <bean id="statusAdministrationModule" class="org.jahia.admin.status.ManageStatus" parent="abstractAdministrationModule">
        <property name="urlKey" value="status" />
        <property name="permissionName" value="adminCache" />
        <property name="name" value="status" />
        <property name="icon" value="line-chart" />
        <property name="label" value="org.jahia.admin.serverStatus.label" />
        <property name="urlAction" value="status" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="passwordPoliciesAdministrationModule" class="org.jahia.admin.pwdpolicy.ManagePasswordPolicies" parent="abstractAdministrationModule">
        <property name="urlKey" value="passwordPolicies" />
        <property name="permissionName" value="adminPasswordPolicy" />
        <property name="name" value="passwordPolicies" />
        <property name="icon" value="key1" />
        <property name="label" value="org.jahia.admin.passwordPolicies.mainMenu.label" />
        <property name="urlAction" value="passwordPolicies" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="jiraAdministrationModule" class="org.jahia.admin.PlaceholderAdministrationModule" parent="abstractAdministrationModule">
        <property name="urlKey" value="community-jira" />
        <property name="permissionName" value="adminIssueTracking" />
        <property name="name" value="community-jira" />
        <property name="icon" value="debug_view" />
        <property name="label" value="label.jira" />
        <property name="urlType" value="external" />
        <property name="urlAction" value="http://jira.jahia.org/" />
        <property name="rank" value="98"/>
    </bean>
    <bean id="docsAdministrationModule" class="org.jahia.admin.PlaceholderAdministrationModule" parent="abstractAdministrationModule">
        <property name="urlKey" value="pedia" />
        <property name="permissionName" value="adminDocumentation" />
        <property name="name" value="pedia" />
        <property name="icon" value="books" />
        <property name="label" value="label.jahiapedia" />
        <property name="urlType" value="external" />
        <property name="urlAction" value="http://www.jahia.com/community/documentation/jahiapedia/index.html" />
        <property name="rank" value="99"/>
    </bean>
    <bean id="infoAdministrationModule" class="org.jahia.admin.JspForwardAdministrationModule" parent="abstractAdministrationModule">
        <property name="urlKey" value="info" />
        <property name="permissionName" value="adminAbout" />
        <property name="name" value="info" />
        <property name="icon" value="about" />
        <property name="label" value="label.aboutJahia" />
        <property name="urlAction" value="info" />
        <property name="urlParams" value="" />
        <property name="jspPath" value="/admin/show_info.jsp" />
        <property name="rank" value="100"/>
    </bean>
    
    <!-- Site settings administration modules -->

    <bean id="groupsAdministrationModule" class="org.jahia.admin.users.ManageGroups" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="groups" />
        <property name="permissionName" value="adminGroups" />
        <property name="name" value="groups" />
        <property name="icon" value="users_into" />
        <property name="label" value="label.manageGroups" />
        <property name="urlAction" value="groups" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="siteLanguagesAdministrationModule" class="org.jahia.admin.languages.ManageSiteLanguages" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="siteLanguages" />
        <property name="permissionName" value="adminSiteLanguages" />
        <property name="name" value="languages" />
        <property name="icon" value="signpost" />
        <property name="label" value="label.manageLanguages" />
        <property name="urlAction" value="siteLanguages" />
        <property name="urlParams" value="&amp;sub=display" />
    </bean>

    <bean id="htmlSettingsAdministrationModule" class="org.jahia.admin.htmlsettings.ManageHtmlSettings" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="htmlSettings" />
        <property name="permissionName" value="adminHtmlSettings" />
        <property name="name" value="htmlsettings" />
        <property name="icon" value="text_rich_colored" />
        <property name="label" value="label.htmlSettings" />
        <property name="urlAction" value="htmlSettings" />
        <property name="urlParams" value="" />
        <property name="jspPath" value="/admin/html_settings.jsp" />
        <property name="sitesService" ref="JahiaSitesService"/>
    </bean>
    
    <bean id="urlmappingAdministrationModule" class="org.jahia.admin.urlmapping.Urlmapping" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="urlmapping" />
        <property name="permissionName" value="adminUrlmapping" />
        <property name="name" value="urlmapping" />
        <property name="icon" value="urlmapping" />
        <property name="label" value="label.urlmapping.menuLabel" />
        <property name="tooltip" value="" />
        <property name="urlType" value="module" />
        <property name="urlAction" value="urlmapping" />
        <property name="urlParams" value="" />
    </bean>
    
    <bean id="templatesAdministrationModule" class="org.jahia.admin.JspForwardAdministrationModule" parent="abstractAdministrationModule">
        <property name="serverModule" value="false"/>
        <property name="urlKey" value="siteTemplates" />
        <property name="permissionName" value="admin/adminSiteTemplates" />
        <property name="name" value="templates" />
        <property name="icon" value="briefcase_document" />
        <property name="label" value="label.manageTemplates" />
        <property name="tooltip" value="" />
        <property name="urlAction" value="siteTemplates" />
        <property name="jspPath" value="/admin/view_templates.jsp" />
    </bean>

    <bean id="administrationModulesRegistry" class="org.jahia.admin.AdministrationModulesRegistry"/>

</beans>
