<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="ACLHelper" class="org.jahia.ajax.gwt.helper.ACLHelper">
        <property name="jahiaUserManagerService" ref="JahiaUserManagerService"/>
        <property name="jahiaGroupManagerService" ref="JahiaGroupManagerService"/>
    </bean>

    <bean name="ContentDefinitionHelper" class="org.jahia.ajax.gwt.helper.ContentDefinitionHelper">
        <property name="navigation" ref="NavigationHelper"/>
        <property name="choiceListInitializerService" ref="choiceListInitializers"/>
    </bean>

    <bean name="ContentHubHelper" class="org.jahia.ajax.gwt.helper.ContentHubHelper">
        <property name="sessionFactory" ref="jcrSessionFactory"/>
        <property name="jcrStoreService" ref="JCRStoreService"/>
    </bean>

    <bean name="ContentManagerHelper" class="org.jahia.ajax.gwt.helper.ContentManagerHelper">
        <property name="navigation" ref="NavigationHelper"/>
        <property name="versioning" ref="VersioningHelper"/>
        <property name="sitesService" ref="JahiaSitesService"/>
        <property name="properties" ref="PropertiesHelper"/>
        <property name="contentHistoryService" ref="ContentHistoryService"/>
        <property name="cacheHelper" ref="CacheHelper"/>
    </bean>

    <bean name="PortletHelper" class="org.jahia.ajax.gwt.helper.PortletHelper">
        <property name="navigation" ref="NavigationHelper"/>
        <property name="acl" ref="ACLHelper"/>
        <property name="contentManager" ref="ContentManagerHelper"/>
        <property name="applicationsManager" ref="ApplicationsManagerService"/>
    </bean>

    <bean name="NavigationHelper" class="org.jahia.ajax.gwt.helper.NavigationHelper">
        <property name="sessionFactory" ref="jcrSessionFactory"/>
        <property name="jcrVersionService" ref="jcrVersionService"/>
        <property name="visibilityService" ref="visibilityService"/>
        <property name="languages" ref="LanguagesHelper"/>
        <property name="publication" ref="PublicationHelper"/>
        <property name="workflow" ref="WorkflowHelper"/>
        <property name="ignoreInUsages">
        	<set>
        		<value>jnt:socialActivity.*</value>
        	</set>
        </property>
    </bean>

    <bean name="LanguagesHelper" class="org.jahia.ajax.gwt.helper.LanguageHelper"/>

    <bean name="PropertiesHelper" class="org.jahia.ajax.gwt.helper.PropertiesHelper">
        <property name="contentDefinition" ref="ContentDefinitionHelper"/>
        <property name="navigation" ref="NavigationHelper"/>
        <property name="ignoredProperties">
            <set>
                <value>jcr:baseVersion</value>
                <value>jcr:predecessors</value>
                <value>jcr:versionHistory</value>
            </set>
        </property>
    </bean>

    <bean name="PublicationHelper" class="org.jahia.ajax.gwt.helper.PublicationHelper">
        <property name="httpClientService" ref="HttpClientService"/>
        <property name="publicationService" ref="jcrPublicationService"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="workflowHelper" ref="WorkflowHelper"/>
    </bean>

    <bean name="WorkflowHelper" class="org.jahia.ajax.gwt.helper.WorkflowHelper">
        <property name="service" ref="workflowService"/>
    </bean>

    <bean name="SearchHelper" class="org.jahia.ajax.gwt.helper.SearchHelper">
        <property name="navigation" ref="NavigationHelper"/>
        <property name="contentManager" ref="ContentManagerHelper"/>
        <property name="jcrService" ref="JCRStoreService"/>
        <property name="jcrSearchProvider" ref="org.jahia.services.search.jcr.JahiaJCRSearchProvider"/>
    </bean>

    <bean name="TemplateHelper" class="org.jahia.ajax.gwt.helper.TemplateHelper">
        <property name="renderService" ref="RenderService"/>
    </bean>

    <bean name="VersioningHelper" class="org.jahia.ajax.gwt.helper.VersioningHelper">
        <property name="cacheService" ref="JahiaCacheService"/>
        <property name="versionService" ref="jcrVersionService"/>
    </bean>

    <bean name="ZipHelper" class="org.jahia.ajax.gwt.helper.ZipHelper" factory-method="getInstance"/>

    <bean name="DiffHelper" class="org.jahia.ajax.gwt.helper.DiffHelper"/>

    <bean name="SeoHelper" class="org.jahia.ajax.gwt.helper.SeoHelper">
        <property name="urlService" ref="org.jahia.services.seo.jcr.VanityUrlService"/>
    </bean>

    <bean name="UiConfigHelper" class="org.jahia.ajax.gwt.helper.UIConfigHelper">
        <property name="languages" ref="LanguagesHelper"/>
        <property name="scriptEngineUtils" ref="scriptEngineUtils"/>
    </bean>

    <bean name="CacheHelper" class="org.jahia.ajax.gwt.helper.CacheHelper">
        <property name="cacheFactory" ref="JahiaCacheService"/>
        <property name="cacheProvider" ref="ModuleCacheProvider"/>
    </bean>

    <bean name="SchedulerHelper" class="org.jahia.ajax.gwt.helper.SchedulerHelper">
        <property name="scheduler" ref="SchedulerService"/>
    </bean>

    <bean name="ImageHelper" class="org.jahia.ajax.gwt.helper.ImageHelper">
        <property name="imageService" ref="${imageService}"/>
        <property name="contentManager" ref="ContentManagerHelper"/>
    </bean>

</beans>