<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <bean id="ClusterNodeInfo" class="org.jahia.services.modulemanager.model.ClusterNodeInfo">
        <property name="id" value="${cluster.node.serverId:jahiaServer1}" />
        <property name="processingServer" value="${processingServer:true}" />
        <property name="clusterActivated" value="false" />
    </bean>

    <bean id="BundleService" class="org.jahia.services.modulemanager.impl.BundleServiceImpl">
        <!--<property name="felixProperties" ref="felixProperties"/>-->
    </bean>

    <bean id="ModuleInfoPersister" class="org.jahia.services.modulemanager.persistence.ModuleInfoPersister">
        <property name="clusterNodeInfo" ref="ClusterNodeInfo"/>
        <property name="operationLogAutoSplitConfig" value="date,jcr:created,yyyy;date,jcr:created,MM;date,jcr:created,dd"/>
        <property name="bundleService" ref="BundleService"/>
    </bean>

    <bean id="ModuleManager" class="org.jahia.services.modulemanager.impl.ModuleManagerImpl">
        <property name="persister" ref="ModuleInfoPersister"/>
        <property name="operationProcessor" ref="OperationProcessor"/>
        <property name="clusterNodeInfo" ref="ClusterNodeInfo"/>
        <property name="templateManagerService" ref="JahiaTemplateManagerService" />
    </bean>

    <bean id="BaseOperationProcessor" class="org.jahia.services.modulemanager.impl.BaseOperationProcessor" abstract="true">
        <property name="persister" ref="ModuleInfoPersister"/>
        <property name="scheduler" ref="ramScheduler"/>
        <property name="jobGroup" value="Modules" />
    </bean>

    <bean id="OperationProcessor" class="org.jahia.services.modulemanager.impl.OperationProcessor" parent="BaseOperationProcessor">
        <property name="jobName" value="OperationProcessorJob" />
        <property name="jobDelay" value="${jahia.moduleManager.operationProcessor.delay:2000}"/>
    </bean>

    <bean id="NodeOperationProcessor" class="org.jahia.services.modulemanager.impl.NodeOperationProcessor" parent="BaseOperationProcessor">
        <property name="clusterNodeInfo" ref="ClusterNodeInfo"/>
        <property name="templateManagerService" ref="JahiaTemplateManagerService" />
        <property name="jobName" value="NodeOperationProcessorJob" />
        <property name="jobDelay" value="${jahia.moduleManager.nodeOperationProcessor.delay:2000}"/>
    </bean>

    <!--<bean parent="jobSchedulingBean">
        <property name="ramJob" value="true"/>
        <property name="overwriteExisting" value="true"/>
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.JobDetailBean">
                <property name="name" value="OperationProcessorJob" />
                <property name="group" value="Modules" />
                <property name="jobClass" value="org.jahia.services.modulemanager.impl.OperationProcessorJob" />
                <property name="description" value="Processes open operations for module management" />
                <property name="durability" value="true" />
                <property name="jobDataAsMap">
                    <map>
                        <entry key="operationProcessor"  value-ref="OperationProcessor" />
                    </map>
                </property>
            </bean>
        </property>
        <property name="trigger">
            <bean class="org.springframework.scheduling.quartz.SimpleTriggerBean">
                <property name="name" value="OperationProcessorJobTrigger"/>
                <property name="group" value="Modules" />
                <property name="startDelay" value="${jahia.moduleManager.operationProcessor.startDelay:2000}"/>
                <property name="repeatCount" value="0"/>
            </bean>
        </property>
    </bean>-->

    <!--<bean parent="jobSchedulingBean">
        <property name="ramJob" value="true"/>
        <property name="overwriteExisting" value="true"/>
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.JobDetailBean">
                <property name="name" value="NodeOperationProcessorJob" />
                <property name="group" value="Modules" />
                <property name="jobClass" value="org.jahia.services.modulemanager.impl.OperationProcessorJob" />
                <property name="description" value="Processes open node-level operations for module management" />
                <property name="durability" value="true" />
                <property name="jobDataAsMap">
                    <map>
                        <entry key="operationProcessor"  value-ref="NodeOperationProcessor" />
                    </map>
                </property>
            </bean>
        </property>
        <property name="trigger">
            <bean class="org.springframework.scheduling.quartz.SimpleTriggerBean">
                <property name="name" value="NodeOperationProcessorJobTrigger"/>
                <property name="group" value="Modules" />
                <property name="startDelay" value="${jahia.moduleManager.nodeOperationProcessor.startDelay:2000}"/>
                <property name="repeatCount" value="0"/>
            </bean>
        </property>
    </bean>
-->
    <bean id="NodeOperationEventListener" class="org.jahia.services.modulemanager.impl.NodeOperationEventListener">
        <property name="workspace" value="default"/>
        <property name="operationTypes">
            <set value-type="java.lang.Integer">
                <value type="java.lang.Integer">1</value>
            </set>
        </property>
        <property name="clusterNodeInfo" ref="ClusterNodeInfo"/>
        <property name="operationProcessor" ref="NodeOperationProcessor"/>
    </bean>
</beans>
