<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <bean id="dataSource" class="org.jahia.jdbc.ReadOnlyModeAwareDataSource">
        <constructor-arg>
            <jee:jndi-lookup jndi-name="jdbc/jahia" expected-type="javax.sql.DataSource"/>
        </constructor-arg>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
          depends-on="settingsBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>org.jahia.hibernate.model.JahiaDbTest</value>
                <value>org.jahia.services.history.HistoryEntry</value>
                <value>org.jahia.services.content.nodetypes.NodeTypesDBProvider</value>
            </list>
        </property>
        <property name="packagesToScan" value="org.jahia.modules"/>

        <property name="hibernateProperties">
            <bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
                <property name="properties">
                    <map>
                        <entry key="hibernate.dialect" value="${hibernate.dialect}"/>
                        <entry key="hibernate.hbm2ddl.auto" value=""/>
                        <entry key="hibernate.show_sql" value="false"/>
                        <!-- put the batch size property to 0 if you need to debug -->
                        <entry key="hibernate.jdbc.batch_size" value="16"/>
                        <entry key="hibernate.default_batch_fetch_size" value="16"/>
                        <entry key="hibernate.max_fetch_depth" value="3"/>
                        <entry key="hibernate.query.substitutions" value="true 1, false 0"/>
                        <entry key="hibernate.generate_statistics" value="false"/>
                    </map>
                </property>
            </bean>
        </property>
    </bean>

</beans>
