<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <bean parent="jobSchedulingBean">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.JobDetailBean">
                <property name="name" value="ContentHistoryPurgeJob" />
                <property name="jobClass" value="org.jahia.services.scheduler.JSR223ScriptJob" />
                <property name="group" value="Maintenance" />
                <property name="description" value="Content history purge" />
                <property name="jobDataAsMap">
                    <map>
                        <entry key="userkey" value=" system " />
                        <entry key="jobScriptPath" value="/WEB-INF/var/scripts/groovy/purgeContentHistory.groovy" />
                    </map>
                </property>
            </bean>
        </property>
        <property name="trigger">
            <bean class="org.quartz.CronTrigger">
                <property name="name" value="ContentHistoryPurgeTrigger"/>
                <!-- run every year -->
                <property name="cronExpression" value="0 0 0 L DEC ? *"/>
                <!-- run every hour to debug -->
                <!--property name="cronExpression" value="0 0 * * * ?"/-->
            </bean>
        </property>
    </bean>
    
    <bean parent="jobSchedulingBean">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.JobDetailBean">
                <property name="name" value="JobHistoryPurgeJob" />
                <property name="jobClass" value="org.jahia.services.scheduler.JobHistoryPurgeJob" />
                <property name="group" value="Maintenance" />
                <property name="description" value="Cleanup completed jobs" />
                <property name="jobDataAsMap">
                    <map>
                        <entry key="purgeWithNoEndDate" value="true"/>
                        <!-- configures expiration policy for completed background jobs data;
                        if the job matched the expiration policy its data will be deleted -->
                        <entry key="purgeStrategy">
                            <util:map map-class="java.util.LinkedHashMap" key-type="java.lang.String" value-type="java.lang.Long">
                                <entry key="ActionJob\..*" value="3600000"/><!-- 1 hour -->
                                <entry key="TextExtractorJob\..*" value="3600000"/><!-- 1 hour -->
                                <entry key=".*\..*" value="86400000"/><!-- 1 day -->
                            </util:map>
                        </entry>
                    </map>
                </property>
            </bean>
        </property>
        <property name="trigger">
            <bean class="org.quartz.CronTrigger">
                <property name="name" value="JobHistoryPurgeTrigger"/>
                <property name="cronExpression" value="0 0 * * * ?"/><!-- execute every hour -->
            </bean>
        </property>
    </bean>

    <bean id="DataStoreGarbageCollectorJob" parent="jobSchedulingBean" lazy-init="true">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.JobDetailBean">
                <property name="name" value="DataStoreGarbageCollectorJob" />
                <property name="jobClass" value="org.jahia.services.scheduler.DataStoreGarbageCollectorJob" />
                <property name="group" value="Maintenance" />
                <property name="description" value="Runs JCR DataStore Garbag Collector that deletes no longer used entries" />
            </bean>
        </property>
        <property name="trigger">
            <bean class="org.quartz.CronTrigger">
                <property name="name" value="DataStoreGarbageCollectorJobTrigger"/>
                <!-- execute at night (01:30) -->
                <property name="cronExpression" value="0 30 1 * * ?"/>
                <!-- execute every hour 
                <property name="cronExpression" value="0 0 * * * ?"/>
                -->
            </bean>
        </property>
    </bean>
</beans>