<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="ChannelService" class="org.jahia.services.channels.ChannelService" factory-method="getInstance" />

    <bean id="UserAgentChannelProvider" class="org.jahia.services.channels.providers.UserAgentChannelProvider">
        <property name="channelService" ref="ChannelService" />
        <property name="channelList">
            <list>
                <bean class="org.jahia.services.channels.Channel">
                    <constructor-arg index="0" value="iphone" />
                    <property name="displayName" value="iPhone" />
                    <property name="capabilities">
                        <map>
                            <entry key="resolution_width" value="320"/>
                            <entry key="resolution_height" value="480"/>
                            <entry key="dual_orientation" value="true"/>
                            <entry key="userAgentPattern" value=".*iPhone.*"/>
                        </map>
                    </property>
                </bean>
                <bean class="org.jahia.services.channels.Channel">
                    <constructor-arg index="0" value="ipad" />
                    <property name="displayName" value="iPad" />
                    <property name="capabilities">
                        <map>
                            <entry key="resolution_width" value="768"/>
                            <entry key="resolution_height" value="1024"/>
                            <entry key="dual_orientation" value="true"/>
                            <entry key="userAgentPattern" value=".*iPad.*"/>
                        </map>
                    </property>
                </bean>
                <bean class="org.jahia.services.channels.Channel">
                    <constructor-arg index="0" value="android" />
                    <property name="displayName" value="Android" />
                    <property name="capabilities">
                        <map>
                            <entry key="resolution_width" value="320"/>
                            <entry key="resolution_height" value="480"/>
                            <entry key="userAgentPattern" value=".*Android.*"/>
                        </map>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

</beans>
