<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="jBPMProvider" class="org.jahia.services.workflow.jbpm.JBPM6WorkflowProvider"
          factory-method="getInstance" init-method="start">
        <property name="key" value="jBPM"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="processes">
            <list>
                <value>classpath*:org/jahia/modules/workflow/*.jpdl.xml</value>
            </list>
        </property>
        <property name="mailTemplates">
            <list>
                <value>classpath*:org/jahia/modules/workflow/*.mail</value>
            </list>
        </property>
        <property name="userManager" ref="JahiaUserManagerService"/>
        <property name="groupManager" ref="JahiaGroupManagerService"/>
    </bean>
</beans>