<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="workflowService" class="org.jahia.services.workflow.WorkflowService" init-method="start" factory-method="getInstance">
        <property name="workflowTypes">
            <map>
                <entry key="publish">
                    <list>
                        <value>1-step-publication</value>
                    </list>
                </entry>
                <entry key="unpublish">
                    <list>
                        <value>1-step-unpublication</value>
                    </list>
                </entry>
            </map>
        </property>
        <property name="jcrTemplate" ref="jcrTemplate"/>
    </bean>

</beans>