<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="workflowService" class="org.jahia.services.workflow.WorkflowService" init-method="start" factory-method="getInstance">
        <property name="workflowTypes">
            <list>
                <bean class="org.jahia.services.workflow.WorklowTypeRegistration">
                    <property name="type" value="publish"/>
                    <property name="definition" value="1-step-publication"/>
                    <property name="forms">
                        <map>
                            <entry key="start" value="jnt:simpleWorkflow"/>
                            <entry key="Accept or Reject publishing" value="jnt:simpleWorkflow"/>
                        </map>
                    </property>
                </bean>

                <bean class="org.jahia.services.workflow.WorklowTypeRegistration">
                    <property name="type" value="publish"/>
                    <property name="definition" value="2-step-publication"/>
                    <property name="forms">
                        <map>
                            <entry key="start" value="jnt:simpleWorkflow"/>
                            <entry key="First review" value="jnt:simpleWorkflow"/>
                        </map>
                    </property>
                </bean>
            </list>
        </property>
        <property name="jcrTemplate" ref="jcrTemplate"/>
    </bean>

</beans>