<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
    <!-- START SNIPPET: example -->
    <camelContext id="camel" xmlns="http://camel.apache.org/schema/spring" depends-on="jahiaProperties">
    	<endpoint id="mailOutput" uri="smtp://${mail_server}"/>
        <route>
            <!--<from uri="rss://http://www.lequipe.fr/Xml/actu_rss.xml"/>
            <to uri="mock:result"/>-->
            <!--The seda: component provides asynchronous SEDA behavior,
            so that messages are exchanged on a BlockingQueue and
            consumers are invoked in a separate thread from the producer.-->
            <from uri="seda:users?multipleConsumers=true"/>
            <!--The mail component provides access to Email via Spring's Mail support
            and the underlying JavaMail system.-->
            <to ref="mailOutput"/>
        </route>
    </camelContext>
    <!-- END SNIPPET: example -->
    <bean id="camelNotificationService" class="org.jahia.services.notification.CamelNotificationService">
        <property name="camelContext" ref="camel"/>
    </bean>
</beans>
