/******************************************************************************
* contactForm
******************************************************************************/
#bodywrapper .contactForm input[type="text"], #bodywrapper .contactForm textarea {
	width:50%;
}