/******************************************************************************
* Facets Area Layout
******************************************************************************/
 div.facets {
margin:1em 0;
padding:0.5em;
border: solid 1px #eaeaea;

}
/******************************************************************************
* Facets List
******************************************************************************/
 div.activefacetsList{
	background-color:#ffffff ;
	margin:0;
	padding:1em 1em 0.5em;
	border: 1px solid #00ff00;
	background-color:#CCFFCC ;
	line-height:normal;
	margin-bottom:1em;
}
 .activefacetsList h4 {
	margin:0;
	padding:0;
}
 .activefacetsList ul {
	margin:0.2em 0.5em;
	padding:0;
}
 .activefacetsList li{
	list-style-type:none;
	padding:0.4em;
	float:left;
	font-size:0.85em;
	line-height:normal;
}
/******************************************************************************
* Categories
******************************************************************************/
 div.facetsList {
	margin-bottom:1em;
}
 .facetsList h4 {	}
 .facetsList ul {
	margin:0.2em 0.5em;
	padding:0;
}
 .facetsList li{
	list-style-type:none;
	background: url(img/facetsListArrow.png) no-repeat  0.5em 50%;
	padding:0.2em;
	padding-left:18px;
}
 .facetsList li:hover{
	background-color:#eaeaea
}
