

.text { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #19313E; background-color: #92A4AD}
.text A:link { color: #1E2A33 }
.text A:visited { color: #1E2A33 }
.text A:hover { color: #B42C29 }
.text2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #19313E; background-color: #92A4AD}
.text2 A:link { color: #B42C29 }
.text2 A:visited { color: #B42C29 }
.text2 A:hover { color: #B42C29 }
.text3 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #19313E; background-color: #798992}
.text3 A:link { color: #1E2A33 }
.text3 A:visited { color: #1E2A33 }
.text3 A:hover { color: #B42C29 }
.input { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #000000}
