#* @vtlvariable name="confirmationlink" type="java.lang.String" *#
#* @vtlvariable name="newsletter" type="org.jahia.services.content.JCRNodeWrapper" *#
#* @vtlvariable name="bundle" type="java.util.ResourceBundle" *#
<html>
<body>
<p>
Hi!
</p>
<p>
Please confirm your subscription to ${newsletter.displayableName} by clicking <a href="${confirmationlink}">here</a>
</p>

</body>
</html>
