<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>${i18n.get("notifications.workflow.subject", "Workflow operation report")}<% if (jobTitle != null) { %> - ${jobTitle}<% } %></title>
<style type="text/css">
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
h1 {
    background-color: rgb(152, 168, 192);
    color: white;
    font-size: 16px;
    padding: 5px;
    width: 100%;
}
p {
    padding-left: 15px;
}
</style>
</head>
<body>
<h1>${i18n.get("notifications.workflow.subject", "Workflow operation report")}<% if (jobTitle != null) { %> - ${jobTitle}<% } %></h1>
<p>${i18n.get("notifications.common.salutation", "Dear")} ${subscriber.fullName},</p>
<p><% if (jobUser.getUser().equals(subscriber.getUser())) { %>${i18n.get("notifications.workflow.job.triggeredBy.sameUser", "the workflow job, triggered by you")}<% } else { %>${i18n.get("notifications.workflow.job.triggeredBy.otherUser", "the workflow job, triggered by")} ${jobUser.fullName}<% } %>${i18n.get("notifications.workflow.job.executionFinished", ", has finished its execution.")}</p>
<p>Content is now published</p>
<% if (jobComment != null) { %>
<p><strong>${i18n.get("notifications.workflow.comment", "Comment")}:</strong><br>${jobComment}</p>
<% } %>
<p>${i18n.get("notifications.workflow.details.link", "Please check the details by clicking on the link:")} <a href="${jobReportLink.absoluteUrl}">${i18n.get("notifications.workflow.details.link.title", "Job report")}</a></p>

<p>${i18n.get("notifications.common.farewell", "Sincerely Yours")}<br>${i18n.get("notifications.common.farewell.signature", "Portal Team")}</p>

<hr>
<p>${i18n.get("notifications.common.updateProfile", "To update your profile or to stop receiving customized e-mail, please click")} <a href="${subscriptionManagementLink.absoluteUrl}">${i18n.get("notifications.common.updateProfileLink", "here")}</a></p>
</body>
</html>