 #banner {
    clear: both;
    height: 294px;
    width: 100%;
    overflow: hidden;
    display: block;
	margin:0.5em 0;
}

 .banner-text {
    padding-right: 20px;
    line-height: normal;
	color: #ffffff;
}

 .banner-text,
     .banner-text h2,
     .banner-text h3,
     .banner-text h4,
     .banner-text h5 {
    color: #ffffff;
    margin: 0;
}

 .banner-text a,
     .banner-text a:link,
     .banner-text a:visited {
    color: #ffffff;
    text-decoration: underline;
    background: none;
}

 .banner-text a:hover,
     .banner-text a:active {
    color: #ffffff;
    text-decoration: none;
    background: none;
}
