/******************************************************************************
*  Form Generic Comment
******************************************************************************/
 #formGenericComment {
	margin: 0;
	padding:0;
    clear:both;
}
 #formGenericComment p{
	margin:0;
	padding:0;
}
 #formGenericComment p.field{
	margin-bottom:0.5em;
}
 #formGenericComment label{
display:block
}
 #formGenericComment textarea,
 #formGenericComment input{
	width:98%
}
 #formGenericComment input.button{
	width:auto
}
 #formGenericComment fieldset{
	border:none;
	margin:0;
	padding:0;
}

/******************************************************************************
*  Generic List Comment
******************************************************************************/

 ul.genericListComment  {
	position:relative;
	margin:0;
	margin-bottom:20px;
	list-style:none;
	padding:0
}
 .genericListComment li {
	padding:10px;
	margin:0;
	margin-bottom:10px;
	list-style:none;
	background: url(img/hr.png) repeat-x bottom left;
}
 .genericListComment li:last-child {
	background:none;
}
 .genericListComment .itemImageLeft {
	margin-right:20px
}
 .genericListComment .itemImageRight {
	margin-left:20px
}

 .genericListComment li p {
	padding:0;
}
 .genericListComment li.last {
	background:none;
}

 .genericListComment .author {
font-weight:bold
}

 .genericListComment h4.title {
	display:inline;
	margin:0;
	padding:0;
}
 .genericListComment li.itemversion {
	background-color:#FCF0BA
}
 .genericListComment li.itemsystem {
	background-color:#e3fbd0
}
 .genericListComment li.last {
	border-bottom-color:#fff;
}