/******************************************************************************
*  inbox Management Form
******************************************************************************/
 .webProjectCreation {
    margin-bottom:1em;
    padding:1em;
}

 .webProjectCreation legend {
     display:none;
}

 .webProjectCreation fieldset {
	padding:0;
	border:none;
}
 .webProjectCreation p {
	padding:0.2em 0 0.5em 0;
	border:none;
	margin:0 ;
}
 .webProjectCreation label {
    display:block;
    padding-bottom: 0.2em;
}
 .webProjectCreation label.label-inline {
    display:inline;
    padding-bottom: 0.2em;
}
 .webProjectCreation select {
   width:215px
}
 .webProjectCreation input.inputsize1 {
   width:200px;
}
 .webProjectCreation input.inputsize2 {
   width:90%
}
 .webProjectCreation textarea.inputsize2 {
   width:90%
}