/* ------- Icon 16px 16px balises------- */
 span.icon {
	display:inline-block;
	width:16px;
	height:16px;
	background: url(../icons/jnt_file_file.png ) no-repeat top left;
	margin-right:5px;
	vertical-align:text-bottom;
}
 li.icon {
	background: url(../icons/jnt_file_file.png ) no-repeat 0.5em 0.7em;
	padding:0 0 0 27px !important;
}
 a.icon {
	background: url(../icons/jnt_file_file.png ) no-repeat 0 0.2em;
	padding:0 0 0 27px !important;
	display:block;
}
/* ------- Icon 16px 16px Files types------- */
 .file {
    background-image: url(../icons/jnt_file_file.png )!important ;
}
 .video {
    background-image: url(../icons/jnt_file_video.png ) !important ;
}
 .ppt,  .pptx {
    background-image: url(../icons/jnt_file_ppt.png ) !important ;
}
 .exe {
    background-image: url(../icons/jnt_file_exe.png ) !important ;
}
 .msword,  .doc,  .docx {
    background-image: url(../icons/jnt_file_doc.png ) !important ;
}
 .html,  .htm {
    background-image: url(../icons/jnt_file_html.png ) !important ;
}
 .img,   .gif,  .jpeg,  .jpg,  .png {
    background-image: url(../icons/jnt_file_img.png ) !important ;
}
 .pdf {
    background-image: url(../icons/jnt_file_pdf.png ) !important ;
}
 .sound,  a.wav,  .mp3,  .mpeg,  .mpg {
    background-image: url(../icons/jnt_file_sound.png ) !important ;
}
 .txt {
    background-image: url(../icons/jnt_file_txt.png ) !important ;
}
 .xls,  .xlsx,  .csv {
    background-image: url(../icons/jnt_file_xls.png ) !important ;
}
 .zip,  a.sit,  .rar,   .tar,  .gz,  .jar {
    background-image: url(../icons/jnt_file_zip.png ) !important ;
}
 .swf {
    background-image: url(../icons/jnt_flash.png ) !important ;
}
 .odg {
    background-image: url(../icons/jnt_file_odg.png ) !important ;
}
 .odp {
    background-image: url(../icons/jnt_file_odp.png ) !important ;
}
 .ods {
    background-image: url(../icons/jnt_file_ods.png ) !important ;
}
 .odt {
    background-image: url(../icons/jnt_file_odt.png ) !important ;
}
 .rtf {
    background-image: url(../icons/jnt_file_rtf.png ) !important ;
}
 .svg {
    background-image: url(../icons/jnt_file_svg.png ) !important ;
}
 .sxc {
    background-image: url(../icons/jnt_file_sxc.png ) !important ;
}
 .sxi {
    background-image: url(../icons/jnt_file_sxi.png ) !important ;
}
 .sxw {
    background-image: url(../icons/jnt_file_sxc.png ) !important ;
}
 .tsv {
    background-image: url(../icons/jnt_file_tsv.png ) !important ;
}
/* ------- File types (end) ------- */



/* ------- Icon 48px 48px balises ------- */
 span.icon_large {
	display:block;
	width:48px;
	height:48px;
	margin:10px;
	background: url(../icons/jnt_file_file_large.png ) no-repeat top left;
}
 li.icon_large {
	background: url(../icons/jnt_file_file_large ) no-repeat 0.5em 0.7em;
	padding:0.5em 0.5em 0.5em 59px !important;
	min-height:55px
}
 a.icon_large {
	background: url(../icons/jnt_file_file_large ) no-repeat 0 0.2em;
	padding:0 0 0 59px !important;
	min-height:55px;
	display:block;
}
/* ------- Icon 48px 48px Files types------- */

 .file_large {
    background-image: url(../icons/jnt_file_file_large.png ) !important ;
}
 .video_large {
    background-image: url(../icons/jnt_file_video_large.png ) !important ;
}
 .ppt_large,  .pptx_large {
    background-image: url(../icons/jnt_file_ppt_large.png ) !important ;
}
 .exe_large {
    background-image: url(../icons/jnt_file_exe_large.png ) !important ;
}
 .msword_large,  .doc_large,  .docx_large {
    background-image: url(../icons/jnt_file_doc_large.png ) !important ;
}
 .html_large,  .htm_large {
    background-image: url(../icons/jnt_file_html_large.png ) !important ;
}
 .img_large,   .gif_large,  .jpeg_large,  .jpg_large,  .png_large {
    background-image: url(../icons/jnt_file_img_large.png ) !important ;
}
 .pdf_large {
    background-image: url(../icons/jnt_file_pdf_large.png ) !important ;
}
 .sound_large,  a.wav_large,  .mp3_large,  .mpeg_large,  .mpg_large {
    background-image: url(../icons/jnt_file_sound_large.png ) !important ;
}
 .txt_large {
    background-image: url(../icons/jnt_file_txt_large.png ) !important ;
}
 .xls_large,  .xlsx_large,  .csv_large {
    background-image: url(../icons/jnt_file_xls_large.png ) !important ;
}

 .zip_large,  a.sit_large,  .rar_large,   .tar_large,  .gz_large,  .jar_large {
    background-image: url(../icons/jnt_file_zip_large.png ) !important ;
}
 .swf_large {
    background-image: url(../icons/jnt_flash_large.png ) !important ;
}
 .odg_large {
    background-image: url(../icons/jnt_file_odg_large.png ) !important ;
}
 .odp_large {
    background-image: url(../icons/jnt_file_odp_large.png ) !important ;
}
 .ods_large {
    background-image: url(../icons/jnt_file_ods_large.png ) !important ;
}
 .odt_large {
    background-image: url(../icons/jnt_file_odt_large.png ) !important ;
}
 .rtf_large {
    background-image: url(../icons/jnt_file_rtf_large.png ) !important ;
}
 .svg_large {
    background-image: url(../icons/jnt_file_svg_large.png ) !important ;
}
 .sxc_large {
    background-image: url(../icons/jnt_file_sxc_large.png ) !important ;
}
 .sxi_large {
    background-image: url(../icons/jnt_file_sxi_large.png ) !important ;
}
 .sxw_large {
    background-image: url(../icons/jnt_file_sxc_large.png ) !important ;
}
 .tsv_large {
    background-image: url(../icons/jnt_file_tsv_large.png ) !important ;
}
/* ------- File types (end) ------- */