/******************************************************************************
*  files List
******************************************************************************/

 ul.filesList{
	margin:1em 0;
	padding:0;
	list-style: none;
	font-weight:bold
}
 ul.filesList li {
	margin:0;
	padding:0.5em;
	list-style: none;
	display:block;
	border-bottom:1px solid #ccc;
}
 ul.filesList li:hover{
	background-color:#eaeaea
}
 ul.filesList li.lastdocument  {
	border-bottom:none
}
 ul.filesList span.docSize{
	font-size:80%;
	margin-left:0.2em;
	font-weight:normal
}
 ul.filesList .resume {
	margin:0;
	padding:0;
	list-style: none;
	line-height:1em;
	font-size:0.9em;
	font-weight:normal
}
 ul.filesList li.document a,
 ul.filesList li.document a:link,
 ul.filesList li.document a:visited {
	text-decoration: none;
}
 ul.filesList li.document a:hover,
 ul.filesList li.document a:active {
	text-decoration:underline;
}