
/******************************************************************************
*  admin-links
******************************************************************************/

 .admin-links ul {
	position:relative;
	margin:0;
	margin:0.5em 0;
	list-style:none;
	padding:0
}
 .admin-links li {
    border-bottom: 1px solid #EAEAEA;
    display: block;
    font-weight: bold;
    padding: 5px;
}
 .admin-links li p {
	padding:0;
}
 .admin-links li:last-child {
	border-bottom-color:none;
}
 .admin-links li:hover{
	background-color:#eaeaea
}
 .admin-links ul a,
 .admin-links ul a:link,
 .admin-links ul a:visited {
	text-decoration: none;
}
 .admin-links ul a:hover,
 .admin-links ul a:active {
	text-decoration:underline;
}
