/******************************************************************************
*  page Form Creation
******************************************************************************/
 .pageFormCreation {
	margin: 0 0 1.5em 0 ;
	padding:0;
    clear:both;
}
 .pageFormCreation p{
	margin:0;
	padding:0;
	padding-bottom:0.2em;
}
 .pageFormCreation legend{
	display:none;
}
 .pageFormCreation p.field{
	margin-bottom:0.5em;
}
 .pageFormCreation label{
	display:block
}
 .pageFormCreation textarea,
 .pageFormCreation input{
	width:98%
}
 .pageFormCreation input.button{
	width:auto
}
 .pageFormCreation fieldset{
	border:none;
	margin:0;
	padding:0;
}

