/******************************************************************************
*  Simple List
******************************************************************************/
 ul.simple,
 ol.simple {
	list-style:none;
	margin:0;
	padding:0;
	border-bottom:none;
}
 ul.simple li,
 ol.simple li {
	list-style-type:none;
	margin:0;
	padding:0;
}