<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spring="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring-2.0-M1.xsd">

    <bean id="adminmode-jahia-anthracite" parent="adminmode">
        <property name="topToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="layout" value="button-label"/>
                <property name="items">
                    <list>
                        <!--<bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Admin.Menu.Mode">-->
                            <!--<property name="titleKey" value="label.mode"/>-->
                            <!--<property name="items">-->
                                <!--<list>-->
                                    <!--<ref bean="Toolbar.Item.Edit"/>-->
                                    <!--<ref bean="Toolbar.Item.Studio"/>-->
                                <!--</list>-->
                            <!--</property>-->
                        <!--</bean>-->
                        <bean id="editmode.managers.menu" class="org.jahia.services.uicomponents.bean.toolbar.Menu" >
                            <property name="visibility">
                                <bean class="org.jahia.services.uicomponents.bean.Visibility">
                                    <property name="needAuthentication" value="true"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.managers"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Logout"/>
                                    <ref bean="Toolbar.Item.Start"/>
                                    <ref bean="Toolbar.Item.Studio"/>
                                    <ref bean="Toolbar.Item.Edit"/>
                                    <ref bean="Toolbar.Item.Contribute"/>
                                    <ref bean="Toolbar.Item.EditorialContentManager.NewTab"/>
                                    <ref bean="Toolbar.Item.FileManager.NewTab"/>
                                    <ref bean="Toolbar.Item.PortletManager.NewTab"/>
                                    <ref bean="Toolbar.Item.RepositoryExplorer.NewTab"/>
                                    <ref bean="Toolbar.Item.CategoryManager.NewTab"/>
                                    <ref bean="Toolbar.Item.SiteManager.NewTab"/>
                                </list>
                            </property>
                        </bean>
                        <ref bean="Toolbar.Item.Separator"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Admin.Menu.User">
                            <property name="icon" value="start"/>
                            <property name="titleKey" value="label.user.loggedAs"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Start"/>
                                    <ref bean="Toolbar.Item.Logout"/>
                                </list>
                            </property>
                        </bean>
                        <ref bean="Toolbar.Item.DisplayToolbarWarningsActionItem"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="sidePanelToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                    </list>
                </property>
            </bean>
        </property>
        <property name="mainModuleToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                    </list>
                </property>
            </bean>
        </property>
        <property name="contextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                    </list>
                </property>
            </bean>
        </property>

        <!-- tabs-->
        <property name="tabs">
            <list value-type="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                <ref bean="sidePanelTab.serverSettings"/>
                <bean id="sidePanelTab.siteSettings" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                    <property name="key" value="systemSiteSettings"/>
                    <property name="icon" value="siteSettings"/>
                    <property name="treeColumns">
                        <list>
                            <value>displayName,*,label.title</value>
                        </list>
                    </property>
                    <property name="tabItem">
                        <bean class="org.jahia.ajax.gwt.client.widget.edit.sidepanel.SettingsTabItem">
                            <property name="settingsTemplateRoot" value="site-settings-base"/>
                            <property name="label" value="systemSiteSettings.tab.title"/>
                            <property name="settingPath" value="/sites/systemsite"/>
                        </bean>
                    </property>
                    <property name="requiredPermission" value="siteAdministrationAccess"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>
