<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!-- Editorial Content Manager -->
    <bean id="Toolbar.Item.EditorialContentManager.NewTab" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.OpenWindowActionItem"/>
        </property>
        <property name="titleKey" value="label.contentmanager"/>
        <property name="icon" value="content-manager-1616"/>
        <property name="requiredPermission" value="editorialContentManager"/>
        <property name="properties">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="url"/>
                    <property name="value"
                              value="$context/engines/manager.jsp?conf=editorialcontentmanager&amp;site=$siteuuid&amp;lang=$lang"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="target"/>
                    <property name="value" value="_blank"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="no-options"/>
                    <property name="value" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <!-- File Manager -->
    <bean id="Toolbar.Item.FileManager.NewTab" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.OpenWindowActionItem"/>
        </property>
        <property name="titleKey" value="label.filemanager"/>
        <property name="icon" value="fileManager"/>
        <property name="requiredPermission" value="fileManager"/>
        <property name="properties">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="url"/>
                    <property name="value" value="$context/engines/manager.jsp?conf=filemanager&amp;site=$siteuuid&amp;lang=$lang"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="target"/>
                    <property name="value" value="_blank"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="no-options"/>
                    <property name="value" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <!-- Content Manager -->
    <bean id="Toolbar.Item.RepositoryExplorer.NewTab" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.OpenWindowActionItem"/>
        </property>
        <property name="titleKey" value="label.repositoryexplorer"/>
        <property name="icon" value="repositoryExplorer"/>
        <property name="visibility">
            <bean class="org.jahia.services.uicomponents.bean.Visibility">
                <property name="permission" value="repositoryExplorer"/>
                <property name="contextNodePath" value="/"/>
            </bean>
        </property>
        <property name="properties">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="url"/>
                    <property name="value" value="$context/engines/manager.jsp?conf=repositoryexplorer&amp;lang=$lang"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="target"/>
                    <property name="value" value="_blank"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="no-options"/>
                    <property name="value" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <!-- Portlet Manager -->
    <bean id="Toolbar.Item.PortletManager.NewTab" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.OpenWindowActionItem"/>
        </property>
        <property name="titleKey" value="label.portletmanager"/>
        <property name="icon" value="portletManager"/>
        <property name="requiredPermission" value="portletManager"/>

        <property name="properties">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="url"/>
                    <property name="value" value="$context/engines/manager.jsp?conf=portletmanager&amp;site=$siteuuid&amp;lang=$lang"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="target"/>
                    <property name="value" value="_blank"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="no-options"/>
                    <property name="value" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <!-- Category Manager -->
    <bean id="Toolbar.Item.CategoryManager.NewTab" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.OpenWindowActionItem"/>
        </property>
        <property name="titleKey" value="label.categorymanager"/>
        <property name="icon" value="categoryManager"/>
        <property name="visibility">
            <bean class="org.jahia.services.uicomponents.bean.Visibility">
                <property name="permission" value="categoryManager"/>
                <property name="contextNodePath" value="/sites/systemsite"/>
            </bean>
        </property>
        <property name="properties">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="url"/>
                    <property name="value"
                              value="$context/engines/manager.jsp?conf=categorymanager&amp;lang=$lang"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="target"/>
                    <property name="value" value="_blank"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="no-options"/>
                    <property name="value" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <!-- Site Manager -->
    <bean id="Toolbar.Item.SiteManager.NewTab" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.OpenWindowActionItem"/>
        </property>
        <property name="titleKey" value="label.sitemanager"/>
        <property name="icon" value="siteManager"/>
        <property name="requiredPermission" value="siteManager"/>
        <property name="properties">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="url"/>
                    <property name="value" value="$context/engines/manager.jsp?conf=sitemanager&amp;site=$siteuuid&amp;lang=$lang"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="target"/>
                    <property name="value" value="_blank"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="no-options"/>
                    <property name="value" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="Toolbar.Item.OpenInContentManager.NewTab" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype"
          parent="Toolbar.Item.RepositoryExplorer.NewTab">
        <property name="titleKey" value="label.openInContentManager"/>
        <property name="icon" value="repositoryExplorer"/>
        <property name="properties">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="url"/>
                    <property name="value"
                              value="$context/engines/manager.jsp?conf=repositoryexplorer&amp;site=$siteuuid&amp;selectedPaths=$nodepath&amp;lang=$lang"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="target"/>
                    <property name="value" value="_blank"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="no-options"/>
                    <property name="value" value="true"/>
                </bean>
            </list>
        </property>
    </bean>



    <bean id="editmode-jahia-anthracite" parent="editmode">
        <property name="topToolbars">
            <list>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar" id="Edit.Menu.LeftTop">
                    <property name="items">
                        <list>
                            <bean id="editmode.managers.menu" class="org.jahia.services.uicomponents.bean.toolbar.Menu" >
                                <property name="visibility">
                                    <bean class="org.jahia.services.uicomponents.bean.Visibility">
                                        <property name="needAuthentication" value="true"/>
                                    </bean>
                                </property>
                                <property name="titleKey" value="label.managers"/>
                                <property name="items">
                                    <list>
                                        <ref bean="Toolbar.Item.Logout"/>
                                        <ref bean="Toolbar.Item.Start"/>
                                        <ref bean="Toolbar.Item.Studio"/>
                                        <ref bean="Toolbar.Item.Admin"/>
                                        <ref bean="Toolbar.Item.Contribute"/>
                                        <ref bean="Toolbar.Item.EditorialContentManager.NewTab"/>
                                        <ref bean="Toolbar.Item.FileManager.NewTab"/>
                                        <ref bean="Toolbar.Item.PortletManager.NewTab"/>
                                        <ref bean="Toolbar.Item.RepositoryExplorer.NewTab"/>
                                        <ref bean="Toolbar.Item.CategoryManager.NewTab"/>
                                        <ref bean="Toolbar.Item.SiteManager.NewTab"/>
                                    </list>
                                </property>
                            </bean>

                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar" id="Edit.Menu.CenterTop">
                    <property name="items">
                        <list>
                            <ref bean="Toolbar.Item.NodePath"/>

                            <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Edit.Menu.View">
                                <property name="titleKey" value="label.view"/>
                                <!-- <property name="icon" value="preview"/> -->
                                <property name="items">
                                    <list>
                                        <ref bean="Toolbar.Item.Live"/>
                                        <ref bean="Toolbar.Item.Preview"/>
                                        <ref bean="Toolbar.Item.PreviewAsGuest"/>
                                        <ref bean="Toolbar.Item.ShowCompareEngine"/>
                                        <ref bean="Toolbar.Item.ShowVersionEngine"/>
                                        <ref bean="Toolbar.Item.ShowConsultPreviousVersionEngine"/>
                                    </list>
                                </property>
                            </bean>

                            <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Edit.Menu.Edit">
                                <property name="titleKey" value="label.edit"/>
                                <property name="icon" value="editAction"/>
                                <property name="items">
                                    <list>
                                        <ref bean="Toolbar.Item.EditContent"/>
                                        <ref bean="Toolbar.Item.Delete"/>
                                        <ref bean="Toolbar.Item.Undelete"/>
                                        <ref bean="Toolbar.Item.DeletePermanently"/>
                                        <ref bean="Toolbar.Item.Separator"/>
                                        <ref bean="Toolbar.Item.EditSourceContent"/>
                                        <ref bean="Toolbar.Item.Separator"/>
                                        <ref bean="Toolbar.Item.Copy"/>
                                        <ref bean="Toolbar.Item.Cut"/>
                                        <ref bean="Toolbar.Item.Paste"/>
                                        <ref bean="Toolbar.Item.PasteReference"/>
                                        <ref bean="Toolbar.Item.Separator"/>
                                        <ref bean="Toolbar.Item.Publish"/>
                                        <ref bean="Toolbar.Item.Separator"/>
                                        <ref bean="Toolbar.Item.TranslateMenu"/>
                                        <ref bean="Toolbar.Item.Separator"/>
                                        <ref bean="Toolbar.Item.Export"/>
                                        <ref bean="Toolbar.Item.Import"/>
                                        <ref bean="Toolbar.Item.Separator"/>
                                        <ref bean="Toolbar.Item.Lock"/>
                                        <ref bean="Toolbar.Item.Unlock"/>
                                        <ref bean="Toolbar.Item.ClearLock"/>
                                        <ref bean="Toolbar.Item.ClearAllLocks"/>
                                        <ref bean="Toolbar.Item.Separator"/>
                                        <ref bean="Toolbar.Item.OpenInContentManager.NewTab"/>
                                    </list>
                                </property>
                            </bean>

                        </list>


                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar" id="Edit.Menu.RightTop">
                    <property name="items">
                        <list>
                            <ref bean="Toolbar.ItemsGroup.LanguageSwitcher"/>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar" id="Edit.Menu.TopLeft">
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar" id="Edit.Menu.BottomLeft">
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar" id="Edit.Menu.TopRight">
                    <property name="items">
                        <list>
                            <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Edit.Menu.Status">
                                <property name="titleKey" value="label.status"/>
                                <!-- <property name="icon" value="preview"/> -->
                                <property name="items">
                                    <list>
                                        <ref bean="Toolbar.Item.ViewPublishStatus"/>
                                        <ref bean="Toolbar.Item.ViewACLStatus"/>
                                        <ref bean="Toolbar.Item.ViewVisibilityStatus"/>
                                    </list>
                                </property>
                            </bean>
                            <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Edit.Menu.Publication">
                                <property name="titleKey" value="label.publication"/>
                                <!-- <property name="icon" value="publicationAction"/> -->
                                <property name="items">
                                    <list>
                                        <ref bean="Toolbar.Item.PublishOne"/>
                                        <ref bean="Toolbar.Item.PublishInAllLanguages"/>
                                        <ref bean="Toolbar.Item.PublishAll"/>
                                        <ref bean="Toolbar.Item.PublishAllInAllLanguages"/>
                                        <ref bean="Toolbar.Item.PublishSite"/>
                                        <ref bean="Toolbar.Item.PublishSiteInAllLanguages"/>
                                        <ref bean="Toolbar.Item.Unpublish"/>
                                        <ref bean="Toolbar.Item.PublicationManager"/>
                                    </list>
                                </property>
                            </bean>

                            <ref bean="Toolbar.Item.PublicationStatusWithText"/>

                            <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Edit.Menu.Workflow">

                                <property name="titleKey" value="label.workflow"/>
                                <property name="items">
                                    <list>
                                        <!--<ref bean="Toolbar.Item.WorkflowStatusAction"/>-->
                                        <ref bean="Toolbar.Item.WorkflowDashboard"/>
                                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype" id="Edit.Menu.CustomWorkflows">
                                            <property name="actionItem">
                                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.CustomWorkflowMenuActionItem"/>
                                            </property>
                                            <property name="titleKey" value="label.customWorkflowsMenu"/>
                                            <property name="icon" value="workflowDashboard"/>
                                        </bean>
                                    </list>
                                </property>
                            </bean>
                            <bean class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype" id="Edit.Menu.Tasks" >
                                <property name="actionItem">
                                    <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NumberOfTasksWorkflowMenuActionItem" />
                                </property>
                                <property name="titleKey" value="label.numberoftasksforuser"/>
                            </bean>

                            <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Edit.Menu.Cache">
                                <property name="titleKey" value="label.cache"/>
                                <!-- <property name="icon" value="publicationAction"/>  -->
                                <property name="items">
                                    <list>
                                        <ref bean="Toolbar.Item.Flush"/>
                                        <ref bean="Toolbar.Item.FlushSite"/>
                                        <ref bean="Toolbar.Item.FlushAll"/>
                                    </list>
                                </property>

                            </bean>
                            <ref bean="Toolbar.Item.ShowTrashboard"/>
                            <ref bean="Toolbar.Item.WorkInProgressAdmin"/>
                        </list>
                    </property>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar" id="Edit.Menu.BottomRight">
                </bean>
            </list>
        </property>

        <property name="sidePanelToolbar">
            <bean id="editModeSidePanelToolbar" class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item" id="Edit.Menu.Sites">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.SiteSwitcherActionItem">
                                    <property name="root" value="/sites/*"/>
                                    <property name="filterEditModeBlockedSites" value="true"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.modules"/>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
        <property name="mainModuleToolbar">
            <bean id="editModeMainModuleToolbar" class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                    </list>
                </property>
            </bean>
        </property>

        <property name="contextMenu">
            <bean id="editModeContextMenu" class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Undelete"/>
                        <ref bean="Toolbar.Item.DeletePermanently"/>
                        <ref bean="Toolbar.Item.EditSourceContent"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                        <ref bean="Toolbar.Item.Publish"/>
                        <ref bean="Toolbar.Item.TranslateMenu"/>
                        <ref bean="Toolbar.Item.Export"/>
                        <ref bean="Toolbar.Item.Import"/>
                        <ref bean="Toolbar.Item.Lock"/>
                        <ref bean="Toolbar.Item.Unlock"/>
                        <ref bean="Toolbar.Item.ClearLock"/>
                        <ref bean="Toolbar.Item.ClearAllLocks"/>
                        <ref bean="Toolbar.Item.OpenInContentManager.NewTab"/>
                        <ref bean="Toolbar.Item.GoToViewDefinition"/>
                    </list>
                </property>
            </bean>
        </property>

    </bean>


</beans>