<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studiomode-jahia-anthracite" parent="studiomode">
        <property name="topToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="layout" value="button-label"/>
                <property name="items">
                    <list>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.GoToActionItem">
                                    <property name="path" value="/settings"/>
                                    <property name="template" value="manageModules"/>
                                </bean>
                            </property>
                            <property name="titleKey" value="label.modulesList"/>
                            <property name="icon" value="modulesList"/>
                        </bean>

                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
                            <property name="actionItem">
                                <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.GoToModuleHomeActionItem"/>
                            </property>
                            <property name="titleKey" value="label.moduleHome"/>
                            <property name="icon" value="moduleHome"/>
                        </bean>

                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Studiomode.Menu.Module">
                            <property name="titleKey" value="label.new"/>
                            <property name="items">
                                <list>
                                    <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                                        <property name="actionItem">
                                            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewModuleActionItem">
                                            </bean>
                                        </property>
                                        <property name="titleKey" value="label.newModule"/>
                                        <property name="icon" value="newModule"/>
                                    </bean>
                                    <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                                        <property name="actionItem">
                                            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.FetchModuleActionItem">
                                            </bean>
                                        </property>
                                        <property name="titleKey" value="label.fetchModule"/>
                                        <property name="icon" value="fetchModule"/>
                                    </bean>
                                </list>
                            </property>
                        </bean>

                        <ref bean="Toolbar.Item.Separator"/>

                        <ref bean="Studiomode.Menu.Cache"/>
                        <ref bean="Toolbar.Item.ClipBoard"/>
                        <ref bean="Toolbar.Item.Separator"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu" id="Studiomode.Menu.User">
                            <property name="icon" value="start"/>
                            <property name="titleKey" value="label.user.loggedAs"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Documentation"/>
                                    <ref bean="Toolbar.Item.Logout"/>
                                </list>
                            </property>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
    </bean>
</beans>