<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <bean id="Toolbar.Item.PublishAll.Pages" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.PublishActionItem">
                <property name="allSubTree" value="true"/>
                <property name="forbiddenNodeTypes">
                    <list>
                        <value>nt:file</value>
                        <value>jnt:virtualsite</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="titleKey" value="label.publishall"/>
        <property name="icon" value="publishAll"/>
    </bean>

    <bean id="Toolbar.Item.PublishAllInAllLanguages.Pages" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.PublishActionItem">
                <property name="allLanguages" value="true"/>
                <property name="allSubTree" value="true"/>
                <property name="forbiddenNodeTypes">
                    <list>
                        <value>nt:file</value>
                        <value>nt:folder</value>
                        <value>jnt:virtualsite</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="titleKey" value="label.publishall.all.languages"/>
        <property name="icon" value="publishAll"/>
    </bean>

    <bean id="Toolbar.Item.PublishInAllLanguages.Pages" class="org.jahia.services.uicomponents.bean.toolbar.Item" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.PublishActionItem">
                <property name="allLanguages" value="true"/>
                <property name="forbiddenNodeTypes">
                    <list>
                        <value>nt:file</value>
                        <value>jnt:virtualsite</value>
                        <value>nt:folder</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="titleKey" value="label.publish.languages"/>
        <property name="icon" value="publish"/>
    </bean>

    <bean id="Toolbar.Item.PagesTab.PublicationMenu" parent="Toolbar.Item.Publish" scope="prototype">
        <property name="items">
            <list>
                <ref bean="Toolbar.Item.PublishOne"/>
                <ref bean="Toolbar.Item.PublishInAllLanguages.Pages"/>
                <ref bean="Toolbar.Item.PublishAll.Pages"/>
                <ref bean="Toolbar.Item.PublishAllInAllLanguages.Pages"/>
                <ref bean="Toolbar.Item.Unpublish"/>
            </list>
        </property>
    </bean>

    <bean id="Toolbar.Item.PublishFileOnly" parent="Toolbar.Item.PublishOne" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.PublishActionItem">
                <property name="allowedNodeTypes">
                    <list>
                        <value>nt:file</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="properties">
            <list merge="true">
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="additional-classes"/>
                    <property name="value" value="toolbar-item-publishone"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="Toolbar.Item.PublishNonFiles" parent="Toolbar.Item.PublishFileOnly" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.PublishActionItem">
                <property name="forbiddenNodeTypes">
                    <list>
                        <value>nt:file</value>
                        <value>jnt:virtualsite</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="Toolbar.Item.UnpublishFileOnly" parent="Toolbar.Item.Unpublish" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.UnpublishActionItem">
                <property name="allowedNodeTypes">
                    <list>
                        <value>nt:file</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="properties">
            <list merge="true">
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="additional-classes"/>
                    <property name="value" value="toolbar-item-unpublish"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="Toolbar.Item.UnpublishNonFiles" parent="Toolbar.Item.UnpublishFileOnly" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.UnpublishActionItem">
                <property name="forbiddenNodeTypes">
                    <list>
                        <value>nt:file</value>
                        <value>jnt:virtualsite</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="Toolbar.Item.Publish.ContentAndFiles" parent="Toolbar.Item.Publish" scope="prototype">
        <property name="items">
            <list>
                <ref bean="Toolbar.Item.PublishNonFiles"/>
                <ref bean="Toolbar.Item.PublishInAllLanguages"/>
                <ref bean="Toolbar.Item.PublishAll.ContentAndFiles"/>
                <ref bean="Toolbar.Item.PublishAllInAllLanguages.ContentAndFiles"/>
                <ref bean="Toolbar.Item.UnpublishNonFiles"/>
            </list>
        </property>
    </bean>

    <bean id="Toolbar.Item.PublishAll.ContentAndFiles" parent="Toolbar.Item.PublishAll" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.PublishActionItem">
                <property name="allSubTree" value="true"/>
                <property name="allowedNodeTypes">
                    <list>
                        <value>nt:folder</value>
                        <value>jnt:contentFolder</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="Toolbar.Item.PublishAllInAllLanguages.ContentAndFiles" parent="Toolbar.Item.PublishAllInAllLanguages" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.PublishActionItem">
                <property name="allLanguages" value="true"/>
                <property name="allSubTree" value="true"/>
                <property name="allowedNodeTypes">
                    <list>
                        <value>nt:folder</value>
                        <value>jnt:contentFolder</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="Toolbar.Item.DirectPreview" parent="Toolbar.Item.Preview" scope="prototype">
        <property name="actionItem">
            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.SwitchModeActionItem">
                <property name="openInNewWindow" value="true"/>
                <property name="showOpenInNewWindowSubmenu" value="false"/>
            </bean>
        </property>
        <property name="properties">
            <list merge="true">
                <bean class="org.jahia.services.uicomponents.bean.toolbar.Property">
                    <property name="name" value="additional-classes"/>
                    <property name="value" value="toolbar-item-preview"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>