<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>${i18n.get("notifications.events.contentPublished.subject", "Content update alert")}</title>
</head>
<body>
<h2>${i18n.get("notifications.events.contentPublished.subject", "Content update alert")}</h2>
<p>${i18n.get("notifications.common.salutation", "Dear")} ${subscriber.fullName},</p>
<p>${i18n.get("notifications.events.contentPublished.contentChanged", "the content, you were subscribed to, has changed.")}</p>
<% if (!targetPages.isEmpty() || watchedContentLink != null) { %>
<p>${i18n.get("notifications.events.contentPublished.updatedPages", "Updated pages:")}
<ul>
<% if (!targetPages.isEmpty()) { 
targetPages.each() {%>
    <li><a href="${it.absoluteUrl}">${it.absoluteUrl}</a></li>
<%}} else { %>
    <li><a href="${watchedContentLink.absoluteUrl}">${i18n.get("notifications.events.contentPublished.updatedContentLink", "Updated content")}</a></li>
<% } %>
</ul>
</p>
<% } %>

<p>${i18n.get("notifications.common.farewell", "Sincerely Yours")}<br>${i18n.get("notifications.common.farewell.signature", "Portal Team")}</p>

<hr>
<p>${i18n.get("notifications.common.unsubscribe", "To unsubscribe from notifications for this content, please use the")} <a href="${unsubscribeLink.absoluteUrl}">${i18n.get("notifications.common.unsubscribeLink", "unsubscribe service")}</a><br>
${i18n.get("notifications.common.updateProfile", "To update your profile or to stop receiving customized e-mail, please click")} <a href="${subscriptionManagementLink.absoluteUrl}">${i18n.get("notifications.common.updateProfileLink", "here")}</a></p>
</body>
</html>