/* login */
html { height:100%}

body.error-page {
    background-image:none;
    background-color: #eaeaea;
    margin:0;
    padding: 0;
    text-align:center;
}
body.login {
    background: url(images/bg-body_login.png) no-repeat center center;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    background-color: #eaeaea;
    margin:0;
    padding: 0;
    text-align:center;
}
@media (min-width: 1501px) {
    body.login {
        background: url(images/bg-body_login_big.png) no-repeat center center;
    }
}
.login-wrapper {
    text-align: center;
    top: 90px;
}
.login-wrapper .logo {
    margin-bottom: 0;
    position: relative;
}
.login-wrapper .box {
    background-color:#fff; /* for ie > 9 */
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    float: none;
    margin: 5% auto 0 auto !important;
    padding: 35px 0 30px;
    width: 400px;
}
.login-wrapper .box input.big-input{
    font-size: 1.5em;
    line-height: 2em;
    height: 40px;
}
.login-wrapper .btn-large [class^="icon-"],.login-wrapper .btn-large [class*=" icon-"] {
    margin-top: 0;
}
.login-wrapper .box .content-wrap {
    margin: 0 auto;
    width: 82%;
}

.login-wrapper .box h1 {
    font-size: 16px;
    text-transform: uppercase;
    color:#999
}
.login-wrapper .box .remember {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}
.login-wrapper .box .remember input[type="checkbox"] {
    float: left;
    margin-right: 8px;
}
.login-wrapper .box .remember label {
    float: left;
}
.login-wrapper .login-error
/* responsive */
@media (max-width: 767px) {
    .login-wrapper .box {
        width: 350px; } }
@media (max-width: 480px) {
    .login-wrapper .box {
        width: 90%; } }


/* error */
.error-box h1.message-big,.error-box .message-big {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6), 0 0 1px rgba(0, 0, 0, 0.3);
    color:#666;
    margin-bottom:20px;
}
.dev-mode .pre-dev {
    margin-top:10px;
}
.dev-mode .pre-dev {
    text-align: left;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
}