

body {
    margin: 0;
}

body,p,td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
}
a {
	text-decoration: none;
	color: #006699;
	font-size: 12px;
	font-weight: bold;
}

a:hover {
	color: #3399CC;
}

a:visited {
	color: #006699;
}

.errorbox {
	border: 1px solid #b7cbd8;
}
.boxtitle {
	background: #d8e5ec url("images/error/bkg-section.png") repeat-x;
	color:  #2f3c45;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    font-weight: bold;
    border-bottom: 1px solid #b7cbd8;
}
.boxcontent {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #666666;
    background-color: #f6f8fa;
}
.bold {
	color: #000000;
    font-weight: bold;
    font-size: 12px;
}
