

/* versioning comparaison difference highlighting style */

.compareAddedDifference, .compareAddedDifference * {
    background-color: aqua !important;
    color: black !important;
}

.compareChangedDifference, .compareChangedDifference * {
    background-color: lime !important;
    color: black !important;
}

.compareDeletedDifference, .compareDeletedDifference * {
    background-color: red !important;
    text-decoration: line-through !important;
    color: black !important;
}

.inlineEditingActivated {
    border-style: dashed;
    border-width: medium;
}

.inlineEditingDeactivated {
    border-style: none;
}

.searchHighlightedText {
    font-weight:bold;
    font-size:larger;
    background:#ff0;
}