@import "common";
@import "sidepanel";
@import "edit_contribute";
@import "adminmode";
@import "dashboardmode";
@import "workflow";

/////////////////////////////////////////////////
// NEED TO ADD TO SASS //////////////////////////
/////////////////////////////////////////////////

body[data-edit-window-style="settings"] {
    background: _theme-color(secondary);
}

body[data-edit-window-style="settings"] .x-viewport-editmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
.x-viewport-adminmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
.x-viewport-dashboardmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    width: calc(100% - 308px) !important;
    left: 356px !important;
    overflow: visible !important;
}

body[data-edit-window-style="settings"][data-selection-count] .x-viewport-editmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > iframe:nth-child(1),
body[data-edit-window-style="settings"][data-selection-count] .x-viewport-adminmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > iframe:nth-child(1),
body[data-edit-window-style="settings"][data-selection-count] .x-viewport-dashboardmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div > iframe:nth-child(1) {
    box-shadow: none !important;
}

body[data-edit-window-style="settings"] .x-viewport-editmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div {
    top: -53px !important;
    height: calc(100% + 63px) !important;
    width: calc(100% + 21px) !important;
}

.x-viewport-adminmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div,
.x-viewport-dashboardmode > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div {
    top: -43px !important;
    height: calc(100% + 65px) !important;
    width: calc(100% - 9px) !important;
    box-shadow: none !important;
}

/* ADMIN MODE */

// Fix loader issue for Server admin.
.x-viewport-adminmode #JahiaGxtSettingsTab.tab_systemSiteSettings > .x-component.x-masked-relative {
    display: none;
}