/****************************/
/* COMPONENT COLOURS  */
/****************************/

$HAMBURGER--TITLE--COLOR: (
        LIGHT: _color("quinary"),
        DARK: _color("quinary"),
);

$HAMBURGER--BUTTON--COLOR: (
        LIGHT: _color("secondary"),
        DARK: _color("secondary"),
);

$HAMBURGER--BUTTON--SHADOW: (
        LIGHT: unquote("inset -2px 2px " + _color("secondary")),
        DARK: unquote("inset -2px 2px " + _color("secondary")),
);

$HAMBURGER--BUTTON--SHADOW---HOVER: (
        LIGHT: inset -1px 1px transparent,
        DARK: inset -1px 1px transparent,
);

$HAMBURGER--BUTTON--COLOR---HOVER: (
        LIGHT: _color("secondary"),
        DARK: _color("secondary"),
);

$HAMBURGER--BUTTON--BG: (
        LIGHT: radial-gradient(ellipse at bottom right, _color("quinary") 0%, _color("quinary") 70%),
        DARK: radial-gradient(ellipse at bottom right, _color("quinary") 0%, _color("quinary") 70%),
);

$HAMBURGER--BUTTON--BG---HOVER: (
        LIGHT: radial-gradient(ellipse at bottom right, _color("quinary", a) 0%, _color("quinary") 70%),
        DARK: radial-gradient(ellipse at bottom right, _color("quinary", a) 0%, _color("quinary") 70%),
);

$HAMBURGER--BUTTON--BG---SELECTED: (
        LIGHT: radial-gradient(ellipse at bottom right, _color("quaternary", a) 0%, _color("quaternary") 70%),
        DARK: radial-gradient(ellipse at bottom right, _color("quaternary", a) 0%, _color("quaternary") 70%),
);
