/****************************/
/* CHECKBOX */
/****************************/
$CHECKBOX--BG: (
        LIGHT: _color("secondary"),
        DARK: _color("secondary"),
);

$CHECKBOX--BORDER: (
        LIGHT: 1px solid _color("primary", g),
        DARK: 1px solid _color("primary", g),
);

$CHECKBOX--SHADOW: (
        LIGHT: inset 1px 1px 3px _color("black", a),
        DARK: inset 1px 1px 3px _color("black", a),
);

$CHECKBOX--BG---CHECKED: (
        LIGHT: _color("green"),
        DARK: _color("green"),
);


/****************************/
/* INPUT / TEXTAREA */
/****************************/

// UP
$INPUT--COLOR: (
        LIGHT: _color("primary"),
        DARK: _color("secondary"),
);

$INPUT--PLACEHOLDER: (
        LIGHT: _color("secondary", d),
        DARK: _color("secondary", d),
);

$INPUT--BG: (
        LIGHT: _color("white"),
        DARK: radial-gradient(ellipse at bottom right, _color("primary", b) 0%, _color("primary", a) 70%),
);

$INPUT--BORDER: (
        LIGHT: transparent,
        DARK: transparent,
);

$INPUT--SHADOW: (
        LIGHT: 0px 1px 2px _color("black", a),
        DARK: 0px 1px 2px _color("black", a),
);

// HOVER
$INPUT--COLOR---HOVER: (
        LIGHT: _color("primary"),
        DARK: _color("secondary"),
);

$INPUT--BG---HOVER: (
        LIGHT: _color("white"),
        DARK: _color("primary", b),
);

$INPUT--BORDER---HOVER: (
        LIGHT: transparent,
        DARK: transparent,
);

$INPUT--SHADOW---HOVER: (
        LIGHT: 0px 1px 2px _color("black", b),
        DARK: 0px 1px 2px _color("black", a),
);

// FOCUS
$INPUT--COLOR---FOCUS: (
        LIGHT: _color("primary"),
        DARK: _color("secondary"),
);

$INPUT--PLACEHOLDER---FOCUS: (
        LIGHT: _color("secondary", e),
        DARK: _color("secondary", e),
);

$INPUT--BG---FOCUS: (
        LIGHT: _color("white"),
        DARK: _color("tertiary"),
);

$INPUT--BORDER---FOCUS: (
        LIGHT: transparent,
        DARK: transparent,
);

$INPUT--SHADOW---FOCUS: (
        LIGHT: 0px 1px 2px _color("black", b),
        DARK: 0px 1px 2px _color("black", b),
);

$INPUT--INSET-SHADOW---FOCUS: (
        LIGHT: #{inset 0.5px 0.5px 0px #7c7c7c, inset -0.5px -0.5px 0px #7c7c7c, inset 1px 1px 1px _color("black", a)},
        DARK: none,
);

$INPUT--ARROW---FOCUS: (
    LIGHT: _icon("arrowDown", "black"),
    DARK: _icon("arrowDown", "white"),
);

// DISABLED
$INPUT--COLOR---DISABLED: (
        LIGHT: _color("primary"),
        DARK: _color("primary")
);

$INPUT--BG---DISABLED: (
        LIGHT: #BDBDBD,
        DARK: #BDBDBD
);

$INPUT--BORDER---DISABLED: (
        LIGHT: transparent,
        DARK: transparent,
);

$INPUT--SHADOW---DISABLED: (
        LIGHT: 0px 1px 2px _color("black", b),
        DARK: 0px 1px 2px _color("black", b),
);

/****************************/
/* LIST BOXES */
/****************************/

$LIST-BOX--BG: (
        LIGHT: _color("secondary", a),
        DARK: _color("secondary", a),
);

// Row
$LIST-BOX--ROW--COLOR: (
        LIGHT: _color("primary"),
        DARK: _color("primary"),
);

$LIST-BOX--ROW--BG: (
        LIGHT: _color("secondary", a),
        DARK: _color("secondary", a),
);

// Row hover
$LIST-BOX--ROW--COLOR---HOVER: (
        LIGHT: _color("secondary"),
        DARK: _color("secondary"),
);

$LIST-BOX--ROW--BG---HOVER: (
        LIGHT: _color("primary", e),
        DARK: _color("primary", e),
);

// Row selected
$LIST-BOX--ROW--COLOR---SELECTED: (
        LIGHT: _color("secondary"),
        DARK: _color("secondary"),
);

$LIST-BOX--ROW--BG---SELECTED: (
        LIGHT: _color("primary", c),
        DARK: _color("primary", c),
);

// Row disabled
$LIST-BOX--ROW--COLOR---DISABLED: (
        LIGHT: _color("white", normal),
        DARK: red,
);

$LIST-BOX--ROW--BG---DISABLED: (
        LIGHT: red,
        DARK: red,
);


/****************************/
/* FIELDSET */
/****************************/

// TITLE COLOR
$FIELDSET--TITLE-COLOR: (
        LIGHT: _color("primary"),
        DARK: _color("secondary"),
);

// BACKGROUND COLOR
$FIELDSET--BG: (
        LIGHT: _color("white", a),
        DARK: _color("primary", h),
);

// BORDER COLOR
$FIELDSET--BORDER: (
        LIGHT: _color("secondary", b),
        DARK: transparent,
);

// BACKGROUND HOVER COLOR
$FIELDSET--BG---HOVER: (
        LIGHT: _color("white"),
        DARK: _color("primary", h),
);
