@import "icons";
@import "theme-config";
@import "theme-typography";
@import "theme-palette";
@import "theme-animations";
@import "override-animations";
@import "override-typography";
@import "override-icons";

@import "modals";
@import "backgrounds";
@import "buttons";
@import "ckeditor";
@import "comments";
@import "components";
@import "date-picker";
@import "forms";
@import "iframes";
@import "menus";
@import "scrollbars";
@import "switch";
@import "tabs";
@import "text";
@import "thumbs";
@import "toggle";
@import "trees";
@import "side-panel";
@import "edit-engine";
@import "splitter";
@import "misc";
