/////////////////////////////////////////////////
// FONT FAMILIES ////////////////////////////////
/////////////////////////////////////////////////

$fonts: (
    "nunito": '"Nunito Sans", sans-serif',
    "raleway": '"Raleway", sans-serif',
);


/////////////////////////////////////////////////
// FONT WEIGHTS /////////////////////////////////
/////////////////////////////////////////////////

$weights: (
    "extralight": 100,
    "semilight": 200,
    "light": 300,
    "normal": 400,
    "semibold": 500,
    "bold": 700,
    "extrabold": 800,
);



/////////////////////////////////////////////////
// SIZES ////////////////////////////////////////
/////////////////////////////////////////////////

$sizes: (
    "tiny": 9px,
    "small": 12px,
    "normal": 14px,
    "medium": 18px,
    "large": 28px,
    "big": 36px,
);


@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'), url(../fonts/XvilrNtBQKRMeiqSPzEFHdj3jEPHYvfoh7wL9kai_ws.woff) format('woff'); /* OPTIMISE URL ::: css/theme/_theme-fonts.scss ::: 1 */
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Nunito Sans Light'), local('NunitoSans-Light'), url(../fonts/XvilrNtBQKRMeiqSPzEFHR_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff'); /* OPTIMISE URL ::: css/theme/_theme-fonts.scss ::: 2 */
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(../fonts/iJ4p9wO0GDKJ-D5teKuZqobN6UDyHWBl620a-IRfuBk.woff) format('woff'); /* OPTIMISE URL ::: css/theme/_theme-fonts.scss ::: 3 */
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(../fonts/XvilrNtBQKRMeiqSPzEFHTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff'); /* OPTIMISE URL ::: css/theme/_theme-fonts.scss ::: 4 */
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'), url(../fonts/XvilrNtBQKRMeiqSPzEFHUCDe67GEgBv_HnyvHTfdew.woff) format('woff'); /* OPTIMISE URL ::: css/theme/_theme-fonts.scss ::: 5 */
}
