@charset "UTF-8";
$dictionary: (
    "select_category_from_list": "Bitte wählen Sie eine Kategorie aus der unten angeführten Liste ...",
    "available_categories": "Verfügbare Kategorien",
    "create_page": "Seite erstellen",
    "edit_mode": "Editiermodus",
    "preview": "Vorschau",
    "publish": "Veröffentlichen",
    "clear_selection": "Auswahl aufheben",
    "workflow": "Workflow",
    "status": "Status",
    "tasks": "Aufgaben",
    "cache": "Cache",
    "trash": "Papierkorb",
    "jobs": "Jobs",
    "clipboard": "Clipboard",
    "loggedin": "Eingeloggt",
    "results": "Ergebnisse",
    "no_results": "Keine Ergebnisse ..",
    "not_found": "Leider konnten wir keine Ergebnisse finden :(",
    "empty": "Nichts zum Anzeigen",
    "pages": "Seiten",
    "create": "Erstellen",
    "content": "Inhalt",
    "files": "Dateien",
    "search": "Suche",
    "save_search_results": "Suchergebnisse speichern",
    "return_to_picker": "Zurück",
    "taxonomy": "Kategorien",
    "devices": "Geräte",
    "settings": "Einstellungen",
    "create_content": "Inhalt erstellen",
    "my_content": "Mein Inhalt",
    "device_preview": "Geräte-Vorschau",
    "site_settings": "Site Einstellungen",
    "loading": "Laden",
    "work_in_progress": "In Bearbeitung",
    "file_manager": "Datei Manager",
    "contribute_mode": "Beitragsmodus",
    "upload": "Upload",
    "site": "Site",
    "edit": "Editieren",
    "dxm": "Jahia",
    "dxm_settings": "Jahia",
    "close": "Schließen",
    "more": "Mehr",
    "selected": "Ausgewählt",
    "server_settings": "Server",
    "system_settings": "System Site",
    "my_dashboard": "Mein Dashboard",
    "dashboard": "Dashboard",
    "sites": "Seiten",
    "administration": "Administration",
    "dark_ui": "Dunkles UI",
    "light_ui": "Helles UI",
    "context_menu_hamburger": "Hamburger Menu...",
    "context_menu_publication_page": "Seite veröffentlichen",
    "context_menu_publication_selection": "Auswahl veröffentlichen",
    "context_menu_preview_page": "Vorschau für Seite",
    "context_menu_preview_selection": "Vorschau für Auswahl",
    "context_menu_edit_page": "Seite editieren",
    "context_menu_edit_selection": "Auswahl editieren",
    "context_menu_more_info": "Mehr Optionen",
    "context_menu_more_info_page": "Seiten-Optionen",
    "context_menu_more_info_selection": "Auswahl-Optionen",
    "context_menu_mode_view": "Modus wechseln...",
    "context_menu_user_menu": "Benutzermenü...",
    "context_menu_workflow": "Workflow-Menü...",
    "context_menu_cache": " Menü...",
    "context_menu_page_edit": "Bearbeitungs-Menü...",
    "context_menu_side_panel_pages": "Seiten-Menü...",
    "context_menu_side_panel_content_tree": "Content-Menü...",
    "context_menu_side_panel_content_item": "Content-Menü...",
    "context_menu_side_panel_file_tree": "Datei-Menü...",
    "context_menu_side_panel_file_item": "Datei-Menü...",
    "context_menu_side_panel_search": "Such-Menü...",
    "context_menu_side_panel_taxonomy": "Taxonomie Menü...",
    "context_menu_admin_user_name": "Benutzer Menü...",
    "context_menu_dashboard_user_name": "Benutzer Menu...",
    "context_menu_admin_mode_view": "Ändere Modus...",
    "context_menu_dashboard_mode_view": "Ändere Modus...",
    "off": "Aus",
    "on": "Ein",
    "done": "Schließen",
    "cancel": "Abbrechen",
    "year_picker": "Monat / Jahr Auswahl",
    "ascending": "Aufsteigend:",
    "descending": "Absteigend:",
    "home": "Home",
    "tooltip_more_options": "Mehr Optionen",
    "tooltip_refresh_page": "Seite neu laden",
    "tooltip_preview": "Vorschau",
    "tooltip_publish": "Optionen zur Veröffentlichung",
    "infobar_view_workflow_dashboard": "Ansicht",
    "infobar_view_background_jobs": "Ansicht",
    "infobar_no_background_jobs": "Keine laufenden Hintergrundjobs",
    "infobar_toggle_on": "Ausblenden",
    "infobar_toggle_off": "Anzeigen",
    "visibility_publication": "Veröffentlichung",
    "visibility_visibility": "Sichtbarkeit",
    "visibility_no_conditions": "Keine Bedingungen angegeben.",
    "visibility_conditions": "Bedingungen",
    "visibility_edit_condition": "Bearbeitungs-Bedingung",
    "visibility_new_condition": "Neue Bedingung",
    "confirm_delete": "Auswahl löschen?",
    "confirm_delete_completed": "Alle beendeten löschen?",
    "history": "Historie",
    "deactivated": "Deaktiviert",
    "activated": "Aktiviert",
    "edit_engine": "Content editieren",
    "edit_engine_create": "Neuer Content",
    "channels_button": "Mobile Ansicht",
    "tooltip_new_category": "neue Kategorie",
    "tooltip_new_folder": "Neuer Ordner",
    "tooltip_new_content_folder": "Neuer Inhalt Ordner",
    "tooltip_new_portlet_folder": "Neuer Portlet Ordner",
    "tooltip_upload": "Hochladen",
    "tooltip_new_content": "Neuen Inhalt erstellen",
    "tooltip_new_portlet": "Neues Portlet erstellen",
    "tooltip_new_page": "Neue Seite erstellen",
    "tooltip_toggle_hidden_elements": "Versteckte Elemente einblenden",
    "app_documentation": "Dokumentation",
    "app_portlet_manager": "Portlets",
    "app_categories": "Kategorien",
    "app_repository": "Repository-Explorer",
    "app_site_manager": "Sites",
    "app_content_manager": "Contents",
    "app_file_manager": "Dokumente",
    "app_admininstration": "Administration",
    "app_studio": "Studio",
    "app_contribute": "Beitragen",
    "app_edit_mode": "Bearbeitungsmodus",
    "app_dashboard": "Mein Dashboard",
    "timepicker": "Zeit:",
    "searchLoading": "Laden...",
    "conflict": "Konflikt",
    "deleted": "Gelöscht",
    "livemodified": "Live verändert",
    "liveonly": "Nur Live",
    "locked": "Gesperrt",
    "mandatorylanguageunpublishable": "Fehler bei der Veröffentlichung",
    "mandatorylanguagevalid": "Fehler bei der Veröffentlichung",
    "markedfordeletion": "Zur Löschung markiert",
    "modified": "Geändert",
    "multipleWF": "???",
    "notpublished": "Nicht veröffentlicht",
    "oneWF": "???",
    "published": "Veröffentlicht",
    "unpublished": "Veröffentlichung rückgängig gemacht",
    "waiting": "Warten",
    "workinprogress": "In Arbeit",
    "page_composer": "Page Composer"
);
