@charset "UTF-8";
$dictionary: (
    "select_category_from_list": "Please select a category from the list below ...",
    "available_categories": "Available categories",
    "create_page": "Create Page",
    "edit_mode": "Edit Mode",
    "preview": "Preview",
    "publish": "Publish",
    "clear_selection": "Clear Selection",
    "workflow": "Workflow",
    "status": "Status",
    "tasks": "Tasks",
    "cache": "Cache",
    "trash": "Trash",
    "jobs": "Jobs",
    "clipboard": "Clipboard",
    "loggedin": "Logged in",
    "results": "Results",
    "no_results": "No Results ..",
    "not_found": "Sorry we couldnt find what you were looking for :(",
    "empty": "Nothing to display",
    "pages": "Pages",
    "create": "Create",
    "content": "Content",
    "files": "Files",
    "search": "Search",
    "save_search_results": "Save Search results",
    "return_to_picker": "Back",
    "taxonomy": "Categories",
    "devices": "Devices",
    "settings": "Settings",
    "create_content": "Create Content",
    "my_content": "My Content",
    "device_preview": "Device Preview",
    "site_settings": "Site Settings",
    "loading": "Loading",
    "work_in_progress": "Work in progress",
    "file_manager": "File manager",
    "contribute_mode": "Contribute mode",
    "upload": "Upload",
    "site": "Site",
    "edit": "Edit",
    "dxm": "Jahia",
    "dxm_settings": "Jahia",
    "close": "Close",
    "more": "More",
    "selected": "Selected",
    "server_settings": "Server",
    "system_settings": "System site",
    "my_dashboard": "My Dashboard",
    "dashboard": "Dashboard",
    "sites": "Sites",
    "administration": "Administration",
    "dark_ui": "Dark UI",
    "light_ui": "Light UI",
    "context_menu_hamburger": "Hamburger Menu...",
    "context_menu_publication_page": "Publish Page",
    "context_menu_publication_selection": "Publish Selection",
    "context_menu_preview_page": "Preview",
    "context_menu_preview_selection": "Preview",
    "context_menu_edit_page": "Edit Page",
    "context_menu_edit_selection": "Edit Selection",
    "context_menu_more_info": "More Options",
    "context_menu_more_info_page": "Page Options",
    "context_menu_more_info_selection": "Selection Options",
    "context_menu_mode_view": "Change Modes...",
    "context_menu_user_menu": "User Menu...",
    "context_menu_workflow": "Workflow Menu...",
    "context_menu_cache": " Menu...",
    "context_menu_page_edit": "Edit Menu...",
    "context_menu_side_panel_pages": "Pages Menu...",
    "context_menu_side_panel_content_tree": "Content Menu...",
    "context_menu_side_panel_content_item": "Content Menu...",
    "context_menu_side_panel_file_tree": "File Menu...",
    "context_menu_side_panel_file_item": "File Menu...",
    "context_menu_side_panel_search": "Search Menu...",
    "context_menu_side_panel_taxonomy": "Taxonomy Menu...",
    "context_menu_admin_user_name": "User Menu...",
    "context_menu_dashboard_user_name": "User Menu...",
    "context_menu_admin_mode_view": "Change Modes...",
    "context_menu_dashboard_mode_view": "Change Modes...",
    "off": "Off",
    "on": "On",
    "done": "Close",
    "cancel": "Cancel",
    "year_picker": "Month / Year picker",
    "ascending": "Ascending:",
    "descending": "Descending:",
    "home": "Home",
    "tooltip_more_options": "More Options",
    "tooltip_refresh_page": "Refresh Page",
    "tooltip_preview": "Preview",
    "tooltip_publish": "Publication Options",
    "infobar_view_workflow_dashboard": "View",
    "infobar_view_background_jobs": "View",
    "infobar_no_background_jobs": "No Background Jobs Running",
    "infobar_toggle_on": "Hide",
    "infobar_toggle_off": "Show",
    "visibility_publication": "Publication",
    "visibility_visibility": "Visibility",
    "visibility_no_conditions": "No conditions specified.",
    "visibility_conditions": "Conditions",
    "visibility_edit_condition": "Edit condition",
    "visibility_new_condition": "New condition",
    "confirm_delete": "Delete Selection?",
    "confirm_delete_completed": "Delete Completed Jobs?",
    "history": "History",
    "deactivated": "Deactivated",
    "activated": "Activated",
    "edit_engine": "Edit Content",
    "edit_engine_create": "New Content",
    "channels_button": "Mobile View",
    "tooltip_new_category": "new Category",
    "tooltip_new_folder": "New Folder",
    "tooltip_new_content_folder": "New Content Folder",
    "tooltip_new_portlet_folder": "New Portlet Folder",
    "tooltip_upload": "Upload",
    "tooltip_new_content": "Create new content",
    "tooltip_new_portlet": "Create new portlet",
    "tooltip_new_page": "Create new page",
    "tooltip_toggle_hidden_elements": "Toggle hidden elements",
    "app_documentation": "Documentation",
    "app_portlet_manager": "Portlets",
    "app_categories": "Categories",
    "app_repository": "Repository Explorer",
    "app_site_manager": "Sites",
    "app_content_manager": "Contents",
    "app_file_manager": "Documents",
    "app_admininstration": "Administration",
    "app_studio": "Studio",
    "app_contribute": "Contribute",
    "app_edit_mode": "Edit Mode",
    "app_dashboard": "My Dashboard",
    "timepicker": "Time:",
    "searchLoading": "Loading...",
    "conflict": "Conflict",
	"deleted": "Deleted",
	"livemodified": "Live Modified",
	"liveonly": "Live Only",
	"locked": "Locked",
	"mandatorylanguageunpublishable": "Publish error",
	"mandatorylanguagevalid": "Publish error",
	"markedfordeletion": "Marked for deletion",
	"modified": "Modified",
	"multipleWF": "???",
	"notpublished": "Not published",
	"oneWF": "???",
	"published": "Published",
	"unpublished": "Not published",
	"waiting": "Waiting",
	"workinprogress": "Work in progress",
    "page_composer": "Page Composer"
);
