@charset "UTF-8";
$dictionary: (
    "select_category_from_list": "Choisir une catégorie dans la liste ci-dessous:",
    "available_categories": "Catégories disponibles",
    "create_page": "Nouvelle page",
    "edit_mode": "Page Composer",
    "preview": "Prévisualisation",
    "publish": "Publication",
    "clear_selection": "Annuler la sélection",
    "workflow": "Workflow",
    "status": "Statuts",
    "tasks": "Tâches",
    "cache": "Cache",
    "trash": "Corbeille",
    "jobs": "Jobs",
    "clipboard": "Presse-papiers",
    "loggedin": "Connecté",
    "results": "Resultats",
    "no_results": "Pas de résultats",
    "not_found": "Désolé nous n'avons pas pu trouver ce que vous cherchiez :(",
    "empty": "Rien à afficher",
    "pages": "Pages",
    "create": "Créer",
    "content": "Contenu",
    "files": "Fichiers",
    "search": "Chercher",
    "save_search_results": "Sauvegarder les résultats de recherche",
    "return_to_picker": "Retour",
    "taxonomy": "Catégories",
    "devices": "Appareils",
    "settings": "Paramètres",
    "create_content": "Créer du contenu",
    "my_content": "Mes Contenus",
    "device_preview": "Aperçu mobile",
    "site_settings": "Paramètres du site",
    "loading": "Chargement",
    "work_in_progress": "Travail en cours",
    "file_manager": "Gestionnaire de fichiers",
    "contribute_mode": "Mode contribution",
    "upload": "Téléchargement",
    "site": "Site",
    "edit": "Edition",
    "dxm": "Jahia",
    "dxm_settings": "Paramètres de Jahia",
    "close": "Fermer",
    "more": "Plus",
    "selected": "Sélectionné",
    "server_settings": "Serveur",
    "system_settings": "Site système",
    "my_dashboard": "Mon Dashboard",
    "dashboard": "Dashboard",
    "sites": "Sites",
    "administration": "Administration",
    "dark_ui": "UI sombre",
    "light_ui": "UI claire",
    "context_menu_hamburger": "Hamburger Menu...",
    "context_menu_publication_page": "Publier la page",
    "context_menu_publication_selection": "Publier la sélection",
    "context_menu_preview_page": "Aperçu",
    "context_menu_preview_selection": "Aperçu",
    "context_menu_edit_page": "Editer la page",
    "context_menu_edit_selection": "Editer la sélection",
    "context_menu_more_info": "Menu plus d'options...",
    "context_menu_more_info_page": "Options de la page",
    "context_menu_more_info_selection": "Selection Options",
    "context_menu_mode_view": "Changer de mode...",
    "context_menu_user_menu": "Menu utilisateur...",
    "context_menu_workflow": "Menu des workflows...",
    "context_menu_cache": " Menu...",
    "context_menu_page_edit": "Menu d'édition...",
    "context_menu_side_panel_pages": "Menu des pages...",
    "context_menu_side_panel_content_tree": "Menu des contenus...",
    "context_menu_side_panel_content_item": "Menu des contenus...",
    "context_menu_side_panel_file_tree": "Menu des fichiers...",
    "context_menu_side_panel_file_item": "Menu des fichiers...",
    "context_menu_side_panel_search": "Menu de recherche...",
    "context_menu_side_panel_taxonomy": "Menu des catégories...",
    "context_menu_admin_user_name": "Menu utilisateur...",
    "context_menu_dashboard_user_name": "Menu utilisateur...",
    "context_menu_admin_mode_view": "Changer de mode...",
    "context_menu_dashboard_mode_view": "Changer de mode",
    "off": "Off",
    "on": "On",
    "done": "Fermer",
    "cancel": "Annuler",
    "year_picker": "Sélecteur Mois / Année",
    "ascending": "Ascendant :",
    "descending": "Descendant :",
    "home": "Accueil",
    "tooltip_more_options": "Plus d'options",
    "tooltip_refresh_page": "Actualiser",
    "tooltip_preview": "Aperçu",
    "tooltip_publish": "Options de publication",
    "infobar_view_workflow_dashboard": "Ouvrir",
    "infobar_view_background_jobs": "Ouvrir",
    "infobar_no_background_jobs": "Aucun job en cours d'exécution",
    "infobar_toggle_on": "Masquer",
    "infobar_toggle_off": "Afficher",
    "visibility_publication": "Publication",
    "visibility_visibility": "Visibilité",
    "visibility_no_conditions": "Aucune conditions.",
    "visibility_conditions": "Conditions",
    "visibility_edit_condition": "Editer condition",
    "visibility_new_condition": "Nouvelle Condition",
    "confirm_delete": "Supprimer selection ?",
    "confirm_delete_completed": "Supprimer tout ?",
    "history": "Historique",
    "deactivated": "Désactivé",
    "activated": "Activé",
    "edit_engine": "Modifier",
    "edit_engine_create": "Créer",
    "channels_button": "Vue mobile",
    "tooltip_new_category": "Nouvelle catégorie",
    "tooltip_new_folder": "Nouveau dossier",
    "tooltip_new_content_folder": "Nouveau dossier de contenu",
    "tooltip_new_portlet_folder": "Nouveau dossier de portlet",
    "tooltip_upload": "Télécharger",
    "tooltip_new_content": "Créer un nouveau contenu",
    "tooltip_new_portlet": "Créer un nouveau portlet",
    "tooltip_new_page": "Créer une nouvelle page",
    "tooltip_toggle_hidden_elements": "Basculer les éléments cachés",
    "app_documentation": "Documentation",
    "app_portlet_manager": "Portlets",
    "app_categories": "Catégories",
    "app_repository": "Explorateur de contenu",
    "app_site_manager": "Sites",
    "app_content_manager": "Contenus",
    "app_file_manager": "Documents",
    "app_admininstration": "Administration",
    "app_studio": "Studio",
    "app_contribute": "Contribution",
    "app_edit_mode": "Page Composer",
    "app_dashboard": "Mon Dashboard",
    "timepicker": "Heure :",
    "searchLoading": "Chargement...",
    "conflict": "Conflit",
    "deleted": "Supprimé",
    "livemodified": "Live Modifié",
    "liveonly": "Live uniquement",
    "locked": "Verrouillé",
    "mandatorylanguageunpublishable": "Erreur de publication",
    "mandatorylanguagevalid": "Erreur de publication",
    "markedfordeletion": "Marqué pour suppression",
    "modified": "Modifié",
    "multipleWF": "???",
    "notpublished": "Non publié",
    "oneWF": "???",
    "published": "Publié",
    "unpublished": "Non publié",
    "waiting": "En attente",
    "workinprogress": "Travail en cours",
    "page_composer": "Page Composer"
)
