<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="SMB-VFSStoreProvider" class="org.jahia.services.content.impl.vfs.VFSContentStoreProvider"  parent="AbstractJCRStoreProvider">
        <property name="key" value="smb"/>
        <property name="root" value="smb://10.8.37.2/babylon"/>
        <property name="rmibind" value="vfs"/>
        <property name="mountPoint" value="/babylon"/>
    </bean>

</beans>
