html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}

img,body,html{border:0;}

/******************************************************************************
* Body and GWT .x-border-layout-ct BG
******************************************************************************/
.gwt-body-edit,
body {
	background-color:#f0eee4;
}
body {
	width:100%;
	background-color:#f0eee4;
	font-size:80%;
	color:#36393d;
	font-family: Arial, Helvetica, sans-serif;
	line-height:160%;
	overflow-y : scroll;
}
#bodywrapper {
}
/******************************************************************************
* Utils
******************************************************************************/
.collapsible {
	display:none;
}
#bodywrapper .clear 	{
	clear:both;
}
#bodywrapper .clearitem 	{
	clear:both;
}

#bodywrapper br.clear {
	clear:both;
	font-family: Arial, Helvetica, sans-serif;
	line-height:0px;	/* no height ! */
	font-size:0px;
}
#bodywrapper .hide, #bodywrapper .hidden {
	display:none;
}

#bodywrapper .floatright {
	float:right;
	margin: 5px;
}
#bodywrapper .floatleft {
	float:left;
	margin: 5px;
}

#bodywrapper .leftside{
	float:left
}
#bodywrapper .rightside{
	float: right
}
#bodywrapper .clearMaringPadding{
	padding:0;
	margin:0;
}
/******************************************************************************
*  topheader
******************************************************************************/
#bodywrapper #topheader{
	position:relative;
	z-index:900;
	width:960px;
	margin: 0 auto ;
}
/******************************************************************************
*  Languages
******************************************************************************/
#bodywrapper div#languages {
	float:right;
	display:inline;
	padding:10px;
}

#bodywrapper #languages ul  {
	list-style: none;
	float:left;
	display:inline;
	margin:0;
	font-size:85%;
	line-height:normal;
}
#bodywrapper #languages li {
	display:inline;
	padding:0 5px;
	background: none;
}
#bodywrapper #languages li.selected {
	color:#900;
	text-decoration:underline
}
#bodywrapper #languages a,
#bodywrapper #languages a:link,
#bodywrapper #languages a:visited {
	color:#333;
	text-decoration:none;
	background:none;
}
#bodywrapper #languages a:hover,
#bodywrapper #languages a:active {
	color:#900;
	text-decoration:underline;
	background:none;
}
/******************************************************************************
* header-part1
******************************************************************************/
#bodywrapper div#headerPart1{
	position:relative;
	width: 940px;
}

/******************************************************************************
*  page
******************************************************************************/
#bodywrapper #page {
	padding:10px;
	width:960px;
	background-color:#fff;
	margin: 10px auto 10px auto ;
}
/******************************************************************************
*  bottomheader
******************************************************************************/
/*Navigation N1*/
#bodywrapper div #navigationN1{
	clear:both;
	background:#dad9d8 url(img/navigationN1-top.png) no-repeat top left;
	margin: 0;
	padding:0 ;
	width:960px
}
#bodywrapper #navigationN1 ul {
	clear:both;
	list-style-type:none;
	overflow:hidden;
	background:transparent url(img/navigationN1-bottom.png) no-repeat bottom left;
	margin: 0;
	padding:0 ;
	width:960px
}
#bodywrapper #navigationN1 li {
	display:inline;
	float:left;
	margin:0;
	padding:0;
}

#bodywrapper #navigationN1 li a {
	background:transparent url(img/navigationN1-separator.png) no-repeat 100% 50% ;
	color:#333;
	display:inline;
	float:left;
	padding:6px 15px;
	text-decoration:none;
	font-size:1.1em;
	font-weight:bold;
	text-transform:uppercase;
	white-space:nowrap
}
#bodywrapper #navigationN1 li.lastInLevel a {
	background:none;
}
#bodywrapper #navigationN1 li a:hover,
#bodywrapper #navigationN1 li.selected a,
#bodywrapper #navigationN1 li.selected a:link,
#bodywrapper #navigationN1 li.selected a:visited,
#bodywrapper #navigationN1 li.selected a:hover,
#bodywrapper #navigationN1 li.selected a:active {
	color:#900;
}

/******************************************************************************
*  content
******************************************************************************/
#bodywrapper #content{
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	z-index:700;

}
/******************************************************************************
* footer
******************************************************************************/
#bodywrapper #footer{
	clear:both;
}
#bodywrapper #footer a,
#bodywrapper #footer a:link,
#bodywrapper #footer a:visited {
	color:#333;
	text-decoration:none;
	background:none;
}
#bodywrapper #footer a:hover,
#bodywrapper #footer a:active {
	color:#900;
	text-decoration:underline;
	background:none;
}
/******************************************************************************
*  footerPart1
******************************************************************************/
#bodywrapper #footerPart1{
	background-color:#EAEAEA;
	clear:both;
	color:#333333;
	font-size:85%;
	line-height:100%;
	overflow:hidden;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;

}
/******************************************************************************
*  footerPart2
******************************************************************************/
#bodywrapper #footerPart2{
	clear:both;
	text-align:left;
	font-size:85%;
	line-height:120%;
	color:#666;
	overflow:hidden;
	width:960px;
	padding-top:10px;
	padding-bottom:10px;
}
/******************************************************************************
*  footerPart3
******************************************************************************/
#bodywrapper #footerPart3{
	clear:both;
	text-align:left;
	font-size:85%;
	line-height:100%;
	color:#333;
	overflow:hidden;
	background-color:#eaeaea;
	width:960px;
	padding-top:10px;
	padding-bottom:10px;
}
#bodywrapper #footerPart3 p {
	text-transform:capitalize;
	padding:0.2em 0 0.2em 0;
}
#bodywrapper #footerPart3 p.footerText {
	font-style:italic;
	padding:0.2em 0 2em 0;
	color:#dad0c7
}
#bodywrapper #footerPart3 a,
#bodywrapper #footerPart3 a:link,
#bodywrapper #footerPart3 a:visited {
	color:#333;
	text-decoration:none;
}
#bodywrapper #footerPart3 a:hover,
#bodywrapper #footerPart3 a:active {
	color:#333;
	text-decoration:underline;
}
/*bottomshortcuts*/

#bodywrapper div#bottomshortcuts{
	display:inline;
}

#bodywrapper #bottomshortcuts ul  {
	margin:0;
	padding:0;
	list-style:none;
}
#bodywrapper #bottomshortcuts li {
	display:inline;
	background: url(img/bottomshortcuts-bullet.png) no-repeat 100% 50%;
	padding-right:10px;
	margin-right:10px;
}
#bodywrapper #bottomshortcuts .last {
	background:none;
	padding-right:0;
	margin-right:0;
}
/******************************************************************************
*  General
******************************************************************************/
#bodywrapper a,
#bodywrapper a:link,
#bodywrapper a:visited {
	color:#900;
	text-decoration:underline;
}
#bodywrapper a:hover,
#bodywrapper a:active {
	color:#900;
	text-decoration:none;
}
#bodywrapper p{
	margin:0.5em 0;
}
#bodywrapper ul  {
	margin:1em 0 1em 2em;
	padding:0;
	list-style-position:outside;
}

#bodywrapper li  {
	margin:0;
	padding:0;
}
#bodywrapper ol  {
	margin:1em 0 1em 2em;
	padding:0;
	list-style-position:outside;
}

#bodywrapper ol li {
	margin:0;
	padding:0;
	background: none;
	list-style: decimal
}
#bodywrapper dt {
	font-weight:bold;
	color:#900
}
#bodywrapper dd {
	padding:0 0 0 0.5em;
}
#bodywrapper h1 {
	color:#333;
	font-weight:normal;
	font-size:2.2em;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
#bodywrapper h2 {
	color:#900;
	font-weight:normal;
	font-size:2em;
	margin:0 0 0.5em 0 ;
	padding:0;
}

#bodywrapper h3 {
	color:#333;
	font-size:1.4em;
	font-weight:bold;
	margin:0 0 0.5em 0 ;
	padding:0;
}

#bodywrapper h4 {
	font-size:1.2em;
	color:#333;
	font-weight:bold;
	margin:0 0 0.5em 0 ;
	padding:0 0 5px 0;
	border-bottom:1px dotted #ccc
}

#bodywrapper h5 {
	font-size:1em;
	font-weight:bold;
	color:#333;
	margin:0;
	padding:0;

}

#bodywrapper fieldset {
	padding:0.5em;
	border:1px solid #ccc;
	margin:0.5em 0;
}
#bodywrapper legend {
	font-size:1em;
	color:#333;
	padding:0 0.5em;
	background:#fff url(img/contactformlegend.png) repeat-x bottom left;
	border:1px solid #ccc;
	display:inline;
	color:#333;
	font-weight:bold;
	text-transform:uppercase
}
#bodywrapper hr {
	height:1px;
	background-color:#ccc;
	color:#ccc;
	border: none;
	margin : 1em 0;
}
#bodywrapper blockquote {
	background:#eaeaea url(img/blockquote.png) no-repeat top left;
	border:1px solid #ccc;
	font-style:italic;
	margin-bottom:10px;
	margin-top:10px;
	padding:20px;
}

#bodywrapper div.intro{
	color:#333;
	line-height:1.6em;
	font-size:1.4em;
	text-align:justify;
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #ccc;
	padding:0.5em 0.5em;
	margin : 1em 0;
}
#bodywrapper div.intro p{
	padding:0;
	margin : 0;
}
#bodywrapper textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%
}
#bodywrapper input,
#bodywrapper select,
#bodywrapper textarea {
	background-color:transparent;
	background:#fff url(img/input_bg.png) repeat-x top left;
	border:1px solid #ccc;
	color:#666;
	padding:4px 5px;
}

#bodywrapper input.gobutton{
	background:none;
	border:none;
	margin:0;
		padding:0;
	vertical-align: bottom;
}
/******************************************************************************
*  Images
******************************************************************************/
#bodywrapper .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}
#bodywrapper .imagefloatleft {
	float:left;
	margin-bottom:20px;
	padding-right:20px;
}
#bodywrapper .imagefloatright {
	float:right;
	margin-bottom:20px;
	padding-left:20px;
}

#bodywrapper .itemImage {
	background-color:#F4F4F4;
	border:1px solid #CCC;
	position:relative;
	padding:1px;
	margin-bottom:10px;
}
#bodywrapper .imagefloatleft .itemImage  {
	margin-bottom:0px;
}
#bodywrapper .imagefloatright .itemImage  {
	margin-bottom:0px;
}
#bodywrapper div.itemImageRight {
	float:right;
}
#bodywrapper div.itemImageLeft {
	float:left;
}
#bodywrapper .itemImage img {
	background-color:#e1e1e1;
	padding:9px;
}
#bodywrapper .itemImagewhite img{
	background-color:#fff;
}
/******************************************************************************
* Generic
******************************************************************************/
#bodywrapper .divButton{
	text-align:center;
	margin:0 0 10px 0;
}
#bodywrapper .divButtonRight{
	text-align:right;
}
#bodywrapper input.button, #bodywrapper button {
	margin-right:0.5em;
}

#bodywrapper .button,  #bodywrapper button{
	background:#fff url(img/bg-button.png) repeat-x bottom left;
	border:1px solid #333;
	color:#333;
	text-transform:uppercase;
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	text-align:center;
	font-size:80%;
	padding:6px 15px 4px 15px;
}
#bodywrapper .button:hover, #bodywrapper button:hover {
	cursor: pointer;
	background:#fff url(img/bg-button-on.png) repeat-x top left;
	color:#900;
}
/******************************************************************************
* Title h3
******************************************************************************/
#bodywrapper h3.titleIcon {
	color:#333;
	padding:0 50px 5px 2px;
	position:relative;
}
#bodywrapper h3.titleIcon img {
	position:absolute;
	right:0;
	top:-5px;
}
/******************************************************************************
*  <A> Button
******************************************************************************/

#bodywrapper  a.aButton,
#bodywrapper  a.aButton:link,
#bodywrapper  a.aButton:visited {
	background: transparent url(img/button-right.png) no-repeat scroll top right;
	display: block;
	float: left;
	height: 24px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	margin-right: 6px;
	padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */
	text-decoration: none;
	color:#fff;
	margin-top: 5px;
}
#bodywrapper  a.aButton span {
	/* Background left image */
	background: transparent url(img/button-left.png) no-repeat;
	display: block;
	line-height: 12px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 6px 0 6px 18px;
}
#bodywrapper  a.aButton:hover span{
	text-decoration:underline;
}
#bodywrapper  a.aButtonRight,
#bodywrapper  a.aButtonRight:link,
#bodywrapper  a.aButtonRight:visited{
	float: right;
}
/******************************************************************************
*  <A> bottomanchor
******************************************************************************/
#bodywrapper div.bottomanchor {
	border-top:1px dotted #ccc;
	line-height:1.2em;
	padding:0.2em;
	margin: 1em 0;
	clear:both;
}
#bodywrapper .bottomanchor a,
#bodywrapper .bottomanchor a:link,
#bodywrapper .bottomanchor a:visited  {
	float:right;
	margin:0 ;
	font-size:80%;
	background: url(img/bottomanchor.png) no-repeat top right;
	padding-right:20px;
}
#bodywrapper .bottomanchor a:hover ,
#bodywrapper .bottomanchor a:active  {
	cursor: pointer;
	background: url(img/bottomanchor-on.png) no-repeat top right;
}
/******************************************************************************
*  Sort
******************************************************************************/
#bodywrapper .sort{
	text-align:right
}
/******************************************************************************
*  Thumbnails
******************************************************************************/
#bodywrapper div.thumbnail {
	float:left;
	margin-right:20px;
}
#bodywrapper div.thumbnailRight {
	float:right;
	margin-left:20px;
}
#bodywrapper div.thumbnail img {
	position:relative
}
/******************************************************************************
* Thumbnails  List
******************************************************************************/
#bodywrapper div.thumbnailList{
	margin-top:10px;
	margin-bottom:10px;
}
#bodywrapper div.thumbnailList a{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	border:1px solid #fff
}
#bodywrapper div.thumbnailList a:hover{
	border:1px solid #000
}
/******************************************************************************
* breadcrumb
******************************************************************************/

#bodywrapper ul.breadcrumb  {
	font-size:90%;
	margin:1em 0;
	padding:0;
	list-style:none;
	color:#999;
}
#bodywrapper ul.breadcrumb li {
	display:inline;
	margin:0;
	padding:0;
	background: none;
	margin: 0.4em ;
}
#bodywrapper ul.breadcrumb a,
#bodywrapper ul.breadcrumb a:link,
#bodywrapper ul.breadcrumb a:visited
{
	padding:0 1em 0 0;
	margin:0;
	background: url(img/breadcrumb-separator.png) no-repeat 100% 50% ;
	color:#999;
	text-decoration:underline;
}
#bodywrapper ul.breadcrumb a:hover,
#bodywrapper ul.breadcrumb a:active {
	color:#900;
	text-decoration:underline;
}
#bodywrapper pre {
	background-color:#EAEAEA;
	border-left:4px solid #CCCCCC;
	font-family:Courier,"Courier New",monospace;
	font-size:100%;
	overflow:auto;
	margin-bottom:15px;
	margin-top:15px;
	padding:20px;
	line-height:100%
}
/******************************************************************************
* navigationN2
******************************************************************************/
#bodywrapper div #navigationN2 {
	border-top:5px solid #ddd3ca;
	margin-bottom:10px;
}

#bodywrapper #navigationN2 ul{
	margin:0;
	padding:0;
	list-style: none;
	background-color:#fff;

}
#bodywrapper #navigationN2 li{
	margin:0;
	padding:0;
	background: none;
	line-height:2.2em;
	list-style:none
}
#bodywrapper #navigationN2 li li{
	margin:0;
	padding:0;
	border-bottom:none;
}
#bodywrapper #navigationN2 a,
#bodywrapper #navigationN2 a:link,
#bodywrapper #navigationN2 a:visited {
	display: block;
	text-decoration: none;
	height:1%;
	background: none;
	color:#333;
}
#bodywrapper #navigationN2 a:hover,
#bodywrapper #navigationN2 a:active{
	background:none;
	color:#900;
}

#bodywrapper #navigationN2 .level_1 a,
#bodywrapper #navigationN2 .level_1 a:link,
#bodywrapper #navigationN2 .level_1 a:visited {
	padding:0 2px 0 20px;
	background: url(img/bg-navigationN2-L1.png) no-repeat 10px 50%;
	border-bottom:1px solid #ccc;
	margin:1px 0;
}
#bodywrapper #navigationN2 .level_1 a.inpath,
#bodywrapper #navigationN2 .level_1 a.inpath:link ,
#bodywrapper #navigationN2 .level_1 a.inpath:visited ,
#bodywrapper #navigationN2 .level_1 a.inpath:hover ,
#bodywrapper #navigationN2 .level_1 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L1-on.png) no-repeat 6px 50%;
}

#bodywrapper #navigationN2 .level_1 a:hover,
#bodywrapper #navigationN2 .level_1 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L1-selected.png) no-repeat 10px 50%;
	background-color:#ddd3ca;
}
#bodywrapper #navigationN2 .level_1 a.selected,
#bodywrapper #navigationN2 .level_1 a.selected:link ,
#bodywrapper #navigationN2 .level_1 a.selected:visited ,
#bodywrapper #navigationN2 .level_1 a.selected:hover,
#bodywrapper #navigationN2 .level_1 a.selected:active {
	background: url(img/bg-navigationN2-L1-selected.png) no-repeat 10px 50%;
	color:#c03;
}

#bodywrapper #navigationN2 .level_2 a,
#bodywrapper #navigationN2 .level_2 a:link,
#bodywrapper #navigationN2 .level_2 a:visited {
	padding:0 2px 0 40px;
	background: url(img/bg-navigationN2-L2.png) no-repeat 30px 50% ;
}
#bodywrapper #navigationN2 .level_2 a.inpath,
#bodywrapper #navigationN2 .level_2 a.inpath:link ,
#bodywrapper #navigationN2 .level_2 a.inpath:visited ,
#bodywrapper #navigationN2 .level_2 a.inpath:hover ,
#bodywrapper #navigationN2 .level_2 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L2-on.png) no-repeat 26px 50% ;
}
#bodywrapper #navigationN2 .level_2 a:hover,
#bodywrapper #navigationN2 .level_2 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L2-selected.png) no-repeat 30px 50% ;
	background-color:#ddd3ca;
}

#bodywrapper #navigationN2 .level_2 a.selected,
#bodywrapper #navigationN2 .level_2 a.selected:link ,
#bodywrapper #navigationN2 .level_2 a.selected:visited ,
#bodywrapper #navigationN2 .level_2 a.selected:hover,
#bodywrapper #navigationN2 .level_2 a.selected:active {
	background: url(img/bg-navigationN2-L2-selected.png) no-repeat 30px 50% ;
	color:#c03;
}
#bodywrapper #navigationN2 .level_3 a,
#bodywrapper #navigationN2 .level_3 a:link,
#bodywrapper #navigationN2 .level_3 a:visited {
	padding:0 2px 0 60px;
	background: url(img/bg-navigationN2-L3.png) no-repeat 50px 50% ;

}
#bodywrapper #navigationN2 .level_3 a.inpath,
#bodywrapper #navigationN2 .level_3 a.inpath:link ,
#bodywrapper #navigationN2 .level_3 a.inpath:visited ,
#bodywrapper #navigationN2 .level_3 a.inpath:hover ,
#bodywrapper #navigationN2 .level_3 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L3-on.png) no-repeat 46px 50% ;
}
#bodywrapper #navigationN2 .level_3 a:hover,
#bodywrapper #navigationN2 .level_3 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L3-selected.png) no-repeat 50px 50% ;
	background-color:#ddd3ca;
}
#bodywrapper #navigationN2 .level_3 a.selected,
#bodywrapper #navigationN2 .level_3 a.selected:link ,
#bodywrapper #navigationN2 .level_3 a.selected:visited ,
#bodywrapper #navigationN2 .level_3 a.selected:hover,
#bodywrapper #navigationN2 .level_3 a.selected:active {
	background: url(img/bg-navigationN2-L3-selected.png) no-repeat 50px 50% ;
	color:#c03;
}
#bodywrapper #navigationN2 .level_4 a,
#bodywrapper #navigationN2 .level_4 a:link,
#bodywrapper #navigationN2 .level_4 a:visited {
	padding:0 2px 0 80px;
	background: url(img/bg-navigationN2-L4.png) no-repeat 70px 50%;

}
#bodywrapper #navigationN2 .level_4 a.inpath,
#bodywrapper #navigationN2 .level_4 a.inpath:link ,
#bodywrapper #navigationN2 .level_4 a.inpath:visited ,
#bodywrapper #navigationN2 .level_4 a.inpath:hover,
#bodywrapper #navigationN2 .level_4 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L4-on.png) no-repeat 66px 50% ;
}
#bodywrapper #navigationN2 .level_4 a:hover,
#bodywrapper #navigationN2 .level_4 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L4-selected.png) no-repeat 70px 50% ;
	background-color:#ddd3ca;
}
#bodywrapper #navigationN2 .level_4 a.selected,
#bodywrapper #navigationN2 .level_4 a.selected:link ,
#bodywrapper #navigationN2 .level_4 a.selected:visited ,
#bodywrapper #navigationN2 .level_4 a.selected:hover,
#bodywrapper #navigationN2 .level_4 a.selected:active {
	background: url(img/bg-navigationN2-L4-selected.png) no-repeat 70px 50% ;
	color:#c03;
}
#bodywrapper #navigationN2 .level_5 a,
#bodywrapper #navigationN2 .level_5 a:link,
#bodywrapper #navigationN2 .level_5 a:visited {
	padding:0 2px 0 100px ;
	background: url(img/bg-navigationN2-L5.png) no-repeat 90px 50% ;
}
#bodywrapper #navigationN2 .level_5 a.inpath,
#bodywrapper #navigationN2 .level_5 a.inpath:link ,
#bodywrapper #navigationN2 .level_5 a.inpath:visited ,
#bodywrapper #navigationN2 .level_5 a.inpath:hover ,
#bodywrapper #navigationN2 .level_5 a.inpath:active{
	font-weight:bold;
	background: #eaeaea url(img/bg-navigationN2-L5-on.png) no-repeat 86px 50% ;
}

#bodywrapper #navigationN2 .level_5 a:hover,
#bodywrapper #navigationN2 .level_5 a:active{
	color:#900;
	background: url(img/bg-navigationN2-L5-selected.png) no-repeat 90px 50% ;
	background-color:#ddd3ca;
}
#bodywrapper #navigationN2 .level_5 a.selected,
#bodywrapper #navigationN2 .level_5 a.selected:link ,
#bodywrapper #navigationN2 .level_5 a.selected:visited ,
#bodywrapper #navigationN2 .level_5 a.selected:hover,
#bodywrapper #navigationN2 .level_5 a.selected:active {
	background: url(img/bg-navigationN2-L5-selected.png) no-repeat 90px 50% ;
	color:#c03;
}

/******************************************************************************
* more info
******************************************************************************/
#bodywrapper div.more {
	float:right;
	font-size:11px;
	font-weight:bold;
	background: transparent url(img/more.png) no-repeat 0% 50% ;
	padding:0 0 0 12px;
	margin-bottom:0;
	display:block;
}
#bodywrapper .more span {
}
#bodywrapper a.returnLink {
    background: transparent url( img/returnlink.png ) no-repeat 0% 50%;
    padding-left: 16px;
}
/******************************************************************************
*  News List newsList3
******************************************************************************/
#bodywrapper ul.newsList3 {
	margin:0;
	padding:0;
}
#bodywrapper .newsList3 li{
	list-style-type:none;
	margin:0;
	padding:0;
	font-weight:bold;
	border-bottom:1px solid #eaeaea;
	background: url(img/newslist3.png) no-repeat 0.5em 0.2em;
	padding:0.2em;
	padding-left:30px;
}
#bodywrapper .newsList3 li:hover{
background-color:#eaeaea
}

#bodywrapper .newsList3 li.lastnews  {
	border:none;
}

#bodywrapper .newsList3 a,
#bodywrapper .newsList3 a:link,
#bodywrapper .newsList3 a:visited {
	color:#333;
	text-decoration:none;
}
#bodywrapper .newsList3 a:hover,
#bodywrapper .newsList3 a:active {
	color:#900;
	text-decoration:underline;
}
/******************************************************************************
*  Pagination
******************************************************************************/
#bodywrapper div.pagination {
	height:1%;
	overflow:hidden;
	text-transform:uppercase;
	border-top : 1px solid #ccc;
	background-color:#eaeaea;
	padding:0.5em 0.5em;
	margin:0.5em 0;
}
#bodywrapper .paginationPosition {
	float:left;
	font-size:0.9em;
	font-weight:bold;
	color:#333;
	padding:0.5em;
}
#bodywrapper .paginationNavigation {
	float:right;
	font-size:0.9em;

}
#bodywrapper .paginationNavigation a,
#bodywrapper .paginationNavigation a:link,
#bodywrapper .paginationNavigation a:visited,
#bodywrapper .paginationNavigation a:hover,
#bodywrapper .paginationNavigation a:active {
	text-decoration:none;
	padding:0.2em 0.5em;
	cursor:pointer;
}

#bodywrapper .paginationNavigation a:hover {
	background:#900;
	color:#fff;
}
#bodywrapper .paginationNavigation .currentPage{
	background:#900;
	color:#fff;
	padding:0.2em 0.5em;
}


#bodywrapper .paginationNavigation span {
	text-decoration:none;
	color:#666;
	padding:0;
}
/******************************************************************************
*  AlphabeticalMenu
******************************************************************************/
#bodywrapper div.alphabeticalMenu {
	height:1%;
	overflow:hidden;
	text-transform:uppercase;
	border-top : 1px solid #ccc;
	background-color:#eaeaea;
	padding:0.5em 0.5em;
	margin:0.5em 0;
}
#bodywrapper .alphabeticalLabel {
	float:left;
	font-size:0.9em;
	font-weight:bold;
	color:#333;
}
#bodywrapper .alphabeticalNavigation {
	float:right;
	font-size:0.9em;

}
#bodywrapper .alphabeticalNavigation a:link,
#bodywrapper .alphabeticalNavigation a:visited,
#bodywrapper .alphabeticalNavigation a:hover,
#bodywrapper .alphabeticalNavigation a:active {
	text-decoration:none;
	padding:0.2em 0.5em;
}

#bodywrapper .alphabeticalNavigation a:hover {
	background:#900;
	color:#fff;
}
#bodywrapper .alphabeticalNavigation .current{
	background:#900;
	color:#fff;
	padding:0.2em 0.5em;
}


#bodywrapper .alphabeticalNavigation span {
	text-decoration:none;
	color:#666;
	padding:0;
}
/******************************************************************************
*  formSearchTop
******************************************************************************/
#bodywrapper #formSearchTop {
	margin:0;
	margin-bottom:10px;
	padding:0;
	display: block;
}
#bodywrapper #formSearchTop label{
	font-weight: normal;
}
#bodywrapper #formSearchTopA label{
	display:none
}

#bodywrapper #formSearchTopA {
	background:transparent url(img/bg-formsearchtop.png) no-repeat 0 0;
	margin:0;
	padding:0;
	width:280px;
	height: 36px;
	display: block;
}
#bodywrapper #formSearchTop:hover{
	background:transparent url(img/bg-formsearchtop.png) no-repeat 0px -36px;

}
#bodywrapper #formSearchTop p{
	margin:0;
	padding:0;
}

#bodywrapper #formSearchTop .text{
	margin:10px 0 0 20px;
	background-color: transparent;
	border:none;
	color:#666;
	height:15px;
	width:232px;
}

#bodywrapper #formSearchTop .gobutton{
	margin-left:2px;
	vertical-align: bottom;
}

#bodywrapper #formSearchTop p.loginFormTopSection{
	margin:0 1.5em;
	padding:0;
	clear:both;
	font-size:90%;
	line-height:normal;
}
/******************************************************************************
*  links List
******************************************************************************/
#bodywrapper ul.links {
	margin:0;
	padding:0;
}
#bodywrapper .links li{
	list-style-type:none;
	margin:0;
	padding:0;
	font-weight:bold;
	border-bottom:1px solid #eaeaea
}
#bodywrapper .links li:hover{
	background-color:#eaeaea
}
#bodywrapper li.link  {
	background: url(img/link.png) no-repeat 0.5em 0.6em;
	padding:0.5em;
	padding-left:30px;
}
#bodywrapper li.externallink  {
	background: url(img/externallink.png) no-repeat 0.5em 0.5em;
	padding:0.5em;
	padding-left:30px;
}
#bodywrapper .links li.lastlink  {
	border-bottom:none
}
#bodywrapper .links a,
#bodywrapper .links a:link,
#bodywrapper .links a:visited {
	text-decoration:none;
}
#bodywrapper .links a:hover,
#bodywrapper .links a:active {
	text-decoration:underline;
}



/******************************************************************************
*  Summary
******************************************************************************/
#bodywrapper ul.summary, #bodywrapper .summary {
	margin:10px 0;
	line-height:130%;
	padding: 10px;
	background-color:#eaeaea;
	border:1px solid #ccc;
	list-style:none;
}
#bodywrapper .summary a,
#bodywrapper .summary a:link,
#bodywrapper .summary a:visited {
	text-decoration:none;
}
#bodywrapper .summary a:hover,
#bodywrapper .summary a:active {
	text-decoration:underline;
}

#bodywrapper .summary ul {
	margin:0;
	padding:0 0 0 2em;
	list-style:none;
}
#bodywrapper .summary li {
	padding:0;
	margin-bottom:10px
}

/******************************************************************************
*  Tables
******************************************************************************/
#bodywrapper .table th img{
	vertical-align: middle
}
#bodywrapper .table,
#bodywrapper .table caption
{
    margin: auto;
	line-height:1.9em;

}

#bodywrapper .table
{
    border-collapse:collapse;
	margin-bottom:1em;
	font-size:0.85em;
	border:none;
}

#bodywrapper .table caption
{
	font-weight:normal;
	font-size:2em;
	margin:0 ;
	padding:0;
	
}
#bodywrapper .table, #bodywrapper .table th, #bodywrapper .table td
{
border: 1px solid #ccc;
}
#bodywrapper .table th {
    color: #333;
	white-space:nowrap;
	background-color:#CCCCCC;
	padding:5px;
}
#bodywrapper .table td
{
	background-color:#fff;
	padding:5px;
}
#bodywrapper .table tr:hover{
	background-color:#f0f0f0
}
#bodywrapper .table .odd td{background-color:#eaeaea}
#bodywrapper .table .even td{ background-color:#fff}
#bodywrapper .col1{}
#bodywrapper .col2{}
#bodywrapper .col3{}
#bodywrapper .col4{}

#bodywrapper .table td.center,
#bodywrapper .table th.center
{
	text-align:center;
}
/******************************************************************************
*  Visibility
******************************************************************************/
#bodywrapper .visibility
{
	display:block
}
#bodywrapper span.visibility
{
	font-weight:bold;
	font-size:0.85em
}
/******************************************************************************
*  Preferences Form
******************************************************************************/
#bodywrapper .preferencesForm
{
margin:10px 0;
}
#bodywrapper .preferencesForm fieldset
{
border:none
}
#bodywrapper .preferencesForm legend
{
display:none
}
/******************************************************************************
*  idTabs
******************************************************************************/
#bodywrapper div.idTabsContainer{
	margin:0 ;
}
#bodywrapper  ul.idTabs {
	clear:both;
	list-style-type:none;
	overflow:hidden;
	background:transparent url(img/tab-bg.png) repeat-x bottom left;
	margin:0 0 10px 0;
	padding:0;

}
#bodywrapper .idTabs li {
	display:inline;
	float:left;
	margin:0;
	padding:0;
}
#bodywrapper .idTabs li.spacing{
	padding-left:20px;
}

#bodywrapper .idTabs li a {
	background:transparent url(img/tab-left.png) no-repeat scroll 0 0;
	color:#fff;
	display:inline;
	float:left;
	height:29px;
	line-height:29px;
	padding-left:15px;
	text-decoration:none;
	margin-right:2px
}
#bodywrapper .idTabs li a.selected,
#bodywrapper .idTabs li a:hover,
#bodywrapper .idTabs li a.selected {
	background-position:0 -29px;
	color:#fff;
	text-decoration:none;
}


#bodywrapper .idTabs li a span {
	background:transparent url(img/tab-right.png) no-repeat scroll 100% 0;
	color:#cccccc;
	cursor:pointer;
	display:inline;
	float:left;
	height:29px;
	line-height:29px;
	padding-right:15px;
	text-decoration:none;

}
#bodywrapper .idTabs li a.selected span,
#bodywrapper .idTabs li a:hover span,
#bodywrapper .idTabs li a.idTabs span {
	background-position:100% -29px;
	color:#fff;
	text-decoration:none;
}
/******************************************************************************
*  menu-tabs-home
******************************************************************************/
#bodywrapper div.idTabs-home{
	margin-top:1em;
	margin-bottom:1em
}

 /******************************************************************************
*  video
******************************************************************************/
#bodywrapper div.clip{
	margin-bottom: 0.5em ;
}
/******************************************************************************
*  Code
******************************************************************************/
#bodywrapper code,
#bodywrapper .code{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	color: #333;
	background-color:#eaeaea;
	padding:0 0.5em;
}
/******************************************************************************
*  highlight
******************************************************************************/
#bodywrapper .highlight{
	background-color:#ffff99;
	padding-right:0.5em;
	padding-left:0.5em;
}
/******************************************************************************
*  Home shortcuts
******************************************************************************/
#bodywrapper ul.homeShortcuts {
	margin:0.5em 0;
	padding:0;
	list-style:none;
}
#bodywrapper .homeShortcuts li{
	margin:0;
	padding:0.5em 0;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	list-style:none;
}

#bodywrapper .homeShortcuts li:hover{
	background-color:#eaeaea;
	border-bottom:1px solid #ccc;
}
#bodywrapper li.codebase {
	background:url(../img-text/codebase.png) no-repeat 0px 2px;
	padding-left:26px;
}
#bodywrapper li.faq {
	background:url(../img-text/faq.png) no-repeat 0px 2px;
	padding-left:26px;
}
#bodywrapper li.hotFixes {
	background:url(../img-text/hotFixes.png) no-repeat 0px 2px;
	padding-left:26px;
}
#bodywrapper li.forum {
	background:url(../img-text/forum.png) no-repeat 0px 2px;
	padding-left:26px;
}
#bodywrapper li.architecture {
	background:url(../img-text/architecture.png) no-repeat 0px 2px;
	padding-left:26px;
}

/******************************************************************************
*  Preferences
******************************************************************************/
#bodywrapper div.preferences{
	border: 1px solid #ccc;
	background-color:#eaeaea;
	padding:5px;
	font-size:90%;
	line-height:100%;
	margin:1em 0;
}
#bodywrapper .preferences p{
	margin:0;
	padding:0
}
#bodywrapper .preferences h2{
	margin:0;
	padding:0;
	font-size:1.2em;
	font-weight:bold;
}
#bodywrapper .preferences .preference-label{
	font-weight:bold;
}
/******************************************************************************
*  Back
******************************************************************************/
#bodywrapper .back{
	float:right;
	font-size:11px;
	font-weight:bold;
	padding:0 0 0 18px;
	margin-bottom:0;
	margin-left:0.5em;
	display:block;
}

/******************************************************************************
* Form
******************************************************************************/
#bodywrapper .Form  p{
	clear:both;
	margin:0.5em 0;
	padding:0px
}
#bodywrapper .Form { 
	margin:1em 0 0 0;
	overflow:hidden;
}
#bodywrapper .formMarginLeft{ 
	margin:0 0 0 25%;
	padding:0 1em 0 2.3em;
}
#bodywrapper .Form label.left {
	float:left; 
	width:25%;
	margin:0 1em 0 1em;
	padding:2px;
	text-align:right;
}

/******************************************************************************
*  error
******************************************************************************/
#bodywrapper .error{
	padding:10px;
	margin:10px;
	background-color:#ffebe8;
	border:1px solid #cc3300
}
