#bodywrapper .navigationN1-1  {
	float: left;
	width: 100%;

}
#bodywrapper .navigationN1-1 ul.level_1  {
	margin: 0; padding: 0;
	float: left;
	width: 100%;
	list-style: none;
	position: relative;
	font-size: 1em;
	background:#101010 url(navigationN1-1/topnav_stretch.gif) repeat-x;
	line-height:1.2em;
}
#bodywrapper .navigationN1-1 ul.level_1 li {
	float: left;
	margin: 0; padding: 0;
	border-right: 1px solid #555;
}
#bodywrapper .navigationN1-1 ul.level_1 li a {
	padding: 10px 15px;
	display: block;
	color: #f0f0f0;
	text-decoration: none;
}
#bodywrapper .navigationN1-1 ul.level_1 li.selected,
#bodywrapper .navigationN1-1 ul.level_1 li.inPath
 {background:#8ebde5 url(navigationN1-1/topnav_selected.gif) repeat-x; color:#333}
 
#bodywrapper .navigationN1-1 ul.level_1 li:hover
 {background:#1376c9 url(navigationN1-1/topnav_active.gif) repeat-x;}
 
#bodywrapper .navigationN1-1 ul.level_1 li div.box-inner {
	float: left;
	padding: 15px 0;
	position: absolute;
	left: 0; top:35px;
	display: none;
	width: 100%;
	background: #1376c9;
	color: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index:999;
}
#bodywrapper .navigationN1-1 ul.level_1 li:hover div.box-inner { display: block; }
#bodywrapper .navigationN1-1 ul.level_1 li div.box-inner a { display: inline; }
#bodywrapper .navigationN1-1 ul.level_1 li div.box-inner a:hover {text-decoration: underline;}
#bodywrapper .navigationN1-1 ul.level_2  {
	margin: 0; padding: 0;
	list-style: none;
}
#bodywrapper .navigationN1-1 ul.level_2 li {
	border-right: 1px solid #fff;
}
#bodywrapper .navigationN1-1 ul.level_2 li:hover,
#bodywrapper .navigationN1-1 ul.level_2 li.selected,
#bodywrapper .navigationN1-1 ul.level_2 li.inPath {background:none;background-color:transparent;}
#bodywrapper .navigationN1-1 ul.level_2 li.selected a{text-decoration: underline;}

