#JahiaGxtContentPickerWindow,
#JahiaGxtCustomContentPickerWindow,
#JahiaGxtCustomContentPicker,
#JahiaGxtCustomContentPicker > .x-component,
#contentpicker,
#contentmanager {
    // Reset global position of picker as whole page
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 10px !important;
    box-shadow: inset 10px 41px 0px #e5e3e3, inset 0px 42px 0px #b4b2b2, inset 10px 43px 5px rgba(38, 38, 38, 0.2);

    body.ext-safari & {
        top: 0 !important;
    }

    background: linear-gradient(to bottom, #dbdbdb 1%, #d5d5d5 100%);
    z-index: 1100 !important;

    .indigo-modal-mask {
        display: none;
    }

    body.ext-gecko & {
        top: 0 !important;
    }

    #pickerTitle {
        display: block;
        position: fixed;
        top: 30px;
        left: 30px;
        z-index: 999;
        font-family: "Raleway", sans-serif;
        font-size: 36px;
        color: _theme-color(primary, d);
        font-weight: 100;

        body[data-indigo-edit-engine="open"] & {
            display: none;
        }
    }

    // Previewing a file, so get rid of menus
    body[data-indigo-image-preview="open"] & {
        #JahiaGxtManagerToolbar {
            display: none;
        }
    }

    &[data-indigo-search-date="custom"] {

        #JahiaGxtManagerLeftTree #CRTsearchTabItem .x-panel-mc > .x-panel-body > .x-component:nth-child(2) fieldset {
            .x-form-item {
                // MODIFICATION / CREATION / PUBLICATION
                &:nth-child(4) {
                    display: inline-block !important;
                }

                // START DATE
                &:nth-child(5) {
                    display: inline-block;
                }

                // END DATE
                &:nth-child(6) {
                    display: inline-block;
                }
            }
        }
    }

    &[data-indigo-search-date="simple"] {

        #JahiaGxtManagerLeftTree #CRTsearchTabItem .x-panel-mc > .x-panel-body > .x-component:nth-child(2) fieldset {
            .x-form-item {

                // MODIFICATION / CREATION / PUBLICATION
                &:nth-child(4) {
                    left: 410px;
                    display: inline-block !important;
                }
            }
        }
    }

    // Multi select picker ...
    &.indigo-picker-multi-select {

        div#JahiaGxtManagerTobTable {
            height: calc(100% - 277px) !important;
        }

        #JahiaGxtManagerBottomTabs.indigo-collapsed + div#JahiaGxtManagerTobTable {
            height: calc(100% - 119px) !important;
        }
    }

    // Search panel is opened
    &.search-panel-opened {

        #pickerTitle {
            display: none;
        }

        box-shadow: inset 0px 41px 0px #F5F5F5, inset 0px 79px 0px #F5F5F5, inset 0px 80px 1px rgba(34, 34, 34, 0.33);

        .toggle-picker-files {
            display: none;
        }

        // Hide the search button
        #JahiaGxtManagerLeftTree__CRTsearchTabItem {
            display: none !important;
        }

        // Turn on the button to return to browse mode
        #JahiaGxtManagerLeftTree__CRTbrowseTabItem {
            display: block !important;
        }

        // Get rid of side panel
        #JahiaGxtManagerLeftTree {
            left: -$PICKER_SIDEPANEL_WIDTH !important;
            overflow: visible;
        }

        // MULTISELECT FILES
        #JahiaGxtManagerBottomTabs {
            width: 100% !important;
        }

        // TOOLBAR
        #JahiaGxtManagerTobTable .x-panel-tbar {
            top: 85px;
        }

        #JahiaGxtManagerToolbar {
            .action-bar-tool-item {
                // NEW FOLDER
                &.toolbar-item-newfolder {
                    display: none !important;
                }

                // UPLOAD FILE
                &.toolbar-item-upload {
                    display: none !important;
                }
            }
        }

        // RIGHT PANEL
        #JahiaGxtManagerTobTable {
            left: 0px !important;
            top: 94px !important;
            width: 100% !important;
            height: calc(100% - 147px) !important;

            body[indigo-picker-display="thumbsview"] &,
            body[indigo-picker-display="detailedview"] & {
                top: 79px !important;
            }
        }

        // PICKER TITLE
        .x-window-tl {
            display: none;
        }

        // SOURCE PANEL TRIGGER
        .x-tab-strip-spacer {
            display: none;
        }

        #JahiaGxtManagerToolbar {
            .toolbar-item-listview,
            .toolbar-item-thumbsview,
            .toolbar-item-detailedview {
                body[data-indigo-is-manager="true"]:not([data-indigo-sub-picker=open]) & {
                    display: none !important;
                }
            }

            .action-bar-tool-item {
                opacity: 0 !important;
                pointer-events: none;
            }
        }

        &.indigo-picker-multi-select {

            div#JahiaGxtManagerTobTable {
                height: calc(100% - 308px) !important;
            }

            #JahiaGxtManagerBottomTabs {
                &.indigo-collapsed {

                    .toggle-multiple-selection {
                        position: relative;
                        left: 148px;
                    }
                }
            }
        }
    }

    &[indigo-picker-panel="opened"] {

        #JahiaGxtManagerToolbar {
            left: calc(#{$PICKER_SIDEPANEL_WIDTH}) !important;
            width: calc(100% - #{$PICKER_SIDEPANEL_WIDTH}) !important;
        }
    }

    // Side Panel has been collapsed
    &.indigo-collapsed {

        #pickerTitle,
        .x-window-header-text {
            top: 6px !important;
            font-size: 22px !important;
            left: 13px !important;
            opacity: 1 !important;
        }

        // TOOLBAR
        #JahiaGxtManagerTobTable .x-panel-tbar {
            left: 275px;
        }

        // NEW FOLDER
        .toolbar-item-newfolder {
            left: 205px !important;
        }

        // UPLOAD FILE
        .toolbar-item-upload {
            left: 235px !important;
        }

        // MULTISELECT FILES
        #JahiaGxtManagerBottomTabs {
            width: 100% !important;
        }

        .x-window-tl {
            // display: none;
        }

        // LEFT PANEL
        #JahiaGxtManagerLeftTree {
            display: none;
        }

        // RIGHT PANEL
        #JahiaGxtManagerTobTable {
            left: 0px !important;
            width: 100% !important;
        }

        // TOGGLE BUTTON
        .toggle-picker-files {
            left: 0 !important;
            background-image: url(../images/icons/toggle-WE@X2.png);
        }
    }

    // Fix GWT problem
    .x-grid3-td-name,
    .x-grid3-td-displayName {
        pointer-events: none !important;
    }

    .x-grid3-td-primaryTypeLabel {
        pointer-events: none !important;
        width: 25% !important
    }


    // HEADER
    .x-window-tl {
        height: 76px;
        padding: 0 30px !important;
        z-index: 99999999;
        background: transparent !important;
        border: none !important;
        pointer-events: none;

        .x-window-tr {
            position: absolute;
            bottom: 10px;
        }

        // Full screen buttons - not in use
        .x-panel-toolbar {
            display: none;
        }

        // PICKER TYPE TITLE (ie Image Picker)
        .x-window-header-text {
            pointer-events: all;
            display: block;
            position: fixed;
            top: 30px;
            left: 30px;
            z-index: 99999;
            @include text(36px, _property($SIDE-PANEL-TITLE--COLOR, $PICKER), $FONT--WEIGHT---EXTRALIGHT, $FONT--FAMILY---RALEWAY);
            max-width: 252px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    // BODY WRAPPER
    .x-window-bwrap {
        height: calc(100% - 76px);
        width: 100% !important;
        overflow: visible;
        padding: 0 31px;
        background: transparent !important;
        border: none !important;
    }

    // HEIGHT FIXES
    .x-window-ml,
    .x-window-mr,
    .x-window-mc,
    .x-window-body,
    .x-window-body > div,
    .x-panel-bwrap,
    .x-panel-body,
    .x-panel-body > .x-view,
    #JahiaGxtManagerMain,
    .x-grid-panel,
    #images-view {
        height: 100% !important;
        width: 100% !important;
    }


        #JahiaGxtManagerTobTable {
            z-index: 9 !important;

            .x-panel-bbar {
                display: none;

                /* PAGINATION */
                width: calc(100% + 40px) !important;
                background: #45484a !important;
                box-shadow: inset 0px 2px 7px #353739 !important;
                left: -20px !important;
                padding-top: 10px;
                height: 40px !important;
                bottom: 79px;

                > .x-toolbar {
                    padding: 0 10px;
                    height: 100%;

                    &.x-item-disabled {
                        display: none;
                    }
                }

                .x-toolbar-left,
                .x-toolbar-right {
                    display: block;

                    table,
                    tbody,
                    tr,
                    td {
                        display: block;
                    }
                }

                .x-toolbar-right {
                    position: relative;
                    top: 6px;
                    display: none;
                }

                .x-toolbar-left {

                    width: 200px;
                    margin: 0 auto;

                    .x-toolbar-cell {
                        display: inline-block !important;
                        margin: 0 2px;
                        opacity: 0.8;
                        height: 22px;

                        > table {
                            height: 22px;

                            &.x-item-disabled {
                                pointer-events: none;
                                opacity: 0.2;
                            }
                        }

                        .my-paging-text {
                            line-height: 21px;
                            @include text(12px, _theme-color(secondary), $FONT--WEIGHT---EXTRALIGHT);
                        }

                        .gwt-TextBox {
                            @include text(12px, _theme-color(secondary), $FONT--WEIGHT---EXTRALIGHT);
                            background: _theme-color(primary, a); /* TO THEME */
                            padding: 3px;
                            border: none;
                        }

                        .x-btn-mc img {
                            display: none;
                        }

                        // First page
                        &:nth-child(1) {
                            float: left; // over ride the Actions Save float
                            width: 16px;

                            > table {
                                background: url($ICON--FIRST--WHITE) no-repeat center center / 14px 14px;
                                margin-left: 0px;

                                &:hover {
                                    opacity: 1;
                                    cursor: pointer;
                                }
                            }
                        }

                        // Previous page
                        &:nth-child(2) > table {
                            background: url($ICON--BACK--WHITE) no-repeat center center / 14px 14px;
                            margin-left: 5px;

                            &:hover {
                                opacity: 1;
                                cursor: pointer;
                            }
                        }

                        // Skip to page input
                        &:nth-child(5) > table {
                            &:hover {
                                opacity: 1;
                            }
                        }

                        // Next Page
                        &:nth-child(8) > table {
                            background: url($ICON--NEXT--WHITE) no-repeat center center / 14px 14px;
                            margin-right: 5px;

                            &:hover {
                                opacity: 1;
                                cursor: pointer;
                            }
                        }

                        // Last page
                        &:nth-child(9) > table {
                            background: url($ICON--LAST--WHITE) no-repeat center center / 14px 14px;
                            margin-right: 5px;

                            &:hover {
                                opacity: 1;
                                cursor: pointer;
                            }
                        }

                        // Refresh results
                        &:nth-child(11) > table {
                            background: url($ICON--REFRESH--SMALL_WHITE) no-repeat center center / 16px 12px;

                            &:hover {
                                opacity: 1;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }


}
