#JahiaGxtContentPickerWindow,
#JahiaGxtCustomContentPickerWindow,
#JahiaGxtCustomContentPicker,
#JahiaGxtCustomContentPicker > .x-component,
#contentpicker,
#contentmanager {
    // LEFT PANEL (contains browse / search)
    #JahiaGxtManagerLeftTree {
        height: 100% !important;
        width: $PICKER_SIDEPANEL_WIDTH !important;
        vertical-align: top;
        display: inline-block;
        position: fixed !important;
        margin-right: 20px;
        background: linear-gradient(to right bottom, whitesmoke 50%, #e5e4e4 100%);
        padding-top: 80px;
        box-shadow: 0px 2px 12px 0px rgba(58, 58, 58, 0.4);
        z-index: 99;

        // Fix GWT problem
        .x-grid3-td-name,
        .x-grid3-td-displayName {
            pointer-events: none !important;
            width: 100% !important;
            display: block;
        }

        // Clean up uneeded GWT stuff ...
        > .x-tab-panel-header {
            border: none;
            padding: 0;
            width: 100% !important;

            ul {
                border: none;
                padding: 0;
                margin: 0;

            }
        }

        // Clean up uneeded GWT stuff ...
        > .x-tab-panel-body {
            width: 100% !important;
            height: 100% !important;
            background: transparent;
        }

        // Hijack for triggering the faked drop down on source list
        .x-tab-strip-spacer {
            position: fixed;
            top: 80px;
            left: 28px;
            background: yellow;
            width: calc(#{$PICKER_SIDEPANEL_WIDTH} - 86px);
            height: 30px;
            opacity: 0;
            z-index: 9999;
        }

        body[data-INDIGO-PICKER-SEARCH="open"] & {
            left: -$PICKER_SIDEPANEL_WIDTH !important;
        }

        // MORE INFO "BUTTON"
        // More Options "button" ...
        .x-grid3-row .x-tree3-el {
            pointer-events: none;
            width: 100% !important;

            &::after {
                pointer-events: all;
                content: " ";
                text-indent: -50000px;
                background: url(_icon("moreOptions", "grey")) no-repeat center center;
                background-size: 10px 2px;
                width: 28px;
                height: 25px;
                position: absolute;
                right: -1px;
                top: 0;
                cursor: pointer;
                z-index: 99999999999;
                opacity: 0;
            }
        }

        // Show more options ( roll over )
        .x-grid3-row-over .x-tree3-el::after {
            opacity: 1;
        }

        // Set more options icon to selected
        .x-grid3-row-selected .x-tree3-el::after {
            background: url(_icon("moreOptions", "white")) no-repeat center center;
            background-size: 10px 2px;
        }

        // SEARCH BUTTON
        #JahiaGxtManagerLeftTree__CRTsearchTabItem {
            background: url(../images/icons/tabs-search-black@X2.png) no-repeat center center transparent; /* OPTIMISE URL ::: css/app/pickers/_left-panel.scss ::: 1 */
            width: 25px;
            height: 25px;
            position: fixed;
            top: 42px;
            left: 245px;
            display: block;
            background-size: 20px;
            background-color: _color("secondary", b);
            border-radius: 100%;

            /* DEV NOTE ::: QUICK N DIRTY */
            body[data-uilang="fr"] & {
                top: 43px;
            }

            a,
            img {
                display: none;
            }

            &:hover {
                cursor: pointer;
                background-color: _color("secondary", b);
            }
        }

        // BROWSE BUTTON (Displayed as an exit button when search is opened)
        #JahiaGxtManagerLeftTree__CRTbrowseTabItem {
            background: url(_icon("navPrevious", "grey")) no-repeat left center;
            height: 25px;
            position: fixed;
            top: 6px;
            left: 6px;
            padding-left: 9px;
            display: none;
            background-size: 13px;
            opacity: 0.8;

            a,
            img {
                display: none;
            }

            &::before {
                content: _dictionary("return_to_picker");
                padding: 6px;
                display: block;
                font-size: 12px;
                font-family: Nunito Sans;
                color: _color("tertiary", normal);
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        // SEARCH PANEL
        #CRTsearchTabItem {

            // GWT Cleanup ...
            > .x-panel {
                width: auto !important;

                // Unused heading
                > .x-panel-tl {
                    display: none;
                }
            }

            .x-panel-mc {
                > .x-panel-body {
                    background: red !important;
                }

                > .x-panel-body {
                    > .x-component {
                        &:nth-child(1) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 1 */
                            background: red !important;
                            width: 0;
                            height: 0;

                            td {
                                // Search input string
                                &:nth-child(1) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 2 */
                                    label {
                                        display: none !important;
                                    }

                                    .x-form-field-wrap {
                                        position: fixed;
                                        top: 6px !important;
                                        left: 0 !important;
                                        width: 100% !important;
                                        pointer-events: none;
                                    }

                                    input {
                                        width: 450px !important;

                                        @include _input-search(LIGHT);
                                        padding: 7px 58px 6px 25px !important;

                                        margin: 0 auto;
                                        pointer-events: all;
                                    }

                                }

                                // Search button
                                &:nth-child(2) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 3 */
                                    > table {
                                        position: fixed;
                                        top: 6px;
                                        right: calc(50% - 226px);
                                        width: 25px;
                                        height: 24px;
                                        background: _color("tertiary", normal);
                                        padding: 7px 10px;
                                        border-collapse: initial;

                                        body.ext-gecko & {
                                            padding: 8px 10px;
                                        }

                                        @include text(11px, _color("secondary"), _weight("extralight"));

                                        > tbody {
                                            display: none;
                                        }

                                        &::before {
                                            content: _dictionary("search");
                                        }
                                    }
                                }

                                // Save Search
                                &:nth-child(3) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 4 */
                                    > table {
                                        position: fixed;
                                        top: 44px;
                                        right: 7px;
                                        background: _color("tertiary", normal);
                                        padding: 6px 10px;
                                        border-collapse: initial;

                                        > tbody {
                                            display: none;
                                        }

                                        &::before {
                                            content: _dictionary("save_search_results");
                                            @include text(_size("small"), #F5F5F5, _weight("extralight"));
                                        }
                                    }
                                }
                            }
                        }

                        // Search Criterium
                        &:nth-child(2) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 5 */
                            background: blue !important;
                            position: fixed;
                            left: 0;
                            visibility: hidden;

                            // Unused header ...
                            > .x-panel-header {
                                display: none !important;
                            }

                            // COntains search Criterium ...
                            fieldset {
                                position: fixed;
                                top: 45px;
                                left: 5px;
                                margin: 0 !important;
                                width: 100%;
                                padding: 0 !important;

                                > legend {
                                    display: none !important;
                                }

                                // Entries ...
                                .x-form-item {
                                    margin-right: 5px;

                                    &::before {
                                        @include _drop-down-fake(LIGHT);
                                        background: #F5F5F5 !important;
                                        box-shadow: none !important;
                                    }

                                    visibility: visible;

                                    display: inline-block;
                                    width: 150px;

                                    // PAGE PICKER
                                    &:nth-child(1) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 6 */
                                        label {
                                            display: none !important;
                                        }

                                        .x-form-field-wrap {
                                            width: auto !important;
                                        }
                                    }

                                    // LANGUAGE
                                    &:nth-child(2) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 7 */

                                        > label {
                                            display: none !important;
                                        }
                                    }

                                    // META DATA
                                    &:nth-child(3) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 8 */
                                        // border-right: 1px solid _color("primary");

                                        &::before {
                                            content: attr(data-indigo-meta-label);
                                        }

                                        &:hover {
                                            .x-form-element {
                                                display: block;
                                            }
                                        }

                                        > label {
                                            display: none !important;
                                        }

                                        .x-form-element {
                                            display: none;

                                            table,
                                            tbody,
                                            tr,
                                            td {
                                                display: block;
                                            }


                                            td {
                                                margin: 0;
                                                padding: 0;
                                            }

                                            .x-component {
                                                position: fixed;
                                                width: 130px !important;
                                                background: _color("tertiary", normal);

                                                .x-component {
                                                    width: 100% !important;
                                                    padding: 5px 11px 0;
                                                    box-sizing: border-box;

                                                    label {
                                                        text-transform: none;
                                                        @include text(_size("small"), _color("secondary"), _weight("light"));
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    // CREATION / MODIFICATION / PUBLICATION
                                    &:nth-child(4) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 9 */
                                        width: 150px !important;
                                        position: fixed;
                                        left: 606px;
                                        display: none !important; // ONLY SHOW WHEN A DATE HAS BEEN SELECTED

                                        > label {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100% !important;
                                            text-indent: -50000px;
                                            opacity: 0;
                                        }

                                        &::before {
                                            content: attr(data-indigo-modification-label);
                                        }

                                        &.indigo-show-menu {
                                            .x-form-element {
                                                display: block;
                                            }
                                        }

                                        .x-form-element {
                                            display: none;

                                            input[type="radio"] {
                                                opacity: 0;
                                            }
                                        }

                                        td {
                                            border: none;
                                            display: block;
                                            background: $FORM--CONTEXT_MENU--BG--COLOUR---UP;
                                            padding: 5px 1px !important;

                                            &:hover {
                                                /* Selected / Hovered */
                                                border: none !important;
                                                color: $FORM--CONTEXT_MENU--FONT--COLOUR---HOVER;
                                                background: $FORM--CONTEXT_MENU--BG--COLOUR---HOVER;
                                            }

                                            label {
                                                width: 100%;
                                                height: 100%;
                                                display: block;
                                                text-transform: none;
                                                @include text(13px, $FORM--CONTEXT_MENU--FONT--COLOUR---UP, _weight("light"));
                                            }
                                        }
                                    }

                                    // START DATE
                                    &:nth-child(5) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 10 */
                                        position: fixed;
                                        left: 410px;
                                        width: 93px !important;
                                        display: none;

                                        > label {
                                            display: none !important;
                                        }

                                        .x-form-field-wrap {
                                            width: 100% !important;
                                        }
                                    }

                                    // END DATE
                                    &:nth-child(6) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 11 */
                                        position: fixed;
                                        left: 508px;
                                        width: 93px !important;
                                        display: none;

                                        > label {
                                            display: none !important;
                                        }

                                        .x-form-field-wrap {
                                            width: 100% !important;
                                        }
                                    }

                                    // DATE RANGE
                                    &:nth-child(7) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 12 */
                                        > label {
                                            display: none !important;
                                        }
                                    }

                                    // ITEMS PER PAGE
                                    &:nth-child(8) { /* OPTIMISE SELECTOR ::: css/app/pickers/_left-panel.scss ::: 13 */
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // BROWSE PANEL
        #CRTbrowseTabItem {
            width: 100% !important;
            height: calc(100% - 100px);

            body[data-INDIGO-PICKER-SOURCE-PANEL="open"] & {
                margin-top: 24px;
            }

            // Fix GWT size issues ...
            > .x-component {
                width: 100% !important;

                > .x-panel {
                    width: 100% !important;
                    position: relative;
                }
            }

            // Container
            > div {

                // Accordian Source Groups ( ie. Current Site, Sites, Extzrnal Repos)
                > .x-panel {

                    // Header
                    .x-accordion-hd {
                        background: none;
                        box-sizing: border-box;
                        position: relative;
                        z-index: 999;
                        padding: 0 0 0 30px;
                        width: calc(100% - 50px);
                        height: 30px;
                        pointer-events: none;

                        // Icon - dont need
                        img {
                            display: none;
                        }

                        // Refresh tool used to refresh the contents of current source
                        .x-tool-refresh {
                            background: url( _icon("refresh", "grey")) no-repeat center center transparent; /* OPTIMISE URL ::: css/app/pickers/_left-panel.scss ::: 2 */
                            height: 30px;
                            width: 30px;
                            position: fixed;
                            left: calc(#{$PICKER_SIDEPANEL_WIDTH} - 59px);
                            top: 80px;
                            background-size: 16px 13px;
                            z-index: 999999 !important;
                            opacity: 0.8;
                            pointer-events: auto;

                            &:hover {
                                opacity: 1;
                            }
                        }

                        .x-tool-toggle {
                            display: none;
                        }

                        .x-panel-header-text {
                            @include _drop-down-fake(LIGHT);

                            input {
                                background: #F5F5F5 !important;
                                box-shadow: none !important;
                            }

                            width: 80% !important;
                            max-width: 240px;

                            body[data-INDIGO-PICKER-SOURCE-PANEL="open"] & {
                                width: 100% !important;
                            }
                        }
                    }

                    // Tree Holder
                    > .x-panel-bwrap {
                        position: fixed;
                        z-index: 99;
                        top: 120px !important;
                        width: 100% !important;
                        height: calc(100% - 150px) !important;
                        padding: 5px 12px 0 32px;
                        box-sizing: border-box;

                        // Saved search results styling ...
                        .x-view {
                            background: transparent;

                            // Row UP
                            .x-view-item {
                                border: none !important;
                                @include text(_size("small"), _color("primary", d) !important, _weight("extralight"));
                            }

                            // Row OVER
                            .x-view-item-over {
                                background: rgba(122, 126, 128, 0.1) !important;
                            }

                            // Row SELECTED
                            .x-view-item-sel {
                                background: rgb(155, 157, 159) !important;
                                color: _color("secondary", a) !important;

                                // Row SELECTED OVER
                                &.x-view-item-over {
                                    background: rgb(155, 157, 159) !important;
                                    color: _color("secondary", a) !important;
                                }
                            }
                        }
                    }

                    body[data-INDIGO-PICKER-SOURCE-PANEL="open"] & {
                        .x-panel-header {
                            position: fixed;
                            top: 80px;
                            width: $PICKER_SIDEPANEL_WIDTH;
                            pointer-events: none !important;
                        }
                    }

                    // This accordian panel is not used, so hide it
                    &.x-panel-collapsed {
                        .x-panel-header {
                            display: none;
                            top: 0 !important;

                            body[data-INDIGO-PICKER-SOURCE-PANEL="open"] & {
                                display: block;
                                position: relative;

                                .x-panel-header-text {
                                    pointer-events: all;
                                    text-align: left !important;
                                    background: _theme($MENU-OPENED--BG, $CONTEXT-MENU);
                                    padding: 8px 9px !important;
                                    border: none;
                                    @include text(13px, _theme($MENU-OPENED--COLOR, $CONTEXT-MENU), _weight("light"));

                                    &:hover {
                                        color: _theme($MENU-OPENED--COLOR---HOVER, $CONTEXT-MENU);
                                        background: _theme($MENU-OPENED--BG---HOVER, $CONTEXT-MENU);
                                    }
                                }
                            }

                            // HIDE TOOLBAR
                            .x-panel-toolbar {
                                display: none;
                            }

                            pointer-events: all !important;
                        }
                    }
                }
            }
        }
    }

}
