#JahiaGxtContentPickerWindow,
#JahiaGxtCustomContentPickerWindow,
#JahiaGxtCustomContentPicker,
#JahiaGxtCustomContentPicker > .x-component,
#contentpicker,
#contentmanager {
    // MULTI SELECT PANEL
    #JahiaGxtManagerBottomTabs {
        position: fixed !important;
        bottom: 58px;
        right: 0;
        left: auto !important;
        width: calc(100% - #{$PICKER_SIDEPANEL_WIDTH}) !important;
        background: _theme($DARK-FOOTER--BG, $PICKER);
        height: 180px !important;
        top: auto !important;
        padding: 15px;
        box-sizing: border-box;
        box-shadow: inset 0px 1px 7px #222;

        &.indigo-collapsed {
            height: 38px !important;
            z-index: 99999;
            background: #474a4c !important;
            bottom: 79px !important;
            pointer-events: none;
            padding-top: 6px;
            box-shadow: none;

            .toggle-multiple-selection {
                background-image: url(../images/icons/toggle-SN-white@X2.png); /* OPTIMISE URL ::: css/app/pickers/_multiselect-panel.scss ::: 1 */
                pointer-events: all;
                margin-bottom: 30px;
            }

            &.selected-files {
                background: _color("quinary", normal) !important;

            }
        }

        .toggle-multiple-selection {
            content: attr(data-indigo-multiselection-title);
            font-size: 18px;
            color: _color("secondary", a);
            font-weight: 100;
            font-family: Nunito Sans;
            display: inline-block;
            margin-bottom: 10px;
            padding: 0 0 0 19px;
            background: url(../images/icons/toggle-NS-white@X2.png) no-repeat left center; /* OPTIMISE URL ::: css/app/pickers/_multiselect-panel.scss ::: 2 */
            background-size: 15px;
            opacity: 0.9;
            border: none;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }


        .x-grid3 {
            height: calc(100% - 23px) !important;
        }

        .x-grid-empty {
            @include text(_size("small"), _color("primary", d), _weight("extralight"));
            padding: 0;
        }

        // ADDED FILE CONTAINER
        .x-grid-group {

            width: 100px;
            display: inline-block;
            margin: 5px 5px 0 0;

            // FILE HEADER ( CONTAINS NAME )
            .x-grid-group-hd {
                display: none;
            }

            // CONTAINS FILE AND FILE INFO
            .x-grid-group-body {
                width: 100px !important;
                height: 87px !important;

                // ROW
                .x-grid3-row {
                    height: 100% !important;
                    width: 100% !important;
                    background: rgb(0, 160, 227) !important;
                    padding-top: 10px;
                    box-sizing: border-box;

                    // THUMBNAIL
                    .x-grid3-td-preview {
                        width: 40px !important;
                        margin: 0 auto;
                        display: block;

                        .x-grid3-col-preview {
                            padding: 0;
                            width: 48px;
                        }

                        img {
                            width: 32px !important;
                            height: 32px !important;
                            padding: 8px;
                            background-color: rgba(238, 238, 238, 0.1);
                            margin-bottom: 4px;
                            border-radius: 5px;

                            &[src$="/jnt_page_large.png"] {
                                background-size: 46px !important;
                                background-position: center top 1px;
                                background-color: transparent !important;
                                background-image: url(_icon("pages", "white"));
                                padding: 0 0 0 48px !important;

                                width: 48px !important;
                                height: 48px !important;
                            }

                        }
                    }

                    // CONTAINS GROUP OF DETAILS - MAYBE USE FOR HOVER TO SHOW INFO
                    .x-grid3-td-name {
                        display: none;
                    }

                    // NAME - HIDDEN BY DEFAULT - CAN I USE ???
                    .x-grid3-td-displayName {

                        display: block !important;
                        width: auto !important;

                        .x-grid3-col-displayName {
                            color: _color("secondary");
                            font-size: 13px;
                            text-align: center;
                        }

                        &::after {
                            display: none;
                        }
                    }

                    // REMOVE FROM LIST
                    .x-grid3-td-remove {

                        width: 25px !important;
                        height: 25px !important;
                        position: absolute;
                        top: -2px;
                        right: 1px;

                        .x-grid3-col-remove {

                            position: absolute;
                            top: -7px;
                            right: -1px;

                            // BUTTON
                            > table {
                                width: 20px;
                                height: 20px;
                                background: url( _icon("closeLarge", "grey")) no-repeat center center #e9e9e9; /* OPTIMISE URL ::: css/app/pickers/_multiselect-panel.scss ::: 3 */
                                background-size: 10px;
                                border: 2px solid rgb(0, 160, 227) !important;
                                pointer-events: all;

                                > tbody {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}
