/******************************************************************************
*  Tag this Page
******************************************************************************/
#bodywrapper .tagthispage span span {
    background:transparent url(img/page-tag.gif) no-repeat scroll 0 70%;
    display:inline;
    margin-right:8px;
    padding:5px 0 5px 18px;
}
#bodywrapper .tagthispage  {
    margin:0.5em 0;
}
#bodywrapper .tagthispage form {
    margin:0.5em 0;
}