/////////////////////////////////////////////////
// Z INDEXES ////////////////////////////////////
/////////////////////////////////////////////////

// MAIN MODULE
$ZINDEX--MAINMODULE: 30;
$ZINDEX--MAINMODULE--HEADER: 90 !important;
$ZINDEX--MAINMODULE--ACTIONS_MENU: 100;
$ZINDEX--MAINMODULE--PATH_CONTAINER: 30 !important;
$ZINDEX--MAINMODULE--LANGUAGE_SWITCHER: 90;

// COMBO LISTS
$ZINDEX--COMBO_LIST: 1100 !important;

// CONTEXT MENUS
$ZINDEX--CONTEXT_MENU: 1100 !important;
$ZINDEX--CONTEXT_MENU---TITLE: 140;
$ZINDEX--CONTEXT_MENU--MODE_MENU: 60;
$ZINDEX--CONTEXT_MENU--MODE_MENU---LABEL: 1 !important;

// THUMBS
$ZINDEX--THUMB---DETAILS: 10;

// PICKER WINDOW
$ZINDEX--PICKER_WINDOW: 1030 !important;

// HAMBURGER MENU
$ZINDEX--HAMBURGER---TITLE: 30;

// SIDE PANEL
$ZINDEX--SIDE_PANEL: 50 !important;
$ZINDEX--SIDE_PANEL--HEADER: 50 !important;
$ZINDEX--SIDE_PANEL--BODY: 30;
$ZINDEX--SIDE_PANEL--CONTAINER: 20;
$ZINDEX--SIDE_PANEL--CONTAINER_SUB: 60;
$ZINDEX--SIDE_PANEL--CLOSE_CAPTURE_MASK: 20;
$ZINDEX--SIDE_PANEL--SEARCH_TAB---ACTIONS: 30;
$ZINDEX--SIDE_PANEL--EDIT_ENGINE: 200 !important;

// EDIT ENGINE
$ZINDEX--EDIT_ENGINE--DIALOGUE: 99;

// CKE EDITOR
$ZINDEX--CKE_EDITOR--DIALOGUE: 200;

// MODAL
$ZINDEX--MODAL---MASK: 100 !important;
$ZINDEX--MODAL---MASK\:IMAGE_PREVIEW: 1040 !important;
$ZINDEX--MODAL---MASK\:EDIT_ENGINE: 9 !important;
$ZINDEX--MODAL---MASK\:CKE_EDITOR: 100 !important;

// TOOLBAR
$ZINDEX--TOOLBAR--CONTAINER: 60 !important;
$ZINDEX--TOOLBAR--CONTAINER_SUB: 60;

// HAMBURGER MENU
$ZINDEX--HAMBURGER_MENU---BUTTON: 90;

// ACTION BAR
$ZINDEX--ACTION_BAR--CONTAINER: 60 !important;

// IFRAME
$ZINDEX--IFRAME--CONTAINER: 40;


$TOPBAR--MULTISELECT--1---TOP: 27px !important;
