/******************************************************************************
*  Tabs
******************************************************************************/
.bodywrapper div.idTabsContainer{
	margin:0 ;
}
.bodywrapper  ul.idTabs {
	clear:both;
	list-style-type:none;
	overflow:hidden;
	background:transparent url(img/tab-bg.png) repeat-x bottom left;
	margin:0 0 10px 0;
	padding:0;

}
.bodywrapper .idTabs li {
	display:inline;
	float:left;
	margin:0;
	padding:0;
}
.bodywrapper .idTabs li.spacing{
	padding-left:20px;
}

.bodywrapper .idTabs li a {
	background:transparent url(img/tab-left.png) no-repeat scroll 0 0;
	display:inline;
	float:left;
	height:29px;
	line-height:29px;
	padding-left:15px;
	text-decoration:none;
	margin-right:2px
}
.bodywrapper .idTabs li a.selected,
.bodywrapper .idTabs li a:hover,
.bodywrapper .idTabs li a.selected {
	background-position:0 -29px;
	color:#003399;
	text-decoration:none;
}


.bodywrapper .idTabs li a span {
	background:transparent url(img/tab-right.png) no-repeat scroll 100% 0;
	color:#666;
	cursor:pointer;
	display:inline;
	float:left;
	height:29px;
	line-height:29px;
	padding-right:15px;
	text-decoration:none;

}
.bodywrapper .idTabs li a.selected span,
.bodywrapper .idTabs li a:hover span,
.bodywrapper .idTabs li a.idTabs span {
	background-position:100% -29px;
	color:#003399;
	text-decoration:none;
}
