/****************************/
/* BACKGROUNDS */
/****************************/

$BODY--BG: (
        LIGHT: radial-gradient(ellipse at bottom right, darken(_color("secondary"), 4%) 0%, _color("secondary") 50%),
        DARK: linear-gradient(to bottom, #585757 1%, #4c4b4b 100%),
);

$BODY--BG--SHADOW: (
        LIGHT: 0 5px 10px 1px _color("black", b),
        DARK: 0 5px 10px 1px _color("black", b),
);

$BODY--HAMBURGER-ICON: (
        LIGHT: _icon("dxLogo", "blue"),
        DARK: _icon("dxLogo", "blue")
);

$CONTRIBUTE--BG: (
        LIGHT: _color("tertiary"),
        DARK: _color("tertiary"),
);

$CONTRIBUTE--BG--SHADOW: (
        LIGHT: 0px 0px 10px 0px _color("quinary", c) !important,
        DARK: 0px 0px 10px 0px _color("quinary", c) !important,
);

$CONTRIBUTE--HAMBURGER-ICON: (
        LIGHT: _icon("dxLogo", "white"),
        DARK: _icon("dxLogo", "white")
);

$SIDE-PANEL--BG: (
        LIGHT: linear-gradient(to right, #fcfdfd 0%, rgba(252, 253, 253, 0.92) 100%),
        DARK: _color("primary"),
);

$SIDE-PANEL--SHADOW: (
        LIGHT: 0 5px 10px 1px _color("black", b),
        DARK: 0 5px 10px 1px _color("black", b),
);

$MODAL--HEADER: (
        LIGHT: _color("primary"),
        DARK: _color("secondary"),
);

$MODAL--PARAGRAPH: (
        LIGHT: _color("primary", c),
        DARK: _color("secondary", b),
);

$MODAL--BG: (
        LIGHT: _color("secondary"),
        DARK: _color("primary"),
);


$MODAL-SOLID--BG: (
        LIGHT: radial-gradient(ellipse at bottom right, darken(_color("secondary"), 4%) 0%, _color("secondary") 50%),
        DARK: radial-gradient(ellipse at bottom right, darken(_color("primary"), 10%) 0%, _color("primary") 70%),
);

$MODAL-SOLID--BG---LEGACY: (
        LIGHT: rgba(_color("primary"), .98),
        DARK: rgba(_color("primary"), .98),
);

/****************************/
/* FOOTERS */
/****************************/

$FOOTER--BG: (
        LIGHT: _color("primary"),
        DARK: _color("primary", g),
);

$FOOTER--SHADOW: (
        LIGHT: inset 3px 0px 16px _color("black", b),
        DARK: inset 3px 0px 16px _color("black", b),
);


$DARK-FOOTER--BG: (
        LIGHT: _color("primary", normal),
        DARK: _color("primary", normal),
);

$DARK-FOOTER--SHADOW: (
        LIGHT: inset 3px 0px 16px _color("black", c),
        DARK: inset 3px 0px 16px _color("black", c),
);


/****************************/
/* HEADER - USED IN PICKERS */
/****************************/

$HEADER--BG: (
        LIGHT: transparent,
        DARK: transparent,
);

$HEADER--SHADOW: (
        LIGHT: transparent,
        DARK: transparent,
);
