/****************************/
/* COMPONENT COLOURS  */
/****************************/

$HAMBURGER--TITLE--COLOR: (
        LIGHT: _theme-color(quinary),
        DARK: _theme-color(quinary),
);

$HAMBURGER--BUTTON--COLOR: (
        LIGHT: _theme-color(secondary),
        DARK: _theme-color(secondary),
);

$HAMBURGER--BUTTON--SHADOW: (
        LIGHT: unquote("inset -2px 2px " + _theme-color(secondary)),
        DARK: unquote("inset -2px 2px " + _theme-color(secondary)),
);

$HAMBURGER--BUTTON--SHADOW---HOVER: (
        LIGHT: inset -1px 1px transparent,
        DARK: inset -1px 1px transparent,
);

$HAMBURGER--BUTTON--COLOR---HOVER: (
        LIGHT: _theme-color(secondary),
        DARK: _theme-color(secondary),
);

$HAMBURGER--BUTTON--BG: (
        LIGHT: radial-gradient(ellipse at bottom right, _theme-color(quinary) 0%, _theme-color(quinary) 70%),
        DARK: radial-gradient(ellipse at bottom right, _theme-color(quinary) 0%, _theme-color(quinary) 70%),
);

$HAMBURGER--BUTTON--BG---HOVER: (
        LIGHT: radial-gradient(ellipse at bottom right, _theme-color(quinary, a) 0%, _theme-color(quinary) 70%),
        DARK: radial-gradient(ellipse at bottom right, _theme-color(quinary, a) 0%, _theme-color(quinary) 70%),
);

$HAMBURGER--BUTTON--BG---SELECTED: (
        LIGHT: radial-gradient(ellipse at bottom right, _theme-color(quaternary, a) 0%, _theme-color(quaternary) 70%),
        DARK: radial-gradient(ellipse at bottom right, _theme-color(quaternary, a) 0%, _theme-color(quaternary) 70%),
);
