/****************************/
/* COMMENTS */
/****************************/

// UP
$COMMENTS--COLOR: (
        LIGHT: _color("primary", normal),
        DARK: _color("primary", normal),
);

$COMMENTS--COLOR--AUTHOR: (
        LIGHT: _color("primary", normal),
        DARK: _color("primary", normal),
);

$COMMENTS--COLOR--DATE: (
        LIGHT: _color("primary", normal),
        DARK: _color("primary", normal),
);

$COMMENTS--BG: (
        LIGHT: _color("secondary", c),
        DARK: _color("secondary", c),
);
