/****************************/
/* CHECKBOX */
/****************************/
$CHECKBOX--BG: (
        LIGHT: _theme-color(secondary),
        DARK: _theme-color(secondary),
);

$CHECKBOX--BORDER: (
        LIGHT: 1px solid _theme-color(primary, g),
        DARK: 1px solid _theme-color(primary, g),
);

$CHECKBOX--SHADOW: (
        LIGHT: inset 1px 1px 3px _theme-color(black, a),
        DARK: inset 1px 1px 3px _theme-color(black, a),
);

$CHECKBOX--BG---CHECKED: (
        LIGHT: _theme-color(green),
        DARK: _theme-color(green),
);


/****************************/
/* INPUT / TEXTAREA */
/****************************/

// UP
$INPUT--COLOR: (
        LIGHT: _theme-color(primary),
        DARK: _theme-color(secondary),
);

$INPUT--PLACEHOLDER: (
        LIGHT: _theme-color(secondary, d),
        DARK: _theme-color(secondary, d),
);

$INPUT--BG: (
        LIGHT: _theme-color(white),
        DARK: radial-gradient(ellipse at bottom right, _theme-color(primary, b) 0%, _theme-color(primary, a) 70%),
);

$INPUT--BORDER: (
        LIGHT: transparent,
        DARK: transparent,
);

$INPUT--SHADOW: (
        LIGHT: 0px 1px 2px _theme-color(black, a),
        DARK: 0px 1px 2px _theme-color(black, a),
);

// HOVER
$INPUT--COLOR---HOVER: (
        LIGHT: _theme-color(primary),
        DARK: _theme-color(secondary),
);

$INPUT--BG---HOVER: (
        LIGHT: _theme-color(white),
        DARK: _theme-color(primary, b),
);

$INPUT--BORDER---HOVER: (
        LIGHT: transparent,
        DARK: transparent,
);

$INPUT--SHADOW---HOVER: (
        LIGHT: 0px 1px 2px _theme-color(black, b),
        DARK: 0px 1px 2px _theme-color(black, a),
);

// FOCUS
$INPUT--COLOR---FOCUS: (
        LIGHT: _theme-color(primary),
        DARK: _theme-color(primary),
);

$INPUT--PLACEHOLDER---FOCUS: (
        LIGHT: _theme-color(secondary, e),
        DARK: _theme-color(secondary, e),
);

$INPUT--BG---FOCUS: (
        LIGHT: _theme-color(white),
        DARK: _theme-color(white),
);

$INPUT--BORDER---FOCUS: (
        LIGHT: transparent,
        DARK: transparent,
);

$INPUT--SHADOW---FOCUS: (
        LIGHT: 0px 1px 2px _theme-color(black, b),
        DARK: 0px 1px 2px _theme-color(black, b),
);

// DISABLED
$INPUT--COLOR---DISABLED: (
        LIGHT: _theme-color(primary),
        DARK: _theme-color(primary)
);

$INPUT--BG---DISABLED: (
        LIGHT: #BDBDBD,
        DARK: #BDBDBD
);

$INPUT--BORDER---DISABLED: (
        LIGHT: transparent,
        DARK: transparent,
);

$INPUT--SHADOW---DISABLED: (
        LIGHT: 0px 1px 2px _theme-color(black, b),
        DARK: 0px 1px 2px _theme-color(black, b),
);

/****************************/
/* LIST BOXES */
/****************************/

$LIST-BOX--BG: (
        LIGHT: _theme-color(secondary, a),
        DARK: _theme-color(secondary, a),
);

// Row
$LIST-BOX--ROW--COLOR: (
        LIGHT: _theme-color(primary),
        DARK: _theme-color(primary),
);

$LIST-BOX--ROW--BG: (
        LIGHT: _theme-color(secondary, a),
        DARK: _theme-color(secondary, a),
);

// Row hover
$LIST-BOX--ROW--COLOR---HOVER: (
        LIGHT: _theme-color(secondary),
        DARK: _theme-color(secondary),
);

$LIST-BOX--ROW--BG---HOVER: (
        LIGHT: _theme-color(primary, e),
        DARK: _theme-color(primary, e),
);

// Row selected
$LIST-BOX--ROW--COLOR---SELECTED: (
        LIGHT: _theme-color(secondary),
        DARK: _theme-color(secondary),
);

$LIST-BOX--ROW--BG---SELECTED: (
        LIGHT: _theme-color(primary, c),
        DARK: _theme-color(primary, c),
);

// Row disabled
$LIST-BOX--ROW--COLOR---DISABLED: (
        LIGHT: white,
        DARK: red,
);

$LIST-BOX--ROW--BG---DISABLED: (
        LIGHT: red,
        DARK: red,
);


/****************************/
/* FIELDSET */
/****************************/

// TITLE COLOR
$FIELDSET--TITLE-COLOR: (
        LIGHT: _theme-color(primary),
        DARK: _theme-color(secondary),
);

// BACKGROUND COLOR
$FIELDSET--BG: (
        LIGHT: _theme-color(white, a),
        DARK: _theme-color(primary, h),
);

// BORDER COLOR
$FIELDSET--BORDER: (
        LIGHT: _theme-color(secondary, b),
        DARK: transparent,
);

// BACKGROUND HOVER COLOR
$FIELDSET--BG---HOVER: (
        LIGHT: _theme-color(white),
        DARK: _theme-color(primary, h),
);
