/****************************/
/* CONFIG  */
/****************************/

// DEFAULT
$EDIT-ENGINE: LIGHT;
$SIDE-PANEL: LIGHT;
$BACKGROUND-JOBS: LIGHT;
$APP: DARK;
$APP-MENUS: DARK;
$CONTRIBUTE-MENUS: LIGHT;
$DATE-PICKER: DARK;
$CONTEXT-MENU: DARK;
$THUMBS: DARK;
$PICKER: DARK;
$PICKER-SEARCH: DARK;
$PICKER-HEADER-INPUT: LIGHT;
$PICKER-SEARCH-HEADER: DARK;
$PREVIEW: DARK;
$DASHBOARD: LIGHT;
$HAMBURGER: LIGHT;
$MODAL-INPUT: LIGHT;
$CONTRIBUTE: LIGHT;
