

/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #bodywrapper #primaryNav li to set the number
	of columns required in your site map. The default is 
	4 columns (25%). 5 columns would be 20%, 6 columns would 
	be 16.6%, etc. 
------------------------------------------------------------ */

#bodywrapper #primaryNav li {
	width:25%;
}

#bodywrapper #primaryNav li ul li {
	width:100% !important;
}

#bodywrapper #primaryNav.col1 li{ width:99.9%; }
#bodywrapper #primaryNav.col2 li{ width:50.0%; }
#bodywrapper #primaryNav.col3 li{ width:33.3%; }
#bodywrapper #primaryNav.col4 li{ width:25.0%; }
#bodywrapper #primaryNav.col5 li { width:20.0%; }
#bodywrapper #primaryNav.col6 li{ width:16.6%; }
#bodywrapper #primaryNav.col7 li{ width:14.2%; }
#bodywrapper #primaryNav.col8 li{ width:12.5%; }
#bodywrapper #primaryNav.col9 li{ width:11.1%; }
#bodywrapper #primaryNav.col10 li{ width:10.0%; }

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */
#bodywrapper .sitemap {
	float: left;
	width: 100%;
	background-color:#fff
}
#bodywrapper .sitemap ul {
	margin:0;
	padding:0;
}
#bodywrapper #primaryNav a {
	text-decoration: none;
}
#bodywrapper #primaryNav ol, #bodywrapper #primaryNav ul, #bodywrapper #primaryNav li {
	list-style: none;
	margin:0;
	padding:0
}


/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */



#bodywrapper .sitemap li {
	background: url('img/L1-center-top.png') center bottom no-repeat;
	list-style: none;
	float:left;
	margin-top: 20px;
}
#bodywrapper .sitemap li a {
	margin:0;
	padding: 10px 10px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	color: white;	
	background: #003399 url('img/white-highlight.png') top left repeat-x;
	border: 2px solid #3366cc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */
}
#bodywrapper .sitemap li a:hover {
	background-color: #3366cc;
	border-color: #003366;
}
/* --------	primaryNav --------- */
#bodywrapper #primaryNav {
	margin: 0;
	float: left;
	width: 100%;
	background-color:#FFFFFF;
	padding:20px 0;
}
#bodywrapper #primaryNav li {
	float: left;
	background: url('img/L1-center.png') center top no-repeat;
	padding: 30px 0;
	margin-top: -30px;
	list-style: none;
}
#bodywrapper #primaryNav li a {
	margin: 0 20px 0 0;
	padding: 10px 0;
	display: block;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	color: black;	
	background: #c3eafb url('img/white-highlight.png') top left repeat-x;
	border: 2px solid #b5d9ea;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
#bodywrapper #primaryNav li a:hover {
	background-color: #e2f4fd;
	border-color: #97bdcf;
}
#bodywrapper #primaryNav li:last-child {
	background: url('img/L1-right.png') center top no-repeat;
}


/* --------	Second Level --------- */

#bodywrapper #primaryNav li li{
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 10px 0 0 0;
	background: url('img/vertical-line.png') center bottom repeat-y;
}
#bodywrapper #primaryNav li li a {
	background-color: #cee3ac;
	border-color: #b8da83;
}
#bodywrapper #primaryNav li li a:hover {
	border-color: #94b75f;
	background-color: #e7f1d7;
}
#bodywrapper #primaryNav li:first-child {

}
#bodywrapper #primaryNav li li:last-child {
	background: url('img/vertical-line.png') center bottom repeat-y;
}
#bodywrapper #primaryNav li li a:link:before,
#bodywrapper #primaryNav li li a:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

#bodywrapper #primaryNav li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: 9px 0 0 0;
	background: #ffffff url('img/L3-ul-top.png') center top no-repeat;
}
#bodywrapper #primaryNav li li li {
	background: url('img/L3-center.png') left center no-repeat;
	padding: 2px 0;
}
#bodywrapper #primaryNav li li li a {
	background-color: #fff7aa;
	border-color: #e3ca4b;
	font-size: 0.9em;
	padding: 5px 0;
	width: 80%;
	float: right;
}
#bodywrapper #primaryNav li li li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
#bodywrapper #primaryNav li li li:first-child {
	padding: 15px 0 2px 0;
	background: url('img/L3-li-top.png') left center no-repeat;
}
#bodywrapper #primaryNav li li li:last-child {
	background: url('img/L3-bottom.png') left center no-repeat;
}
#bodywrapper #primaryNav li li li a:link:before,
#bodywrapper #primaryNav li li li a:visited:before {
	color: #ccae14;
	font-size: 0.9em;
}


/* ------------------------------------------------------------
	Utility Navigation
------------------------------------------------------------ */

#utilityNav {
	float: right;
	max-width: 50%;
	margin-right: 10px;
}
#utilityNav li {
	float: left;
	margin-bottom: 10px;
}
#utilityNav li a {
	margin: 0 10px 0 0;
	padding: 5px 10px;
	display: block;	
	border: 2px solid #e3ca4b;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #fff7aa url('img/white-highlight.png') top left repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
#utilityNav li a:hover {
	background-color: #fffce5;
	border-color: #d1b62c;
}
#utilityNav li a:link:before,
#utilityNav li a:visited:before {
	color: #ccae14;
	font-size: 9px;
	margin-bottom: 3px;
}