<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="org.jahia.toolbar.sidePanel.pages" class="org.jahia.services.toolbar.bean.ToolbarSet">
        <property name="toolbars">
            <list>
                <bean class="org.jahia.services.toolbar.bean.Toolbar">
                	<property name="items">
                		<list>
                			<ref bean="org.jahia.toolbar.item.createPage"/>
						    <bean class="org.jahia.services.toolbar.bean.Item" parent="org.jahia.toolbar.item.edit">
						        <property name="titleKey" value="toolbar.manager.button.rename"/>
						        <property name="minIconStyle" value="gwt-toolbar-icon-rename"/>
						        <property name="mediumIconStyle" value="gwt-toolbar-icon-rename"/>
						    </bean>
                			<ref bean="org.jahia.toolbar.item.edit"/>
                			<ref bean="org.jahia.toolbar.item.delete"/>
                			<ref bean="org.jahia.toolbar.item.Separator"/>
                			<ref bean="org.jahia.toolbar.item.copy"/>
                			<ref bean="org.jahia.toolbar.item.cut"/>
                			<ref bean="org.jahia.toolbar.item.paste"/>
                			<ref bean="org.jahia.toolbar.item.pasteReference"/>
                		</list>
                	</property>
        			<property name="contextMenu" value="true"/>
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="org.jahia.toolbar.sidePanel.contentBrowsing" class="org.jahia.services.toolbar.bean.ToolbarSet">
        <property name="toolbars">
            <list>
                <bean class="org.jahia.services.toolbar.bean.Toolbar">
                	<property name="items">
                		<list>
                			<ref bean="org.jahia.toolbar.item.createFolder"/>
                			<ref bean="org.jahia.toolbar.item.createContent"/>
			                <ref bean="org.jahia.toolbar.item.Separator"/>
                			<ref bean="org.jahia.toolbar.item.rename"/>
                			<ref bean="org.jahia.toolbar.item.delete"/>
                			<ref bean="org.jahia.toolbar.item.Separator"/>
                			<ref bean="org.jahia.toolbar.item.copy"/>
                			<ref bean="org.jahia.toolbar.item.cut"/>
                			<ref bean="org.jahia.toolbar.item.paste"/>
                			<ref bean="org.jahia.toolbar.item.pasteReference"/>
                		</list>
                	</property>
        			<property name="contextMenu" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="org.jahia.toolbar.sidePanel.contentBrowsing.preview" class="org.jahia.services.toolbar.bean.ToolbarSet">
        <property name="toolbars">
            <list>
                <bean class="org.jahia.services.toolbar.bean.Toolbar">
                	<property name="items">
                		<list>
			                <ref bean="org.jahia.toolbar.item.edit"/>
			                <ref bean="org.jahia.toolbar.item.delete"/>
			                <ref bean="org.jahia.toolbar.item.Separator"/>
			                <ref bean="org.jahia.toolbar.item.copy"/>
			                <ref bean="org.jahia.toolbar.item.cut"/>
			                <ref bean="org.jahia.toolbar.item.paste"/>
			                <ref bean="org.jahia.toolbar.item.pasteReference"/>
                		</list>
                	</property>
        			<property name="contextMenu" value="true"/>
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="org.jahia.toolbar.sidePanel.images" class="org.jahia.services.toolbar.bean.ToolbarSet">
        <property name="toolbars">
            <list>
                <bean class="org.jahia.services.toolbar.bean.Toolbar">
                	<property name="items">
                		<list>
                			<ref bean="org.jahia.toolbar.item.createFolder"/>
                			<ref bean="org.jahia.toolbar.item.upload"/>
			                <ref bean="org.jahia.toolbar.item.Separator"/>
                			<ref bean="org.jahia.toolbar.item.rename"/>
                			<ref bean="org.jahia.toolbar.item.delete"/>
                		</list>
                	</property>
        			<property name="contextMenu" value="true"/>
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="org.jahia.toolbar.sidePanel.images.preview" class="org.jahia.services.toolbar.bean.ToolbarSet">
        <property name="toolbars">
            <list>
                <bean class="org.jahia.services.toolbar.bean.Toolbar">
                	<property name="items">
                		<list>
			                <ref bean="org.jahia.toolbar.item.download"/>
			                <ref bean="org.jahia.toolbar.item.preview"/>
			                <ref bean="org.jahia.toolbar.item.Separator"/>
			                <ref bean="org.jahia.toolbar.item.rename"/>
			                <ref bean="org.jahia.toolbar.item.delete"/>
			                <ref bean="org.jahia.toolbar.item.Separator"/>
			                <ref bean="org.jahia.toolbar.item.copy"/>
			                <ref bean="org.jahia.toolbar.item.cut"/>
			                <ref bean="org.jahia.toolbar.item.paste"/>
			                <ref bean="org.jahia.toolbar.item.pasteReference"/>
			                <ref bean="org.jahia.toolbar.item.Separator"/>
			                <ref bean="org.jahia.toolbar.itemsgroup.ContentManager.menu.image"/>
                		</list>
                	</property>
        			<property name="contextMenu" value="true"/>
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="org.jahia.toolbar.sidePanel.files" class="org.jahia.services.toolbar.bean.ToolbarSet">
        <property name="toolbars">
            <list>
                <bean class="org.jahia.services.toolbar.bean.Toolbar">
                	<property name="items">
                		<list>
                			<ref bean="org.jahia.toolbar.item.createFolder"/>
                			<ref bean="org.jahia.toolbar.item.upload"/>
			                <ref bean="org.jahia.toolbar.item.Separator"/>
                			<ref bean="org.jahia.toolbar.item.rename"/>
                			<ref bean="org.jahia.toolbar.item.delete"/>
                		</list>
                	</property>
        			<property name="contextMenu" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="org.jahia.toolbar.sidePanel.files.preview" class="org.jahia.services.toolbar.bean.ToolbarSet">
        <property name="toolbars">
            <list>
                <bean class="org.jahia.services.toolbar.bean.Toolbar">
                	<property name="items">
                		<list>
			                <ref bean="org.jahia.toolbar.item.download"/>
			                <ref bean="org.jahia.toolbar.item.preview"/>
			                <ref bean="org.jahia.toolbar.item.Separator"/>
			                <ref bean="org.jahia.toolbar.item.rename"/>
			                <ref bean="org.jahia.toolbar.item.delete"/>
			                <ref bean="org.jahia.toolbar.item.Separator"/>
			                <ref bean="org.jahia.toolbar.item.copy"/>
			                <ref bean="org.jahia.toolbar.item.cut"/>
			                <ref bean="org.jahia.toolbar.item.paste"/>
			                <ref bean="org.jahia.toolbar.item.pasteReference"/>
                		</list>
                	</property>
        			<property name="contextMenu" value="true"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>