/******************************************************************************
*  box8 icon mixin
******************************************************************************/
 .box8-icon{
	height:48px;
	width:48px;
	display:block;
	line-height:48px;
	position:absolute;
	background-repeat:no-repeat;
	background-position: top left;
	right:8px;
	top:-8px;
}
 .box8-title-icon{
	line-height:32px;
	position:relative;
}
/******************************************************************************
*  box8
******************************************************************************/
 div.box8 {
	position:relative;
	clear:both;
	margin-bottom:1em;
}

 div.box8-content {
	height:1%;
	background:none ;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
    border: 1px solid #e5e5e5;
	border-top:none;
    padding: 5px 10px;
	overflow:hidden;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	margin-bottom:10px;
}
 div.box8-content p {
	padding:0px 0px 1em 0px;
}

/*box8 title*/
 h4.box8-title {
    background:none ;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
	color:#333;
	font-size:1em;
	margin-left:0;
	padding:5px;
	font-weight:normal;
	clear:both;
	margin:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
    padding: 5px 10px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
 h4.box8-titleblack {
	background:none ;
	background-color:#333;
	border:1px solid #000;
	color:#fff;
}
 h4.box8-titlegrey {
	background:none ;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
}
 h4.box8-titlemushroom {
	background:none ;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
}
 h4.box8-titleorange {
	background:none ;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
}
 h4.box8-titlered {
	background:none ;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
}
 h4.box8-titlegreen {
	background:none ;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
}
 h4.box8-titlepurple {
	background:none ;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
}
 h4.box8-titleyellow {
	background:none ;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
}
 h4.box8-titleblue {
	background:none ;
	background-color:#f5f5f5;
	border:1px solid #e5e5e5;
}
