 .navigation {
	position:relative;
}
 .navigation .navbar {
	background-image: url('img/navbar-bg.png');
	background-repeat: no-repeat;
	width: 820px;
	float: left;
}
 .navigation .navbar ul.navmenu {
	margin-top: 2px;
	margin-left: 30px;
	list-style: none
}
 .navigation .navbar ul.navmenu li {
	float: left;
	line-height: 36px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 15px;
	position:relative;
	z-index:898;
}
  .navigation .navbar ul.navmenu li ul li {
	display: block;
	float: none;
}
 .navigation .navbar ul.navmenu li a {
	color: #333;
	font-size: 1.1em;
	line-height: 36px;
	white-space:pre
}
 .navigation .navbar ul.navmenu li.hasChildren:hover,
 .navigation .navbar ul.navmenu li.noChildren:hover {
	background-image: url(img/nav-bg.png);
	background-color: #2050a8;
	background-repeat: repeat-x;
	background-position:top left;
	border-color: #df6b04;
	line-height: 36px;
	position: relative;
	z-index:899;
}
 .navigation .navbar ul.navmenu li.hasChildren:hover a,
 .navigation .navbar ul.navmenu li.noChildren:hover a {
	color: #ffffff;
	text-decoration: none;
}
 .navigation .navbar ul.navmenu li.hasChildren:hover div,
 .navigation .navbar ul.navmenu li.noChildren:hover div {
	display: block;
	margin-top: -1px;
}
 .navigation .navbar ul.navmenu li.hasChildren:hover div ul li a,
 .navigation .navbar ul.navmenu li.noChildren:hover div ul li a {
	color: #3b3b3a;
	white-space: normal
}
 .navigation .navbar ul.navmenu li.hasChildren {
	background-image: url(img/arrow-down.png);
	background-repeat: no-repeat; background-position: right 17px;
	position: relative;
}
 .navigation .navbar ul.navmenu li.hasChildren a {
	color: #333;
}

 .navigation .navbar ul.navmenu li.hasChildren div {
	display: none;
	left: -1px;
	top: 36px;
	border: 1px solid #CECECE;
	position: absolute;
	z-index:999;
}

 .navigation .navbar ul.navmenu li.hasChildren div ul {
	list-style: none;
	padding: 10px 4px;
	width: 190px;
	background-color: #f4f4f4;
	overflow: hidden;
	border: 1px solid #ffffff;
	margin:0px;

}
 .navigation .navbar ul.navmenu li.hasChildren div ul li {
	padding: 5px;
	padding-left: 10px;
	line-height: 20px;
	width:162px;
}
 .navigation .navbar ul.navmenu li.hasChildren div ul li a {
	color: #333;
	line-height: 20px;
}
 .navigation .navbar ul.navmenu li.hasChildren div ul li a:hover {
	color: #3366cc;
	text-decoration: none;
}
 .navigation .navbar ul.navmenu li.home{
	line-height:17px;
}
 .navigation .navbar ul.navmenu li.home a {
	display: block;
	height: 17px;
	line-height:17px;
	width: 25px;
	text-indent: -9999px;
	padding-right: 0px;
	margin-right: 0px;
	margin-top: 13px;
	background-image: url(img/icon-home.png);
	background-repeat: no-repeat;
}
 .navigation .navbar ul.navmenu li.home a:hover {
	background-image: url(img/icon-home-over.png);
}

 .navigation .navbar ul.level_2 li.hasChildren:hover,
 .navigation .navbar ul.level_2 li.noChildren:hover {
	background-image: none;
	background-color: transparent;
	border-color: #none;
	line-height: 20px;
	position: inherit;
}
