@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'), url(fonts/XvilrNtBQKRMeiqSPzEFHdj3jEPHYvfoh7wL9kai_ws.woff) format('woff');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Sans Light'), local('NunitoSans-Light'), url(fonts/XvilrNtBQKRMeiqSPzEFHR_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(fonts/iJ4p9wO0GDKJ-D5teKuZqobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url(fonts/XvilrNtBQKRMeiqSPzEFHTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'), url(fonts/XvilrNtBQKRMeiqSPzEFHUCDe67GEgBv_HnyvHTfdew.woff) format('woff');
}
