#bodywrapperpopup .clear {
	clear:both;
}
#bodywrapperpopup .leftside{
	float:left
}
#bodywrapperpopup .rightside{
	float: right
}
/******************************************************************************
* Body
******************************************************************************/
body {
	color:#333;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	line-height:normal;
	font-size:80%;
	line-height:160%;
}
/******************************************************************************
*  content
******************************************************************************/
#bodywrapperpopup #content{
	background-color:#eaeaea;
	padding:10px;
	position:relative;
	border:10px solid #c9e2fb
}
/******************************************************************************
* Form
******************************************************************************/
#bodywrapperpopup .Form  p{
	clear:both;
	margin:0.2em 0;
	padding:0px;
	boreder
}
#bodywrapperpopup .Form { 
	margin:0;
	overflow:hidden;
}
#bodywrapperpopup .formMarginLeft{ 
	margin:0 0 0 50px;
	padding:0 1em 0 13px;
}
#bodywrapperpopup .Form label.left {
	float:left; 
	width:70px;
	margin:0 5px 0 5px;
	padding:2px;
}
#bodywrapperpopup .divButton{
	text-align:center;
	margin:10px 0;
}
#bodywrapperpopup .field {
	width:93%;
	display:block;
	background-color:transparent;
	background:#f6f6f6 url(../img/input_bg.png) repeat-x top left;
	border:1px solid #ccc;
	color:#666;
	padding:4px 5px;
	background-color:#f6f6f6;
}
#bodywrapperpopup .alert {
	font-size:0.8em;
	color:#999999;	
	line-height:100%
}
/******************************************************************************
*  general
******************************************************************************/
#bodywrapperpopup img 			{ border: 0px;}

#bodywrapperpopup a,
#bodywrapperpopup a:link,
#bodywrapperpopup a:visited {
	color:#3366cc;
	text-decoration:none;
}
#bodywrapperpopup a:hover,
#bodywrapperpopup a:active {
	color:#3366cc;
	text-decoration:underline;
}
#bodywrapperpopup p {
	padding:1em 0 1em 0;
}
#bodywrapperpopup ul {
	list-style-type:square;
	list-style-position:outside;
	margin-bottom:6px;
	margin-left:20px;
	margin-top:6px;
}
#bodywrapperpopup ol  {
	margin:1em 0 1em 2em;
	padding:0;
	list-style-position:outside;
}
#bodywrapperpopup ol li {
	margin:0;
	padding:0;
	background: none;
	list-style: decimal
}
#bodywrapperpopup ul li {
	margin-bottom:2px;
	padding-left:8px;
}
#bodywrapperpopup div.intro{
	font-size:16px;
	font-style:italic;
	line-height:22px;
}
#bodywrapperpopup div.intro p{
	padding:10px 0;
}
#bodywrapperpopup p.intro {
	font-size:1.3em;
	line-height:1.4em;
}

#bodywrapperpopup h1 {
	color:#666666;
	font-weight:normal;
	font-size:2.8em;
	line-height:normal;
	padding:0 0 0.5em 0;
}
#bodywrapperpopup h2.pagetitle {
	margin:0;
	padding:0;
	color:#666666;
	font-weight:normal;
	font-size:2.8em;
	line-height:normal;
	padding:0 0 0.5em 0;
	background:none;
}
#bodywrapperpopup h2 {
	font-weight:normal;
	font-size:2em;
	padding-bottom:20px;
	margin-bottom:10px;
	margin-top:15px;
	background:transparent url(../img/hr-bg.png) repeat-x bottom left;

}

#bodywrapperpopup h3 {
	font-weight:normal;
	font-size:1.6em;
	margin-bottom:10px;
	margin-top:10px;
}

#bodywrapperpopup h4 {
	font-weight:bold;
	font-size:1.4em;
	margin-bottom:10px;
	margin-top:10px;
}
#bodywrapperpopup h5 {
	font-weight:bold;
	font-size:1.2em;
}

#bodywrapperpopup .fieldset {
	padding:0.5em;
	border:1px solid #ccc;
	margin:0.5em 0;
}
#bodywrapperpopup legend {
	font-size:1em;
	color:#333;
	padding:0 0.5em;
	background:#3297cb url(../img/contactformlegend.png) repeat-x bottom left;
	border:1px solid #ccc;
	display:inline;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase
}

#bodywrapperpopup hr {
	height:2px;
	background:transparent url(../img/hr-bg.png) repeat-x bottom left;
	border: none;
	margin : 18px 0;
}
#bodywrapperpopup blockquote {
	background:#E0E0E0 none repeat scroll 0 0;
	border:1px solid #A5A5A5;
	font-size:1.1em;
	font-style:italic;
	line-height:18px;
	margin-bottom:15px;
	margin-top:15px;
	padding:20px;

}
#bodywrapperpopup textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%
}
#bodywrapperpopup p.field{
	margin-bottom:0.2em
}
#bodywrapperpopup input,
#bodywrapperpopup select,
#bodywrapperpopup textarea {

}
/******************************************************************************
*  Button
******************************************************************************/
#bodywrapperpopup .divButtonRight{
	text-align:right;
}
#bodywrapperpopup input.button, #bodywrapperpopup button {
	margin-right:0.5em;
}

#bodywrapperpopup input.button, #bodywrapperpopup button {
	background:#043b9d url(../img/bg-button.png) repeat-x top left;
	border:1px solid #003399;
	color:#fff;
	text-align:center;
	padding:3px 15px;
	-moz-border-radius:	3px;
	-webkit-border-radius: 3px;

}
#bodywrapperpopup button:hover,  #bodywrapperpopup button:hover {
	cursor: pointer;
	background:#3297cb url(../img/bg-button-on.png) repeat-x bottom left;
	color:#fff;
}
/******************************************************************************
*  error
******************************************************************************/

