.x-hide-display {
    display: none !important;
}
.x-panel-buttons-layer {
    top:0px;
    left:0px;
    position:absolute;
    z-index: 99999;
    background-color:#fff;
    border:1px solid #ccc;
    padding:10px;
}
.x-insert-bar {
    position: absolute;
    z-index: 99999;
}

.x-insert-bar td {
    line-height: 1px;
    font-size: 1px;
}

.x-insert-left {
    background: url(../images/gxt/dd/insert-bg.gif) no-repeat;
}

.x-insert-mid {
    background: url(../images/gxt/dd/insert-bg.gif) repeat-x 0 -12px;
}

.x-insert-right {
    background: url(../images/gxt/dd/insert-bg.gif) no-repeat 0px -6px;
}

.x-panel-linker {
    background : #ffffcc url(../images/xtheme-jahia-andromeda/panel/panellinker.png) top left;
    color: #000 !important;
    font-weight: bold;
    border:1px solid #ffcc33;
    padding: 10px 5px ;
    vertical-align: middle;
    horizontal-align:middle;
    margin-bottom:10px;
    margin-top:5px;
    text-align:center;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}
.x-panel-linker p {
    margin:0 !important;
    padding:0 !important;
}
.x-panel-linker p.linkPath {
    margin:0 !important;
    padding:0 !important;
}
.x-panel-linker p.linkAction {
    color:#FF0000
}


/** styles added for list module in order to make them as nice as jahia6 **/

.x-panel-header-simplemodule {
    background-color: #eaeaea;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding:3px 5px;
    color: #333 !important;
    margin-bottom:10px;
    display:block;
    overflow:hidden;
    text-shadow: none !important;
    line-height: 100%;
}

.x-panel-header-listmodule {
    background-color: #999;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding:3px 5px;
    color: #333 !important;
    margin-bottom:10px;
    display:block;
    overflow:hidden;
    text-shadow: none !important;
    line-height: 100%;
}

.x-panel-header-areamodule {
    background-color: #333 !important;
    font-family: tahoma,arial,verdana,sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    margin-bottom:10px;
    display:block;
    overflow:hidden;
    text-shadow: none !important;
    color: #fff !important;
    line-height: 100%;
}

.x-panel-header-text-areamodule {

}

.x-panel-header-absoluteAreamodule {
    background-color: #cc6666 !important;
    font-family: tahoma,arial,verdana,sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    margin-bottom:10px;
    display:block;
    overflow:hidden;
    text-shadow: none !important;
    color: #ffffff !important;
    line-height: 100%;
}
.x-panel-header-text-absoluteAreamodule {

}
.x-panel-header-lockedmodule {
    background-color: #000 !important;
    font-family: tahoma,arial,verdana,sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    margin-bottom:10px;
    display:block;
    overflow:hidden;
    text-shadow: none !important;
    color: #ffffff !important;
    line-height: 100%;
}

.x-panel-placeholder {
    margin-bottom: 10px;
}

.x-panel-toolbar {
    float: right;
}

.label-placeholder, div.button-placeholder  {
    display:inline-block;
}
.label-placeholder {
    display:none;
}

button.button-placeholder, div.button-placeholder {
    font-family:tahoma,arial,verdana,sans-serif;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    text-transform:none;
    background-color: #b7b7b7 ;
    border:none;
    color:#fff;
    padding:3px 5px;
    margin:0 0 1px 1px;
    cursor:pointer;
    line-height:15px !important;
    text-shadow: none !important;
    width: auto !important;
    display: block;
    line-height: 100%;
}
button.button-placeholder:hover,  div.button-placeholder:hover {
    background-color: #39f ;
}
button.button-placeholder img, div.button-placeholder img   {
    margin-right:5px;
}

button.button-enabledisable, div.button-enabledisable {
    font-family: tahoma,arial,verdana,sans-serif;
    font-variant: small-caps;
    font-size:10px;
    font-weight:bold;
    text-align:center;
    text-transform:none;
    background-color:#39f ;
    border:none;
    color:#fff;
    padding:4px;
    margin:0 0 0 1px;
    cursor:pointer;
    line-height:15px !important;
    text-shadow: none !important;
    margin: -5px;
    line-height: 100%;
}


.selection-top-list {
    border-top: 1px solid #cc0033;
}
.selection-bottom-list {
    border-bottom: 1px solid #cc0033;
    margin-top: -1px;
}
.selection-left-list {
    border-left: 1px solid #cc0033;
}
.selection-right-list {
    border-left: 1px solid #cc0033;
    margin-left: -1px;
}



.selection-top-simple {
    border-top: 1px solid #cc0033;
}
.selection-bottom-simple {
    border-bottom: 1px solid #cc0033;
    margin-top: -1px;
}
.selection-left-simple {
    border-left: 1px solid #cc0033;
}
.selection-right-simple {
    border-left: 1px solid #cc0033;
    margin-left: -1px;
}


.selection-top-area {
    border-top: 1px solid #cc0033;
}
.selection-bottom-area {
    border-bottom: 1px solid #cc0033;
    margin-top: -1px;
}
.selection-left-area {
    border-left: 1px solid #cc0033;
}
.selection-right-area {
    border-left: 1px solid #cc0033;
    margin-left: -1px
}


.hover-top-list {
    border-top: 1px solid #39f;
}
.hover-bottom-list {
    border-bottom: 1px solid #39f;
    margin-top: -1px;
}
.hover-left-list {
    border-left: 1px solid #39f;
}
.hover-right-list {
    border-left: 1px solid #39f;
    margin-left: -1px;
}

.hover-top-simple {
    border-top: 1px solid #39f;
}
.hover-bottom-simple {
    border-bottom: 1px solid #39f;
    margin-top: -1px;
}
.hover-left-simple {
    border-left: 1px solid #39f;
}
.hover-right-simple {
    border-left: 1px solid #39f;
    margin-left: -1px;
}


.hover-top-area {
    border-top: 1px solid #39f;
}
.hover-bottom-area {
    border-bottom: 1px solid #39f;
    margin-top: -1px;
}
.hover-left-area {
    border-left: 1px solid #39f;
    margin-right: -1px;
}
.hover-right-area {
    border-left: 1px solid #39f;
    margin-left: -1px;
}


.hover-top-list-secondary {
    border-top: 0px solid #999;
}
.hover-bottom-list-secondary {
    border-bottom: 0px solid #999;
    margin-top: -1px;
}
.hover-left-list-secondary {
    border-left: 0px solid #999;
}
.hover-right-list-secondary {
    border-left: 0px solid #999;
    margin-left: -1px;
}


.hover-top-simple-secondary {
    border-top: 0px solid #999;
}
.hover-bottom-simple-secondary {
    border-bottom: 0px solid #999;
    margin-top: -1px;
}
.hover-left-simple-secondary {
    border-left: 0px solid #999;
}
.hover-right-simple-secondary {
    border-right: 0px solid #999;
    margin-right: -1px;
}


.hover-top-area-secondary {
    border-top: 0px solid #999;
}
.hover-bottom-area-secondary {
    border-bottom: 0px solid #999;
    margin-top: -1px;
}
.hover-left-area-secondary {
    border-left: 0px solid #999;
}
.hover-right-area-secondary {
    border-right: 0px solid #999;
    margin-right: -1px;
}

/****************************************************************************/
.deleted-overlay {
    overflow: hidden;
    background :#eaeaea url(../images/deleted-overlay.png) top left;
    color:#f00;
    font-weight:bold;
    border: 1px solid #ccc;
}

.studiomodeArea {
    border: 1px dashed #333;
    padding: 5px;
    margin-bottom: 5px;

}
.editmodeArea  {
}
.studiovisualmodeArea  {


}

.jahia-template-gxt  {
    margin-bottom: 10px;
}
.studiomodeDisabledArea {
    min-height:100px;
    overflow: hidden;
    background-color:#d8effb;
    padding:2px;
    color:#111;
    position:relative;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
    margin-bottom: 10px;
    border: 1px solid #99ccff;
}

.AreaInformation{
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    color: #666665 !important;
    margin-bottom:10px;
    display:block;
    overflow:hidden;
}
.studiomodeAbsoluteArea {
    min-height:100px;
    overflow: hidden;
    background-color:#ffcccc;
    padding:2px;
    color:#111;
    position:relative;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
    margin-bottom: 10px;
    border: 1px solid #cc6666;
}

.studiovisualmodeAbsoluteArea {
    min-height:100px;
    overflow: hidden;
    background-color:#ffcccc;
    padding:2px;
    color:#111;
    position:relative;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
    margin-bottom: 10px;
    border: 1px solid #cc6666;
}

.mainResourceDisplay {
    min-height:100px;
    overflow:hidden;
    background-color:#eaeaea;
    padding:2px;
    color:#111;
    position:relative;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.authorDisplayArea {
    min-height:100px;
    overflow: hidden;
    padding:2px;
    color:#111;
    position:relative;
    background:#d8effb url(../images/authorDisplayArea-bg.png) no-repeat scroll 50% 100% ;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
    margin-bottom: 10px;
    border: 1px solid #99ccff;
}
.areaTemplate {
    min-height:100px;
    overflow: hidden;
    background-color:#d8effb;
    padding:2px;
    color:#111;
    position:relative;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
    margin-bottom: 10px;
    border: 1px solid #99ccff;
}

.area-liveOnly {
    min-height:100px;
    overflow: hidden;
    background:#ccffcc url(../images/area-liveonly-bg.png) no-repeat scroll 50% 50% ;
    padding:2px;
    color:#111;
    position:relative;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
    margin-bottom: 10px;
    border: 1px solid #99cc99;
}
.dashedArea {
    background : url(../images/placeholder-area.png) top left;
    height:100%;
}
.area-notcreated .dashedArea {
    background : url(../images/area-notcreated.png) top left;
    height:100%;
}

.area-liveOnly .dashedArea {
    background : url(../images/area-liveOnly.png) top left;
    height:100%;
}

.x-form-readonly input {
    background-color: transparent;
    border: 0;
}

.deleted-overlay {
    position: absolute;
    vertical-align: middle;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.markedForDeletion {
    text-decoration:line-through;
}

.noEditModeAccess {
    background: #FF9999;
}

.x-tool-pin {
    overflow:hidden;
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
    background:transparent no-repeat;
    margin-right:2px;
    background-image:url(../images/default/panel/tool-sprites.gif);
    background-position:0 -135px;
}
.x-tool-pin-over {
    overflow:hidden;
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
    background:transparent no-repeat;
    margin-right:2px;
    background-image:url(../images/default/panel/tool-sprites.gif);
    background-position:-15px -135px;
}
.x-tool-unpin {
    overflow:hidden;
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
    background:transparent no-repeat;
    margin-right:2px;
    background-image:url(../images/default/panel/tool-sprites.gif);
    background-position:0 -150px;
}
.x-tool-unpin-over {
    overflow:hidden;
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
    background:transparent no-repeat;
    margin-right:2px;
    background-image:url(../images/default/panel/tool-sprites.gif);
    background-position:-15px -150px;
}
.x-panel-inline-icon   {
    margin-right:5px ;
}