.x-hide-display {
    display: none !important;
}
.x-panel-buttons-layer {
    top:0px;
    left:0px;
    position:absolute;
    z-index: 99999;
    background-color:#fff;
    border:1px solid #ccc;
    padding:10px;
}
.x-insert-bar {
    position: absolute;
    z-index: 99999;
}

.x-insert-bar td {
    line-height: 1px;
    font-size: 1px;
}

.x-insert-left {
    background: url(../images/gxt/dd/insert-bg.gif) no-repeat;
}

.x-insert-mid {
    background: url(../images/gxt/dd/insert-bg.gif) repeat-x 0 -12px;
}

.x-insert-right {
    background: url(../images/gxt/dd/insert-bg.gif) no-repeat 0px -6px;
}

.x-panel-linker {
    background : #ffffcc url(../images/xtheme-jahia-andromeda/panel/panellinker.png) top left;
    color: #000 !important;
    font-weight: bold;
    border:1px solid #ffcc33;
    padding: 10px 5px ;
    vertical-align: middle;
    horizontal-align:middle;
    margin-bottom:5px;
    margin-top:5px;
    text-align:center;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}
.x-panel-linker p {
    margin:0 !important;
    padding:0 !important;
}
.x-panel-linker p.linkPath {
    margin:0 !important;
    padding:0 !important;
}
.x-panel-linker p.linkAction {
    color:#FF0000
}


/** styles added for list module in order to make them as nice as jahia6 **/

.x-panel-header-simplemodule {
    box-shadow:1px 1px 0 #fff inset,-1px -1px 0 #fff inset;
    background:-moz-linear-gradient(#fff,#eaeaea) repeat scroll 0 0 transparent;
    background:-webkit-linear-gradient(#fff,#eaeaea) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#eaeaea));
    background:-o-linear-gradient(#fff,#eaeaea) repeat scroll 0 0 transparent;
    background:linear-gradient(#fff,#eaeaea) repeat scroll 0 0 transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#eaeaea');
    border:1px solid #ccc;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 2px 2px 4px;
    color: #666665 !important;
    margin-bottom:2px;
    display:block;
    overflow:hidden;
    text-shadow: 0;
    line-height: 20px;
}

.x-panel-header-listmodule {
    box-shadow:1px 1px 0 #c3e8ff inset,-1px -1px 0 #c3e8ff inset;
    background:-moz-linear-gradient(#99ccff,#3399ff) repeat scroll 0 0 transparent;
    background:-webkit-linear-gradient(#99ccff,#3399ff) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,from(#99ccff),to(#3399ff));
    background:-o-linear-gradient(#99ccff,#3399ff) repeat scroll 0 0 transparent;
    background:linear-gradient(#99ccff,#3399ff) repeat scroll 0 0 transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ccff',endColorstr='#3399ff');
    border:1px solid #3366ff;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 2px 2px 4px;
    color: #333 !important;
    margin-bottom:2px;
    display:block;
    overflow:hidden;
    text-shadow: 0;
    line-height: 20px;
}

.x-panel-header-areamodule {
    box-shadow:1px 1px 0 #fff inset,-1px -1px 0 #fff inset;
    background:-moz-linear-gradient(#e8e9e9,#d4d4d4) repeat scroll 0 0 transparent;
    background:-webkit-linear-gradient(#e8e9e9,#d4d4d4) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,from(#e8e9e9),to(#d4d4d4));
    background:-o-linear-gradient(#e8e9e9,#d4d4d4) repeat scroll 0 0 transparent;
    background:linear-gradient(#e8e9e9,#d4d4d4) repeat scroll 0 0 transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e9e9',endColorstr='#d4d4d4');
    border:1px solid #898989;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 2px 2px 4px;
    color: #666665 !important;
    margin-bottom:2px;
    display:block;
    overflow:hidden;
    text-shadow: 0;
    line-height: 20px;
}
.x-panel-header-absoluteAreamodule {
    box-shadow:1px 1px 0 #95a8bd inset,-1px -1px 0 #95a8bd inset;
    background:-moz-linear-gradient(#8191a3,#586370) repeat scroll 0 0 transparent;
    background:-webkit-linear-gradient(#8191a3,#586370) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,from(#8191a3),to(#586370));
    background:-o-linear-gradient(#8191a3,#586370) repeat scroll 0 0 transparent;
    background: linear-gradient(#8191a3,#586370) repeat scroll 0 0 transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8191a3',endColorstr='#586370');
    border: 1px solid #30363d;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    padding: 2px 2px 2px 4px;
    color: #fff !important;
    font-weight: bold;
    margin-bottom:2px;
    display:block;
    overflow:hidden;
    text-shadow: 0;
    line-height: 20px;
}

.x-panel-header-lockedmodule {
    box-shadow:1px 1px 0 #999 inset,-1px -1px 0 #999 inset;
    background:-moz-linear-gradient(#333,#000) repeat scroll 0 0 transparent;
    background:-webkit-linear-gradient(#333,#000) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,from(#333),to(#000));
    background:-o-linear-gradient(#333,#000) repeat scroll 0 0 transparent;
    background:linear-gradient(#333,#000) repeat scroll 0 0 transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333',endColorstr='#000');
    border:1px solid #000;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 2px 2px 4px;
    color: #ccc !important;
    margin-bottom:2px;
    display:block;
    overflow:hidden;
    text-shadow: 0;
    line-height: 20px;
}

.x-panel-placeholder {
    background : #dfe8f6 url(../images/placeholder-area.png) top left;
    border: 1px solid #a3bae9;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    padding: 2px 4px;
    color: #333 !important;
    font-weight: bold;
    margin-bottom:2px;
    display:block;
    overflow:hidden;
    text-shadow: 0;
    line-height: 20px;
}

.x-panel-toolbar {
  float: right;
}

.label-placeholder, div.button-placeholder  {
    display:inline-block;
}

button.button-placeholder, div.button-placeholder {
    font-family:tahoma,arial,verdana,sans-serif;
    font-size:10px;
    font-weight:bold;
    text-align:center;
    text-transform:none;
    background-color:#3399ff ;
    border:none;
    color:#fff;
    border:1px solid #006699 !important;
    padding:1px;
    margin:0 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    cursor:pointer;
    line-height:15px !important;
}
button.button-placeholder:hover,  div.button-placeholder:hover {
    background-color: #006699;
}

.selection-top-list {
    border-top: 1px solid #cc0033;
}
.selection-bottom-list {
    border-bottom: 1px solid #cc0033;
}
.selection-left-list {
    border-left: 1px solid #cc0033;
}
.selection-right-list {
    border-right: 1px solid #cc0033;
}



.selection-top-simple {
    border-top: 1px solid #cc0033;
}
.selection-bottom-simple {
    border-bottom: 1px solid #cc0033;
}
.selection-left-simple {
    border-left: 1px solid #cc0033;
}
.selection-right-simple {
    border-right: 1px solid #cc0033;
}


.selection-top-area {
    border-top: 1px solid #cc0033;
}
.selection-bottom-area {
    border-bottom: 1px solid #cc0033;
}
.selection-left-area {
    border-left: 1px solid #cc0033;
}
.selection-right-area {
    border-right: 1px solid #cc0033;
}


.hover-top-list {
    border-top: 1px solid #39f;
}
.hover-bottom-list {
    border-bottom: 1px solid #39f;
}
.hover-left-list {
    border-left: 1px solid #39f;
}
.hover-right-list {
    border-right: 1px solid #39f;
}

.hover-top-simple {
    border-top: 1px solid #39f;
}
.hover-bottom-simple {
    border-bottom: 1px solid #39f;
}
.hover-left-simple {
    border-left: 1px solid #39f;
}
.hover-right-simple {
    border-right: 1px solid #39f;
}


.hover-top-area {
    border-top: 1px solid #39f;
}
.hover-bottom-area {
    border-bottom: 1px solid #39f;
}
.hover-left-area {
    border-left: 1px solid #39f;
}
.hover-right-area {
    border-right: 1px solid #39f;
}


.hover-top-list-secondary {
    border-top: 0px solid #999;
}
.hover-bottom-list-secondary {
    border-bottom: 0px solid #999;
}
.hover-left-list-secondary {
    border-left: 0px solid #999;
}
.hover-right-list-secondary {
    border-right: 0px solid #999;
}


.hover-top-simple-secondary {
    border-top: 0px solid #999;
}
.hover-bottom-simple-secondary {
    border-bottom: 0px solid #999;
}
.hover-left-simple-secondary {
    border-left: 0px solid #999;
}
.hover-right-simple-secondary {
    border-right: 0px solid #999;
}


.hover-top-area-secondary {
    border-top: 0px solid #999;
}
.hover-bottom-area-secondary {
    border-bottom: 0px solid #999;
}
.hover-left-area-secondary {
    border-left: 0px solid #999;
}
.hover-right-area-secondary {
    border-right: 0px solid #999;
}

/****************************************************************************/
.deleted-overlay {
    overflow: hidden;
    background :#eaeaea url(../images/deleted-overlay.png) top left;
    color:#f00;
    border: 1px dashed #ccc;
    font-weight:bold;
}

.studiomodeDisabledArea {
    min-height:100px;
    overflow: hidden;
    background-color:#d8effb;
    padding:2px;
    color:#111;
    position:relative;
    border: 1px dashed #99ccff;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
}
.studiomodeAreaTemplate{
    /* background-color: #336699;
    border:1px solid #003366;
    color:#111;
    padding:5px;
    left: 25%;
    top: 25%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-family: tahoma, arial, verdana, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;*/
}
.studiolayoutmodeArea {
    min-height:100px;
    overflow: hidden;
    background-color:#d8effb;
    padding:2px;
    color:#111;
    position:relative;
    border: 1px dashed #99ccff;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
}
.studiolayoutmodeDisabledArea {
    min-height:100px;
    overflow: hidden;
    background-color:#d8effb;
    padding:2px;
    color:#111;
    position:relative;
    border: 1px dashed #99ccff;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
}
.studiolayoutmodeAreaTemplate{
    /*background-color: #336699;*/
    /*border:1px solid #003366;
    color:#111;
    padding:5px;
    position:absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-family: tahoma, arial, verdana, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;*/
}
.studiolayoutmodeBlockedArea {
    min-height:100px;
    overflow: hidden;
    background-color: #d4ffd3;
    padding:2px;
    color:#111;
    position:relative;
    border: 1px dashed #aeff9b;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
}
.AreaInformation{
    color:#666;
}
.studiomodeAbsoluteArea {
    min-height:100px;
    overflow: hidden;
    background-color:#ffcccc;
    padding:2px;
    color:#111;
    position:relative;
    border: 1px dashed #cc6666;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
}
.studiomodeAbsoluteAreaTemplate{
    /*background-color: #c30;
    border:1px solid #990000;
    color:#111;
    padding:5px;
    left: 25%;
    top: 25%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-family: tahoma, arial, verdana, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;*/
}
.studiolayoutmodeAbsoluteArea {
    min-height:100px;
    overflow: hidden;
    background-color:#ffcccc;
    padding:2px;
    color:#111;
    position:relative;
    border: 1px dashed #cc6666;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
}
.studiolayoutmodeAbsoluteAreaTemplate{
    /*background-color: #c30;
    border:1px solid #990000;
    color:#111;
    padding:5px;
    position:absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-family: tahoma, arial, verdana, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;*/
}
.mainResourceDisplay {
    min-height:100px;
    overflow:hidden;
    background-color:#eaeaea;
    padding:2px;
    color:#111;
    position:relative;
    border: 1px dashed #333;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
}
.mainResourceDisplayTemplate{
    /*background-color: #333;
    border:1px solid #000;
    color:#fff;
    padding:5px;
    position:absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-family: tahoma, arial, verdana, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;*/
}
.authorDisplayArea {
    min-height:100px;
    overflow: hidden;
    padding:2px;
    color:#111;
    position:relative;
    border: 1px dashed #99ccff;
    background:#d8effb url(../images/authorDisplayArea-bg.png) no-repeat scroll 50% 100% ;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
}
.authorDisplayTemplate{
    /*background-color: #336699;
    border:1px solid #003366;
    color:#fff;
    padding:5px;
    position:absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-family: tahoma, arial, verdana, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999; */
}
.area-liveOnly {
    min-height:100px;
    overflow: hidden;
    background:#ccffcc url(../images/area-liveonly-bg.png) no-repeat scroll 50% 50% ;
    padding:2px;
    color:#111;
    position:relative;
    border: 1px dashed #99cc99;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size:11px;
}
.dashedArea {
    background : url(../images/placeholder-area.png) top left;
    height:100%;
}
.area-notcreated .dashedArea {
    background : url(../images/area-notcreated.png) top left;
    height:100%;
}

.area-liveOnly .dashedArea {
    background : url(../images/area-liveOnly.png) top left;
    height:100%;
}

.x-form-readonly input {
    background-color: transparent;
    border: 0;
}

.deleted-overlay {
    position: absolute;
    vertical-align: middle;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.markedForDeletion {
    text-decoration:line-through;
}

.noEditModeAccess {
    background: #FF9999;
}

.x-tool-pin {
    overflow:hidden;
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
    background:transparent no-repeat;
    margin-left:2px;
    background-image:url(../images/default/panel/tool-sprites.gif);
	background-position:0 -135px;
}
.x-tool-pin-over {
    overflow:hidden;
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
    background:transparent no-repeat;
    margin-left:2px;
    background-image:url(../images/default/panel/tool-sprites.gif);
	background-position:-15px -135px;
}
.x-tool-unpin {
    overflow:hidden;
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
    background:transparent no-repeat;
    margin-left:2px;
    background-image:url(../images/default/panel/tool-sprites.gif);
	background-position:0 -150px;
}
.x-tool-unpin-over {
    overflow:hidden;
    width:15px;
    height:15px;
    float:right;
    cursor:pointer;
    background:transparent no-repeat;
    margin-left:2px;
    background-image:url(../images/default/panel/tool-sprites.gif);
	background-position:-15px -150px;
}
