<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spring="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring-2.0-M1.xsd">

    <bean id="studiolayoutmode" parent="studiomode">
        <property name="visibleTypes">
            <set>
                <value>jmix:layoutComponentContent</value>
                <value>jmix:list</value>
            </set>
        </property>
        <property name="editableTypes">
            <set>
                <value>jmix:layoutComponentContent</value>
                <value>jnt:template</value>
            </set>
        </property>
        <property name="defaultUrlMapping" value="/cms/studiolayout"/>
        <property name="mainModuleToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.SwitchConfigActionToStudio"/>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.ItemsGroup.LanguageSwitcher"/>
                    </list>
                </property>
            </bean>
        </property>
        <property name="contextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                        <ref bean="Toolbar.Item.EditContent"/>
                        <ref bean="Toolbar.Item.Delete"/>
                        <ref bean="Toolbar.Item.Undelete"/>
                        <ref bean="Toolbar.Item.DeletePermanently"/>
                        <ref bean="Toolbar.Item.EditSourceContent"/>
                        <ref bean="Toolbar.Item.Copy"/>
                        <ref bean="Toolbar.Item.Cut"/>
                        <ref bean="Toolbar.Item.Paste"/>
                        <ref bean="Toolbar.Item.PasteReference"/>
                        <ref bean="Toolbar.Item.TranslateMenu"/>
                        <ref bean="Toolbar.Item.Export"/>
                        <ref bean="Toolbar.Item.Import"/>
                        <ref bean="Toolbar.Item.Lock"/>
                        <ref bean="Toolbar.Item.Unlock"/>
                        <ref bean="Toolbar.Item.ClearLock"/>
                        <ref bean="Toolbar.Item.ClearAllLocks"/>
                        <ref bean="Toolbar.Item.OpenInContentManager"/>
                        <ref bean="Toolbar.Item.GoToViewDefinition"/>
                    </list>
                </property>
            </bean>
        </property>

        <!-- edit engine -->


        <!-- tabs-->
        <property name="tabs">
            <list value-type="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                <bean class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                    <property name="key" value="templates"/>
                    <property name="icon" value="tab-templates"/>
                    <property name="tabItem">
                        <bean class="org.jahia.ajax.gwt.client.widget.edit.sidepanel.TemplatesTabItem">
                            <property name="paths">
                                <list>
                                    <value>$site/$moduleversion/templates</value>
                                </list>
                            </property>
                            <property name="folderTypes">
                                <list>
                                    <value>jnt:template</value>
                                </list>
                            </property>
                        </bean>
                    </property>
                    <property name="treeColumns">
                        <list>
                            <value>displayName,*,label.title</value>
                        </list>
                    </property>
                    <property name="treeContextMenu">
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.NewPage"/>
                                    <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                                        <property name="actionItem">
                                            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewContentActionItem">
                                                <property name="nodeTypes" value="jnt:pageTemplate"/>
                                                <property name="parentTypes"
                                                          value="jnt:templatesFolder jnt:template"/>
                                            </bean>
                                        </property>
                                        <property name="titleKey" value="label.newPageTemplate"/>
                                        <property name="icon" value="newPageTemplate"/>
                                    </bean>
                                    <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                                        <property name="actionItem">
                                            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewContentActionItem">
                                                <property name="nodeTypes" value="jnt:contentTemplate"/>
                                                <property name="parentTypes"
                                                          value="jnt:templatesFolder jnt:template"/>
                                            </bean>
                                        </property>
                                        <property name="titleKey" value="label.newContentTemplate"/>
                                        <property name="icon" value="newContentTemplate"/>
                                    </bean>
                                    <bean class="org.jahia.services.uicomponents.bean.toolbar.Item">
                                        <property name="actionItem">
                                            <bean class="org.jahia.ajax.gwt.client.widget.toolbar.action.NewContentActionItem">
                                                <property name="nodeTypes" value="jnt:template"/>
                                                <property name="includeSubTypes" value="false"/>
                                                <property name="parentTypes"
                                                          value="jnt:templatesFolder jnt:template"/>
                                            </bean>
                                        </property>
                                        <property name="titleKey" value="label.newTemplate"/>
                                        <property name="icon" value="newTemplate"/>
                                    </bean>
                                    <ref bean="Toolbar.Item.EditContentRootNodeEditable"/>
                                    <ref bean="Toolbar.Item.Delete"/>
                                    <ref bean="Toolbar.Item.Undelete"/>
                                    <ref bean="Toolbar.Item.DeletePermanently"/>
                                    <ref bean="Toolbar.Item.Separator"/>
                                    <ref bean="Toolbar.Item.Copy"/>
                                    <ref bean="Toolbar.Item.Cut"/>
                                    <ref bean="Toolbar.Item.Paste"/>
                                    <ref bean="Toolbar.Item.PasteReference"/>
                                </list>
                            </property>
                        </bean>
                    </property>
                    <property name="tableContextMenu">
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.EditContentRootNodeEditable"/>
                                    <ref bean="Toolbar.Item.Delete"/>
                                    <ref bean="Toolbar.Item.Undelete"/>
                                    <ref bean="Toolbar.Item.DeletePermanently"/>
                                </list>
                            </property>
                        </bean>
                    </property>
                    <property name="requiredPermission" value="templatesSelector"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                    <property name="key" value="createContent"/>
                    <property name="icon" value="tab-createcontent"/>
                    <property name="tabItem">
                        <bean class="org.jahia.ajax.gwt.client.widget.edit.sidepanel.CreateContentTabItem">
                            <property name="baseType" value="jmix:layoutComponentContent"/>
                            <property name="paths">
                                <list>
                                    <!--<value>$site/components/*</value>-->
                                    <value>/modules/*</value>
                                </list>
                            </property>
                        </bean>
                    </property>
                    <property name="treeColumns">
                        <list>
                            <value>label,*,label.title</value>
                            <value>dependency,50</value>
                        </list>
                    </property>
                    <property name="requiredPermission" value="createSelector"/>
                </bean>
                <bean class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                    <property name="key" value="content"/>
                    <property name="icon" value="tab-content"/>
                    <property name="tabItem">
                        <bean class="org.jahia.ajax.gwt.client.widget.edit.sidepanel.ContentBrowseTabItem">
                            <property name="paths">
                                <list>
                                    <value>$site/$moduleversion/templates/contents</value>
                                </list>
                            </property>
                            <property name="folderTypes">
                                <list>
                                    <value>jnt:contentFolder</value>
                                    <value>jnt:navMenuAvailableFolder</value>
                                </list>
                            </property>
                        </bean>
                    </property>
                    <property name="treeColumns">
                        <list>
                            <value>displayName,*,label.title</value>
                        </list>
                    </property>
                    <property name="treeContextMenu">
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.NewContentFolder"/>
                                    <ref bean="Toolbar.Item.NewContent"/>
                                    <ref bean="Toolbar.Item.NewMenuAvailable"/>
                                    <ref bean="Toolbar.Item.EditContent"/>
                                    <ref bean="Toolbar.Item.Delete"/>
                                    <ref bean="Toolbar.Item.Undelete"/>
                                    <ref bean="Toolbar.Item.DeletePermanently"/>
                                    <ref bean="Toolbar.Item.Copy"/>
                                    <ref bean="Toolbar.Item.Cut"/>
                                    <ref bean="Toolbar.Item.Paste"/>
                                    <ref bean="Toolbar.Item.PasteReference"/>
                                </list>
                            </property>
                        </bean>
                    </property>
                    <property name="tableContextMenu">
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.EditContent"/>
                                    <ref bean="Toolbar.Item.Delete"/>
                                    <ref bean="Toolbar.Item.Undelete"/>
                                    <ref bean="Toolbar.Item.DeletePermanently"/>
                                    <ref bean="Toolbar.Item.Copy"/>
                                    <ref bean="Toolbar.Item.Cut"/>
                                    <ref bean="Toolbar.Item.Paste"/>
                                    <ref bean="Toolbar.Item.PasteReference"/>
                                </list>
                            </property>
                        </bean>
                    </property>
                    <property name="requiredPermission" value="contentSelector"/>
                </bean>
            </list>

        </property>

    </bean>

</beans>
