<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="sitesettingsmode" class="org.jahia.services.uicomponents.bean.editmode.EditConfiguration">
        <property name="requiredPermission" value="editModeAccess"/>
        <property name="nodeCheckPermission" value="$site"/>
        <property name="defaultLocation" value="$defaultSiteHome.html"/>
        <property name="defaultUrlMapping" value="/cms/settings"/>
        <property name="sitesLocation" value="/sites/*"/>
        <property name="nonEditableTypes">
            <set>
                <value>jmix:studioOnly</value>
            </set>
        </property>
        <property name="excludedNodeTypes">
            <set>
                <value>jmix:hiddenType</value>
            </set>
        </property>
        <property name="topToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="layout" value="button-label"/>
                <property name="items">
                    <list>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <property name="titleKey" value="label.mode"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Admin"/>
                                </list>
                            </property>
                        </bean>
                        <ref bean="Toolbar.Item.Separator"/>
                        <bean class="org.jahia.services.uicomponents.bean.toolbar.Menu">
                            <property name="icon" value="start"/>
                            <property name="titleKey" value="label.user.loggedAs"/>
                            <property name="items">
                                <list>
                                    <ref bean="Toolbar.Item.Logout"/>
                                </list>
                            </property>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
        <property name="sidePanelToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                    </list>
                </property>
            </bean>
        </property>
        <property name="mainModuleToolbar">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                    </list>
                </property>
            </bean>
        </property>
        <property name="contextMenu">
            <bean class="org.jahia.services.uicomponents.bean.toolbar.Toolbar">
                <property name="items">
                    <list>
                    </list>
                </property>
            </bean>
        </property>

        <!-- tabs -->
        <property name="tabs">
            <list>
                <bean id="sidePanelTab.siteSettings" class="org.jahia.services.uicomponents.bean.editmode.SidePanelTab">
                    <property name="key" value="siteSettings"/>
                    <property name="icon" value="siteSettings"/>
                    <property name="treeColumns">
                        <list>
                            <value>displayName,*,label.title</value>
                        </list>
                    </property>
                    <property name="tabItem">
                        <bean class="org.jahia.ajax.gwt.client.widget.edit.sidepanel.SettingsTabItem">
                            <property name="settingsTemplateRoot" value="site-settings-base"/>
                            <property name="label" value="siteSettings.tab.title"/>
                            <property name="settingPath" value="$site"/>
                        </bean>
                    </property>
                    <property name="requiredPermission" value="siteSettingsSelector"/>
                </bean>
            </list>
        </property>
    </bean>


</beans>