#bodywrapper div.listEditToolbar {
	margin-bottom:5px;
}
#bodywrapper .listEditToolbar input {
	background-image:none;
    background-color : #333333;
	padding: 4px;
    color: #fff;
	font-weight: bold;
    font-size: 9px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
    border:none;
	padding: 2px 5px ;
	vertical-align: middle;
	margin-bottom:2px;
	display:inline;
}
#bodywrapper .listEditToolbar input:hover {
	background-image:none;
    background-color:#999;
    color: #333;
	cursor: pointer
}
#bodywrapper .listEditToolbar input.workflow {
    background-color :#33cc00;
	color: #333;
}
#bodywrapper .listEditToolbar input.workflow:hover {
    background-color:#339900;
    color: #fff;
}
#bodywrapper .listEditToolbar input.workflowaction {
    background-color :#ff9900;
	color: #333;
}
#bodywrapper .listEditToolbar input.workflowaction:hover {
    background-color:#ff6600;
    color: #fff;
}

#bodywrapper h3.titleaddnewcontent {
	color:#333333;
	font-size:1.8em;
	padding:0 0 15px 0;
}
#bodywrapper h3.titleaddnewcontent img {
	vertical-align: text-bottom;
	margin-right:5px
}