/******************************************************************************
*  loginForm
******************************************************************************/
#bodywrapper .loginForm fieldset{
	border:1px solid #eaeaea;
	padding:0.5em;
	margin:0.5em 0;
}
#bodywrapper .loginForm legend{
	display:none
}
#bodywrapper .loginForm h3{
	background: url(img/login.png) no-repeat;
	padding-left:24px;
	line-height:1.6em;
	margin:0;
}
#bodywrapper .loginForm #username,
#bodywrapper .loginForm #password{
	width:95%
}
#bodywrapper .loginForm #remember{

}
#bodywrapper .loginForm .rememberLabel {
	font-weight:normal;
	font-size:80%;
}
#bodywrapper checkbox #remember{
	float:left
}
#bodywrapper .loginForm .button{
}