

ul.portletModes {
	background: url(images/portlets/tabBorder.gif) repeat-x bottom;
	color: #515C6A;
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul.portletModes li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float:left;
}
ul.portletModes a,
ul.portletModes a:link,
ul.portletModes a:visited {
	background: url(images/portlets/tabRight.gif) no-repeat right top;
	text-decoration: none;
	display:block;
	color:#bababa;
}

ul.portletModes a:hover,
ul.portletModes a:active,
ul.portletModes .current a,
ul.portletModes .current a:link,
ul.portletModes .current a:visited,
ul.portletModes .current a:hover,
ul.portletModes .current a:active {
	background-position: 100% -26px;
	color:#515c6a;
}

ul.portletModes span {
	background: url(images/portlets/tabLeft.gif) no-repeat left top;
	display:block;
	padding:2px 5px;
	border-bottom:1px solid #515c6a
}
ul.portletModes span:hover,
ul.portletModes .current span {
	background-position: 0% -26px;
}

ul.windowStates {
	background: url(images/portlets/tabBorder.gif) repeat-x bottom;
	color: #515C6A;
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.windowStates a {
	background: url(images/portlets/windowStates.gif) no-repeat left top;
	border-bottom: 1px solid #515C6A;
	float: left;
	height: 14px;
	margin-right: 2px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	width:17px;
	z-index: 1;
}

ul.windowStates a span {
    display:none;
}

ul.windowStates a.maximized {
	background-image: url(images/portlets/windowStates_maximized.gif);
}

ul.windowStates a.minimized {
	background-image: url(images/portlets/windowStates_minimized.gif);
}

ul.windowStates a.normal {
	background-image: url(images/portlets/windowStates_normal.gif);
}

ul.windowStates a:hover {
	background-position: 0% -15px;
}
ul.windowStates li {
	display: inline;
	margin: 0px;
	padding: 0px;
}

ul.windowStates li.current a {
	display: none;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
ul.windowStates div {
	float: none;
}
/* End IE5-Mac hack */
