<?xml version="1.0" encoding="UTF-8"?>
<!--

    
    This file is part of Jahia: An integrated WCM, DMS and Portal Solution
    Copyright (C) 2002-2009 Jahia Limited. All rights reserved.
    
    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
    
    As a special exception to the terms and conditions of version 2.0 of
    the GPL (or any later version), you may redistribute this Program in connection
    with Free/Libre and Open Source Software ("FLOSS") applications as described
    in Jahia's FLOSS exception. You should have recieved a copy of the text
    describing the FLOSS exception, and it is also available here:
    http://www.jahia.com/license"
    
    Commercial and Supported Versions of the program
    Alternatively, commercial and supported versions of the program may be used
    in accordance with the terms contained in a separate written agreement
    between you and Jahia Limited. If you are unsure which license is appropriate
    for your use, please contact the sales department at sales@jahia.com.

-->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName">
            <!--<value>com.mysql.jdbc.Driver</value>-->
            <!--            <value>com.p6spy.engine.spy.P6SpyDriver</value>-->
            <!--<value>oracle.jdbc.OracleDriver</value>-->
            <value>org.postgresql.Driver</value>
            <!--<value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>-->
        </property>
        <property name="url">
            <!--<value>jdbc:mysql://localhost:3306/jahia</value>-->
            <!--<value>jdbc:oracle:thin:@localhost:1521:jahia</value>-->
            <value>jdbc:postgresql://localhost:5432/jahia</value>
            <!--<value>jdbc:sqlserver://localhost:4929;databaseName=jahia</value>-->
        </property>
        <property name="username">
            <!--<value>root</value>-->
            <value>postgres</value>
            <!--<value>jahiatest</value>-->
        </property>
        <property name="password">
            <!--                        <value></value>-->
            <value>secret11</value>
            <!--<value>jahia</value>-->
        </property>
        <property name="maxActive">
            <value>10</value>
        </property>
        <property name="maxIdle">
            <value>5</value>
        </property>
        <property name="maxWait">
            <value>-1</value>
        </property>
        <property name="poolPreparedStatements">
            <value>true</value>
        </property>
        <property name="maxOpenPreparedStatements">
            <value>50</value>
        </property>
        <property name="initialSize">
            <value>5</value>
        </property>
        <property name="defaultAutoCommit">
            <value>false</value>
        </property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="mappingResources">
            <list>
                <value>org/jahia/hibernate/model/JahiaAcl.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaAclEntry.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaAclName.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaAppDef.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaAppdefProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaAppentry.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaAppsShare.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaAuditLog.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaBigTextData.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaCategory.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaCategoryProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaContainer.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaContainerList.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaCtnDef.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaCtndefProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaCtnDefProperty.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaContainerProperty.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaContainerListProperty.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaCtnStruct.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaFieldsData.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaFieldsDef.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaFieldsDefExtprop.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaFieldsProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaGrp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaGrpAccess.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaGrpProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaHomepage.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaHomepagesProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaLink.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaLinkMetadata.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaLock.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaObject.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaPagesData.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaPagesDef.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaPagesDefProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaPagesProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaResource.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaRetentionRule.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaRetentionRuleDef.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSite.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSiteLangList.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSiteLangMap.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSiteProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSitesGrp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSitesUser.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideUri.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideVersionContent.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideVersionHistory.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideBinding.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideBranch.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideLink.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideLock.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideObject.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideParentBinding.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlideProperty.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaSlidePermission.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaUser.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaUserProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/JahiaWorkflow.hbm.xml</value>
                <value>org/jahia/workflow/nstep/model/User.hbm.xml</value>
                <value>org/jahia/workflow/nstep/model/Workflow.hbm.xml</value>
                <value>org/jahia/workflow/nstep/model/WorkflowStep.hbm.xml</value>
                <value>org/jahia/workflow/nstep/model/WorkflowInstance.hbm.xml</value>
                <value>org/jahia/workflow/nstep/model/WorkflowHistoryEntry.hbm.xml</value>
                <value>org/jahia/hibernate/model/indexingjob/JahiaIndexingJob.hbm.xml</value>
                <value>org/jahia/hibernate/model/slideindexingjob/JahiaSlideIndexingJob.hbm.xml</value>
                <value>org/jahia/hibernate/model/jahiaserver/JahiaServerProp.hbm.xml</value>
                <value>org/jahia/hibernate/model/jahiasavedsearch/JahiaSavedSearch.hbm.xml</value>

                <!-- clipbuilder-->
                <value>org/jahia/clipbuilder/html/database/hibernate/model/clipper.hbm.xml</value>
                <value>org/jahia/clipbuilder/sql/database/hibernate/model/databaseConfiguration.hbm.xml</value>

            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <!--<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>-->
                <!--<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>-->
                <!--<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>-->
                <prop key="hibernate.hbm2ddl.auto">none</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.jdbc.batch_size">0</prop>
                <prop key="hibernate.default_batch_fetch_size">16</prop>
                <prop key="hibernate.max_fetch_depth">3</prop>
                <prop key="hibernate.query.substitutions">true 1, false 0</prop>
                <prop key="hibernate.jdbc.use_streams_for_binary">true</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.cache.use_structured_entries">true</prop>
            </props>
        </property>
        <property name="eventListeners">
            <map>
                <entry key="merge">
                    <bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
</beans>