<!--

    
    This file is part of Jahia: An integrated WCM, DMS and Portal Solution
    Copyright (C) 2002-2009 Jahia Limited. All rights reserved.
    
    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
    
    As a special exception to the terms and conditions of version 2.0 of
    the GPL (or any later version), you may redistribute this Program in connection
    with Free/Libre and Open Source Software ("FLOSS") applications as described
    in Jahia's FLOSS exception. You should have recieved a copy of the text
    describing the FLOSS exception, and it is also available here:
    http://www.jahia.com/license"
    
    Commercial and Supported Versions of the program
    Alternatively, commercial and supported versions of the program may be used
    in accordance with the terms contained in a separate written agreement
    between you and Jahia Limited. If you are unsure which license is appropriate
    for your use, please contact the sales department at sales@jahia.com.

-->

﻿<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  Application context definition.
	-->
<beans>

	<!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->
	
	<!-- Metadata configuration bean -->
	<bean id="metadataDefinitionConfig" class="org.jahia.services.metadata.MetadataDefinitionConfig">
		<property name="baseTypes">
			<list>
				<ref bean="baseType.smallTextShared"/>
				<ref bean="baseType.smallText"/>
				<ref bean="baseType.bigText"/>
				<ref bean="baseType.date"/>
				<ref bean="baseType.boolean"/>
				<ref bean="baseType.integer"/>
				<ref bean="baseType.float"/>
			</list>
		</property>

		<property name="definitions">
			<map>
				<!--
				<entry key="fielddef.activationStartDate">
					<ref bean="fielddef.activationStartDate" />
				</entry>
				-->
				<entry key="fielddef.creationDate">
					<ref bean="fielddef.creationDate" />
				</entry>
				<entry key="fielddef.creator">
					<ref bean="fielddef.creator" />
				</entry>
				<!--
				<entry key="fielddef.expirationDate">
					<ref bean="fielddef.expirationDate" />
				</entry>
				-->
				<entry key="fielddef.lastContributor">
					<ref bean="fielddef.lastContributor" />
				</entry>
				<entry key="fielddef.lastModificationDate">
					<ref bean="fielddef.lastModificationDate" />
				</entry>
				<entry key="fielddef.lastPublisher">
					<ref bean="fielddef.lastPublisher" />
				</entry>
				<entry key="fielddef.lastPublishingDate">
					<ref bean="fielddef.lastPublishingDate" />
				</entry>
				<entry key="fielddef.description">
					<ref bean="fielddef.description" />
				</entry>
				<entry key="fielddef.keyword">
					<ref bean="fielddef.keyword" />
				</entry>
				<entry key="fielddef.hiddenMetadata">
					<ref bean="fielddef.hiddenMetadata" />
				</entry>
			</map>
		</property>
	</bean>
	
	<!-- Base type bean -->
	<bean id="baseType.smallTextShared" class="javax.faces.model.SelectItem">
		<property name="value"><value>20</value></property>
		<property name="label"><value>Small Text Shared Lang</value></property>
	</bean>
	<bean id="baseType.smallText" class="javax.faces.model.SelectItem">
		<property name="value"><value>2</value></property>
		<property name="label"><value>Small Text</value></property>
	</bean>
	<bean id="baseType.bigText" class="javax.faces.model.SelectItem">
		<property name="value"><value>3</value></property>
		<property name="label"><value>Big Text</value></property>
	</bean>
	<bean id="baseType.date" class="javax.faces.model.SelectItem">
		<property name="value"><value>4</value></property>
		<property name="label"><value>Date</value></property>
	</bean>
	<bean id="baseType.boolean" class="javax.faces.model.SelectItem">
		<property name="value"><value>12</value></property>
		<property name="label"><value>Boolean</value></property>
	</bean>
	<bean id="baseType.integer" class="javax.faces.model.SelectItem">
		<property name="value"><value>1</value></property>
		<property name="label"><value>Integer</value></property>
	</bean>
	<bean id="baseType.float" class="javax.faces.model.SelectItem">
		<property name="value"><value>11</value></property>
		<property name="label"><value>Float</value></property>
	</bean>

	<!-- Field definition bean -->
	<bean id="fielddef.creator" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>creator</value></property>
		<property name="title"><value>creator</value></property>
		<property name="type"><value>20</value></property> <!-- SMALLTEXT_SHARED_LANG -->
		<property name="defaultValue"><value></value></property>
		<property name="readOnly"><value>true</value></property> <!-- not editable value -->
		<property name="editableDefinition"><value>false</value></property> <!-- not editable definition, as loaded from xml file -->
		<property name="hiddenFromEditingEngine"><value>false</value></property> <!-- metadata not displayed in editing engine, as value is set in back end -->
		<property name="required"><value>true</value></property> <!-- mandatory in engine -->
		<property name="order"><value>1</value></property> <!-- default order -->
		<property name="contentDefinitionMappings"> <!-- assignation mappings -->
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
			</list>
		</property>
	</bean>
	<bean id="fielddef.lastContributor" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>lastContributor</value></property>
		<property name="title"><value>lastContributor</value></property>
		<property name="type"><value>20</value></property>
		<property name="defaultValue"><value></value></property>
		<property name="readOnly"><value>true</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>false</value></property>
		<property name="required"><value>true</value></property>
		<property name="order"><value>2</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
			</list>
		</property>
	</bean>
	<bean id="fielddef.lastPublisher" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>lastPublisher</value></property>
		<property name="title"><value>lastPublisher</value></property>
		<property name="type"><value>20</value></property> <!-- SMALLTEXT_SHARED_LANG -->
		<property name="defaultValue"><value></value></property>
		<property name="readOnly"><value>true</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>false</value></property>
		<property name="required"><value>true</value></property>
		<property name="order"><value>3</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
			</list>
		</property>
	</bean>
	<bean id="fielddef.creationDate" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>creationDate</value></property>
		<property name="title"><value>creationDate</value></property>
		<property name="type"><value>4</value></property> <!-- DATE -->
		<property name="defaultValue"><value><![CDATA[<jahia_calendar[dd.MM.yyyy HH:mm]>]]></value></property>
		<property name="readOnly"><value>true</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>false</value></property>
		<property name="required"><value>true</value></property>
		<property name="order"><value>4</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
			</list>
		</property>
	</bean>
	<bean id="fielddef.lastModificationDate" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>lastModificationDate</value></property>
		<property name="title"><value>lastModificationDate</value></property>
		<property name="type"><value>4</value></property>
		<property name="defaultValue"><value><![CDATA[<jahia_calendar[dd.MM.yyyy HH:mm]>]]></value></property>
		<property name="readOnly"><value>true</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>false</value></property>
		<property name="required"><value>true</value></property>
		<property name="order"><value>5</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
			</list>
		</property>
	</bean>
	<bean id="fielddef.lastPublishingDate" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>lastPublishingDate</value></property>
		<property name="title"><value>lastPublishingDate</value></property>
		<property name="type"><value>4</value></property>
		<property name="defaultValue"><value><![CDATA[<jahia_calendar[dd.MM.yyyy HH:mm]>]]></value></property>
		<property name="readOnly"><value>true</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>false</value></property>
		<property name="required"><value>true</value></property>
		<property name="order"><value>6</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
			</list>
		</property>
	</bean>
	<bean id="fielddef.activationStartDate" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>activationStartDate</value></property>
		<property name="title"><value>activationStartDate</value></property>
		<property name="type"><value>4</value></property>
		<property name="defaultValue"><value><![CDATA[<jahia_calendar[dd.MM.yyyy HH:mm]>]]></value></property>
		<property name="readOnly"><value>false</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>false</value></property>
		<property name="required"><value>false</value></property>
		<property name="order"><value>7</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
			</list>
		</property>
	</bean>
	<bean id="fielddef.expirationDate" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>expirationDate</value></property>
		<property name="title"><value>expirationDate</value></property>
		<property name="type"><value>4</value></property>
		<property name="defaultValue"><value><![CDATA[<jahia_calendar[dd.MM.yyyy HH:mm]>]]></value></property>
		<property name="readOnly"><value>false</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>false</value></property>
		<property name="required"><value>false</value></property>
		<property name="order"><value>8</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
			</list>
		</property>
	</bean>
	<bean id="fielddef.description" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>description</value></property>
		<property name="title"><value>Description</value></property>
		<property name="type"><value>3</value></property>
		<property name="defaultValue"><value></value></property>
		<property name="readOnly"><value>false</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>false</value></property>
		<property name="required"><value>false</value></property>
		<property name="order"><value>9</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
				<!--
				<value>org.jahia.services.fields.JahiaFieldDefinition</value>
				-->
			</list>
		</property>
	</bean>
	<bean id="fielddef.keyword" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>keywords</value></property>
		<property name="title"><value>Container Keyword</value></property>
		<property name="type"><value>20</value></property>
		<property name="defaultValue"><value></value></property>
		<property name="readOnly"><value>false</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>false</value></property>
		<property name="required"><value>false</value></property>
		<property name="order"><value>10</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
				<!--
				<value>org.jahia.services.fields.JahiaFieldDefinition</value>
				-->
			</list>
		</property>
	</bean>
	<bean id="fielddef.hiddenMetadata" class="org.jahia.services.metadata.FieldDefinition">
		<property name="name"><value>hiddenMetadata</value></property>
		<property name="title"><value>Hidden Metadata</value></property>
		<property name="type"><value>20</value></property>
		<property name="defaultValue"><value></value></property>
		<property name="readOnly"><value>false</value></property>
		<property name="editableDefinition"><value>false</value></property>
		<property name="hiddenFromEditingEngine"><value>true</value></property>
		<property name="required"><value>true</value></property>
		<property name="order"><value>11</value></property>
		<property name="contentDefinitionMappings">
			<list>
				<value>org.jahia.services.pages.JahiaPageDefinition</value>
				<value>org.jahia.data.containers.JahiaContainerDefinition</value>
				<!--
				<value>org.jahia.services.fields.JahiaFieldDefinition</value>
				-->
			</list>
		</property>
	</bean>

	<!-- CONFIG -->
	<bean id="eventListenerBean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.jahia.data.events.JahiaEventListenerInterface</value>
		</property>
		<property name="target">
			<ref local="eventListenerTarget"/>
		</property>
		<property name="interceptorNames">
			<list>
				<value>metadataEventListenerAdvisor</value>
				<!--
				<value>pageEventListener</value>
				<value>fieldEventListener</value>
				-->
			</list>
		</property>
	</bean>
	
	<!-- CLASS -->
	<bean id="eventListenerTarget" class="org.jahia.data.events.JahiaEventListener"/>
	
	<!-- ADVISOR -->
	<bean id="metadataEventListenerAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="metadataAdvice"/>
		</property>
		<property name="patterns">
			<list>
				<value>org\.jahia\.data\.events\.JahiaEventListenerInterface\..*</value>
			</list>
		</property>
	</bean>
	
	<!-- ADVICE -->
	<bean id="metadataAdvice" class="org.jahia.services.metadata.MetadataAdvice">
		<property name="listenersMap">
			<map>
				<entry key="metadataEngineAfterInit">
					<list>
						<ref bean="contentCreationDateListener"/>
						<ref bean="contentCreatorListener"/>
						<ref bean="contentLastContributorListener"/>
						<ref bean="contentLastModificationDateListener"/>
					</list>
				</entry>
				<entry key="metadataEngineBeforeSave">
					<list>
						<ref bean="contentLastContributorListener"/>
						<ref bean="contentLastModificationDateListener"/>
					</list>
				</entry>
				<entry key="contentActivation">
					<list>
						<ref bean="contentLastPublisherListener"/>
						<ref bean="contentLastPublishingDateListener"/>
					</list>
				</entry>
				<entry key="contentObjectCreated">
					<list>
						<ref bean="contentCreatorListener"/>
						<ref bean="contentCreationDateListener"/>
						<ref bean="contentLastContributorListener"/>
						<ref bean="contentLastModificationDateListener"/>
					</list>
				</entry>
				<entry key="objectChanged">
					<list>
                        <ref bean="contentLastContributorListener"/>
                        <ref bean="contentLastModificationDateListener"/>
					</list>
				</entry>
				</map>
		</property>
		<property name="eventWorkflowMappings">
			<map>
				<entry key="onContentAdded">
					<list>
						<value>containerAdded</value>
					</list>
				</entry>
				<entry key="onContentUpdated">
					<list>
						<value>onContainerUpdated</value>
					</list>
				</entry>
				<entry key="onContentDeleted">
					<list>
						<value>onContentDeleted</value>
					</list>
				</entry>
			</map>
		</property>
		<!--
		<property name="workflows">
			<list>
				<ref bean="lastContributorWorkflow" />
			</list>
		</property>
		-->
	</bean>
	
	<!-- Metadata event listener bean -->
	<bean id="contentCreationDateListener" class="org.jahia.services.metadata.core.listeners.ContentCreationDateListener">
		<property name="metadataName">
			<value>creationDate</value>
		</property>
	</bean>
	<bean id="contentCreatorListener" class="org.jahia.services.metadata.core.listeners.ContentCreatorListener">
		<property name="metadataName">
			<value>creator</value>
		</property>
	</bean>
	<bean id="contentLastContributorListener" class="org.jahia.services.metadata.core.listeners.ContentLastContributorListener">
		<property name="metadataName">
			<value>lastContributor</value>
		</property>
	</bean>
	<bean id="contentLastModificationDateListener" class="org.jahia.services.metadata.core.listeners.ContentLastModificationDateListener">
		<property name="metadataName">
			<value>lastModificationDate</value>
		</property>
	</bean>
    <bean id="contentMetadataListener" class="org.jahia.services.metadata.core.listeners.ContentMetadataListener">
	</bean>
	<bean id="contentLastPublisherListener" class="org.jahia.services.metadata.core.listeners.ContentLastPublisherListener">
		<property name="metadataName">
			<value>lastPublisher</value>
		</property>
	</bean>
	<bean id="contentLastPublishingDateListener" class="org.jahia.services.metadata.core.listeners.ContentLastPublishingDateListener">
		<property name="metadataName">
			<value>lastPublishingDate</value>
		</property>
	</bean>
	
	<!-- Metadata workflow bean -->
	<!--
	<bean id="lastContributorWorkflow" class="org.jahia.services.metadata.core.workflow.MetadataWorkflow">
		<property name="actions">
			<list>
				<ref bean="lastContributorfillInCurrentUserAction" />
			</list>
		</property>
	</bean>
	
	<bean id="fillInCurrentUserAction" class="org.jahia.services.metadata.core.workflow.actions.FillInCurrentUserAction">
	</bean>
	-->
</beans>
