
/******************************************************************************
* box
******************************************************************************/
#bodywrapper #forum-body .forum-box{
	background: #12A3EB url(img/bg_header.gif) repeat-x top left;
	padding: 0 5px;
	margin-bottom:10px
}
#bodywrapper #forum-body span.forum-corners-top,
#bodywrapper #forum-body span.forum-corners-bottom,
#bodywrapper #forum-body span.forum-corners-top span,
#bodywrapper #forum-body span.forum-corners-bottom span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

#bodywrapper #forum-body span.forum-corners-top {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}

#bodywrapper #forum-body span.forum-corners-top span {
	background-image: none;
	background-position: 100% 0;
}

#bodywrapper #forum-body span.forum-corners-bottom {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}

#bodywrapper #forum-body span.forum-corners-bottom span {
	background-image: none;
	background-position: 100% 100%;
}
#bodywrapper #forum-body span.forum-corners-top {
	background-image: url("img/corners_left.png");
}

#bodywrapper #forum-body span.forum-corners-top span {
	background-image: url("img/corners_right.png");
}

#bodywrapper #forum-body span.forum-corners-bottom {
	background-image: url("img/corners_left.png");
}

#bodywrapper #forum-body span.forum-corners-bottom span {
	background-image: url("img/corners_right.png");
}
/* box style 1 
----------------------------------------*/
#bodywrapper #forum-body .forum-box-style1 {
	background: none;
	background-color:#eaeaea
}
/* box style 2 
----------------------------------------*/
#bodywrapper #forum-body .forum-box-style2 {
	background: none;
	background-color:#d6ecfd
}

/******************************************************************************
* titres
******************************************************************************/
#bodywrapper #forum-body .forum-h4-first{
	margin:0;
	font-size:1.2em;
}
/******************************************************************************
* boardDescription
******************************************************************************/
#bodywrapper #forum-body .boardDescription{
	font-size:0.8em;
	font-weight:normal;
	line-height:1.2em
}
/******************************************************************************
* forum-forum-linklist + forum-navlinks
******************************************************************************/
* html #bodywrapper #forum-body .clearfix,
* html #bodywrapper #forum-body .forum-navbar,
#bodywrapper #forum-body ul.forum-linklist {
	height:1%;
	overflow:hidden;
}
/* forum-linklist 
----------------------------------------*/
#bodywrapper #forum-body ul.forum-linklist {
	display:block;
	margin:0;
	padding-left:5px
}
#bodywrapper #forum-body ul.forum-linklist li {
	display:block;
	float:left;
	font-size:1.1em;
	line-height:2.2em;
	list-style-type:none;
	margin-right:5px;
	width:auto;
}
#bodywrapper #forum-body ul.forum-linklist li.rightside,
#bodywrapper #forum-body p.rightside {
	float:right;
	margin-left:5px;
	margin-right:0;
	text-align:right;
}
/* forum-linklist 
----------------------------------------*/
#bodywrapper #forum-body ul.forum-navlinks {
	border-bottom:1px solid #FFFFFF;
	font-weight:bold;
	margin-bottom:1px;
	padding-bottom:1px;
}
/* float list
----------------------------------------*/
#bodywrapper #forum-body ul.leftside {
	float:left;
	margin-left:0;
	margin-right:5px;
	text-align:left;
}
#bodywrapper #forum-body ul.rightside {
	float:right;
	margin-left:5px;
	margin-right:-5px;
	text-align:right;
}

/******************************************************************************
* forum-list + forum-list-header
******************************************************************************/
/* general
----------------------------------------*/
#bodywrapper #forum-body dt {
	color:#333;
}
#bodywrapper #forum-body a.forum-title {
	font-weight:bold;
	text-decoration:none;
}
#bodywrapper #forum-body a.forum-title,
#bodywrapper #forum-body a.forum-title:link,
#bodywrapper #forum-body a.forum-title:visited {
	text-decoration:none;
	background:none;
}
#bodywrapper #forum-body a.forum-title:hover,
#bodywrapper #forum-body a.forum-title:active {
	text-decoration:underline;
	background:none;
}
/* forum-list
----------------------------------------*/
#bodywrapper #forum-body .clearfix,
#bodywrapper #forum-body ul.forum-list dl {
	height:1%;
	overflow:hidden;
}

#bodywrapper #forum-body ul.forum-list dl {
	position:relative;
}
#bodywrapper #forum-body ul.forum-list {
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
}

#bodywrapper #forum-body ul.forum-list li {
	color:#777777;
	display:block;
	list-style-type:none;
	margin:0;
	padding-left:0
}
#bodywrapper #forum-body ul.forum-list dl {
	position:relative;
}
#bodywrapper #forum-body ul.forum-list dt {
	display:block;
	float:left;
	font-size:1.1em;
	padding-left:5px;
	padding-right:5px;
	width:50%;
}
#bodywrapper #forum-body ul.forum-list dd {
	border-left-color:#FFFFFF;
}

/* forum-list-header
----------------------------------------*/
#bodywrapper #forum-body li {
	padding-left:0
}
#bodywrapper #forum-body li.forum-list-header dl {
	border-bottom:1px solid #fff
}

#bodywrapper #forum-body li.forum-list-header dt {
	font-weight:bold;
}

#bodywrapper #forum-body li.forum-list-header dt a,
#bodywrapper #forum-body li.forum-list-header dt a:link,
#bodywrapper #forum-body li.forum-list-header dt a:visited {
	color: #333;
	text-decoration:none;
	background:none;
}
#bodywrapper #forum-body li.forum-list-header dt a:hover,
#bodywrapper #forum-body li.forum-list-header dt a:active {
	color:#fff;
	text-decoration:underline;
	background:none;
}
#bodywrapper #forum-body li.forum-list-header dt,
#bodywrapper #forum-body li.forum-list-header dd {
	border-left-width:0;
	font-size:1em;
	line-height:1em;
	margin:2px 0 4px;
	padding-bottom:2px;
	padding-top:2px;
	text-transform:uppercase;
}
#bodywrapper #forum-body li.forum-list-header dd {
	margin-left:1px;
}

#bodywrapper #forum-body ul.forum-list li.forum-list-header dd{
	border:none
}

/* specific
----------------------------------------*/
div.rooms, div.topics, div.posts{
	margin-bottom:1em
}

#bodywrapper #forum-body ul.forum-list dd {
	border-left:1px solid #FFFFFF;
	display:block;
	float:left;
	padding:4px 0;
}

#bodywrapper #forum-body dd.posts,
#bodywrapper #forum-body dd.topics,
#bodywrapper #forum-body dd.views {
	text-align:center;
	width:12%;
}
#bodywrapper #forum-body dd.posts,
#bodywrapper #forum-body dd.lastpost {
	margin-left:0
}

#bodywrapper #forum-body dd.lastpost {
	font-size:1.1em;
	width:25%;
}
dd.lastpost span, ul.topiclist dd.searchby span, ul.topiclist dd.info span, ul.topiclist dd.time span, dd.redirect span, dd.moderation span {
	display:block;
	padding-left:5px;
}

/******************************************************************************
* row 
******************************************************************************/
#bodywrapper #forum-body li.row {
	border-bottom:1px solid #fff;
	border-top-color:1px solid #FFFFFF;
	padding:5px 0
}

#bodywrapper #forum-body li.row:hover {
	background-color:#F6F6F6;
}
#bodywrapper #forum-body li.row:hover dd {
	border-left-color:#CCCCCC;
}
/******************************************************************************
* row 
******************************************************************************/
#bodywrapper #forum-body .forum-postprofile {
	border-left-color:#FFFFFF;
	color:#666666;
}
/******************************************************************************
* forum-postprofile
******************************************************************************/
#bodywrapper #forum-body .forum-postprofile {
	border-left:1px solid #FFFFFF;
	color:#666666;
	display:inline;
	float:right;
	margin:5px 0 10px;
	min-height:80px;
	width:22%;
	padding:5px
}
/******************************************************************************
* forum-postbody
******************************************************************************/
#bodywrapper #forum-body .forum-postbody {
	color:#333333;
}

#bodywrapper #forum-body .forum-postbody {
	clear:both;
	color:#333333;
	float:left;
	padding:0;
	width:76%;
}
/******************************************************************************
* forum-actions
******************************************************************************/
#bodywrapper #forum-body .forum-actions{
	margin-bottom:5px;
	clear:both;
	overflow:hidden
}
#bodywrapper #forum-body .forum-buttons a,
#bodywrapper #forum-body .forum-buttons a:link,
#bodywrapper #forum-body .forum-buttons a:visited{
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	background-color:#333;
}
#bodywrapper #forum-body .forum-buttons a:hover,
#bodywrapper #forum-body .forum-buttons a:active {
	text-decoration:none;
	background-color: #333;
}
#bodywrapper #forum-body .forum-pagination{float:right}
/******************************************************************************
*  Form comments
******************************************************************************/
#bodywrapper #forum-body #forum-Form {
	margin: 0;
	padding:0;
    clear:both;
}
#bodywrapper #forum-body #forum-Form p{
	margin:0;
	padding:0;
}
#bodywrapper #forum-body #forum-Form  p.field{
	margin-bottom:0.2em;
}
#bodywrapper #forum-body #forum-Form  textarea{
	width:99%
}
#bodywrapper #forum-body #forum-Form fieldset{
	border:none;
	margin:0;
}
/******************************************************************************
*  Form comments
******************************************************************************/
#bodywrapper #forum-body ul.forum-profile-icons {
	float:right;
	padding:0;
	margin:0;
	width:auto;
}
#bodywrapper #forum-body ul.forum-profile-icons {
	list-style-type:none;
}

#forum-body ul.forum-profile-icons li {
	margin:0 2px 0 0;
}

#bodywrapper #forum-body ul.forum-profile-icons li {
	float:left;
	list-style:none;
}
#bodywrapper #forum-body ul.forum-profile-icons li a,
#bodywrapper #forum-body ul.forum-profile-icons li a:link,
#bodywrapper #forum-body ul.forum-profile-icons li a:visited{
	display: inline-block;
	font-size:0.8em;
	padding: 2px;
	color: #fff;
	text-decoration: none;
	line-height: 1;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-box-shadow: 0 1px 2px #999;
	-webkit-box-shadow: 0 1px 2px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	background-color: #666
}
#bodywrapper #forum-body ul.forum-profile-icons li a:hover,
#bodywrapper #forum-body ul.forum-profile-icons li a:active {
	text-decoration:none;
	background-color: #666
}

#bodywrapper #forum-body .back2top{
	clear:both;
	text-align: right
}
#bodywrapper #forum-body .back2to a,
#bodywrapper #forum-body .back2to a:link,
#bodywrapper #forum-body .back2to a:visited{
	text-decoration:none;
}
#bodywrapper #forum-body .back2to a:hover,
#bodywrapper #forum-body .back2to a:active {
	text-decoration:underline;
}
