

/* ------- File types  (start) ------- */


#bodywrapper li.file {
    background: url( ../img/files/file.png ) no-repeat;
}

#bodywrapper li.video {
    background: url( ../img/files/video.png ) no-repeat;
}

#bodywrapper li.ppt {
    background: url( ../img/files/ppt.png ) no-repeat;
}

#bodywrapper li.exe {
    background: url( ../img/files/exe.png ) no-repeat;
}

#bodywrapper li.msword, #bodywrapper li.doc, li.docx {
    background: url( ../img/files/doc.png ) no-repeat;
}

#bodywrapper li.dir {
    background: url( ../img/files/folder_close.png ) no-repeat;
}

#bodywrapper li.html {
    background: url( ../img/files/html.png ) no-repeat;
}

#bodywrapper li.img,  #bodywrapper li.gif, #bodywrapper li.jpeg, #bodywrapper li.jpg, #bodywrapper li.png {
    background: url( ../img/files/img.png ) no-repeat;
}

#bodywrapper li.pdf {
    background: url( ../img/files/pdf.png ) no-repeat;
}

#bodywrapper li.sound {
    background: url( ../img/files/sound.png ) no-repeat;
}

#bodywrapper li.txt {
    background: url( ../img/files/txt.png ) no-repeat;
}

#bodywrapper li.xls, #bodywrapper li.xlsx {
    background: url( ../img/files/xls.png ) no-repeat;
}

#bodywrapper li.zip, #bodywrapper li.rar, #bodywrapper li.sit, #bodywrapper li.tar, #bodywrapper li.gz {
    background: url( ../img/files/xls.png ) no-repeat;
}

#bodywrapper a.zip {
    background: url( ../img/files/zip.png ) no-repeat;
}

#bodywrapper a.xls,
#bodywrapper a.csv {
    background: url( ../img/files/xls.png ) no-repeat;
}

/* ------- File types (end) ------- */