

#openclose {
	width:650px
}
#openclose .lunchbox {
    display:none;
    border-top:none; 
    padding:15px;
    overflow:hidden;
}
#openclose .clasp a,
#openclose .clasp a:link,
#openclose .clasp a:visited {
	display:block !important;
	padding:5px!important;
	color:#fff!important;
	text-decoration:none!important;
	background:none!important;
}
#openclose .clasp a:hover,
#openclose .clasp a:active {
	color:#fff;
	text-decoration:underline;
	background:none;
}
#openclose .clasp {
	width:648px;
	font-weight:bold;
	margin-top:5px;
	cursor:pointer;
	background-color:#000
}
#openclose .clasp:hover {
	background-color:#cc0033
}