name: On Code Change

on:
  workflow_dispatch:
  pull_request:
    types: [ opened, reopened, synchronize ]
    paths-ignore:
      - '.owasp/**'
  push:
    branches:
      - master
      - 'feature-.*'
      - 'JAHIA-[0-9]-[0-9]-[0-9]-X-BRANCH'
    paths-ignore:
      - '.owasp/**'

env:
  TARGET_BRANCH: ""

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      jahia_version: ${{ steps.tags.outputs.jahia_version }}
      image_tag: ${{ steps.tags.outputs.image_tag }}
      current_branch: ${{ steps.tags.outputs.current_branch }}
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v4.6.0
        with:
          java-version: 11
          distribution: temurin
      - uses: actions/checkout@v4
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: jahia-default-maven-m2-cache
      - name: Save/Restore build artifacts from cache
        uses: actions/cache@v4
        with:
          key: run-${{ github.run_id }}
          path: |
            ./**/target/**
      - name: Set environment variables from parameters
        shell: bash
        run: |
          echo "NEXUS_USERNAME=${{ secrets.NEXUS_USERNAME }}" >> $GITHUB_ENV
          echo "NEXUS_PASSWORD=${{ secrets.NEXUS_PASSWORD }}" >> $GITHUB_ENV
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_PACKAGES_USERNAME }}
          password: ${{ secrets.GH_PACKAGES_TOKEN }}
      - name: Store project version
        shell: bash
        run: mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec > jahia.version
      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v8
      - name: Determine tag
        shell: bash
        run: |
          if [ "${{ github.event_name }}" != "pull_request" ]; then
            cp jahia.version image.tag
          else
            echo `cat jahia.version`-pr-${{ github.event.pull_request.number }} > image.tag
          fi
      - id: tags
        name: Set Output variables
        run: |
          jahia_version=$(cat jahia.version)
          echo "jahia_version=${jahia_version}" >> $GITHUB_OUTPUT
          image_tag=$(cat image.tag)
          echo "image_tag=${image_tag}" >> $GITHUB_OUTPUT
          echo "current_branch=${{ steps.branch-name.outputs.current_branch}}" >> $GITHUB_OUTPUT
      - name: Display Output variables
        run: |
          echo "OUTPUT: jahia_version = ${{steps.tags.outputs.jahia_version}}"
          echo "OUTPUT: image_tag = ${{steps.tags.outputs.image_tag}}"
          echo "OUTPUT: current_branch = ${{steps.tags.outputs.current_branch}}"

      - name: Build package and deploy all dependencies into remote Nexus Maven repository, push Docker images
        shell: bash
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          mvn -U -ntp -s .github/maven.settings.xml -e \
            -Dimage.tag=${{steps.tags.outputs.image_tag}} \
            clean deploy -Dmaven.resolver.transport=wagon de.qaware.maven:go-offline-maven-plugin:resolve-dependencies \
            -Pgwt-production,unit-tests,docker,docker-core-plugin \
            -Dbamboo.buildNumber=${{ github.run_id }}
      - name: Compile GWT development
        shell: bash
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          cd gwt/
          mvn -U -ntp -s ../.github/maven.settings.xml -e \
            clean deploy \
            -Dmaven.resolver.transport=wagon \
            -Pgwt-development \
            -Dbamboo.buildNumber=${{ github.run_id }}
      - name: Generate Docker shorthand tags
        uses: fgerthoffert/actions-docker-shorthand-tags@main
        if: ${{ github.event_name != 'pull_request' }}
        with:
          src_registry: github
          src_repository: jahia/jahia-core-dev
          src_username: ${{ secrets.GH_PACKAGES_USERNAME }}
          src_secret: ${{ secrets.GH_PACKAGES_TOKEN }}
          dst_registry: github
          dst_repository: jahia/jahia-core-dev
          dst_username: ${{ secrets.GH_PACKAGES_USERNAME }}
          dst_secret: ${{ secrets.GH_PACKAGES_TOKEN }}
          version_digits_count: 4
          dry_run: false          

      # Series of steps only executed when in a PR
      - name: Build package and load all dependencies into local Maven repository
        shell: bash
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          mvn -U -ntp -s .github/maven.settings.xml -e \
            -Dimage.tag=${{steps.tags.outputs.image_tag}} \
            clean install de.qaware.maven:go-offline-maven-plugin:resolve-dependencies \
            -Pgwt-production,unit-tests \
            -Dbamboo.buildNumber=${{ github.run_id }}

      - name: Push PR Docker image
        # This is only done on PR, as master is pushed with mvn deploy in "Deploy artifacts to server repository"
        shell: bash
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          cd docker/docker-jahia-core/
          mvn -U -ntp -s ../../.github/maven.settings.xml -e \
            -Dimage.tag=${{steps.tags.outputs.image_tag}} \
            deploy de.qaware.maven:go-offline-maven-plugin:resolve-dependencies \
            -Pgwt-production,unit-tests,docker,docker-core-plugin \
            -Dbamboo.buildNumber=${{ github.run_id }}

      - uses: jahia/jahia-modules-action/slack-jahia@v2
        if: ${{ failure() && github.event_name != 'pull_request' }}
        with:
          job-event: "fail"
          skip-docker: true
          slack-webhook: ${{ secrets.SLACK_WEBHOOK_TEAM_PRODUCT_SNAPSHOTS_NOTIFICATIONS }}

  vulnerability-scan:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: jahia/jahia-modules-action/static-analysis@v2
        with:
          node_version: 20
          auditci_level: critical
          auditci_level_tests: critical
          module_path: war/
          skip_lint_modules: true
          skip_lint_tests: true

  security-scan:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_PACKAGES_USERNAME }}
          password: ${{ secrets.GH_PACKAGES_TOKEN }}
      - name: Scan image
        id: scan-build-sbom
        uses: anchore/scan-action@v3
        with:
          image: ghcr.io/jahia/jahia-core-dev:${{needs.build.outputs.image_tag}}
          fail-build: false
      - name: Print content from the SARIF file
        shell: bash
        run: cat ${{ steps.scan-build-sbom.outputs.sarif }} | jq -r '.runs[0].tool.driver.rules[].shortDescription.text'
      - uses: actions/upload-artifact@v4
        with:
          name: SARIF
          retention-days: 5
          path: |
            ${{ steps.scan-build-sbom.outputs.sarif }}

  sonar-analysis:
    name: Sonar Analysis
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v8
      - name: Save/Restore build artifacts from cache
        uses: actions/cache@v4
        with:
          key: run-${{ github.run_id }}
          path: |
            ./**/target/**
      - name: Set environment variables
        shell: bash
        run: |
          echo "SONAR_URL=${{ secrets.SONAR_URL }}" >> $GITHUB_ENV
          echo "SONAR_TOKEN=${{ secrets.SONAR_TOKEN }}" >> $GITHUB_ENV
          echo "NEXUS_USERNAME=${{ secrets.NEXUS_USERNAME }}" >> $GITHUB_ENV
          echo "NEXUS_PASSWORD=${{ secrets.NEXUS_PASSWORD }}" >> $GITHUB_ENV
      - name: Analyze pull request with sonar
        if: ${{ github.event_name == 'pull_request' }}
        shell: bash
        run: |
          mvn -B -U -ntp -s .github/maven.settings.xml sonar:sonar -Dsonar.pullrequest.branch=${{ steps.branch-name.outputs.current_branch }} \
          -Dsonar.pullrequest.key=${{ github.run_id }} \
          -Dsonar.pullrequest.base=${{ env.TARGET_BRANCH }} \
          -Dsonar.pullrequest.github.repository=${{ github.event.repository.name }}
      - name: Sonar analysis
        shell: bash
        if: ${{ github.event_name != 'pull_request' }}
        env:
          DEPENDENCY_CHECK_SETTINGS: -DfailOnError=false -DskipProvidedScope=true -DskipTestScope=true -DskipSystemScope=true
            -DassemblyAnalyzerEnabled=false -Dformats=HTML,JSON -DnvdApiKey=${{ secrets.NVD_APIKEY }}
            -Dsonar.dependencyCheck.jsonReportPath=target/dependency-check-report.json
            -Dsonar.dependencyCheck.htmlReportPath=target/dependency-check-report.html
            -DdataDirectory=~/.owasp/dependency-check-data
            -DsuppressionFiles=.owasp/suppressions.xml,.owasp/custom-suppressions.xml
        run: |
          if [[ "${{ steps.branch-name.outputs.current_branch }}" == "master" ]];
          then
            mvn -B -U -ntp -s .github/maven.settings.xml dependency-check:aggregate sonar:sonar \
                $DEPENDENCY_CHECK_SETTINGS
          else
            mvn -B -U -ntp -s .github/maven.settings.xml dependency-check:aggregate sonar:sonar \
                -Dsonar.branch.name=$CIRCLE_BRANCH $DEPENDENCY_CHECK_SETTINGS
          fi

  java-checks:
    name: Check Java dependencies and licenses
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jahia/jahia-modules-action/dependencies-check-java@v2
        with:
          github_token: ${{ secrets.GH_API_TOKEN }}
          show_checklist: 'true'
          root_folder: 'core'

  call-workflow-jahia-pack:
    needs: [ build ]
    uses: Jahia/jahia-pack-private/.github/workflows/do-it-all.yml@master
    if: ${{ github.event_name != 'pull_request' }}
    secrets: inherit
    with:
      parent_image_tag: ${{ needs.build.outputs.image_tag }}
      target_branch: ${{ github.ref_name }}
      workflows-ref: ${{ github.ref_name }}
