/******************************************************************************
* Portal
******************************************************************************/
#bodywrapper .color-box {background:#1f3773;}
#bodywrapper #columns .widget {
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
}
#columns .widget .widget-head h3 {
	color:#fff
}
/******************************************************************************
* Portal Panel slider
******************************************************************************/
#bodywrapper  #panel {
background-color:#cddafc;
}
#bodywrapper .tab {
background-image:url(img/mod/tab_b.png);
}
#bodywrapper #toppanel .tab ul.login li {
background-image:url(img/mod/tab_m.png);
}
#bodywrapper #toppanel .tab ul.login li.left {
background-image:url(img/mod/tab_l.png);
}
#bodywrapper #toppanel .tab ul.login li.right {
background-image:url(img/mod/tab_r.png);
}
#panel .content .left, #panel .content .right {
border-left:1px solid #666;
}
#bodywrapper #toppanel ul.panellist {
border:1px solid #666;
}

/******************************************************************************
shortcuts
******************************************************************************/
#bodywrapper #shortcuts{
	height:38px;
}
#bodywrapper #shortcuts h3 {
	background-image:url(img/mod/shortcuts-bg.png);
	padding:8px 10px 10px 10px;
	width:82px;
	height:20px;
	display:block;
	font-size:1.2em;
	bottom:0;
	position:absolute;
	right:0;
	color:#fff;
	margin:0;
	text-decoration:none
}
#bodywrapper #shortcuts h3:hover {
	background-image:url(img/mod/shortcuts-bg-on.png);
}
#bodywrapper #shortcuts h3 a,
#bodywrapper #shortcuts h3 a:link,
#bodywrapper #shortcuts h3 a:visited {
	color:#fff
}
#bodywrapper #shortcuts h3 a:hover,
#bodywrapper #shortcuts h3 a:active{
	text-decoration:none;
	color:#fff
}

#bodywrapper #shortcuts ul {
	background-color:#F4F4F4;
	border:1px solid #A7A7A7;
	display:none;
	right:0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:10px 4px;
	position:absolute;
	top:30px;
	margin:0;
	width:138px;
	z-index:9999;
}
#bodywrapper #shortcuts li {
	font-size:1.1em;
	line-height:20px;
	padding:5px 5px 5px 10px;
}
#bodywrapper #shortcuts li a {
	color: #333;
}
#bodywrapper #shortcuts li a:hover {
	color: #3366cc;
	text-decoration:none
}
