/******************************************************************************
* Portal
******************************************************************************/
#bodywrapper .color-box {background:#1f3773;}
#bodywrapper #columns .widget {
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
}
#columns .widget .widget-head h3 {
	color:#fff
}
/******************************************************************************
* Portal Panel slider
******************************************************************************/
#bodywrapper  #panel {
background-color:#cddafc;
}
#bodywrapper .tab {
background-image:url(img/mod/tab_b.png);
}
#bodywrapper #toppanel .tab ul.login li {
background-image:url(img/mod/tab_m.png);
}
#bodywrapper #toppanel .tab ul.login li.left {
background-image:url(img/mod/tab_l.png);
}
#bodywrapper #toppanel .tab ul.login li.right {
background-image:url(img/mod/tab_r.png);
}
#panel .content .left, #panel .content .right {
border-left:1px solid #666;
}
#bodywrapper #toppanel ul.panellist {
border:1px solid #666;
}

/******************************************************************************
shortcuts
******************************************************************************/
#bodywrapper #shortcuts{
	position:relative;
	width:100px;
	float:right
}
#bodywrapper #shortcuts h3 {
	background:#6d6d6d url(img/mod/shortcuts-bg.png) repeat-x top left;
	border:1px solid #333;
	margin:5px;
	padding:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display:block;
	font-size:1.2em;
	bottom:0;
	position:absolute;
	right:0;
	color:#fff;
	margin:0;
	text-decoration:none;
	width:100px
}
#bodywrapper #shortcuts h3:hover {
	background:#a60000 url(img/mod/shortcuts-bg-on.png) repeat-x top left;
	border:1px solid #990000;
}
#bodywrapper #shortcuts h3 a,
#bodywrapper #shortcuts h3 a:link,
#bodywrapper #shortcuts h3 a:visited {
	color:#fff;
	text-decoration:none
}
#bodywrapper #shortcuts h3 a:hover,
#bodywrapper #shortcuts h3 a:active{
	text-decoration:none;
	color:#fff
}

#bodywrapper #shortcuts ul {
	background-color:#eaeaea;
	border:1px solid #ccc;
	display:none;
	right:0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:10px 4px;
	position:absolute;
	top:30px;
	margin:0;
	width:138px;
	z-index:9999;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
}
#bodywrapper #shortcuts li {
	font-size:1.1em;
	line-height:20px;
	padding:5px 5px 5px 10px;
}
#bodywrapper #shortcuts li a {
	text-decoration:none;
	color:#333;
}
#bodywrapper #shortcuts li a:hover {
	text-decoration:none;
	color:#990000;
}
