<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="savedSearchViewSettings"  class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="sourceMap">
            <map>
                <entry key="default">
                    <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings">
                        <property name="sortBy" value="score"/>
                        <property name="ascending" value="false"/>
                        <property name="fields">
                            <list/>
                        </property>
                    </bean>
                </entry>
                <entry key="org.jahia.engines.search.FileSearchViewHandler">
                    <!-- 
                        This handler uses org.jahia.data.search.FileSearchHit as a list item + possible table decorators,
                        e.g. org.jahia.engines.search.FileSearchTableDecorator 
                    -->
                    <bean id="org.jahia.engines.search.FileSearchViewHandler" 
                        class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings">
                        <property name="sortBy" value="score"/>
                        <property name="ascending" value="false"/>
                        <property name="fields">
                            <list>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="name" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="org.jahia.services.search.searchdetail.file" />
                                </bean>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="score" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="org.jahia.services.search.searchdetail.ranking" />
                                </bean>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="creationUser" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="org.jahia.services.search.searchdetail.author" />
                                </bean>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="creationDate" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="org.jahia.services.search.searchdetail.creationDate" />
                                </bean>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="modificationUser" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="org.jahia.services.search.searchdetail.lastAuthor" />
                                </bean>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="lastModified" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="org.jahia.services.search.searchdetail.lastModificationDate" />
                                </bean>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="contentType" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="org.jahia.services.search.searchdetail.type" />
                                </bean>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="sizeKb" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="org.jahia.services.search.searchdetail.size" />
                                </bean>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="info" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="org.jahia.services.search.searchdetail.information" />
                                </bean>
                                <bean class="org.jahia.services.search.savedsearch.JahiaSavedSearchViewSettings$ViewField">
                                    <property name="name" value="folder" />
                                    <property name="selected" value="true" />
                                    <property name="resourceKey" value="toolbar.manager.button.openIEFolder" />
                                </bean>
                            </list>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>  
    </bean>
</beans>
